[2021-11-08 10:35] K-Meech opened #513 "Projects made with the project creator can no longer be opened"
On the current mobie-beta, making a simple project with the project creator i.e.
- Make a dataset called 'test'
- Add an image (e.g. the sample 'MRI Stack' image in fiji)
- Open it in MoBIE

Gives the following error:
[code]

The n5 image created opens fine with normal bigdataviewer, so it's something to do with how MoBIE is reading it.

[2021-11-08 10:36] K-Meech commented on #513
@tischi @KateMoreva Any ideas for this one? I think it's something to do with the recent changes for image loading.

[2021-11-08 10:40] tischi commented on #511
Yes, but [here](https://github.com/mobie/zebrafish-lm-project/blob/eed520982568ab36c73127d0440660dc00ae9ef1/data/actin/dataset.json#L2331-L2342) the individual segmentation sources **exist in dataset.json**.

whereas here they don't:

[code]

because `plate_cell_segmentation` is not a "SegmentationSource" in the sense that it is specified like this in dataset.json

[2021-11-08 10:44] constantinpape commented on #511
The individual segmentations (https://gist.github.com/constantinpape/814327089f1a75ef31d366295138dd82#file-view-json-L489-L490) **do** exist in the dataset.json.

[2021-11-08 10:45] tischi commented on #511
This is the code:
[code]

and

[code]

The issue now is that `loadImageSegmentsTable( sourceName, table );` does not work for `plate_cell_segmentation` because it cannot find the table...

[2021-11-08 10:48] tischi commented on #511
I think what I need to do is amend this code:

[code]

[2021-11-08 10:49] tischi commented on #511
...see the 2nd TODO in above code.

What do you think?

[2021-11-08 10:51] constantinpape commented on #511
Yes, I think that's exactly what needs to be done. More concretely, I think there are 2 cases that currently wouldn't work:
- If we have a new segmentationSource that results from a `mergedGrid`; then you somehow need to merge all the tables of the sources in the grid (as in this example)
- If we have a segmentation that changes its name due to `sourceNameAfterTransform` in the current view.

[2021-11-08 13:09] constantinpape commented on #511
@tischi I have created two example views as we have discussed now, see https://github.com/mobie/zebrafish-lm-project/issues/10 for details.

[2021-11-08 13:26] martinschorb opened #514 "Beta: opening new project fails"
Hi,

I just created a new project using @K-Meech 's creator and it fails to load the sources:

[code]

[code]

confirmed with current beta on Windows and Mac.

[2021-11-08 13:28] constantinpape commented on #514
I think this is the exact same issue as #513

[2021-11-08 13:30] martinschorb commented on #514
agree, let's use the original...

[2021-11-08 13:30] #514 closed

[2021-11-08 13:32] martinschorb commented on #513
Also happens when loading an "old" spec-v2 dataset from disk.

[2021-11-08 13:33] martinschorb commented on #513
From S3 it loads fine (it just feels a little slow...).

[2021-11-08 13:34] constantinpape commented on #513
What do you mean by "old"? One that was created with the project creator earlier?
Could you maybe share the location for one of these datasets on a group share? That would help to debug the issue.

[2021-11-08 13:44] martinschorb commented on #513
No that's the centriole tomo dataset that I created using Python:

It's in

[code]

[2021-11-08 13:49] K-Meech commented on #513
It might be a general issue with opening any mobie project from the file system then (rather than just project creator)

[2021-11-08 14:13] constantinpape commented on #513
Indeed, this seems to be an issue with opening projects from the file system, it also fails for the platybrowser (`/g/arendt/EM_6dpf_segmentation/platy-browser-data`) which can be opened via s3.

[2021-11-08 14:55] tischi opened #515 "TableDir for combined sources"
@K-Meech I think the `sourceNameToTableDir` is just needed for saving views, is it?

[code]

The point is that for a mergedGridSources there are in fact multiple tables that make up the final table. I will just put in a `null` for the tableDir of a  `MergedGridSource` for now. We can work on this later...

[2021-11-08 15:07] K-Meech commented on #515
I think it also gets used for loading additional columns into a table via the menu. But yes, we can fix this later...

[2021-11-08 15:23] KateMoreva commented on #513
I'll try to investigate this, but I implemented new functionality with minimal changes to the old one (use new constructors and methods).

[2021-11-08 17:25] tischi opened #518 "blosc CI causes github build to fail"
@K-Meech @constantinpape
Did we always have this issue that the CI is not working?
https://github.com/mobie/mobie-viewer-fiji/runs/4141735409?check_suite_focus=true#step:6:103

[2021-11-08 17:26] tischi commented on #518
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/2157566/140789270-2b6bce16-f22a-467e-8b30-32cd1d273c2b.png">

[2021-11-08 17:30] constantinpape commented on #518
I am not sure if that always happend, but it can probably be fixed by installing lib blosc.
See here how to install with apt in gh actions: https://stackoverflow.com/questions/57982945/how-to-apt-get-install-in-a-github-actions-workflow
And blosc can be installed by `sudo apt install libblosc-dev`

[2021-11-08 17:35] tischi commented on #518
@KateMoreva was this ever an issue in `mobie-io`?

[2021-11-08 17:39] tischi commented on #518
Not sure we can easily fix this, because [this](https://github.com/mobie/mobie-viewer-fiji/blob/86a8100f87c63cb4d88cc4a757e667612d365d8e/.github/workflows/build-main.yml#L37) points to [this](https://github.com/mobie/mobie-viewer-fiji/blob/develop/.github/build.sh), which is not our code.

@ctrueden & @imagejan it looks like we would need to add a `sudo apt install libblosc-dev` into the github ac

[2021-11-08 18:11] KateMoreva commented on #518
I do not think so, but I needed to load this library at some point for mobie-viewer-fiji.

[2021-11-08 18:15] tischi opened #519 "Refactor SpimDataOpener into mobie-io"
@KateMoreva @constantinpape @K-Meech

I think it would be nice to refactor `SpimDataOpener` into mobie-io such that it could also be used by other people. That would entail also moving `ImageDataFormat` there, which I think would be good as well.

One issue would be that we are currently doing this:

[code]

, which has the `imagej-utils` dependency, which we probably do not want to have in `mobie

[2021-11-08 18:32] tischi commented on #518
Hm, interesting, maybe the "default Ubuntu", which I think the build script is using has changed?

[2021-11-08 18:41] KateMoreva commented on #519
I can move only the logic that uses a queue. Thus we would not need this dependency there.

[2021-11-08 19:21] constantinpape commented on #518
@tischi please read https://stackoverflow.com/questions/57982945/how-to-apt-get-install-in-a-github-actions-workflow more carefully; this does not require changing any build scripts. Instead, you would need to add an additional `step` to the yaml file, e.g. [here](https://github.com/mobie/mobie-viewer-fiji/blob/86a8100f87c63cb4d88cc4a757e667612d365d8e/.github/workflows/build-main.yml#L29).

[2021-11-08 19:46] tischi commented on #511
I updated MoBIE-beta. Does it work now?

[2021-11-08 19:53] tischi commented on #519
The code that uses a  SharedQueue also could be used to open without a SharedQueue, simply by using a `new SharedQueue` in the argument.

However, the code:

[code]

uses some code that @constantinpape once implemented in imagej-utils:

[code]

I don't recall exactly what is happening there and why we needed this, but I guess in principle we would need this functionality in `mobie-io`, too?

[2021-11-08 19:56] tischi commented on #518
@constantinpape thanks! I overlooked that the fetching of the operating system already happens in the `build.yaml`; I thought this was a step that only happens later in the `build.sh`. Then I can try!

[2021-11-08 19:59] constantinpape commented on #519
We need this to open a file from s3, where `path` is not an actual filepath, but an url of the xml file on s3.
In that case we need to open this as a filestream and open the spimData from the filestream.

But I think that `BdvUtils.openSpimData` can just be moved from `imagejutils` to here; I don't think we need it anywhere else.

[2021-11-08 20:01] constantinpape commented on #518
That would be magic, as you need the os to run the `build.sh` script ;).

[2021-11-08 20:06] tischi commented on #518
Cool! [This](https://github.com/mobie/mobie-viewer-fiji/blob/9970a7f8d74d8638bc46723961c492a0c14b3691/.github/workflows/build-main.yml#L37) seems to work.

This cloud CI/CD stuff is still magic to me, just spinning up a computer for us... 🧙

Thanks @constantinpape!

The deployment to maven still [failed](https://github.com/mobie/mobie-viewer-fiji/runs/4143914917?check_suite_focus=true) but I think

[2021-11-08 20:06] #518 closed

[2021-11-08 20:33] imagejan commented on #518
@tischi wrote:

Exactly. That's the contract of "deployment": once a version is deployed, it is guaranteed to never ever change.

Solution: cut a new release version :smile:

[2021-11-08 20:38] constantinpape commented on #511
Yes it works now! I still need to test everything properly once I am at EMBL (my internet here is a bit too slow for that...)
But looking good so far and I will make new issues if something else there comes up.

[2021-11-08 20:38] #511 closed

[2021-11-09 07:32] tischi commented on #519
OK, @KateMoreva could you have a look into "copying" the whole `SpimDataOpener` class and all the methods it depends on into `mobie-io`, initially without removing any code in in imagej-utils or mobie-viewer-fiji?

[2021-11-09 07:53] KateMoreva commented on #519
Yes, sure, I'll work over it after classes today.

[2021-11-09 08:51] NicoKiaru commented on #303
@ctrueden it worked (tested on a new repo), thanks!

[2021-11-09 09:29] tischi opened #520 "Running tests with maven fails"
I don't manage to run tests of MoBIE that include ImageJ using `mvn install`.

[code]

throws me:

[code]

...and when I add

[code]

I am getting this:

[code]

Running the test using the Run button in IntelliJ works without the LegacyInjector:

<img width="501" alt="image" src="https://user-images.githubusercontent.com/2157566/140898084-86478791-8130-4203-bb8f-97f2fdc6cf6b.png">

@imagejan @ctru

[2021-11-09 13:59] constantinpape commented on #513
@tischi @KateMoreva
Just fyi: opening a project with bdv.n5 from the filesystem still fails for the newest MoBIE-beta (e.g. `/g/kreshuk/pape/Work/mobie/arabidopsis-root-lm-datasets`). Opening a project with ome.zarr from the filesystem however works (`/g/kreshuk/pape/Work/mobie/covid-if-project`).

[2021-11-09 14:45] martinschorb commented on #513
Then we just use OME-Zarr for every project from now on... 😄

[2021-11-09 14:49] ctrueden commented on #520
The issue is not really with Maven, but with which classes get loaded in conjunction with imagej-legacy trying to do its class patching via javassist.

I tried to look into this, but there is no `TestRemoteZebrafish` class on the main branch. I see it's on the linked PR, but I can't easily browse around the source tree of a PR via the web interface. And I cannot afford to clone it locally while on

[2021-11-09 15:02] tischi commented on #520
Thanks for the answer.

Our `main` branch is very much out of date.
This is the branch to look at: https://github.com/mobie/mobie-viewer-fiji/tree/develop

Does that mean, e.g., that nowhere in the code we should not have `ImagePlus` in any method call?

[2021-11-09 15:23] tischi commented on #520
This is [one of the tests for reference](https://github.com/mobie/mobie-viewer-fiji/blob/6edbbace01ab732b75de0ba0abeb3d441bcac496/src/test/java/tests/TestRemoteZebrafish.java#L25)

[2021-11-09 15:26] tischi commented on #520
I checked and we have tons of `ImagePlus` in method calls. Removing them is not possible. Does that mean the tests cannot be run via maven?

[2021-11-09 15:45] tischi commented on #520
Ok, I think I found the difference. The culprit simply seems to be code in the actual tests:

[code]

If I comment them out in the tests, it would not throw the legacy error.

However, I _think_ I need those lines because otherwise I get:
[code]

@NicoKiaru I think we had this discussion: Is there any other way to initialize those services _without_ calling `ImageJ imageJ = new ImageJ();`?

[2021-11-09 15:49] NicoKiaru commented on #520
Couldn't you just swap these lines ?

`
imageJ.ui().showUI();
final ImageJ imageJ = new ImageJ();
`

I think once you've run `imageJ.ui().showUI()` you're safe ?
take care to static initialization

[2021-11-09 15:54] NicoKiaru commented on #520
Is the bigdataviewer-playground version up to date ? I think I had these issues but not anymore. There are plenty of tests in BigDataViewer-Playground which are running nicely.

Do you put these lines at the beginning of your tests ?

[code]

Can you link to a failing test ? Not just a copy paste of the code.

[2021-11-09 15:56] NicoKiaru commented on #520
Oups,  found it!

[2021-11-09 15:58] NicoKiaru commented on #520
Really not easily.

[2021-11-09 15:58] tischi commented on #520
How do I do this? Sorry for my ignorance...

I tried this:

[code]

But this gives me now:

[code]

Where line 19 is: `LegacyInjector.preinit();`

[code]

[2021-11-09 16:02] NicoKiaru commented on #520
Ok, so I don't know.

What I would try is to make this static:

`public void testSmallGridView() throws IOException`

but I don't see what this would change.

and then add little by little the lines in here:

https://github.com/mobie/mobie-viewer-fiji/blob/6edbbace01ab732b75de0ba0abeb3d441bcac496/src/test/java/tests/TestRemoteZebrafish.java#L29-L42

until it fails (hoping that it works when all is

[2021-11-09 16:04] tischi commented on #520
Thanks, I will try later.
I just had a look at the bdv-playground and I don't see how you run the tests with maven. In the pom of this repo I have:
[code]

But I did not find something like this in the playground. So how do you actually run the tests?

[2021-11-09 16:14] tischi commented on #520
@NicoKiaru I think I did what you suggested but without success...

Now, whenever I am adding

[code]

I am getting

[code]

for the line with the `LegacyInjector.preinit();`.

Could it be that this is because @NicoKiaru does this as well in the playground?

[code]

[2021-11-09 19:10] ctrueden commented on #520
It depends! 😇

Sometimes you can get away with it, depending on exactly which classes are getting loaded when.

Other times, you can avoid it by using `Object imp` arguments, and always passing `ImagePlus` objects to those methods, and then casting them back to `ImagePlus` in the method itself.

And yet other times, you may find you don't ever need to pass an `ImagePlus` around anywhere at all.

B

[2021-11-09 19:12] ctrueden commented on #520
The `pom-scijava` parent brings in the maven surefire config. All you need is tests in `src/test/java`, and a junit dependency with test scope, and the `@Test` annotation on your tests. You don't need anything else in your project POM besides the junit dependency.

To actually run the tests from the command line, use:
[code]
This runs the Maven build lifecycle up to and including the test phase.

[2021-11-09 19:13] ctrueden commented on #520
Shouldn't be a problem to call `preinit` in multiple places. If it's already been done, it should just be a no-op...

[2021-11-09 19:28] ctrueden commented on #520
I took another look at the mobie-viewer-fiji repository, develop branch. For me, the project builds and all tests pass.

I also looked at whether you really need to be depending on `net.imagej:imagej` (i.e. the whole kit-and-kaboodle), and I don't think you do. At least: `src/main` code's only usages of `net.imagej.ImageJ` are for main methods, for testing, which could be migrated into src/test or

[2021-11-09 20:49] KateMoreva commented on #513
I'll investigate this problem.

[2021-11-10 06:49] tischi commented on #482
Done.

[2021-11-10 06:49] #482 closed

[2021-11-10 06:50] tischi commented on #478
@martinschorb can we close this issue?

[2021-11-10 06:52] tischi opened #521 "MergedGridSource segment selection"
@constantinpape I suspect that with the current code the segment selection will not work properly for a `MergedGridSource`. Once we have the test case in place we should fix this and implement a test that checks that it navigates to the correct segment position.

[2021-11-10 07:04] tischi commented on #520
Thanks a lot @ctrueden I will further work on this, first of all applying your patch!

@K-Meech I will remove the `main` methods from your classes. I don't think it is good practice to have them anyway. If needed, please put the code to execute your classes in `/src/test` instead.

[2021-11-10 07:13] tischi opened #523 "Move tests to src/test"
@K-Meech
We should move your test classes to `src/test`.
You could do this in the `tests` branch that I am currently working on.
I will then pull your changes.

[2021-11-10 07:20] tischi commented on #520
@ctrueden

Thanks again a lot for all the help! Really very much appreciated!

The reason all tests worked for you was that I commented out the ones that fail 😄

I made a new branch: https://github.com/mobie/mobie-viewer-fiji/tree/tests

In this branch, [this](https://github.com/mobie/mobie-viewer-fiji/blob/110b75e94c13a219c2b7a6251ce514eb944b9e3a/src/test/java/tests/TestRemoteZebrafish.java#L29-L

[2021-11-10 08:31] K-Meech commented on #523
Which tests do you mean? The only tests I added were for the project creator, and they are all under src/test already here: https://github.com/mobie/mobie-viewer-fiji/tree/tests/src/test/java/org/embl/mobie/viewer/projectcreator. By default, in intellij when you do alt+enter on a class name, and create a test it puts it in src/test with the folder structure matching where the class is (so that's w

[2021-11-10 08:54] constantinpape commented on #513
@KateMoreva any progress here? Let us know if we can help somehow.
(It would be good to fix this issue soon, because as far as I can see this is the only one blocking us from making the main release)

[2021-11-10 09:52] tischi commented on #523
I see! My bad!

[2021-11-10 09:52] #523 closed

[2021-11-10 19:36] KateMoreva commented on #513
@constantinpape
Fixed in develop.

[2021-11-10 23:06] constantinpape commented on #513
Thanks @KateMoreva!

@tischi let me know when you have deployed this to MoBIE-beta, then I can check if the issue is also fixed there.

[2021-11-11 07:26] tischi commented on #513
@constantinpape

Done:
[code]

[2021-11-11 09:35] K-Meech opened #525 "Using the 'browse' button changes the project creator laf"
Using the 'browse' button to select files changes the laf.
![Screenshot (364)](https://user-images.githubusercontent.com/24316371/141274137-e2500ccd-3bb9-4108-8519-a33215d43a48.png)

Before:
![Screenshot (365)](https://user-images.githubusercontent.com/24316371/141274170-66008ad7-b91e-43d8-9766-98a1bb2c4e96.png)

After:
![Screenshot (366)](https://user-images.githubusercontent.com/24316371/1412742

[2021-11-11 10:17] constantinpape opened #526 "Loading platybrowser from disc does not work"
Loading the platybrowser data () from disc does not work

[code]

Note that the error indicates that it tries to load the file from `/g/arendt/EM_6dpf_segmentation/platy-browser-data/data/1.0.1/images/local/sbem-6dpf-1-whole-raw.n5`. However, that is not where the raw data is located, see the xml: https://github.com/mobie/platybrowser-project/blob/spec-v2/data/1.0.1/images/local/sbem-6dpf-1-whole-

[2021-11-11 10:23] constantinpape opened #527 "Scrolling across time does not work in data-set loaded from disc"
Scrolling across time fails in a dataset loaded from disc (tested with `/g/kreshuk/pape/Work/mobie/arabidopsis-root-lm-datasets`):
[code]
Scrolling across time works without issue when loading the same dataset from github / s3 (https://github.com/mobie/arabidopsis-root-lm-project).

[2021-11-11 10:25] constantinpape commented on #513
It seems to work in general, but there are still some issues for certain projects (I made specific issues about this):
- Loading platybrowser due to non-standard data path in xml #526
- Scrolling across time #527

[2021-11-11 12:14] KateMoreva commented on #526
Oh, yes, I was testing on the projects where the paths were the same. I am really sorry for this mistake.
@constantinpape
Please try to test this functionality with **mobie-viewer-fiji 2.0.5**

[2021-11-11 12:15] KateMoreva commented on #527
@constantinpape
Please try to test this functionality with **mobie-viewer-fiji 2.0.5**

[2021-11-11 12:17] KateMoreva commented on #513
@constantinpape
@tischi
I am really sorry for this mistake.
There is a new **mobie-viewer-fiji 2.0.5**, where this should work.

[2021-11-11 12:18] constantinpape commented on #527
@tischi can you make a new release so I can test with MoBIE-beta?

[2021-11-11 13:21] tischi commented on #527
done

[2021-11-11 13:53] constantinpape commented on #527
It's working now, thanks for the quick fix, @KateMoreva!

[2021-11-11 13:53] #527 closed

[2021-11-11 13:53] constantinpape commented on #526
Also working now, thanks @KateMoreva

[2021-11-11 13:53] #526 closed

[2021-11-11 13:54] constantinpape commented on #513
Everything is working for me now. @K-Meech @martinschorb could you please check if your projects can be opened as well now?

[2021-11-11 13:58] K-Meech commented on #513
Yes - I can open projectcreator projects again now. Thanks @KateMoreva!

[2021-11-11 14:37] ctrueden commented on #520
I looked a bit more last night. I learned that `ImagesCreatorTest` is one of the problem classes, because:
[code]
Causes `TestRemoteZebrafish` to fail, but if you run `TestRemoteZebrafish` alone, it works (triggering lots of GUI actions, at least).

And if you add the `LegacyInjector.preinit()` static initializer block to `ImagesCreatorTest`, then the above two-test invocation works. But running _

[2021-11-11 16:06] tischi commented on #520
@ctrueden

Thanks a lot!!!

I merged your changes and now it indeed runs all the tests locally 🥳

Now, as expected, tests that show graphics are not working in the github actions:

[code]

Do you think we could handle this, e.g. running the tests using something like `xvfb-run`?

Of course, rewriting our tests to run headless without showing any graphics could also be possible, although maybe chal

[2021-11-11 16:22] ctrueden commented on #520
Yep, the GitHub Actions page has [a section on xvfb](https://imagej.net/develop/github-actions#testing-things-which-cannot-run-headless). It was copied from the old Travis page though; I'm not sure if it's 100% correct or if anyone is successfully doing it. If you find it needs adjustment, please edit, thanks!

[2021-11-11 17:34] tischi commented on #520
@ctrueden I could not get the old solution to work, but after some googling and trying I found this to work 😎

[code]

How do I add this solution to [our documentation](https://imagej.net/develop/github-actions#testing-things-which-cannot-run-headless)? Is the content for this site hosted on github?

[2021-11-12 08:15] martinschorb commented on #513
Seems to work nicely.

Thanks!

[2021-11-12 08:26] #513 closed

[2021-11-12 11:59] imagejan commented on #520
@tischi there's a small link "Edit this page" in the top right corner of the page that leads you here:
https://github.com/imagej/imagej.github.io/edit/main/_pages/develop/github-actions.md

[2021-11-12 12:30] tischi commented on #497
@constantinpape

I would now be ready to change the MoBIE update site.

- [X] merged `develop` into `main`
- [X] deleted `master`

Should I update the MoBIE update site now?

[2021-11-12 12:33] constantinpape commented on #497
@tischi yes, please go ahead!

[2021-11-12 12:38] tischi commented on #497
I will document the process here, not to loose track. I will explictely ping someone if I need help.

[2021-11-12 12:38] tischi commented on #497
These are the jars that we currently upload to **MoBIE-beta**
<img width="892" alt="image" src="https://user-images.githubusercontent.com/2157566/141468513-994d3a6e-d3da-404e-b76d-b02b178c1d33.png">

[2021-11-12 12:40] tischi commented on #497
These are the jars that we are used to upload to **MoBIE**

<img width="892" alt="image" src="https://user-images.githubusercontent.com/2157566/141468675-0610bb8c-6ada-4594-846f-700038b1fc55.png">

[2021-11-12 12:41] tischi commented on #497
- [ ] remove mobie.jar from MoBIE
- [ ] add the additional jars to MoBIE

[2021-11-12 12:51] tischi commented on #497
- [ ] do we really need to upload bigvolumeviewer?
- [ ] do we really need to upload spim_data?
- [ ] somehow bigdataviewer-spimdata-extras was missing when trying to upload to MoBIE...

[2021-11-12 12:55] tischi commented on #497
<img width="892" alt="image" src="https://user-images.githubusercontent.com/2157566/141470508-fde20024-bc13-4ff6-903a-9b4bfd8263dc.png">

@constantinpape

Done. Could you please test?

- [ ] `Plugins › MoBIE › Open › Open PlatyBrowser` is not working

[2021-11-12 12:57] constantinpape commented on #497
Yes, I still need to update the git repo for this, I will check now and then report back.

[2021-11-12 12:59] tischi commented on #497
@K-Meech @KateMoreva

Please note that for the rest of the day I will fix bugs directly and only on `MoBIE/main`.
I will then at the end of the day synchronize `MoBIE-beta/develop`.

[2021-11-12 13:23] constantinpape commented on #497
@tischi I went through all projects now and updated the ones where `main` was not on the new spec yet.
Everything can be opened! (Except https://github.com/mobie/plankton-fibsem-project/issues/4, but I think that is an issue with the project, I will investigate later).

[2021-11-12 13:26] tischi commented on #497
Also the PlatyBrowser?

[2021-11-12 13:26] constantinpape commented on #497
Yes

[2021-11-12 13:29] tischi commented on #497
a w e s o m e ! ! !

good end of the week

good start in the weekend

By the way: another _very good news_ is that we are now [running tests with github actions](https://github.com/mobie/mobie-viewer-fiji/issues/520) that involve opening the whole MoBIE UI.

[2021-11-12 13:29] constantinpape opened #529 "Add sponge-fibsem to published projects"
https://github.com/mobie/sponge-fibsem-project is published here: Musser et al (https://www.science.org/doi/abs/10.1126/science.abj2949)

[2021-11-12 13:30] tischi commented on #497
Special thanks to @KateMoreva for all the great work and bug fixes in `mobie-io` 👏

[2021-11-12 13:56] KateMoreva commented on #497
Thank you @tischi, @K-Meech, @constantinpape and @martinschorb, @vzinche, @yanschwab for the awesome work!

[2021-11-12 13:58] martinschorb commented on #478
I guess it's OK for now. Obviously, improvements in performance are always nice to have and you will notice it the most with these views that contain many sources and transformations.

[2021-11-12 13:58] #478 closed

[2021-11-12 17:08] tischi commented on #520
@imagejan Thanks a lot! This link really is small 😄
Here we go: https://github.com/imagej/imagej.github.io/pull/212

[2021-11-12 17:08] #520 closed

[2021-11-12 20:28] constantinpape commented on #497
That's awesome. Also seems like a good opportunity to fix all the tests now ;): https://github.com/mobie/mobie-viewer-fiji/actions/runs/1453039795

[2021-11-13 09:42] tischi commented on #497
The tests were in fact running for this build. The "error" (which is not really an error, imho) is due to the fact that this specific version of MoBIE is already deployed to scijava-maven and then it throws:

[code]

It is a bit annoying that one needs to scroll all the way through the build step to see why there is an error.

TLDR: Whenever we push to `develop` or `main` and want the github actio

[2021-11-13 10:28] tischi opened #530 "Distinguish build error from faild deploy"
@ctrueden Do you think it would be possible (and maybe in general a good idea) to separate the `build` and the `deploy to scijava maven` into **two steps** within the github actions?

The issue is that right now one needs to scroll all the way down the `Execute the build` step to find out that the actual `build` and all the tests worked, but that it just failed to deploy to maven because the versi

[2021-11-13 10:45] constantinpape commented on #497
I think it would be better to only deploy to the update sites if we actually make a new release. That should be relatively easy by creating a separate action for deploying to the update site(s) and adding the trigger `on: releases` (probably needs some more logic to distinguish whether it should be deployed to the main or beta update site, e.g. by checking on which branch the release is).

[2021-11-13 10:46] constantinpape commented on #530
See also https://github.com/mobie/mobie-viewer-fiji/issues/497#issuecomment-968045546

[2021-11-13 12:14] tischi commented on #497
Deploying to scijava-maven is different from deploying to the update site. Deploying to the update site has to be done manually.

[2021-11-13 12:16] constantinpape commented on #497
I see. But this doesn't matter re my comment above, just replace deploy to update site with deploy to scijava-maven.

[2021-11-13 12:17] tischi commented on #497
@constantinpape @K-Meech @KateMoreva

To clarify this again: when I say "deploying to scijava-maven" I mean that one can depend on the jar via pom files, because it is [served here](https://maven.scijava.org/#nexus-search;quick~mobie-viewer-fiji).

This has (unf.) nothing to do with what [we ship on the Fiji update site](https://sites.imagej.net/MoBIE/)

[2021-11-13 12:20] tischi commented on #497
That sounds interesting...  THB I don't know how to make a release from the git command line. Is this possible or does one need to do this on the GitHub website?

[2021-11-13 12:28] constantinpape commented on #497
That's done with `git tag` (+ some arguments ofc). But you don't necessarily need to do this via the command line, it's fine to do it via the website.

Usually the workflow is the following:
- developer makes a release (either via github website or git tag)
- CI is triggered by the release (using the `on: releases` trigger for GH actions)
- CI does everything required for a new release, here deplo

[2021-11-13 16:39] tischi commented on #497
This makes sense. I change it in both the main and the develop branch: https://github.com/mobie/mobie-viewer-fiji/blob/6f3ffad95eb87b6e93fd23b04cf86c13a47fa7c8/.github/workflows/build-main.yml#L4

[2021-11-13 16:51] tischi commented on #497
I tried triggering a release from the CLI but did not manage; could you explain in more detail how to do this?

I manged on the GitHub UI. Does the release name make sense?
https://github.com/mobie/mobie-viewer-fiji/releases

Doing it via the GitHub UI is quite some extra work, but maybe we don't make releases for MoBIE-beta? Then it could be OK...

[2021-11-13 16:52] tischi commented on #497
Build on release is working: https://github.com/mobie/mobie-viewer-fiji/actions/runs/1456922401

And deployment works: https://maven.scijava.org/#nexus-search;quick~mobie-viewer-fiji

[2021-11-14 16:00] ctrueden commented on #530
@tischi Yes, good idea. If someone tweaks this in `github-actionify.sh` and files a PR, I would then merge and use it to convert all the repositories for which I have push access. (The `github-actionify.sh` script is intended to

[2021-11-15 08:07] K-Meech commented on #497
Cool - sounds good! I guess in general the version in the pom on MoBIE-beta should always be a -SNAPSHOT version, and on main always not a -SNAPSHOT version. If I understand correctly, -SNAPSHOT versions can be deployed to scijava-maven many times, so you wouldn't see these deploy errors for them.

[2021-11-15 08:41] tischi commented on #497
Aha, good point. In that case maybe for the develop branch (MoBIE-beta) we can build `on push`?

[2021-11-15 10:36] KarelMocaer opened #531 "Adding multiple 2"

[2021-11-15 10:36] K-Meech commented on #344
Resurrecting this issue, as more people in the lab are starting to use grids. @tischi - How about moving some of these features also to the menu at the top of the table? e.g. shuffling colours, deselecting images, and so on... Then this makes it easy to know which set of tabular data is being referred to if e.g. you are showing segmentations + grids at the same time

[2021-11-15 10:38] K-Meech commented on #497
I think so! Might be useful so the latest version is still available on maven (I often re-use bits of mobie in my other projects, and this makes it a lot easier). We'd just have to be careful to always make sure it stays as a -SNAPSHOT!

[2021-11-15 10:44] K-Meech commented on #531
Hi @KarelMocaer - adding multiple images from a directory at once in the project creator is definitely something that can be added. I'll look into it :) Welcome to github! :tada:

[2021-11-15 12:04] constantinpape commented on #344
@K-Meech do you think @KateMoreva's work of creating grids from the UI in #416 is relevant here?

[2021-11-15 12:45] K-Meech commented on #344
@KateMoreva's work will be super useful for making grids! But this issue is more about after you have your grid + grid table set up - how can you interact with it in mobie? A lot of the stuff we support for segmentations right now like shuffling the colours etc.. isn't yet supported for sourceAnnotationDisplay + its table.

[2021-11-15 12:53] KateMoreva commented on #344
Let's divide this into tasks and implement them, then. :)

[2021-11-15 13:00] KateMoreva commented on #344
What are the most needed functions?

[2021-11-15 13:56] K-Meech commented on #344
Ideally all of them ;) But I think most urgent is probably being able to shuffle the colours, and to deselect all images. I think all of the points raised in the top of the issue (apart from being able to select images with ctrl + left click in the viewer) could be solved by adding entries to the table menu. E.g. under Select add 'Select None' and under Color add 'Shuffle Colours' or something  li

[2021-11-15 16:33] tischi opened #532 "PlatyBrowser [level] button is missing"

[2021-11-15 16:34] tischi commented on #410
close this?

[2021-11-15 16:34] #410 closed

[2021-11-15 16:39] constantinpape commented on #410
Yes, this issue is specific to my laptop and we can close it.

[2021-11-15 16:40] tischi commented on #497
@K-Meech

I changed it to `on push` for the `develop` branch and I made it a SNAPSHOT version.

[2021-11-15 16:55] tischi commented on #532
@K-Meech @constantinpape

Can you help me find a commit where we still had a leveling button?

I was expecting that this should have it: https://github.com/mobie/mobie-viewer-fiji/releases/tag/v0.6.0

But searching for `createLevelingPanel` in this release on github showed that the method was not used. Maybe I am doing something wrong?

[2021-11-15 17:04] tischi commented on #532
I looks like on github it is always searching the latest commit...

When I `git checkout tags/v0.6.0 -b v0.6.0` I could find the old code.

Should we hard code the leveling vector in Java or do we (should we) rather have some JSON field for this? I vaguely remember that we discussed this, but this is looooooong ago.

[code]

[2021-11-15 17:18] tischi commented on #532
@K-Meech I am thinking of adding a new implementation of `public interface ViewerTransform`, namely a `NormalVectorViewerTransform` (better name?) with a field called `normalVector`. This could then be used with the `MoBIEViewerTransformChanger`.

In general we do have already a `ViewerTransformAdapter` that could then be used to `deserialize` such a `NormalVectorViewerTransform`.

--------------

[2021-11-15 17:26] constantinpape commented on #532
The leveling vector is already saved in `misc`: https://github.com/mobie/platybrowser-project/blob/main/data/1.0.1/misc/leveling.json.

[2021-11-15 17:29] constantinpape commented on #532
I agree that this makes more sense than having the special functionality for leveling. Should I add it to the spec and create the corresponding view for the platybrowser?

[2021-11-15 17:44] tischi commented on #532
Let's maybe wait for @K-Meech feedback.

Is `NormalVectorViewerTransform` the best name? I guess the point is that the transform would change the viewer such that the viewer z-axis is parallel to the given vector.

[2021-11-15 18:15] constantinpape commented on #532
I think as a Java name that sounds good. In the spec I would call it `normalVector`.

[2021-11-16 08:05] K-Meech commented on #532
Yes - this sounds good! Makes a lot more sense than having specific leveling stuff for the platybrowser only. I guess you would need to support having an optional position + timepoint too, otherwise there's no way to specify where the viewer ends up exactly.

[2021-11-16 08:31] tischi commented on #532
OK, I will work on it now. Maybe we call the new views: `anatomy`? How should we call the "level" view? Something with bilateral symmetry or rather some dorsal ventral apical basal stuff? We could then also add views like: gut, head, ....

[2021-11-16 08:41] K-Meech commented on #532
Sounds good! Probably something like transverse/ sagittal/coronal plane... Although I can never remember which is which..

[2021-11-16 08:43] tischi commented on #532
@K-Meech I am not sure we need the position, e.g. we also have:

[code]

[2021-11-16 08:57] tischi commented on #532
@constantinpape Could please add a view that is using this?

[code]

[code]

[2021-11-16 08:57] HernandoMV commented on #532
I agree with Kimberly. I think "Anatomical views" is the best term for it, and we can have (at least) 4 possibilities:
- The 'level' that we had, that divides the body into front and back: CORONAL
- An anterio-posterior plane, that divides the body into upper and lower: AXIAL
- A left-right division of the body: SAGITAL
- Imaging plane

[2021-11-16 09:01] K-Meech commented on #532
@tischi Yes it's not totally necessary for sure! It just might be convenient if say you had a normal vector for a certain orientation (like a sagital section), and you wanted to see that through a specific cell at a specific position. Currently, you'd have to go there and save that as the usual normalisedAffine view.

[2021-11-16 09:09] tischi commented on #532
But then it still would not zoom onto this cell, and if we also specify the zoom then we are back at a full affine...

[2021-11-16 09:11] constantinpape commented on #532
I wouldn't add position or timepoint for this one; I think the idea is just to set the viewer plane so that it's orthogonal to the normal vector.

[2021-11-16 09:15] K-Meech commented on #532
Ok - no worries! We can just leave it as the normal vector for now. I think it would only be for particular use cases - where you want to see a specific **plane** (i.e. normal and point), rather than only a specific  **normal** - where it would be useful.

[2021-11-16 09:16] constantinpape commented on #532
But I think for that one we can just use normalizedAffine or affine (sure that also includes the zoom, but I think that's probably ok in most use cases where you want to go somewhere specific)

[2021-11-16 09:21] tischi commented on #322
@constantinpape
Do we have a JSON field for showing images in 3D in the new spec already?

@K-Meech
In the Java code it currently looks like this:
[code]

Where "visible" refers to visible in BDV...

Should we add another field?!

[2021-11-16 09:27] tischi commented on #322
Ah, I just saw we have it here:

[code]

[2021-11-16 09:30] K-Meech commented on #532
Yes - for sure! Sounds good. Using the affine makes sense. (I'm biased because I often calculate the normal/point of planes I want to get to in bigdataviewer, and converting that to a corresponding affine is a bit of a pain. It's a super niche use case though - I agree!)

[2021-11-16 09:31] tischi commented on #322
I am working on this [here](https://github.com/mobie/mobie-viewer-fiji/pull/534).

[2021-11-16 09:34] tischi commented on #532
On the Java side we are currently stuck with `timepoint` because:
[code]
But I checked the code: if timepoint is NULL it will simply stay at the current timepoint.

[2021-11-16 09:43] constantinpape commented on #532
Ok, I will add it as an optional field then.

[2021-11-16 09:46] tischi opened #535 "Restricting CI/CD..."
I don't get why it is running for those branches:

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/2157566/141961642-6e78103d-df9c-4214-af9d-1ca99e6e9689.png">

[2021-11-16 09:51] K-Meech commented on #535
It's setup to run for all PRs at the moment. I guess we'd have to add something extra to exclude draft PRs.

[2021-11-16 10:07] constantinpape commented on #532
@tischi https://github.com/mobie/platybrowser-project/pull/88
It has "anatomical-views"->"coronal".

[2021-11-16 11:02] tischi commented on #532
what does "coronal" mean?

I think "anatomy" is nicer/conciser than "anatomical-views" (those are all views, so this feels redundant).

[2021-11-16 11:07] constantinpape commented on #532
See the comment by @HernandoMV: https://github.com/mobie/mobie-viewer-fiji/issues/532#issuecomment-970057437

But feel free to change the names as you like, you have write access to the repo.

[2021-11-16 13:42] tischi opened #536 "Make maxNumVoxels of volume rendering configurable"
Both the `ImageVolumeViewer` and the `SegmentsVolumeViewer` have a `maxNumVoxels` parameter which determines that resolution of the rendered data. It would be great if we could make this configurable for the user.

[2021-11-16 13:44] tischi opened #537 "ImageVolumeViewer does not listen to image color"
It would be nice to make the `ImageVolumeViewer` listen to the color of the displayed `SourceAndConverter`. As this can only be changed in the `UserInterfaceHelper` this could be a place where we could notify the `ImageVolumeViewer`. But I don't think this is very critical...

[2021-11-16 13:49] tischi commented on #535
In fact there is a dedicated script`build-pr.yml` in the github actions for the PR.
Not sure what to do here. Maybe it is not so bad if this is running...

[2021-11-16 14:03] K-Meech commented on #536
Linking this issue as it's related: https://github.com/mobie/mobie-viewer-fiji/issues/323

[2021-11-16 14:55] tischi opened #539 "Get rid of MoBIEUtils class"
This class is confusing and should be refactored into more dedicated classes.

[2021-11-19 07:59] K-Meech commented on #525
This is fixed in imageJ1, so will hopefully be in fiji soon too. Leaving open until the fix is in fiji.

[2021-11-19 13:54] constantinpape opened #540 "MoBIE opens tables for segmentations that are not selected"
When opening a view that has a segmentation with a table, the table is always opened, even if the segmentation is **not** shown by default in the view.
This behaviour is weird, but might be due to the fact that we do not have a "showTable" field in the spec for the segmentationDisplay.

@tischi: I think there are two ways to fix this:
- when opening a view with a segmentation show the tables only

[2021-11-19 14:02] constantinpape opened #541 "Navigation does not work for segmentation table in mergedGrid"
Navigating to segments via selecting rows in the tables or segments in the image does not work for segmentations in a merged grid. There are two issues:
- when selecting a segment the viewer navigates to a wrong location (outside the image space), see second screenshot below
- the selection applies to all cells with the same id, not just the cell with this id in the image at hand. we somehow need

[2021-11-19 17:05] tischi opened #542 "Remove hardcoded animation duration"
We have `500` ms hard-coded at some places for the animation during in BDV.
We should make this configurable.

[2021-11-19 17:12] tischi commented on #541
Thanks @constantinpape,
I found quite a couple of bugs!
I filed a PR.

[2021-11-19 17:27] tischi commented on #540
Thanks for finding this.

Turns out, in Java we do have a `showTable` field already:

[code]

However, in `public void initTableViewer( SegmentationSourceDisplay display  )` I show the table anyway, not even looking at this field 😄

Maybe we just use this field both in the code and in the JSON?
I guess we need to leave the default at `true` in order not to have to rewrite too many JSON files?

[2021-11-21 11:13] constantinpape commented on #540
@tischi I double checked this now, and we have `showTable` in the spec already.

Yes, the default should be `true`.

For the segmentationDisplays in https://github.com/mobie/covid-if-project (default) the `showTable` field is set to `false` now.
But the table is still opened when opening the view. Could you please have a look and fix the behaviour in MoBIE s.t. it does not open the tables by defau

[2021-11-22 14:10] tischi opened #546 "Position of tables is off"
The position of the tables is off for this project:

[code]

They appear on the lower left of the screen instead of below the BDV window.

[2021-11-22 14:19] tischi commented on #541
@constantinpape

The navigation to the sites (images) works now (not merged yet), but as @K-Meech pointed out, it does not go to the correct cell within the image.

In which units are the anchor coordinates? Could it be that there is something off?

Another idea: maybe the x and y coordinates are switched or flipped or mirrored?

[2021-11-22 16:41] constantinpape commented on #541
The units are in relative image coordinates. I.e. for each segmentation the coordinates go from 0 to 1024 (here we use 'pixels' with scale factor 1 as physical coordinate space, but in general this would be in physical coordinates).
So you have to offset these coordinates with the relative position of the image in the grid.

I don't think so, as I use the same code as everywhere else for computing

[2021-11-22 17:25] tischi commented on #541
OK, there is some deeper issue...

The coloring of the label sources is solely done via the label index in the image.

Now, for a `MergedGridSource` this does not work, because several objects in the same source can have the same label index...

I am in fact not quite sure how to fix this right now...

[2021-11-22 19:10] constantinpape commented on #541
@tischi I have added `encodeSource: True` to  the well grids for all the segmentations in `covid-if` now.

[2021-11-22 20:36] tischi opened #548 "Optimise multi threading"
Right now the same number of threads is used for the fetcher threads of BDV as well as for loading sources and tables. Probably the latter could be increased without BDV getting stuck.

[2021-11-22 20:58] tischi commented on #541
Thanks! Seems to work 🥳

However, are you sure about the x and y axis not being mixed up in the cell's anchor points?

In below example I am specifically selecting/highlighting cells with low values in their x-coordinate and they all show up at the top of the image (where the low y-coordinates should be):

<img width="827" alt="image" src="https://user-images.githubusercontent.com/2157566/14293426

[2021-11-22 21:09] tischi opened #549 "Segmentation MergedGridSource"
@constantinpape I think we should make this automatic/compulsory that merged label sources do this image indexing trick. If one does not do this one is getting undesired behavior.

I think I do have a list of all the "raw source" don't I?

[code]

Maybe I could check whether a  `MergedGridSource` contains "raw" sources and then automatically do the image name encoding?

Then we could get rid of th

[2021-11-23 08:28] constantinpape commented on #549
Not quite sure what you mean by "raw" sources; if you mean the sources that are originally in the json and not transiently created by a view then yes that's what you get with the code above.

I see. Yes I agree that makes sense. To be precise, it must be "contains 'raw' sources" AND contains "segmentation sources".
Maybe you can just try to implement it without making use of `encodeSource` and if

[2021-11-23 08:29] constantinpape commented on #541
I can double check the x and y issue once we have the new working version on MoBIE or MoBIE-beta.

[2021-11-23 16:28] tischi opened #550 "Simplify BdvSegmentSelector"
```private synchronized void toggleSelectionAtMousePosition()```

Right now contains a recursive search into `MergedGridSource`s

This is not necessary anymore as we not have the encoding of the imageID in the gridSource.

It feels better to also use this logic here instead of the recursive search of all contained sources.

[2021-11-23 17:06] K-Meech commented on #541
Ok! The new version is now on MoBIE-beta.

[2021-11-23 22:40] tischi commented on #549
Started working on it: https://github.com/mobie/mobie-viewer-fiji/tree/issue549

[2021-11-24 09:27] constantinpape commented on #540
This is fixed now.

[2021-11-24 09:27] #540 closed

[2021-11-24 09:56] constantinpape commented on #541
Indeed something with the anchors is wrong, but it's not a simple switch of x and y. I will investigate further and let you know once it's fixed.

[2021-11-24 11:41] constantinpape commented on #541
The anchors should be correct in all tables now. I still have some issues with the navigation though: when trying to select a segment in an image I get the following error:
[code]
(On latest MoBIE-beta)

Could you please check this issue, @tischi @K-Meech?

[2021-11-24 14:51] tischi commented on #541
I will have a look...

[2021-11-24 14:58] tischi commented on #541
Do you know the repo where Julian had the example data where there are segmentations **without tables**? I think I'll need this to clean up the code.

[2021-11-24 15:13] K-Meech commented on #541
Same for me. I can't reproduce it on MoBIE-beta.

[2021-11-24 15:14] jhennies commented on #541
@tischi The test project is in /g/emcf/hennies/for_constantin/mobie_no_table_test

[2021-11-24 16:05] tischi opened #551 "Improve LabelConverter for images without table"
Use this project: /g/emcf/hennies/for_constantin/mobie_no_table_test
Right now the segmentsAdapter automatically creates labels if they do not exist.
It would be better to make this more explicit. For example, instantiate a special version of the LabelConverter that calls a special method in the segmentsAdapter.

[2021-11-24 16:06] tischi commented on #541
@constantinpape can you check the version number of mobie in your MoBIE-beta? Maybe it did not download the latest?

[2021-11-24 19:05] constantinpape commented on #541
Ok, I tried again and now the error is gone works. Not sure what was going on there...

Regarding the coordinates in the tables:
I am sure that they are correct now because I am validating them for all segmentations (https://github.com/mobie/covid-if-project/blob/main/check_anchors.py#L52).

Maybe we are interpreting y and x different here ... but it would be easiest if you could just check this b

[2021-11-25 09:22] tischi commented on #541
I am on a retreat now. I would look into it on Monday.
@K-Meech if you feel like testing this, go ahead!

[2021-11-26 10:44] constantinpape commented on #392
The branch names are all changed to `main` now.

[2021-11-26 10:44] #392 closed

[2021-11-26 10:46] constantinpape commented on #394
We should still implement this. I will add `defaultPosition` to the `dataset.json` now and push it onto a platybrowser branch. cc @tischi.

[2021-11-26 10:48] constantinpape commented on #323
@tischi @K-Meech  Is this fixed by #538 now and can be closed?

[2021-11-26 10:49] constantinpape commented on #322
@tischi @K-Meech is this fixed by #534 now and can be closed?

[2021-11-26 10:59] K-Meech commented on #323
Yes this is fixed now and can be closed.

[2021-11-26 10:59] #323 closed

[2021-11-26 11:02] constantinpape commented on #202
The issue is still there (on latest MoBIE-beta)

[2021-11-26 11:06] constantinpape opened #552 "Add a test for opening project directly from s3"
The plankton fibsem project is completely uploaded to s3: `https://s3.embl.de/plankton-fibsem`.
And I just checked that it can be opened - seems to all work fine :).
We should add a test that opens this project to make sure it stays that way ;).

[2021-11-26 12:08] constantinpape commented on #394
@tischi I called the field `defaultLocation` now to be more accurate with the viewer.
I have added it for the platybrowser here: https://github.com/mobie/platybrowser-project/pull/89

[2021-11-26 18:11] tischi commented on #541
@constantinpape I had another look and I think I need some help.

Is there any logic as to how the label_ids are given? I my code often the labeling starts in some corner of the image, but here I cannot see any correlation between label_id and anchor points. Is this normal?

<img width="955" alt="image" src="https://user-images.githubusercontent.com/2157566/143618116-28972eae-7ecf-4428-9572-5dad9f

[2021-11-26 18:51] tischi commented on #541
Couple of other ideas for the debugging:
- a view with just a single site (no grid transformation)
- the current default view but with the normal grid transformer (without merging)

[2021-11-26 19:54] constantinpape commented on #541
The segmentation is based on a seeded watershed from nuclei segmented with stardist. So this boils down to how stardist assigns ids to nuclei; no idea if this follows any systematic and in general you cannot rely on any pattern of id assignments because segmentations are invariant under relabeling.

That's label-id 132:
![label132](https://user-images.githubusercontent.com/4263537/143624896-3fcfe8

[2021-11-26 20:51] tischi commented on #541
Thanks! That helps! In the single image view:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/2157566/143636523-6913099e-2b30-4cb6-be72-01915859a577.png">

So, label index seems to be OK, but the coordinates in the table are different from the the coordinates of the cell in BDV (see upper right corner of BDV). `(0,0)` is the upper left corner of the image in BDV. I gue

[2021-11-27 19:08] tischi commented on #548
Fixed in https://github.com/mobie/mobie-viewer-fiji/commit/e3f3965119e85b4a405ed8207d44a84b0a62c5fc

[2021-11-27 19:12] tischi opened #553 "Decrease waiting times when loading tables"
Right now, loading tables can be quite slow.
It would be nice if we could already show the images before the tables are loaded. This may be tricky however as the instantiation of the coloring and selection models currently requires the tables to be loaded...

[2021-11-27 19:18] tischi commented on #529
Added via https://github.com/mobie/mobie-viewer-fiji/commit/1a9ac33d577dc2cb6d2a1a3f6e42884472be5a52

[2021-11-27 19:26] tischi commented on #552
Done via https://github.com/mobie/mobie-viewer-fiji/commit/8e78f3d14d2b124969d9d907b2cb2659c4309beb

It opens indeed :)

Anything we could test there in particular?

[2021-11-27 19:27] tischi commented on #535
Maybe let's just try not to open PRs prematurely.

[2021-11-27 19:27] #535 closed

[2021-11-28 09:51] #529 closed

[2021-11-28 09:57] tischi opened #554 "Segmentation MergedGridSource assumes UnsignedIntType"
Currently, there are several places where it is hard-coded that a `MergedGridSource` is of `UnsignedIntType` when it is a Segmentation source. The historical reason is that we are encoding the grid source names into the pixel value and needed to get this working for our use cases. This should be changed to also work for other data types.

[2021-11-28 10:24] tischi commented on #541
@constantinpape I think I found something else. In `cell_segmentation_WellE06_0000` in the image there appear to be cells with label indices that are higher than the largest label index in the table.

[2021-11-28 10:26] tischi commented on #550
Done via https://github.com/mobie/mobie-viewer-fiji/commit/4bbb8f500c1288f3ff2914ea4fbbd1a81ff85b22

[2021-11-28 11:28] constantinpape commented on #541
I am pretty sure that this is not the case, because I am testing that the ids in the cell segmentation and in the table are identical: https://github.com/mobie/covid-if-project/blob/main/check_anchors.py#L31-L32 (and this tests runs through without error)

[2021-11-28 11:33] constantinpape commented on #552
Not sure what exactly you can test in the current CI tests; maybe if datasets and views are available and can be loaded?
If that's possible then you could test for the datasets:
- `cell1`
  - `views`: `Figure6F`, `fibsem-cell`, `fibsem-cilia`, `fibsem-raw`
- `cell2`
  - `views`: `FigureS20F`, `fibsem-nucleus`, `fibsem-raw`
- `choanocyte-chamber`:
  - `views`: `fibsem-segmentation`, `fibsem-raw`

[2021-11-28 17:38] tischi commented on #541
Hm, this is mysterious...
Did you also see my [comment above](https://github.com/mobie/mobie-viewer-fiji/issues/541#issuecomment-980431198) about the anchor point of cell `132`?

[2021-11-28 17:50] constantinpape commented on #541
Yes, I am not sure what's going on there but it maybe that the coordinate origin is different between python and BDV here.
(I guess this could be the case because we have the first true 2d project here.)
I will try to check this by comaring the image in MoBIE and napari later.

[2021-11-28 17:56] tischi commented on #541
Thanks! Another thing to double check could be whether maybe the assignment of the tables to the images got mixed up at some point? I am not sure, but maybe good to have in the back of your mind when you are looking in it. It cannot be an issue with the MergedGridSource however, because the issue with the wrong anchor points is already there when we are loading just a single image...

[2021-11-28 18:48] tischi commented on #552
I am simply opening all available views: https://github.com/mobie/mobie-viewer-fiji/commit/51050012970c664cf6906c3b3cb92168f6478ac6

Seems like a good way to test projects in general (unless it would take to long).
What do you think?

[2021-11-28 18:48] #552 closed

[2021-11-28 21:43] constantinpape commented on #552
I think it would be good to also check that all the datasets above can be loaded (as far as I can see you only open the default one in the test) and to also check that some of the names - or the number of views - are as expected. Otherwise you might miss bugs that prevent opening other datasets or just drop all the views and iterate over an empty list.

[2021-11-29 07:23] #322 closed

[2021-11-30 21:58] constantinpape commented on #541
Yes that's it, for some reason it got shuffled in the spec ...
I will fix it.

[2021-11-30 22:38] constantinpape commented on #541
@tischi I fixed the table paths now and it works as expected for the single image.
It still looks a bit weird for the grid but I only checked very briefly, so not sure.
Time for you to have another look ;).

[2021-12-01 10:33] tischi commented on #541
@constantinpape
1. Yes, the single image works now!
2. The `default_transform_grid_...` view does not work for me in a sense that all sites end up on the same position. Could you please double check that the JSON is correct for that view? I would then double check the code.

[2021-12-01 10:35] constantinpape commented on #541
Ok, I will check it later.

[2021-12-01 10:38] tischi commented on #541
In fact I had a glance and I have one suspicion. The flag `centerAtOrigin` now defaults to `true`. I guess if we build grids of grids (as we do for the sites, wells, plate), we may loose what the first grid has done if we don't set `centerAtOrigin = false` at the right places. But I am not sure yet, I have to dig a bit...

[2021-12-01 12:43] tischi opened #555 "Screenshot not working?"
Giulia wrote an e-mail that the screenshot is not working for her in the CLEM example project.

[2021-12-01 12:47] tischi commented on #541
@constantinpape

I [fixed this](https://github.com/mobie/covid-if-project/commit/a9c22bd7f045fb9b2ef6d6b94af98d8db74088f4) and it is now working for the transformed grid.

I will have a look now at the merged grid.

[2021-12-01 12:53] tischi commented on #541
@constantinpape

For me it also navigates to the correct position for the merged grid.

I will ping you once this is on MoBIE beta.

[2021-12-01 13:50] tischi opened #557 "Zooming in and out of transformed grid hangs"
Example:

[code]

One could look into this be having VisualVM running while doing this. Maybe one finds the culprit.

[2021-12-01 14:16] tischi commented on #555
- [ ] It shows Pixels as the unit even though the images are in micrometer...?!

[2021-12-02 11:31] K-Meech commented on #541
@tischi @constantinpape latest version is on MoBIE beta now :)

[2021-12-02 12:25] tischi commented on #555
And the first line could be about the “binning” or the “resolution”, I am not sure about the best phrasing, maybe you have a better idea for it.  In the second place, I think the default value should be 512 or 1024, something that clearly points out to the size of the image.
Hope this helps and I am happy to do more dumb proofing as we progress.

[2021-12-02 13:42] tischi opened #558 "Multi-threading bug"
[code]

To reproduce:

[code]

[2021-12-02 13:43] tischi commented on #558
It's the Fetcher threads...why?...I thought I fixed this...

[2021-12-02 13:52] tischi commented on #558
@KateMoreva The issue is that we do not yet have the sharedQueue for `OmeZarrS3`:

[code]

Is that something that could be added? I would be super important, in fact 😃 !

[2021-12-02 20:04] tischi commented on #555
pixel unit: https://forum.image.sc/t/change-scijava-parameter-label-at-runtime/60574/3

[2021-12-04 21:08] KateMoreva commented on #558
Yes sure, I'll implement this.
I am deeply sorry for my long reply (pre-exam time, got a bit busy with all that staff).

[2021-12-06 07:58] martinschorb opened #559 "exclusive view gets overlaid"
Dear all,

an exclusive view  gets overlaid with a non exclusive view. This should not happen but show the new view as a single view removing the initial exclusive view from the viewer.

Example:
- Yeast clem dataset `default` view (exclusive)
- Change view to `em-raw-overview` (not exclusive, showing the same source)
-> both views are shown on top of each other instead of just the new one.

[2021-12-06 08:36] tischi commented on #558
I am deeply sorry for my long reply (pre-exam time, got a bit busy with all that staff).

No need to be sorry! It is very clear to us that you have other priorities! We are super happy to have you at all in the team!

[2021-12-06 08:40] constantinpape commented on #558
Yes, all good! Just let us know when you have time to work on it or have any questions ;).

[2021-12-06 21:54] tischi commented on #555
I called it now "Screenshot Sampling" and it will automatically add the correct unit.
I don't know how to tell the user the number of pixels. I feel that the pixel size (sampling) is the scientifically most interesting/accurate information. I admit that it will require a bit of thinking on the user side though: They need to have a look at the current scale bar and guess how many pixels this will b

[2021-12-07 09:36] tischi commented on #555
🥳
<img width="596" alt="image" src="https://user-images.githubusercontent.com/2157566/145004262-ae267436-42f1-49a1-bdd8-985aae30a850.png">

It will update the capture size when you modify the sampling.

[2021-12-08 15:06] K-Meech commented on #555
@tischi This fix is on MoBIE-beta now :)

[2021-12-08 20:04] constantinpape commented on #541
Everything working on MoBIE-beta now. Thanks!

[2021-12-08 20:04] #541 closed

[2021-12-11 09:13] tischi opened #561 "Hide BDV Menu bar"
Somehow in the old platybrowser we were hiding the BDV menu bar, which I think is a good idea.

[2021-12-11 09:15] tischi commented on #532
It has "anatomical-views"->"coronal".

Can we merge this? The code already should be able to handle it.

[2021-12-11 11:25] constantinpape commented on #532
Ready to merge from my side as soon as it also works with the MoBIE from the main update site.

[2021-12-16 07:26] #555 closed

[2021-12-20 10:07] vzinche opened #562 "Screenshot : add scale bar"
It is really great that BDV shows a scale bar, however, it is not captured on screenshots. Given 'best scientific practice' for figures, I guess it wouldn't hurt to just add it by default to all the screenshots?

[2021-12-20 10:48] tischi commented on #562
Great idea!

We cannot copy the scale bar from BDV but I guess we could add code to automatically add an ImageJ scale bar!

[2021-12-20 10:54] vzinche commented on #562
That would be amazing, thanks!

[2021-12-20 12:57] vzinche opened #563 "Adding scatterplot makes scale bar disappear"
Seems like adding any scatterplot removes the scale bar from BDV. And removing the plot doesn't restore it back.
To reproduce: open platy browser -> view sbem-segmentation cells -> add plot with all the default options

[2021-12-21 16:39] tischi commented on #563
Good catch. I asked [here](https://gitter.im/bigdataviewer/bigdataviewer-core)...

[2022-01-10 11:58] martinschorb opened #567 "How do I find out where the problem is...(BDV-N5-S3)"
Hi,

I have some trouble loading a new dataset (https://github.com/mobie/pag-dapex2-fibsem).

the metadata pointing to the bucket looks good. When I check the contents of the s3, it lso seems OK.
(something like https://s3.embl.de/pag-dapex2-fibsem/Sample_3/images/local/Sample3_image.n5/setup0/timepoint0/s0/1/1/1 or https://s3.embl.de/pag-dapex2-fibsem/Sample_3/images/local/Sample3_image.n5/setup0

[2022-01-10 15:22] constantinpape commented on #567
For me https://s3.embl.de/pag-dapex2-fibsem/Sample_3/images/local/Sample3_image.n5/setup0/timepoint0/attributes.json  does not work. It says `The specified key does not exist` under `<Error>/<Message>`. (This might be an issue due to missing permissions, but I think that in that case the error message should be different.)
To help more I would need access to the `pag-dapex2-fibsem` bucket, I can't

[2022-01-10 15:27] martinschorb commented on #567
Thanks for having a look.

I went through a series of checks with MoBIE and clearly found that the data in the S3 was indeed the problem.
I will now first try to re-upload the data from Rome to that bucket (that's why I emptied it to not run into duplicates) and if it then still fails, we need to check the N5 structure.

[2022-01-10 16:41] martinschorb commented on #567
OK,

we re-uploaded the data and it still gives the exact same error.

[2022-01-10 16:48] martinschorb commented on #567
OK, so manually moving the N5 into the local folder that contains the project (in new MoBIE format) and then trying to open it yields:
[code]

However that file exists!

It contains (generated with Fiji/the "old" MoBIE project creator):
[code]

[2022-01-10 16:50] martinschorb commented on #567
Forget about that one...

Typo in the XML file!

[2022-01-10 17:10] martinschorb commented on #567
Still, even with the fixed XML.

[code]

[2022-01-10 17:11] constantinpape commented on #567
I am pretty sure that this is due to an incorrect file path. To help you more I would need to have read access to the s3 bucket.

[2022-01-10 17:11] martinschorb commented on #567
it should be world-readable

[2022-01-10 17:19] martinschorb commented on #567
OK, I see. World-readable does not give you browse access in the console. I filed a request with ITS...

[2022-01-10 17:22] constantinpape commented on #567
Ok, I figured it out from the xml dump of https://s3.embl.de/pag-dapex2-fibsem/ in the meantime:
The issue is that it says `.../images/local` here: https://github.com/mobie/pag-dapex2-fibsem/blob/main/data/Sample_6/images/bdv-n5-s3/Sample6_image.xml#L5
But it should be `images/bdv-n5` (see xml dump).

[2022-01-10 17:30] martinschorb commented on #567
OK, cool. Thanks. That explains it.
Still the error message is not really helpful in this respect. I would have expected something like "path not found"

[2022-01-10 17:31] constantinpape commented on #567
Yes, I agree that this error message can be improved. cc @tischi

[2022-01-10 19:00] martinschorb commented on #567
In fact, the proper remote (bdv.n5.s3) entries were also missing in the `dataset.json`s. So this was probably triggering the error.

Now at least the default view works from remote...
When I try to load `Sample_4`, I get:
[code]

Does that now mean some data is missing remotely? I am pretty sure the remote metadata is correct as I created it the exact same way as for `Sample_3` using https://githu

[2022-01-10 19:31] constantinpape commented on #567
Hmm, I can tell you more once I have browse access to the bucket. Debugging this further purely from the xml dumps is not possible.

[2022-01-11 11:49] constantinpape commented on #567
So the issue is that the `attributes.json` file is missing for `embl/pag-dapex2-fibsem/Sample_4/images/bdv-n5/Sample4_image.n5/setup0/timepoint0/s0`.
See
[code]
versus
[code]

[2022-01-14 17:51] vzinche opened #568 "AWS credentials issues"
@tischi, I don't know what you changed today about the AWS data storage, but now I can't open the platybrowser:
![Screenshot from 2022-01-14 18-48-31](https://user-images.githubusercontent.com/32451366/149561750-52b264f7-9d9d-47a1-9044-4f64770d3145.png)

[2022-01-17 08:02] tischi commented on #568
I changed nothing, but I can reproduce it!

[2022-01-17 08:11] titansmc commented on #568
Permissions have been fixed on the server side, we will investigate to find out what could have happened

[2022-01-17 08:21] tischi commented on #568
Thanks!

[2022-01-17 08:21] #568 closed

[2022-01-18 16:32] tischi opened #570 "Project Creator does not remember last choice"
It would be amazing if the Project Creator would remember the recent choices in the UI (such as the image file format). You could achieve this by storing the user choices in some static variables (if you use GenericDialog). If you use Commands the recent choices are remembered automatically.

[2022-01-18 16:34] tischi opened #571 "Project Creator: exclusive views"
I think when creating a view for an image we need a checkbox whether the view should be exclusive or not. Right now it is not exclusive.

[2022-01-19 08:17] tischi commented on #411
@NicoKiaru
What's the status of the BigWarp integration with BDV-Playground?
Could we just enable it in MoBIE?
If so, could you point me to the relevant code to do so?

[2022-01-19 08:34] NicoKiaru commented on #411
You can look for "Launch BigWarp" in Fiji's search bar.

The command:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/command/source/BigWarpLauncherCommand.java

The 'action':

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/sourceandconverter/register/BigWarpLauncher.java

[2022-01-19 11:17] tischi opened #572 "OME Zarr chunking"
@K-Meech @constantinpape

I have a feeling that the default chunking for OME.Zarr is not ideal.

It takes a long time to load with intermediates like this:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/2157566/150119733-e45eeb90-7a53-46bf-8e53-5a2c42161104.png">

[2022-01-19 19:42] constantinpape commented on #572
ome.zarr itself does not have a default chunking, so this probably depends on the library that writes this. Did you use the java/mobie one or python for this dataset? What are the chunks?

[2022-01-20 13:45] tischi opened #573 "Project creator Fiji: Segmentations"
@K-Meech

How can I add a segmentation?

[2022-01-20 13:45] tischi opened #574 "Project creator Fiji: grid view"
@K-Meech

Can one define a grid view somehow?

[2022-01-20 17:53] tischi commented on #411
@NicoKiaru Thanks a lot!
This is the output, right?
[code]

Is there some way to only enable affine transform (or only rigid) registration in bigWarp and then get back the affine transform?

[2022-01-20 18:35] constantinpape commented on #574
I don't think that it's possible with the project creator; but @KateMoreva has been working on the grid creator in the context menu.

[2022-01-21 07:29] NicoKiaru commented on #411
Yes then you can probably get the transformed source, get its transform, and build a new Transformed source out of it ?

[2022-01-21 13:07] tischi commented on #411
@NicoKiaru
What is this doing?
[code]

[2022-01-21 13:46] tischi commented on #411
Wohoooo!

<img width="500" alt="image" src="https://user-images.githubusercontent.com/2157566/150537446-74aaa2b0-8090-4e4d-9efe-0ca578ce06fd.png">

@NicoKiaru @bogovicj Amazing! Took me just ~45 minutes to make BigWarp work in MoBIE 🥳
@martinschorb @constantinpape

[2022-01-21 13:50] tischi commented on #411
@bogovicj what would be cool now would be a way for the user to "Cancel" in a way that MoBIE knows that it should not apply the transformation and revert back to the original `SourceTransform`.
So, I would need something in BigWarp that says "Cancel" and that I could listen to.
Or, I guess we could have an own little window pop up in MoBIE with two buttons: "Apply transform in MoBIE" and "Cancel".

[2022-01-21 14:30] tischi commented on #411
@NicoKiaru @bogovicj When launching BigWarp the second time, I have more sources (`Bigwarp *` in the source tree, do you know why they are there and how I could avoid this?

<img width="530" alt="image" src="https://user-images.githubusercontent.com/2157566/150544077-d76db9fa-7819-4fbd-8d19-7f2725dd0bb6.png">

[2022-01-22 14:47] tischi commented on #411
...ideal would be if it would only show the `MoBIE - BigDataViewer` sources. I think this should be possible by means of some `SourceAndConverterProvider` for the `BdvPlaygroundActionCommand`, is it? I don't remember the details...

[2022-01-24 10:24] tischi opened #576 "Make context menu for toggling source display settings"
If there are many sources such as in the clem-example-project it becomes tricky to know which source is which. We need some clever way to, e.g. to highlight the sources that are at the current mouse position in the window where the sources display settings can me modified. Not sure what is best. Maybe reorder the sources in the window? Or have an extra tag that highlights the "visible sources", wh

[2022-01-24 11:29] tischi commented on #97
@constantinpape @KateMoreva

Do we actually currently still use the `Authentication` tag for anything in the Java code?

https://github.com/mobie/platybrowser-project/blob/1eaabccf04eebdf58785550dbdd84f2e2791e78d/data/1.0.1/images/remote/sbem-6dpf-1-whole-raw.xml#L33

[2022-01-24 11:33] K-Meech commented on #572
@tischi Do you have this dataset somewhere I could access? So I can figure out what the chunks etc are?

[2022-01-24 11:38] K-Meech commented on #573
@tischi You can open the segmentation in fiji, then do the usual add 'current open image', and in the dialog after select 'segmentation' as the Image Type. Then it will make the table etc for you automatically.

[2022-01-24 11:40] K-Meech commented on #574
This isn't possible with the project creator. The grid creator from @KateMoreva will fix this! :)

[2022-01-24 11:46] constantinpape commented on #97
No, we don't use it in the java code anymore. It should also be removed from the xmls; somehow this didn't work out here.
I will remove it now.

[2022-01-24 12:07] constantinpape commented on #97
@tischi I have removed the `Authentication` tag from the platybrowser project now and made a PR to remove the last places where I could find it it here: #577. Should we close this issue, since you have implemented entering the credentials in mobie-fiji now?

[2022-01-24 14:57] tischi commented on #572
running... `-bash-4.2$ cp -r SXAA03648.ome.zarr /g/cba/exchange/kimberly/`

[2022-01-24 15:02] tischi commented on #573
Cool! I overlooked this!

[2022-01-24 15:02] #573 closed

[2022-01-24 15:10] #574 closed

[2022-01-24 15:26] tischi opened #579 "Project creator affine"
@K-Meech

I guess the affine is **on top of** the voxel size calibration, is it? Could you make this more clear in the project create?

<img width="624" alt="image" src="https://user-images.githubusercontent.com/2157566/150812066-8e852e2d-28e6-4ba4-b9f2-3cd8ce57df8f.png">

[2022-01-24 15:35] K-Meech commented on #579
This was added quite early on - so it actually is directly the affine that goes in the xml i.e. including the voxel size calibration! It should probably be changed so it instead just adds it to the view

[2022-01-24 15:44] tischi commented on #579
Yes, I think so. Could change it like this?
And than maybe:` [ ] Add additional registration view`?
And below this we put the UI for entering the affine?

[2022-01-24 15:49] tischi commented on #97
Thanks!

[2022-01-24 15:49] #97 closed

[2022-01-24 16:29] tischi commented on #579
Maybe better to leave it as it was but remove the option to create a view.
Let's just always create a view and if the affine is not the identity (you can check this on Java) add it to the view.

I would also suggest to have

[code]

in the UI instead of the 12 numbers. Then it is very clear even without reading the help.

What do you think?

[2022-01-24 17:08] tischi opened #580 "Add view to Project for S3"
@K-Meech

Can we do this already (see title)?

[2022-01-24 17:12] K-Meech commented on #579
Changing the affine to three rows sounds good! Makes it easier to see what's going on

For the view, I'd prefer not to get rid of this option. Sometimes, if you want to do something complicated with e.g. grids. It might be useful to be able to add an image (and have it be converted / made into a source etc), but not have its own view. I.e. if for some reason you have images that you only ever want

[2022-01-24 17:14] K-Meech commented on #580
Do you mean directly adding a view to the S3? If so, this isn't possible at the moment. You can only add it to a local project, or directly to github. The github stuff is still not the best / could do with some improvements though.

[2022-01-24 17:21] tischi commented on #579
Yes, I thought about this as well, but you can't create a grid (or in fact any multi image) view with the project creator. I feel for the beginner users always having a view is good (they will otherwise wonder (i) "what is a view?" and (ii) "why can't I see my image?"). They could delete the view manually from the dataset.json if needed.

We could have a `Project Creator Expert Mode` at some point

[2022-01-24 17:23] K-Meech opened #582 "Help for 'Segmentations Browsing' needs updating"
In the very top row of MoBIE, selecting 'Segmentations Browsing' and then the 'show' button brings up a list of shortcuts. These need updating e.g. Ctrl + S no longer works.

[2022-01-24 17:28] tischi commented on #580
Yes, if the bucket has write access then we should be able to write an object there (i.e. replace the `dataset.json`).

[This handles the credentials](https://github.com/mobie/mobie-io/blob/26a07e4af364c6e47f66ed6340f9d1dde2074e68/src/main/java/org/embl/mobie/io/util/S3Utils.java#L59)

I think it could be great to add a `writeFile` method [here](https://github.com/mobie/mobie-io/blob/develop/src/m

[2022-01-25 09:14] tischi opened #583 "Voxel size units"
@K-Meech

I think the project creator needs to decide on one unit, maybe micrometer?!

Right now the affine transform would be wrong if the other images are scaled in micrometer units.

![image](https://user-images.githubusercontent.com/2157566/150947254-34f44b2b-b6a6-436c-9322-98aa7a26358f.png)

[2022-01-25 09:27] tischi commented on #570
@K-Meech I would give this a high priority.

[2022-01-25 09:53] tischi commented on #572
@K-Meech @constantinpape @KateMoreva

I am pretty sure now that the issue is that for the lower resolutions the data at the image borders is corrupt:

<img width="956" alt="image" src="https://user-images.githubusercontent.com/2157566/150953671-555cf971-acf6-4c91-ab6b-56142be7a4cc.png">

Maybe some issue with the gzip reader or writer?

Example data is here: `/g/cba/exchange/kimberly/SXAA03648.ome

[2022-01-25 10:18] K-Meech commented on #583
Yes - that's right! It just takes the size set under Image > Properties, but doesn't take the unit into account. I guess I should just warn of this somewhere? It's a bit hard to directly convert stuff as e.g. nanometer can be written nanometer, nanometre, nm, NM etc...

[2022-01-25 10:19] K-Meech commented on #570
I'm on it :) I'm fixing a bunch of stuff in the project creator over the next couple of days

[2022-01-25 10:30] K-Meech commented on #572
Strange. I'll take a look.

[2022-01-25 10:53] K-Meech commented on #572
@tischi - if I recall correctly, the ome-zarr writing stuff (from within fiji) is using the same libraries as the n5 writing. Could you try writing the same dataset as n5? Does it have the same problem?

[2022-01-25 11:06] K-Meech commented on #572
Actually, if you just put the raw data in the same folder, I can play around with it myself :)

[2022-01-25 11:19] tischi commented on #572
should be there

[2022-01-25 11:32] tischi commented on #583
I think the Bio-Formats library can do this for you...
@joshmoore is there something that tries to extract the pixel size from an ImagePlus?

[2022-01-25 12:30] constantinpape commented on #580
I agree, it would be great if we can write this to s3 as well (given that the user has write permissions)

[2022-01-25 12:41] tischi opened #584 "Screenshot progress bar"
Taking a screenshot at high resolution can take a long time.

We need a progress bar.

[2022-01-25 13:02] joshmoore commented on #583
_from_ an ImagePlus, I don't know. In the case that the ImagePlus was loaded with Bio-Formats, the underlying (meta)data should have pixel size incl. unit parsed if it was specified.

[2022-01-25 13:08] tischi commented on #583
@K-Meech then maybe ask on the forum.
maybe there is some Java code to achieve this.

[2022-01-25 13:43] tischi opened #585 "Default image name"
@K-Meech

Could you use `imp.getTitle()` to suggest an image name?

<img width="404" alt="image" src="https://user-images.githubusercontent.com/2157566/150987940-1d69d79e-2226-4df3-8677-0a5c2a68565b.png">

[2022-01-25 13:44] tischi opened #586 "multi-channel images"
@K-Meech

What happens if I add a multi channel image?

[2022-01-25 13:44] K-Meech commented on #585
Sure - good idea! I'll add this :)

[2022-01-25 13:46] K-Meech commented on #586
I'm not sure - I think it will try and convert the whole thing into an n5 etc file, including all channels. I guess for MoBIE, we need it to instead split the channels and add each as individual images?

[2022-01-25 13:48] tischi commented on #586
Yes, we have to split.
Either we throw an error or we split automatically and auto-create image names with `_ch1`, `_ch2`, or something like this...

I actually tried it and I think it gets stuck (crash)...

[2022-01-25 13:52] K-Meech commented on #586
Ah ok - I'll try and auto-split the channels. I don't think it should be too difficult.

[2022-01-25 17:21] K-Meech commented on #572
Ok - so I looked into this a bit more. It doesn't happen with n5, so it's a specific problem with the ome-zarr writing. I suspect it's something going wrong with how chunks are padded at the edges of the dataset in the lower resolution levels - probably around here: https://github.com/mobie/mobie-io/blob/main/src/main/java/org/embl/mobie/io/ome/zarr/writers/N5OMEZarrWriter.java#L227. I'll keep loo

[2022-01-25 20:23] constantinpape commented on #572
Yes, there is some functionality to access chunks directly: https://github.com/constantinpape/z5/blob/master/src/python/module/z5py/dataset.py#L477-L529

As an example you could use it like this to check if all the chunks in a scale level of an ome.zarr file exist:
[code]
Hope this helps / let me know if you run into any issues.

[2022-01-26 08:23] tischi commented on #572
I think that some chunks at the image boundary are corrupt (probably for all resolutions, but one sees it best at the low resolution because there are less chunks and the effect in the rendering is more evident).

[2022-01-26 12:41] K-Meech commented on #572
Thanks for the links @constantinpape! I'm having a few issues though. There are some slight differences in how Java writes the metadata vs python which are causing issues. E.g. in each dataset's .zarray file - Java puts these lines:
[code]
These cause errors when trying to open the dataset in z5py. Deleting the "filters" line, and changing the fill value to 0 (rather than "0") fixes this. Should I

[2022-01-26 13:43] constantinpape commented on #572
@K-Meech what exactly are you using for writing the data? Is it based on https://github.com/saalfeldlab/n5-zarr or on something else.

The fill value `"0"` is wrong. It should not be a string. The filters should actually be ok, but maybe I have just never encountered this in `z5py`.

Ok, I know why. This is due to some recent change with the dimension separator  that I don't support yet.
Could you

[2022-01-26 13:58] K-Meech commented on #572
@constantinpape yes - it's based on https://github.com/saalfeldlab/n5-zarr, with very slight differences.
There's an ome-zarr file on: /g/cba/exchange/KIMBER~1/SXAA03648.ome.zarr

[2022-01-26 16:16] tischi opened #587 "Test failures"
@K-Meech

I tried to make a new release that uses the latest mobie.io but I got those test errors.
Do you have any idea?

To reproduce:
[code]

[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 12.398 s - in tests.TestRemotePlanktonS3
[INFO]
[INFO] Results:
[INFO]
[ERROR] Errors:
[ERROR]   ImagesCreatorTest.addSegmentationBdvOmeZarr:227->testAddingSegmentationInCertainFormat:1

[2022-01-26 16:25] K-Meech commented on #587
I'll have a look. Is it the main or develop branch?

[2022-01-26 17:19] K-Meech commented on #587
Ok - so I had a very quick look. And I think the issue is that while the readers have been updated for version v0.4, the writers haven't (this is on my todo list - but haven't done it yet!). As some of the files I use in the writing are also used in the reading, they're giving unexpected effects. e.g. the .zattrs file of an ome-zarr file written with project creator, now looks like this:

[code]
w

[2022-01-26 17:27] tischi commented on #587
@constantinpape
Should I release it on MoBIE-beta anyway (s.a.)?
If it is not very important I would prefer not to...

[2022-01-26 17:54] constantinpape commented on #587
@tischi I need it to demo 0.4 for the meeting tomorrow, so it would be really good if we can release it anyways.

[2022-01-26 18:55] constantinpape commented on #587
@K-Meech if you still have time today could you make the MoBIE-beta release and write here?
If not, could you try to get it out tomorrow before 10, @tischi?

[2022-01-26 20:41] constantinpape commented on #572
@K-Meech something with the filepath is not right.
But I think I can fix most of these things without it, will give it a try now.

[2022-01-27 06:07] tischi commented on #587
OK, I'll release now anyway...

[2022-01-27 06:25] tischi commented on #587
@constantinpape done. let us know if it works for what you want to show.

[2022-01-27 07:54] constantinpape commented on #572
@K-Meech I have updated z5py so that it can deal with `filters: []` and can also read zarr with nested chunks (this is why all chunks came back empty for you before). You need to upgrade to z5py 2.0.12; it's available on conda-forge.

The string `fill_value` is a bug on the java side; it should be a number.
For now you can fix it manually and maybe create an issue in n5-zarr about it.

[2022-01-27 09:01] constantinpape commented on #587
Thanks @tischi. I can open ome.zarr v4, but I am not quite sure if all the metadata is read correctly. For example, this is the data from https://minio-dev.openmicroscopy.org/idr/v0.4/2022-01-05/idr0062/6001240.zarr (a dataset the OME folks are using)
![image](https://user-images.githubusercontent.com/4263537/151325703-61537fa2-aa95-4ba8-82f7-1514001556c6.png)

I will check with data I know better

[2022-01-27 09:43] K-Meech commented on #572
Thanks @constantinpape! I'll try again.

[2022-01-27 09:59] K-Meech commented on #572
Ok - now I get a new error:
[code]
I copied the file into my folder: /g/schwab/Kimberly/temp/SXAA03648.ome.zarr

[2022-01-27 10:56] tischi opened #589 "Enable overwriting images"

[2022-01-27 10:56] tischi opened #590 "Affine UI three rows"

[2022-01-27 11:06] constantinpape commented on #572
Ok, I can access it; will check it out later.

[2022-01-27 12:18] tischi commented on #572
I already saved quite some big files with this bug.
Could I manually go in and fix this in a single place or do I need to rewrite all the voxel data?

[2022-01-27 12:24] K-Meech commented on #572
You can just fix it in the metadata files, so you don't need to re-write the voxel data. You would need to adapt each '.zarray' file (inside each dataset) and change the fill_value from "0" to 0. The filters line is fine - you can leave that as is.

[2022-01-27 12:31] tischi commented on #572
Ok, there is quite a bunch of them because of all the resolution levels, but I will figure out some linux `sed` magic to do this...

[2022-01-27 13:04] tischi commented on #572
Took me some time but that did it 😓
`find . -path './*/*/.zarray' -exec grep -i ': "0"' -l {} \; -exec sed -i 's/: "0"/: 0/g' {} \;`

[2022-01-27 13:04] constantinpape commented on #572
But keep in mind that this is not only a metadata issue.  I also think that there's an issue with the border chunks.

[2022-01-27 13:23] constantinpape commented on #587
See https://github.com/mobie/mobie-io/issues/52 for the current issues with reading 0.4 data.

[2022-01-27 13:35] constantinpape commented on #572
@K-Meech I can reproduce the error you see. I am investigating it now, gonna ping you when I now more.

[2022-01-27 14:09] constantinpape commented on #572
Ok, the dataset can't be opened in `z5py` because it does not support data stored in big endian in zarr (this is not very common, but seems to be the default way of writing it in n5-zarr). I will fix this on my side.

@K-Meech in the meantime you can just use the zarr python library to read the data. It does not contain convenience function to read individual chunks; but you can just vie the data

[2022-01-27 14:56] K-Meech commented on #587
The changes @KateMoreva just made to the develop branch of mobie-io, mean that these tests pass now. I would still wait for the other reading issues to be fixed though / for me to check the writing.

[2022-01-27 15:27] constantinpape commented on #572
Yeah, I also have the feeling that we can't fully trust n5-zarr in writing the data yet. It should be added to zarr-implementations to ensure that it really conforms to the zarr standard: https://github.com/zarr-developers/zarr_implementations/issues/54.
I will add big endian support in z5 in the meantime so that we can also read it in there: https://github.com/constantinpape/z5/issues/196.

[2022-01-27 17:56] K-Meech commented on #572
Alright - I think I've got it now! This was actually a problem with the modifications I made to code from BigDataViewer for writing the different scale levels. Here: https://github.com/mobie/mobie-io/blob/develop/src/main/java/org/embl/mobie/io/n5/util/ExportScalePyramid.java#L152 there's a 'loopBack' where previously written levels are accessed (but only when writing very downsampled levels!). I

[2022-01-28 17:34] #585 closed

[2022-01-28 17:34] #571 closed

[2022-01-30 10:22] tischi opened #591 "Create a project with Java scripting"
How are you doing in terms of Java API for the ProjectCreator?
It would be really good if one could create/edit a project by means of Java scripting (Groovy or Jython).

[2022-01-31 09:18] K-Meech commented on #591
Good point! Do I need to do anything extra to make it available via Groovy or Jython? I think most of the functions are already there on the Java side + I could easily add a page to mobie.github.io to show how to do this.

[2022-01-31 10:04] tischi commented on #591
You do not need to do anything special!

If the Java API works you just create an example script and test that it works in the Fiji script editor in MoBIE-beta.

This would be super useful for larger projects!

[2022-02-04 14:39] tischi opened #595 "ProSPr GeneSearch for transformed sources"
An issue is that one should _not_ open "raw" prospr sources (as I currently do), but the views, which could contain additional transformations. Since the prospr sources are currently not transformed on the view level it is not yet critical and we could merge it as is and make a "bug" issue.

In fact, looking at the code, this is an interesting example of what we discussed the last days during the

[2022-02-04 16:33] #570 closed

[2022-02-06 14:42] tischi commented on #562
@vzinche It turns out that it would be quite some work to automatically determine a good looking scale bar. Also, I am afraid that different people will have different taste and requirements. I thus [just changed the screenshot GUI](https://github.com/mobie/mobie-viewer-fiji/commit/4a80a45d97b6506df878d750189c5a84128ec5bc), hinting at the option to add a scale bar:

<img width="484" alt="image" sr

[2022-02-08 11:29] vzinche commented on #562
I guess you are right with taste and requirements. I like the BDV one, but for the ImageJ one it might really make sense to adjust it manually. But adding this hint is definitely a good idea.
Btw, is it expected that it only works in mobie-beta for me? In the main mobie it somehow gets the screenshot size in pixels.

[2022-02-08 13:02] tischi commented on #562
I am not sure about "expected", but in general MoBIE-beta should be better than MoBIE.

[2022-02-08 13:02] #562 closed

[2022-02-11 13:36] #589 closed

[2022-02-14 08:54] tischi opened #598 "GeneSearch: Add Test"

[2022-02-14 09:37] tischi opened #599 "Automatically split and add multi-channel images"
@K-Meech

I guess multi-channel support is not enable yet?

Could we at least throw a more informative error?

<img width="671" alt="image" src="https://user-images.githubusercontent.com/2157566/153838195-caf08a56-cce5-4cd7-b30a-87f72193bf9d.png">

[2022-02-14 10:15] K-Meech commented on #599
@tischi - I'm working on this now. We already have an issue for this here: https://github.com/mobie/mobie-viewer-fiji/issues/586. So I'll close this one.

[2022-02-14 10:15] #599 closed

[2022-02-14 10:43] K-Meech commented on #586
@tischi I already have a working version of this that splits the multi-channel image, and adds each with the suffix _ch1, _ch2 etc. The issue is that this complicates the logic for being able to overwrite images.

E.g. say you write an image with 3 channels, as imageName_ch1, imageName_ch2, imageName_ch3. Then, you want to overwrite with the same imageName, but only 2 channels. Should it recognise

[2022-02-14 11:16] K-Meech commented on #583
@constantinpape - how are units handled in python project creation? If someone adds an image with micron units, and another in nanometer - do you convert? Do you only accept certain strings for units? E.g. micron vs micrometer?

[2022-02-14 12:15] tischi commented on #586
Good points!
Maybe then we just don't support this and show a more informative error?
`IJ.showMessage("You image ...; [ Image > Color > Split Channels]");`

[2022-02-14 12:49] K-Meech commented on #586
Yes, I think this is the easiest option for now. I'll make a PR to add this message.

[2022-02-14 16:11] #586 closed

[2022-02-15 11:25] K-Meech opened #602 "Support time properly in project creator"
I currently don't read the ImagePlus 'frame interval', when converting. So anything other than 1 frame == 1 second, will be scaled wrong in the output.

[2022-02-15 12:00] #590 closed

[2022-02-15 12:00] #579 closed

[2022-02-15 12:02] K-Meech commented on #412
We split the affine transform into 3 rows in: https://github.com/mobie/mobie-viewer-fiji/pull/601
I think this is good enough for now, so I'll close this issue. Feel free to re-open.

[2022-02-15 12:02] #412 closed

[2022-02-15 13:38] tischi commented on #602
I would still write it even though BDV cannot (yet) consume this, because, being optimistic, also other platforms than MoBIE/BDV may be able to open such data in the future.

[2022-02-15 14:13] K-Meech commented on #602
Ok - sounds good. I'll write this for ome-zarr, but not for n5 (as I don't think there's a place for it to go in the xml?)

[2022-02-15 14:23] tischi commented on #602
Correct, there is no place for it in the BDV-XML, afaik.

[2022-02-17 11:34] K-Meech commented on #602
This was added in https://github.com/mobie/mobie-io/pull/69

[2022-02-17 11:34] #602 closed

[2022-02-18 15:29] K-Meech commented on #583
Ok - I've started looking into this. With the suggestions from the forum thread, I can convert between the different units now / check if different units are equivalent.
I don't think it's a good idea to hard-code a specific unit for project creation (e.g. micrometer). If you use MoBIE for something that's a lot bigger, like plants etc, this will get pretty annoying. We could instead specify a cer

[2022-02-18 15:46] tischi commented on #583
I think the easiest may be for now:

1. take the first unit that is acceptable (UTF8) as the `projectVoxelUnit`
2. throw an error when an image is added where `imp.getUnit() != projectVoxelUnit` or where `! imp.getUnit().isUTF8()`

[2022-02-18 20:45] tischi opened #606 "Save current view: add new view to UI"
@K-Meech

Could you try to change the code such that `Save current view` also adds the view to the MoBIE UI? (1) I think this is more intuitive. (2) I would need this for this: https://github.com/mobie/mobie-viewer-fiji/issues/605, because otherwise one cannot access the cropped source.

[2022-02-21 09:49] K-Meech commented on #606
Yes - sounds good, I'll add this. Should this only happen when you save directly to the project, or also when you save to an arbitrary location on the filesystem?

[2022-02-21 10:30] tischi commented on #606
Thanks!
I think it should always happen.

[2022-02-22 15:02] #606 closed

[2022-02-23 10:55] constantinpape opened #610 "Segmentation is not displayed properly in current MoBIE beta"
For one of my current projects the segmentation is not displayed correctly in MoBIE-beta any more, but works on MoBIE main:
(upper is main, lower is beta)
![jil-seg-main](https://user-images.githubusercontent.com/4263537/155305309-f596f273-c26d-48c6-a306-2b2990e1165a.png)
![jil-seg-beta](https://user-images.githubusercontent.com/4263537/155305333-83d59592-fa68-492a-b5ee-033434a5a0c2.png)

This pro

[2022-02-23 12:59] tischi opened #611 "Project creator does not remember uiSelectionGroup"
<img width="240" alt="image" src="https://user-images.githubusercontent.com/2157566/155324021-2e4cff8e-d46e-4a2f-a35d-c458f9d7df89.png">

[2022-02-23 13:06] tischi opened #612 "Project creator does not write axes scale in OME.Zarr"
I tried writing OME-Zarr, but I get:

[code]

I think it does not write the `scale` (voxel size) at all...

ping @constantinpape @KateMoreva

[2022-02-23 13:27] constantinpape commented on #612
It's there:
[code]

[2022-02-23 13:28] constantinpape commented on #612
(but it has a scale of 1 per axis, not sure if this is what you want; but then this is another issue than what you describe)

[2022-02-23 13:29] constantinpape commented on #612
Nore that it also does not write a proper unit:

(I have reopened since there might still be some things to fix, just not the original issue)

[2022-02-23 13:31] tischi commented on #612
OK, it's there but wrong :)

- [ ] unit is missing
- [ ] scale is missing (uses default(?) 1.0)

[2022-02-23 13:54] K-Meech commented on #612
I can't reproduce this on my computer with the latest MoBIE-beta version. @tischi - what does the unit/scale look like under Image > Properties.. in ImageJ for this image?

[2022-02-23 14:09] tischi commented on #612
me culpa.

[2022-02-23 14:15] tischi opened #613 "Project Creator: Image dimensions"
@constantinpape @K-Meech
I am writing a 2-D image and I am getting this:

[code]

1. Is this on purpose that it is written as a 3-D image?
2. What about the down-sampling scales? ...there is nothing to downsample in the z-direction...

[2022-02-23 14:25] K-Meech commented on #613
1. Yes - I'm writing it as a 3D image, because a lot of the writing code is the same as N5. I don't think N5/bigdataviewer supports not having 3 spatial dimensions? So it seemed easier to just write a z dimension of 1 for this case.
2. This is related to this issue: https://github.com/mobie/mobie-viewer-fiji/issues/179 There was a lot of discussion on the BigDataViewer issue too: https://github.co

[2022-02-23 14:38] tischi opened #614 "Project creator: default signin region"
@constantinpape

Should we set the default S3 SignIn region to `""`?

[2022-02-23 14:46] constantinpape commented on #614
yes, that's ok

[2022-02-23 14:48] K-Meech commented on #614
I'll add this to the PR I'm currently working on

[2022-02-23 14:57] K-Meech commented on #614
@constantinpape Is there somewhere to write the signing region for ome-zarr? At the moment, I only add the "s3Address" into the dataset.json. (for n5 the signing region  goes in the xml)

[2022-02-23 15:21] tischi opened #615 "Fix spec for folder structure and relative paths"
Right now I have in the Java code:

[code]

I guess that's maybe still fine, but we should be clear about the relative paths of the images.
I guess they should be relative to wherever **project.json** lives?!

@K-Meech

[2022-02-23 15:24] tischi commented on #615
In fact I have code for all the "locations":

[code]

But this can _only add_ "data" and not remove it in case it has been added to the relative paths.
@K-Meech I have a feeling you should remove "data" from the relative paths that you auto-generate in the project creator.

[2022-02-23 15:32] constantinpape commented on #615
Sorry, I haven't followed much of the discussion, but please don't change the code that you have highlighted here, Tischi. This is actually well thought out to support opening with and without a `data` folder.

[2022-02-23 15:37] constantinpape commented on #615
(and whatever the issue you are having is I am 99% sure it's not due to this code)

[2022-02-23 15:43] K-Meech commented on #615
Yep - it's in the project creator code! This part will stay as-is.

[2022-02-23 16:23] tischi commented on #613
I think we should test this.

I am pretty sure that the code of @KateMoreva can also read 2-D images into BDV.

[2022-02-23 16:43] tischi opened #617 "ViewsSaver API"
@K-Meech

To automatically save views I would need three new public methods in `ViewsSaver`:

[code]

Could you please add those?

They should return `false` if `overwrite` was `false` and the `viewName` exists already and they could thus not save it.

Sounds good?

[2022-02-23 16:44] constantinpape commented on #613
Yes, it can. For example: https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/yx.ome.zarr

[2022-02-23 16:44] tischi commented on #617
I updated the comment above (in case you look only at the mail).

[2022-02-23 16:55] K-Meech commented on #613
Yes, it can be read. The issue is that the core of the ome-zarr writing code, is a lot of N5 writing code with small changes. Therefore, to write only 2D I'd need to make more extensive changes. I can look into it, but it will take a bit of time to fix.

[2022-02-23 17:04] constantinpape commented on #613
Ok, then I think we should move ahead with the release without changing this.
(Eventually it would be nice to have though.) Note that in this context the `is2D` flag is also relevant: https://github.com/mobie/mobie.github.io/blob/master/schema/dataset.schema.json#L11-L14

[2022-02-23 17:28] constantinpape commented on #614
Done: https://github.com/mobie/mobie.github.io/commit/067bd401e34603e0c9c28d04c240500d19b3a996
The signingRegion can now be added like this:
[code]
(Note that it is optional)

[2022-02-23 17:51] tischi commented on #617
Probably better than returning a boolean would be for your methods to throw a `FileAlreadyExistsException`. Then the person (me) calling these methods can decide what to do in this case.

So, for example:

[code]

Or something like this...

[2022-02-23 18:51] tischi commented on #613
I am also not so sure whether we actually may want to save it 3-D in order to be able to assign a voxel size (for rendering) in z.

See here: https://github.com/ome/ngff/issues/103

[2022-02-23 21:12] constantinpape commented on #613
Indeed, to specify the slice thickness we need to save it as 3d data with a singleton dimension

[2022-02-24 08:12] tischi commented on #613
Then let's leave it as is.

[2022-02-24 11:45] tischi commented on #617
@K-Meech Should I work on it (you are busy, right)?

[2022-02-24 12:56] tischi opened #619 "New spec for crop transform"
[code]

@constantinpape, @martinschorb  what do you think?

[2022-02-24 13:03] tischi commented on #619
I think this is better as it is backwards compatible:

[code]

[2022-02-24 13:06] martinschorb commented on #619
don't you want to avoid `affine` to not confuse it with the `affine` source transform?

[2022-02-24 13:12] K-Meech commented on #617
That would be great - thanks!

[2022-02-24 13:20] tischi commented on #619
@martinschorb I discussed with Constantin and we think `affine` here is a good option.

Also, I think the "bug" that we saw earlier this week was due to something else.
Could you please change the "TEST_new_grid" accordingly such that we could try?

[2022-02-24 13:22] martinschorb commented on #619
I find it confusing to have identically named keys with different schemas. This issue we already have with the sources lists and this inconsistency is quite annoying.

[2022-02-24 13:28] constantinpape commented on #619
I would be ok with this here, because these names appear on very different levels. But I am pretty agnostic here since it's a new key being introduced, so go with whatever name you like.

But we need to keep the names for `min`, `max`, `centerAtOrigin` and all the source related things to be backward compatible.

[2022-02-24 13:39] martinschorb commented on #619
Agree.
My problem with this is that at the parent level `sourceTransforms` there is already a spec for `affine` that contains transformation information as a nested object.
I also find it extremely confusing that different `sourceTransforms` entries (`affine` or `crop` vs. `grid` or `transformedGrid`)  have different specs for their `sources`. (List vs. List of Lists)
Using dedicated key names wit

[2022-02-24 13:44] constantinpape commented on #619
This is due to the nature of the transformations and not something we can fix in the short-term. Note that users should not interact with the spec on this level in any case, but rather generate it with mobie-fiji or with the python library.
And developers will need to study the spec description if they want to understand it.
(Also this is largely due to complications in how to specify the grid; we

[2022-02-24 13:47] martinschorb commented on #619
I am advocating for a bit more specific keys.
`cropAffine` or `boxAffine` just makes things clearer to distinguish from `affine`. The same would hold for something like `gridSources` vs. `sources` ; but here we obviously would run into a backwards-compatibility issue.

[2022-02-24 13:50] constantinpape commented on #619
Fine with me, please let me know what you want here, @tischi.

Yeah, this is too much work to change now and would require a proper version bump of the spec, if you want you can open a separate issue in mobie.github,io about it so that we can keep track of it.

[2022-02-24 13:58] tischi commented on #619
I changed it to `boxAffine`.
Could you please update TEST_new_grid

[2022-02-24 14:09] martinschorb commented on #619
done

[2022-02-24 14:34] constantinpape commented on #619
I have also updated the jsonschema accordingly: https://github.com/mobie/mobie.github.io/commit/fcd9416d04b97e089d3a315274cf73865b3f4d00

[2022-02-24 14:42] tischi opened #620 "JSON Spec for sources[] and sources[][]"
Agree.
My problem with this is that at the parent level `sourceTransforms` there is already a spec for `affine` that contains transformation information as a nested object.
I also find it extremely confusing that different `sourceTransforms` entries (`affine` or `crop` vs. `grid` or `transformedGrid`)  have different specs for their `sources`. (List vs. List of Lists)
Using dedicated key names wit

[2022-02-24 14:43] tischi commented on #620
I agree, it would be nice to have two different names here.

[2022-02-24 14:45] constantinpape commented on #620
Yeah I agree, but this is a bigger operation and I don't have time to work on it on the python side now.

[2022-02-24 17:30] K-Meech opened #621 "N5 projects made with project creator can't be opened from S3 (private bucket)"
Trying to open a private project with N5 images directly from S3, with a command like so:
[code]

gives 403 exceptions as below. This doesn't happen if exactly the same project is made with OME-ZARR images instead. @tischi - have you seen the same issues with N5 projects?

[code]

[2022-02-25 07:55] tischi commented on #621
Nope. I don't even know what `spimDataServer` is ...
I think we have to debug into where exactly this error happens.
Can you post more of the error message?

[2022-02-25 09:58] K-Meech commented on #621
I looked into this a bit more - and it can read the project.json / dataset.json, but fails when it tries to read the image xml. It errors at this line: https://github.com/mobie/mobie-io/blob/develop/src/main/java/org/embl/mobie/io/n5/openers/N5S3Opener.java#L103 . I think because it doesn't use the access key/code.

The full error is below:
[code]

[2022-02-25 12:58] tischi opened #623 "Project 2D?"
@K-Meech

I think we should give the user the choice whether a created project is 2D.

For example, I have a use-case where I start of with only 2D images, but then I would like to stack them in 3D (serial section TEM).

[2022-02-25 15:49] tischi opened #624 "We cannot always close the ImgLoader"
[code]

If one `imgLoader` serves several `sourceAndConverter` (such as for example when creating a `MaskedSource` from a `Source`) than this is not correct and can lead to the disappearance of that other source from BDV.

[2022-02-25 15:56] tischi commented on #624
Maybe we also have to add to the

MoBIE.sourceNameToImgLoader;

not only when loading a source but also when showing a view of any source, like this we could know whether the same image loader serves several sources.

A list `imgLoaderToSourceName` or even better `imgLoaderToSourceAndConverter` may be handy for this.

[2022-02-25 16:07] tischi commented on #624
Indeed, _not closing_ the `imgLoader` would fix the issue.

@K-Meech I think we added this "because of you" 😄
Could you describe again in which circumstances this was necessary?

Was it important get rid of the fetchers are was it an issue of the cache (memory)?

[code]

For the fetchers we may not need it anymore as we have shared queues now...maybe...

[2022-02-25 16:27] K-Meech commented on #624
Yes this was probably related to this issue: https://github.com/mobie/mobie-viewer-fiji/issues/329
Leaving the imageloaders open + not clearing the caches was consuming a lot of memory!

[2022-02-25 17:02] K-Meech opened #625 "Handling expected exceptions in project creator"
Related to: https://github.com/mobie/mobie-viewer-fiji/pull/622
We should be consistent in how we handled expected exceptions e.g. if a view name already exists. Either we throw an exception, or just log a message and return.

I'm not sure what's best here. Previously,  I was avoiding errors popping up in the log for stuff like this (e.g. names already existing), as I get the impression that peopl

[2022-02-25 17:05] K-Meech commented on #623
I guess this could be chosen right at the start (when the project is first created). Then for a 3D project we allow 2D + 3D images to be added, and for 2D, only allow 2D.

[2022-02-28 10:30] K-Meech commented on #621
Yes - I think that's it (the bucket is protected with keys). I think this is something that would need to be fixed in the SpimDataOpener in the mobie-io repo. I'll make an issue there.

[2022-03-01 10:46] tischi commented on #624
I removed the closing of the image loaders for now from `develop`: https://github.com/mobie/mobie-viewer-fiji/commit/d9edcdba6727f4504263fc910e0ff17453dd9ccd

(probably a bad idea, but fixing this another way feels like quite some work...)

If you have a chance to test what happens now would be interesting. But first we would need to see whether for the platy-browser image data format we actually

[2022-03-02 11:50] K-Meech commented on #611
This is solved now.

[2022-03-02 11:50] #611 closed

[2022-03-02 11:51] K-Meech commented on #583
The project creator now enforces a particular unit (determined by the first image added)

[2022-03-02 11:51] #583 closed

[2022-03-02 14:00] martinschorb opened #627 "Add OME-Zarr files - Project creator"
I tried to add a couple of OME-Zarr images to a MoBIE project. I used the exporter shipped as part of BDV in Fiji to create those.

The project creator expects an XML file when adding images. The exporter however, does not create such.

Does MoBIE need an XML?

[2022-03-02 14:04] constantinpape commented on #627
Can you please specify exactly what you mean by this? What is the exact name of the plugin / how do you open it in the plugin menu?

MoBIE does not need an xml for ome.zarr.

[2022-03-02 14:06] martinschorb commented on #627
plugins -> BigDataViewer -> OME ZARR -> Export current image as OME Zarr

[2022-03-02 14:09] constantinpape commented on #627
I see. This plugin is part of the MoBIE installation and managed by @K-Meech. We have recently changed a few things in there for ome.zarr v0.4 export. This is not fully released (release is planned in the next few days). I can ping you once that is done; it probably doesn't make much sense to test with the current release.
(Please correct me if anything I wrote here is wrong, @K-Meech).

[2022-03-02 14:12] martinschorb commented on #627
OK, I will try to import them using mobie-utils-python.

[2022-03-02 14:14] K-Meech commented on #627
Yes - that's right. It would be best to wait for the full release, as some parts have been updated.
It should already be supported though if you go to 'add bdv format image', and make sure you select 'ome.zarr' as the image format in that dialog. (at least on MoBIE-beta)

[2022-03-02 14:15] martinschorb commented on #627
OK, will try Beta and let you know.

[2022-03-02 14:31] martinschorb commented on #627
Confirm Beta OME-Zarr works! 🚀

I noticed some sampling issue in the downsampled chunks. This can be noticed in the corners:
![Screenshot 2022-03-02 at 15 25 12](https://user-images.githubusercontent.com/35071867/156380541-6244b354-ae58-44ef-9578-cc97b75ab8a3.png)

However, the project (`/g/emcf/Hamburg_XRay/MoBIE`) cannot be opened in MoBIE (release).

[2022-03-02 14:40] K-Meech commented on #572
This is fixed now.

[2022-03-02 14:40] #572 closed

[2022-03-02 14:42] K-Meech commented on #627
This chunking was an issue here: https://github.com/mobie/mobie-viewer-fiji/issues/572 which is now resolved in the latest version.
I think the version on MoBIE-beta has this fix, so if you write it again, it should hopefully disappear. Otherwise, you will have to wait for the full release.

[2022-03-02 15:11] CamachoDejay opened #628 "Making project creator scriptable: Use case Array Tomography"
Hej,
I am trying to create a project for an image dataset that comes from Array Tomography. The data looks something similar to what is shown below:
![array](https://user-images.githubusercontent.com/4221906/156389111-f93fb1df-4af4-4362-85f5-fe3aa8eb3159.png)

The data is initially in a 2D format, however I would like to, for example, load the image into FIJI, annotate the image using the ROI mana

[2022-03-02 15:39] K-Meech commented on #628
Hi @CamachoDejay - yes, scripting tools would be very helpful for this! I'm actually working on this already - you can already check out this very short example in the docs: https://mobie.github.io/tutorials/scripting_project_creator.html
I'm going to expand these examples this week + add more documentation, so I'll get back to you soon.

[2022-03-03 06:49] tischi opened #630 "Add, view, remove all buttons"
@constantinpape @martinschorb @K-Meech

I maybe had an idea:

<img width="540" alt="image" src="https://user-images.githubusercontent.com/2157566/156509976-82731527-501a-4016-bf56-4848cff27b37.png">

What about instead of only the [view] button there would also be an [add] button.

The [view] button would behave as if the view was "exclusive" and automatically remove all currently present sources

[2022-03-03 10:09] #627 closed

[2022-03-03 13:43] tischi commented on #630
Should we call it `add` now? It used to be called `view`.
I feel would leave it as `view` which is more neutral in a sense that it could mean that the view is exclusive.

[2022-03-03 13:46] martinschorb commented on #630
what about `add view` ?

[2022-03-03 14:13] tischi commented on #630
`add view` is a bit long...

<img width="550" alt="image" src="https://user-images.githubusercontent.com/2157566/156581624-3a7e8d35-9b22-48ff-b473-2e9ed666d995.png">

I called the new button now `clear`. Is that the best name? It will remove all currently shown images from the viewer and close the ImgLoaders....

[2022-03-03 14:18] K-Meech commented on #630
```clear``` sounds good to me

[2022-03-03 14:59] martinschorb commented on #630
I suggest moving the clear button down below `location` to just above the sources/view list. (in the center where there is the `...` now)

[2022-03-03 15:47] K-Meech commented on #623
As the 'is2D' is specific for each dataset, I think I'll add this as a checkbox to the dialog for making a new dataset.

[2022-03-03 15:54] tischi opened #633 "Move clear button down below `location`"
I suggest moving the clear button down below `location` to just above the sources/view list. (in the center where there is the `...` now)

_Originally posted by @martinschorb in https://github.com/mobie/mobie-viewer-fiji/issues/630#issuecomment-1058127345_

[2022-03-03 16:53] martinschorb opened #634 "float contrast limits crash"
Hi,

I have generated float OME-Zarr files. I can nicely open them in MoBIE-Beta, but when clicking `B` to change brightness it crashes.

Does that beta already contain the latest code supporting float type and negative intensities?

If you want to try, here's the files I just created using mobie-python-utils.

[code]

[2022-03-03 16:58] tischi commented on #634
Works 🥳

<img width="653" alt="image" src="https://user-images.githubusercontent.com/2157566/156613367-d7b8b1eb-a310-477b-a3cf-74375cbef114.png">

MoBIE-beta is not updated yet.

[2022-03-03 17:01] tischi commented on #634
But VoxelSize is wrong (**pixels**)!
Is it also wrong in the OME-Zarr?

[2022-03-03 17:17] martinschorb commented on #634
I provided
[code]

to `mobie.add_image`

@constantinpape am I doing something wrong?

[2022-03-03 17:17] martinschorb commented on #634
script is here:
https://github.com/mobie/hamburg-xray-datasets

[2022-03-03 17:42] constantinpape commented on #630
I would also leave it at `view`.

I agree.

[2022-03-03 17:42] K-Meech commented on #634
It might be that the mobie-io fix for reading the unit isn't on MoBIE-beta yet. I think the last github actions run on mobie-io failed - so I don't think the latest is on maven yet either. The version might need bumping in mobie-io again.

[2022-03-03 17:54] constantinpape commented on #634
@martinschorb your script is correct and the data is as well (I just checked on `/g/emcf/Hamburg_XRay/MoBIE_new`). @tischi are you sure that you are the latest mobie.io develop branch according to https://github.com/mobie/mobie-io/issues/82#issuecomment-1056647104 it should be fixed there.

[2022-03-03 23:39] KateMoreva commented on #621
@K-Meech, could you please try again with 1.2.6-SNAPSHOT mobie-io?

[2022-03-04 09:47] K-Meech commented on #621
Thanks @KateMoreva - it gets further now, but errors with this:
[code]
It's getting to this line: https://github.com/mobie/mobie-io/blob/develop/src/main/java/org/embl/mobie/io/n5/loaders/N5ImageLoader.java#L232 and then erroring because the ```dataType``` comes back as null.

[2022-03-04 11:12] tischi commented on #634
works!

[2022-03-04 11:12] #634 closed

[2022-03-04 17:26] #623 closed

[2022-03-07 10:04] tischi opened #636 "Test failure for loading bdv n5 from s3"
This test throws an error when running with the current `develop` branch: `TestRemotePlanktonS3`

`https://s3.embl.de/plankton-fibsem/emiliania/images/bdv-n5-s3/raw.xml`

[code]

ping @constantinpape

[2022-03-07 10:16] K-Meech commented on #636
This looks very similar to the issue I'm having here: https://github.com/mobie/mobie-viewer-fiji/issues/621 @KateMoreva - would you have time to take a look with ```https://s3.embl.de/plankton-fibsem/emiliania/images/bdv-n5-s3/raw.xml```?

[2022-03-07 10:25] K-Meech opened #637 "Github actions failures"
All the 'build PR' runs succeed, but the 'build' runs fail. I.e. it works when a pull request is made, but then fails when it is merged into the develop or main branch.

It errors with:
[code]

[2022-03-07 11:15] tischi commented on #637
I am not sure that's it, but in general, only the first build will pass, because then the new jar cannot be shipped to maven anymore, because it does exist already (maybe unless we mark it as SNAPSHOT).

[2022-03-07 11:26] K-Meech commented on #637
Yes - that will be some of the failures (when we don't increase the version, or -SNAPSHOT it). But, the last version on maven is 2.1.4, and develop is on 2.1.6 - so it seems like it really is failing in some cases...

[2022-03-07 11:30] tischi commented on #637
Then it is probably the failure with the bdv.n5 plantkon?
You could check,e .g., here: https://github.com/mobie/mobie-viewer-fiji/runs/5446419586?check_suite_focus=true

[2022-03-08 12:25] tischi opened #638 "Error opening platybrowser"
@KateMoreva (@constantinpape @K-Meech )

On the `develop` branch this throws me an error:

[code]

Could it be that there is a general bug for opening N5 data from S3 in mobie-io?

[2022-03-08 12:26] constantinpape commented on #638
Yes, it looks like this is currently broken, see this issue and also
https://github.com/mobie/mobie-io/issues/83
https://github.com/mobie/mobie-viewer-fiji/issues/636

[2022-03-08 13:01] martinschorb opened #639 "Project Creator trouble"
Hi,

- Mac tested on 10.15.6 and 11.6
- new Fiji, MoBIE release
- Create/Edit MoBIE project
- add source
- bdv
- link/move, click OK
- This should open a file browser to select the bdv xml
- instead all Fiji freezes

[2022-03-08 13:20] martinschorb commented on #639
Update:
all release versions we tried (Windows, Mac,...) refuse to load local projects created with the project creator.

[2022-03-08 14:08] K-Meech commented on #639
Thanks @martinschorb - do you see these issues with MoBIE-beta too? The main MoBIE release is quite far behind, so we might just need to do another release soon.

[2022-03-08 14:28] K-Meech commented on #639
Do you have the issue with opening local projects created with project creator too on MoBIE-beta? Or that's only on the release version?

For the file browsing, I can't reproduce this on Windows so it's a Mac specific issue. @tischi - would you have time to look into this with your mac? [This](https://github.com/mobie/mobie-viewer-fiji/blob/develop/src/main/java/org/embl/mobie/viewer/projectcreato

[2022-03-09 09:35] KateMoreva commented on #636
TestRemotePlanktonS3 should be able to open again.

[2022-03-09 09:42] tischi commented on #636
@KateMoreva Could you please add opening of `https://s3.embl.de/plankton-fibsem/emiliania/images/bdv-n5-s3/raw.xml` as a test to mobie-io?

[2022-03-09 09:44] tischi commented on #636
@constantinpape Or is that a project that could change? Not sure how stable this project is... In fact, the platybrowser project also is `bdv-n5-s3`, isn't it? Isn't there a test in mobie-io for opening on of those images?

[2022-03-09 10:12] constantinpape commented on #636
It's stable and can be used for testing.

Yes it is.

[2022-03-09 10:40] martinschorb opened #640 "adjust contrast for float data"
Hi,

the contrast adjustment for float data in Beta still seems broken.

`/g/emcf/Hamburg_XRay/MoBIE_new`

[2022-03-09 11:15] constantinpape commented on #640
I think that we don't have this in any release of MoBIE / MoBIE-beta yet since we are waiting on issues with opening n5 data from s3 to be resolved, e.g. https://github.com/mobie/mobie-viewer-fiji/issues/638. @KateMoreva is working on this; we will ping you as soon as the new release is there and can be tested.

[2022-03-09 20:41] imagejan commented on #637
@K-Meech @tischi you shouldn't be committing release tags (i.e. those _not_ containing `-SNAPSHOT` to the main branch. Your `pom.xml` currently has:

https://github.com/mobie/mobie-viewer-fiji/blob/6444081cfa07c1e9389a7115fc7206f2802d882a/pom.xml#L12

If you want to make use of the SciJava tooling for releases, you need to always have `-SNAPSHOT` versions. The `release-version.sh` script will make

[2022-03-09 20:46] imagejan commented on #637
Also: I noticed that you don't define `ciManagement` in your POM:

https://github.com/mobie/mobie-viewer-fiji/blob/6444081cfa07c1e9389a7115fc7206f2802d882a/pom.xml#L72-L74

It seems to didn't set up CI with [`github-actionify.sh`](https://github.com/scijava/scijava-scripts/blob/main/github-actionify.sh).

[2022-03-10 09:16] K-Meech commented on #637
Thanks @imagejan for the info! So we should keep everything as -SNAPSHOT, then run ```release-version.sh``` locally and push this to the master branch to make a release? Is that right?

Also, what should go in the ```ciManagement``` field? I thought we had set it up with github-actionify, so strange it is empty.

[2022-03-10 09:24] K-Meech commented on #621
This is fixed now - thanks @KateMoreva!

[2022-03-10 09:24] #621 closed

[2022-03-10 09:26] constantinpape commented on #638
Hey @tischi @K-Meech,
is this issue also fixed now?

[2022-03-10 09:35] K-Meech commented on #638
This works now for me

[2022-03-10 10:22] K-Meech opened #642 "Use signing region when opening ome-zarr projects"
There is now a signingRegion field for ome-zarr like so:
[code]

At the moment this is ignored when opening these files.

[2022-03-10 10:22] #614 closed

[2022-03-10 10:25] imagejan commented on #637
`release-version.sh` will take care of pushing the tag (provided you have configured push access correctly from the command line).

It seems @tischi tried to set it up manually in https://github.com/mobie/mobie-viewer-fiji/commit/ecfc0c202c2911f1274a5976e80c5ffba8f0b209

I suggest re-running `github-actionify.sh`, that will (hopefully) fill the `ciManagement` tag as required.

[2022-03-10 10:50] constantinpape commented on #638
I can confirm that it works with the new MoBIE-beta, so closing this :).

[2022-03-10 10:50] #638 closed

[2022-03-10 12:09] K-Meech commented on #637
Ok - thanks @imagejan

@tischi @constantinpape @KateMoreva - what are  your preferences here (for the mobie-viewer-fiji and mobie-io repos)? To use the scijava way, we would need to keep everything as -SNAPSHOT and then use ```github-actionify.sh``` to make any releases.  If we bump the patch version for every fix though, this means we'd have to run this script a lot which is not ideal...

[2022-03-10 12:20] tischi commented on #637
I think having SNAPSHOT versions and using the Scijava scripts is good.

Using SNAPSHOT will resolve the issue with the maven build failures and we will always have updated SNAPHOT versions on maven, which means that we do not have to build dependencies locally, which also means that it is not such an issue if we do not bump the patch version (which was mainly for us to keep better track).

Does t

[2022-03-10 12:22] constantinpape commented on #637
I agree that it would be good to use SNAPSHOTs and the `release_version.sh` script to make proper releases is good.

Why do you think this is not ideal, @K-Meech?

[2022-03-10 12:23] constantinpape commented on #640
@martinschorb we have released the new MoBIE-beta version. Can you please check if the issue is fixed now?

[2022-03-10 12:27] K-Meech commented on #637
Sounds good! I was only concerned that if we want to bump the patch version for every small fix, then we have to remember to run this script every time to get that on maven (as a release version). If we're happy to just keep things at SNAPSHOT, then this is no problem!

Would we then only make releases for versions that end up in MoBIE-beta, or the main MoBIE site?

[2022-03-10 12:34] martinschorb commented on #640
cool, works now. 🚀  Even inverting the contrast!

[2022-03-10 12:34] #640 closed

[2022-03-10 13:59] constantinpape commented on #637
Ideally we would make a release for all the MoBIE-beta releases and would always push the exact same version onto MoBIE main (but ofc not every release needs to go onto main).
Would this work with our current setup?

[2022-03-10 16:29] K-Meech commented on #637
Sounds good. Yes - that would work. I'd just need to re-run a few things to get the releases working + move both the main and beta branches to a SNAPSHOT version.

[2022-03-10 17:09] tischi commented on #639
I cannot reproduce this on my mac.

I created a new mobie project and then successfully opened it in three ways:
1. Within the Project Creator: View in MoBIE
2. Edit existing MoBIE project
3. Open MoBIE project

[2022-03-10 17:12] constantinpape commented on #639
@tischi: Did you use the latest MoBIE-beta version?

@martinschorb: Can you check if this issue still occurs with the latest MoBIE-beta? If yes, can you please make video to show how to exactly reproduce this?

[2022-03-10 17:12] tischi commented on #639
Ah, I see, it is about linking an existing image. I never did this. Also freezes for me. I will check.

[2022-03-10 17:41] tischi commented on #639
@K-Meech

If you google: JFileChooser hangs
you find a lot.

Luckily I found some (non-obvious) fix in some other code of mine.
[Now it should work](https://github.com/mobie/mobie-viewer-fiji/commit/3f036f1e5724d43461a53f913f5d3072b6e8978a).

We'll probably have to add this also to the other places where we use the `JFileChooser`. @K-Meech do you think you could refactor your code such that it alw

[2022-03-11 08:01] tischi commented on #637
Thanks @K-Meech for taking care of this!

[2022-03-11 08:08] K-Meech commented on #639
Great - thanks @tischi!  I'll look through the code and make the rest of the ```JFileChooser``` calls use this too :)

[2022-03-11 16:09] constantinpape commented on #637
With #643 merged everything should be ready for the new release (including the main release). Do you have time to do that on Monday @tischi @K-Meech? (I am happy to do testing of new releases then)

[2022-03-11 17:16] K-Meech commented on #639
This should be fixed on the current develop branch

[2022-03-11 17:16] #639 closed

[2022-03-11 17:16] K-Meech commented on #633
This is fixed on the current develop branch

[2022-03-11 17:16] #633 closed

[2022-03-12 16:45] tischi commented on #637
@constantinpape
I have no time on Monday, but I could do this tomorrow.
MoBIE-beta is fully functional now @K-Meech?

[2022-03-12 17:28] constantinpape commented on #637
That's fine, just ping me when it's ready to be tested.

[2022-03-13 09:27] tischi opened #645 "Serialization exception"
@NicoKiaru normally the below issue is solved by a `mvn clean compile`, but now it was not even working then for me. Do you have an idea how to avoid this error message in some more reliable way? We could actually also do _without_ the serialization, but somehow I remember we needed this to be compatible with the playground?

[code]

[2022-03-13 11:34] tischi opened #646 "Improve ImageJ.net website"
@K-Meech Can you edit below website? (Top right corner there is an explanation).
https://imagej.net/plugins/mobie
If so, could you improve this a little bit, e.g. by providing a link to our github.io page?

[2022-03-14 07:58] NicoKiaru commented on #645
That's weird, because it means that the class MobieBdvSupplier is accessible but not its serializer.

I can try to catch this error in https://github.com/bigdataviewer/bigdataviewer-playground/blob/94c947c2b908d8def28281c3706e0b5bca459a53/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterBdvDisplayService.java#L130

[2022-03-14 09:08] K-Meech commented on #646
It says I can't edit directly - I'd have to make a fork and then make PRs to change things.
That's fine though - I can look at this later in the week.

[2022-03-14 11:44] tischi opened #647 "Update bdv playground dependency"
https://forum.image.sc/t/help-for-abba-in-fiji-not-oppening-properly-in-new-update/64455/2

[2022-03-14 13:27] #610 closed

[2022-03-14 13:27] #617 closed

[2022-03-14 14:55] K-Meech commented on #637
This is updated now + the actions are running properly

[2022-03-14 14:55] #637 closed

[2022-03-14 14:56] K-Meech commented on #628
Hi @CamachoDejay @tischi - I updated the scripting tutorial to go through all the different functions: https://mobie.github.io/tutorials/scripting_project_creator.html . This should work on the latest version of MoBIE or MoBIE-beta. Let me know if you need anything else added/changed!

[2022-03-14 14:58] K-Meech commented on #591
I'm going to close this, as this is now possible on the latest MoBIE/MoBIE-beta - with details here: https://mobie.github.io/tutorials/scripting_project_creator.html

[2022-03-14 14:58] #591 closed

[2022-03-15 11:27] tischi opened #649 "Project creator"
@K-Meech

I am using the project creator via Java today. I will use this issue for small stuff....

[2022-03-15 11:27] tischi commented on #649
`public ProjectCreator( File dataLocation )`

Would you be fine with me renaming this to `projectLocation`? I find it more intuitive...

[2022-03-15 15:48] K-Meech commented on #649
Sorry @tischi - didn't see this. Been busy with the conference!
I think adding the ```mkdirs``` should be fine.
For the ```dataLocation``` vs ```projectLocation``` - my only issue is that at the moment, this has to be the file with the project.json in. The project creator from the gui (by default) makes the 'data' folder and puts everything inside. If you wanted to edit this, then you'd have to ma

[2022-03-15 18:13] constantinpape commented on #636
Closed in favor of https://github.com/mobie/mobie-io/issues/87

[2022-03-15 18:13] constantinpape commented on #630
Is this all implemented now, @tischi?

[2022-03-15 18:14] constantinpape commented on #619
This is done as far as I can see.

[2022-03-15 18:14] #619 closed

[2022-03-15 18:14] #613 closed

[2022-03-15 18:15] #587 closed

[2022-03-15 18:16] constantinpape commented on #558
I think this is implemented now (OmeZarrS3 with shared queue in mobie-io). Correct, @KateMoreva?

[2022-03-15 18:19] #548 closed

[2022-03-15 18:20] #285 closed

[2022-03-15 18:23] #630 closed

[2022-03-15 18:43] CamachoDejay commented on #628
Thanks a lot for the help. I will be playing with it, probably next week. I will let you know how it goes.

[2022-03-17 17:53] tischi opened #651 "Use WarpedSource instead of TransformedSource"
This will also allow handling ThinPlateSpline transforms.

[2022-03-19 17:12] tischi commented on #624
Closing, let's hope this works with the new "clear" button.

[2022-03-19 17:12] #624 closed

[2022-03-20 10:33] tischi opened #652 "Save current view: LAF"
We need to switch the LAF to MoBIE style when adding a new view:

<img width="536" alt="image" src="https://user-images.githubusercontent.com/2157566/159158256-ae46ca49-2ded-4533-bd14-c6acbd3d0956.png">

Here, the `register` `uiSelectionGroup` was added interactively and the LAF is wrong.

[2022-03-23 09:11] tischi opened #654 "Cannot open platy from i2k bucket"
@constantinpape

[ Plugins › BigDataViewer › OME ZARR › Open OME ZARR From S3... ]

`https://s3.embl.de/i2k-2020/platy-raw.ome.zarr `

Gives me:

[code]

Can you open it?

[2022-03-23 09:30] constantinpape commented on #654
Yes, I can open it:  (Somehow the default brightness is weird but otherwise it looks good)
![image](https://user-images.githubusercontent.com/4263537/159667508-015738d2-6bae-4b6a-9f19-a2484f1f6e22.png)
![image](https://user-images.githubusercontent.com/4263537/159667116-c25c9482-ca0b-4581-8835-561980a89b21.png)
This is with the latest MoBIE from the main update site.

[2022-03-23 11:10] K-Meech commented on #654
@tischi - I can open it on the current develop branch (with the same weird contrast @constantinpape sees)
Have you tried doing a ```mvn clean install```?

[2022-03-23 11:39] tischi commented on #654
Wow! I tried everything, also deleted the local maven cache and then I finally found what the issue was!

Can you see it? 😉

<img width="509" alt="image" src="https://user-images.githubusercontent.com/2157566/159691097-18e7b533-a02b-4845-b6c9-a449e7c23136.png">

[2022-03-23 11:46] tischi commented on #654
I think I found out why we have the weird contrast. I made another issue: https://github.com/mobie/mobie-io/issues/88
The data is loaded two times
<img width="718" alt="image" src="https://user-images.githubusercontent.com/2157566/159692233-d5934940-4d9d-4204-b18e-f6ac6d93b949.png">

[2022-03-23 12:24] tischi commented on #654
Hard to see, in fact, I had a white space at the end of the URL.

Google tells me the URL are not allowed to contain spaces, thus what about adding below line of code?

[code]

Or do we want to have this even deeper in the code, e.g. inside ` OMEZarrS3Opener.readURL` or even deeper? Maybe implementing some general `cleanUpURL()` function that we always call?

[2022-03-23 12:43] K-Meech commented on #654
Sounds good! If whitespaces aren't allowed in URL, then it makes sense to put it deeper inside ```OmeZarrS3Opener.readURL```, then we don't have to put it after lots of different dialog boxes. It'd be great if it would get called for opening N5 from the S3 too.

[2022-03-23 12:53] constantinpape commented on #654
I have fixed the issue with the multiple datasets and the contrast is correct now. Note that there is another small issue with this data due to missing translation in the transformations: https://github.com/mobie/mobie-utils-python/issues/48.
I will look into fixing this, but probably don't have time for it this week (and it's not such a major issue for now; once I fixed it I will replace the meta

[2022-03-25 10:02] K-Meech opened #655 "N5 files no longer change setup name to match mobie image name (project creator)"
Writing N5 files now leaves the setup name as 'channel 1' etc, rather than changing it to match the image name. This is fine for most things, but causes issues with e.g. grid views.

I'll fix this next week.

[2022-03-25 10:09] K-Meech commented on #655
Also, I should add a test for this to the project creator tests.

[2022-04-04 07:08] K-Meech commented on #655
This is fixed on the current develop branch now. @tischi - can I update MoBIE-beta to the current develop branch? Or is there anything wip on there still?

[2022-04-04 08:02] tischi commented on #655
Sure go for it!
I think in principle `develop` should _always_ be OK to be uploaded to MoBIE-beta.

[2022-04-04 08:29] K-Meech commented on #655
Ok great - I'll do that then :)

[2022-04-04 08:29] #655 closed

[2022-04-04 12:11] #654 closed

[2022-04-05 08:38] tischi opened #658 "Context Menu for Screenshot Hangs"
VisualVM gives this:

[code]

[2022-04-05 08:46] tischi commented on #658
@NicoKiaru I am launching a `DynamicCommand` here. My best guess is that it hangs in the `initialize()` method. When running in debug mode in IntellIj everything works find. But in Fiji it hangs. Do you have any experience with this?

[2022-04-05 08:59] tischi commented on #658
It is weird, because this used to work.

@NicoKiaru Did you change anything how the Commands are launched from the context menu?

@K-Meech Could you please try whether `Take Screenshot` works for you in Fiji (on your Windows computer)?

[2022-04-05 08:59] K-Meech commented on #314
This might still be an issue. Another mac user just reported this.
@tischi - could you maybe check this on your mac? You'd just need to open the project creator, click 'add' on the source row, and tell me if the dropdown menu responds or not.

[2022-04-05 09:02] K-Meech commented on #658
@tischi It works for me (on the latest mobie-beta)

[2022-04-05 09:04] tischi commented on #658
Ok, it hangs for me (MacOS).

[2022-04-05 09:05] K-Meech opened #659 "Project made with 'linking' images on Windows can't be opened on mac"
This is probably an issue with windows using \ vs mac using /.
I think Windows can tolerate opening xml files with relative paths that contain /, so could force it to be written in this way.

[2022-04-05 09:06] tischi commented on #658
@K-Meech I also added the `Take Screenshot` context menu for `Open OME-Zarr...`. Could you please try whether it works there for you as well?

[2022-04-05 09:07] K-Meech commented on #658
@tischi - yes that works too on Windows

[2022-04-05 09:39] K-Meech opened #660 "Take screenshot (multi-channel) always 16-bit"
The multi-channel screenshot is always 16-bit, even if a project only contains 8-bit images.
@tischi - Would it be possible to adapt this? It's not a big problem, but it means everything takes up more memory than it needs to.

[2022-04-05 09:51] tischi commented on #658
I removed `Initializable` from the `Take Screenshot`, but it still sometimes hangs :-(
I will try to remove the `DynamicCommand` and see whether that helps...

[2022-04-05 09:57] tischi commented on #658
Ok, also that does not help.
Now the only thing that remains special for this command is that it has
[code]
@NicoKiaru Could it be that the preprocessing of this can hang?

[2022-04-05 10:06] tischi commented on #658
OK, there was another thing. I was having two messages showing:
[code]
Commenting this out seems to fix it 🤞

[2022-04-05 10:10] NicoKiaru commented on #658
Looks annyoing... Do you have the full thread dump from visual vm?

[2022-04-05 10:12] tischi commented on #658
At the top of the issue I have posted the thread that (I think) was hanging...
I can try to put a full one later (right now I am hoping that it works without the `visibility = MESSAGE` guys...

[2022-04-05 10:52] NicoKiaru commented on #658
If it's a standard thread deadlock, normally two threads are involved. So maybe the full dump can tell us something interesting... fingers crossed

[2022-04-05 10:53] tischi commented on #658
@K-Meech I updated MoBIE-beta.
Could you please have a quick check whether the Screenshot works for you?

[2022-04-05 10:59] K-Meech commented on #658
@tischi - yes it works for me

[2022-04-05 12:09] #658 closed

[2022-04-05 20:53] tischi opened #661 "Label mask display in OME-Zarr Viewer is broken"
...this used to work. I just need to make it work again.

[2022-04-06 09:23] constantinpape opened #662 "Opening large grid view via s3 fails"
I am trying to open a large grid view via s3:
https://github.com/mobie/covid-if-project : `plate->full_grid`

Opening it fails: it takes roughly 3 minutes loading a lot of images and then just closes fiji:

https://user-images.githubusercontent.com/4263537/161942775-3b68cfed-205e-44be-b6dd-e60678499994.mp4

Note that this project can be loaded locally (but also takes quite some time) from
`/g/kres

[2022-04-06 09:37] constantinpape opened #663 "Select table position from image"
Is it possible to select a table position from the image location in the grid views?
I tried both with `Ctrl + Left` and `Shift + Left`, but it does not do anything.

For some more context: I have a grid view with a table `sites` and then activate (only) the `sites` in the image. Now I would like to somehow get from the image position to the corresponidng table row; this would be very helpful for

[2022-04-06 10:02] tischi commented on #662
Can you please add a view _without_ tables?
I think the tables take even longer than the images...
Then we can optimize image loading first and think about the tables later.

[2022-04-06 10:04] tischi commented on #663
Hm, good point. I thought this should work.
Do you have a minimal example, e.g. with only one well?
Such that I could have a look...

[2022-04-06 10:07] tischi opened #664 "Test loading many sources with new BDV"
@constantinpape

I learned that @tpietzsch is working on making BDV more performant for loading many sources.

Could you please add a view to the Covid-IF screen where we use the TransformedGrid (not the MergedGrid) and do _not_ load any tables?

Then we could use this for testing the new BDV (once this is available).

[2022-04-06 11:12] constantinpape commented on #663
If you just open the project at https://github.com/mobie/covid-if-project it will open a small grid with only 2 wells.
(view: `default`) This can be opened without issues from s3, so should be fine for you to test this.

[2022-04-06 11:33] constantinpape commented on #664
I have added `trafo-grid-no-tables` to https://github.com/mobie/covid-if-project.

Please note that this is currently not really usable: scroling and zooming takes very long + the grid layout looks weird (but that might also be an issue in the spec).

In contrast, the views with a `mergedGrid` work very nice, **if** they can be loaded (see #662).

[2022-04-06 11:38] constantinpape commented on #662
I have added `merge-grid-no-tables` now.
See https://github.com/mobie/mobie-viewer-fiji/issues/664#issuecomment-1090163185 for the corresponding transformedGrid view.

[2022-04-06 14:25] tischi opened #665 "OME Zarr opener add 2D mode checkbox"

[2022-04-06 14:43] constantinpape opened #666 "Table Annotation: annotate sources & general improvements"
I tried the table annotation for source tables now. In principle it works, but there are a few things that would be nice to improve and that could also benefit the annotation functionality in general.

## UI

The UI says `segment` everywhere. This is a bit weird when annotating sources / images, see the screenshot below.

![image](https://user-images.githubusercontent.com/4263537/161999006-07991c0

[2022-04-07 06:58] CamachoDejay commented on #628
Hi @K-Meech and @tischi,
I just wanted to pass by to let you know that the project creator scripting tool is working great form my side. I have been playing a lot with it this last week and saves a ton of time.

[2022-04-07 07:03] tischi opened #667 "Creating Grid Views via Project Creator API"
@CamachoDejay

It loos like you like to have such "grid views":

<img width="622" alt="image" src="https://user-images.githubusercontent.com/2157566/162139401-9661af83-d301-486a-851b-5f5cdf879b57.png">

@CamachoDejay How do you currently achieve this?

I am asking, because we have some dedicated functionality to automatically put many images into a grid, but I am not sure we yet make this convenie

[2022-04-07 07:05] constantinpape commented on #667
@KateMoreva has already put some work into doing this programatically, but we haven't merged it yet, see #416.

[2022-04-07 07:13] K-Meech commented on #667
Yes - there's nothing in project creator for grids yet. We'd need to merge @KateMoreva 's work first!

[2022-04-07 08:52] tischi commented on #663
It looks like this is not supported yet.

It also looks like there is no quick fix but one should spend at least half a day to fix this properly.

### Current

The `SliceViewer` (i.e. BDV) implements this code:
[code]

`viewManager.getSegmentationDisplays()` only returns the currently visible `SegmentationSourceDisplay`, which is used for segments in label mask images, but whole images (e.g. in a

[2022-04-07 09:02] tischi commented on #662
My first suspicion was that the multi-threading is different for local and remote, but it looks like we have the `sharedQueue` implemented for both `OmeZarr` nor `OmeZarrS3`:

https://github.com/mobie/mobie-io/blob/ab0361989b4e1e9f1e6187a18b48e59cb50bd69b/src/main/java/org/embl/mobie/io/SpimDataOpener.java#L64

However, not yet for `BdvOmeZarr` nor `BdvOmeZarrS3`...

See also here:
https://github.

[2022-04-07 09:03] constantinpape commented on #663
That sounds good! I guess one question is what happens if multople `AnnotatedRegionDisplay`s are activated, e.g. a segmentation and a sourceDisplay. How does this currently work for the case when two (overlapping) segmentations are active?

[2022-04-07 09:07] tischi commented on #662
It does use this code `OMEZarrS3Opener.readURL(path, sharedQueue)` but it looks like that this is not working properly (too many Fetcher threads):

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/2157566/162163364-512a2309-fd65-48a8-9934-bea86836fe78.png">

@KateMoreva could you please double-check whether the `sharedQueues` are really used in ``OMEZarrS3Opener.readURL

[2022-04-07 09:10] constantinpape commented on #662
I don't think we need the shared queues for this, since both data formats are not needed any more since we have ome.zarr v0.4, which can store resolution information.

[2022-04-07 09:10] constantinpape commented on #662
Yes.

[2022-04-07 09:13] tischi commented on #663
[code]

It just toggles the selection of all of them, which I guess is good?

[2022-04-07 09:14] constantinpape commented on #663
Yes, that's good! (And also good if we add support for sourceDisplays)

[2022-04-07 09:42] CamachoDejay commented on #667
Hej @tischi,

At the moment I used the macro language (groovy) to accomplish this. Basically a user defined function that takes as input the x and y translation in microns.
`
def load_section(idx, dataDir, datasetName, uiSelectionGroup, xtranslate, ytranslate){
	//idx is unique to my application naming convention
	sectionsPath = dataDir + "Slide_"+idx+".czi";
       // I use your nice helper to ge

[2022-04-07 10:28] tischi commented on #667
This is in fact, quite cool, we do essentially nothing else with the `grid` functionality.

[2022-04-07 13:10] CamachoDejay opened #669 "Creating views via the Project Creator API"
Hi,

Following our discussion on how to best handle RGB images: https://github.com/mobie/mobie-viewer-fiji/issues/668#issue-1195780987 It would be great if we could create views via the Project Creator API. So, for example, if a 3 channel image has to be imported, then we can automatically create a view where these channels are linked to one another.

Saludos,
Rafa

[2022-04-12 10:28] K-Meech commented on #314
@tischi Could you check this if you have time? (see above comment) Thanks!

[2022-04-12 15:01] martinschorb opened #670 "display annotation as borders"
Hi,

it would be amazing to show annotations as border lines around images instead of just color overlay.

[2022-04-12 15:55] tischi commented on #670
Class that generates the annotation overlay: `TableRowsIntervalImage`

Code and class that generates boundaries (from SegmentationAnnotator repo):
[code]

It seems to be an option to wrap the Source that is created inside `TableRowsIntervalImage` into a `LabelSource` which has methods for toggling the boundaries (the code for this can be copied from the `LabelSource` in the SegmentationAnnotator,

[2022-04-13 10:19] tischi commented on #670
Making some progress, but it is very brittle, there are some issues with the volatile pixel values and concurrency. One needs to move around a bit in BDV until one gets the correct rendering without any artifacts.

<img width="800" alt="image" src="https://user-images.githubusercontent.com/2157566/163157472-70b9222a-13a4-4b3e-9a46-4ae681a1dadc.png">

[2022-04-13 10:37] constantinpape commented on #670
At least the image looks very good already :). Maybe you can just push the latest code you manage to get before you leave (also on MoBIE-beta) so I can give it a try before your back from your Easter break?

[2022-04-13 10:39] tischi commented on #670
I still have to work on it for the Covid project, because the current code does not work on 2-D data, because then everything is a boundary ;-)

[2022-04-13 10:42] constantinpape commented on #670
Ok :D

[2022-04-13 18:10] tischi commented on #670
Right click: `Configure Label Rendering` 🥳

<img width="428" alt="image" src="https://user-images.githubusercontent.com/2157566/163242901-259df755-2729-491d-9441-f0eca27a7b8b.png">

Was quite some work, but I found now also a much better and computationally more efficient way to do this. Thanks to this new implementation the size of the boundaries is now adjustable in calibrated units (e.g. 0.5 mi

[2022-04-13 18:14] constantinpape commented on #670
This is great!

How do we set it? It would be handy to be able to adjust it for the figure.

Do you mean the issue from https://github.com/mobie/clem-example-project/issues/18 with this?

[2022-04-14 06:08] tischi commented on #670
The [Configure Label Rendering] context menu will present a UI element for the boundary width

yes

[2022-04-14 06:19] tischi commented on #670
Note to self: working on this in branch `realMask`.

[2022-04-14 08:16] KateMoreva commented on #662
@constantinpape, could you please try again with the new `develop`?

[2022-04-14 08:17] constantinpape commented on #662
@tischi can you please give this a try?

[2022-04-14 08:36] tischi commented on #662
Looks good ❤️ much less threads (I will upload to MoBIE-beta later so @constantinpape can test).

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/2157566/163347039-c82913cb-96d1-453d-9f78-e2e868bcc9b3.png">

[2022-04-14 08:42] martinschorb opened #671 "UX with annotations"
This is related to what we implemented here:

https://github.com/mobie/clem-example-project/issues/18

- When an annotation is part of a view and thus loaded into the viewer, it appears in the sources list like the other image sources.
- there it can be toggled, its opacity can be modified and it can be deleted from that list.
- unlike other (non-exclusive) views the annotations however cannot be

[2022-04-14 08:46] tischi commented on #662
@constantinpape the eagle has landed (on MoBIE-beta).

[2022-04-14 09:05] constantinpape commented on #662
Yes, it works now! (Still takes fairly long to load via s3, but let's tackle this later.)

[2022-04-14 09:05] #662 closed

[2022-04-14 12:09] constantinpape commented on #671
I am not really sure what would happen in that case, but it's probably not currently possible.
For some context, the `sources` need to be listed in the `sourceAnnotationDisplay`: https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L272-L327

And for what you describe there wouldn't be any other `displays` (either `segmentationDisplay` or `imageDisplay`) that actually conta

[2022-04-14 12:14] martinschorb commented on #671
so we better add the views that show a layer of sources plus their annotations as non-exclusive views, so they can be added to any other view to display these annotations?

A dirty hack would be to generate empty sources with the shape (and subsequent trafos) of the original  sources and then annotate those instead of the original sources.

[2022-04-14 12:42] constantinpape commented on #670
Just to confirm: works on current MoBIE-beta for the covid-if data now. Though it interacts a bit weirdly with interpolation when zooming in/out or panning. So I think that part could still be improved.
But it's sufficient for making the figures in any case. Thanks!

[2022-04-14 12:42] constantinpape commented on #671
I suggest we discuss your use-case via zoom after Easter.

[2022-04-14 13:43] tischi commented on #314
Looks good:

<img width="588" alt="image" src="https://user-images.githubusercontent.com/2157566/163403492-382e7d67-fdb0-4a9e-9330-5821ca7cb3d1.png">

[2022-04-14 14:27] #314 closed

[2022-04-14 15:23] martinschorb commented on #671
🐰 🥚

[2022-04-21 19:05] constantinpape opened #672 "Several issues with "saveView""
The json serialized by `save view` in the context menu has two issues that make it incompatible with the MoBIE jsonschema:

## selectedSegmentIds

The label id is saved as float, e.g. `1.0` instead of int `1`. This fails because the schema expects an int:
[code]

## glasbey lut

Here, the value limits are serialized: `valueLimits: [null, null]`.
This fails because the value limits are expected to

[2022-04-21 19:12] constantinpape commented on #672
And there is another issue: the viewer transform is not serialized correctly:
I have saved the following view:
![sponge-screenshot](https://user-images.githubusercontent.com/4263537/164535607-5b32fbe8-8a81-41dc-9fee-e4618c5f3ba9.png)
But the view is saved with the axis aligned view:
![Screenshot from 2022-04-21 21-10-41](https://user-images.githubusercontent.com/4263537/164535756-ce8e6be2-1e8c-41b

[2022-04-21 19:27] constantinpape opened #673 "Rendeting label masks as boundaries does not work for segmentations"
It would be nice if the label masks of segmentations could also be rendered as boundaries. This currently does not work, see

https://user-images.githubusercontent.com/4263537/164537965-86d1ac95-9bf5-44af-82a4-b4211ad4feb3.mp4

[2022-04-22 19:48] tischi opened #674 "Transformed Grid Source Transformer: Finding Source Dimensions is slow"
In `TransformedGridSourceTransformer` this seems slow, probably because it needs to touch every source on S3/FS once:

[code]

Likely the `MergedGrid` has the same issue.

[2022-04-22 20:49] tischi opened #675 "RealMaskRealInterval seems to hang when too many intervals are combined"
[code]

- [ ] Check this with a minimal example (and report to the repo if it is true).
- [ ] Replace this code in `TableRowsIntervalImage` in case it really does not work.

[2022-04-22 20:56] tischi commented on #675
posted: https://github.com/imglib/imglib2-roi/issues/60

[2022-04-22 21:55] tischi opened #676 "ViewerTransformAdjuster: Make work for multiple sources and AnnotatedIntervalSources"
The `ViewerTransformAdjuster` is used in  `UserInterfaceHelpers.createFocusButton`, but currently only works for single sources.

- [x] multiple sources: copy the code from `crop` branch: [this](https://github.com/mobie/mobie-viewer-fiji/blob/c976040452b8d72530428c61ec63bc056470ece7/src/main/java/org/embl/mobie/viewer/playground/MoBIEViewerTransformAdjuster.java)
- [x] annotated sources: check if

[2022-04-22 22:38] tischi commented on #676
- [ ] Also the LabelMask could implement `getMask`, which, if `!= null` could be used by the `MoBIEViewerTransformAdjuster` as bounds to which to adapt the view to.

[2022-04-23 07:28] #676 closed

[2022-04-23 07:34] tischi opened #677 "Optimize loading from S3"
Bottlenecks:

###  MergedGridSource

`MergedGridSource`: `this.type = Util.getTypeFromInterval( referenceSource.getSource( 0, 0 ) );`

<img width="933" alt="image" src="https://user-images.githubusercontent.com/2157566/164885076-476fae10-dcda-4d9a-8f85-036f9cc28ea7.png">

### getMask()

`MoBIEHelper`: `getMask()`:

<img width="873" alt="image" src="https://user-images.githubusercontent.com/2157566

[2022-04-23 07:40] tischi commented on #677
Ideas:

1. Add field for `allSourceSameDimensions` for the GridSources, and then do not load all of them.
2. Already touch the sources during the loading such that the information is cached in a multi-threaded way.

[2022-04-23 08:03] tischi commented on #677
Adding ` sourceAndConverter.getSpimSource().getSource( 0,0 ) )` to the initial loading seems to help a lot later and does not seem to harm too much while doing it.

Adding however `Util.getTypeFromInterval( sourceAndConverter.getSpimSource().getSource( 0,0 ) );` to the initial opening also seems to help later, but also takes a lot longer during the initial loading. I think here the point is that w

[2022-04-23 08:12] tischi commented on #677
See here: https://github.com/mobie/mobie-io/issues/91

[2022-04-23 08:26] constantinpape commented on #674
Have you parallelized this already? If not that's probably an easy solution to speed this up significantly.

[2022-04-23 08:40] constantinpape commented on #677
Is this to get the data type? If so, I think we probably only need to do this once, data types shouldn't be mixed in the same grid...

Yeah, I think it's better to do EAFP (easier to ask for permission) rather than LBYL (look before you leap) here to improve performance when accessing things on s3.

[2022-04-23 10:22] tischi commented on #677
I think I do it only once, but already that is very slow. This is a recurring issue and maybe something will change here at some point: https://github.com/imglib/imglib2/pull/312. I'll keep on debugging here as much as I can.

I am making very good progress on other fronts, though. Things should get significantly faster now.

[2022-04-23 10:24] constantinpape commented on #677
If you just want to get the datatype you can also get it from the metadata, e.g. the .zattrs. That is probably much faster than doing it the imglib way.

[2022-04-23 11:23] tischi commented on #677
Very good point...
The issue with imglib2 is that it actually needs an access to the image data, which loads a whole bunch of pixels, which are not needed.

But I am not sure how to implement your idea, because I need the `imglib2` type variable in the end! I will have a think...

[2022-04-23 11:49] constantinpape commented on #677
You'll probably need to write a function that translate the type you get from the metadata (which will be a string?!) to the corresponding imglib2 type.

[2022-04-23 12:39] tischi commented on #677
Turns out that

`Util.getTypeFromInterval( sourceAndConverter.getSpimSource().getSource( 0,0 ) );`

was nonsense, because there is:

`sourceAndConverter.getSpimSource().getType()`

which apparently is already initialized and thus returns almost instantaneous instead of taking 500 ms 🥳 .

[2022-04-23 13:24] tischi commented on #677
To better see what is happening, I worked a lot on the logging as well.

I also introduced a variable (currently 100ms), and I am only logging what takes longer than this, in order not to clutter the log window, makes sense?

Based on the few measurements below (**this is from home, for my Mac, which has 4 CPU**) I think I will keep 16 IO threads for now as the default.

Clearly, multi-threading d

[2022-04-23 14:05] constantinpape commented on #677
Yeah, I think that makes sense.

16 threads sounds reasonable; in any case, I think it makes sense to have more threads than cores here since these things are usually not compute bound. I am not sure if there's a better way to determine the number of threads, so I think 16 sounds ok for now.

[2022-04-23 14:25] tischi opened #678 "Bring log window to front while initialisation"

[2022-04-23 14:32] tischi commented on #678
also the BDV window should immediately be moved where it belongs.

[2022-04-23 15:20] tischi commented on #663
This works now with `Ctrl + Left Click` in the image.

<img width="507" alt="image" src="https://user-images.githubusercontent.com/2157566/164912232-011e926a-4c42-48ab-a2ff-bfef1254ef81.png">

Annoyingly the BDV window also centers on the, e.g., site that was clicked on (_when selecting in the BDV window_), i.e. it makes the thing that you clicked on move away under your mouse.

- [ ] I think this

[2022-04-23 15:51] tischi commented on #663
In fact, it also centers the BDV window on the segment for label mask images, when selecting them in the BDV window.
I find that annoying.

Opinions?
@constantinpape @K-Meech ?

[2022-04-23 15:53] tischi commented on #673
It does work, but you have to select a smaller boundary here, e.g. `0.2`.

Should I maybe make the default `1.0` to make it more obvious that decimal places are allowed?

Off topic: How do you upload those movies to the issues?

[2022-04-23 16:27] #678 closed

[2022-04-23 16:59] tischi commented on #666
I think this is now very convenient. One can Ctrl+LeftClick multiple entities and the then batch assign all of them by clicking the respective annotation class button.

<img width="768" alt="image" src="https://user-images.githubusercontent.com/2157566/164915603-1b94f764-a464-4b34-9b80-d3b05acf8d20.png">

I did this, but was using `region` in instead of source, because, e.g. a `well` could be mult

[2022-04-23 17:02] tischi commented on #666
we could also just always call it `entity`...

-----

<img width="248" alt="image" src="https://user-images.githubusercontent.com/2157566/164916076-701c9745-ab9e-4ec5-acf6-3653a28a85d8.png">

This is now a bit confusing (`annotation_id` and `Annotate`), because they have nothing to do with each other, but I think this will be hard to change now...

[2022-04-23 18:02] tischi opened #679 "Defaults for centerAtOrigin"
Double check the default of `centerAtOrigin` for all implementations of: `AbstractSourceTransformer`

Somehow I remember that, for instantiation from JSON, one needs to do more than just set to some value in the field...

@constantinpape what do we say is the default in the spec?

[2022-04-23 20:19] constantinpape commented on #679
The default is `true`.

Yes, I also remember that there was something that needed to be changed, not 100% sure what exactly...

[2022-04-23 20:21] constantinpape commented on #679
btw, the default I refered to was for `crop`. There it should be `true`. But if for the `transformedGrid` it makes more sense to set it to `false` that would be fine with me, see https://github.com/mobie/covid-if-project/issues/2#issuecomment-1107546099.

[2022-04-23 20:33] constantinpape commented on #663
It works now, thanks! This makes navigation of large grid views so much easier.

Yes, I also find it annoying and would vote for not changing the view when selecting sources or segments via `Ctrl + Left` in the viewer. (it should still center when clicking on a row in the table though).

[2022-04-23 20:35] constantinpape commented on #673
Thanks, it works! And now that the decimal place is shown it's also clear that decimal values can be used.

[2022-04-23 20:43] constantinpape commented on #666
This works soooo much better now!

Ok, it's too late for me to understand this, I will read carefully tomorrow, think about it and then comment on it.

I'll make a new issue about this.

[2022-04-23 20:44] constantinpape opened #681 "Rename annotation_id column?"
we could also just always call it `entity`...

-----

<img width="248" alt="image" src="https://user-images.githubusercontent.com/2157566/164916076-701c9745-ab9e-4ec5-acf6-3653a28a85d8.png">

This is now a bit confusing (`annotation_id` and `Annotate`), because they have nothing to do with each other, but I think this will be hard to change now...

_Originally posted by @tischi in https://github.c

[2022-04-23 20:45] constantinpape commented on #681
I agree that this is a bit confusing. I think on the python / spec side it would not be so much effort to change this and we only have a few projects that use the `sourceAnnotationDisplay` and associated tables, so updating these would also not be too much work.

[2022-04-23 20:49] constantinpape commented on #677
I checked with the new MoBIE-beta now and it works much better already. I can load the full grid from s3 now in a reasonable amount of time.

[2022-04-23 21:35] NicoKiaru commented on #385
I won't have time to work on this. And it could be a bit complicated when dealing with multiple sources and with rotations.

Ping @tischi

[2022-04-24 08:10] tischi commented on #666
There was a misunderstanding: I meant to name everything `entity` in the _annotation UI_ (instead of `segment` or `region`).

[2022-04-24 08:20] tischi commented on #681
It would also be easy to change on the java side.

Ideas:

- `region_id`
- `source_id` (this would match better the `sourceAnnotationDisplay`)

I realize one thing that confuses me with `source_id` as well as `sourceAnnotationDisplay` is that one can annotate multiple sources (=images) with one table row.
I think that's also something that @martinschorb stumbled over when trying to use the spec. I

[2022-04-24 08:23] tischi commented on #679
we have to decide for those four:

<img width="654" alt="image" src="https://user-images.githubusercontent.com/2157566/164967301-d11150b8-2188-4625-a305-3a96fcc148c8.png">

[2022-04-24 08:56] tischi commented on #679
- `AffineSourceTransformer` does not have `centerAtOrigin`, which probably makes sense?
- `CropSourceTransformer`: true?!
- `MergedGridSourceTransformer`: true?!
- `TransformedGridSourceTransformer`: true and then false?!

It is a bit complicated: For the first grid I think you always want `true` => default `true` seems good in general. But if you then do second grid of a grid, it depends: for `Tr

[2022-04-24 09:24] constantinpape commented on #681
I think `region_id` is good!

[2022-04-24 09:28] constantinpape commented on #679
Yes, doens't need it.

Ok, I would then leave it as `true` for all cases, and for the more `transformedGrid` it needs to be done correctly by whoever creates the project -- I think having different default values depending on nesting grids gets to complex and should be the user's responsibility.

[2022-04-24 11:07] constantinpape opened #682 "annotation mode: bug for non-numeric values"
It seems like the annotation mode does not support non-numeric values any more in the latest MoBIE-beta:

I have created a new column "manual_qc" for a sourceAnnotation table, with the two values "normal" and "outlier".
When I try to assign a row to one of these values, it throws the error "entered value must be numeric for column manual qc"

![image](https://user-images.githubusercontent.com/4263

[2022-04-24 11:15] constantinpape commented on #666
`region` is good

Ok, I don't understand this. I think we need to discuss via phone / zoom at some point.

I see, but I think renaming the column is not a bad idea, since `annotation` is a weird name for the column. But let's continue that discussion in #681.

[2022-04-24 12:35] tischi commented on #679
I checked, and also the `MergedGridSourceTransformer` needs to have the `centerAtOrigin` set to false when operating on already transformed sources. Thus, it seems as if both grid transformers have the same behavior here (first run: `true`, second run: `false`)

[2022-04-24 12:49] tischi commented on #682
I cannot reproduce this:

<img width="728" alt="image" src="https://user-images.githubusercontent.com/2157566/164977308-aaf1d895-7f7f-4bff-8afc-b72ae4abf733.png">

[2022-04-24 14:24] tischi commented on #679
Ok! Could you then change the `default` view in `covid-if` accordingly for testing this? Currently also the second round of grid building uses `centerAtOrigin=true`:

[code]

[2022-04-24 15:49] constantinpape commented on #666
Two more improvements that would be nice:
- when selecting a source from the table via `Ctrl + Left`, `Next` will not respect that selection and will just jump back to the one that was next prior to the selection. It would be much better if it would respect the selction
- show the name of the currently selected segment / region in the annotation menu. If multiple are selected show the number of se

[2022-04-24 15:57] constantinpape commented on #682
I tried again and can't reproduce it either now. Not sure what happened there, gonna close it for now.

[2022-04-24 15:57] #682 closed

[2022-04-24 20:47] tischi opened #683 "Segmetation/Region: Remove code duplication and then avoid self-focus of selected entities"
`AnnotatedIntervalDisplay` and `SegmentationSourceDisplay` are very similar.

- [ ] Check if more code can go into their parent class `AnnotatedRegionDisplay`
- [ ] Check if code duplication within MoBIE can be avoided by referring more often to the parent class`AnnotatedRegionDisplay` instead of the child classes.

Also `AnnotatedIntervalSliceView` and `SegmentationSliceView` are very similar.

-

[2022-04-24 20:48] #673 closed

[2022-04-24 20:48] #670 closed

[2022-04-24 20:50] tischi commented on #666
We discussed that the table does that job.

[2022-04-24 21:03] constantinpape opened #684 "Issues with label boundary rendering"
I found two more issues with the label boundary rendering:

## Boundary rendering can't be turned off

When unchecking the "Show as boundaries" box the boundary rendering is not turned off.
See the video below (this also shows that boundary rendering is behaving a bit weird for the "default" view in the covid-if project, it's working better for "full_grid", not sure why).

https://user-images.gith

[2022-04-25 06:54] tischi commented on #666
I uploaded a new version to MoBIE-beta.
Could you please test the Annotation?

Please note that the sites overlay is shifted, please ignore this for now, I will fix it and upload a new version later (btw: did you update the grid views (center=true/false)?)

[2022-04-25 07:12] tischi opened #685 "MergedGrid does not work with centerAtOrigin=true"
The MergedGrid does not work with `centerAtOrigin=true`.

The reason is that `centerAtOrigin=true` shifts the individual sources such that (a) their middle is a (0,0). Initially we had it such that (b) their upper left corner would be at (0,0).

The (a) behavior currently is inconsistent with how the `MergedGridSource` is built.

Fixing this could be a bigger operation and I don't know when I will

[2022-04-25 07:12] tischi commented on #666
see https://github.com/mobie/mobie-viewer-fiji/issues/685

[2022-04-25 07:13] tischi commented on #683
I fixed the self-focus issue by other means.

[2022-04-25 07:16] K-Meech commented on #672
I'll look into these issues @constantinpape. I'll also try and add a test that checks a view against the current schema.

[2022-04-25 07:28] constantinpape commented on #685
Ok, I will update the json for now. And I think then it's a good idea to change the default for the `MergedGrid` in your code and indeed throw an error if it's true.

[2022-04-25 07:33] tischi commented on #685
I did it like this for now:

[code]

[2022-04-25 07:35] constantinpape commented on #685
I have updated it now in the covid-if project and now the sites work again.

[2022-04-25 07:36] constantinpape commented on #666
I tested it and it now works as expected. The centering behaviour is also fixed, which now makes this very nice to use!

[2022-04-25 07:51] constantinpape opened #686 "label rendering: enable selecting source"
I think the "Configure Label Rendering" dialogue should be expanded so that the segmentationDisplay/sourceAnnotationDisplay for which the rendering is saved can be selected.
The fact that this is currently not possible makes this very confusing for multiple segmentationDisplays/sourceAnnotationDisplays.

Also, thinking about this: should we make this part of the spec, so that it can be properly sa

[2022-04-25 08:34] tischi commented on #674
I think this is fixed now, because I "pre-touch" all sources (leading to the information being cached) during multi-threaded initial opening.

[2022-04-25 08:34] #674 closed

[2022-04-25 09:57] K-Meech commented on #663
I agree with @constantinpape

[2022-04-25 11:22] tischi commented on #686
The fact that this is currently not possible makes this very confusing for multiple segmentationDisplays/sourceAnnotationDisplays.

In principle I agree, however the logic for _all_ context menu items right now is that it operates on all sources that are (i) visible (`[X] S`) and (ii) present below the current mouse pointer.

By toggling `[X] S`/`[ ] S` you can select which sources to operate on a

[2022-04-25 11:22] tischi commented on #686
"showAsBoundaries": true/false (default: false), boundaryThickness: float (default: 1, only relevant if showAsBoundaries=true).

Yes, I thought the same.

[2022-04-25 13:57] tischi commented on #686
@constantinpape
Where will you add the new JSON fields?
To `sourceAnnotationDisplay`?

[2022-04-25 13:59] constantinpape commented on #686
Both `sourceAnnotationDisplay` and `segmentationAnnotationDisplay` will get it. I am preparing 2 test views now, will ping you when they're there.

[2022-04-25 14:02] tischi commented on #684
Works now:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/165104929-7e83fe82-881b-4595-a940-bfb22cd42a68.png">

[2022-04-25 14:27] tischi opened #687 "MergedGridSource mipmap shift"
There still is a little jump when zooming in and out from the mipmaps, e.g. visible in

[code]

[2022-04-25 14:31] tischi commented on #686
reading from JSON works:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/165110629-a15085c5-fc96-46b0-9f83-33ef3092c1f1.png">

[2022-04-25 16:12] constantinpape commented on #686
We decided that this is too complicated for now; the json view part is implemented.

[2022-04-25 16:14] constantinpape commented on #679
`mergedGrid` should default to false, but you probably have this already, @tischi.
I think this is all done now, so I am closing the issue, feel free to reopen if anything is left to do here.

[2022-04-25 16:14] #679 closed

[2022-04-25 16:16] constantinpape commented on #666
This is all done and working now.

[2022-04-25 16:16] #666 closed

[2022-04-25 16:16] constantinpape commented on #663
All done and working.

[2022-04-25 16:16] #663 closed

[2022-04-25 17:36] constantinpape opened #688 "Artifacts for boundary rendering of segmentations"
After changing the boundary width a few times stripe artifacts appear in the boundary labels; it's not possible to get rid of them anymore, even when change the width again:

![boudnary-rendering-bug](https://user-images.githubusercontent.com/4263537/165143051-7957f792-cd7d-462d-9c3d-2c295600a8fb.png)

[2022-04-26 06:44] tischi commented on #688
Do the stripes stay when you zoom out and then in again?

[2022-04-26 07:25] constantinpape commented on #688
Yes.

[2022-04-26 07:51] tischi commented on #688
And do they stay at the same location?

[2022-04-27 07:45] martinschorb opened #691 "Open Project Expert Mode, mixed sources"
Hi,

I have the following scenario:

- metadata/views etc. on local file system
- image data on S3 but different file format mix (N5 and OME-Zarr)

I try to load it like this:
![Screenshot 2022-04-27 at 09 41 51](https://user-images.githubusercontent.com/35071867/165467865-329d940a-d67e-487d-9c38-b5c5715b853b.png)

and MoBIE crashes while loading N5 sources:
[code]

When I load it with `BdvN5S3`

[2022-04-27 07:46] martinschorb commented on #691
I wonder if this https://github.com/mobie/mobie-viewer-fiji/pull/690 can be used in the expert mode as well.

[2022-04-27 08:12] tischi commented on #691
Yes, makes sense!

@KateMoreva would you have time looking into this?

[2022-04-27 08:37] KateMoreva commented on #691
@tischi, I cant look into it after merge of https://github.com/mobie/mobie-viewer-fiji/pull/680 because of
[code]

[2022-04-27 15:25] constantinpape commented on #691
Hi @KateMoreva,
#680 is merged already and in develop. Do you also need it to be in main, or what do you mean by

?

[2022-04-27 18:02] KateMoreva commented on #691
I mean that before

Yes it is not applicable because you defined the ImageDataFormat as OmeZarrS3.
I think we should think about rewriting of image format selection part.

[2022-04-28 07:15] tischi commented on #691
You mean in the `Command` UI?
If so, that's also what I think.
Would you (or @martinschorb) have some ideas how the UI should look like?

Or maybe we simply don't expose this in the expert mode and auto-determined it such as we do in the basic mode?

[2022-04-28 07:21] martinschorb commented on #691
If multiple formats are possible, we don't need a selector.
I don't even think we need a selector `file system`  ↔️ `s3` when a github repo is chosen for the image data.
We should only make the following use case possible:

- images loaded from s3
- source/dataset/view metadata from file system

this is what I would like to use to debug views locally without needing to push every little change to

[2022-04-28 07:22] KateMoreva commented on #691
I mean the logic behind it.
Right now we take the format that the user specify and after that we await for only this format for other datasets.

[2022-04-29 08:43] martinschorb opened #692 "clear button does not remove annotations"
Hi,

when I clear all sources, the annotations stay.
Does it make sense to also clear any existing annotations? Or would an extra button to clear annotations make sense?
Is there a scenario where multiple annotations/tables are present in a MoBIE layout?

[2022-04-29 08:50] martinschorb opened #693 "exception when removing an annotation (Beta)"
Hi,

I get a crash when trying to remove an annotation (Beta):

- https://github.com/mobie/clem-example-project  `more-views` branch
- `all_sources_with-table` view

[code]

The same thing happens when trying to switch dataset (to `yeast`) from a view that contains an annotation, or when removing all sources (`clear` - https://github.com/mobie/mobie-viewer-fiji/issues/692) from a view.

[2022-04-29 08:58] martinschorb opened #694 "save label boundary options in view"
Hi,

it would make a lot of sense to store the way labels are displayed as boundaries as part of a view's `sourceAnnotationDisplay` .

My particular use case is about creating a view that represents a figure with label boundaries.

[2022-04-29 09:06] constantinpape commented on #694
We have implemented that already and also tested it, so should work in principle. Did you already try it and it doesn't work?

[2022-04-29 09:12] martinschorb commented on #693
It also happens when changing views. From a view with an annotation to another exclusive view which triggers removal of the annotation.

[2022-04-29 09:15] #694 closed

[2022-04-29 10:09] martinschorb opened #695 "Opacity displayed wrong"
Hi,

When I change the opacity of annotations to maximum, these turn white instead of keeping their colour.

[2022-04-29 10:12] martinschorb commented on #695
This seems to be a general problem of opacity, also for images that it changes the display contrast instead of the actual opacity.

![Screenshot 2022-04-29 at 12 11 47](https://user-images.githubusercontent.com/35071867/165925873-1ae6b12d-249e-4b73-8310-272d94601b42.png)

[2022-04-29 10:14] martinschorb commented on #695
also happens without an annotation present:
![Screenshot 2022-04-29 at 12 14 05](https://user-images.githubusercontent.com/35071867/165926233-8c0d1b10-4039-4be3-ba07-845a1d514c8c.png)

[2022-04-29 12:27] constantinpape commented on #692
The annotations should also be removed. We don't want to introduce even more buttons, and I can't really think of a scenario where this would be useful.

[2022-04-29 13:25] tischi commented on #695
It is not really a bug, it has to do with our current definition of opacity (and having no good layering concept yet).

<img width="599" alt="image" src="https://user-images.githubusercontent.com/2157566/165952038-9d351409-e8d1-4111-8745-64582b079efe.png">

<img width="596" alt="image" src="https://user-images.githubusercontent.com/2157566/165952103-23291bbb-c4fe-4bdb-ad90-6579325b2fd7.png">

It i

[2022-04-29 14:01] martinschorb commented on #695
so we are in RGBA space, then alpha should be adjusted, not the RGB values.

Alpha of the current source (the one that is modified) needs to be multiplied with the opacity factor and all other alphas with `(1-opacity)`.

[2022-04-29 14:19] martinschorb commented on #695
then the code above seems good. It is just that also the other elements (sources and annotations) need to be multiplied by `(1-c)`. That way the 255 will nor be exceeded and we won't run into the white-clipping situation. Is that feasible?

[2022-04-29 15:39] tischi commented on #695
I created a branch and draft PR for this: https://github.com/mobie/mobie-viewer-fiji/pull/697

[2022-04-29 15:58] tischi commented on #695
First good news, it looks like we can pull the `alpha` through to the Projector and apply it there (which is much nicer than the solution I had so far, where I applied it immediately):

[code]

Now we just would have to add some math to dim the other images accordingly, i.e. implement your `(1-c)` idea.

If you think about this, please keep in mind that whatever we implement must also work for flu

[2022-04-30 08:51] tischi commented on #695
Here are some formulas for inspiration: https://en.wikipedia.org/wiki/Alpha_compositing
As mentioned, I think the challenge will be to find something that generates the expected appearance for the fluorescence channels (without treating fluorescence differently, which would bring us back to defining more `blendingMode` metadata, which we had at some point and then removed again to reduce the compl

[2022-05-01 10:33] martinschorb commented on #695
I think the key for us is `occluding`:

in general, we need to support two different blending modes.

- **additive** composition: default in BDV and well suited for flurescence sources
- **alpha** composition: for brightfield sources and annotations. Our current `occluding` is a subset of that.

### additive:
here alpha and also opacity can be entirely ignored (as in vanilla BDV). You just sum the

[2022-05-01 15:14] martinschorb commented on #695
in fact the zero-value issue is even easier, because at every pixel there should be a value for `a`. So in the *additive* case we just need to set that to zero: `if r+g+b ==0: a = 0`

[2022-05-02 08:46] K-Meech commented on #672
This should be fixed on the current develop branch

[2022-05-02 08:46] #672 closed

[2022-05-02 11:08] tischi commented on #695
Looking promising:

<img width="709" alt="image" src="https://user-images.githubusercontent.com/2157566/166224359-d98ea07e-bc0b-4ff1-98be-07171ee42460.png">

<img width="708" alt="image" src="https://user-images.githubusercontent.com/2157566/166224384-df8290da-554b-4ba4-8cde-42e3a6ee8f49.png">

But there seem to be now two separate functions of the `alpha` of one source: If the source is occluding

[2022-05-02 11:14] martinschorb commented on #695
I think for a *non-occluding = additive* source, opacity should just multiply the intensity values that will be added and not touch the underlying sources.

[2022-05-02 11:16] martinschorb commented on #695
so exactly as you have it

[2022-05-02 11:36] tischi commented on #695
OK, this seems to work quite well:

[code]

But, for the LM tomo, which is both occluding itself and also occludedBy the HM tomo, it behaves weird:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/2157566/166227473-64e9640d-f00b-4ffc-9fcd-56887dd7528d.png">

The LM does indeed become more transparent, but somehow also the HM becomes brighter....
Not sure yet why...

[2022-05-02 12:50] martinschorb commented on #695
So the only thing left do check is zero-values...?

[2022-05-02 12:57] tischi commented on #695
Yes, running in that right now in fact...
Would you have time again to come?

[2022-05-02 12:58] martinschorb commented on #695
unterwegs...

[2022-05-02 13:26] tischi commented on #695
@constantinpape

[code]

@martinschorb Were working on the blending and find that all annotations and segmentation should probably always have the `BlendingMode.SumOccluding`.

Should we:

a) remove the ability to adjust this from the spec?
b) change the blending mode to `SumOccluding` in all our dataset.json?

By the way: it looks much better now, because the annotations maintain their color:

##

[2022-05-02 21:59] constantinpape commented on #695
Do you think there is any reason that this should ever be changed to `sum` for segmentations?
If not, then I would go with a) and remove it from the spec for `segmentationDisplay`.

For `sourceAnnotationDisplay` it's currently not in the spec.

[2022-05-03 06:25] tischi commented on #695
I'd be for removing it from the spec.

[2022-05-03 06:28] tischi opened #698 "What's here?"
In the CLEM example it is very hard to navigate and one would really like to know which source is where.

@martinschorb and I discussed adding a "What's here?" item to the context menu, which would print the sources under the mouse pointer to the log window (since one may need this quite often a keyboard shortcut would be good as well).

One alternative could be to constantly listen to the mouse p

[2022-05-03 06:54] constantinpape commented on #695
Done.

[2022-05-03 06:57] constantinpape commented on #698
From a user perspective I would prefer not to create a new entry in the context menu and always show the name of the current source(s) under cursor somewhere in the bdv window.
But if that's harder too implement, or causes performance degradation, we can also go with the context menu entry.

[2022-05-03 07:04] tischi commented on #698
I will have a look. I was mainly worried about cluttering the BDV window.
I guess it would be nice to be able to turn this on and off.
Maybe one more context menu item for "Settings", into which we could combine some things?

[2022-05-03 07:08] K-Meech commented on #698
I'm not sure about displaying directly in the bdv window - if you have a lot of layers e.g. EM / LM / segmentations etc. it could be a lot of names to display. I kind of think the 'F' button + being able to toggle sources on and off is already enough? But I guess being able to display the sources at an exact position is useful too.

[2022-05-03 07:12] martinschorb commented on #698
This can be dozens, so it might be indeed cluttering wherever we show it..

[2022-05-03 07:13] tischi commented on #698
### Use case

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/2157566/166416183-6b073e2a-ef9a-46a9-b226-a3ab25b779c3.png">

I want to change the brightness of the green fluorescent image currently shown in BDV. How do I find out which one it is? Currently one has to do trial and error (switching on and off) on the left, which is annoying (not practical), if there are m

[2022-05-03 07:15] martinschorb commented on #698
What about changing the display in the sources list based on the viewer?
All sources that are currently not visible will be greyed-out (or smaller font,...) the ones that are shown stay normal and the ones that are underneath the current cursor position will turn bold.

[2022-05-03 07:16] martinschorb commented on #698
Maybe also the saturation of the background colour could change.

[2022-05-03 07:19] tischi commented on #698
I though of displaying an `*` next to the sources under the mouse cursor, but then we have this issue that when you move the mouse to change the color of one of those source, the star would disappear.

[2022-05-03 07:34] martinschorb commented on #698
If you use what's currently visible in the viewer to adjust the list style, the mouse position wouldn't matter and you could simply zoom in to find out at one specific position.

[2022-05-03 08:16] tischi commented on #698
I made a PR for us to work on this issue: https://github.com/mobie/mobie-viewer-fiji/pull/699

I like the idea:
- Listen to the sources the are visible in the current field of view
- Add stars for those sources to the MoBIE UI.

I am not sure how easy it will be to implement this.
Right click and "Log sources at mouse position" would certainly be much easier.

[2022-05-03 12:22] constantinpape opened #700 "Exception when switching between views"
When switching between views, I now often get similar exceptions to this one:
[code]

To reproduce this particular example:
- https://github.com/mobie/clem-example-project/, branch: `more-views`
- select the `all_sources_with_table` view, wait till it has loaded
- select the `highmag_tomos` view, this will produce the above error

Tested with most recent MoBIE-beta

[2022-05-03 12:57] tischi commented on #700
I tried it and it works on `develop`.

[2022-05-03 13:02] tischi opened #701 "Test fails"
The current develop branch has a failing test:

[code]

Could you please have a look @K-Meech ?

[2022-05-03 22:37] constantinpape commented on #700
(this is probably the same issue as #693)

[2022-05-03 22:39] constantinpape commented on #701
@K-Meech could you make a MoBIE-beta release once you have fixed this, since this should fix #693 (which is very annoying) and #695 (which we need for the paper figures). Thanks!

[2022-05-04 07:02] K-Meech commented on #701
Yes - I can do that this afternoon

[2022-05-04 07:22] K-Meech commented on #701
@constantinpape - I can't open the platybrowser with the current MoBIE-beta. Is something wrong with the S3?
[code]

[2022-05-04 07:25] constantinpape commented on #701
Yes, seems like it's down. I have written to Josep about it.

[2022-05-04 07:28] K-Meech commented on #701
Ok - thanks! This might be the cause of the test failure then - as it needs to open the platybrowser.

[2022-05-04 07:31] constantinpape commented on #701
I am not sure, since I could still access the EMBL S3 yesterday evening. And everything is down now, not only the platybrowser.
But we'll see once it's back up.

[2022-05-04 07:47] constantinpape commented on #701
@K-Meech EMBL s3 is working again.

[2022-05-04 07:59] K-Meech commented on #701
Thanks @constantinpape . Just checked - and you're right - there is some other issue that is making the test fail. I'll look into it.

[2022-05-04 08:11] K-Meech commented on #701
@constantinpape - it seems to be because the ```blendingMode``` is being written for segmentations. Is it right that this should only be written to views for images?

[2022-05-04 08:14] constantinpape commented on #701
@K-Meech yes, we recently changed this and removed `blendingMode` from the `segmentationDisplay` since there is only one sensible option for it. I thought we are not using it in any of the projects, but apparently we do in the platybrowser. I will fix it and ping you again.

[2022-05-04 08:17] K-Meech commented on #701
I don't think it's being used in the project - it's being saved wrongly when 'save current view...' is used. I can fix it.

[2022-05-04 08:19] constantinpape commented on #701
I see. Yes, if you remove it then everything should work again.

[2022-05-04 11:57] K-Meech commented on #701
This is fixed on the current develop branch + I made a new MoBIE-beta release

[2022-05-04 11:57] #701 closed

[2022-05-04 14:47] constantinpape commented on #701
Thanks @K-Meech. I will check out the new MoBIE beta later today.

[2022-05-04 18:48] constantinpape commented on #700
This is fixed now in the most recent MoBIE-beta.

[2022-05-04 18:48] #700 closed

[2022-05-04 18:49] constantinpape commented on #695
This should be fixed with the current MoBIE-beta. @martinschorb could you check that it actually works and then close this issue?

[2022-05-04 18:50] constantinpape commented on #693
This is fixed by the new MoBIE-beta release.

[2022-05-04 18:50] #693 closed

[2022-05-04 18:50] constantinpape commented on #692
Also fixed by the MoBIE-beta release.

[2022-05-04 18:50] #692 closed

[2022-05-04 18:51] martinschorb commented on #695
Confirm it works in beta.

[2022-05-04 18:51] #695 closed

[2022-05-05 02:03] tischi opened #704 "Github path slightly wrong"
[code]

There are two `//` in the github path (`clem-example-project//more-views`).
I think this is something new. Anyone knows where that comes from?

[2022-05-05 07:24] constantinpape commented on #704
Can you give some context here? Is this in the log that's being shown when loading the project?

[2022-05-05 15:13] tischi commented on #704
Yes, probably just some string concatenation not working 100%.
It is not _really_ a bug, since it still loads the data.

[2022-05-06 08:42] martinschorb opened #705 "Esception when changing table color"
- `more-views` branch of the CLEM dataset, `Fig2_a` view.
- `Color -> Color by Column...`
- `argbColumn`

leads to:

[code]

[2022-05-06 08:43] martinschorb commented on #705
other color maps work.

[2022-05-06 08:48] martinschorb opened #706 "Save current view, annotations"
Hi,

I just noticed that changed LUTs in annotations are not reflected in an exported view.

[2022-05-06 08:53] martinschorb opened #707 "annotations LUTs and views"
When annotating, the colours of the IDs can be chosen freely.
These are then also displayed in the viewer.
At the moment these colour assignments are lost when changing to another LUT or re-loading the project.
Can they be made available as custom LUT that we store with the dataset?

[2022-05-06 09:19] constantinpape commented on #705
This is expected, ARGB columns need a special format, see https://github.com/mobie/clem-example-project/issues/20#issuecomment-1119418861.

[2022-05-06 09:19] #705 closed

[2022-05-06 09:20] constantinpape commented on #706
What exactly do you mean by this? Changing the random seed for glasbey?
This is indeed currently not saved in the view (maybe we can add it).

Or do you mean something else? Then please make a video or screenshot to illustrate the problem.

[2022-05-06 09:22] constantinpape commented on #707
I don't quite understand what you mean by this. Do you mean when using the annotation mode?
Can you please make a video / screenshot to illustrate the problem?

[2022-05-06 09:29] martinschorb commented on #706
That's one issue:

- open data: LUT is `glasbey`, colors are shades of green.
- change LUT to something else
- change LUT back to `glasbey`, colors are different from the initial ones.

https://user-images.githubusercontent.com/35071867/167105541-b479744d-7017-4e78-9615-ee5256e937bb.mov

When we define views for figures I expect the colors to stay consistent. In this case it is probably due to the

[2022-05-06 09:34] martinschorb commented on #706
forget about the reported issue concerning the exporter. It seems to work as expected.
But the random seeds with glasbey are tricky. Probably we should use other LUTs when producing "publication views".

[2022-05-06 09:38] constantinpape commented on #706
I see. Following points:
- viridis and blueWhiteRed colormaps don't make much sense for the annotationId column, they only make sense for ordinal data, but the annotation ids are categorical (sort of)
- when you switch from glasbey to some other colormap and back the random seed indeed changes, that's why the colormap looks different.
- Maybe we should store the glasbey random seed for `segmentati

[2022-05-06 09:39] #707 closed

[2022-05-06 09:40] martinschorb commented on #706
working on that as we chat...

[2022-05-06 09:42] constantinpape opened #708 "Save glasbey random seed"
To fully reproduce the view for segmentations / region annotations we would need to also save the random seed used by it.
What do you think @K-Meech, @tischi?
We could add it as field `glasbeyRandomSeed` to the corresponding displays.

See use case in #706.

[2022-05-06 09:46] #706 closed

[2022-05-06 09:47] martinschorb opened #709 "Table column order"
Hi,

MoBIE orders the columns of a table alphabetically. Is it possible that it keeps the order from the `tsv` file?

[2022-05-06 09:48] constantinpape commented on #709
I don't think so, but you can reorder the columns manually.

[2022-05-06 16:13] tischi commented on #708
Sounds useful to me.

[2022-05-06 18:51] constantinpape commented on #708
Cool! I will add it to the spec so you can integrate it into the viewer once you have time.
(This is not urgent, we found another solution for the paper figures, but I think it would still be nice to have.)

[2022-05-10 10:10] #559 closed

[2022-05-10 10:10] #475 closed

[2022-05-10 10:11] martinschorb commented on #460
obsolete, can be closed.

[2022-05-10 10:11] #453 closed

[2022-05-10 10:12] #448 closed

[2022-05-10 10:12] martinschorb commented on #448
oops... 😆

[2022-05-10 10:13] martinschorb commented on #356
see https://github.com/mobie/mobie-viewer-fiji/issues/698

[2022-05-10 10:13] #356 closed

[2022-05-10 10:15] martinschorb commented on #103
solved with exclusive views.

[2022-05-10 10:15] #103 closed

[2022-05-10 10:16] martinschorb commented on #479
is this solved?

[2022-05-10 10:19] martinschorb opened #710 "default location values"
Hi,

before publishing, we should make sure each project has reasonable default locations set when loading.

[2022-05-10 10:30] martinschorb opened #711 "logo background color"
when checking the figures (screen grabs in Fig 1 and 3), I noticed that the MoBIE logo has a slightly different background color than the window.
![Screenshot 2022-05-10 at 12 25 33](https://user-images.githubusercontent.com/35071867/167608575-0675da70-d07f-4350-8ead-1a07a9632cf0.png)

Does Java allow transparency? Then we could just embed a background-less png...