[2022-05-11 08:01] constantinpape opened #712 "Saving views with merged grid fails"
Saving a view with a merged grid currently fails, see the error message below.
To reproduce:
- open the project at https://github.com/mobie/covid-if-project
- wait till the default view has loaded, then save it via the context menu

Error message:
[code]

[2022-05-11 10:17] martinschorb opened #713 "Project Creator, sumOccluding Blending Mode"
Could the blending mode option `sumOccluding` be added into the project creator UI?

[2022-05-11 12:04] constantinpape opened #714 "Loading additional views from project fails"
See error message below. To reproduce:
- Open platybrowser
- Context menu -> load additional views -> from project

[code]

[2022-05-11 12:08] constantinpape opened #715 "Loading additional views from file fails"
see error message beow.
To reproduce:
- open https://github.com/mobie/covid-if-project
- Select "Load additional views -> FileSystem"
- Navigate to [this file](https://github.com/mobie/covid-if-project/blob/main/data/20200406_164555_328/misc/bookmarks/mobie-paper.json) and press ok

Note: opening from project does not work due to #714

[code]

[2022-05-11 12:09] constantinpape commented on #711
Alternatively we could also change the background color so that it matches fully.

[2022-05-11 14:08] KateMoreva commented on #711
Sure. I made a png version.

[2022-05-12 06:07] K-Meech opened #717 "Scatter plots contain scale bars"
All scatter plots currently contain a 'pixel' scalebar, which is not too useful. Is there an easy way to remove this?
![Screenshot 2022-05-12 080614](https://user-images.githubusercontent.com/24316371/168003020-baa7d9d3-4ab4-45c7-a602-d39ca054604f.png)

[2022-05-12 06:08] K-Meech commented on #712
@constantinpape - I can look into this.

[2022-05-12 06:10] K-Meech commented on #715
I'll look into these 'load additional views' errors too @constantinpape

[2022-05-12 07:06] constantinpape commented on #717
It would indeed be good to remove this, especially since the current scale seems totally off (e.g. the scale bar in the plot here is certainly much more than 2.5 pixel)

[2022-05-12 12:13] constantinpape commented on #711
Fixed by #716

[2022-05-12 12:13] #711 closed

[2022-05-12 12:19] K-Meech commented on #715
This works for other files, so I think it's an issue with this specific file. @constantinpape -I think everything has to go inside a "views" layer according to https://github.com/mobie/mobie.github.io/blob/master/schema/views.schema.json like:
[code]
Maybe that's the issue?

[2022-05-12 15:03] constantinpape commented on #714
Yep, that has fixed it.

[2022-05-12 15:03] #714 closed

[2022-05-14 07:47] tischi commented on #709
@martinschorb  Are you sure?
I checked, and at least I does not reorder for segments:
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/2157566/168416309-67c44ec3-0fde-4406-899c-ac28b290a26b.png">
Maybe the python library that you use to _create_ the table does the ordering?

[2022-05-14 07:48] tischi commented on #708
@K-Meech Do you want to do look into this? If you have other things to do, no problem, I can do it as well.

[2022-05-14 07:52] tischi commented on #704
@KateMoreva Could you want to look into this? I have a feeling it comes from this code in the MoBIE class, which I think was recently modified by you?

[code]

[2022-05-14 09:16] constantinpape commented on #708
I added it to the jsonschema now: there's `glasbeyRandomSeed` for both segmentation and source annotation display.

[2022-05-15 18:20] tischi opened #720 "Crashing when showing images in 3D"
Checking the `[ ] V` checkbox for the `raw` image in the PlatyBrowser gives me:

[code]

Is it just me?

[2022-05-15 18:29] tischi opened #721 "Simplify segments rendering UI"
Should we merge those into one in the GUI?
- Change Opacity Of Non-selected Segments
- Configure Coloring of Selected Segments
- Configure Label Rendering

---

[2022-05-15 18:30] tischi commented on #721
Working on this here: https://github.com/mobie/mobie-viewer-fiji/pull/722

[2022-05-15 18:32] tischi commented on #721
@constantinpape
We also have:  “Configure Segments Volume Rendering”.

1. Should we also merge this into the "Configure Label Rendering"?
2. Segments or Labels?

[2022-05-15 18:34] constantinpape commented on #721
No, I wouldn't merge it; since this is responsible for a different window (i.e. for the 3d viewer instead of the bdv window).

But I agree that we should use the same name everywhere, my vote would be for "Label", i.e.
- "Configure Label Rendering"
- "Configure Label Volume Rendering"

[2022-05-15 19:59] tischi commented on #720
Probably related when running `TestRemoteZebrafish` I get:

[code]

[2022-05-15 20:22] tischi commented on #720
Within Fiji it seems to work.
I asked on the forum: https://forum.image.sc/t/icy-crashes-when-clicking-3d-view-macos-catalina/40628/20

[2022-05-15 20:25] tischi commented on #698
- [ ] SourceDisplay interface: Add getMask()?
- [ ] SourceDisplay interface: Maybe getRealInterval would be sufficient?
    - This would allow checking whether a SourceDisplay is currently visible in BDV in terms of intersecting with the current view (without checking all the individual sources, which may be expensive)
    - For this to work correctly, the SourceDisplay would need to listen whethe

[2022-05-16 06:55] K-Meech commented on #708
@tischi I don't think I'll have time to do this this week. Could you look into it?

[2022-05-16 09:25] tischi commented on #717
The problem is that, there currently is only one global setting for whether all BDV in Fiji have a scale bar or not and we need one in the BDV where we show the images.

[2022-05-16 10:37] martinschorb commented on #709
I manually created that table.

https://github.com/mobie/clem-example-project/blob/main/data/hela/tables/fluorescence/default.tsv

And Beta re-orders the columns...
![Screenshot 2022-05-16 at 12 35 14](https://user-images.githubusercontent.com/35071867/168574928-f2785f34-3423-41db-bf92-dccc68272df0.png)

[2022-05-16 10:44] tischi commented on #709
Interesting...how do you load that table into MoBIE?

[2022-05-16 10:45] martinschorb commented on #709
that's the `Fig2a` view. All other figure views show the same behavior.

[2022-05-16 11:33] constantinpape commented on #717
Ok, I don't think this one is so crucial right now. Maybe you can open an issue in BDV about it?

[2022-05-16 11:37] tischi commented on #708
I can do it, pending https://github.com/mobie/mobie-viewer-fiji/pull/722

[2022-05-16 11:49] tischi opened #723 "Add more tests"
Currently only very few tests.
Some are half working or commented.

[2022-05-16 13:29] tischi commented on #717
https://github.com/bigdataviewer/bigdataviewer-core/issues/138

[2022-05-16 13:45] tischi commented on #709
I found it:

[code]

@constantinpape @K-Meech
I have a strong memory that we decided at some point to sort the column names of the source annotations alphabetically, but I do not remember why...
I could just remove the sorting, should I?

[2022-05-16 14:00] martinschorb commented on #709
I would vote for displaying the table as in the `tsv` file. If a certain column order is desired, it would be defined there.

[2022-05-16 14:11] K-Meech commented on #709
Using the order in the tsv file sounds good to me too @tischi . I'm not sure why we were sorting...

[2022-05-16 14:12] constantinpape commented on #709
Fine with me as well

[2022-05-16 15:32] #709 closed

[2022-05-16 16:49] tischi commented on #723
- [ ] add test including a scatterplot

[2022-05-16 17:15] martinschorb commented on #723
For the CLEM project they are all in the `mobie-paper` menu and are called
`Figure2x` with `x` in `[a,b,c,d,e,f]`

[2022-05-17 13:41] tischi commented on #708
@constantinpape

1. Should we also rename this to have the word "Label" in the name? `Change Random Coloring Seed [ Ctrl L ]`
2. Or should we even also move this into the `Configure Label Rendering`?!

I'd be for (2).

[2022-05-17 14:21] K-Meech commented on #723
For the platybrowser, there's one called ```Figure 1a``` in the ```mobie-paper``` menu. It includes showing a scatter plot.

[2022-05-17 14:22] tischi commented on #708
Another thing. In the code we have: `CategoryColoringModel` with code like this:

[code]

In practice we right now always initialize this with the glasbeyLut, but we could also support other random LUTs.

Should we thus rather say: `randomColorSeed` instead of `glasbeyRandomSeed`?

[2022-05-17 14:23] constantinpape commented on #708
Sounds good. I will rename it in the spec.

[2022-05-17 14:31] tischi commented on #708
PR: https://github.com/mobie/mobie-viewer-fiji/pull/727

[2022-05-17 15:18] #721 closed

[2022-05-17 15:23] tischi commented on #677
I am closing this as I think we exhausted the options discussed in this issue.
There is probably more we can do but I would rather open a new issue.

[2022-05-17 15:23] #677 closed

[2022-05-17 15:30] tischi opened #728 "BDV window title"
Right now the BDV window title reads: `MoBIE - BigDataViewer`

<img width="490" alt="image" src="https://user-images.githubusercontent.com/2157566/168849445-b0fcead9-f8ba-43d3-a40b-6353ea8a1e62.png">

If one looks at the rest of the windows, we don't have MoBIE written anywhere in the title, apart from the main MoBIE UI.

<img width="822" alt="image" src="https://user-images.githubusercontent.com/

[2022-05-17 17:04] martinschorb commented on #710
I am referring to the "location" default value that is the same for all projects and nonsense for most of them:
![Screenshot 2022-05-17 at 19 02 48](https://user-images.githubusercontent.com/35071867/168870424-fbf929b0-4ac3-4a71-a268-def57c6e6e85.png)

[2022-05-17 18:27] constantinpape commented on #710
The way to change this is via the `defaultLocation` field in the dataset: https://github.com/mobie/platybrowser-project/blob/main/data/1.0.1/dataset.json#L2-L8.
@tischi I think we should also change the default here, so that it's empty instead of showing some arbitrary value.

[2022-05-17 22:04] constantinpape commented on #728
I think having MoBIE in there is good to distinguish it from plain BDV. (With context menu as one difference and we may eventually have others).

[2022-05-18 06:10] martinschorb commented on #710
And it would be also cool to not have to type the entire JSON string into that input field but rather just the three coordinate values. If while parsing it finds `{` as first non-blank char, it could still interpret the input as JSON string to enable more functionality than just `position`.

[2022-05-18 06:30] martinschorb commented on #710
Hmm,  it looks like `defaultLocation` is not applied...

https://github.com/mobie/clem-example-project/blob/00cf17306086bfbb615b860fc49414523afb3b9d/data/hela/dataset.json#L3

vs.

![](https://user-images.githubusercontent.com/35071867/168870424-fbf929b0-4ac3-4a71-a268-def57c6e6e85.png)

[2022-05-18 06:49] #728 closed

[2022-05-18 07:01] constantinpape commented on #710
@tischi so I think there are 3 things to potentially fix:
- make sure that the `defaultLocation` field is actually parsed and used (we currently have it in `clem-example-project` and `platybrowser-project`)
- by default (i.e. if `defaultLocation` is not present) leave the location field black instead of putting in an arbitrary default value
- maybe: allow pasting only the position values (see comm

[2022-05-18 07:03] tischi commented on #710
@martinschorb could you please open a separate issue for this?

[2022-05-18 07:06] tischi commented on #710
https://github.com/mobie/mobie-viewer-fiji/pull/730

[2022-05-18 07:06] martinschorb opened #731 "enable location field to accept just positions (comma-separated)"
It would be also cool to not have to type the entire JSON string into that input field but rather just the three coordinate values for `position`.

- copy pasting json formatted strings must still work, since copy and pasting from logged locations is a very common use case for this field
-  If while parsing it finds { as first non-blank char, it could still interpret the input as JSON string to en

[2022-05-18 09:43] tischi commented on #710
If it is `null` should we put an empty string or something like `{ position(0,0,0), timepoint=0) }`.
The latter would have the advantage the people see what sort of information they could put there.

[2022-05-18 09:46] martinschorb opened #732 "problem loading crop"
Hi,

I try to display a cropped transform of a source.

This is view `test2` in `test` in https://github.com/mobie/clem-example-project, branch `crop1`.

When loading this view, it is added to the source list, but not displayed. I get:

[code]

and BDV freezes trying to load the images.

This happens only with crops. When not displaying the crop (no `imageDisplay` but having the crop transform in

[2022-05-18 09:46] martinschorb commented on #732
the view is valid according to `mobie-python`.

[2022-05-18 11:05] tischi commented on #710
I gave the `defaultLocation` a default value:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2157566/169024741-a48d7780-0a4c-47ef-a77a-5ae8c6cb98ed.png">

- [ ] At some point we could put this in the spec.

[2022-05-18 19:25] constantinpape commented on #732
I had a quick look and the view also seems fine to me. I think @tischi needs to take a look; but we should probably wait till the MoBIE beta is there and the view specs are fully updated here, since there is a bit of chaos now.
(@tischi: as soon as you have pushed to MoBIE-beta tomorrow I can update all the projects).

[2022-05-19 07:48] K-Meech commented on #712
This is fixed on the current develop branch

[2022-05-19 07:48] #712 closed

[2022-05-19 09:14] martinschorb opened #733 "assign background value, "show raw image(s)""
When I try to "show raw image" of a source that is not a complete rectangle, the values outside of existing data get padded with `0`.
Could you add an option to define the pad value?

[2022-05-19 09:42] tischi commented on #733
Could you let me know how to reproduce this?
The "raw data" by definition should be a complete rectangle, because it really should just give you what is stored on disk.

[2022-05-19 09:55] constantinpape opened #734 "MoBIE-beta: opening covid-if-project fails"
Opening the covid-if project (https://github.com/mobie/covid-if-project) fails with the latest beta with:
[code]

[2022-05-19 10:02] constantinpape commented on #734
Same issue for https://github.com/mobie/plankton-fibsem-project when opening the `micromonas` dataset.

The issue seems to occur when a regionDisplay is in the default view. It works fine when it's in a view that is selected after the viewer has fully started.

[2022-05-19 10:03] martinschorb commented on #733
the data is in here:
`/g/schwab/Beckwith_MSB/Microscopy_data/SBEM_data/220325_MSB25_sample2_HL60_lifeact_liveCellCLEM/aligned/20220503-1326`

It is sparse in a sense that there are only active tiles here and there (changing during the run through `z`). I'd like the outside of the tiles to be filled with the value roughly matching the empty resin instead of being zero.

I can obviously script it to

[2022-05-19 10:46] martinschorb commented on #732
Still get:

[code]

In the log it seems tht it opens the source and then crashed when trying to display it.

[code]

[2022-05-19 10:50] tischi commented on #733
I think in OME-Zarr you can specify the Fill Value in one of the JSON.
What file format do you use here?

[2022-05-19 10:51] martinschorb commented on #733
so far N5, it's produced by Render.

[2022-05-19 10:58] tischi commented on #733
does that have metadata for the fill value?
@bogovicj

[2022-05-19 11:02] constantinpape commented on #733
No, not supported in n5, see https://github.com/saalfeldlab/n5#file-system-specification.

[2022-05-19 11:04] tischi commented on #734
Hm, I get a different error:

[code]

[code]

[2022-05-19 11:07] constantinpape commented on #732
I checked again: the project is valid according to the python validator and also my quick manual check.
When I try to open the view in the latest MoBIE-beta it fails with the following error (slightly different from the one posted by Martin):
[code]
@tischi can you have a look at this?

[2022-05-19 11:08] tischi commented on #734
I get
[code]

The JSON spec is the old one, should be `regionDisplay`.

[2022-05-19 11:12] constantinpape commented on #734
No, it's correctly set to `regionDisplay`, see https://github.com/mobie/plankton-fibsem-project/blob/main/data/micromonas/dataset.json#L285.

[2022-05-19 11:18] tischi commented on #732
@NicoKiaru Did you change something in the bdv-playground that could cause this error?

[code]

Or do you have some tips how to debug this?

[2022-05-19 11:18] tischi commented on #732
I see there is some log to help with this:

[code]

@NicoKiaru, does that help?

[2022-05-19 11:21] tischi commented on #734
Maybe some github issue.
Sometimes it takes a while till they update the raw githubuser content.
I will try again later.

[2022-05-19 11:23] constantinpape commented on #734
FWIW it's correct (i.e. using `regionDisplay`) in the raw file already, see https://raw.githubusercontent.com/mobie/plankton-fibsem-project/main/data/micromonas/dataset.json

[2022-05-19 11:31] tischi commented on #734
super weird. something is caching here.

[2022-05-19 11:32] tischi commented on #734
ah, I was opening: https://s3.embl.de/plankton-fibsem

[2022-05-19 11:35] tischi commented on #734
But now it works:

[code]

There does not seem to be a `regionDisplay` in the default view?
https://github.com/mobie/plankton-fibsem-project/blob/be6f31750f75a073d951f4b92e7bd12b42354f87/data/micromonas/dataset.json#L651

[2022-05-19 11:46] tischi commented on #734
@constantinpape

You seems to have some columns without values:

https://raw.githubusercontent.com/mobie/covid-if-project/main/data/20200406_164555_328/tables/sites/default.tsv

There are 9 columns, but initially there are only 8 entries, well one seems to be an empty String.
I am not sure we support this. I could have a look.

[code]

[2022-05-19 11:48] tischi commented on #734
I had a look in the Java code and I think we don't support empty Strings as a table cell...do we?

[2022-05-19 11:59] constantinpape commented on #734
micronomas view also works for me now.
I will look into updating the project on s3.

[2022-05-19 12:03] constantinpape commented on #734
I see, I understand what's going wrong there now (it's because I had to resave the table and the standard way of pandas to treat nans is not compatible with MoBIE.) I will fix it later, I am busy with other things for now.

[2022-05-19 12:43] tischi commented on #732
@martinschorb
I think one issue may be that the crop is 2D:
<img width="471" alt="image" src="https://user-images.githubusercontent.com/2157566/169295383-4e7b79ce-ef97-49bf-89e1-a7734956b5d5.png">
I guess it is on purpose that `min[2]==max[2]`?
I am not sure this will work in general.
Is there a way that you can specificy the crop in a way the `min[2]!=max[2]`?
I will dig a bit more...

[2022-05-19 12:53] tischi commented on #732
OK, I did the same trick as with the Regions. T
o make it 3D, I enlarge the chosen interval by the voxel size:

[code]

Now it does not crash anymore, but I cannot see anything.

Should I upload this change to MoBIE-beta or do you rather want to create some tests for me that I can check from within IntelliJ?

[2022-05-19 13:06] martinschorb commented on #732
it transforms a 2D source, so yes.
I guess in the case that one size in any dimension is 0, one could simply add a pixel/corresponding length.

[2022-05-19 13:16] tischi commented on #732
@martinschorb see my other posts  ⬆️

[2022-05-19 13:16] martinschorb commented on #732
It works for me when specifying a thicker crop (1um).

[2022-05-19 13:16] martinschorb commented on #732
I can see it...

[2022-05-19 13:20] tischi commented on #732
OK, awesome!
I think I will still keep my code changes, right?

[2022-05-19 13:22] martinschorb commented on #732
To clarify: I can see it when increasing `z` in the crop. I haven tested your code. If you put it in Beta, I will...

[2022-05-19 13:24] tischi commented on #732
What is the voxelsize of this image in z?

[2022-05-19 13:29] tischi commented on #732
Do you have enough functionality for now to work on the publication figure?

[2022-05-19 15:23] constantinpape commented on #734
I fixed the issue with the table now, but there is another issue with loading the project, but I will create a separate one for it.
The issues discussed here are fixed now.

[2022-05-19 15:23] #734 closed

[2022-05-19 15:26] constantinpape opened #735 "Loading covid-if hangs"
Loading covid-if hangs for me:
MoBIE menu and viewer are started normally, but the images and tables are never shown. It does not throw any error.
Here is the end of the log output:
[code]

Note that this is with the latest MoBIE-beta and even after >10 minutes nothing happens when trying to load the project (took < 1 minute when it worked the last time).

[2022-05-19 16:58] tischi opened #736 "Published moBIE figures"
@martinschorb
@constantinpape
Should we add example-clem and covid-if to the published projects?
1. That could make it even easier to access for the reviewers
2. For Covid-IF there is even a publication

[2022-05-19 17:05] tischi commented on #735
Works for me:

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/2157566/169357419-250b8389-378d-4f3d-b6e3-bbec0abeddac.png">

@martinschorb could you please also try to open: https://github.com/mobie/covid-if-project

[2022-05-19 17:37] martinschorb commented on #736
or we even create a new menu option "Open projects from MoBIE publication"

[2022-05-19 20:47] constantinpape commented on #735
I tried again and now it works. Maybe some transient issue with my internet connection

[2022-05-19 20:47] #735 closed

[2022-05-19 20:48] constantinpape commented on #736
I would be fine with both options (Adding to published projects or creating new menu option.)

[2022-05-20 06:08] martinschorb commented on #736
are all views from the IF and platy projects from one dataset?

If so, we could also create a new project just for the publication with the three figures as datasets.
This would also have the advantage that we can keep that repo frozen at the publication state while we could still modify the original projects.

[2022-05-20 06:29] martinschorb commented on #732
it seems not to be part of Beta yet. I will just create the cropviews with a z-margin.

[2022-05-20 06:59] martinschorb commented on #732
OK, now there's the problem that the crop source is not shown where it should be. It is cropping the correct part of the image but it is showing somewhere off. (Looks like a translation to some wrong origin)

![Screenshot 2022-05-20 at 08 57 42](https://user-images.githubusercontent.com/35071867/169471565-147ebfc0-eb58-4c42-bbf7-2952ec1a2594.png)

This is not what I would expect from a crop. It sh

[2022-05-20 07:01] martinschorb commented on #732
Oh, and I also tried without `"sourceNamesAfterTransform"`s just chaining trafos. This clearly works, because the crop is from the correct part of the image. It is just shifted.

[2022-05-20 07:12] tischi commented on #732
@martinschorb

[code]

You need to set it to _false_.

[2022-05-20 07:13] martinschorb commented on #732
It's  centerAtOrigin!!!
![Screenshot 2022-05-20 at 09 12 51](https://user-images.githubusercontent.com/35071867/169473657-c181299c-b80b-4b88-abe5-fe5beb04a5c0.png)

[2022-05-20 07:14] martinschorb commented on #732
OK, we remembered that one at the same time ;-)

[2022-05-20 07:21] tischi commented on #732
Maybe `False` is the better default?
@constantinpape do you remember why we put this to `True`?

Reason: If you want to combine several crops into a grid, then the subsequent grid transform has `centerAtOrigin = true`, so it would not matter what you had in the crop itself.

[2022-05-20 07:24] martinschorb commented on #732
Exactly, for grids it makes total sense.
We just never showed a crop in its original location. The cool thing now is, by combining crops and annotation, you can annotate rectangles anywhere in your data ;-)

[2022-05-20 07:26] tischi commented on #732
Yeah, but I think for this use case, we should rather extend the regionDisplay to enable  ROIs, isn't it? If you agree, please make an issue.

[2022-05-20 07:26] tischi opened #737 "Crop transform: centerAtOrigin default?"
Maybe `False` is the better default?
@constantinpape do you remember why we put this to `True`?

Reason: If you want to combine several crops into a grid, then the subsequent grid transform has `centerAtOrigin = true`, so it would not matter what you had in the crop itself.

_Originally posted by @tischi in https://github.com/mobie/mobie-viewer-fiji/issues/732#issuecomment-1132567076_

[2022-05-20 07:27] constantinpape commented on #732
@tischi haven't followed the discussion here fully, but feel free to change  the default value for centerAtOrigin for crops back to false (jsonschema doesn't have a conept of default values anyways, so no need to update the spec for this)

[2022-05-20 07:27] martinschorb opened #738 ""showAsBoundaries" no longer works"
Hi,

with the updated specs, "showAsBoundaries" no longer works when initiated from a view (CLEM project).
When I activate it through the context menu, it comes back.

[2022-05-20 07:27] constantinpape commented on #737
feel free to change the default value for centerAtOrigin for crops back to false (jsonschema doesn't have a conept of default values anyways, so no need to update the spec for this)

(repeating my post from #732

[2022-05-20 07:28] constantinpape commented on #738
Can you please give exact steps to reproduce this? Which view should be loaded in the clem project?

[2022-05-20 07:31] martinschorb commented on #738
Any Figure, that contains region boundaries from the `main` branch. They all show as filled rectangles for me.

![Screenshot 2022-05-20 at 09 30 59](https://user-images.githubusercontent.com/35071867/169476779-1a5d8dce-7a99-463c-9fd0-d23b1e9217e9.png)

When I then right click and apply the changes for "Configure Label Rendering", these are taken.

[2022-05-20 07:40] martinschorb opened #739 "GUI LAF when creating new views"
Hi,

the GUI appearance of the view dropdowns changes when creating a new one from the GUI.
![Screenshot 2022-05-20 at 09 39 34](https://user-images.githubusercontent.com/35071867/169478540-d8415401-62ee-4cb3-a673-2ca4ac0918d7.png)

[2022-05-20 07:47] constantinpape commented on #738
@tischi for example `mobie-paper -> Figure2a`. It should be loaded with boundaries due to https://github.com/mobie/clem-example-project/blob/main/data/hela/dataset.json#L685-L713

[2022-05-20 08:07] martinschorb opened #740 "crash when annotating crops"
Hi,

I like to annotate crop views with a boundary.
This is in `Figure2a` of `crop1` branch in the CLEM project.

I get:
[code]

the view and project is validated correctly in Python.

Is it because the annotation
https://github.com/mobie/clem-example-project/blob/7a5679d47cc076b463fae7becb71571e52ebd806/data/hela/dataset.json#L783

[code]

references `sourceName`s that are only generated as a cro

[2022-05-20 10:05] KateMoreva opened #741 "Big image volume rendering"
Christian Tischer
There is BigVolumeViewer already, we could look into integrating it.

[https://forum.image.sc/t/bigvolumeviewer-tech-demo/12104](https://www.google.com/url?q=https://forum.image.sc/t/bigvolumeviewer-tech-demo/12104&sa=D&source=editors&ust=1653044511876518&usg=AOvVaw3ylZ-6PDQnzWQEmXhMWant)

[2022-05-20 10:28] tischi commented on #732
done

[2022-05-20 10:44] #737 closed

[2022-05-20 10:48] tischi commented on #732
Not really, if we want to show them in a hetero-dimensional context the voxel size in z matters, because this will determine where along the z-axis the image is visible.
If you make the image very thin it may practically not be visible at all, because you would need to exactly hit that plane within BDV, which may not be possible at that accuracy.

At least that is my current understanding of how B

[2022-05-20 13:07] tischi commented on #738
I fixed it and also wrote a test for this:

[code]

Good?
Let me know if you can think of similar such tests!

[2022-05-20 14:13] #739 closed

[2022-05-20 14:13] #738 closed

[2022-05-20 14:40] tischi opened #742 "Figure1c crashes"
@K-Meech
I am getting errors like this when trying to open Figure1c:

[code]

Any ideas?

[2022-05-20 14:42] tischi commented on #742
Occurs during:

[code]

@martinschorb
I have a suspicion that this is why we needed sorted table columns...
Not sure yet, will investigate.

[2022-05-20 14:58] tischi commented on #742
Not sure yet, will investigate.

That does not seem to be the issue.

I don't seem to get this error when running the tests from within IntelliJ, but only when running using `mvn test` on the CLI. Weird stuff...

[2022-05-20 15:14] constantinpape commented on #742
This probably has a different memory limit than in intelliJ. Try to increase the memory limit for your JVM when running the tests. (Sorry been  a while that I did this, so I don't know the specific, but should be easy to google.)

[2022-05-20 17:02] tischi commented on #742
It is probably something with the memory.

I spent quite some time now to make our test much more efficient and to implement code to properly close MoBIE after each test.

I learned a lot about JUnit 😃

https://github.com/mobie/mobie-viewer-fiji/blob/3630c45db5c190b4a6d8f3df630ac08314fe0809/src/test/java/org/embl/mobie/viewer/MoBIEViewerTest.java

Not completely done, but I need a break now...

[2022-05-20 17:03] tischi commented on #742
Check here whether the test make it on the CI: https://github.com/mobie/mobie-viewer-fiji/pull/725

[2022-05-20 19:31] tischi commented on #742
In fact, I think I commented out the specific Figure1c test.
Will try adding back later.

[2022-05-20 19:57] constantinpape commented on #710
I can add it to the comment, but otherwise the spec, i.e. jsonschema, doesn't really have a notion of default values.

[2022-05-20 19:58] constantinpape commented on #708
Done

[2022-05-20 19:58] #708 closed

[2022-05-21 15:15] constantinpape opened #743 "Loading large grid views in covid-if project fails"
E.g. loading the `plate->full grid` view now fails with a very long error message (see just last part of it below).
The error looks like some of the files are not accessible via S3, but I checked in python and from there they can all be loaded.

[code]

[2022-05-21 15:16] constantinpape commented on #743
(and I am using the latest MoBIE-beta)

[2022-05-23 08:14] tischi commented on #740
I think slight mix-up in the JSON:

You are referring to `em-detail-a2-A_cropshift`, in the region display but you are only defining:  ["em-detail-a1-A_cropshift"](https://github.com/mobie/clem-example-project/blob/7a5679d47cc076b463fae7becb71571e52ebd806/data/hela/dataset.json#L2092)

[2022-05-23 08:27] constantinpape commented on #743
It crashes when loading the images.

[2022-05-23 08:30] tischi commented on #743
For me it works.

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/169777586-2e74709b-c7f4-46f3-a6fd-2fa577b3da1e.png">

Maybe your internet?

[2022-05-23 08:31] tischi commented on #743
Can you try with a VM within EMBL?

[2022-05-23 08:36] constantinpape commented on #743
I tried again and now it also works for me. I suspect it was a transient issue with EMBL S3 (probably not my internet, I did a speedtest right when the error occured and got 100 MB/s download, 10 MB/s upload).
I will try again this afternoon and close the issue if it doesn't occur again.

[2022-05-23 08:38] tischi commented on #743
FWIW, I also updated MoBIE-beta again.

[2022-05-23 09:46] tischi commented on #740
I upated MoBIE-beta just now, could you try again?

[2022-05-23 10:05] martinschorb commented on #740
the solid annotation still appears with the crop. On top, I now also get:

[code]

[2022-05-23 10:19] martinschorb commented on #740
huh, funny...

boundary thickness:
- 1 -> works
- 1<d<5 -> solid
- 5 -> works
![Screenshot 2022-05-23 at 12 17 40](https://user-images.githubusercontent.com/35071867/169798611-3132ad8c-9b69-4220-96e0-dd473dfe5605.png)
![Screenshot 2022-05-23 at 12 17 54](https://user-images.githubusercontent.com/35071867/169798618-add4eb65-b8fa-4462-8617-3c30cdf8ed0c.png)
![Screenshot 2022-05-23 at 12 18 07](https

[2022-05-23 10:46] martinschorb commented on #740
`Ctrl Click` gives me

[code]

But that could be due to the error state I get before.

[2022-05-23 10:53] martinschorb commented on #740
Update:

I also get that error

[code]

when `ctrl click` in another view without the other error. Also then, the color does not change.

[2022-05-23 10:54] tischi commented on #740
Question:
Is it on purpose that the two regions have a very different size?
<img width="600" alt="image" src="https://user-images.githubusercontent.com/2157566/169804280-69367a11-6438-41e0-b98f-945a2097bafb.png">

[2022-05-23 10:59] martinschorb commented on #740
yes, it is a Zoom-in of the small region (duplicating the crop and then shifting and scaling it). I thought I could handle this in one annotation. I will try splitting it into two (with only one source each).

[2022-05-23 11:06] martinschorb commented on #740
Now this behaves exactly as expected.
No errors.

[2022-05-23 11:06] martinschorb commented on #740
So I cannot use differently-sized sources in one annotation? I thought we did exactly that with the centrioles.

[2022-05-23 11:14] tischi commented on #740
I don't know ;-)
I have to understand my own code for that....
Can you please open an issue for that scenario with an example view?

[2022-05-23 11:44] tischi opened #744 "Think about ColoringModels"
1. There is a lot of wrapping going on right now.  Could this be simplified?
2. ListItemsARGBConverter and LabelConverter seem quite similar. Could this be unified?

[2022-05-23 11:53] tischi opened #745 "Label boundary rendering for regions of mixed size"
I don't know ;-)
I have to understand my own code for that....
Can you please open an issue for that scenario with an example view?

_Originally posted by @tischi in https://github.com/mobie/mobie-viewer-fiji/issues/740#issuecomment-1134540747_

[2022-05-23 11:56] tischi commented on #745
Boundary rendering for (quasi) 2D sources is implemented differently than for 3D sources. For annotated regions we can have scenarios were some of the regions are more 3D than some others. Currently the code is taking the union of all regions as a criterion to decide whether the boundary rendering should be done in 2D or 3D mode.

Maybe we should rather (than the union) use the smallest region to

[2022-05-23 12:09] tischi commented on #740
1. I created an issue for ☝️
2. You seem to have one region annotation twice:
<img width="529" alt="image" src="https://user-images.githubusercontent.com/2157566/169816174-f0d95565-826d-4ebd-81f2-701269b15f72.png">

[2022-05-23 12:12] martinschorb commented on #740
yes, I just duplicated the one and removed one source in each. Forgot about the name...

[2022-05-23 12:38] tischi commented on #740
I updated MoBIE-beta, I hope the coloring upon region selection works now.

[2022-05-23 12:38] tischi commented on #740
Can we close this issue now?
We can open a new one when something related pops up.

[2022-05-23 12:43] martinschorb commented on #745
`clem-example-project`, branch `cropannotations`

All views and entire project validate correctly. TBH, I am not sure what behavior to expect for these crop annontations. But this feels odd...

views in `croptest`:

- `individual`: all crop sources fed individually into separate `regionDisplay`s. -> **Displays as expected**
- `in_one_list`: one `regionDisplay` with the two crop sources collected i

[2022-05-23 12:46] martinschorb commented on #745
one difference between `crop` and `cropshift` is a different thickness. That probably explains the solid display. I still don't understand why for thick values it suddenly becomes boundary again.

[2022-05-23 12:50] martinschorb commented on #745
created a view `one_annot_same_thickness` that has the **same thickness**.

Now the boundaries are correct for **all** thickness values.

So we have a solution, but not an explanation for the behavior.

@constantinpape how would you recommend to set up the annotation displays in such a case?

[2022-05-23 12:52] tischi commented on #745
I think I know why: if it the boundaries become as thick as the height of the largest region, the code switches to 2D boundary rendering mode (s.a.).

[2022-05-23 13:09] martinschorb opened #746 ""Save current view" crashes"
Hi,

I try to save a view (from any project), I get:

[code]

This is **current Beta.**

[2022-05-23 13:24] #746 closed

[2022-05-23 13:29] martinschorb opened #747 "manual transform moves region annotations"
Hi,

when using BDV's manual transform inside MoBIE, all annotations are moved regardless of the "current" source.

_**current Beta**_
![Screenshot 2022-05-23 at 15 28 19](https://user-images.githubusercontent.com/35071867/169830300-435858dd-0369-4e2e-b836-30d0f5232365.png)

[2022-05-23 13:32] martinschorb commented on #747
That only happens when "manual Transform"  is active. When stopping it (by either canceling it `Esc` or confirming it `T`) the source behaves as expected and also all annotations jump back.

[2022-05-23 14:19] constantinpape opened #748 "Load column -> From project fails in covid-if"
"Load column" -> "From Project" fails in current MoBIE-beta in the covid-if project (see error message below):
- Open covid-if project
- Go to "sites" table
- Select "Load column" -> "From project"

Note that I tried in a different project where it works (platybrowser, loading a column in the cell table). But I can't find anything wrong for the sites tables.

[code]

[2022-05-23 14:40] tischi commented on #748
Interesting. In my code it looks like as if we never supported loading additional tables for regions (only for segmentation). I will try to make it work.

[2022-05-23 14:41] constantinpape commented on #748
Ok, that would explain the error :D

[2022-05-23 14:55] tischi opened #749 "Region Ids: Strings or Numbers?!"
@constantinpape @martinschorb

Looking at my code, trying to make possible: https://github.com/mobie/mobie-viewer-fiji/issues/748

I found this:

[code]

This strongly suggests that at some point we only allowed numeric values for region IDs.
I also saw that @martinschorb uses numbers as region IDs in the CLEM-Example project.

Probably we initially did that because we wanted the code to be compat

[2022-05-23 15:45] tischi commented on #747
I fixed it, but what would remain to be done is that the region annotation moves along with a transformed image.

[2022-05-23 15:46] tischi opened #750 "Move region annotation with transformed source"
I fixed it, but what would remain to be done is that the region annotation moves along with a transformed image.

_Originally posted by @tischi in https://github.com/mobie/mobie-viewer-fiji/issues/747#issuecomment-1134839437_

This should work using the lazy intervals from imglib2-roi, but there are pending PRs and performance issues....Maybe there is another way of fixing this...

[2022-05-23 15:51] constantinpape commented on #749
I don't quite understand this. But my immediate answer would be "leave it as it is, do float comparison if possible, otherwise string comparison".

[2022-05-23 15:52] constantinpape commented on #736
My personal preference would be to just add clem and covid-if to published projects and not create anything extra for it.
(I think this extra project would be more confusing.)
What do you think, @tischi?

[2022-05-23 15:53] martinschorb commented on #747
That's a tough one. It would require the original view being updated by the manual transformation or re-linking the annotation to the new view source.

[2022-05-23 15:58] martinschorb commented on #736
Let's imagine the actions required to open a figure as a user:

option **a** (leaving separate projects)
- check the figure which project to load
- load the relevant project
- load the figure panel view from the "mobie-figure" menu

option **b** (have an extra project)
- open the mobie publication project
- load the figure panel view from the "mobie-figure" menu

So it is basically one action less

[2022-05-23 16:13] tischi commented on #750
In fact, it seems as this would work in principle.

In `RegionCreator` we have:

[code]

...with `RealMaskRealInterval mask`, which probably could be exchanged with something lazy.

Looking a bit around `RealTransformRealInterval` seems promising, it even contains a transform and checks whether it changed.

[2022-05-23 16:15] tischi commented on #742
Check this: https://github.com/scijava/pom-scijava-base/blob/pom-scijava-base-15.0.1/pom.xml#L600-L619

See post by Curtis in https://gitter.im/fiji/fiji

[2022-05-23 16:17] tischi commented on #749
That's what I did now.

[2022-05-23 16:17] #749 closed

[2022-05-23 16:18] tischi commented on #747
I think it is possible, see the new issue: https://github.com/mobie/mobie-viewer-fiji/issues/750

Otherwise, can we close this? Manual transform should now leaves the regions in place.

[2022-05-23 17:03] tischi commented on #736
In the MoBIE paper figure legends we always give both, the project name and the figure name.
But I guess you are talking the other way around?

Could one extend option **b** to something like "MoBIE > Published MoBIE figures"?

Then it would only be **one click** and we could leave the "published MoBIE projects" untouched (of course adding the Covid-IF and the CLEM-Example.

Thinking of me being a

[2022-05-23 19:17] constantinpape commented on #736
I like the published figure idea! @tischi can you implement it?

(For some context, I don't like putting everything into a single project because data in the same project should have something more in common than the arbitrary: "highlighted in our NM publication, but actually the paper is very different and comes from completely different sources". Ofc this is up to whoever creates projects, but w

[2022-05-23 19:19] #748 closed

[2022-05-23 19:34] constantinpape opened #751 "Problem with nan values when reading view with "colorByColumn""
Loading a view which has "colorByColumn" with a column that contains a `nan` fails, see the error below.
Note that doing coloring with this column via the table menu works without issues.
To reproduce:
- open covid-if-project
- select view `mobie-paper->Figure3b`

[code]

[2022-05-23 19:46] constantinpape commented on #681
done

[2022-05-23 19:46] #681 closed

[2022-05-23 19:57] constantinpape opened #752 "Save current view does not save showAsBoundaries and boundaryThickness for segmentations"
When saving the following view:
![view-boundary-labeling](https://user-images.githubusercontent.com/4263537/169895971-e4c2f8ce-6020-4053-a1b0-84934cea7067.png)
I get a json file that (incorrectly) contains `showAsBoundaries: False` and `boundaryThickness: 1.0` (should be 4.0) for the corresponding `segmentationDisplay`.

[2022-05-23 20:21] #751 closed

[2022-05-23 20:22] tischi commented on #751
I think I fixed it, will upload to MoBIE-beta tomorrow.

[2022-05-23 20:35] martinschorb commented on #736
That extra route sounds like a very good solution to me.

[2022-05-24 15:15] tischi opened #753 "Label Coloring"
Working with @martinschorb  today on the figure I was wondering whether it could be useful to have a coloring mode where all labels of one table simply get the same color.

I think this could be useful when coloring diverse types of objects (e.g. image regions, nuclei segmentation, cell segmentation) because then one can see by the color which type it is.

[2022-05-24 15:51] tischi opened #754 "Closing the MoBIE main window does not close all the other windows"

[2022-05-24 15:52] tischi opened #755 "Should there be more than one MoBIE?"
Should we allow more than one MoBIE instance per Fiji instance?

[2022-05-24 15:54] tischi commented on #736
I am implementing this, but now if a user selects two figures in a row there will be two MoBIEs which is very confusing.

1. Should we automatically close (all) MoBIE instance(s) when opening a MoBIE Figure?
2. https://github.com/mobie/mobie-viewer-fiji/issues/754
3. https://github.com/mobie/mobie-viewer-fiji/issues/755

[2022-05-24 15:58] constantinpape commented on #736
I don't quite understand the issue. Shouldn't the new "Open Published MoBIE Figure" work exactly as "Open Published MoBIE project", just that it opens a specific view instead of the default view?

[2022-05-24 17:25] constantinpape commented on #736
Ok, then this clears up my confusion :).

[2022-05-24 17:26] constantinpape commented on #754
This would indeed be very helpful.

[2022-05-24 17:26] constantinpape commented on #755
Not sure, there might be some use-cases for opening multiple MoBIE instances. Maybe we can allow it if #754 works?

[2022-05-24 17:29] tischi commented on #580
I checked the code and it looks like yes.

[2022-05-24 17:29] #580 closed

[2022-05-24 17:42] #754 closed

[2022-05-24 17:43] tischi commented on #736
OK, so:

Should we automatically close (all) MoBIE instance(s) when opening a MoBIE Figure _or Project_?

I think my vote is: yes.

[2022-05-24 17:49] constantinpape commented on #736
If possible I would vote for the following:
- `Open Published Project` -> Close all other MoBIE instances
- `Open Published Figure` -> Close all other MoBIE instances
- `Open Platybrowser` -> Close all other MoBIE instances
- other `Open` options:  don't close other MoBIE instances, there might be some use-cases for opening multiple

If that's too complicated I am also fine with closing all other

[2022-05-24 17:50] constantinpape commented on #736
or, this could be the default for everything, but we add a check-box to the expert mode to *not close* other MoBIE instances

[2022-05-24 17:55] tischi commented on #736
I would go with that and wait for complaints ;-)

[2022-05-24 17:56] constantinpape commented on #736
Fine with me

[2022-05-24 18:02] #736 closed

[2022-05-24 18:02] #755 closed

[2022-05-24 18:46] tischi opened #756 "Published Figures"
Issue to keep track of the new "published figures" menu item.

Currently looks like this:

<img width="371" alt="image" src="https://user-images.githubusercontent.com/2157566/170109714-b2f18af6-b432-4376-b0c5-abb5021f9b49.png">

OK?

Or should we for now replace `Nature Methods` with `bioRxiv`?

[2022-05-24 18:47] tischi commented on #756
- [ ] And we should probably also add the Cell Paper figures?!

[2022-05-24 18:50] constantinpape commented on #756
Hmm, one thing: this can get very crowded very fast if we want to keep adding figures for multiple papers. So having a hierarchy that allows us to first select the paper and then the figure from the paper would make it simpler to navigate.

Yes, absolutely! We should not put Nature Methods on anything official yet.

Yea, good idea; but I wouldn't put it on highest priority.

[2022-05-24 19:18] tischi commented on #756
I agree, but for now, maybe leave it as is. Nesting may be a bit complicated..

[2022-05-24 19:41] tischi commented on #756
Updated MoBIE-beta to contain this feature.
Calling it a day now, will check again tomorrow afternoon for MoBIE stuff.

[2022-05-24 20:28] constantinpape commented on #756
Typo in covid fixed here: https://github.com/mobie/mobie-viewer-fiji/pull/757
Besides that works for me :).

[2022-05-25 12:39] tischi opened #758 "Configure occluding blending mode"
There currently is: `Display>Set Blending Mode` in the context menu.
I would say this is not really working or at least hard to use.

I think it could be better to add more control to the display adjustment panel.

Idea: Remove this context menu and if one clicks the "O" button, the GUI that appears could, in addition to the opacity slider, also have a checkbox `[ ] occluding`.

What do you think

[2022-05-25 14:33] #747 closed

[2022-05-26 08:07] constantinpape commented on #710
I will go ahead and close this, the origin is a reasonable default, so we don't have to provide this for all projects now.

[2022-05-26 08:07] #710 closed

[2022-05-26 08:08] constantinpape commented on #758
Sounds like a good idea from my side.

[2022-05-27 09:19] constantinpape commented on #756
I think this functionality is working correctly. We can maybe add a few more figure panels, also from other papers, but as long as we don't have nesting I personally wouldn't do it (e.g. the platy paper would add 20 figures or so, which would make the menu very chaotic already.)

[2022-05-30 09:29] tischi commented on #756
Yes, we have to think about how to implement the nesting...
@NicoKiaru do you know whether the SciJava commands support some TreeView?
Or some other way of having a nested drop-down?

[2022-05-30 09:40] NicoKiaru commented on #756
Not directly I'm afraid. For the SourceAndConverter I've added some swing widgets:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/widget/SwingSourceAndConverterWidget.java

and

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/widget/SourceAndConverterWidget.java

I wrote this speci

[2022-05-30 09:53] tischi commented on #756
Just a `Map< String, List<String> >`. Do you have something for this?

[2022-05-30 10:40] NicoKiaru commented on #756
No, I do not have anything unfortunately. Maybe an idea to avoid having an input widget which takes all Map is to make a more specific class like:

[code]

and create an inputwidget which deals with MobieTree.

[2022-05-30 13:21] tischi commented on #756
- [ ] Convert the internal data structure to a `Map< Publication==String, List< Figures==String >`
- [ ] Publications: `Platy`, `MoBIE`

[2022-05-30 14:42] tischi opened #760 "MoBIE Figure 1c: Volume rendering zoom level is wrong"
The 3-D rendering is too much zoomed in for me.

Check the code that controls the zoom level of the 3-D rendering.

Usually it should always adapt the zoom level such that all segments are visible.

## Current rendering

<img width="512" alt="image" src="https://user-images.githubusercontent.com/2157566/171015317-0131c8fb-4155-40ff-9b5e-62ca758c3c9a.png">

## Desired rendering

Something like this

[2022-05-30 14:52] tischi opened #761 "Which segments should be shown as 3D rendering?"
I think right now only selected segments are rendered in 3D.

I wonder whether this is a limitation (or even makes sense)?

Wouldn't it be more natural to have a dedicated way to choose which segments should be rendered in 3D (different from actually adding them to the set of _selected_ objects them)?

I am not sure, I think we'd have to see use cases...

[2022-05-30 16:25] tischi commented on #760
Removing `universe.setAutoAdjustView( false )` fixes this.
I don't remember why we had it...
Probably this needs some fine tuning at some point.

[2022-05-30 16:25] #760 closed

[2022-06-01 10:20] KarelMocaer opened #763 "Name under image in grid"
Dear Mobie Team,

I was wondering if it would be possible to implement an option for showing images' names under them in the grid view.

Best regards,

Karel

[2022-06-01 10:40] constantinpape commented on #763
I agree, this would be very useful. And is related to https://github.com/mobie/mobie-viewer-fiji/issues/698.

[2022-06-01 16:05] tischi commented on #763
@KarelMocaer
1. Is there a project/view that we could use to develop this?
2. Do you specifically want the names under the images (e.g. to make a nice screenshot) or would some other means of knowing what's what help? Please see https://github.com/mobie/mobie-viewer-fiji/issues/698 and comment there.

[2022-06-01 16:08] tischi commented on #698
Or, in fact, only show the sources in the display settings list that are currently visible in BDV (I think that was what @martinschorb suggested above?).

[2022-06-01 17:04] tischi commented on #763
I guess the project is not public yet? I wrote you in the EMBL chat.

[2022-06-01 17:29] tischi opened #764 ""coronal view" in PlatyBrowser hangs"

[2022-06-01 20:37] constantinpape opened #765 "Changing the random seed for glasbey lut does not work anymore"
Tried both via context menu and Ctrl + L, see the video below. (With latest MoBIE-main release)

https://user-images.githubusercontent.com/4263537/171496918-67cebe1f-4a47-46b9-8285-eb41b71bc3a5.mp4

[2022-06-01 21:20] #765 closed

[2022-06-01 21:26] tischi opened #766 "licenses"
@constantinpape

Is that on purpose that there are two license files?

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/2157566/171504571-a6fabbdd-435d-4943-bdc1-ca66cd47e9ba.png">

It is a bit odd that the only difference in the names are that one ends on .txt and the other not.

[2022-06-02 08:29] constantinpape commented on #765
Thanks, works now!

[2022-06-02 08:30] constantinpape commented on #766
I don't know, both files were created by you ;)

[2022-06-02 09:06] tischi opened #767 "open mixed data"
@martinschorb

Did you ever try having a project with mixed bdv/xml and ome-zarr files?

[2022-06-02 09:07] constantinpape commented on #767
The clem project has mixed data.

[2022-06-02 09:31] #764 closed

[2022-06-02 09:38] tischi commented on #732
@martinschorb can we close this issue?

[2022-06-02 09:40] #652 closed

[2022-06-02 09:45] #732 closed

[2022-06-02 09:50] tischi commented on #646
I improved it somewhat.
Will close for now.

[2022-06-02 09:50] #646 closed

[2022-06-02 11:18] tischi commented on #763
Good progress:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171617888-c523c2a0-f324-44e2-be77-c214fc8dfe7b.png">

Question: What to do when several sources have the same extend?

As one can see in the above screenshot this leads to the source name appearing at the same position.

[2022-06-02 11:21] tischi commented on #763
@martinschorb @constantinpape

Here is another example where things currently get crowed. Any suggestions?

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171618549-e36fc785-f695-43a0-bb21-72000a4a20e2.png">

[2022-06-02 11:24] tischi commented on #763
Q: Where do we want the UI element to toggle the names on and off?

What about next to the ` clear ` button?

<img width="549" alt="image" src="https://user-images.githubusercontent.com/2157566/171618894-b718f9e6-8f3b-4423-930b-f12f58b9163e.png">

[2022-06-02 11:27] constantinpape commented on #763
Not sure, I can't really think of a good solution, other than just showing everything as you do right now and users having to figure it out by toggling on / off visibility for the sources (which means the name should only be shown for sources that are visible!)

Sounds good.

[2022-06-02 11:31] tischi commented on #763
That should be the case already...

------

Two ideas:
- scale the size of the font relative the space that the source occupies in the current field of view
- color the font with the same color as the source

[2022-06-02 11:33] constantinpape commented on #763
I would go with option one, I think coloring can look pretty messy.

[2022-06-02 11:51] tischi commented on #763
I think that could get somewhere:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171622874-81c5db2c-562a-4f75-b1a1-db39a480c3cb.png">

Right now I am painting the text at a position that it is visible even if the source is only partially visible. This is another source of over-plotting (s.a.).

Maybe just plot the name at the lower end of the source (no matter

[2022-06-02 11:54] constantinpape commented on #763
Yes! I think then it would look good.

[2022-06-02 12:01] tischi commented on #763
Getting better.

Zoomed out:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171624709-5148812c-fb3f-4ea9-b48d-dd15640a5653.png">

Zoomed in:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171624785-aeb9a53b-fa5a-4cfa-a129-c604f761e38c.png">

[2022-06-02 12:04] tischi commented on #763
Now really below the source:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/2157566/171625182-65d2e279-3cdd-4b34-af89-11047ad7a2ce.png">

I think that's good enough for a first merge into MoBIE-beta?
I find it already incredibly useful :-)
Thanks @KarelMocaer for the suggestion!

[2022-06-02 12:20] constantinpape commented on #763
Looks great! All for merging it, and I agree; this is super useful!

[2022-06-02 12:22] KarelMocaer commented on #763
Looks amazing ! Thanks a lot :)

[2022-06-02 13:02] martinschorb commented on #763
Kudos, that's really cool.
- You could go for a font size maximum that cannot be exceeded even when the source is huge.
- and it should be active for `imageDisplay`s only. Annotations are often at exactly the same position.

[2022-06-02 13:03] martinschorb commented on #763
This could directly open a color chooser to set the label color.

[2022-06-02 13:48] martinschorb opened #768 ""Log current view" show also normalizedAffine"
When saving a view, `normalizedAffine` is the preferred `viewerTransform`.
However, it is not shown in the log when running "Log current view".

[2022-06-02 14:02] martinschorb opened #769 "Window position table"
Hi,
the tables are all loaded in the same window position on top of each other.
When we have an annotation table (worst case, highlighting just one source), it will be drawn last and therefore shown on top of all actually useful tables.

Can you change the position of the table windows such that they are placed next to each other instead of on top?
A dirty hack would be to just shift the next tabl

[2022-06-02 17:31] tischi opened #771 "time point transform"
I would need a transform to move a image in time (e.g., from time point 0 to 7).

In my use case the original image only has one time point.

How should we do this?

@constantinpape something like `transform -> timeMap` with parameters `List< Pair< Integer, Integer > > fromTo`?

@bogovicj do you have already something in mind for OME-Zarr?

@NicoKiaru In terms of `Source`: one could wrap a `Source

[2022-06-02 17:42] tischi opened #772 "image data formats in project.json"
Why do we need the image data formats in the project.json?

Could it be that this is somehow obsolete now?

[2022-06-02 18:03] tischi commented on #772
But, now, every dataset could have different formats (with all the mixed formats that we support now).

[2022-06-02 18:12] constantinpape commented on #772
Yeah, but what's the alternative? Just assuming we have all file formats is not a good option.

[2022-06-03 07:04] tischi opened #773 ""clear" -> "remove all"?"
I constantly stumble over the word "clear" for removing all the sources.
Any objections against changing this with "remove all"?

[2022-06-03 07:08] constantinpape commented on #773
Hmm, clear is really the correct word for this: https://www.webopedia.com/definitions/clear/

[2022-06-03 07:23] tischi commented on #772
I have a feeling that within the Java code I don't need those fields in the project.json (in fact, considering them just makes things more confusing).

I only initially have to determine whether to open from _remote or local_ (which is currently done based on the project location, e.g. `.startsWith("http")`). And then when opening any source, the code can just look whether that specific source sup

[2022-06-03 07:33] constantinpape commented on #772
That sounds good. (But in terms of priorities, I don't see that this is a pressing issue...)

[2022-06-03 07:44] tischi commented on #772
+1, ( +1 )

[2022-06-03 08:00] tischi commented on #763
Good like this @KarelMocaer ?

<img width="847" alt="image" src="https://user-images.githubusercontent.com/2157566/171813600-011468b6-e447-4443-b396-90819fa31dec.png">

[2022-06-03 08:07] tischi commented on #763
@martinschorb

I changed it now such that is does not show the annotation names:

<img width="976" alt="image" src="https://user-images.githubusercontent.com/2157566/171814712-2713c29c-835a-4a68-8b86-68460d5be7bc.png">

Do you want to remove the "cropShift" inset from this view ("default")?

[2022-06-03 08:55] martinschorb commented on #763
looks good!
This seems to be a stale branch. The default view in the current main branch only contains the overview EM image.

I will clean up the branches in this project...

[2022-06-03 09:53] KarelMocaer commented on #763
It looks really good ! Thanks everyone this is super helpful !

[2022-06-03 11:15] tischi opened #774 "Closing MoBIE: stop loading of sources"
When closing MoBIE while it is loading many images (e.g. covid-if) it does not stop that.

[2022-06-03 11:30] #774 closed

[2022-06-03 11:31] tischi opened #775 "covid-if examples take long to load"
- [ ] add smaller versions to the `MoBIE Figures`.

[2022-06-03 12:34] constantinpape opened #776 "Error in log when selecting segments in table or image"
with the latest MoBIE-beta

https://user-images.githubusercontent.com/4263537/171854571-00247937-3f71-461c-b3ad-040ba491d855.mp4

[2022-06-03 12:36] constantinpape commented on #776
and seems to only happen for segmentation tables, can't reproduce it with a region table

[2022-06-03 12:58] #776 closed

[2022-06-03 13:07] tischi opened #777 "timepoints are not shown in BDV"
even though BDV is initialized with multiple timepoints there is no slider...

[2022-06-03 13:50] constantinpape commented on #777
Indeed, the issue is also there for the arabidopsis project

![image](https://user-images.githubusercontent.com/4263537/171867414-7e84ee23-e1bd-4e07-b49d-ff397a8f7bcb.png)

[2022-06-03 14:09] tischi opened #778 "dataset.json timepoints"
I think we may not need `timepoints` in dataset.json anymore.
See: https://github.com/mobie/mobie-viewer-fiji/issues/777

[2022-06-03 14:19] martinschorb opened #779 "Project creator "link" bdv images, OS problems"
Hi,

when you create/edit a project and add a BDV image using the "link" option. It generates a local XML with a relative path to the original data.
This relative path is Windows-specific (backslashes). Could you please change this to using forward slashes, so it is compatible with all OSes?

[2022-06-03 15:11] tischi opened #780 "Closing MoBIE hangs"
[code]

[2022-06-03 19:55] bogovicj commented on #771
Hi @tischi

What I have in mind for OME-Zarr would make that possible.   There would still be implementation to make it displayed correctly in viewers, but that idea would be expressible, hopefully with something as simple as this:

[code]

(i.e. the 0th element of the coordinate list is the destination index = 7)

[2022-06-04 06:13] #780 closed

[2022-06-04 06:18] tischi commented on #771
Thanks a lot @bogovicj !

@constantinpape
Could we be early adopters and support exactly this notation in MoBIE dataset.json?

[2022-06-04 08:23] tischi opened #781 "Published figures and projects description"
Right now the published projects and figures are backed into the source code.
This is really bad for updating them (because it needs interaction with the Fiji MoBIE update site), especially when external users would like to register their projects after publication.

What about creating an extra repo only containing JSON files that contain this information? This would be much easier to update and

[2022-06-04 08:41] #767 closed

[2022-06-04 08:41] tischi commented on #766
we settled on the BSD-2 that is suggested by scijava

[2022-06-04 08:41] #766 closed

[2022-06-04 08:42] tischi commented on #763
initial functionality is implemented.
closing this.
please open a new issue for future suggestions.

[2022-06-04 08:42] #763 closed

[2022-06-04 08:44] #723 closed

[2022-06-04 08:49] #645 closed

[2022-06-04 08:50] tischi commented on #698
I think with the "overlay names" functionality this is maybe covered for now.
Please reopen if you disagree.

[2022-06-04 08:50] #698 closed

[2022-06-04 08:52] tischi commented on #779
@K-Meech found that already: https://github.com/mobie/mobie-viewer-fiji/issues/659
Closing this one.

[2022-06-04 08:52] #779 closed

[2022-06-04 08:53] tischi commented on #659
I think Windows can tolerate opening xml files with relative paths that contain /, so could force it to be written in this way.

@K-Meech do you know whether this is "our" code that does that or does that come from bdv-core?

[2022-06-04 08:57] #383 closed

[2022-06-04 08:57] #378 closed

[2022-06-04 08:59] #300 closed

[2022-06-04 09:01] #165 closed

[2022-06-04 09:02] #197 closed

[2022-06-04 09:02] #216 closed

[2022-06-04 09:04] tischi commented on #344
I think this all works now.

[2022-06-04 09:04] #344 closed

[2022-06-04 09:05] tischi commented on #335
The question also is in which repo this code should live.

[2022-06-04 09:05] #320 closed

[2022-06-04 09:07] tischi commented on #351
@will-moore
This is in MoBIE now: `Plugins › BigDataViewer › OME-Zarr › Open OME-Zarr From File System...`
Does that work for you?

[2022-06-04 09:08] #436 closed

[2022-06-04 09:08] #428 closed

[2022-06-04 09:08] #421 closed

[2022-06-04 09:10] tischi commented on #400
I think image loading is now better, we could give the tables a shot...

[2022-06-04 09:10] tischi commented on #385
I am closing this as this feels like a bdv-core issue that we cannot tackle here easily.

[2022-06-04 09:10] #385 closed

[2022-06-04 09:11] tischi commented on #389
@martinschorb can we close this?

[2022-06-04 09:12] #546 closed

[2022-06-04 09:12] #542 closed

[2022-06-04 09:13] #521 closed

[2022-06-04 09:14] tischi commented on #474
@martinschorb
did this improve? can we close?

[2022-06-04 09:16] tischi commented on #479
@constantinpape  can you point me to a project/view to reproduce this?

[2022-06-04 16:14] constantinpape commented on #479
This issue is still there. To reproduce: https://github.com/mobie/zebrafish-lm-project -> `bookmark:grid-view`

![image](https://user-images.githubusercontent.com/4263537/172015360-c10121d3-37a2-4f61-b910-bf208c6b2976.png)

[2022-06-04 16:15] constantinpape commented on #400
I will look into creating a big table.

[2022-06-04 16:17] constantinpape commented on #781
Yes, I agree. But I wouldn't create an extra repo for it, and instead just save it on https://github.com/mobie/mobie.github.io.
Do you have any preferences for the json name and layout?

[2022-06-04 16:21] constantinpape commented on #771
I like the approach by @bogovicj a lot in general, but I am not sure how good it fits to the current MoBIE transforms, since we don't really have a concept of input and output spaces yet. I think it would make more sense to adopt the new ngff transformation logic wholesale once it's released (which will be a bit of work...).
If you need the time point transform now, it probably makes sense to intr

[2022-06-04 16:23] constantinpape commented on #778
Ok, we can eventually get rid of them, but we need to discuss versioning of the spec a bit beforehand, also with #772 and #771 in mind.

[2022-06-05 14:14] tischi commented on #659
- [ ] can we implement this in mobie-io? https://github.com/mastodon-sc/mastodon/commit/7b75e2952750be56d18b34a8e06ac2e6b632a3b7

[2022-06-05 17:38] #393 closed

[2022-06-06 08:52] K-Meech commented on #659
I think this is happening here: https://github.com/mobie/mobie-viewer-fiji/blob/main/src/main/java/org/embl/mobie/viewer/projectcreator/ImagesCreator.java#L467 So it's coming from using XmlIoSpimData which comes from ```mpicbg.spim.data.XmlIoSpimData```

[2022-06-06 10:20] tischi opened #782 "TableViewer: remove isGridTable?!"
It feels like as if the logic behind `isGridTable` would be better to have inside `moBIE`, which handles all the other logic for loading data.

Also now with `SegmentationDisplay` and `RegionDisplay` being more similar (extending `AnnotationDisplay`) maybe on could get rid of this distinction all together.

I also need to better understand the current logic behind the additional table columns load

[2022-06-06 10:48] tischi commented on #769
It does now displaces the table windows along the x-axis, but for me, on Mac, not along the y-axis (although in the code I offset additional the tables it also along the y-axis).
Maybe because the OS tries to keep the whole table within the Desktop?
This is the only line of code I could find where we specify the table size:
`jTable.setPreferredScrollableViewportSize( new Dimension(500, 200) );`
No

[2022-06-06 12:39] bogovicj commented on #771
@constantinpape

Agreed.  The hope from my end is to make a java library with a nice api that makes this stuff relatively easy from a developer point of view. Would love some help and input from you all.

[2022-06-06 16:02] tischi commented on #771
@constantinpape

OK, what about this for us?

[code]

[2022-06-06 16:09] tischi commented on #781
We could simply serialize the classes:

1. https://github.com/mobie/mobie-viewer-fiji/blob/main/src/main/java/org/embl/mobie/viewer/project/PublishedFigure.java
2. https://github.com/mobie/mobie-viewer-fiji/blob/main/src/main/java/org/embl/mobie/viewer/project/PublishedProject.java

But we may still adapt the names of the fields in those classes in the Java code to make it as similar as possible t

[2022-06-06 19:50] constantinpape opened #784 "Some projects without time axis have a time scrollbar"
Both covid-if and clem-example now has a time scrollbar: (latest MoBIE beta)

https://user-images.githubusercontent.com/4263537/172236443-06cad357-e9a4-4f32-85ab-aeee1b53d199.mp4

But not all have it, e.g. Platy is correct and doesn't have it.

[2022-06-07 06:07] tischi commented on #769
On linux it looks like this:

![image](https://user-images.githubusercontent.com/2157566/172307596-de844476-7df4-465e-9da2-8c17c24d3006.png)

I am specifying the offset in screen _pixels_...is that the best?

[2022-06-07 06:19] constantinpape commented on #769
Maybe you could specify in fraction of screensize instead? Screenpixel will make a big difference depending on 1024x768 vs. 3840 x 2400 etc.

[2022-06-07 06:20] tischi commented on #784
The issue is that the region annotations currently have an infinite number of timepoints.
I asked on gitter: https://gitter.im/bigdataviewer/bigdataviewer-core

[2022-06-07 07:02] #784 closed

[2022-06-07 07:08] tischi opened #785 "Region annotations for multiple timepoints not working yet"
Currently the region annotations have it hard coded (in `TableRowsIntervalImage`) that they are only present at the first time point.

Once we have a use-case this could be changed such that the annotations extent across several time points.

I guess a question would be whether (i) the same annotation (in the table) would be valid  across multiple time points or whether (ii) each time point would

[2022-06-07 07:52] #769 closed

[2022-06-07 09:36] tischi commented on #553
Closing this in favor of: https://github.com/mobie/mobie-viewer-fiji/issues/400

[2022-06-07 09:41] tischi opened #786 "Decrease loading time for MergedGrid Source"
Every interaction with S3 appears to take about 0.1 s.
Therefore initialization of the 4000 sources for the Covid-IF data takes ~400 s (probably a bit less due to the multi-threading).

To substantially improve this it appears that we would need to avoid accessing every image on S3 before showing it. I think for the `MergedGridSource` this may be possible, because we know that all sources MUST hav

[2022-06-07 09:41] tischi commented on #786
@NicoKiaru Did you ever experiment with something like a `LazySourceAndConverter` (see above)?

[2022-06-07 10:46] constantinpape commented on #771
I think `time` is a bit generic. How about `timeShift`? Also, is there a use-case for parameters being a list (i.e. do we want to enable duplicating a single time point across multiple other timepoints)? If not, we could just have a single integer there.

[2022-06-07 10:46] NicoKiaru commented on #786
Nope, I never tried this.

[2022-06-07 10:47] constantinpape commented on #771
Absolutely! My time during the summer term here is a bit limited, but I should have some bandwidth for this after the summer break (so end of August/September).

[2022-06-07 11:02] tischi commented on #771
yes, good point.

[2022-06-08 05:36] tischi commented on #771
@bogovicj
In your spec: can images have missing time points? As you know BDV/`Source` supports this and in fact I have a use case now where this is handy.

[2022-06-08 05:39] tischi opened #788 "json for grid"
@constantinpape

Is this still correct?

[code]

I thought we changed this to be just "grid" for "transformedGrid"?!

[2022-06-08 11:23] constantinpape commented on #788
Yep, it's still called `transformedGrid`: https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L527

[2022-06-08 11:23] #788 closed

[2022-06-08 11:39] tischi commented on #771
This is the current code to map the timepoint in the _new_ image to the _old_ image: https://github.com/mobie/mobie-viewer-fiji/blob/c64b83fb76c06c5449c08a099f6170890f6f096f/src/main/java/org/embl/mobie/viewer/source/TransformedTimepointSource.java#L119

[2022-06-08 13:51] tischi commented on #771
I merged this into `develop` and will upload to MoBIE-beta later today such that our user can test it.

[2022-06-08 13:54] tischi commented on #771
It is important to note that the _first_ entries in the inner lists MUST be _unique_, because one can specify the timepoint only once. The _second_ entries MAY _reoccur_, because one can, e.g. specify that timepoint 4 _and_ 5 in the new image should both be replaced with the data at timepoint 3 in the old image: `[ [4, 3], [5, 3] ]`.

[2022-06-08 15:02] will-moore commented on #351
Hi, @tischi I just re-installed Fiji on my new Mac M1 and added the MoBIE update site...
But I don't see the `OME-Zarr` option under `BigDataViewer`:

<img width="519" alt="Screenshot 2022-06-08 at 16 00 59" src="https://user-images.githubusercontent.com/900055/172650205-4e91c161-c93e-4064-b400-5ef3aff2aa82.png">

Am I missing some other plugin I need?

[2022-06-08 15:16] tischi commented on #351
Weird, I see it.
Are you sure you enabled the MoBIE update site _and restarted_ Fiji?

[2022-06-08 15:58] will-moore commented on #351
Ah - thanks, sorry, I thought I had restarted, but anyway - another restart fixed it...

I'm looking at a local version of https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.2/6001240.zarr and I just see black.
The local copy looks fine in `napari` so I think the data is OK. I'm just not familiar with how to adjust contrast etc.

When I open https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.2/6001240.zarr as r

[2022-06-08 16:40] tischi commented on #351
You have to press `P` to bring up the new B&C UI.

[2022-06-08 16:52] #782 closed

[2022-06-08 17:54] tischi commented on #786
@constantinpape Do we have a view where we load the _whole_ plate using the `mergedGridTransform` but where we load _no tables_? If not, could you please add one?

[2022-06-09 08:49] constantinpape commented on #351
Opening from S3 and then adjusting the colorlimits via P works for me:

![image](https://user-images.githubusercontent.com/4263537/172805991-7f326d6c-4095-4d59-ba6e-e3c30026c9ba.png)

[2022-06-09 08:57] constantinpape commented on #786
@tischi `plate->merge-grid-no-tables`

[2022-06-09 09:02] constantinpape commented on #351
That should probably be raised as an issue in https://github.com/bigdataviewer/bigdataviewer-core.

[2022-06-09 09:10] constantinpape commented on #771
@tischi: I am implementing this for the spec now; and we'll also need `sources` in the parameters, as for all the other transformations.

[2022-06-09 09:11] constantinpape commented on #771
and I will also add an optional `name` for consistency with the others.

[2022-06-09 09:14] will-moore commented on #351
Added comment to https://github.com/bigdataviewer/bigdataviewer-core/issues/64

[2022-06-09 09:17] constantinpape commented on #351
Thanks @will-moore. I think everything is working as expected here now; I am closing it; feel free to reopen if something else comes up.

[2022-06-09 09:17] #351 closed

[2022-06-09 09:25] constantinpape commented on #771
@tischi I have added it to the spec, could you point me to where the example project is on the embl server, so that I can check that it matches it?

[2022-06-09 12:11] tischi commented on #786
Can you please remove the segmentations?

<img width="1464" alt="image" src="https://user-images.githubusercontent.com/2157566/172843739-9a7a8bc9-bbe5-4103-834d-402294d52fea.png">

[2022-06-09 15:29] tischi commented on #786
🥳  with https://github.com/mobie/mobie-viewer-fiji/pull/789 it initializes the whole thing in only 11 s and then lazy loads the images while one can already interact with everything in BDV  🥳

so, now we "just" have to figure something out for the tables...

[2022-06-09 16:38] tischi commented on #400
For the segmentation images one could look into loading the `TableRows` as the segmentation images appear and then dynamically add them to the displayed tableModel, where it seems like as if one could relatively easily create an own one:
https://docs.oracle.com/javase/tutorial/uiswing/components/table.html#data

The `getRowCount()` method could then return increasing values (reflecting the additio

[2022-06-09 16:41] tischi commented on #400
Right now the table rows are already simply added to one big list:

[code]

[2022-06-09 16:51] tischi commented on #400
Maybe the `SegmentationSliceView` could identify whether it shows a `MergedGridSource` and then the `CellLoader` method inside could also trigger loading of the respective table.

- One would need to keep track not to load the table twice.
- For initialization of the `TableViewer` one would need to load the first table of the `MergedGridSource` images (as we do now already for the image).

[2022-06-09 20:33] constantinpape opened #790 "Open Ome Zarr via BDV is very inconvenient"
Our functionality for opening ome.zarr via bdv is quite inconvenient, e.g. compared to napari. For referecne, here is how to open an example file I am dealing with in napari (using the ome-zarr plugin):

https://drive.google.com/file/d/1dMs7tEFz3bwSQCyzJTiboJV1cM2-ratL/view?usp=sharing

and this is how it looks in our BDV opener

https://user-images.githubusercontent.com/4263537/172938356-bfc5f6fc

[2022-06-09 20:43] constantinpape commented on #790
Yes, it's 0.4.

Something def. does an autocontrast there, but I am not sure where it happens, it might be in the `ome-zarr-napari-plugin`; maybe @willmoore knows.

[2022-06-09 22:14] KateMoreva commented on #790
I'll take a look on Friday

[2022-06-10 05:59] tischi opened #791 "Support multi-channel OME-Zarr"
https://forum.image.sc/t/create-plate-view-for-mobie/67795/4

[2022-06-10 06:12] will-moore commented on #790
If there is `omero` rendering metadata for the NGFF https://ngff.openmicroscopy.org/latest/#omero-md
then this is actually converted into `constrast_limits` metadata in `ome-zarr-py` (this was added before `napari-ome-zarr` was split as a separate repo):
https://github.com/ome/ome-zarr-py/blob/13bb14fcf0d4749a29585c01b37d5edc0bc9183b/ome_zarr/reader.py#L379
I don't know of any other "auto" setting

[2022-06-10 06:15] will-moore commented on #790
In vizarr, Trevor recently added the 'auto-contrast' using a low-resolution multiscale array to set the limits if they weren't provided: https://github.com/hms-dbmi/vizarr/pull/137

[2022-06-10 06:25] constantinpape commented on #791
Quiting @tischi  from the forum post: Adding channel to ome.zarr via
[code]

I think that's a good idea; we could do the same with `setup_id` in bdv.xml.

[2022-06-10 07:15] tischi commented on #790
@KateMoreva I don't think you can do much in mobie-io, as I don't think we want to read the omero metadata at this stage...

I think we should add auto-contrast functionality to `mobie-viewer-fiji`. I think there is code in [labkit](https://github.com/juglab/labkit-ui) that we can copy. If you want to work on this @KateMoreva, go ahead, but I would be happy to do it otherwise.

[2022-06-10 07:17] constantinpape commented on #790
In this case there isn't any omero metadata, so there must be something else happening in napari.

The auto-contrast sounds like a good solution!

[2022-06-10 07:24] tischi commented on #791
In fact, it may be super easy:

Just here we would have to fetch the correct `setupID`, based on (to be added) `source.imageData.get( imageDataFormat ).channel`:

https://github.com/mobie/mobie-viewer-fiji/blob/c6bc0518c0c460c117739ee539d2590482d2d96a/src/main/java/org/embl/mobie/viewer/MoBIE.java#L440

@tibuch this could be your first PR 😉

[2022-06-10 07:35] tibuch commented on #791
`"channel": 0` is exactly what I was looking for!

Currently I can "hack" my way around this by creating a proxy-zarr-file with only one channel using symbolic links to point to the multi-channel sub-directories of the hsc-zarr-file:
[code]

But what @tischi is recommending sounds much nicer and cleaner!

I will have a look (hopefully today) and see if this could become my first PR ;)

[2022-06-10 07:37] constantinpape commented on #791
That sounds great! I will also create a small example project for this today, so you would have something easier for development.

[2022-06-10 08:59] tischi commented on #791
@tibuch

0. Awesome!
1. In general we work against the `develop` branch, but this is broken right now. So you could use `main` as a starting point.
2. If you go to `src/**test**/java/projects/...` there are tons of examples for how to open a project from within your IDE. That's how I usually do the development or debugging.

[2022-06-10 09:13] tischi commented on #791
@tibuch

1. I (hope I) fixed the `develop` branch, so you could work against that.
2. The way we work is that from time to time we compile the `develop` branch and upload it to [MoBIE-beta](https://github.com/mobie/mobie-viewer-fiji/blob/main/MOBIE-BETA.md); I did that just now. Like this we can test/develop the latest features "in the wild" without screwing up the main update site.

[2022-06-10 09:26] tischi commented on #791
One more info:

The tests in the github actions are not running stable: https://github.com/mobie/mobie-viewer-fiji/issues/742
So for now don't worry if they fail.
You could `mvn test` locally if you want to check.

[2022-06-10 09:31] tischi commented on #791
Interesting:

`/home/tibuch/Data/MoBIE-Test/data/Round1/images/ome-zarr/plate_01.ome.zarr/B/02/0/0/3`

Can one can open this (channel?) separately, i.e. does it contain all the metadata to be opened as an individual OME-Zarr image?!

Does that always work or is it just a coincidence that the axis order allows for such a  "subsetting-hack'?

[2022-06-10 09:45] tibuch commented on #791
The proxy zarr contains `.zattrs` and `.zgroup` and one level down is an adapted `.zarray` file. The only thing that is replaced is the chunked data to avoid duplication.

[2022-06-10 09:58] tischi commented on #791
I see, so this does not work "just like this".

[2022-06-10 10:57] tibuch commented on #791
Indeed. I wrote a little helper:
[code]

[2022-06-10 11:05] tibuch commented on #791
Ah, and Windows will not support this hack with the links. So better to go the way indicated by @tischi.

[2022-06-10 12:17] tischi opened #792 "Volatile loading of nested grids"
In Covid-IF currently one well is loaded always as a whole.
It would be good to check whether we can implement (volatile) partial loading.

[2022-06-10 12:36] tischi commented on #790
@tibuch

Since you may be familiar with the LabKit code for auto-contrast, if you want to give this a shot, be our guest 😉

I guess we would need something around here:
https://github.com/mobie/mobie-viewer-fiji/blob/c6bc0518c0c460c117739ee539d2590482d2d96a/src/main/java/org/embl/mobie/OMEZarrViewer.java#L92

[2022-06-10 14:17] tischi commented on #400
Good progress but one challenge: for coloring the segmentation we need the corresponding table rows.

Thus is the label mask is loaded before the table it currently seems to crash.

@constantinpape
Do you think I should look into coloring segments with some default color (maybe even black) until the corresponding table row exist? (I think I would need to try to return a `.valid( false )` volatile

[2022-06-10 14:31] constantinpape commented on #791
Hey @tibuch, I have added an example project here: https://github.com/mobie/spatial-transcriptomics-example-project
It is already available via s3, so you can directly open it via the github link. Of course mobie needs to be updated in order to understand it since it has the new `{"imageData": {"ome.zarr.s3": {"s3Address": "....", "channel": 0}}}` feature.
(the dataset contains a single ome.zarr w

[2022-06-10 14:33] tibuch commented on #791
Awesome! I will setup my IDE and start looking into. However, I don't think I will manage to finish today ;)

[2022-06-10 14:34] constantinpape commented on #791
Of course! I am available next week, so just let me know if you run into any issues :).
And have a nice weekend!

[2022-06-10 15:34] tischi opened #794 "Cell segment navigation is off for Covid-IF"
project: covid-if
view: default
branch: main

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/2157566/173100085-5de1b8c2-09a6-46fa-88ff-6a02e96541f3.png">

<img width="600" alt="image" src="https://user-images.githubusercontent.com/2157566/173100117-0cf4b30f-a957-4537-82f7-e1808bd7ab55.png">

moves to the wrong place (totally outside the image).

I have a feeling that

[2022-06-10 15:42] tischi commented on #794
Note to self:

- [ ] First fix this in **main**
- [ ] Then check again in **develop** (because due to the new `LazySourceAndConverter` there may be additional sources of errors)
- [ ] Only then check in branch **issue400** (as there again could be more wrong)

[2022-06-10 18:23] tischi commented on #400
Next step:

[code]

The SegmentAdapter must be rewritten not to initialize the Map only once in the beginning but somehow deal with the fact that the `tableRows` are increases over time.

[2022-06-10 18:39] tischi commented on #400
That seems to do the job:

[code]

[2022-06-10 19:49] tischi commented on #305
And also have a thread safe (`synchronized`) method to add table rows (trigger by lazy loading).

There are:

- `de.embl.cba.tables.tablerow.TableRowsModel`;
- `org.embl.mobie.viewer.table.TableRowsTableModel`;

We should look to merge the functionality.

[2022-06-10 19:51] tischi commented on #400
While working on [this here](https://github.com/mobie/mobie-viewer-fiji/pull/793) I think it would be good to also tackle this: https://github.com/mobie/mobie-viewer-fiji/issues/305

[2022-06-11 07:36] constantinpape commented on #794
Hi @tischi,
I know what the issue is: in the beginning we did not know the pixel size for the data (so it was set to 1); but then later I got the information about this from Vibor. But I haven't updated the tables accordingly. I will fix it and ping you once that's done.

[2022-06-11 09:11] tischi opened #795 "Refactor ColumnColoringModelCreator"
`ColumnColoringModelCreator`:
- [ ] Copy from imagej-utils to here
- [ ] Make work with `TableRowsTableModel` instead of `List< TableRow >`
- [ ] Check whether we really need the implementation for `JTable`

[2022-06-11 09:18] tischi opened #796 "Make ScatterPlotViewer work with TableRowsTableModel"
Once we merge https://github.com/mobie/mobie-viewer-fiji/pull/793 it could be that more table rows are loaded and the data points shown in the `ScatterPlotViewer` are not updated.

- [ ] Make `ScatterPlotViewer` work with `TableRowsTableModel`
- [ ] Implement some listener mechanisms for when table rows were added

[2022-06-11 12:15] constantinpape commented on #794
@tischi I updated the values in the table and it works for me on MoBIE from the main update site now.

[2022-06-13 20:20] #794 closed

[2022-06-13 20:21] tischi commented on #792
Turns out the loading of the merged grid source cells right now isn't volatile at all.

[2022-06-13 20:21] #786 closed

[2022-06-13 20:23] #771 closed

[2022-06-13 21:23] tischi commented on #792
Maybe replace the `CachedCellImg` inside `MergedGridSource` by a `FunctionRandomAccessible`, which depending on the position returns the pixel from the respective grid source?
The advantage of this seems to be that this should work for both volatile and non-volatile accesses and avoid double caching (as it happens when using `CachedCellImg` for stiching together `Source`s.

One could also easily a

[2022-06-15 11:18] tibuch commented on #791
Hi @constantinpape,

Does this dataset work: https://github.com/mobie/spatial-transcriptomics-example-project

I think some data is not available.

Cheers

[2022-06-15 11:33] tibuch commented on #791
Hey @tischi and @constantinpape,

I made some progress and it works for single MoBIE `sources`, but it does not work for `sourceTransforms` (`mergedGrid`). In the second case it ends up here: https://github.com/fmi-faim/mobie-viewer-fiji/blob/develop/src/main/java/org/embl/mobie/viewer/transform/MergedGridSource.java#L438 when it adds the images. Which is probably where it should end up. However,

[2022-06-15 11:42] constantinpape commented on #791
Hi @tibuch,
first of all, thanks for working on this!

I think all data is available, at least my python validation tool says it's there (can't open it directly in MoBIE, because we need the changes you're working on for this). Do you get some error message when trying to load it?

I assume that the grid somehow needs this information beforehand... I will take a quick look later, but that's probab

[2022-06-15 12:19] tibuch commented on #791
Should I be able to see/download the data from here: https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr

[2022-06-15 12:22] constantinpape commented on #791
Sort of, but you need to give the address for an actual file, the "fake directories" in s3 don't work, so you can't actually list anything like this (you would need to do s3 api requests for this).
This works: https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr/MMStack_Pos42.ome.zarr/.zattrs

[2022-06-15 12:23] constantinpape commented on #791
(but it shouldn't really matter in MoBIE, all the loading from s3 should work)

[2022-06-15 12:26] tibuch commented on #791
Just wanted to check if I can see it, which I can.

MoBIE also starts without errors, but BDV looks pretty black and empty...I guess there are still some bugs/issues.

[2022-06-15 12:28] constantinpape commented on #791
There might also be some issue with contrast limits ...

I will try to check out your branch later and see if I can build from it and adjust contrast limits.

[2022-06-15 12:34] tibuch commented on #791
If I click `show raw images` I am getting a stack with all zeros.

[2022-06-15 15:51] constantinpape commented on #791
I opened https://github.com/mobie/mobie-viewer-fiji/pull/797 and https://github.com/mobie/mobie-io/pull/98 to discuss the code changes. There are some changes in mobie-io that I am not so sure about and that might explain some of the issues we see here.
@KateMoreva could you have a look at the PR in mobie-io as well?
(@tibuch not sure I will have time to compile from your branches today to test it

[2022-06-15 18:34] tischi commented on #791
@tibuch Thanks for giving this a shot ❤️  I am currently on holidays and can help from middle of next week on.

[2022-06-21 09:22] tischi opened #798 "Consider SliceViewSelectionListener"
Consider implementing `SliceViewSelectionListener`.
`AnnotationDisplay` could subscribe to it while being displayed in `SliceViewer`.
This should avoid the `getCurrentAnnotationDisplays()` and also the checking of whether `SourceAndConverters` are actually providing `AnnotationType` (and which one).

[2022-06-21 12:08] constantinpape commented on #791
Sorry, I overlooked that comment. The examples that should work when opening the ome-zarr directly are here:
- https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/cyx.ome.zarr
- https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/czyx.ome.zarr
- https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/czyx.ome.zarr

[2022-06-21 16:13] tischi opened #799 "Opacity adjustment (of label masks) does not work when there is only one image"
Probably something in the logic of the `AccumulateProjector` does not work if there is only one source.

[2022-06-21 16:19] tischi commented on #791
I am getting an error:

[code]

throws:

[code]

This is with `<mobie-io.version>1.2.11</mobie-io.version>`.

Any ideas?

[2022-06-21 16:20] tischi commented on #791
Is there also an `v0.4` image without multiple channels that we can use as a control?

[2022-06-21 16:24] tischi commented on #791
In the tests of mobie-io I found: https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/zyx.ome.zarr
and this works.

[2022-06-21 18:08] constantinpape commented on #791
Maybe there's something wrong on the server side. I can check later.

[2022-06-22 07:36] tischi commented on #791
The file name suggests that this only has one channel?!
https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/zyx.ome.zarr

[2022-06-22 07:37] tibuch commented on #791
Sorry, it was https://s3.embl.de/i2k-2020/ngff-example-data/v0.4/czyx.ome.zarr

[2022-06-22 07:42] tibuch commented on #791
If I open https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr/MMStack_Pos42.ome.zarr (the one from the spatial-transcriptomics-example-project) with the OME-Zarr command I can see 6 channels (4 image channels, 2 segmentations). However, I am only able to get some signal for the cell-segmentation channel. Everything else looks empty to me. Could that be?

[2022-06-22 08:53] tischi commented on #791
OK!

Using this code (@tibuch you could also try this) in the `develop` branch

[code]

It does open:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/2157566/174986425-ff56ae39-7157-4b7d-865b-497ea6494329.png">

The channel naming needs fixing in mobie-io: https://github.com/mobie/mobie-io/issues/103

In fact in MoBIE, sources MUST have different names.

[2022-06-22 08:55] tischi commented on #791
@tibuch to me that seems to suggest that _in principle_ it can work.
I think a next step could be to make it work for _your_ data.
Can you maybe share a (zip) of one multi-channel file that you generate for your data?

[2022-06-22 13:06] Buglakova opened #800 "Change font size for the axes labels in 3D mode"
When I turn on axes in 3D mode, the labels are shown huge. Is it possible to change the font size or have only a bounding box with x, y, z labels?
![Screenshot from 2022-06-17 01-53-20](https://user-images.githubusercontent.com/89460016/175035920-f0f51ea1-908a-45d7-97f7-746fe6b7191c.png)

[2022-06-22 15:45] tischi opened #801 "Add table to segmentation"
Add UI element to select a table file to be added to a segmentation.

@constantinpape Do you think that makes sense? I would need it...

I think also for the python tools it would be useful to be able to specify a file path to a table in case one has it already (if we want to be fancy we could also enable to specify a mapping of the column names for the columns that we require).

[2022-06-22 15:47] tischi commented on #801
PR: https://github.com/mobie/mobie-viewer-fiji/pull/802

[2022-06-22 18:48] constantinpape commented on #800
@tischi do you know if this can be changed?

[2022-06-22 19:28] constantinpape commented on #791
Just fyi, the data at https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr/MMStack_Pos42.ome.zarr contains data for all channels; here's what I see when opening it in napari (using the napari ome zarr plugin):
![image](https://user-images.githubusercontent.com/4263537/175120020-d972fed6-a124-45ba-9383-1d9b19c187e6.png)

But I think everything might still work correctly

[2022-06-23 09:34] Buglakova opened #803 "Change image color in 3D viewer"
When I assign different color to the image, it changes immediately in the slice viewer, but only changes in the 3D viewer if I close it and open again.

[2022-06-23 11:08] tischi commented on #800
Thank you for point this out @Buglakova !

This code is not part of MoBIE, but we are just using https://imagej.net/plugins/3d-viewer/

I tried finding an option to change this but did not succeed:

<img width="513" alt="image" src="https://user-images.githubusercontent.com/2157566/175285027-ae605d72-2637-4ecc-91d6-4e97d9192830.png">

Maybe you could have a look at the documentation: https://image

[2022-06-23 11:36] tischi commented on #803
I cannot reproduce this.
How exactly do you change the colors in the slice viewer?

[2022-06-23 15:29] Buglakova commented on #803
For example, here big volume is yellow at first:
![Screenshot from 2022-06-23 16-54-14](https://user-images.githubusercontent.com/89460016/175336725-8376e9c0-f764-4e5c-994f-cc64d3da65d3.png)
Then I change color to red in the main menu, but in the 3D viewer it's still yellow:
![Screenshot from 2022-06-23 16-54-38](https://user-images.githubusercontent.com/89460016/175336881-c2008a4d-05a0-446a-9b4e-

[2022-06-27 06:37] tischi commented on #400
Thought: maybe the data model of SourceAndConverter should _always_ be lazy, but if one already wants to load data _initially_ one would trigger the loading by calling the respective methods (e.g. `getSource(...)`). I have a feeling that may simplify the code.
In this model also the loading of table data would the job of the LazySourceAndConverter object.

[2022-06-27 16:05] Buglakova opened #804 "Rename and remove datasets and images"
Both in the GUI editing dataset dialogue and in the examples for Python utils I couldn't find a way to remove or rename existing images. Is it possible somehow?

[2022-06-28 09:18] constantinpape commented on #804
Good point. I can implement it in python. It's easy to do. I will ping you once it's there.

[2022-06-28 19:53] constantinpape opened #805 "Only projects with bdv.n5 data can be loaded locally"
otherwise the else in https://github.com/mobie/mobie-viewer-fiji/blob/72e7d6f6cab8aea1c222aff4e115b4b200e515f3/src/main/java/org/embl/mobie/viewer/MoBIE.java#L207-L210 will always trigger and throw the exception, even if we have other valid data formats, e.g. `ome.zarr`

[2022-06-28 20:04] constantinpape commented on #791
Hi @tibuch,

just a quick update for you: we merged #797 today and pushed it to mobie-beta so I can test it.
I tested it for https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/. I also couldn't get any of the data to show, even setting the same contrast limits as in napari. However, I also tried to open https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr/MMSt

[2022-06-28 22:13] constantinpape commented on #804
I have implemented this for the python library in
https://github.com/mobie/mobie-utils-python/pull/75 &
https://github.com/mobie/mobie-utils-python/pull/76

I will ping you here once there is a new release and this can be tested.

[2022-06-29 07:29] tischi commented on #791
Ok, so I guess the TODO for me is?!

- [ ] Correctly open https://s3.embl.de/i2k-2020/spatial-transcriptomics-example/pos42/images/ome-zarr/MMStack_Pos42.ome.zarr  in mobie-io

[2022-06-29 07:31] constantinpape commented on #791
Yes, that would be great!

But first, please check and release #806, then I can continue with creating an example project that should work.

[2022-06-29 08:00] KateMoreva commented on #791
I can help if you wish.

[2022-06-29 08:10] tischi commented on #791
@KateMoreva

If you have time that would be very helpful, indeed!
Please start from here: https://github.com/mobie/mobie-io/pull/98

Please also have a look here https://github.com/mobie/mobie-io/blob/multi-channel-fix/src/test/java/spimdata/OmeZarrV4S3SpimDataTests.java
There I added a Test to extract the min and max values from the channels.
Those should return the correct values!

[2022-06-29 11:09] #805 closed

[2022-06-29 11:54] constantinpape commented on #791
@tischi @tibuch
I created a simpler example now, you can find it here:
- https://s3.embl.de/i2k-2020/multi-channel-example (on s3)
- `/g/kreshuk/pape/Work/data/mobie/multi-chan` (on the EMBL share)

Opening the project works, and when opening it from the filesystem everything works correctly:
![nuclei-fs](https://user-images.githubusercontent.com/4263537/176430191-c3e2ac98-02ac-472b-9e24-00c726d40

[2022-07-12 10:57] #803 closed

[2022-07-14 11:39] tischi opened #808 "Do we need a separate interface for Region and Segment"
[code]

This could be _very similar_ to what we expect from a region.
The main difference seems that a `region` has a `String regionId()` and a `segment` has a `Integer labelId()` method.

It feels quite annoying that I would need to implement "everything", e.g. a `TableModel` that represents them twice (as they are so similar)...

@constantinpape it would be helpful for me to brainstorm a bit how

[2022-07-14 12:00] constantinpape commented on #808
Sounds good. I will write to you in mattermost.

[2022-07-14 18:03] tischi opened #809 "Annotation: Skip None or Nan"
@constantinpape

Our current default value for Strings is `None`, right?
Do you remember why an annotation column could contain `NaN`?

[2022-07-16 05:41] #795 closed

[2022-07-16 05:55] tischi commented on #808
@constantinpape does that look good to you?
Also note the static methods for creating IDs in the `Segment` interface.

[code]

[2022-07-16 13:13] tischi opened #810 "Numeric coloring model initialisation"
I am currently refactoring the initialization of MoBIE and I would like to avoid the loading of tables during initialization (because this can take quite some time, e.g. in the HTM case).

Now, for the serialization of the coloring, we currently have:

[code]

I think I can avoid loading of tables for initialization of the coloring model except for one case:

(a) `colorByColumn`  is set.
(b) `lut`

[2022-07-17 20:34] constantinpape commented on #808
@tischi yes, that looks good!

[2022-07-17 20:37] constantinpape commented on #810
Yes, that's ok. It's hard to express this statically in the spec, since expressing dependencies between different fields is not very easy in jsonschema (it's possible, but makes everything very hard to read). So for now I suggest we just write it in the spec, and I can add additional checks in the python validation code where this is much easier to check.

Which brings me to the question: which `l

[2022-07-18 07:47] tischi commented on #810
Numeric Luts:
- `blueWhiteRed`
- `viridis`

[2022-07-19 11:37] constantinpape commented on #809
It's unclear how these things are mapped in pandas, so it's much safer to skip both.

[2022-07-19 11:39] k-dominik opened #811 "Enhancement: Easy to use API for loading an image, label-image and corresponding table"
Dear @tischi,

mobie looks so awesome! Getting your data in is still a little clunky though (as far as I know) with having to create a project first and all. I think _many_ use cases could go directly from memory, ideally from fiji to open a mobie viewer instance with a given image, label-image and table. [We have a PR open for the ilastik fiji plugin](https://github.com/ilastik/ilastik4ij/pull/84

[2022-07-19 12:59] tischi opened #813 "Delegate ImgLoader closing to BDV-PL"
https://github.com/bigdataviewer/bigdataviewer-playground/issues/259

[2022-07-20 10:57] constantinpape commented on #811
I agree, the best option would be to save everything as ome.zarr to avoid in memory data transfer logic (and then either also generate the json file for MoBIE to understand the data layout, or we simplify this part that we can open a MoBIE project from the ome.zarr directly).

For the table: while we don't support tables in ome.zarr yet, we could also use tsv files in the meantime, which should be

[2022-07-20 14:37] tischi commented on #811
Definitely something we want to do!

[2022-07-25 09:08] tischi opened #814 "name of merged grid"
Hi,

Is it important that the `name` of a `MergedGridTransformer`
is `protected String mergedGridSourceName` and not just `protected String name` as for the `TransformedGridTransformer`?

[2022-07-25 09:30] KateMoreva commented on #814
We also has a field name:String in the base class org.embl.mobie.viewer.transform.AbstractSourceTransformer

[2022-07-25 09:41] constantinpape commented on #814
The reason we chose to add `mergedGridSourceName` is that merged grid actually creates a new source - and this field will give the name of the source, whereas the other transformations just have the `name` field to allow identification, but they keep the number of sources unchanged, and the names of sources are determined by `sourceNamesAfterTransform`.

[2022-07-25 19:28] tischi opened #815 "scatterplot JSON"
We have as fields in the JSON:

[code]

Would it be OK to assume that `scatterPlotAxes` MUST be given if `showScatterPlot=true`?

[2022-07-25 19:29] tischi commented on #814
Good point! Thanks!

[2022-07-25 19:56] constantinpape commented on #815
Yes.

[2022-07-25 19:59] constantinpape commented on #814
Yeah, would be more consistent. (But it doesn't really make sense to update the spec for pure name changes - this is quite a lot of work for me. We could make a list of potential name changes though and implement all of them at some point.)

[2022-07-25 20:01] constantinpape commented on #815
https://github.com/mobie/mobie.github.io/commit/d6f00b70ff00280bd3a00667608942a25090dcdb

[2022-07-26 08:12] #815 closed

[2022-07-26 11:03] constantinpape commented on #804
This is implemented now in mobie python:
- [remove_source](https://github.com/mobie/mobie-utils-python/blob/master/mobie/source_utils.py#L74)
- [rename_source](https://github.com/mobie/mobie-utils-python/blob/master/mobie/source_utils.py#L169)

[2022-07-26 11:03] #804 closed

[2022-07-26 13:25] tischi commented on #813
@tibuch FYI (see above)

[2022-07-26 13:58] constantinpape commented on #790
Ok, the issue here was that the data was invalid, see https://github.com/mobie/mobie-io/issues/107.
(Autocontrast might still be a good idea, but I will close this issue for now; I think the auto-contrast discussion has moved somewhere else in any case.)

[2022-07-26 13:58] #790 closed

[2022-07-29 14:12] tischi opened #816 "bdv-playground error"
@NicoKiaru

Any idea what this could be?

[code]

triggered here:

[code]

[2022-07-29 14:44] tischi commented on #816
I had twice a class with the same name.

[2022-07-29 14:44] #816 closed

[2022-07-29 18:47] tischi commented on #814
`sourceDisplays` => `displays` ?!

[2022-07-30 10:53] tischi opened #817 "colorByColumn default value?!"
Here: https://github.com/mobie/platybrowser-project/blob/d82ef21888f77e5774694b8b5cdbabdce46e4cba/data/1.0.1/dataset.json#L6670
...there is no `colorByColumn` name given, but a `lut`.
Do we specify a default for the `colorByColumn`, maybe `label_id`?

[2022-07-30 10:55] tischi commented on #817
ok, it looks like we support also categorical coloring without any specific column.

[2022-07-30 10:55] #817 closed

[2022-07-30 10:57] constantinpape commented on #817
Yes, by default we always use the `label_id` column (for segmentations) or `region_id` column (for regions)

[2022-07-30 11:08] tischi commented on #790
citing Tobias from bdv-core gitter:

but that could be changed of course
You can dig into the code / debug to find out what happens exactly
InitializeViewerState.initBrightness(...) is the method that does the min/max estimation
Internally, it calls InitializeViewerState.estimateSourceRange(...)
You can also use this one, if you want to implement your own auto-contrast thing for additional sources

[2022-07-31 09:17] tischi opened #818 "RegionDisplay actually also is a data source?"
@constantinpape @martinschorb

I got a bit confused and wonder whether we could improve (at some point) the JSON spec.

`RegionDisplay` has those fields:

[code]

For comparison, the other place where we have a `tableData` field is within a `source` of type `segmentation`.

My issue is now that `RegionDisplay` also in fact is a `source` of some data, namely `tableData`. Thus, I feel we mixed up th

[2022-07-31 12:57] tischi commented on #818
Naming-wise, maybe even better?
`source:imageAnnotation, display:imageAnnotationDisplay`

[2022-07-31 18:17] constantinpape commented on #818
I think making `regionDisplay` a source could make things quite inconsistent, since the table could list sources that are not in the view, leading to undefined behavior.

We explicitly decided to not call this annotation any more in order to avoid confusion with the annotation mode (= user provided annotations).

[2022-08-01 06:41] tischi commented on #818
OK.... how do we currently plan to model `spots`? I think you made an example already?!

[2022-08-01 07:25] constantinpape commented on #818
Regarding the `regionDisplay`: we can also discuss if it could be expressed as a source, but I don't think it's straightforward and it would probably easier to discuss this in person. But I don't think I have time for this before leaving for vacation (05.08-25.08), but I am happy to discuss this in September.

Yes, there is an example project with it already.
https://github.com/mobie/spatial-trans

[2022-08-01 07:37] tischi commented on #818
I had the same feeling, let's discuss in September. However I think you have a point here, because I think currently the regionDisplay could annotate images that are not part of the sources, but only emerge by means of transformation, _in that particular view_....

[2022-08-01 07:38] constantinpape commented on #818
Yes, that's one of the subtleties that I think make it difficult to express this as a source.

[2022-08-01 07:50] martinschorb commented on #818
I have not worked with segmentation sources so far, but to me, the way `regionDisplay` is designed - referring to the sources (defining the region "position") and then providing the table with the annotation information (color, opacity,...) is intuitive to me.
Maybe things would be more consistent if instead, we move the table reference out of the segmentation source definition and into its `Displ

[2022-08-01 08:26] constantinpape commented on #818
Yes, that's a good point we can have in mind! (However it runs a bit contrary to what we have planned for the spot source, see https://github.com/mobie/spatial-transcriptomics-example-project/blob/main/data/pos42-spatial-transcriptomics/dataset.json#L60-L66).

I think it's best if @tischi goes ahead and tries how to fit in the spot source into the current concept, and then we re-evaluate and discu

[2022-08-01 08:31] martinschorb commented on #818
I think spots (or potentially more general: polygons/vector annotations) are a different story, because the actual positional data resides in the table that the `source` entry refers to. I think this should be the main criterion, whether an entity is considered a "source", which would be where the basic geometrical information (image size, point positions from table, ...) is stored.

[2022-08-01 08:49] tischi commented on #818
Yeah, good points.

I agree that a `source` is something that makes sense on its own and does not rely on other information.
Thus I agree that spots could it a `source`.

I find the table that annotates the segments in an image somewhat of an edge case. It does contain relevant information by itself but at the same time is very tightly linked to the label mask image.

We could consider tables bein

[2022-08-01 08:57] martinschorb commented on #818
An alternative could also be to split the generic "tables" into something like "sourceTables" and "annotationTables".
For point/vector sources one could also think of providing the positional data in (zarr) arrays instead. Think for example of super-resolution localisations.

[2022-08-03 07:03] martinschorb commented on #389
Looks like it works now.

[2022-08-03 07:03] #389 closed

[2022-08-03 07:04] #474 closed

[2022-08-03 08:37] martinschorb opened #819 "update failure"
Hi,

something is wrong with the update site.

- I can update normal Fiji installations
- while downloading `mobie-viewer-fiji-2.1.10.jar` from the MoBIE update site, I consistently run into this:

[code]

leading to empty jars and a broken update.

[2022-08-03 08:45] martinschorb commented on #819
update:

- beta is not affected
- same problem occurs when trying to install MoBIE into a fresh Fiji

[2022-08-03 08:59] martinschorb commented on #819
This is the displayed error message:
![Screenshot 2022-08-03 at 10 58 49](https://user-images.githubusercontent.com/35071867/182568454-078ffe7f-d359-4083-bc14-0c8c95cef12b.png)

[2022-08-03 09:23] imagejan commented on #819
Cannot reproduce right now... maybe it was a temporary issue on `sites.imagej.net`?

In any case, it's likely not an issue with `mobie-viewer-fiji` but with the ImageJ/Fiji infrastructure, hence I'd suggest discussing/troubleshooting issues like this on the forum (https://forum.image.sc) or the zulip chat (https://imagesc.zulipchat.com).

[2022-08-03 09:25] martinschorb commented on #819
it has worked now trying it for like 8 times. I noticed that the mobie `.jar` is rather big, so maybe there was some traffic limitation or timeout involved.

[2022-08-03 09:25] #819 closed

[2022-08-09 08:11] tischi commented on #817
I found out that in terms of code, I can sort of simply color by "row", thus I don't need to specify any specific column. I would leave the code like that?

[2022-08-11 12:10] tischi opened #820 "Decrease initialisation time for large nested grids"
@martinschorb @constantinpape

I improved the code for loading large grids quite a bit (not on any update site yet as other things are not yet working in the respective branch).

However, for nested grid views it still needs to load the metadata from one reference image in each of the nested grids, which, for the HTM case, still amounts to quite a lot of images.
In principle this could be avoided,

[2022-08-12 11:16] tischi opened #821 "Mobie3: bug when loading cell segmentation in covid-if"
When zooming in and out very fast there are couple of wrong pixel values at the left edge of BDV.
One can see that in the cell segmentation in the `default` view. Probably some concurrency issue with some randomAccess?!

[2022-08-12 11:17] tischi opened #822 "Mobie3: Multi-threading issue in StitchedImage"
Right now the number of threads calling the RandomAccessSupplier is unlimited. We need to limit this.

[2022-08-12 12:19] tischi commented on #821
This does also happen for normal intensity images.
It only seems to happen for multiple wells.
Concurrently there are pixels that never evaluate to valid.

I put some "breakpoint code" into `StitchedImage.VolatileBiConsumerImplementation`.
The issue seems to be the nesting of the grids. At the upper level of the nesting something appears to be going wrong with the randomAccess....

[2022-08-12 13:01] tischi commented on #821
It appears that the caching of the tile random accesses within the StitchedImage BiConsumer was not working properly. I removed that now and don't cache those accesses. I am not sure about the performance implications but it does not seem to matter that much on first glance.

[2022-08-12 13:01] #821 closed

[2022-08-12 13:05] #822 closed

[2022-08-15 21:26] kgabor opened #823 "Cannot adjust brightness limits in OME-zarr BigDataViewer viewer window"
If I open an OME-zarr image via mobie `(Plugins -> BigDataViewer -> OME-Zarr -> Open OME-Zarr from file system...)` the `BigDataViewer` window is displayed. However, display limits cannot be adjusted via` Settings -> Brightness & Color`. As such, most of my images are shown as completely black with the default value limits.

I also noticed that if I open platybrowser `(Plugins -> MoBIE -> Open ->

[2022-08-17 08:31] constantinpape commented on #823
Hi @kgabor,

I think the proper way to adjust the brightness is via the bigdataviewer menu. You can open it by pressing `p` and then you can adjust the brightness for the individual sources.

[2022-08-19 19:03] kgabor commented on #823
Thanks, it works indeed this way!

[2022-08-19 19:03] #823 closed

[2022-09-13 21:48] constantinpape commented on #820
In principle this sounds good, but I guess we only need this for nested merged grids, right?
So this field should be optional and a simplified version could look like this:
[code]
If this is what you have in mind then it's easy to add to the spec.

[2022-09-14 09:21] tischi commented on #820
I think we also need it for the not nested ones (also see may other comments).

[code]

[2022-09-14 09:26] constantinpape commented on #820
@tischi: I see, this make sense.
But I would still leave the metadataSource as an optional field, ok?

[2022-09-14 09:29] tischi commented on #820
yes

[2022-09-14 09:59] martinschorb opened #825 "Contrast adjustment precision"
Hi,
data we receive from the synchrotron in HH is 32 bit float. Min/Max values are -0.0025, 0.003.

BDV only allows for 2 digits, so setting the contrast is almost impossible. Can this limit be increased to 4 digits?

[2022-09-15 11:15] tischi commented on #825
You mean in BDV UI or in the MoBIE UI?

[2022-09-15 12:01] martinschorb commented on #825
I think it is a limitation of BDV. But if you can over-rule this using MoBIE's contrast adjustment, that would be enough.

[2022-09-16 14:15] constantinpape commented on #820
I have added a branch with the `metadataSource`: https://github.com/mobie/covid-if-project/pull/6.
For the well grids they always point to the image at the first position in well `A01`, e.g. `nuclei_WellA01_0000` for all the nucleus images. For the nested grids (i.e. the ones that arrange the wells on the plate) they point to the first well grid, e.g. `A01_nuclei` for the nucleus plate grid merged

[2022-09-16 14:17] constantinpape commented on #820
Also here's the PR with the addition to the spec: https://github.com/mobie/mobie.github.io/pull/87 (I will merge once we are certain we want the addition)

[2022-09-19 07:49] martinschorb commented on #825
Hi,

it's in `emcf/Hamburg_XRay/20220522/mobie_demo`

[2022-09-19 10:35] tischi commented on #825
In MoBIE, it sort of works, but you have to roughly adjust and then close the dialog and then open again (you may have to do this several times).

This is due to: https://github.com/mobie/mobie-viewer-fiji/blob/72e7d6f6cab8aea1c222aff4e115b4b200e515f3/src/main/java/org/embl/mobie/viewer/ui/UserInterfaceHelper.java#L149, which sets the step size based on the current range, when the dialog is opened

[2022-09-19 10:45] martinschorb commented on #825
ah, cool. This trick I didn't know.

[2022-09-19 10:45] #825 closed

[2022-09-19 10:48] martinschorb opened #826 "Volume view, data types"
Hi,

I have data of type `float32`. While display (and contrast adjustment) works fine, I cannot use the volume viewer.
[code]

Can the contrast range be mapped on-the-fly to some supported data type to enable the volume view?

[2022-09-19 10:49] martinschorb commented on #826
same data as in #825

[2022-09-26 19:35] tischi commented on #818
@constantinpape @martinschorb

Working now on the `spots` triggered some more thoughts:

The `tableData` within the `RegionDisplay` could be a source, namely a `annotationTable` (this annotation source could also be viewed just as a table, by means of a `TableDisplay`)

We add `annotations` to the spec (same level in the hierarchy as `sourceTransformations`), one instance being a `regionAnnotation

[2022-09-26 19:56] constantinpape commented on #818
I can't think this fully through now, but I quite dislike a couple of aspects of this:
- it makes everything more complex by introducing more elements to the spec without a clear advantage and (at least on the spec level) a more complicated design
- if we do this then the only logical thing would be to also pull out the segmentation tables -> even more big changes
- we decouple the table and regio

[2022-09-27 06:51] tischi commented on #818
Your comments make sense to me.
Anyway, let's post-pone all of this for after the revision.

[2022-09-27 11:12] tischi commented on #742
I commented out a lot of @Test now, because all this GUI testing stuff is really not working well.
I'd say we have to think of some other solution.

[2022-09-29 14:24] tischi opened #827 "Unique IDs for annotations"
@constantinpape

For the fields: `selectedSpots` `selectedRegions` `selectedSegments` we need a unique Strings in the JSON.

Could you remind me how they are currently specified in the JSON?

[2022-09-29 14:54] constantinpape commented on #827
Currently we have:
- `selectedSegmentIds`: `sourceName;timePoint;label_id`
- `selectedRegionIds`: `timePoint;regionId`
- `selectedSpotIds`: we haven't discussed this yet, I guess it should be `timePoint;spotId`.

[2022-09-29 15:12] tischi commented on #827
Thanks!

1. I guess they are all with underscore, right? `region_id`, `spot_id`?
2. `region_id` is a String?
3. `spot_id` is an Integer?

[2022-09-29 15:13] constantinpape commented on #827
Yes to all three.

[2022-09-29 15:25] constantinpape commented on #827
@tischi: short correction: a spotDisplay can have multiple spot sources. So we also need the format `sourceName;timePoint;spot_id`

[2022-09-29 15:29] tischi commented on #827
And `sourceName` refers to either an `image` or a `segmentation`, right?

[2022-09-29 15:30] constantinpape commented on #827
Here it would refer to the spotSource.

[2022-09-29 15:30] tischi commented on #827
or maybe not...???
maybe sourceName always refers to the table source name?
maybe this is also true for segmentations, because they also contain a table...

[2022-09-29 15:32] constantinpape commented on #827
in the case of the segmentation it would always refer to the corresponding segmentation source. (use-case: grids: multiple segmentations have the same segmentationDisplay, we need to know which one the label id belongs to)
same is true here because `sources` in the `spotDisplay` is also a list. (I don't fully know the use-case yet tbh, but it happens by extension of the segmentationDisplay)

[2022-09-29 15:36] tischi commented on #827
Hm, I am trying to write the Java code for this. Current attempt:

[code]

I thought maybe I can just use the same code here for all annotation types?!

Because also the regions have a source name, namely the name of the tableSource, which I think we will add with the new spec?

[2022-09-29 15:37] constantinpape commented on #827
But in the case of the regionDisplay we don't really need to add it, because we only have a single table source per region display. So the region_id there is unique.

[2022-09-29 15:43] tischi commented on #827
Yes, true for the regions it is different...

[2022-09-29 16:38] tischi commented on #827
OK, I will not use it for the UUID for regions, but do you think it is a valid abstraction to still say that each annotation (region, segment, spot) must have a source?

This is useful in my code, because then I can use the combination of `source`, `timepoint` and `label` to uniquely identify an Annotation object.

[code]

[2022-09-29 16:52] constantinpape commented on #827
Yes, I think it's a useful abstraction. In the case of the `regionDisplay` it's just trivial for the `selectedRegionId`, since we only have a single table source in the view; so if you deserialize this you could just add the `tableSource` to it automatically (and strip it when it's serialized).

[2022-09-30 06:00] tischi commented on #827
The issue however is that `region_id` is a String. That makes this different from the other two.

Related to that: in the code, I need to create an intermediate representation of the regions as a label mask image, thus I need an Integer label. Currently I take the hashcode of the region_id for this. Do you think this is fine? Are there better ways? Hmmm, I just see that I could also use the `rowIn

[2022-09-30 06:55] constantinpape commented on #827
Good point.

I think that the row index makes more sense at all and is more transparent than taking a hash.

[2022-09-30 07:00] tischi commented on #827
OK, so for the Region:

[code]

[2022-10-01 11:02] tischi opened #828 "Use Console instead of IJ.log"
@constantinpape @martinschorb

Would you be fine with me switching to the IJ Console window rather than the IJ.log?
https://forum.image.sc/t/controlling-the-imagej-console-window/1334/3

`IJ.log` sometimes hangs and even leads to crashes...

[2022-10-02 14:13] constantinpape commented on #828
Are there any differences from the user perspective?

[2022-10-02 14:17] constantinpape commented on #818
@tischi: I moved your comments from https://github.com/mobie/mobie.github.io/issues/88 here, since they are more relevant in this issue.

## First post

Some other thing that feels a bit confusing.

In the displays, afaik, `sources` always refers to `images` or `segmentation`, *but* for spots, where it refers to `spots` sources, which are tables.

Now in the `RegionDisplay`  `sources` refers to `i

[2022-10-04 07:14] tischi opened #829 "Accumulate projector seems only used if there is more than 1 source"
Due to this our custom alpha blending is not applied for one source only.

[2022-10-04 11:58] tischi opened #830 "DatasetsCreatorTest has an error"
@K-Meech
The tests for the `DatasetsCreatorTest` do not run in the `mobie3` branch.
Would you have time to have a look?

[2022-10-04 12:42] constantinpape opened #831 "new mobie beta not working"
It fails with a very long error message (see below).
I tried for the following project: https://github.com/mobie/covid-if-project. (But I guess that it would fail for any project since this seems to be a dependency issue related to https://github.com/jtablesaw/tablesaw/issues/1155)

[code]

[2022-10-04 13:28] constantinpape commented on #831
(I am not sure about your workflow here, but it probably makes most sense if you test yourself that it runs first and ping me again when it works from the mobie-beta update site for you, so that we don't need to go back and forth on the hopefully trivial dependency issues)

[2022-10-04 13:38] tischi commented on #831
ok, that works.
now I can load the cells table without crashing.

[2022-10-04 13:43] constantinpape commented on #831
Should I try again?

[2022-10-04 13:52] tischi commented on #831
yes, for me it works now in a setup of which I think it should mimic yours.

[2022-10-04 14:10] tischi commented on #831
Thanks! I will investigate later... maybe only Thursday...

Could you make one issue per different crash (as far as you can tell)?

[2022-10-04 14:13] tischi commented on #831
@constantinpape by the way: You have to _explicitly_ say that you want the **mobie3** branch!
I did not hardcode this, because, e.g. the platybrowser in fact opens with the current main branch.

[2022-10-04 14:13] constantinpape commented on #831
Ok. (I probably don't have much time for this tomorrow though, but will make separate issues if I run intuo them)

[2022-10-04 14:14] constantinpape commented on #831
I see, that might be the issue....
I will investigate later.

[2022-10-04 14:16] tischi commented on #831
If you

1. update your Fiji again
2. open the mobie3 branch from covid-if, it should work now.

[2022-10-04 18:09] constantinpape commented on #831
Yes, works now.

[2022-10-04 18:09] #831 closed

[2022-10-06 09:42] constantinpape opened #832 "Issues with parsing segmentation tables"
Hi @tischi,
I run into some issues with opening the segmentation tables in MoBIE 3.
Specifically, opening the project at `/g/kreshuk/data/marioni/shila/mouse-atlas-2020/ngff/` (this is the full spatial transcriptomics project) fails with a long error message that indicates that the column `bb_min_z` from the table `/g/kreshuk/data/marioni/shila/mouse-atlas-2020/ngff/embryo3/tables/MMStack_Pos0_cel

[2022-10-06 11:21] tischi commented on #832
I am not sure what is going on.

I decided to side-step this by using a method `row.getNumber( columnName )` which will return a double representation of whatever numeric type the column has. I feel that's OK?!

[2022-10-06 11:39] constantinpape commented on #832
Yes, I think that sounds good and it's safe for the columns where we know that the values are float (like `anchor`, `bb_min` and `bb_max`).

Can you make an updated mobie-beta release with these changes?

[2022-10-06 12:48] constantinpape commented on #832
Works now, thanks!

[2022-10-06 12:48] #832 closed

[2022-10-06 13:35] constantinpape opened #833 "Segmentation in grid does not work"
Segmentations in a grid don't work yet in mobie3: the segmentation is only loaded for the first segmenation source (related to this: the `image-id` column is not loaded).
And selecting any of the segments from the image or table results in undefined behavior, sometimes selecting a random cell / position, sometimes throwing a NullPointer Exception.

See an example for this bug from the zebrafish pr

[2022-10-06 13:49] constantinpape opened #834 "channel for ome.zarr not working"
The `channel` attribute in the ome.zarr metadata is not working correctly, it always reads the first channel. Note that this is a problem in the mobie plugin, and not in mobie-io: the first screenshot below shows the `nuclei` source (corresponding to channel=3) from https://github.com/mobie/spatial-transcriptomics-example-project. As you can see this shows the wrong image (channel=0). The second s

[2022-10-06 13:52] constantinpape opened #835 "Weird names in overlay"
For the project at `/g/kreshuk/data/marioni/shila/mouse-atlas-2020/ngff` the names in the overlay are shown as greek letters, see screenshot below.
(Should be MMStack_Pos0...).

Note that I have only seen this for this project, worked fine for all other projects that I tried.

![mobie-pos-names](https://user-images.githubusercontent.com/4263537/194330533-cf1f36ec-ca06-406a-89c9-3bd092e0ad26.png)

[2022-10-06 15:39] tischi commented on #833
For me, both segmentation are loaded, but it seems like the table only has one of them.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/2157566/194357169-9aff4043-103d-45e8-90ee-103665fe442c.png">

[2022-10-06 16:51] constantinpape commented on #833
Yes, the same happens for me; sorry my description was not 100% precise.

Ok, fingers crossed!

[2022-10-06 19:14] tischi commented on #833
I think I may have a good solution...but the nested MergedGridSource is giving me a headache (like always)...I will think more tomorrow.

`MergedGridSource`  is currently only used in the covid-if project, is it?

[2022-10-06 19:15] constantinpape commented on #833
Yeah, I think so.

[2022-10-07 06:23] tischi opened #836 "Nested merged grid not working in mobie3"
I know why, but I need a bit of time to think how to fix this properly.

[2022-10-08 18:43] tischi opened #837 "Label blending not working in IntelliJ"
When I open `raw` and then `cells` the intensity values are summed up rather than proper alpha blending.

This seems not always to happen.

Maybe some concurrency issue?

[2022-10-08 18:45] tischi opened #838 "random color seed in UI is wrong"
<img width="497" alt="image" src="https://user-images.githubusercontent.com/2157566/194722824-f22e21d5-85ca-4008-8a03-b46b2020ea01.png">

This should show the actual current one.

I could set this when calling the command from the `UserInterfaceHelper`.

[2022-10-09 16:13] tischi opened #839 "Blending Mode Spec: Alpha instead of sumOccluding"
@martinschorb @constantinpape

I think this would make more sense now, agreed?

[code]

[2022-10-09 21:39] constantinpape commented on #839
Just to be clear, you propose to rename `sumOccluding` to `alpha` in `blendingMode`?
I am fine with this change, I just find it a bit confusing that you still have `sumOccluding` as deprecated. I would vote to fully remove it if we make this change, since we don't have a way to mark deprecation on the spec level / it would make things unnecessarily complicated.

[2022-10-10 05:56] tischi commented on #839
Fine with me. I just wanted to avoid that we have to reformat all our projects and I could support both `sumOccluding` and `alpha` for some time in the Java code.

[2022-10-10 09:03] K-Meech commented on #830
@tischi - Sorry I was away travelling this week. I can take a look at this! Probably not until near the end of this week though - would that be too late?

[2022-10-10 09:10] tischi commented on #830
Fine! Thanks!

[2022-10-10 11:59] tischi opened #840 "Code duplication in TableSawAnnotatedSpot..."
`TableSawAnnotatedSpot`, `TableSawAnnotatedRegion`, and `TableSawAnnotatedSegment` have a lot of code duplication. Create an abstract class for this.

[2022-10-10 12:06] tischi opened #841 "Transforming fields in a table"
We have code like this to retrieve an numeric feature in a table:

[code]

Now, if this table has been transformed, probably we would like to transform whatever this function returns, is applicable? For example, if this contains the position of a spot?

Note, that there are dedicated methods to return the position:

[code]

Those methods are aware of the transformation, so this is not an issue.

S

[2022-10-10 18:47] constantinpape commented on #841
I think for the time being we should just transform the default columns that we know are spatial (segmentation: anchor, bb, spots: coordinates). I agree that it would eventually be nice to also support transforming other columns. I am not sure what the best option for this would be. One option would be to have an additional field in the spec like `spatialColumnNames` or so and it to the relevant s

[2022-10-10 18:48] constantinpape commented on #839
I have to do the reformatting for the change to the v3 spec in any case, and I think of the projects where I ran the reformatting already none uses a blending mode.

[2022-10-10 18:55] constantinpape commented on #839
I updated the spec accordingly.

[2022-10-10 18:56] tischi commented on #839
yes, default is `sum`

[2022-10-10 19:02] tischi opened #842 "AccumulateOccludingProjectorARGBFactoryAdapter ?"
@NicoKiaru do we still need this?

https://github.com/mobie/mobie-viewer-fiji/blob/main/src/main/java/org/embl/mobie/viewer/bdv/render/AccumulateOccludingProjectorARGBFactoryAdapter.java

[2022-10-10 19:05] constantinpape opened #843 "MoBIE3-beta: opening segmentations fails"
Opening a segmentation now fails with the following error:
[code]
(I tried for `platybrowser->cell segmentation`)

[2022-10-10 19:07] constantinpape opened #844 "MoBIE3-beta: opening spot source fails due to bounding box"
Opening a project with a spot source (here: spatial transcriptomics example project) now fails with the following error message:
[code]

[2022-10-10 19:19] tischi commented on #839
For the segmentation displays, did we say that `sumOccluding` (now `alpha`) is the default?!
It would make sense. But I cannot find this in my code right now anymore...

[2022-10-10 19:55] constantinpape commented on #844
This was an issue in the project and is fixed now.

[2022-10-10 19:55] #844 closed

[2022-10-10 19:56] constantinpape commented on #843
Trying to open a spotDisplay fails with the same error.

[2022-10-10 20:08] #839 closed

[2022-10-10 20:09] tischi commented on #843
Fixed and uploaded to MoBIE-beta.

[2022-10-10 20:09] #843 closed

[2022-10-10 20:09] #838 closed

[2022-10-10 20:09] #837 closed

[2022-10-10 20:09] tischi commented on #836
Seems to work now.

[2022-10-10 20:09] #836 closed

[2022-10-10 20:10] #834 closed

[2022-10-10 20:10] tischi commented on #833
I think that works now, please reopen if needed.

[2022-10-10 20:10] #833 closed

[2022-10-10 20:11] tischi commented on #829
Discussed with Tobias and this is indeed the case.
He suggested adding an empty source such that there are always two....

[2022-10-10 20:12] #820 closed

[2022-10-10 20:12] tischi commented on #826
I will have a look!

[2022-10-10 20:13] #808 closed

[2022-10-10 20:14] tischi commented on #799
Closing in favour of #892

[2022-10-10 20:14] #799 closed

[2022-10-10 20:36] constantinpape commented on #841
I agree. Let's postpone this until a use-case arises.

[2022-10-10 20:36] constantinpape opened #845 "settings menu does not work for showBoundaries and spotRadius"
For me neither changing the `showAsBoundaries` (both spot and segmentation sources) nor the `spotRadius` (spt sources) buttons in the new settings menu work. See here on platybrowser: (as you can see random seed does work)

https://user-images.githubusercontent.com/4263537/194948509-bfdb285a-c2ff-430b-b855-85ee4a940da3.mp4

[2022-10-11 07:15] tischi commented on #837
Turns out the sources in the Projector are not appearing in the same order as they were added to BDV. I suspect that this may be due to recent changes in bdv-core. Trying to reach Tobias about this.

[2022-10-11 07:19] tischi commented on #845
`5.0` micrometer may be too thick for the boundaries. The cells are only a couple of micrometer. Could you try a smaller value, e.g. `0.5`?

[2022-10-11 15:05] tischi commented on #845
For the spot radius however I found a bug. I can upload the fix later.

[2022-10-11 15:44] constantinpape commented on #845
Indeed, it works for smaller values for the segmentation.
However, for the spots I am pretty sure that the boundary rendering doesn't work, I tried for very small values of the boundary radius now and it still renders the whole spots.

[2022-10-12 07:31] NicoKiaru commented on #842
Hum, I think so. It is there in order for bdv-playground to remember and re-use the mobie-specific version of BdvHandle you are using.

[2022-10-13 09:40] K-Meech commented on #830
@tischi The tests are throwing errors because the ```serialize``` part of ```DataSourceMapAdaptor``` isn't implemented yet: https://github.com/mobie/mobie-viewer-fiji/blob/mobie3/src/main/java/org/embl/mobie/viewer/serialize/DataSourceMapAdapter.java#L77

Do you have an example of a project with the latest spec? Then I could go ahead and implement this.

[2022-10-13 10:08] tischi commented on #830
Thanks a lot for taking the time.

Here is an issue that discusses the latest spec:
https://github.com/mobie/mobie.github.io/issues/88

I think good examples could be:

1. `https://github.com/mobie/plankton-fibsem-project` branch `mobie3`
2. `https://github.com/mobie/covid-if-project` branch `mobie3`

Let me know if you need other examples!

[2022-10-13 12:48] #830 closed

[2022-10-13 12:50] tischi opened #847 "Test Proejct Creator UI"
@K-Meech Thanks a lot for fixing the other issue.

May I ask two more things:

1. Could you try out whether the ProjectCreator UI still works in the `mobie3` branch?
2. Could you play around with the `PlatyBrowser` in the `mobie3` branch, testing different views , saving views, loading views, etc. and create issues for things that don't work yet?

Thanks!

[2022-10-13 12:57] K-Meech commented on #847
Sure - will do!

[2022-10-13 13:23] #792 closed

[2022-10-13 13:24] #842 closed

[2022-10-13 13:24] #827 closed

[2022-10-13 13:26] tischi commented on #791
@tibuch This works now in the mobie3 branch. If you want to develop/test things you should use the mobie3 branch from now on. Thanks!

[2022-10-13 13:26] #791 closed

[2022-10-13 13:26] #775 closed

[2022-10-13 13:27] tischi commented on #772
We removed image data types from project.json for mobie3.

[2022-10-13 13:27] #772 closed

[2022-10-13 13:57] tischi commented on #758
- [X] I removed the BlendingModeChanger from the context menu (as it wasn't really working anyway.
- [ ] Add configuration options to the source UI, we could now use the `[S]` button for this.

[2022-10-13 14:05] tischi commented on #758
In fact, I don't see a use-case for changing the blending mode in the UI right now.

Do you?

@constantinpape
@martinschorb

[2022-10-13 14:09] martinschorb commented on #758
Toggling occluding on/off is very useful if one wants to check how good the sources are registered with each other.
If people use MoBIE to register multi-modal data, that's a use case.

But we could also take it out now and include this topic into our upcoming discussion on registration.

[2022-10-13 14:13] tischi commented on #758
Another good trick here is to color one source in Magenta and the other in Green, then the sum will look White if the registration is correct.

OK, let's leave this out for now and then have an in person meeting where we explore registration together.

[2022-10-13 14:16] tischi commented on #758
OK, I will see to add it to the `[S]`ettings button then.

[2022-10-13 14:16] K-Meech opened #848 "Select (equal to / less than / greater than) doesn't work for integer columns"
Selecting certain values from a table doesn't work for integer columns e.g.

Open the plankton-fibsem-project (branch mobie3)
view the ```cell-mask``` segmentation
Select > select equal to... in the table menu
Column ```label_id```, value ```3```

[2022-10-13 14:25] K-Meech opened #849 "Shuffling colours (Ctrl + L) doesn't update table/plot colours"
Shuffling segmentation colours doesn't immediately update the corresponding colours in the table + plot. Selecting a table row triggers the update.

E.g. open any segmentation in the plankton-fibsem-project (mobie3 branch) and Ctrl + L

[2022-10-13 14:33] tischi opened #850 "BlendingMode static name field"
@constantinpape @K-Meech
Do you know whether this is still needed?
https://github.com/mobie/mobie-viewer-fiji/blob/f4fdda9a5c20f78d24bf7e94adcb973d451ce9a6/src/main/java/org/embl/mobie/viewer/bdv/render/BlendingMode.java#L73

[2022-10-13 14:34] K-Meech opened #851 "Default image doesn't update when switch to new dataset"
E.g. open the mobie3 branch of the plankton-fibsem-project,
switch to the ```nanochloropsis``` dataset
the image shown doesn't update (still shows emiliania)

[2022-10-13 14:41] constantinpape commented on #791
@tibuch: just fyi: the spec has changed a bit as well, the updated version of the python library is here: https://github.com/mobie/mobie-utils-python/pull/85. I will look into merging this into main next week. And there is also a converter functions to get projects to the new spec in there if you need it.

[2022-10-13 14:42] constantinpape commented on #758
I agree, that's the right point to put it. And it also makes the UI look nicer since we have a `[S]` for image sources then.

[2022-10-13 14:45] constantinpape commented on #850
I am not sure. My guess would be that we needed this at some point to read the extra blending mode config from xml that @NicoKiaru had in bdv-playground. But I am not sure.

[2022-10-13 14:47] K-Meech opened #852 "Saving views doesn't work in mobie3"
E.g. open the mobie3 branch of the plankton-fibsem-project
Use ```Save Current View``` from context menu
Choose ```Save as new view``` and ```File System```
Enter view name / selection group
Errors with:

[code]

[2022-10-13 14:48] K-Meech commented on #850
I'm not sure either. I don't remember what this line was for.

[2022-10-13 15:03] K-Meech commented on #847
Spotted a minor issue with the project creator that I made a quick fix for (https://github.com/mobie/mobie-viewer-fiji/pull/853). Apart from this, project creator ui seems to be working fine!

I spotted a few other problems that I made issues for.

[2022-10-13 19:30] constantinpape commented on #852
I also ran into this now. This one is important to fix @tischi.

[2022-10-13 20:09] constantinpape opened #854 "Grid view with spot sources does not work"
Loading spot sources in a grid view does not work; it fails with the error below.
@tischi I added an example view for this to https://github.com/mobie/spatial-transcriptomics-example-project: `bookmarks->grid-view`. (It is a 2 x 1 grid view with an image and spot source for each position).

(Also note that I cleaned up that project a bit: it only has the dataset `pos42` now, which contains the spo

[2022-10-13 20:15] constantinpape commented on #778
@tischi: should we actually remove the `timepoints` field for the new spec update?
I have created https://github.com/mobie/arabidopsis-root-lm-project/pull/8 so that you can check in mobie3. (I have left the `timepoints` field in for now, but you could check if everything works if you load the data without it.)

[2022-10-14 08:05] martinschorb opened #855 "Viewer crashes"
Hi,

tried to compare the new beta with the release and found the following problem (release version):

- newest release MoBIE updates (MacOS)
- open CLEM example project from Github
- load view `all_sources`
- it seems to load all sources, `Opened 22 image(s) in 3745 ms, using up to 16 thread(s).`

but then:

[code]

[2022-10-14 08:09] martinschorb commented on #855
same problem with the `detail_area` views.

[2022-10-14 08:11] martinschorb commented on #855
OK,

it seems to be the `fluorescence_a2` source.

[code]

[2022-10-14 09:20] tischi commented on #850
@NicoKiaru do you remember (see above)?

[2022-10-14 09:29] tischi commented on #758
Done, will upload later today.

[2022-10-14 09:29] #758 closed

[2022-10-14 10:30] martinschorb commented on #855
I just tried with a brand new Fiji installation (MoBIE being the only additional update site) and it behaves the same.
It's not 100% consistent when it happens. Sometimes adding a single source i sufficient to trigger the problem. Maybe it is a memory issue once a certain number of sources are loaded.

[2022-10-14 10:50] NicoKiaru commented on #850
I do not know the mobie side of it. I know that a projectionMode field is set on the `Entity` `Displaysettings`:

https://github.com/BIOP/bigdataviewer-spimdata-extras/blob/5caaa1d8d73bd64f81da9f66e294e533211352a3/src/main/java/spimdata/util/Displaysettings.java#L55

This field contains some information on the blending mode.

I would avoid changing anything in the Displaysettings class, but it's a

[2022-10-14 11:23] tischi commented on #852
Fixed.

[2022-10-14 11:23] #852 closed

[2022-10-14 11:24] tischi commented on #855
I think this works now. I will upload new version in 10 minutes.
There is a bunch of other things that don't work with the `all_sources` though, you will see ;-)

[2022-10-14 11:24] #855 closed

[2022-10-14 11:30] tischi opened #856 "CLEM-Example: loading same view twice does not work"
Loading `all_sources` the first time looks good but a second time yields:

<img width="416" alt="image" src="https://user-images.githubusercontent.com/2157566/195836561-3bf331db-921c-4eed-aece-6b370d57f1f1.png">

I guess it somehow applies the transformations each time the view is loaded on top of each other, probably to images that are cached somehow.

[2022-10-14 13:09] tischi commented on #856
I found the issue. If the image name does not change during transformation (i.e. `sourceNamesAfterTransform` is not specified) we are now transforming images "in place" rather than creating a transformed copy. That currently transforms the cached images. I think to think a little bit how to fix this.

[2022-10-14 13:17] tischi opened #857 "What to cache and how long?"
I wonder what we should cache and how long.

One use case: the user switches between different views that rely on the same raw data.

What actually is raw data for us? I think SpimData and tables could be objects that we could re-use?

Challenges:

- We could run out of memory if we hold on to these objects more than needed. I think @K-Meech was reporting issue with this and that's why I added cod

[2022-10-14 13:17] tischi commented on #856
https://github.com/mobie/mobie-viewer-fiji/issues/857

[2022-10-14 13:30] tischi commented on #856
I fixed this for now by not caching any images (see the above issue for further discussion).

[2022-10-14 13:30] #856 closed

[2022-10-14 13:31] #850 closed

[2022-10-14 13:32] constantinpape commented on #855
I don't think we will fix issues on the main MoBIE channel any more since we plan to change to the mobie3 implementation (the current mobie-beta) next week.

[2022-10-14 13:38] martinschorb commented on #855
Have there been any changes to the main branch of the CLEM example that could have broken these views? It was clearly working before...

Also, something seems to be wrong with the updates in general.
When trying to install MoBIE release on a fresh Fiji (Windows), I get an `incorrect file size` error for `mobie-viewer-fiji-2.2.1.jar`.

[2022-10-14 13:44] martinschorb commented on #855
But I will focus on testing the Beta channel if that's what will be used soon ;-)

[2022-10-14 13:50] #851 closed

[2022-10-14 13:56] martinschorb commented on #855
OK, seems like the update server has some issues. No chance to get any MoBIE installed or updated... Getting loads of SSL timeout and file size errors.
In the long run, distributing hundreds of jars through a single site probably will no longer scale. Updating Fiji is more a gamble than a joy nowadays.

[2022-10-14 14:13] constantinpape commented on #854
Great!

This is just a small example for you to enable debugging. It will make sense in the actual project (I can share that with you later). If you want more meaningful names here feel free to change it.

[2022-10-14 14:14] #854 closed

[2022-10-14 14:17] tischi opened #858 "New version uploads to Fiji"
@constantinpape @K-Meech @martinschorb

I just uploaded a new version where all the issues that you posted in the last couple days should be fixed.

[2022-10-14 14:17] #847 closed

[2022-10-14 14:17] #845 closed

[2022-10-14 15:02] tischi commented on #855
Updating Fiji works fine for me...

[2022-10-14 15:02] constantinpape commented on #855
Also works fine for me.

[2022-10-14 15:33] martinschorb commented on #855
Yes, now the update server seems to be able to breathe again.

[2022-10-14 20:46] constantinpape commented on #778
Done.

[2022-10-14 20:46] #778 closed

[2022-10-14 21:21] constantinpape opened #859 "spotDisplay is not serialized when saving view"
Saving a view with an active spot display does not work properly: the spotDisplay is not included. To reproduce: open the spatial transcriptomics project and save the current view.

Here's what I currently get for this:
[code]

[2022-10-15 08:55] constantinpape opened #860 "Bug when opening merged grid view with segmentations"
I run into issues when opening a nested merged grid view with segmentations for a new project (see screenshot below).
To reproduce:
- Open `/scratch/pape/covid-if-2/data` (you should have access @tischi)
- Select the view `segmentations`

Note that it works fine for the similar view with segmentations in https://github.com/mobie/htm-test. But I checked the view where the issue occurs and it looks

[2022-10-15 12:34] #848 closed

[2022-10-15 12:57] tischi commented on #860
I don't think I can access the data (see mattermost).

But Ferndiagnose is that you are trying to show an merged grid image with a `SegmentationDisplay` that actually is not a segmentation. Could that be?

[2022-10-15 13:20] tischi opened #861 "TransformedSource"
I think for sources to be manually transformed within BDV they need to be a `TransformedSource`.

The issue now may be that, while I think that most of our sources are "somewhere" a `TransformedSource` we may have, e.g., a `BoundarySource` wrapped on top such that BDV probably cannot see the  `TransformedSource` anymore.

- [ ] test whether one can currently manually move annotation sources (i.e.

[2022-10-15 13:23] tischi opened #862 "Implement segmentation images without tables"
...not yet implemented in mobie3.

[2022-10-15 13:24] tischi commented on #860
Very likely cause: https://github.com/mobie/mobie-viewer-fiji/issues/862

[2022-10-15 13:27] tischi opened #863 "Serialise current view"
@K-Meech

I have a couple of questions about this code:

[code]

1. Shouldn't we do the `addManualTransforms( ... )` always? So we could move it out of the if clauses?
2. Can `currentDisplay` ever be `null`?

[2022-10-15 13:32] tischi opened #864 "Display serialisation"
@K-Meech

For our displays, we have such code, e.g.:

[code]

While I can confirm that the empty constructor is indeed used by GSON, removing the constructor with the arguments does not seem to do any harm.

Do you remember why you (or we) added them?

[2022-10-15 13:34] NicoKiaru commented on #861
I'd like to, but I don't get what the problem is. I don't know what a BoundarySource is...

Just a comment on this point:

You need to have a way to store an affine transform, that's right. You can do that with a TransformedSource, but it's not the only option. Actually a TransformedSource is quite limited because the transformation (applied on top of another 'origin' source) is the same for all t

[2022-10-15 14:01] tischi commented on #863
In fact, the `RegionDisplay` may be a special case in terms of transformations,
because it derives its position indirectly by the regions that it annotates.
Thus the `RegionDisplay` may actually never be transformed by itself.

@constantinpape does that sound conceptually correct to you?

[2022-10-16 13:36] tischi commented on #864
I found that the second constructor is needed for the ProjectCreator.

[2022-10-16 13:36] #864 closed

[2022-10-16 13:38] tischi commented on #863
I rewrote the code: https://github.com/mobie/mobie-viewer-fiji/blob/afa8ad10a1d2bc426b855fb451ded52bff4a4599/src/main/java/org/embl/mobie/viewer/view/ViewManager.java#L205

@K-Meech please reopen if you think that I overlooked something.

[2022-10-16 13:38] #863 closed

[2022-10-16 13:47] tischi commented on #862
@constantinpape Do you feel it could be useful to on-the-fly populate a segments table? It would initially probably only have one column, namely `label_id`. Note that I probably anyway have to implement such a "lazy" table in the code, because I _think_ I need it for the coloring and selection model of the segments....

I mainly wonder right now whether (a) it would be useful to show it and whethe

[2022-10-16 17:11] tischi commented on #859
Should work now.

[2022-10-16 17:11] #859 closed

[2022-10-16 17:12] tischi commented on #862
Should work now.
I am showing the table.
But the navigation does not work because the table rows do not know the location of the segments. Currently the all move to `0,0,0`.

[2022-10-16 17:15] tischi commented on #861
Thanks @NicoKiaru ! The `BoundarySource` is not important, it is just an example for the fact that the `SourceAndConverter` that I am adding to BDV may currently not be a `TransformedSource` and therefore I suspect that the manual transformations implemented in BDV may not work.

[2022-10-16 17:15] tischi commented on #860
I guess it should work now, but could not test, super slow internet today at home.

[2022-10-17 14:09] tischi commented on #862
And what about showing the table but then logging a comment that the browsing is not implemented because no positions are given if a user tries to click (instead of moving to `0,0,0`)?

You could also in the display set `showTable` to false?!

[2022-10-17 14:19] constantinpape commented on #862
But is the table of much use then? It will just show the `label_id` column without being able to navigate or to properly annotate objects (since this would also need navigation).

[2022-10-17 16:54] tischi commented on #862
One could manually annotate some segments....
Otherwise probably not much.

OK, I will think about how to entirely disable table views for such cases...
Involves a little bit of coding thus, I wanted to avoid it, but probably worth it...

[2022-10-17 17:00] constantinpape commented on #862
I think that would be better too.

[2022-10-18 08:43] constantinpape commented on #863
That sounds right.

[2022-10-18 15:40] constantinpape opened #865 "Loading segmentation table in grid view fails"
There is still an issue when trying to load segmentation tables in a merged grid. When loading from filesystem it throws a lot of NullPointerErrors, see screenshot below.

To reproduce:
Open the view `segmentations` in `/g/kreshuk/pape/Work/data/mobie/covid-if-2` and try to load the `cell-segmentation` table.

![image](https://user-images.githubusercontent.com/4263537/196461823-6e28cc98-5838-48b9-

[2022-10-18 15:50] constantinpape commented on #865
(I can't reproduce it in the `htm-test` project, there the similar view works fine.)

[2022-10-19 07:20] tischi opened #866 "kdTree building can take a long time"
For 100k spots around 6 seconds.

When loading many spot images that yields a bad user experience.

Idea: One could first build a smaller tree such that at least some spots are visible immediately and then asynchronously build the big one.

[2022-10-19 07:26] tischi opened #867 "Enable a label mask image for a spatial-omics source"
Creating kdTrees for many elements can be slow.

In such cases having a pre-computed label mask image may be better?
We could discuss how that would be different from a regular segmentation image.

We could look at this for inspiration: https://github.com/PreibischLab/STIM

[2022-10-19 07:35] constantinpape commented on #866
I will continue the kdTree related discussion here: would you need a smaller table for this or could you just read the table and build the tree in parallel by loading chunks of the table directly from html? (https://github.com/tlabs-data/tablesaw-parquet/blob/master/docs/working_with_remote_files.md)

[2022-10-19 07:38] tischi commented on #866
My current feeling is that loading the tables is less of an issue than building the tree. Thus I could load the whole table anyway.

Did you see an option for how to do this?

[2022-10-19 07:38] constantinpape commented on #867
Can we precompute the kdTree? That may be simpler than switching to a new concept with label masks here.

[2022-10-19 07:41] constantinpape commented on #866
Ok, makes sense.

I haven't looked at this in so much detail yet, just assumed it might be possible.

But I agree, let's focus on the tree first. My current thought: what if we precompute the tree? (Also brought up in the other issue).

[2022-10-19 08:52] tischi commented on #867
But then we would need a way to serialize it?!

[2022-10-19 08:53] tischi commented on #867
On the Java side not much new concept, that would work just like any segmentation image.

[2022-10-19 09:00] constantinpape commented on #867
Ok, let's try to discuss in a quick zoom later.

[2022-10-19 10:21] K-Meech commented on #863
@tischi - looks fine to me, although it's been a while since I looked at this part. Probably good to check that a manual transform can be saved / loaded from a view in the new mobie3.

[2022-10-19 13:16] tischi commented on #867
We discussed that this is not a good idea.

[2022-10-19 13:16] #867 closed

[2022-10-19 13:17] tischi opened #868 "Do not show any table if the there are no stored tables"

[2022-10-19 13:20] tischi commented on #868
@constantinpape

This is a bit tricky for a grid view, because some images may have a table while others may not.

Currently, for

[code]

It loads now but it shows and empty table for the nuclei segmentation.

- [ ] I would first like to fix the bug that it actually does populate the concatenated nuclei segmentation table properly and then we can still think about disabling the view of it.

[2022-10-19 14:56] tischi commented on #868
Oh I see, the AnnotationDisplay has a field `tables`! Is that what you mean?
Unfortunately, I think this now only includes the `additionalTables` and not the default table.
If it would also include the default table we could use this field to easily check whether there are no tables at all...
(BTW: did we rename this? In my code it still is `called tables`).

[2022-10-19 15:31] constantinpape commented on #865
@tisch: loading the segmentation works now, but I run into a similar bug when using color by column:

After loading the cell segmentation i do: "Color By Column" -> is_train -> glasbey.
This leads to the following issue.

![image](https://user-images.githubusercontent.com/4263537/196736595-39abf4d4-b75d-4b7e-9ae4-efdf52f07f8d.png)

[2022-10-20 06:56] tischi commented on #865
Turns out I did not support Boolean type yet.

Now I do, with fancy rendering in the JTable ;-)

<img width="649" alt="image" src="https://user-images.githubusercontent.com/2157566/196877514-0e5a20e9-0c2e-441b-8d2b-ea00df0c0a8f.png">

[2022-10-20 06:57] #865 closed

[2022-10-20 07:14] constantinpape commented on #865
Nice, thanks!

[2022-10-20 08:55] tischi commented on #868
OK, I did not know this.

[2022-10-20 08:57] constantinpape commented on #868
This is how we changed the table spec recently. The fact that this has to be consistent across the sources in a display is not fully mentioned in the spec yet, I will add it. But you can def. assume this, I also check for this in the python validator.

[2022-10-22 15:11] tischi opened #915 "Float precission for spots?"

[2022-10-23 15:57] tischi opened #870 "Don't go via label images for spots and regions"
...this seems not necessary and causes significant computational overhead during the rendering.

The point is that the pixel values are the spots and regions anyway in the end, so it does not seem to make sense to create intermediate label images. At some point I thought this would be make the code more consistent, but I think I changed my mind.

[2022-10-23 21:19] constantinpape opened #871 "Showing .tsv files in "Load columns" doesn't work"
There are no `.tsv` files listed:

![image](https://user-images.githubusercontent.com/4263537/197418731-5915b31d-78c0-49ab-baa5-6040766541f2.png)

Although the folder contains such files:

![image](https://user-images.githubusercontent.com/4263537/197418765-6ca6f0ff-f426-47cf-8166-46e40033640d.png)

(Not a high priority since working via "all files" works, but it might confuse users)

[2022-10-23 21:23] constantinpape opened #872 "Loading table from file system *from Table UI* doesn't work"
There is no error message, but the new columns are not added:

https://user-images.githubusercontent.com/4263537/197418927-f7e194fd-6c8c-4f9f-a944-d95faba7f131.mp4

[2022-10-23 21:27] constantinpape opened #873 "Further improve performance for loading large (spot) tables"
Loading the `stitched-full` view in the new spatial transcriptomics project works much better now:
- Loading it from filesystem now takes 127028 ms (~ 2 min), so much better than before.
- Once loaded browsing of all the spots is very smooth.

Still, it would be interesting to now what the bottlenecks are in loading the view, and if it could be further sped up by improving the table loading (which

[2022-10-24 07:14] tischi commented on #872
I changed the title, because if you specify `additionalTables` is does work, is it?

[2022-10-24 07:29] constantinpape commented on #872
:+1:

Yes, that works.

[2022-10-24 09:34] tischi commented on #872
Should work now...

[2022-10-24 13:07] K-Meech opened #874 "Removing image doesn't remove 3D view"
Removing an image doesn't remove it from the 3D viewer (this works for segmentations, but not images) E.g.

Open platybrowser (mobie3 branch)
Tick the 'V' checkbox for raw
Click 'X' -> image stack remains in 3D viewer

[2022-10-24 13:26] K-Meech opened #875 "Bookmarks that require additional tables don't open"
Possibly related to https://github.com/mobie/mobie-viewer-fiji/issues/872

Bookmarks that need additional tables don't load e.g.

Open platybrowser (mobie3 branch)
View bookmark 'Figure 3B: morphology clustering full body'
Errors with:

[code]

[2022-10-24 13:49] K-Meech opened #876 "AdditionalTables saved wrong in bookmarks"
The default table gets saved in views under 'additionalTables' with it's full file path. E.g.

Open platybrowser (mobie3 branch)
Add the cell segmentation
'Save Current View' to filesystem
The saved file contains:
[code]

[2022-10-24 18:25] constantinpape commented on #872
No, it doesn't work yet @tischi. Could you please give this one another look?

[2022-10-24 18:25] constantinpape commented on #871
This is fixed now.

[2022-10-24 18:25] #871 closed

[2022-10-24 18:32] constantinpape commented on #875
The issue seems to be that the table "morphology_clusters.tsv" is not loaded, which contains the required column.

[2022-10-24 18:38] constantinpape commented on #872
If you want to have an easier to reproduce issue, @tischi: I can reproduce for loading extra cell tables in platybrowser:

https://user-images.githubusercontent.com/4263537/197600510-b295bcd0-8d95-4b38-9061-ba9564f60b15.mp4

[2022-10-24 20:32] constantinpape opened #877 "Enable keeping selection active in "Select ..." Table UI"
Currently the "Select ..." functionality in the table menu (Equal to, Greater, Less), undoes the previous selection before applying the criterion to select rows.

I think it would be very helpful to enable keeping the previous selection active. An example use case: a spot table with many rows and several genes: I want to select all spots which are from (for example) from 3 of the genes. This is cu

[2022-10-25 06:03] tischi commented on #876
1. I changed the code such that the default table is now separate from the additional tables.

2. For the additional tables I only put the file name there using below code

[code]

Questions:

1. Are my changes correct?
2. That means we do currently do not support serialization of absolute paths here, such as tables loaded from the file system (in fact we would serialize them **wrongly**!). What t

[2022-10-25 06:58] tischi commented on #875
It was loaded, but it contains less rows than the default table, which I did not properly handle.
Should be fixed now.

[2022-10-25 07:04] tischi commented on #875
Could you please update Fiji an try again?

[2022-10-25 07:06] tischi commented on #872
Weird, I tried it and it worked with your initial example (maybe I did not upload the changes...)
To be sure, could you please update Fiji and try again?

[2022-10-25 07:06] tischi commented on #876
Could you please update Fiji and try again?

[2022-10-25 07:13] tischi commented on #877
In fact this should be very easy. I will do it later today.

[2022-10-25 07:22] constantinpape commented on #877
Thanks! I hoped this was easy, and I think it will be a great addition.

[2022-10-25 07:25] constantinpape commented on #875
Yep, it works now.

[2022-10-25 07:25] #875 closed

[2022-10-25 07:28] constantinpape commented on #872
I just tried with the platybrowser example. It's not working. (I made sure to update to a new version)

[2022-10-25 07:38] constantinpape commented on #876
That's correct.

Yes, the changes look correct.

Yes, we do not support serializing with tables from the filesystem that are not part of the project. (And I think for now we also shouldn't attempt doing this since it will make things more complicated.)

For now: the best solution I can come up with is to check whether the table exist in the `tableData` when it's being serialized.
Here's how the py

[2022-10-25 09:31] K-Meech commented on #876
I think we already had some logic for checking if tables were from inside the project or not. E.g. there was a  ```hasColumnsFromTablesOutsideProject``` variable inside the TableViewer - https://github.com/mobie/mobie-viewer-fiji/blob/a9fb5ef47f541a7c0e3fbd529efc68ac00b90787/src/main/java/org/embl/mobie/viewer/table/TableViewer.java#L446 . Not sure if this is still somewhere in the new mobie3 code

[2022-10-25 09:50] K-Meech opened #878 "Opacity and Blending Mode not saved in bookmarks"
Opacity and blending mode aren't saved properly for segmentations in bookmarks e.g.

Open platybrowser (mobie3 branch)
Save a bookmark to the filesystem showing the raw + cell segmentation
View saved bookmark

The opacity is saved as 1.0 (when it should be 0.5), and I think the blending mode is also wrong

[2022-10-25 10:03] tischi commented on #872
Could you please update and try again?
It seems it was loading the data but not showing it.
I added a `jTable.tableChanged( )` and for me it works now.

[2022-10-25 10:15] constantinpape commented on #872
Yes, works now.

[2022-10-25 10:15] #872 closed

[2022-10-25 10:18] constantinpape commented on #878
SegmentationDisplays should in fact not have a blendingMode: https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L191-L273

[2022-10-25 10:23] K-Meech commented on #878
Ah ok - then this is definitely wrong. Currently gets saved as: ```"blendingMode": "sum"``` in the segmentationDisplay

[2022-10-25 11:12] tischi commented on #878
Should be fixed.

[2022-10-25 11:12] tischi commented on #877
Should be fixed.

[2022-10-25 11:59] constantinpape opened #879 "Load Colums ... From Project is not working"
It fails with
[code]

(Not a high priority for me, since From FileSystem is working, but would still be nice to fix eventually)

[2022-10-25 12:10] constantinpape opened #880 "Color by column not working (for missing values?)"
Sometimes "colorByColumn" is not working and is failing with a very long error message (see parts of it below).
My guess: this happens for partial data (i.e. not all rows have values for the column that is used for coloring).
To reproduce:
- Open platybrowser
- Load cell segmentation
- Load the "gene_clusters" table (https://github.com/mobie/platybrowser-project/blob/main/data/1.0.1/tables/sbem-6d

[2022-10-25 12:20] constantinpape commented on #877
Yes, it works. Thanks!

[2022-10-25 12:20] #877 closed

[2022-10-25 12:29] K-Meech commented on #878
Thanks! Looks like the opacity/blending mode is saved properly now.
Although, I do get an error if I save a view, then find it in the menu and 'view' it:
[code]
This doesn't happen if I close and re-open mobie, then ```Load additonal views...```

[2022-10-25 12:39] K-Meech opened #881 "randomColorSeed not saved/loaded from views"
The ```randomColorSeed``` saved in ```segmentationDisplay``` in views doesn't seem to be saved/loaded properly. e.g. in the platybrowser project:

Save a view showing the cell segmentation (will be saved with ```randomColorSeed``` 42)
Load the view

Every time you 'view'  it the colour scheme will be different i.e. doesn't seem to be using the set seed from the view

[2022-10-25 15:24] martinschorb opened #882 "3D Viewer trouble (v3)"
Hi,

I cannot get the segmentations to display in 3D Viewer for the following projects:

- https://github.com/mobie/covid-em-project
- https://github.com/mobie/plankton-fibsem-project
- https://github.com/mobie/sponge-fibsem-project
- https://github.com/mobie/zebrafish-lm-project

The viewer window stays empty even after waiting for a long time.

Current Beta, MacOS

[2022-10-25 15:29] tischi opened #883 "Segment volume rendering does not work for transformed sources"
@martinschorb

I had a look at the code and I think the volume rendering issues may all due to sources that have been transformed.

To fully debug this, I would need two examples:

1. Segments with bounding box information in the table, where the source is transformed, e.g. into a grid view
2. Segments without bounding box information in the table, where the source is transformed, e.g. into a grid

[2022-10-25 15:37] martinschorb commented on #883
I have not created any of the affected segmentations.
 @constantinpape did the covid and sponge ones for sure...

[2022-10-25 15:44] tischi commented on #883
Then probably they all have bounding boxes, anyway I can also work on this case first.

[2022-10-25 16:14] tischi commented on #883
Seems I fixed it. In fact I am not sure this was working before, according to how the code looks, it should never have worked.

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/2157566/197826953-57b15c61-2516-49fb-bd08-1ba5a8d03ab6.png">

[2022-10-25 16:28] tischi commented on #880
You are right and I fixed it:

<img width="576" alt="image" src="https://user-images.githubusercontent.com/2157566/197830470-297641ea-b6bd-41de-8fa9-ecbba3713a14.png">

[2022-10-25 16:31] tischi commented on #880
uploaded a version where this should be fixed.

[2022-10-25 16:31] tischi commented on #882
@martinschorb could you please update and try again?

[2022-10-25 16:32] #883 closed

[2022-10-26 20:20] constantinpape commented on #880
Yep, it's working. Thanks!

[2022-10-26 20:20] #880 closed

[2022-10-27 12:03] martinschorb commented on #882
https://github.com/mobie/covid-em-project view `s5_mock_segmentation` still does not show up.
Same for https://github.com/mobie/plankton-fibsem-project `cell-mask` in default dataset.
I have not tested any other segmentations.
It feels like the 3D Viewer takes a bit longer to load, but it still stays empty forever.

[2022-10-27 12:49] tischi commented on #858
@martinschorb @constantinpape

I uploaded version `1`, so all the corresponding bugs should be fixed.

(Next time I will simply bump the version of the jar, somehow I thought I want to keep it a `3.0.0` for the revision...but I think that was a dump idea)

[2022-10-27 14:06] martinschorb opened #884 "Full Fiji freeze"
Hi,

I manage to get Fiji freezing to death (only killing the process helps) by doing:

- open https://github.com/mobie/plankton-fibsem-project, branch `mobie3`
- before the image (default view) is shown in the BDV window, select another dataset and click 'view'

[2022-10-27 14:38] #882 closed

[2022-10-27 14:48] tischi commented on #884
OK, by clicking to fast around one can probably crash any software ;-)

I will not fix this right now, but it surely is a bug; thanks for finding it!

[2022-10-27 14:59] tischi commented on #881
Found out why:

<img width="986" alt="image" src="https://user-images.githubusercontent.com/2157566/198325126-97dee3aa-5fdb-4e77-8bd8-79716dedb5d6.png">

It is using the hashcode of the annotation object now.
I have to think how to make it use the label instead....

[2022-10-27 15:07] martinschorb opened #885 "Crash when opening view without BDV window"
Hi,

when the BDV window is closed and I open any new view, I get:

[code]

Could instead a new BDV window be created (like when changing datasets) if the active one no longer exists?

[2022-10-27 15:13] tischi commented on #881
I am using the hashcode of the annotation UUID now in case no column is specified for the coloring. This should work with version `3.0.1` (I will ping about the upload).

[2022-10-27 16:54] tischi commented on #884
Changed my mind, will try to fix it.

Options:
1. wait until the first data set is fully initialized
2. interrupt opening of the dataset

The second option would be probably more to the point, but may be more involved with interrupting all the current loading threads...

[2022-10-28 08:22] tischi commented on #884
I tried to fix it putting some `synchronized` code blocks but it still hangs.
I will get back to this.

[2022-10-28 14:05] constantinpape opened #886 "BDV Record Movie not working"
The BDV Record Movie functionality is not working (or I don't really understand what it's even supposed to do.)

`Tools->Record Movie` opens this window:

![image](https://user-images.githubusercontent.com/4263537/198630665-360a8653-8872-4379-b472-bf485a44b133.png)

But then if I press record it just creates a single image in the output folder instead of recording a video:
![img-000](https://user-

[2022-10-28 14:18] tischi opened #901 "Loading of multiple channels in StitchedImage"
The multi-threading is currently implemented such that if

1. one opens the nuclei channel
2. zooms out to trigger loading of all nuclei
3. selects the serum channel
4. it will only start loading the serum channel once all nuclei are loaded

I think this is not ideal.

I think I should look into whether I can insert the newly requested images somewhere higher in the loading queue. Maybe there is s

[2022-10-28 14:25] tischi commented on #886
True...

@tpietzsch how much work would it be to modify the record movie dialog such that it records one moving around, i.e. manually changing the viewer transform a.s.o., in BDV? I guess, for some time, it would need to record the currently rendered display at some frame rate.

[2022-10-28 14:30] tischi commented on #858
Uploaded `3.0.1`

[2022-11-01 10:33] vzinche opened #887 "Loading columns for a subset of ids breaks continuous coloring"
I suspect you changed something about the way missing values in columns are treated.

I load a csv for a subset of label_ids. Before missing values were filled in with some defaults (Nones? NaNs?), now there are just blank spaces. Categorical coloring (glasbey) still works for such columns, but continuous (BluwWhiteRed and viridis) throws an error that irreversibly freezes the BDV:

![Screenshot f

[2022-11-01 10:47] vzinche opened #888 "Discussion: Why is loading columns with duplicate names not allowed?"
Previously loading custom columns with names already existing in the table would just rewrite the existing columns, now it throws an error. I personally found the previous version much more useful, since I often need to regenerate the same table, and opening a new mobie every time is annoying. How about just throwing a warning like "Columns X, Y, Z have been rewritten"?

[2022-11-01 17:28] constantinpape commented on #888
I agree, that makes sense.

(I think we discussed this a few days ago @tischi and decided to throw an error, but I think @vzinche makes a good point here that we should instead over-write and throw an error.)

[2022-11-02 07:34] vzinche opened #889 "Opinion: reversing y-axis in Plot doesn't make sense"
I believe this was done because the y axis of the Platy EM volume is mirrored? In any case, in practice I don't think anybody is plotting x-y coordinates, but scaling y axis by -1 every time for plotting custom stuff is not practical

[2022-11-02 08:07] constantinpape commented on #889
I am not quite sure what you mean by this, could you explain more or post an example screenshot that shows this?

[2022-11-02 08:32] constantinpape opened #890 "Loading segmentation table in merged grid fails"
Loading a segmentation table in a merged grid fails now (it used to work a couple releases earlier!). See the error message below.

To reproduce:
- Open the https://github.com/mobie/htm-test project
- Activate `segmentation-cells`

(I also tried this with a couple of other projects that have segmentations in merged grids and get the same error in all of them.)

[code]

[2022-11-02 08:44] constantinpape commented on #890
@tischi: did this maybe stop working when you improved the loading for merged grids? (Which works much smoother now!)

[2022-11-02 09:41] vzinche commented on #889
When creating a plot, Mobie automatically scales y by -1.
The easiest way to reproduce it: try plotting a column against itself. For example, n_pixels against n_pixels generates this:

![Screenshot from 2022-11-02 10-39-27](https://user-images.githubusercontent.com/32451366/199456299-d8d0c5e8-1bc7-47a1-a5ba-e42cf06f66a4.png)

[2022-11-02 09:42] vzinche commented on #889
I believe @tischi should know more about it

[2022-11-02 20:19] tischi opened #891 "AddAnnotations and AddAnnotation in TableModel"
Currently there is this code:

[code]

Somehow it feels inefficient to have both methods.
It would be good to have another look at this and maybe remove one of them.

[2022-11-02 20:24] tischi commented on #890
Should be fixed in `3.0.2-SNAPSHOT`.

[2022-11-02 20:25] tischi commented on #890
But I could not find `segmentation-cells`, only `simple-grid`...

[2022-11-02 20:30] tischi commented on #889
Hm, I think that may be just because the coordinate system of BDV (like any other image viewer) has `(0,0)` at the top left and then x increase to the right and y increase to the bottom.

So, I guess how mimic a "normal" scatter-plot I would need to multiply the y-axis with `-1`.
This would then look better but the numbers would not match anymore the coordinates shown by BDV in the top right.

Doe

[2022-11-02 20:41] tischi commented on #888
OK, I can implement this. Would it be possible to have a view in some project for me to test this?

[2022-11-02 20:52] tischi opened #892 "Focussing on sites yields out of focus"
`https://github.com/mobie/htm-test`, branch: `main`, view:`simple-grid`

Clicking `[F]` on the `sites` in a weird way makes the other images disappear for me.

For the `wells` and the other sources it is fine though.

@constantinpape can you reproduce this? Does this also happen in other projects?

[2022-11-02 21:02] constantinpape commented on #890
`segmentation-cells` is available in the default view already, see the only active source in this screenshot.

![image](https://user-images.githubusercontent.com/4263537/199601803-42418ba2-8244-466e-acac-6810fbe5a742.png)

Have you uploaded that one already? Because the error is still there for me.

[2022-11-03 07:57] vzinche commented on #889
Thanks, it is clear now. I would probably still prefer to reverse y to mimic a normal scatter plot, since when people are plotting some quantitative characteristics (e.g. cell size), they would intuitively expect the increase to go upwards, not downwards

[2022-11-03 09:47] tischi commented on #889
- [ ] Try inverting the y-axis by means of the viewer transform

[2022-11-03 14:14] tischi commented on #888
Maybe @constantinpape could help?
Otherwise if you share a table with me and tell me how to exactly reproduce your issue that would work as well!

[2022-11-03 15:28] vzinche commented on #888
I think this minimal example should be enough (had to zip it just to be able to drop it here).
[test_dupl_col.zip](https://github.com/mobie/mobie-viewer-fiji/files/9930584/test_dupl_col.zip)

To reproduce:

- Open PlatyBrowser
- View sbem-segmentation -> cells
- Table -> Load columns -> Load from FileSystem
- Select the tsv that I uploaded here

[2022-11-03 16:33] tischi commented on #858
Uploaded `3.0.2-SNAPSHOT`

[2022-11-03 16:51] constantinpape commented on #890
It's fixed now, thanks!

[2022-11-03 16:51] #890 closed

[2022-11-03 16:59] constantinpape opened #893 "Moving to segments in table in grid view only works for leftmost image"
Moving to segments in a table in a (merged) grid only works for the leftmost image, for all other images it will move to the leftmost image instead of the correct position in the current image.
To reproduce: `covid-if-project`->default->cell_segmentation

It works in the leftmost image:

https://user-images.githubusercontent.com/4263537/199785967-67d51f50-9b78-4e1c-aa5d-a0aa91c0065d.mp4

But fails

[2022-11-03 17:06] constantinpape commented on #893
Ok, I don't really know what's going on, for another project (`htm-test`->`nucleus-segmentation`) it doesn't work for the leftmost image either and the table navigation is completely off:

https://user-images.githubusercontent.com/4263537/199787907-8e91d2e4-4aa9-473a-b74f-61aa4b084d40.mp4

[2022-11-03 18:35] tischi commented on #893
OK... the selection seems to work properly.
Then this means that the transformations are not properly applied to the tables.
What is funny is that they are not completely off, but stay within the well...that's the case right?

[2022-11-04 08:16] constantinpape commented on #893
Yep, It works. I was just confused there because of the random navigation.

Yep.

Looks like it here. But I am not quite sure if it's just a coincidence or if it means that the transformations are applied correctly at the well level, but not at the site level.

[2022-11-04 16:22] will-moore opened #894 "OME NGFF scale with floating-point values"
In a couple of sample OME-NGFF images:  https://minio-dev.openmicroscopy.org/idr/v0.4/idr0077/9836832_z_dtype_fix.zarr and https://uk1s3.embassy.ebi.ac.uk/idr/zarr/v0.4/idr0044A/4007801.zarr, the scalebar is shown in microns.

![Screenshot 2022-11-04 at 15 59 20](https://user-images.githubusercontent.com/900055/200024421-ca87fd29-5805-4af1-9a60-2416058ba3dd.png)

Both these images have integer sca

[2022-11-07 18:33] tischi commented on #893
I started to have a look but I am a bit lost in terms of how to debug this...

Do you we have a view where we just have one simple merged grid with segmented nuclei, without the well/site nesting?

[2022-11-07 18:41] tischi commented on #893
Note to self:  For some weird reason, during the initialization it is not only transforming the reference source: `segmentation-nuclei-C01_0` but also some random other source, e.g. `segmentation-nuclei-C03_6`. The latter changes every time I run it. This smells like a bug..

[2022-11-07 18:45] constantinpape commented on #893
I will check and go ahead and create one if not.

[2022-11-07 18:51] tischi commented on #893
Note to self: It seems that only the well translations are applied on the table level:

[code]

However, then I would expect that all the position would be in the upper left corner of the well, which is not the case as it moves around more.

@constantinpape are you sure that in this data set the nuclei positions in the tables are in calibrated units and not mistakenly in voxel units? It actually f

[2022-11-07 18:52] tischi commented on #893
Here, I am talking about `"https://github.com/mobie/htm-test"` `"simple-grid"`.

[2022-11-07 18:52] constantinpape commented on #893
Yeah, maybe this is wrong. I will double check as well.

[2022-11-07 18:52] tischi commented on #893
Thanks!
Two simultaneous bugs leading to confusing behavior ;-)
I am off for today....

[2022-11-07 18:54] constantinpape commented on #893
Yes, that might be the case.

I will check / create the new view by tomorrow.

[2022-11-07 20:23] constantinpape commented on #893
Hey @tischi,
- you we're right, something was wrong with the coordinates in the tables! I divided by the resolution instead of multiplying... This is fixed now in the `htm-test` repo. (Two other projects are affected by this as well, I will fix this now as well).
- I created the view `single_well`, which contains the nuclei and nucleus segmentation for a single well with a single grid transform.

[2022-11-07 20:34] constantinpape commented on #893
Actually the other projects I thought would be affected were not (one of them had a pixel size of 1, and for the other, `covid-if`, I used some custom code that did not have the bug.)
I am just mentioning this because it also explains why we've seen inconsistent behavior between the `htm-test` project and `covid-if` when trying to debug this.

[2022-11-08 05:30] tischi commented on #893
thanks for fixing the anchor points.

maybe you had some "typos", but for me it is rather: for _all_ wells in the `default` view the `sites` transformations are not applied, thus one always stays in the top left `site`.

[2022-11-08 05:53] tischi commented on #893
Should be fixed with `3.0.3-SNAPSHOT`.

[2022-11-08 05:57] tischi commented on #858
Uploaded `3.0.3-SNAPSHOT`

[2022-11-08 08:25] constantinpape commented on #893
Thanks, it's fixed now.

[2022-11-08 08:25] #893 closed

[2022-11-08 08:26] constantinpape commented on #892
This is fixed now too.

[2022-11-08 08:26] #892 closed

[2022-11-08 20:27] constantinpape commented on #818
We now have `regions` as a source, which holds the table for the regionDisplay. I think this is the most consistent solution within the spec, so I will go ahead and close this for now, But feel free to reopen.

[2022-11-08 20:27] #818 closed

[2022-11-09 14:11] #862 closed

[2022-11-09 14:11] #878 closed

[2022-11-09 14:11] #881 closed

[2022-11-09 15:17] tischi opened #895 "Show raw images: slices labels for 2D images "1""
The image names should be the names of the sources.

[2022-11-09 17:33] #888 closed

[2022-11-09 17:33] tischi commented on #888
I think I fixed it:

<img width="557" alt="image" src="https://user-images.githubusercontent.com/2157566/200900323-b8fe85bc-f306-4339-b137-ba8b9cc75ac2.png">

This will be part of release `3.0.5`.

[2022-11-10 05:52] tischi commented on #870
Created a branch to work on this: https://github.com/mobie/mobie-viewer-fiji/tree/less_labels

[2022-11-10 10:15] tischi opened #896 "Region rendering slow for boundaries"
Reproduce:

- `MoBIE( "https://github.com/mobie/mouse-embryo-spatial-transcriptomics-project", MoBIESettings.settings().view( "stitched-view" )`
- Render `positions` as boundaries with a thickness of `2`

Zooming in and out is much smoother when _not_ rendering the regions as boundaries.

@constantinpape can you confirm this?

[2022-11-10 10:16] constantinpape commented on #896
Yes, I have already noticed this.

[2022-11-10 10:20] tischi commented on #896
How is it for
- the HTM project?
- the platy segmentation?

(I can also test myself later)

[2022-11-10 10:26] constantinpape commented on #896
Sorry, I haven't done any systematic tests on this either. I just noticed it recently for the stitched view here as well. Best if you check this later yourself.

[2022-11-10 10:51] K-Meech opened #898 "mobie-paper bookmark doesn't open"
The 'Figure1a' bookmark in the 'mobie-paper' group of the platy project no longer opens. It errors with the message below:

[code]

[2022-11-10 11:02] tischi commented on #898
Will work in `3.0.5`.

[code]

[2022-11-10 11:47] tischi commented on #870
Merged into `develop`.

[2022-11-10 11:47] tischi commented on #870
Will be fixed with `3.0.5`

[2022-11-10 11:49] tischi commented on #896
- Platy-cells: no issue
- HTM: same issue
- Spatial-oimcs spots: no issue

This suggests that this is specific to `regions`.

[2022-11-10 12:17] tischi commented on #896
In fact it also does not really work:

<img width="285" alt="image" src="https://user-images.githubusercontent.com/2157566/201089474-1b9aaea8-677f-42a1-9b2a-f6ab1d09c707.png">

Missing boundaries.

[2022-11-10 12:18] tischi commented on #896
Only if one waits long enough for the highest resolution. I think we had an issue about this already.

[2022-11-10 12:19] tischi commented on #896
Most time seems to be spend here:

<img width="698" alt="image" src="https://user-images.githubusercontent.com/2157566/201089921-5866b25a-53e4-4e97-af3e-b3675e75ee2f.png">

[2022-11-10 12:28] tischi commented on #896
I added a FIXME into `TableSawAnnotatedRegion`:

[code]

[2022-11-10 12:49] tischi commented on #896
should be fixed with `3.0.5`

[2022-11-10 12:49] #896 closed

[2022-11-10 12:50] tischi opened #899 "Listen to image location changes"
With the current changes `TableSawAnnotatedRegion` would not notice if the annotated images have changed their location due to a transformation.

I think I could add some `TransformationChanged` listening  mechanism for this.

[2022-11-10 12:52] tischi opened #900 "BoundarySource creation"
The region boundary rendering does not work properly at lower resolution levels.

I think the reason is that I currently look for the boundaries in voxel space, which does not make sense for the regions.

Could I do the boundary rendering always in real space?

[2022-11-10 14:27] tischi commented on #899
ships with `3.0.5`

[2022-11-10 15:06] tischi commented on #886
There is a suggestion for how to do this: https://imagesc.zulipchat.com/#narrow/stream/327326-BigDataViewer/topic/Record.20Movie.20while.20browsing
But this will be a bit of work.

[2022-11-10 15:34] tischi commented on #895
This is only for 2D images. Not sure how to change it.
Tried: `IJ.run( imagePlus, "Remove Slice Labels", "");`
But does not work....
Closing this because not important.

[2022-11-10 15:34] #895 closed

[2022-11-10 15:37] tischi commented on #866
Tree building is fast now. Issue was that we had the same number in one dimension, often.
We fixed this by adding noise.
Tobias is looking into a proper solution.
See here: https://imagesc.zulipchat.com/#narrow/stream/327240-ImgLib2/topic/kdTree.20issue

[2022-11-10 15:37] #866 closed

[2022-11-10 15:51] tischi commented on #826
test data: `emcf/Hamburg_XRay/20220522/mobie_demo`

[2022-11-11 19:59] tischi commented on #901
Ships with `3.0.5`.

@constantinpape you will have to check this out! For my taste, it loads now the sites in a very intuitive order, e.g. when you zoom in it stops loading sites outside the current view and, e.g., when you add a new channel it starts loading this immediately.

[2022-11-12 07:25] tischi commented on #858
Uploaded `3.0.5-SNAPSHOT` to MoBIE-beta, containing all the fixes announced for `3.0.5`.
If you can confirm any of those fixes, please close the corresponding issues.

[2022-11-13 08:55] constantinpape commented on #898
I checked and it works now in the 3.0.5 beta release.

[2022-11-13 08:55] #898 closed

[2022-11-13 09:02] constantinpape commented on #901
Yes, I think the loading behavior is better now in the 3.0.5 beta release.
I will leave this open in case you want to still improve things, but this can also be closed from my end.

[2022-11-13 09:03] constantinpape commented on #858
I have checked the following issues and they are fixed/improved on MoBIE beta:
- #898
- #901

[2022-11-13 15:54] K-Meech opened #902 "Screenshot sampling units"
At the moment, the screenshot 'sampling' line gives no units, and no indication of the final image size:
![screenshot_ui](https://user-images.githubusercontent.com/24316371/201530911-6a035155-d652-4a05-8d47-a197fa91fc75.png)

Would it be possible to add this? In the old version of this window, both of these were present which made it a bit easier to use: https://github.com/mobie/mobie-viewer-fiji/

[2022-11-13 21:29] constantinpape commented on #887
@vzinche can you please provide a minimal reproducible example for this bug?

[2022-11-13 21:34] constantinpape opened #903 "Color by column: blueWhiteRed not working"
For the covid if project ColorByColumn: blueWhiteRed does not work in some cases and throws a long error message (see part of the error at the end of the issue).

To reproduce:
- Open the project from https://github.com/mobie/covid-if-project
- Select the view `full_grid`
- In the `wells` table:
    - `Color By Column` -> `Column: score`, `Coloring: blueWhiteRed`

Tested with latest release on MoB

[2022-11-14 08:05] tischi commented on #902
OK, I will have a look.
It was a problem adding it to the text, because then the UI would hang...

[2022-11-14 08:16] tischi commented on #903
Should be fixed with `3.0.5`.

[2022-11-14 08:17] tischi commented on #887
I don't think we need an example, pretty sure this will be fixed with `3.0.5`.

[2022-11-14 08:26] tischi commented on #902
I managed to do it like this:

<img width="449" alt="image" src="https://user-images.githubusercontent.com/2157566/201610928-b727cc16-27c0-46d2-8104-edc13fd8f79a.png">

Currently, there is only one choice for the units, namely the global project units. We could allow more choices at some point, but I think this is still better than not showing the units at all.

[2022-11-14 08:26] tischi commented on #902
ships with `3.0.5`

[2022-11-14 08:40] tischi commented on #687
made branch `issue687` to work on this.

[2022-11-14 10:31] K-Meech commented on #902
Thanks @tischi ! Looks good to me.
I can update the screenshot of this menu in the docs once it's on the main MoBIE update site :)

[2022-11-14 19:05] #903 closed

[2022-11-14 19:59] tischi commented on #687
I think the general issue is the down-sampling padding.

Let's say we have images with 5 voxels; if we down-sample by two we have 3 voxels (if we do not want to loose information).

Example: Stitching of three images:

level 0: 5    +  5   +  5  (= 15)
level 1:  2*3 + 2*3 + 2*3 (= 18)  (3 voxels and 2 times up-sampling)

The tricky thing is that while for the first image everything renders correct

[2022-11-15 08:08] tischi commented on #858
`3.0.5` is now on main update site.

[2022-11-15 08:09] #826 closed

[2022-11-15 08:09] #899 closed

[2022-11-15 08:09] #901 closed

[2022-11-15 08:09] #902 closed

[2022-11-15 13:46] vzinche opened #904 "Screenshot doesn't work with segmentation"
I am able to make screenshots from raw data, but once I load segmentation it doesn't work anymore.
Steps to reproduce:
- Open PlatyBrowser
- sbem-segmentation -> cells -> view
- Take a screenshot

Somehow nothing happens afterwards

[2022-11-15 14:15] constantinpape commented on #687
I think what you write makes sense @tischi. Since we will have downsamplings by factors of two in almost all cases, can we fix it by choosing margins / paddings that are a factor of 2?

[2022-11-15 15:56] tischi commented on #904
Thank you for spotting this. This is a little bit of a bigger issue since the way I internally represent segmentation images changes significantly. I will work on it.

[2022-11-15 16:56] tischi commented on #904
Should be fixed with `3.0.6`.

[2022-11-15 16:58] tischi opened #905 "Screenshot does not work for floating point images or Long label mask"
Currently the screenshot is rendered as unit16.

We need to make this more flexible for data types that cannot be represented as such.

For example:

- floating point images
- label masks with more than unit16 labels

Issue is that ImageJ is limited here to unit8, unit16 or float.

[2022-11-16 11:53] K-Meech opened #907 "Saving selection colour / opacity to views"
Currently, the 'selected labels coloring', 'selection color' and 'opacity of non-selected labels' (from settings menu below) are not saved into views. This would be nice to add (but it's not an urgent fix)

![configureLabelRendering](https://user-images.githubusercontent.com/24316371/202173309-f2c61a54-f8e3-4ec1-b1b2-3a4d6e9fcfb2.png)

[2022-11-16 13:27] constantinpape commented on #907
Good point @K-Meech. I guess we should add those to the spec so that they can be serialized within views (and should add to `segmentationDisplay`, `regionDisplay` and `spotDisplay`).

I am not quite sure what the meaning of `Selection color` and `Selection labels coloring` is though. Could you explain what these do, @tischi or @K-Meech?

[2022-11-16 13:35] tischi commented on #687
Should be fixed in `3.0.6`.

[2022-11-16 14:24] K-Meech commented on #907
```Selection labels colouring``` lets you choose between 'Keep current color' (i.e. use whatever the current colour scheme is for selected labels) and 'Use below selection color' (i.e. use the ```Selection color``` for all selected labels). This is really useful for making figures where you want to highlight specific cells in a bright colour!

[2022-11-16 14:35] constantinpape commented on #907
Ok, I see.

@tischi: can you make a suggestion for how we map the three things to the spec? I can then update the view jsonschema accordingly.

[2022-11-16 15:57] tischi commented on #905
@martinschorb @constantinpape what about just always showing the raw pixel values in a screenhot as `float`? That would be the easiest and I am not sure this functionality is used a lot anyway, probably most people just want the RGB screenshot?!

[2022-11-16 16:01] martinschorb commented on #905
As long as ImageJ can display it, I think that's fine. Then the user would do contrast adjustments and exporting from there.

[2022-11-16 16:13] tischi commented on #907
Good idea!

Currently in my code the variables and default values are:

[code]

The `Selection labels colouring` is implicitly covered in that if `selectionColor == null`  the selected objects will keep their color.

For serializing the `selectionColor`, we could  reuse something that we did for the tables:
I think this was: `alpha-r-g-b` with `unit8` for each entry, so e.g., `255-255-0-0` for red

[2022-11-16 19:15] tischi opened #908 "Opening a new view does not give a initial log"
When choosing a larger new view, e.g. full_grid in covid-if, the log window does not show anything.
It seems that the print statements are only executed once everything is loaded, which is not helpful.
I have seem similar behavior before. Somehow the print statements are not executed. Maybe putting them into an extra thread can help.

(This is on my mac, could be different on other OS)

[2022-11-16 19:47] constantinpape commented on #905
Sounds good to me.

[2022-11-16 20:06] constantinpape commented on #907
@tischi: the names are fine.

I have added support for this in the spec here: https://github.com/mobie/mobie.github.io/commit/d4a23f3af22ff45dfc484379978891052ce3646e

You can go ahead and serialize it to the json with the views :).