[2019-03-22 12:33] tischi opened #1 "Improve overlay selection dropdown"
@constantinpape

Currently there are some issues and inconveniences when selecting new overlays from the dropdown menu:

Whem you jump to some letter (like e for EM ;)), the first name of this letter is immediately selected and added to the viewer. It would be more convenient if it is not added immediately.
When scrolling up / down in the dropdown via key up / key down the names are immediately se

[2019-03-22 14:35] tischi opened #2 "add scale bar"

[2019-03-22 14:36] tischi opened #3 "export current view (aka screenshot)"

[2019-03-22 14:38] tischi commented on #3
use same of pixels as current bdv

[2019-04-07 15:05] constantinpape opened #4 "Select active label source"
In order to deal with multiple segmentations / label sources in the platy browser,
it would be very helpful to enable selecting the active label source.

For the active label source, one can highlight selected cells and use the 3d view etc.

What we would need to figure out is how this relates to the attribute tables;
probably we would need to specify which table is connected to which label source

[2019-04-09 07:15] tischi commented on #1
done

[2019-04-09 07:15] #1 closed

[2019-04-09 07:18] tischi commented on #4
Could make one folder where for each label image there is exactly one table?
Would be nice if all of them contained at least the centre-of-mass object coordinates.
Other versions of the tables could be in a different folder.

[2019-04-09 11:32] vzinche opened #5 "Browser crashes while loading"
![crash](https://user-images.githubusercontent.com/32451366/55797091-d6cb0100-5acb-11e9-968b-edf18de368e4.png)

[2019-04-09 15:39] constantinpape commented on #4
Yes, that would be an easy solution.

Yes. We might need to generalize this a bit though. E.g. for skeletons the actual COM will not make much sense and we would instead need "the most central point". Or maybe a terminal point.

[2019-04-10 09:13] #5 closed

[2019-04-10 09:17] tischi commented on #4
Very good point!

What about, e.g., `anchor_x`,`anchor_y`,`anchor_z` for the coordinates that will be moved to when the user clicks on a row in the table?

I would use `anchor` instead of `central`, because, e.g., for neuron tracing tracks you may want to move to the start rather than the center.

[2019-04-10 09:20] constantinpape commented on #4
Yes, I think `anchor` is a good choice.

[2019-04-10 10:04] tischi commented on #4
ok! could you do all of this for two of our segments such that I have something to play with?

[2019-04-10 12:11] constantinpape commented on #4
Yes, will let you know when it's there.

[2019-04-10 14:40] constantinpape commented on #4
I made a new sub-folder called `tables`. In there, you can find the tables for the latest cell segmentation and nucleus segmentation (same filenames just .h5 / .xml replaced with .csv).
The tables contain the following columns:
[code]
The `bb` columns contain the bounding box coordinates (I thought that might be useful as well, because you need this for the 3d rendering).

[2019-04-10 15:44] tischi commented on #4
Great! I will work on it during the next days...

[2019-04-11 15:24] tischi commented on #4
I am making good progress!

Can you maybe move the non-unit16 versions out of the main folder (or delete them).

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/2157566/55969712-92cc2d80-5c7e-11e9-96c2-f20b15915380.png">

[2019-04-11 19:14] constantinpape commented on #4
Looks great.

I will check with everyone who might be needing this and then remove it.

[2019-04-12 05:48] tischi commented on #4
...and I don't know how much work it is, but could you (for the cells) choose as the anchor pixel a pixel that actually occurs within the objects (rather than the com, which can be sometimes outside the object)?

[2019-04-12 06:50] constantinpape commented on #4
I can do this eventually by computing (eccentricity centers)[https://ukoethe.github.io/vigra/doc-release/vigranumpy/index.html#vigra.filters.eccentricityCenters] on a downscaled version of the segmentation.
But only for the final segmentation, because this will take quite  a while.

[2019-04-12 08:38] tischi opened #6 "3D view of cell AND nucleus"
@constantinpape

I just got very excited because I found that the 3DViewer API allows having multiple objects with different transparency. So, if both nucleus and cell label masks are active we can probably, upon `ctrl+shift+click` show both the cell and the nucleus in one 3D viewer window, and even make the cell a bit more transparent such that one can see the nucleus inside. Isn't that amaaaaazi

[2019-04-12 08:40] constantinpape commented on #6
Yes, that would be amazing!
We could also use this for other structures; e.g. cilia which I am segmenting right now.

[2019-04-13 11:33] tischi commented on #6
I am working on making the whole 3D View aspect more professional and

1. I feel it would be good to precompute the meshes (i.e. a list of some coordinates on the surface).
1. Maybe the simplest (to start with) would be if those meshes were a column in the table text file, maybe just a space separated list of voxel coordinates: `2 2 2 3 4 5 3 2 4 9 10 12` with the meaning `x0 y0 z0 x1 y1 z1 x2 y2

[2019-04-13 12:38] constantinpape commented on #6
Yes, that sounds like a good idea if you want to improve performance.

For performance / efficient storage it might also help to serialize a (compressed) byte stream instead of the table version.

[2019-04-15 05:34] tischi opened #7 "move to view"
* [x] Record view upon clicking P
* [x] Move to position or view

[2019-04-15 05:35] tischi opened #8 "window positions"
It is kind of annoying that all windows appear at (0,0) screen coordinates. Maybe we could remember the user config in the ImageJ.Prefs().

[2019-04-15 05:35] tischi opened #9 "add licence"

[2019-04-15 05:35] tischi opened #10 "add citation"

[2019-04-15 05:36] tischi opened #11 "test bigdataserver"

[2019-04-15 06:11] tischi opened #12 "implement proper logger"

[2019-04-15 06:12] tischi commented on #12
ask fjug for advise...

[2019-04-15 06:13] tischi opened #13 "clean up package structure"
discuss with @constantinpape ...

[2019-04-15 06:14] tischi commented on #2
done.

[2019-04-15 06:14] #2 closed

[2019-04-15 10:26] constantinpape commented on #9
I would argue for MIT.

[2019-04-15 12:50] tischi commented on #6
progress:

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/2157566/56133906-c3b5a680-5f8d-11e9-9bf4-bb53fcd2acf6.png">

[2019-04-15 14:13] fjug commented on #12
Please do! :)
@maarzt is the real person to ask though... he implemented most of the new amazingness wrt. logging in Fiji.

[2019-04-15 14:59] tischi opened #14 "Implement Settings Menu"
* [x] 3d View Voxel Spacing
* [x] Gene Search Radius
* [x] Mesh smoothing iterations

[2019-04-15 15:07] vzinche opened #15 "Add color by label"
Color by column option supports only numbers. Previously it was possible to color the segmented cells by some label (e.g., the Cellular Model), that is a string. Can you please add this functionality to a new table?

[2019-04-15 15:14] vzinche opened #16 "Increase the type-in window size in Color by column Min/Max"
![Screenshot from 2019-04-15 15-18-51](https://user-images.githubusercontent.com/32451366/56144021-e6ea5100-5fa1-11e9-83cf-409f1c8c8eec.png)

[2019-04-15 16:45] tischi commented on #6
Testimonials :-)
F******uck!!!!! XD
OMFG!
Amazing!!!

[2019-04-15 19:09] tischi opened #17 "synch view of bdv and 3d viewer"
It would be nice if one could synchronize the views (angle, translation and zoom) of bdv and 3d image viewer. I guess one would need an external `SceneViewModel` that holds the current 2D or 3D view on the data and that could be used for communication.

[2019-04-15 19:10] #14 closed

[2019-04-15 19:11] #7 closed

[2019-04-16 08:06] tischi commented on #16
I uploaded a new version to Fiji.
Could you check whether it is better now?

[2019-04-16 08:07] tischi commented on #15
Also here, the new version should fix this.
Could you please test it?

[2019-04-16 08:27] tischi opened #18 "coloring model keyboard shortcuts"
The coloring model keyboard shortcuts should also be available when the table is the active window. Currently they only work within the Bdv window.

[2019-04-16 08:33] tischi opened #19 "3d view settings"
Move 3d settings menu item to the table menu.
Currently it is in the PlatyBrowser menu.

[2019-04-16 09:27] vzinche commented on #15
Yes, works, thanks!
On Tue, Apr 16, 2019 at 10:07, tischi  wrote: Also here, the new version should fix this.
 Could you please test it?
 —
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub (https://github.com/embl-cba/fiji-plugin-platyBrowser/issues/15#issuecomment-483556212), or mute the thread (https://github.com/notifications/unsubscribe-au

[2019-04-16 09:27] vzinche commented on #16
Works as well!
On Tue, Apr 16, 2019 at 10:06, tischi  wrote: I uploaded a new version to Fiji.
 Could you check whether it is better now?
 —
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub (https://github.com/embl-cba/fiji-plugin-platyBrowser/issues/16#issuecomment-483556030), or mute the thread (https://github.com/notifications/unsubscribe-a

[2019-04-16 13:57] #16 closed

[2019-04-16 13:58] #15 closed

[2019-04-18 07:21] tischi opened #20 "LUT: 0->Black BWR"
@vzinche
I thought of creating a new LUT, in which plain zeros are black, i.e. are not shown at all.
I thought this should be useful for the MEDs coloring, because all those blue cells are visually very distracting. What do you think?

[2019-04-18 13:10] vzinche commented on #20
Hmm, I guess I wouldn't agree, because it's easier to spot a red cell on a blue background, rather than in the raw em data.

I don't know, maybe we can ask other guys during the PlatyMeeting
On Thu, Apr 18, 2019 at 14:37, tischi  wrote: @vzinche (https://github.com/vzinche)
 I thought of creating a new LUT, in which plain zeros are black, i.e. are not shown at all.
 I thought this should be useful

[2019-04-18 13:23] tischi commented on #20
But my point is that it is now very hard to identify cells with low expression, because they are blue islands in a vast blue ocean of non expressing ones....

[2019-04-18 14:40] vzinche commented on #20
Okay, a valid point. In this case it's better to have both schemes to choose from!
On Thu, Apr 18, 2019 at 15:23, tischi  wrote: But my point is that it is now very hard to identify cells with low expression, because they are blue islands in a vast blue ocean of non expressing ones....
 —
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub (https://gi

[2019-04-24 16:05] tischi opened #21 "too many files"
@constantinpape
Could you guys clean up a bit?
<img width="333" alt="image" src="https://user-images.githubusercontent.com/2157566/56675030-7935d780-66bb-11e9-933b-dec08f98d814.png">
:-)

[2019-05-07 14:51] vzinche opened #22 "Please remove the appearance of 3D object just on click"
It is incredibly annoying when I just want to go through the table, especially when it gives you the warning that the cell is too big to be displayed.
Additionally, when a couple of cells are already selected, and you select a new one, it apparently gives you the warning message for ALL of them one by one :D
Please see the gif attached (watch as gif) :)
![annoying](https://user-images.githubuserco

[2019-05-08 07:02] tischi commented on #22
Yes, that is annoying!
Let's discuss your use case today in the meeting!
Maybe a general checkbox in the UI could be good:

* [X] View selected objects in 3D

What do you think?

[2019-05-08 07:12] vzinche commented on #22
Yes, I think a checkbox is a good idea!
On Wed, May 8, 2019 at 09:02, tischi  wrote: Yes, that is annoying!
 Let's discuss your use case today in the meeting!
 Maybe a general checkbox in the UI could be good:
	*  View selected objects in 3D

What do you think?
 —
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub (https://github.com/embl-cba/fi

[2019-05-08 11:34] tischi commented on #22
Done. Please test!
<img width="587" alt="image" src="https://user-images.githubusercontent.com/2157566/57372448-fec68680-7195-11e9-955c-3a2a39cd95c1.png">

[2019-05-08 15:28] tischi commented on #21
Thanks a lot!
I am sorry for being so pedantic about it!
The remaining one is from me :-) I will remove it!

[2019-05-08 15:29] tischi commented on #21
Thanks a lot!!!

[2019-05-08 22:33] constantinpape opened #23 "Tracking updates of segmentations"
We'll soon have somewhat final (in the sense of being the last iteration of the automated segmentation) segmentations for nuclei and cells.
However, we need to allow for changes in this segmentation due to manual corrections.

The corrections will all be expressable in relatively small diffs (either in changes in the assignments of the underlying superpixels or small pixel-wise differences if supe

[2019-05-08 22:36] constantinpape commented on #21
Sure ;).
Let's close this issue for now?

I have opened #23 to collect ideas on how to deal with changes in the segmentation(s) due to manual proof-reading, which we started to discuss in the meeting today.

[2019-05-09 08:47] #21 closed

[2019-05-09 13:10] tischi opened #24 "Access to folders with old files"
@constantinpape

Could you please give people write access to those folders?

[code]

I need to move some stuff there...

Thanks!

[2019-05-09 13:16] constantinpape commented on #24
Please check now, should be done.

[2019-05-09 16:14] tischi commented on #24
yes. thanks!

The only thing left now seem to be to rename those guys:

[code]

Could you still do it? And once you have the final segmentation you could move them into the `old_segmentations` folder. Maybe into a sub-folder with a date or something such that we do not need to change the filenames again, which is a bit annoying because of the internal reference in the xml.

[2019-05-10 08:23] K-Meech opened #25 "Viewing specific categorical variable"
A suggestion: would it be possible to view just a specific variable in a categorical column? e.g. for my clustering results, just see cells == 'Cluster3'. When the number of clusters becomes very large it can be difficult to keep track of them if they're all coloured at once in the main viewer.

[2019-05-10 11:16] constantinpape commented on #24
I gave you write permissions for these files.
From my side you can rename them however you like, but I don't know if and how @K-Meech
or @vzinche are using them.

[2019-05-10 11:34] vzinche commented on #24
Hey!
I am fine with renaming it now
On Fri, May 10, 2019 at 13:16, Constantin Pape  wrote: I gave you write permissions for these files.
 From my side you can rename them however you like, but I don't know if and how @K-Meech (https://github.com/K-Meech)
 or @vzinche (https://github.com/vzinche) are using them.
 —
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2019-05-10 14:06] tischi commented on #24
login 15% mv em-segmented-cells-labels-new-uint16.h5 em-segmented-cells-labels.h5
login 16% mv em-segmented-cells-labels-new-uint16.xml em-segmented-cells-labels.xml

[2019-05-24 09:30] vzinche opened #26 "Bug: vc-labels not loading"
File name: /g/arendt/EM_6dpf_segmentation/EM-Prospr/em-segmented-cellular-models-labels.h5
dtype: int16
Error message: attached
![Screenshot from 2019-05-24 11-29-13](https://user-images.githubusercontent.com/32451366/58317990-392b5700-7e17-11e9-96ee-2ef41dd0962a.png)

[2019-05-24 09:31] vzinche commented on #26
Btw, when I try to remove the file from the browser (clicking 'X') everything just gets stalled :)

[2019-05-24 11:40] vzinche opened #27 "CRASH: browser crashes while loading"
Browser crashes both while choosing the local and remote storage of data (attached
![local](https://user-images.githubusercontent.com/32451366/58325177-45201480-7e29-11e9-844b-91c6e4b43799.png)
![remote](https://user-images.githubusercontent.com/32451366/58325243-6b45b480-7e29-11e9-8f3e-d54bbdd600fa.png)

)

[2019-05-24 11:41] vzinche opened #28 "Add_feature: support multiple tables"
I have left only the minimal table data in the table file (/g/arendt/EM_6dpf_segmentation/EM-Prospr/tables/em-segmented-cells-20190520-labels.csv)

The genes were moves into /g/arendt/EM_6dpf_segmentation/EM-Prospr/tables/em-segmented-cells-20190520-labels_genes.csv

[2019-05-24 12:12] tischi commented on #27
I'll fix it later today. Have to go to a meeting now...

[2019-05-25 14:39] tischi commented on #27
Could you update and try again?

[2019-05-26 07:50] vzinche commented on #27
The local works now, the remote still doesn't

[2019-06-03 14:14] vzinche opened #29 "Bug, not urgent: segmentation labels can't be turned off from main window"
When you load a segmentation into the Browser, previously you could uncheck the box next to the name (see pic attached) in the main window, and the labeling would not be displayed. Now it still works for normal files, but not for the ones with the corresponding table (segmented cells or nuclei.
![Screenshot from 2019-06-03 16-07-19](https://user-images.githubusercontent.com/32451366/58808536-7e6f3

[2019-06-07 12:09] constantinpape commented on #23
Closing this in favor of issues in
https://git.embl.de/tischer/platy-browser-tables

[2019-06-07 12:09] #23 closed

[2019-06-07 12:14] constantinpape opened #30 "Bookmark functionality"
It would be very helpful to add functionality for persistent bookmarks.
The base functionality seems to be already there (`Move to` -> `Left eye`),
but it would be very helpful to expose creating new bookmarks to users.

There is already some bookmark functionality described in the Help window
(`Shift B`, `B`, `O`), but I couldn't figure out how to make this work / if it still works.

[2019-06-17 09:26] tischi commented on #30
We could do this and store them automatically in the ImageJ Prefs file. However, whenever a user has to reinstall Fiji that is likely lost. Do you have a suggestion where the store them in an even more persistent way?

[2019-06-17 09:38] constantinpape commented on #30
Yes, we could store them in the platy folder. I am working on the new file structure anyways, and this would fit well in `misc/`.

I would just store them as `bookmarks.json` with content
[code]

[2019-06-17 10:13] tischi commented on #30
And for external (non-EMBL) people?
Or are you thinking just about us for the moment?

[2019-06-17 10:41] constantinpape commented on #30
If I understood our plans correctly, we would have the whole folder structure exposed
via a http server, so external people should be able to read it as well.

[2019-06-17 12:28] tischi commented on #30
Nope, the images will be served through [BigDataServer](https://imagej.net/BigDataServer).
And the tables will be served via GitLab:  https://git.embl.de/tischer/platy-browser-tables
We could put the coordinates also in GitLab. Would make sense because then, if people work on a fork, they have write access as well and could add their own coordinates.

[2019-06-17 12:35] constantinpape commented on #30
Yes, but I thought this would have an http server backend. We probably need to discuss the details of this in person.

Yes, this makes a lot of sense. The whole new folder structure will be on gitlab anyways.

Let's conclude that we will find a way to store this via gitlab.
We should discuss the details of this and the new folder structure in general (see [spec](https://git.embl.de/tischer/platy-b

[2019-06-17 12:43] tischi commented on #30
I am at EMBL. But there is a course running this week. A bit crazy.
Do you have time on Friday?

[2019-06-17 12:45] constantinpape commented on #30
Oh ok, I thought you are away already.
Yes, Friday is fine with me any time.

[2019-06-17 12:55] tischi commented on #30
I was away, but back in-between.
Let's say 9:30?

[2019-06-17 13:10] constantinpape commented on #30
Fine with me. I can drop by your office then.

[2019-06-19 07:07] constantinpape commented on #29
@tischi Can I bring this one to your attention again? It's still an issue and makes exploring different
segmentations with the platy browser very inconvenient.

[2019-06-19 07:31] tischi commented on #29
I will fix this today!

[2019-06-19 15:09] #29 closed

[2019-06-19 15:12] tischi commented on #29
Please update and test.

[2019-06-19 16:01] constantinpape commented on #29
Yes, works now.
Thanks!

[2019-06-21 13:44] constantinpape commented on #28
This should be done in accordance with the new table layout, see https://git.embl.de/tischer/platy-browser-tables/tree/dev/data/0.0.0/tables/sbem-6dpf-1-whole-segmented-cells-labels.

[2019-06-21 13:45] constantinpape commented on #30
I added a bookmark example file:
https://git.embl.de/tischer/platy-browser-tables/blob/dev/data/0.0.0/misc/bookmarks.json

[2019-06-21 13:55] constantinpape opened #31 "Adapt platy-browser to new folder structure"
I have refactored the layout of the platy browser data.
Before [merging this into master](https://git.embl.de/tischer/platy-browser-tables/merge_requests/2), the platy browser gui needs to be adapted.

List of necessary changes (what I could think of now, there might be more):
- [x] Parse [file prefixes](https://git.embl.de/tischer/platy-browser-tables/tree/dev#file-naming) for different modalitie

[2019-06-21 13:58] constantinpape commented on #11
I added a python script to generate the bigdataserver file [here](https://git.embl.de/tischer/platy-browser-tables/blob/dev/scripts/files/bdv_server.py) and an example file [here](https://git.embl.de/tischer/platy-browser-tables/blob/dev/data/0.0.0/misc/bdvserver.txt).

[2019-07-10 11:06] constantinpape opened #32 "3d view for arbitrary object sizes"
It would be nice to have the 3d viewer work for arbitrary objects. (Right now it fails if the bounding box is larger than some threshold).

@tischi  Maybe you could just use downscaled versions of the segmentation if the bounding box is to large? In python / pseudocode:

[code]

[2019-07-11 08:06] tischi commented on #32
What about, as an option, I automatically choose the level such that the number of voxels that need to be loaded and rendered is reasonable? That means smaller objects could be rendered at higher resolution and larger objects will be rendered more coarse.

[2019-07-11 08:25] constantinpape commented on #32
Yes, exactly.

That's also what the pseudo-code does ;).

[2019-07-11 09:38] tischi commented on #32
I did it. One can now even see the neuropil!

<img width="732" alt="image" src="https://user-images.githubusercontent.com/2157566/61040173-66849200-a3d0-11e9-9f79-e42656f0db27.png">

But I could not find the chromatin files in the folder....?

[2019-07-11 09:40] constantinpape commented on #32
Very nice!

The chromatin should be there:
`em-segmented-chromatin.xml`
`tables/em-segmented-chromatin.csv`

[2019-07-11 09:44] constantinpape commented on #32
Sorry, forgot the `labels` postfix:
`em-segmented-chromatin-labels`

[2019-07-11 09:44] tischi commented on #32
Are you doing something to the files? I all of a sudden got this, trying to read the full res raw em:

[code]

[2019-07-11 09:47] constantinpape commented on #32
No, I am not doing anything, but my FIJI + Platy browser just died, maybe it's related to the same issue.

[2019-07-11 09:50] constantinpape commented on #32
I started again, and it's working for me again.

[2019-07-11 10:47] constantinpape commented on #31
@tischi you can find the new root folder here:
`/g/kreshuk/data/arendt/platyneris_v1/platy-browser-tables`.
The subfolder `data` contains the folders for individual versions.
Let me know if you have any permission issues.

[2019-07-11 11:19] tischi commented on #31
I am trying but am getting below error for:

`version 0.2.1, file sbem-6dpf-1-whole-raw.xml`

Can you open this?

[code]

[2019-07-11 11:35] tischi commented on #31
Maybe I do not have read access?

[2019-07-11 11:36] tischi commented on #31
```-rw-r--r-- 1 pape kreshuk  1086 Jul 11 09:53 sbem-6dpf-1-whole-raw.xml```
Can you give me also execute rights?

[2019-07-11 11:45] constantinpape commented on #31
can you try again?

[2019-07-11 11:53] constantinpape commented on #31
I think I might now the issue:
`sbem-6dpf-1-whole-raw.xml` points to the file `rawdata/sbem-6dpf-whole-raw.h5`, which
is a soft-link to `/g/arendt/.../em-raw-full-res.h5` (I didn't want to copy the whole 2 TB File).

If you are working on Mac (for example), this link location would not be valid though.
If you want, you can change the link for now.

[2019-07-11 13:02] tischi commented on #31
How to change it?

[code]

Tried to call you...

[2019-07-11 13:54] tischi commented on #31
Ok. Funktioniert alles denke ich.
Wegen mir können wir die Umstellung bald probieren.

[2019-07-11 13:55] constantinpape commented on #31
Wir koennen ja schauen ob wir morgen noch Zeit fuer haben, ansonsten naechste Woche.

[2019-08-20 15:02] constantinpape commented on #31
This is done.

[2019-08-20 15:02] #31 closed

[2019-08-20 15:03] constantinpape commented on #32
This is done.

[2019-08-20 15:03] #32 closed

[2019-08-20 15:06] constantinpape opened #33 "Use master branch of platy-browser-data repository"
The platy-browser is currently set to the dev branch of the [data repository](https://git.embl.de/tischer/platy-browser-tables). This branch was already merged into master and is not up-to-date
anymore, so does not contain the latest data versions.
@tischi please use the master instead.

[2019-08-20 15:54] tischi commented on #33
done. the default is now the master.

[2019-08-20 15:54] #33 closed

[2019-08-20 16:19] constantinpape commented on #33
@tischi my fiji does not update platy browser yet.
Did you forget to push the version or does it just take some time to take effect?

[2019-08-21 11:53] tischi commented on #33
I did not push yet, because I need to implement automated detection of versions first.

[2019-08-26 15:02] constantinpape opened #34 "Group names by prefix in the dropdown menu"
Currently, in the dropdown menu, the source prefix (e.g. `sbem-6dpf-whole-1`, `prospr-6dpf-whole-1`)
is simply omitted and all available images are displayed in one long menu.

It would be nicer to group the images by the source prefix in there.

[2019-08-30 11:38] vzinche opened #35 "Add feature: see the version you are working with"
I am not sure where to display it, but it would be nice to see the data version somewhere

[2019-09-10 11:17] constantinpape opened #36 "Improve help menu"
The help dialogues are currently very confusing, because they are spread around a lot of different windows. Also, I think that the help window describing how to select and deselect objects in the viewer is completely missing (at least I could not find it).

I think there should be only one help menu that is displayed regardless of the UI element selected.

[2019-11-07 14:45] constantinpape opened #37 "Imperceptible colors for segmentation objects"
Some of the colors used for the segmentation objects cannot be distinguished from the background.
See for example these two images. The first shows all the cilia in the bundle with color on (but not perceptible in the image), the second shows them with color off.
![Screenshot from 2019-11-07 15-37-44](https://user-images.githubusercontent.com/4263537/68398699-72f9db00-0175-11ea-9752-3bde9eb1e24b.p

[2019-11-08 10:33] HernandoMV opened #38 "Highly binarized non-binary images"
Specifically, ProSPr-Ref seems kind of binary and the changes in the brightness do not cover the full range of the intensities of the original image

[2019-11-08 10:34] HernandoMV opened #39 "highly saturated colors"
Colors seem highly saturated (e.g. choosing a green color looks yellow) and the MEDs look better if the brightness uses the full range. This might relate to the other issue of the brightness scale.

[2019-11-08 10:35] HernandoMV opened #40 "always magenta as default"
Whenever you add something, it is always in magenta and does not change colors as before.

[2019-11-08 10:38] tischi commented on #37
I can see some colours in the upper image...
You think it is just because they do not nicely differ from the grey?
Maybe I have to see this on your computer.

[2019-11-08 12:39] constantinpape commented on #37
I agree, in the screenshot there is some color visible, but it's still very faint.
(Also, there is one object which is colored in green, for which the color can be made out.)
But on screen it does not differ from the gray-scale at all.
Maybe increasing saturation would help?

[2019-11-08 12:47] constantinpape opened #41 "Check file with additional tables"
I have implemented a script to automatically add a txt file that lists the additional tables in a table folder. The file is not added if there are no additional tables.

I have added it for all tables in version 0.6.3, see https://git.embl.de/tischer/platy-browser-tables/tree/master/data/0.6.3/tables.

@tischer Could you check that this works with what you have implemented in the platy-browser?
Th

[2019-11-08 12:52] constantinpape opened #42 "Format for version readmes"
We have discussed to add Readme files for the individual versions, that contain a summary of the changes for each version.
I have added two examples now ([here](https://git.embl.de/tischer/platy-browser-tables/blob/master/data/0.6.3/README.txt) and [here](https://git.embl.de/tischer/platy-browser-tables/blob/master/data/0.6.2/README.txt)).

I would suggest a format similar to the recommended githu

[2019-11-08 12:53] constantinpape commented on #34
This is fixed in the current version.

[2019-11-08 12:53] #34 closed

[2019-11-11 14:21] constantinpape commented on #39
The reason for this is that I accidentally changed something in how the MED files are stored.
(The underlying reason being that BigDataViewer can't deal with unsigned data types, which makes it very annoying to work with it from the python site).
Anyway, I have fixed this now and the colors should be back to normal.

[2019-11-11 14:26] constantinpape commented on #38
This is partly related to #39 and some of this should be fixed now.

However, I am a bit confused about which of the ProSPR data is non-binary:
In the registration step, I am using nearest neighbor interpolation for all prospr volumes.
Currently, we have the MEDs, the segmented ProSPR regions and the ProSPR ref.
Which of these signals is not binary?
(We also have VCs and while these are not binary

[2019-11-11 14:29] HernandoMV commented on #38
The ProSPr ref is what I was referring to.

[2019-11-11 15:28] constantinpape commented on #38
Ok, so of all the files we are registering only the ProSPr ref is non-binary / not a label image.
I will adjust this at some point soon then.

[2019-11-13 15:31] constantinpape opened #43 "Load table folder from https fails"
I have tried to load the table folder from gitlab, but this fails for both
`https://git.embl.de/tischer/platy-browser-tables/tree/master/data`
and
`https://git.embl.de/tischer/platy-browser-tables`
because the platybrowser cannot find the `versions.json` file.

Is there something wrong with how I specify the https address or is this just broken right now?
If I don't specify the address in the righ

[2019-11-13 15:40] constantinpape commented on #43
Ok, so the correctly formed address is:
`https://git.embl.de/tischer/platy-browser-tables/raw/master/data`.
Would be nice to have some hint about that.

[2019-11-18 08:16] constantinpape commented on #41
Seems to work, I will add it for the old versions.

[2019-11-18 08:16] #41 closed

[2019-12-16 13:29] HernandoMV opened #44 "Loss of resolution retrieving screen data"
Pressing 'C' extracts the data. In some cases, the image retrieved is at a wrong scale. For instance, specifying 0.02 resolution for the retrieved image, spits an image whose properties are indeed 0.02 resolution, but it is wrong (e.g. things are smaller than they actually are). There must be a bug somewhere...
![image](https://user-images.githubusercontent.com/6049065/70910681-15746c00-2008-11ea-

[2019-12-16 15:50] tischi commented on #44
@HernandoMV
But the region that is captured is the same as what you see in the bdv, right?
Could you find out what is wrong?

1. are the pixels in the captured image of the specified size, but the image properties are wrong, or
2. are the pixels of the wrong size

You could probably see this be zooming in quite a bit and checking whether one pixel has the correct dimensions. I tried to figure this

[2019-12-16 15:59] tischi commented on #44
And you say "in some cases". Does that mean it does not happen always?

[2019-12-16 16:26] HernandoMV commented on #44
is the second option. If I ask for 0.02 um/px, that's what is written in the image properties. However, when I put the scale bar this is totally off. I am not sure that it doesn't happen always. Sometimes (e.g. if I ask for 0.01nm/px), it looks right by eye and scale bar, but I cannot be 100% sure.

[2019-12-17 15:12] tischi commented on #44
I will check!

[2019-12-18 12:01] tischi commented on #44
@HernandoMV
I found a few issues...
Could you please update and see whether it is fixed now?

[2019-12-19 11:44] HernandoMV commented on #44
@tischer it works fine now. Thanks!

[2019-12-19 11:44] #44 closed

[2019-12-25 23:04] #43 closed

[2020-02-03 19:57] constantinpape opened #45 "Don't color label 0 when coloring by category"
Currently, values that are zero get assigned a color when doing `Color By Column` -> `Categorical - Glasbey`.
Usually zero means that the label / marker is not present though and I would suggest not to color it.

[2020-02-03 21:11] tischi commented on #45
I am not sure, because, e.g., a circularity measure could be 0.
You could put there a string to `NaN`.
I already parse this and do not color it.
Would that work for you?

[2020-02-03 21:58] constantinpape commented on #45
This is not a good solution, because many tables are used for down-stream analysis where 0 has a very different meaning from `NaN`.

How about offering to Categorical color modes, one that includes 0, one that ignores it?

[2020-02-04 08:01] tischi commented on #45
That could be an idea. I will look at it.

[2020-02-05 09:07] vzinche opened #46 "Show gene expression without long prefix"
The 'search gene in this position' (keyboard shortcut D) outputs results like this:

![Screenshot from 2020-02-05 10-06-14](https://user-images.githubusercontent.com/32451366/73827067-30d94780-47ff-11ea-829e-aacdd96cba7d.png)

Could you please remove the prefix "prospr_6d_blahblah"?

[2020-02-05 09:18] vzinche opened #47 "Bdv view capture exports wrong colors"
I load the segmentation, use 'color by column COLUMN_NAME' and choose viridis color scheme.
Then I click C (capture) and that's how the capture looks like (original bdv on the left, capture on the right):

![Screenshot from 2020-02-05 10-11-36](https://user-images.githubusercontent.com/32451366/73827671-469b3c80-4800-11ea-9a45-ef27b458c4da.png)

I guess (besides being oversaturated) it still color

[2020-02-05 09:27] vzinche opened #48 "Position keyboard shotcut P throws an exception (works, though)"
Pressing P shows the position and view in the log, but throws an exception to the console:

![Screenshot from 2020-02-05 10-26-40](https://user-images.githubusercontent.com/32451366/73828737-15bc0700-4802-11ea-9ff8-db640d57ca0c.png)

[2020-02-05 17:22] tischi commented on #47
OK. Took me couple of hours but I have now a new solution:
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/2157566/73865624-d910ff80-4843-11ea-9229-8313d0aee36f.png">
I show two images. One is an RGB image that should look exactly as the one in the BDV. The other one contains only Gray-values and no colors. The gray values corresponding to the underlying raw data.

1.

[2020-02-05 17:49] constantinpape commented on #47
cc @HernandoMV

[2020-02-05 17:58] HernandoMV commented on #47
Hi, I am not sure what is required from me here. I think I am missing something...

[2020-02-05 17:58] tischi commented on #47
...also works for Viridis LUT and in the PlatyBroswer :-)

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/2157566/73868813-728ee000-4849-11ea-8684-908acc5a632c.png">

[2020-02-05 17:59] HernandoMV commented on #47
It worked for me fine if that is why you ping(ed?) me.

[2020-02-05 17:59] tischi commented on #47
@HernandoMV It is about making screenshots within the PlatyBrowser. You were also a main customer. And there was, also for you, the issue that the cell segmentations did you have the correct colours...

[2020-02-05 18:02] HernandoMV commented on #47
I tried to do it just for fun with random colors, and that never worked. I don't think we ever figured out why. Maybe something about 8 vs 16 bit?
When I did it for separate channels (eg gene expression) then there was no problem

[2020-02-05 18:04] tischi commented on #47
The point is that I figured out one way to do it. So I just wanted to inform you and also ask if that's ok for you (with the two images as described above, and also as shown below again).

<img width="1059" alt="image" src="https://user-images.githubusercontent.com/2157566/73869221-360fb400-484a-11ea-8dfc-97e993140a84.png">

[2020-02-05 18:09] HernandoMV commented on #47
Ok now I am more confused! hahaha. So it should work now? "if that's ok for you" meaning if it works for me?

[2020-02-05 18:23] tischi commented on #47
ok. from the start :-)

The output of the screenshot used to be one stack of 16 bit images, where we tried to assign each image the same color as in bdv. However, this was not possible for more complicated colour schemes, such as colouring of the cell segmentation.

New solution: there still is the stack of 16 bit images, but they have now no colour at all. They are all grayscale. So, people could

[2020-02-05 18:55] HernandoMV commented on #47
Ohhh I see now. Thanks. I think this is great!

[2020-02-06 10:18] vzinche commented on #47
I didn't fully get why we need two output images (raw and RGB), but as long as it works it's fine with me :)

[2020-02-06 12:03] tischi commented on #47
Well, that's the question. It may be confusing to beginner users, but to people that really care about the gray values it is great to be able to get them. So, I am not sure. That's why I brought it up.

Opinions?

[2020-02-06 12:09] vzinche commented on #47
Still don't get it :(
If they want the underlying grey values can't they just switch off the added genes/segmentations/etc?
Also, do I get it right, the RGB images also has the underlying raw data, right? It's not that you have to add them afterwards?

[2020-02-07 16:10] vzinche opened #49 "Color mismatch between main window and bdv"
![Screenshot from 2020-02-07 16-02-54](https://user-images.githubusercontent.com/32451366/74045244-b2320500-49cc-11ea-89e6-aabc86c8dd68.png)

[2020-02-08 16:42] tischi commented on #49
@constantinpape

The reason is that we got rid of the `mask` modality, which is a segmentation with only one object.
Right now something is implicitly a `mask` if it is a `segmentation` and if there is no associated table and if there is no `ColorMap` but only a single `Color` (as below).

[code]

Maybe we should add an explicit "Modality" filed in the json...
Could we quickly **meet Monday mornin

[2020-02-08 16:45] tischi commented on #48
should be fixed with latest version.

[2020-02-08 16:45] #48 closed

[2020-02-08 16:46] tischi commented on #47
In the new version `C` will just show the RGB image and `Shift + C` will show both the RGB image and raw data channel stack. I think that fixes it.

[2020-02-08 16:46] #47 closed

[2020-02-08 16:48] tischi commented on #40
1. would you prefer another color?

2. is that still the case?

@vzinche, could you please also comment on both questions?

[2020-02-08 16:58] constantinpape commented on #49
10 works for me. Do you pass by then?

[2020-02-08 17:44] tischi commented on #45
I made code compatible with above idea, but currently it is too much work to implement the UI. Thus I, hardcoded it for now:
[code]
I'll leave the issue open until I implement the UI.

[2020-02-08 17:45] tischi commented on #42
Ok for me!

[2020-02-08 17:45] #42 closed

[2020-02-08 17:46] tischi commented on #39
closing. hope it's fine.

[2020-02-08 17:46] #39 closed

[2020-02-08 17:47] #38 closed

[2020-02-08 17:48] tischi commented on #37
@constantinpape
We discussed the idea to remove colors that are too close to gray. Shall I still do this?

[2020-02-08 17:48] tischi commented on #35
I added it to the window title of the new UI.

[2020-02-08 17:48] #35 closed

[2020-02-08 17:49] tischi commented on #36
done.

[2020-02-08 17:49] #36 closed

[2020-02-08 17:49] tischi commented on #30
done. i guess.

[2020-02-08 17:49] #30 closed

[2020-02-08 17:50] #20 closed

[2020-02-08 17:50] #3 closed

[2020-02-08 17:51] #6 closed

[2020-02-08 17:52] #11 closed

[2020-02-08 17:53] #22 closed

[2020-02-08 17:54] tischi commented on #25
Good idea. I will look into it at some point.

[2020-02-08 17:55] #27 closed

[2020-02-08 17:55] #28 closed

[2020-02-08 17:55] #24 closed

[2020-02-08 17:56] tischi commented on #26
@vzinche is this still an issue? if not, could you please close it?

[2020-02-08 17:57] #8 closed

[2020-02-09 12:34] constantinpape commented on #37
Yes please do this.

[2020-02-09 14:25] tischi opened #50 "UI: "position" does not align"

[2020-02-09 14:37] tischi opened #51 "UI: make wider"

[2020-02-09 15:02] tischi opened #52 "Bookmarks: Close open tables"

[2020-02-09 15:02] tischi opened #53 "Bookmarks: Highlight selected objects"

[2020-02-09 15:06] tischi opened #54 "UI: PlatyBrowser Menu"
PlatyBrowser has a Menu.
This is easy to overlook, especially on a Mac.
We should do something about it.

[2020-02-09 20:44] tischi opened #55 "Closing of labelViews"
In `PlatyBrowserSourcesPanel`:

[code]

[2020-02-10 09:46] vzinche commented on #40
1) Magenta is fine as the first one. What would be nice is to use a different color whenever you add a new image on top. Because right now they are all shown in magenta and you have to change all the subsequent ones manually

2) Yes, at least in the jar that you shared around to test:

![magenta](https://user-images.githubusercontent.com/32451366/74138829-93ad5300-4bf2-11ea-9cb9-5db9268f7370.gif)

[2020-02-10 10:01] vzinche commented on #26
it still can't be loaded. I'll try once again when @constantinpape moves this file to segmentations

[2020-02-10 10:03] constantinpape commented on #26
This depends on how we resolve https://github.com/platybrowser/platybrowser-backend/issues/10.

[2020-02-10 10:45] #50 closed

[2020-02-10 13:38] tischi opened #56 "images.json: ColorMap"
use metadata.colorMap explicitly instead of assuming Glasbey

[code]

[2020-02-10 13:40] K-Meech commented on #45
For the clustering columns, there is currently a cluster 0, so this will be affected by this. Could we leave zero out of the hardcoding for now? Otherwise, I can look into changing the cluster_ids to avoid this...

[2020-02-10 13:46] constantinpape commented on #45
There are a few tables though where we don't want 0 to be colored, e.g. the region table.
 @tischer  Coulde we have two glasbey color maps, one including and one excluding glasbey?

[2020-02-10 13:59] tischi commented on #45
@K-Meech @constantinpape
I can make it optional. I realised it is a bit tricky, because in the categorical case I treat the columns as strings, so what is zero? `"0"`, `"0.0"`, ... others?

[2020-02-10 14:15] tischi opened #57 "images"
<img width="468" alt="image" src="https://user-images.githubusercontent.com/2157566/74152530-c9603500-4c0e-11ea-81d8-d518b9ed1ef3.png">
<img width="851" alt="image" src="https://user-images.githubusercontent.com/2157566/74152904-98cccb00-4c0f-11ea-9819-6c772174a2c0.png">
<img width="249" alt="image" src="https://user-images.githubusercontent.com/2157566/74152986-cc0f5a00-4c0f-11ea-869d-23456fec0cd

[2020-02-10 16:36] tischi opened #58 "Improve README"
@vzinche @K-Meech @HernandoMV

I started writing a README section, to which we will refer to from our publication: https://github.com/platybrowser/platybrowser-fiji/blob/master/README.md

If you find some time, could you please check it and suggest additions?

[2020-02-10 19:19] tischi commented on #40
1. I can think about it. Do you have a suggestion? Shall we maybe use the Glasbey LUT?
2. In the version that I ship now with Fiji it should work, does it?

[2020-02-10 21:17] constantinpape commented on #26
This should be fixed, could you try again @vzinche?

[2020-02-11 08:29] vzinche commented on #40
1) Glasbey LUT is perfectly fine with me
2) I've just updated the PlatyBrowser in Fiji and no, it still shows everything in magenta

[2020-02-11 08:31] K-Meech commented on #45
Ah - I see. For me just "0" and "0.0" would cover the tables I'm using.

[2020-02-11 08:50] K-Meech commented on #58
Looks great to me! Very clear / easy to understand.
It might be worth adding a 'Navigation' section or similar to give the basics of navigation in the main bigdataviewer window (e.g. scroll to zoom, middle click to pan etc.) The info is in the bigdataviewer help but it's a bit buried for a new user.
Also, it would be worth explaining the main buttons on the bar for each selected item (e.g. C / B /

[2020-02-11 08:56] vzinche commented on #26
![Screenshot from 2020-02-11 09-55-40](https://user-images.githubusercontent.com/32451366/74222439-cb7ccf00-4cb4-11ea-9049-2711fa67e037.png)

[2020-02-11 09:01] constantinpape commented on #26
@tischer we are still seeing some nullpointer exceptions when the file is loaded.
I checked and the dtype is int16, did you maybe forget to push the fixes for empty int16 chunks we made yesterday?
I will also check the file locally.

Also the virtual-cells still end up in the `prospr` dropdown, not in the `prospr segmentation` dropdown where they should be. (I checked and their type is `Segmentati

[2020-02-11 09:27] K-Meech opened #59 "Colour by column error"
Since the update, when I click colour by column, it immediately errors with:

Exception in thread "Thread-20" java.lang.NullPointerException
	at de.embl.cba.tables.Tables.getColumnNamesAsArray(Tables.java:552)
	at de.embl.cba.tables.color.ColumnColoringModelCreator.showDialog(ColumnColoringModelCreator.java:49)
	at de.embl.cba.tables.view.TableRowsTableView.lambda$null$20(TableRowsTableView.java:7

[2020-02-11 14:51] vzinche commented on #58
Agree with Kimberly that table functions need more description. I think it's worth mentioning 'Append Table', 'Color by Column', 'Annotate' and especially 'Measure' (I didn't even know it exists :)

[2020-02-11 15:10] tischi commented on #58
@vzinche
Does it even work? I started at some point implementing it, but I am not sure it is ready to be released...

[2020-02-11 15:13] tischi commented on #58
@K-Meech

Thanks a lot. I refactored your suggestions to make the off-tickable 😃

- [ ] It might be worth adding a 'Navigation' section or similar to give the basics of navigation in the main bigdataviewer window (e.g. scroll to zoom, middle click to pan etc.) The info is in the bigdataviewer help but it's a bit buried for a new user.
- [ ] Also, it would be worth explaining the main buttons on th

[2020-02-11 15:16] vzinche commented on #58
I tried, it even gave me out a new distance column, but also threw an error:
![Screenshot from 2020-02-11 16-14-29](https://user-images.githubusercontent.com/32451366/74249678-d56cf500-4ce9-11ea-8d2e-ce0eac80e399.png)

[2020-02-11 15:33] tischi commented on #58
- [ ] Remove measurements from table

[2020-02-11 16:17] tischi commented on #59
thanks. fixed. will upload to Fiji soon.

[2020-02-11 16:17] #59 closed

[2020-02-11 16:19] tischi commented on #45
Ok. I put both.
[code]

Should work now.
Will upload soon.

[2020-02-11 16:19] #45 closed

[2020-02-11 16:38] tischi commented on #40
@constantinpape For the ProSPr, do you want to put explicit random colours in the `images.json` as r,g,b triplets, e.g. `Color = "255,0,255"` ? Or shall we use a `Color = "RandomFromGlasbey"` convention and I handle this on my side? The advantage of you doing it would be that it would be reproducible and transparent. In fact, I could also  make it reproducible by converting the ProSPr string to al

[2020-02-11 17:05] tischi commented on #37
should be done. will upload soon.
[code]
with `MINIMUM_RGB_DIFFERENCE` = 50 we have now 218 instead of 256 colours.

[2020-02-11 17:05] #37 closed

[2020-02-11 17:26] #49 closed

[2020-02-11 17:27] tischi commented on #40
I implemented the second option.

@constantinpape Could you please adapt `images.json`?

[2020-02-12 07:52] constantinpape commented on #40
Ok, will do.
Should I push this to master or put it on some branch first to test it?

[2020-02-12 07:57] tischi commented on #40
First on a branch please, because I might not have time to adapt my code before tonight, because I will be teaching now the whole day.

[2020-02-12 08:04] tischi commented on #26
Does it work now?

### TODO
- [ ] Also the virtual-cells still end up in the prospr dropdown, not in the prospr segmentation dropdown where they should be. (I checked and their type is Segmentation in images.json).

[2020-02-12 13:23] constantinpape opened #60 "Occasional SdkClientException when browsing the data from s3"
When browsing the data from s3, sometimes a `SdkClientException` is triggered.
(So far this happened to me once, once to Yannick).

@igorpisarev @axtimwalde this might be related to n5-s3, has any of you seen this before or some idea about it?

[code]

[2020-02-12 14:55] constantinpape commented on #40
Done and pushed it to https://github.com/platybrowser/platybrowser-backend/tree/prospr-glasbey.

[2020-02-12 15:54] igorpisarev commented on #60
I haven't seen this exception yet, but it definitely looks related to n5-aws-s3. Do you only browse the data, or is it also being written to S3 at the same time? Also, does it consistently occur for the same block or is it rather random?

[2020-02-12 16:20] constantinpape commented on #60
Only browsing, there is no write to the s3 Dataset at the same time. (There might be writes to the same bucket though, but the datasets loaded are definitely static).

It seems rather random. We will do some more thorough testing in the next few days, maybe we'll be able to see some more systematic in this error then.

[2020-02-12 16:57] tischi commented on #40
Works! Can you merge to master? And then close the issue?

[2020-02-12 19:27] igorpisarev commented on #60
It may be also helpful for diagnosing to wrap `N5AmazonS3Reader.readBlock()` in try-catch and output the block grid index or S3 key when the exception occurs.

[2020-02-12 20:48] constantinpape commented on #40
Done.

[2020-02-12 20:48] #40 closed

[2020-02-12 20:53] constantinpape commented on #40
@tischi It seems like you haven't pushed the necessary changes to fiji, so currently the plugin does not work with master.

[2020-02-12 22:13] constantinpape commented on #26
Works now, virtual cells are displayed properly and they show up in the correct dropdown menu.

[2020-02-12 22:13] #26 closed

[2020-02-12 22:56] axtimwalde commented on #60
I think we will have to consider this, remote sources aren't as reliable as local sources.  Ideas how to deal with it?
[] Try again until successful (for a parameterizable number of times)
[] Load the broken data.
[] Return null .

[2020-02-13 05:55] tischi commented on #40
You are right. I pushed the wrong version.

I changed back from

[code]

to

[code]

and uploaded to Fiji again.

Does it work?

[2020-02-13 05:59] tischi opened #61 "Long names"
@constantinpape @vzinche

Some image names are very long and cause the buttons in the UI to look ugly, see below:

<img width="548" alt="image" src="https://user-images.githubusercontent.com/2157566/74405726-1d953000-4e2e-11ea-88df-cf226226a073.png">

We could

1. make the whole UI by default wider to accommodate this?
1. maybe not show the whole name?
1. other ideas?

[2020-02-13 08:01] constantinpape commented on #40
Yes it works now.

[2020-02-13 08:23] vzinche commented on #61
I would actually drop the whole 'sbem-6dpf-whole' and 'prospr-6dpf-whole' part

[2020-02-13 08:26] constantinpape commented on #61
I don't think we should drop parts of the name in there.
If we want to extend the browser to more data all of this will be relevant.
E.g. if we get a second SBEM specimen it would be called `sbem-6dpf-2-whole`, so if we drop this we can't distinguish between those any more.

[2020-02-13 12:21] K-Meech opened #62 "Relative table paths for CustomBrowser don't work on Windows"
Viewing segmentations that have 'default.csv' files as relative paths do not work on Windows (works fine if the full table is present in that version). e.g. viewing the chromatin segmentation on version 0.6.6 does not work

Exception in thread "AWT-EventQueue-0" java.lang.UnsupportedOperationException: Could not identify table delimiter.
	at de.embl.cba.tables.Tables.autoDelim(Tables.java:228)
	at

[2020-02-13 12:27] K-Meech commented on #62
Actually, this works fine on the remote version 'Open Platybrowser', but not for 'Open Platybrowser Advanced'  (there I'm using the image data location as the arendt lab server & the table data location as a local clone of my fork of the platybrowser-backend repo)

[2020-02-13 17:46] tischi commented on #62
I added more error message to make it easier to debug.
Please try again tomorrow and paste the errors here.

[2020-02-14 11:55] K-Meech commented on #62
Exception in thread "AWT-EventQueue-0" java.lang.UnsupportedOperationException: Could not identify table delimiter.
	at de.embl.cba.tables.Tables.autoDelim(Tables.java:228)
	at de.embl.cba.tables.TableColumns.stringColumnsFromTableFile(TableColumns.java:85)
	at de.embl.cba.tables.TableColumns.stringColumnsFromTableFile(TableColumns.java:75)
	at de.embl.cba.platynereis.utils.Utils.createAnnotatedIm

[2020-02-14 12:28] tischi commented on #62
OK. I am surprised! Maybe really the problem is: ` Could not identify table delimiter.`?
Could you please paste the first 2 rows of this table here?

[2020-02-14 12:35] K-Meech commented on #62
The file from that version is just the relative path:
../../../rawdata/tables/sbem-6dpf-1-whole-segmented-chromatin/default.csv

I wonder if on windows it's trying to literally read this as the table (and hence not understanding the delimiter) rather than following the path? Could it be an issue that windows uses \ rather than /?

[2020-02-14 18:41] tischi commented on #62
...**not** the path to the table but the _content_ of the table, first two rows please 😃

[2020-02-14 21:01] constantinpape commented on #62
This is the file at hand: https://github.com/platybrowser/platybrowser-backend/blob/master/data/rawdata/tables/sbem-6dpf-1-whole-segmented-chromatin/default.csv

[2020-02-15 09:00] tischi commented on #62
@K-Meech Ok. Now I got it. This is indeed a very good hypothesis! I will look into this.

[2020-02-17 16:11] tischi commented on #46
done.

[2020-02-17 16:11] #46 closed

[2020-02-17 16:14] tischi opened #63 "Gene search: Ask for Radius"
...this is now very hidden in the settings.

[2020-02-18 09:26] constantinpape opened #64 "Improve gene search log"
From discussion in meeting, some points might be done already
- Remove long names
- Order in descending order

[2020-02-18 09:30] constantinpape opened #65 "Sort and filter table rows"
Add functionality to filter table rows by a threshold and sort the remaining entries.

[2020-02-18 09:30] constantinpape commented on #64
Also remove virtual cells from the gene search

[2020-02-18 13:19] constantinpape commented on #65
This Feature Request arose from some mis-understanding of a panel in Figure7.
I think this would still be nice to have, but we can put it on low priority.

[2020-02-19 07:52] constantinpape opened #66 "Rename this repository"
In the paper, we call this tool the MultiModalBrowser, MMB, now.
@tischi, I think we should rename this repository to reflect this.

[2020-02-19 07:57] #66 closed

[2020-02-19 07:57] constantinpape commented on #66
:+1:

[2020-02-19 08:56] vzinche opened #73 "Bookmark "Symmetric cell pairs" the table can't be loaded"
Did you push these changes? Because for me it still throws an error:

![Screenshot from 2020-02-19 09-55-08](https://user-images.githubusercontent.com/32451366/74817932-0bb7ff00-52fe-11ea-8508-7c6d9e44bb89.png)

[2020-02-19 10:12] imagejan commented on #65
@constantinpape wrote:

Is this generic functionality that could live in [`scijava-table`](https://github.com/scijava/scijava-table), so that other projects can benefit from it as well?

(Sorry if this doesn't apply, I don't know details of how tables work in MMB.)

[2020-02-19 12:09] constantinpape commented on #65
I think yes, but I am not quite sure if @tischi is using `scijave-table` internally right now.

We want this to be a useful and versatile resource for big image data-sets and every improvement we can contribute to upstream dependencies is definitely relevant.

(Side Note: We will probably focus on contributing some of the developments we needed to make to BigDataViewer first (esp. streaming n5 dat

[2020-02-19 14:35] constantinpape opened #67 "Show objects from different segmentations in same 3d viewer?"
Right now, objects from different segmentations are shown in different 3d viewer windows:

![Screenshot from 2020-02-19 15-31-32](https://user-images.githubusercontent.com/4263537/74844061-2ce41400-532d-11ea-8c82-f76c4dce9786.png)

For many use cases, we would rather have them in the same 3d viewer; e.g. for exploring different segmented ultra-structure objects and their interaction.
But there mig

[2020-02-19 14:40] constantinpape commented on #64
@tischi I think this is mostly fixed, but vcs are still included in the gene search log.

[2020-02-19 14:57] constantinpape commented on #60
I ran into this issue again, and it seems like this happened when I ran out of RAM on my notebook.
Might be just a coincidence though.

[2020-02-19 17:14] constantinpape commented on #4
This is all implemented already.

[2020-02-19 17:14] #4 closed

[2020-02-19 18:48] tischi commented on #64
done.

[2020-02-19 18:48] #64 closed

[2020-02-19 18:49] tischi commented on #67
They used to be show in the same viewer.
I can try to fix this....

[2020-02-19 19:02] tischi commented on #67
done.

[2020-02-19 19:02] #67 closed

[2020-02-21 09:50] HernandoMV opened #68 "Table->append table doesn't work"
Error:
[code]

[2020-02-21 10:01] constantinpape commented on #68
@HernandoMV I moved this to this repository.
Could you describe what exactly you clicked before the error came up?
Also, what OS are you using?

[2020-02-21 12:40] K-Meech commented on #68
I have this same error on Windows OS - e.g. view the cells segmentation then click Table > Append table. It immediately errors with the error above. (I believe Hernando is also using windows)

[2020-02-21 15:23] tischi commented on #68
For me it works.
Can you be more specific indeed?

1. Do you use `PlatyBrowser` or `CustomBrowser`
2. Which table do you want to append to which other table?

[2020-02-21 17:21] K-Meech commented on #68
This is using 'Platybrowser' - I'm trying to append any table to the cell table. Before it comes up with the different options for tables to append, it already errors.

[2020-02-21 17:59] constantinpape commented on #68
Important note: both @K-Meech and @HernandoMV are using windows.
I can confirm that it works on Linux (and it probably works for Mac as well), so seems to be only a windows issue.

[2020-02-21 18:51] constantinpape opened #69 "3D object rendering cannot be deactivated when opened from bookmark"
Objects that are shown in the 3d viewer after being selected via a bookmark do not disappear when de-selecting the 3d view for the given segmentation. (See that the 3d viewer state does not change after deselecting the `V` box for cell and cilia segmentation)
![Screenshot from 2020-02-21 19-48-11](https://user-images.githubusercontent.com/4263537/75062610-71191500-54e3-11ea-9e1e-207bf7bbf0fc.png)

[2020-02-21 19:01] constantinpape opened #70 "Buttons for showing objects/volumes in 3d viewer are confusing"
I think the functionality for showing 3d volumes/objects is distributed over too many buttons in the gui:
There are the general buttons `show objects in 3d`, `show volumes in 3d` + each layer has the button `V`. It is unclear how these interact which each other.

I would vote for getting rid of `show objects in 3d` and `show volumes in 3d` and just keeping the `V` button, that shows the volume in

[2020-02-23 15:30] tischi commented on #68
I added some potential fixes, please try again on Monday.

[2020-02-23 15:53] tischi commented on #70
I agree and I'll try to implement your very good suggestion.

[2020-02-23 21:29] tischi commented on #70
@constantinpape
1. I did the changes, please test.
1. I replaced **B** by **S**, for Slice view. (B was for BDV)

Tomorrow I am the whole day in an ALMF retreat/meeting and will not have time to respond to anything.
Tuesday morning I can have a look again.
@HernandoMV The main UI slightly changed: the two 3D checkboxes are gone. It would be nice if you could change the figure in the paper.

[2020-02-24 08:09] K-Meech commented on #68
Works for me now!

[2020-02-24 08:26] constantinpape opened #71 "Exception when selecting objects for 3d view too fast"
When volume rendering is activated for a segmentation and several objects are selected in sequence "too fast" the following exception is thrown:
[code]
Here "too fast" means, that the next object is selected before the previous one has been fully rendered. Probably there is a lock missing somewhere ...

[2020-02-24 08:27] constantinpape commented on #70
I tested the changes; it is exactly how I think this should work now :).
I ran into another issue with 3d rendering now, see #71, but that is not really UI related.
Closing this issue for now, feel free to reopen if there are other UI related things.

[2020-02-24 08:27] #70 closed

[2020-02-24 08:34] constantinpape commented on #62
@K-Meech is this working now?

[2020-02-24 10:29] K-Meech commented on #62
No - it still doesn't work. Although, as this is only on the Custom Browser, I guess it is lower priority.

[2020-02-24 10:30] vzinche opened #72 "Loading table with bookmarks appends 'label_id' as well"
When you run a bookmark that appends a table (e.g., symmetric cells) it appends the unnecessary 'label_id' column, that is not the case when you just append the table manually.
![Screenshot from 2020-02-24 11-29-45](https://user-images.githubusercontent.com/32451366/75145356-13f6ac80-56f9-11ea-8eba-1b6301088af6.png)

[2020-02-24 21:02] #68 closed

[2020-02-24 21:09] tischi commented on #71
I was iterating through a `Set` that could be modified. I think I fixed it now...
Pleas try tomorrow.

[2020-02-24 21:12] tischi commented on #62
Yes, let's fix this after submission. OK?

[2020-02-24 21:17] tischi commented on #72
should be fixed. please try again tomorrow.

[2020-02-24 21:58] tischi commented on #73
Should be fixed. Please try again tomorrow.

[2020-02-25 06:59] K-Meech commented on #62
Sure - no problem

[2020-02-25 07:35] vzinche commented on #72
Works, thanks!

[2020-02-25 07:35] #72 closed

[2020-02-25 07:38] vzinche commented on #73
Fixed, thanks!

[2020-02-25 07:38] #73 closed

[2020-02-25 07:40] constantinpape commented on #71
Fixed now.

[2020-02-25 07:40] #71 closed

[2020-02-25 07:43] constantinpape commented on #69
This is a more general issue:
When object are rendered in 3d and the segmentation is removed the objects stay in the 3d viewer.
(It works if `V` is deselected firrst.)

[2020-02-25 07:45] constantinpape commented on #60
I haven't seen any "bad consequences" of this exception; i.e. the viewer state does not seem to be affected (much). Of course we should fix the general issue here, but I think in the meantime we can hide this exception from the users.
@tischi Do we have different log levels? Then this could be pushed to DEBUG.

[2020-02-25 08:22] tischi commented on #60
Maybe I can add a `try{} catch{}` here:

[code]

[2020-02-25 08:30] #53 closed

[2020-02-25 08:33] #52 closed

[2020-02-25 08:33] #51 closed

[2020-02-25 08:36] #9 closed

[2020-02-25 08:59] #69 closed

[2020-02-25 09:09] constantinpape commented on #58
@tischi two of the images in the Readme are out of data with the new UI:

- [ ] version 0.6.6 was renamed to 1.0.0
- [ ] the main UI window has changed ("show objects in 3d" is gone etc.)

[2020-02-25 09:46] constantinpape commented on #57
Images were moved to `images` folder.

[2020-02-25 09:46] #57 closed

[2020-02-25 17:08] constantinpape commented on #58
@tischi I forgot one more thing:
The first image also needs to be updated because we renamed it from `Open PlatyBrowser` to just `PlatyBrowser`.

[2020-02-26 16:04] #58 closed

[2020-02-28 07:21] constantinpape commented on #10
I added a short paragraph that asks users to cite the paper if they use MMB:
https://github.com/platybrowser/mmb-fiji/blob/master/README.md#citation

We might consider adding something on important software for MMB too:
Fiji, BDV, ?

[2020-02-28 08:39] tischi commented on #10
Fiji, BDV, ?

Good question. I am not sure, since we cite them already in our paper, thus maybe not really appropriate? I guess one cannot ask people to cite everything...

[2020-02-28 19:03] constantinpape opened #75 "Cannot select github as image data source in CustomBrowser"
I run into a pretty bizarre issue when I try to open a `CustomBrowser` with a github backend for the image data:

1.) select the remote source for images and table
![Screenshot from 2020-02-28 19-59-24](https://user-images.githubusercontent.com/4263537/75578813-dc736180-5a64-11ea-9f13-9d139c16b776.png)

2.) select version (looks fine until know)
![Screenshot from 2020-02-28 20-00-30](https://user-

[2020-02-28 19:13] constantinpape commented on #75
It looks a bit like something is trying to normalize the address as a local file system path; note that also the `//` after https is turned into `/`.

[2020-03-01 10:02] constantinpape commented on #75
I think this is the offending line:
https://github.com/platybrowser/mmb-fiji/blob/7a19b24fb5a68c82a9db516da7b5175822fb3a67/src/main/java/de/embl/cba/platynereis/platybrowser/command/PlatyBrowserOpenAdvancedCommand.java#L17
The address should not be a `File`, but a `String` in order to allow for web addresses.

[2020-03-01 11:49] tischi commented on #75
I changed it. Can you update and try?

[2020-03-01 12:02] constantinpape commented on #75
Works now!

[2020-03-01 12:02] #75 closed

[2020-03-03 09:55] vzinche opened #76 "Add 'go to' function for cells/segmented objects IDs"
Enhancement:
In my work I often need to find a cell with some id. Right now I am manually scrolling through the whole table to find it. Would be nice to have some search or 'go to object' that will allow to start typing the id, and it would move you to the corresponding line of the table

[2020-03-03 13:55] vzinche opened #77 "Separate BDV for segmentation objects"
Not sure whether this is a bug or a feature, but if one manages to add segmentation before the main BDV window is loaded, it just opens a separate window for the segmentation:
![two_bdvs](https://user-images.githubusercontent.com/32451366/75782274-f6f85400-5d5e-11ea-8f97-32933116441b.gif)

[2020-03-03 16:55] constantinpape commented on #77
I have seen this happen too. I guess the `add` functionality should be locked until the bdv window opens.

[2020-03-03 21:12] tischi commented on #77
This is a bug.
Thanks for finding and reporting it!
I fixed it.

[2020-03-03 21:12] #77 closed

[2020-03-10 08:42] vzinche opened #78 "Throws an error if you don't choose the data version"
Desired behavior: just close the browser

![error](https://user-images.githubusercontent.com/32451366/76294538-4dabe380-62b3-11ea-8b8e-42e7e5c81805.gif)

[2020-03-10 13:58] #78 closed

[2020-03-10 14:05] tischi opened #79 "Resize 3D-viewer window"
Currently the resizing of the 3D Viewer window by dragging is disabled due to this bug: https://forum.image.sc/t/3d-viewer-crashes-when-resizing-the-window/11829/3

- [ ] as a work-around: test whether the window size could be changed programmatically

[2020-03-31 20:44] constantinpape opened #80 "Add UI for fast annotation mode"
Currently, adding manual annotations to the platybrowser is a bit cumbersome:
- One needs to add a new column to the current segmentation's table (which is ok)
- Then, the values in the column need to be edited in the table by selecting the cell, double clicking and entering the new value

The second step involves too many clicks to do this in a high throughput manner.
Instead, it would be good to

[2020-04-02 10:49] constantinpape opened #81 "Setting up mmb-fiji in intelliJ"
I tried to set up the project in intelliJ now (just using the pom).
It fails with the following error:
[code]

In some other log, I also get the following dependency resolution issues:
[code]

[2020-04-02 12:48] tischi commented on #81
Yes, to be expected :-(

This will be a bit of work...

I copied `bigdataviewer-vistools-1.0.0-beta-18-SNAPSHOT.jar` to  `/g/cba/exchange/jars/`. Would you manage to use this jar? I think in IntelliJ, if you go to `File > Project Structure` you can add the jar manually to the project.
![image](https://user-images.githubusercontent.com/2157566/78250862-c8ea6900-74f0-11ea-838a-117a6a824638.png)

And

[2020-04-02 13:32] constantinpape commented on #81
Yes this worked (I just add the jar to libraries).
However, there are still the `Resolve dependencies` errors:
[code]

[2020-04-02 18:38] tischi commented on #81
1. OK! I will try to fix this. Let you know...
2. However, can you start the platybrowser now?

![image](https://user-images.githubusercontent.com/2157566/78288994-ee439b00-7521-11ea-9a19-6dbc2f710084.png)

[2020-04-02 18:43] constantinpape commented on #81
No, doesn't work the build fails with the following errors:
[code]

[2020-04-02 19:17] tischi commented on #81
Could you pull and try again.

I hope there should be few errors less ( `j3dcore` and `java3d`)?!

[2020-04-02 20:01] constantinpape commented on #81
Yes indeed, only 1 error left:
[code]

[2020-04-03 06:21] tischi commented on #81
Ok, I also did a bunch of other stuff. Can you pull and try again?

[2020-04-03 06:22] tischi opened #82 "Upload bigdataviewer-vistools to bintray"
Currently the bigdataviewer-vistools version needed for this repo must be locally copied...

[2020-04-03 07:15] constantinpape commented on #81
ok, it finds `de.embl.cba.tables.Help`.
Now it's missing everything from `de.embl.cba.bdv.uils.sources`

[2020-04-03 08:08] tischi commented on #81
please try again

[2020-04-03 08:16] constantinpape commented on #81
There are no changes, did you forget to push?

[2020-04-03 08:56] tischi commented on #81
I did not change the repo but uploaded one missing jar to an online repository.
If you right-click on the pom.xml you can:
![image](https://user-images.githubusercontent.com/2157566/78342552-c132cf00-7599-11ea-81d5-9484ae068a80.png)
Does that help?

[2020-04-03 09:30] constantinpape commented on #81
After reimporting I still have these 3 dependency errors:
[code]

[2020-04-03 09:57] tischi commented on #81
hm, I don't get it. It should be there:
![image](https://user-images.githubusercontent.com/2157566/78348362-32768000-75a2-11ea-94df-e048615b6294.png)

can you use maven on the command line? `mvn compile`  in the folder where the `pom.xml` is?

[2020-04-03 10:00] constantinpape commented on #81
[code]

[2020-04-03 10:35] tischi commented on #81
Does this help?

https://stackoverflow.com/questions/4856307/when-maven-says-resolution-will-not-be-reattempted-until-the-update-interval-of

[2020-04-03 11:47] constantinpape commented on #81
I tried `mvn -U clean compile` and it downloads some more dependencies, but still doesn't solve the issue:
[code]
Is there something else in the issue you were referring to?

[2020-04-03 11:48] constantinpape commented on #81
Ok, I had a closer look at the error, looks like this actually solved the earlier issues, but now it is a new error:
[code]

[2020-04-03 12:25] tischi commented on #81
ok! but this is progress! I will also upload the new missing dependencies later!

[2020-04-03 12:52] tischi commented on #81
ok. please

1.  `git pull`
2. `mvn -U clean compile`

[2020-04-03 16:21] constantinpape commented on #81
Ok, this works now :).

[2020-04-04 09:10] constantinpape commented on #81
I pulled and tried just from the command-line again; this is what I get:
[code]

[2020-04-04 15:01] constantinpape commented on #81
Build is also working now.

[2020-04-04 15:16] #81 closed

[2020-05-15 20:05] constantinpape opened #83 "Support making bookmarks from UI"

[2020-05-15 20:07] constantinpape opened #84 "Enable changing the version without restart"
I am using the versions to store related but separate datasets in https://git.embl.de/pape/covid-em.
It would be great if one could switch between those without restarting the plugin.

[2020-05-15 20:10] constantinpape commented on #10
We have a link to the paper in the rdme now.

[2020-05-15 20:10] #10 closed

[2020-05-15 20:11] constantinpape opened #85 "Don't hard-code platy naming pattern"

[2020-05-15 21:30] tischi commented on #83
@constantinpape

Well, thanks to our recent efforts we know now how to submit files to github via the API 😃
One option would thus be that we have a **bookmarks folder** and each bookmark would be one json file. That would make it quite simple to add and remove bookmarks. I would find that easier and cleaner than changing the one big bookmarks file that we currently have.

What do you think?

It is

[2020-05-16 08:53] constantinpape commented on #83
Yes, I agree that's a better solution then having the big bookmark file.
(We could still support multiple bookmarks per file though).

For starters, we can just support the bookmarks locally. I.e. you have a second folder in the fiji plugin sources (custom data in there is possible, right?) where the bookmarks generated from the UI are stored.
If users want to push those upstream, they need to clo

[2020-05-16 11:33] tischi commented on #83
Actually, maybe it is least work to just implement this. I have most of the code in the PlateViewer already anyway.

[2020-05-16 11:36] constantinpape commented on #83
Ok, but from a user perspective there should always be a local option to store the bookmarks,
so that it's not necessary to have git API tokens.

[2020-05-16 11:37] tischi commented on #83
ok, like an optional bookmarks folder?

[2020-05-16 11:40] constantinpape commented on #83
yes, I think either an optional bookmark folder, or something that is always made in the plugin files (I don't know how fiji handles files that should persist in between runs)

[2020-05-16 11:42] tischi commented on #83
The natural place would be the ImageJ preferences file. That would be most convenient, because the user would not have to specify anything. Con: If they install a new Fiji or go to another computer they loose everything...

[2020-05-16 11:48] constantinpape commented on #83
I think that would be ok for now, if you add a warning to the log window about this and we put a short explanation somwhere how to either manually push them to upstream via PRs or via the UI and API tokens.

(I would generally make this a two stage process: make the bookmark that's stored locally and then add another option to push it if the API token is available)

[2020-05-17 11:59] tischi commented on #85
@constantinpape
Could you provide an example what you mean by this?

[2020-05-17 12:47] constantinpape commented on #85
Right now, the MMB will only open if there is a file called
`sbem-6dpf-1-whole-raw`, see https://github.com/platybrowser/mmb-fiji/blob/0ea134c9780065a915b6f0ac7beda2a73f4faa47/src/main/java/de/embl/cba/platynereis/Constants.java#L7.

This effectively restricts it to the platy naming scheme.

[2020-05-18 11:49] tischi commented on #85
I see, but this is only the default file that it should open.
How should we do it?
Should we maybe add to the repo a `bookmarks/default.json`? I think this would be quite nice, because this can specify a complete view rather than a single file.
And if this file is missing, maybe it should just how **_nothing_** to start with?

[2020-05-18 11:53] constantinpape commented on #85
Yes, I know. But this still forces one to use the platy naming pattern, because otherwise there are two separate naming patterns and that's even more confusing.

Yes, I think that's a good idea.

[2020-05-18 11:57] tischi opened #86 "Support default bookmark"
@constantinpape

[2020-05-18 12:01] tischi commented on #85
ok, and regarding the naming scheme. I looked through my code and found only this, which extracts the modality:

- https://github.com/platybrowser/mmb-fiji/blob/master/src/main/java/de/embl/cba/platynereis/platybrowser/PlatyBrowserActionPanel.java#L325

... and this, which essentially throws away all the other information :-)

- https://github.com/platybrowser/mmb-fiji/blob/23740aa4f3f98dc5e59f99d

[2020-05-18 12:06] constantinpape commented on #85
Sounds good, let's discuss after the platy meeting or some point later this afternoon.

[2020-05-18 12:07] tischi commented on #84
Maybe using versions for this is not the right thing to do, is it?
Maybe we can find another way? Let's talk on the phone...

[2020-05-18 15:00] constantinpape commented on #86
As we have just discussed:
We will have a new layout for the bookmarks:
[code]
The MMB will look for the `default.json` and load the view specified in it.
(If it's not there, no data will be loaded initially).

All the other bookmarks will go to the usual bookmarks tab; but we can keep them in different jsons now in order to add support for #83 later.

[2020-05-18 15:01] constantinpape commented on #86
I will add it like this in the next project we are setting up.

[2020-05-18 15:02] constantinpape commented on #85
Ok, as just discussed, the current solution is fine for now.
In the long term, we want to define the naming pattern and how it maps to the GUI in the git repo,
but for now we just take the name in front of the first dash as modality.

[2020-05-18 15:04] constantinpape commented on #84
We discussed to rename what we call `version` now to `dataset`.
So there will be a `datasets.json`. And then we allow to change between datasets from the gui.

(For now, we only allow for one active dataset; later on when the GUI is unified into a single window, we can enable showing multiple at once.)

[2020-05-19 14:17] constantinpape opened #87 "Make the help menue more modular"
The help menu is very specific for the platy browser right now.
Would be good to make it a bit more customizable using some hints from the github repo too.

[2020-05-19 14:21] constantinpape opened #88 "Don't hard code the leveled view to the platy values."
Leveled view is hard-coded to what's used for platy.
We should make this customizable too.

I would just add a bookmark called `leveled` to `bookmarks/default.json`.

[2020-05-19 15:58] constantinpape commented on #88
Ok, @tisci had a better idea here: https://github.com/platybrowser/platybrowser/issues/53.
We will add a `leveling.json` to the misc folder. (And if it's not there, we should default to the image plane when leveling)

[2020-05-19 19:56] tischi commented on #88
ok. i'll close this one then.

[2020-05-19 19:56] #88 closed

[2020-05-20 10:59] constantinpape opened #89 "Add better representation for neuron traces?"
Right now I just import neuron traces as segmentation by putting a small sphere for each point in the trace.

This approach has a few drawbacks:
- this is an inefficient way to store traces (although they are so small that this doesn't really matter for now)
- size of the segment depends on the zoom level (I am using max downsampling right now to keep the traces visible also when zooming out; but

[2020-05-20 12:03] tischi commented on #86
@constantinpape I wanted to work on this but the autophagosomes repo does not contain such files yet. Did you want to add them? Otherwise we can use the covid-em project as our playground. There I could add the new bookmark structure.

[2020-05-20 12:05] constantinpape commented on #86
https://github.com/constantinpape/autophagosomes-clem/blob/master/data/10spd/misc/bookmarks/default.json

[2020-05-20 19:35] tischi commented on #86
ok, works now. I also added a Layer to the `default.json`. Because if there is not at least one Layer it crashes, because it cannot show anything...

[2020-05-20 19:42] tischi commented on #86
- [ ] I still have to implement it for local image data, so far only did it for remote

[2020-05-20 20:32] constantinpape commented on #86
Makes sense; I updated the script in the autophagosomes repo s.t. it adds the layers field to the bookmark dict now.

[2020-05-21 08:07] tischi commented on #85
That means also for the new ongoing projects this is not yet critical, right?

[2020-05-21 08:11] constantinpape commented on #85
Yes, I think the only critical thing was that the initial layer was hard-coded to  `sbem-6dpf-...-raw`.
And this should be fixed now with the default bookmark, I think.

[2020-05-21 09:11] constantinpape commented on #84
As we have just discussed, we will change the `datasets.json` layout a bit:
[code]
So that we know which dataset to open by default to get rid of the initial dataset choosing menu.
The `"default"` field should be optional, if it's not there we just choose one of the datasets.

[2020-05-21 12:05] tischi commented on #84
let me know once you have this somewhere then I can test loading it.

[2020-05-21 13:01] constantinpape commented on #84
It's the other way! Autophagosoms are on github and they are our playground.
I have updated this repo now: added a second dataset and updated the `datasets.json`:
https://github.com/constantinpape/autophagosomes-clem

[2020-05-25 12:28] vzinche opened #90 "CustomBrowser doesn't see additional tables from github"
When I'm using [my github branch](https://github.com/vzinche/platybrowser-backend/tree/master/data) as a table location and I try to add an additional table, it doesn't seem to see the [additional table](https://github.com/vzinche/platybrowser-backend/blob/master/data/1.0.1/tables/sbem-6dpf-1-whole-segmented-cells/cell_type_training_set.csv) that I've added.

However, when I specify the local fold

[2020-05-25 14:17] tischi commented on #90
You have to add the table name to this file:

https://github.com/vzinche/platybrowser-backend/blob/master/data/1.0.1/tables/sbem-6dpf-1-whole-segmented-cells/additional_tables.txt

Locally, it works because I seem not to rely on this file, but look for all files in the folder (inconsistency, I admit).

[2020-05-25 14:20] constantinpape commented on #90
@tischi we should also use the filesystem / github API for this and then get rid of the `additional_tables.txt`.

[2020-05-25 15:20] tischi opened #91 "Fetch additional tables via github API"
don't use the text file...

[2020-05-25 15:20] tischi commented on #90
yes: https://github.com/platybrowser/mmb-fiji/issues/91

[2020-05-25 20:41] constantinpape opened #92 "Platybrowser doesn't work with aws credentials file"
Fails with:
[code]
and works if the credentials file is removed.

[2020-05-26 06:34] tischi commented on #92
1. Could you ask Josep? Because this is an error that is different from the ones I have seen/
2. Could you (e.g. via Slack) send me your credentials file for debugging?

[2020-05-26 07:59] constantinpape commented on #92
Ok, I can ask him at some point. Just for references, these credentials are for an actual aws s3 account.

Will send it to you later.

[2020-05-27 17:14] #90 closed

[2020-05-29 07:34] tischi opened #93 "dataset UI"
- [ ] The switch button is larger and screws up the text alignment
- [x] The dataset selected in the drop-down is wrong
- [x] The MoBIE window name is wrong

[2020-05-29 19:11] constantinpape opened #94 "Anonymous read for bucket fails if we have credentials that don't have read permissions"
Opening the platybrowser with a set of credentials in `~/.aws/credentials` that don't have read permissions results in an error, see below.
This should not be the case, because the corresponding bucket can be read anonymously, and we have added [a field in the xml](https://github.com/platybrowser/platybrowser/blob/master/data/1.0.1/images/remote/sbem-6dpf-1-whole-raw.xml#L33) to keep track of this

[2020-05-29 19:39] constantinpape commented on #92
Ok, I actually made a duplicate of my own issue :D.
I am closing this one in favor of the newer one #94, because it is more specific.

[2020-05-29 19:39] #92 closed

[2020-05-29 19:43] constantinpape opened #95 "Enable linking objects in different segmentations"
We often have objects in different segmentations (and their tables), that are related to each other.
E.g. each nucleus belongs to a cell, neuron traces belong to a cell; a cell  belongs to an organ etc.

It would be great to be able to somehow express these relations and then e.g. go to the trace belonging to a cell or highlighting all cells in an organ.

This actually came up twice today:
@Hernan

[2020-05-29 20:22] tischi commented on #94
Could you try again after updating Fiji?
I updated the corresponding code about 2 hours ago...

[2020-05-29 20:37] tischi commented on #94
I tried with your credentials and it works for me.
So, If everything I have locally also made it on the update site and from there on your computer it should be fine now.... ;-)

[2020-05-29 20:40] constantinpape commented on #94
Yes, works now.

[2020-05-29 20:40] #94 closed

[2020-05-29 21:24] #91 closed

[2020-05-29 21:25] #86 closed

[2020-05-29 21:25] #85 closed

[2020-05-29 21:25] #84 closed

[2020-05-29 21:26] #61 closed

[2020-05-29 21:26] #56 closed

[2020-05-29 21:34] constantinpape commented on #55
@tischi Is this issue still relevant?

[2020-05-29 21:40] constantinpape opened #96 "Add "Home" button"
We should add a "Home" button, that goes back to the default bookmark position, in order to help people that got lost in the dataset.
Brought up here: https://github.com/mobie-org/autophagosomes-clem-datasets/issues/4

[2020-05-29 22:10] constantinpape opened #97 "Enter s3 credentials in plugin"
Adding the s3 credentials [the official way](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html) is a bit cumbersome and can be an issue for some users.

We should thus also support providing them in the fiji viewer directly. One thing we need to figure out is which keys need to be provided here:
1. the vanilla option would be to ask for both public and private key
2. another

[2020-05-29 22:14] constantinpape commented on #83
Just one thing to keep in mind:
It might be nice to have some bot user for the bookmark creation in order to allow this for users without going through the github API token process.

Not sure if this is such a good idea, and def. not the first thing to do, but I just wanted to keep track of this idea.

[2020-05-29 22:27] constantinpape opened #98 "Update the README"
The readme is still for the mmb, we should update (once things are stable).

[2020-05-30 09:51] constantinpape opened #99 "Refresh the data"
In order to have some interactivity with outside tools, it would be useful to have a "Refresh the Data" button, that reloads the current view of the data and tables from source.

This would only be necessary in expert mode.

[2020-05-30 16:44] martinschorb opened #100 "Local data does not load"
Hi,

I can't load local data:

[code]

[2020-06-02 08:10] tischi commented on #55
not sure, but I will close it for now :)

[2020-06-02 08:10] #55 closed

[2020-06-03 09:47] martinschorb opened #101 "extract subvolume"
Hi,

now that the segmentation army is working, they have requested some way of extracting chunks of raw data.

They would give the position (of a bookmark) and would like the 3x3x3 (scale 0) chunks surrounding it as an ImageJ volume, so they can filter it and move on with segmentation.

Maybe the BDV-playground screenshot feature that captures raw data would work...

[2020-06-03 12:35] tischi commented on #101
@martinschorb
If you need this functionality in ImageJ such that people can immediately draw in Fiji you could also write a Jython script.

[2020-06-03 16:58] tischi opened #102 "ScatterPlot: Append Table bug"
When one appends a table, it is currently not possible to chose the new columns in the scatterplot. The reason is that the old scatterplot is still based on the old table with which it has been initialised.

[2020-06-04 13:26] martinschorb opened #103 "Switch datasets -> "show dataset" in new window"
Hi,

I suggest to open a datset automatically in a new window (that should then be called accordingly) when clicking "switch" dataset (-> rename that button). Or making this optional

This would:
- enable to browse several datasets in parallel to compare morphologies
- make it more consistent with BDV-playground behaviour.

When a switch from one to the other dataset is wanted, the user can just c

[2020-06-04 13:30] constantinpape commented on #103
@tischi and me also discussed this, but decided not to do this for now, because it would be confusing:
for every new dataset a lot of different windows would be opened:
- the main viewer
- the gui to select which layers to open
- separate tables for each segmentation
- the 3d object viewers
- ...

So before doing this, we would like to integrate more of the functionality into a single window, whic

[2020-06-04 13:54] martinschorb opened #104 "Files not released by MoBIE"
Hi,

I realized that a bookmarks file is not released when closing mobie windows.
I have to fully kill Fiji to release it.

Does this happen in MoBIE or is it due to general BDV misbehaviour?

https://github.com/bigdataviewer/bigdataviewer-core/issues/93

[2020-06-04 14:15] martinschorb opened #105 "any file in bookmarks is parsed"
Hi,

I have created a file with extension `.json_outdated` in the bookmarks subfolder.
It is still parsed and all bookmarks are shown in MoBIE.

[2020-06-04 14:58] tischi commented on #104
I hope that does the trick.

[2020-06-15 11:56] #105 closed

[2020-06-15 11:56] #104 closed

[2020-06-17 10:42] vzinche opened #106 "Annotations: add goto button"
While annotating cell types the only way to save the results is `save_columns`. But then if you want to continue annotating the same table, you open it again, it takes you to the beginning of the table, and you have to click `next` hundreds of times to get to the moment where you stopped the last time.
Not to implement any logging here, would it be possible to add `start from` or `go to` option, t

[2020-06-17 11:01] tischi commented on #106
fantastic idea. I will implement it.

[2020-06-17 11:17] tischi commented on #106
Should it be segment index or table row index? They don't need to be the same...
Probably the former, right?

[2020-06-17 11:36] vzinche commented on #106
For me segment id would be more intuitive

[2020-06-17 11:55] tischi commented on #106
Ok, looks like below now. I moved the annotation buttons down, because it would screw up the UI when adding a new category. Ok?

![image](https://user-images.githubusercontent.com/2157566/84895166-39416900-b0a2-11ea-8599-7c40e204f685.png)

[2020-06-17 12:37] vzinche commented on #106
Would it maybe be better to rename 'select segment with label' to  'select segment with label id'?
Because I feel like the labels are the categories we assign

[2020-06-17 12:39] vzinche commented on #106
Also, I visually liked it more when all the 'select' buttons were below the categories, but if it really screws everything up I guess we can also make it the way you suggested

[2020-06-17 13:04] tischi commented on #106
ok! done!
latest version is on "/cba/exchange/mobie".
please test!
if it works fine I will push it to the Fiji update site.

![image](https://user-images.githubusercontent.com/2157566/84901241-78c08300-b0ab-11ea-9f90-d8f55fbdb293.png)

[2020-06-17 14:25] vzinche commented on #106
![Screenshot from 2020-06-17 16-25-04](https://user-images.githubusercontent.com/32451366/84910450-2edd9a00-b0b7-11ea-8df6-6bbcfea9b5d2.png)

[2020-06-17 15:50] tischi commented on #106
ok, can you please try again? you only need to replace the mobie-0.5.0.jar

[2020-06-17 16:32] vzinche commented on #106
Seems to work nicely, thanks!

[2020-06-17 16:32] vzinche commented on #106
Could you please tell me once you push the updates version to the updates site, so I would send an email to the annotating people?

[2020-06-18 06:51] tischi commented on #106
I pushed it to the Update site.
Let me know whether it works for you.

[2020-06-18 08:14] vzinche commented on #106
Works, perfect, thanks!

[2020-06-19 09:05] vzinche commented on #106
Reopening this to discuss the `goto` behavior

[2020-06-19 09:08] vzinche commented on #106
I thought when you go to some label_id, you expect that the annotation continues from there. E.g., if I go to the label_id 40, when I click on `select next` I expect label_id 41, not label_id 0

But I am not sure if it is a desired behavior for any kind of annotations. What do you think about it?

[2020-06-19 11:41] tischi commented on #106
For sure! That's what it should do! Let me check!

[2020-06-19 11:50] tischi commented on #106
I think it was a bug.
Please update the **imagej-utils jar** from the cba server.

[2020-06-19 11:59] vzinche commented on #106
By update you mean
`/g/cba/exchange/mobie/install.sh /PATH/TO/MY/Fiji.app`?
If yes, then it still doesn't work for me

[2020-06-19 12:41] tischi commented on #106
Yes, sorry, please try again now.

[2020-06-19 12:46] vzinche commented on #106
Seems to work!

[2020-07-02 10:38] constantinpape opened #107 "Update README"
The readme is not quite up-to-date, for example it still refers to MMB instead of MoBIE.
More importantly, I think the installation instructions are not up-to-date:
https://github.com/mobie/mobie-viewer-fiji#installation

Is this true, @tischi?

[2020-07-02 15:48] martinschorb opened #108 "Open MoBIE Project Advanced still checking for old file"
Hi,

it seems that `Open MoBIE Project Advanced` is still checking for a `versions.json` instead of a `datasets.json` file.

[code]

I don't know if I have the latest version since Fiji update is down atm.

[2020-07-03 07:41] tischi commented on #107
yes, completely out of date. I will update...

[2020-07-03 07:58] tischi opened #109 "Temporary documentation images storage"
![image](https://user-images.githubusercontent.com/2157566/86445219-4ac97880-bd12-11ea-84a3-81436aec7beb.png)
![image](https://user-images.githubusercontent.com/2157566/86445323-79dfea00-bd12-11ea-8884-5e50a08660d0.png)
![image](https://user-images.githubusercontent.com/2157566/86445504-cdeace80-bd12-11ea-996a-4a6d5d58ccc7.png)
![image](https://user-images.githubusercontent.com/2157566/86445771-42

[2020-07-03 08:00] tischi commented on #107
Updated. Could still be improved at some point when I have a bit more time; so I leave the issue open...

[2020-07-03 08:48] tischi commented on #108
Thanks! I never got around implementing the new open advanced functionality.
I will do it asap!

[2020-07-03 09:15] constantinpape commented on #108
I just tested this and for me it works.
I can open [this](https://github.com/mobie/autophagosomes-clem-datasets/tree/master/data) in advanced mode.

[2020-07-03 09:28] martinschorb commented on #108
From the group share it fails for me...

`/Volumes/emcf/Hamburg_XRay/20200515/Mobie/data`

[2020-07-03 09:35] martinschorb commented on #108
do you have the latest jar somewhere, so I can test it with that version? I don't know what I am on here, and the updater still doesn't work.

[2020-07-03 09:40] martinschorb commented on #108
So, indeed, this one seems to be something else, maybe it's wrong with that dataset.
[code]

[2020-07-03 09:41] martinschorb commented on #108
this `null` directory doesn't exist. Here's what I have in the n5:

[code]

[2020-07-03 09:52] martinschorb commented on #108
with the json looking good to me:

[code]

[2020-07-03 10:08] constantinpape commented on #108
@martinschorb can you try to add a default dataset like here:
https://github.com/mobie/autophagosomes-clem-datasets/blob/master/data/datasets.json#L8

[2020-07-03 10:14] martinschorb commented on #108
Yes, that's it! Works

@constantinpape doesn't your converter create this entry for the initial dataset?

[2020-07-03 10:16] constantinpape commented on #108
No, I think you still need to set `is_default=True`. But it would make sense to change it such that the first dataset is declared as default even if `is_default=False`. I will change it.

[2020-07-03 10:17] martinschorb commented on #108
Where does MoBIE take the default minmax from? These datasets open with (0,255) which seems to be some default setting even though they are 16bit data.

[2020-07-03 10:26] constantinpape commented on #108
Yes, I haven't gotten around to change this to something more clever that infers this from the data.
For now, you can do one of this:
1. When you call [add_image_data](https://github.com/mobie/mobie-utils-python/blob/master/mobie/image_data.py#L10), you can pass `settings={'type': 'image', 'contrastLimits': [<MINVAL>, <MAXVAL>], 'color': 'white'}` (of course you can also choose another color).
2.

[2020-07-06 14:38] tischi commented on #108
We could also add a new convention that if those values are, e.g. `-1, -1` MoBIE does an auto-contrast.
However, since we are lazy-loading from big image data this may be a bit slow, but we could test it.

[2020-07-06 14:41] martinschorb commented on #108
@nicokiaru has a pretty fast auto-contrast in bdv-playground.

Have you already thought about how much effort it would be to use BDV-PG as a backend for mobie? Then we could use all the nice multi-source functionality as well.

[2020-07-06 14:44] tischi commented on #108
Of course, this is the dream! Not sure when I get around to do this though, but it definitely is on my agenda!

[2020-07-06 16:02] constantinpape commented on #108
Good idea. Initially, you could also set the contrast to `0, min(DTYPE)` for integers and `0, 1` for floats.

[2020-07-07 14:28] #106 closed

[2020-07-08 07:43] martinschorb commented on #108
Hi,

I tried to provide correct min/max values in the `images.json` for each dataset.
The viewer however seems to ignore those and reverts back to the 0/255 defaults.

[2020-07-08 07:54] constantinpape commented on #108
Ok, I think then @tischi needs to check what happens in the viewer.

[2020-07-22 18:41] martinschorb opened #110 "FTP support"
Hi,

now that I am uploading data to EMPIAR, I found that all data there is available via FTP, hooray!
example:
`ftp://ftp.ebi.ac.uk/empiar/world_availability/10050/data/`

Assuming I upload n5 "files" (need to check with the EBI guys, whether that's OK) it should be rather straight forward to make MoBIE accept an EMPIAR ID as project input, correct?

It would then need a check of the data type (e

[2020-07-22 19:12] constantinpape commented on #110
The problem is that there is no ftp implementation for n5 yet.

Building one in python would be rather straightforward, using [ftlib](https://docs.python.org/3/library/ftplib.html) and then decoding chunks either with [zarr](https://github.com/zarr-developers/zarr-python) or [z5py](https://github.com/constantinpape/z5).
(Maybe even easier via [pyfilesystem](https://github.com/PyFilesystem/pyfilesy

[2020-07-23 06:56] tischi commented on #110
We submitted a project proposal but I don't know when the decision for this to be granted will be taken.
However, the ftp connection is interesting. I have no idea how performant it is.

If the performance is ok, developing an n5ftp java library would be within scope, as the implementations are not much code, see e.g.: https://github.com/saalfeldlab/n5-aws-s3/blob/master/src/main/java/org/janelia/

[2020-07-23 07:07] martinschorb commented on #110
Hi,

I have tested the download performance for the dataset linked above and could reach ~10 MB/s, so very comparable what EMBL's s3 delivers.

I have not yet uploaded a test n5 dataset since uploading only works with a proper deposition. I am in touch with the EBI people (will CC you) to see if we can give them a test dataset to upload and try the connection.

You basically upload the data in ent

[2020-07-23 07:18] martinschorb commented on #110
Let's see what they respond in terms of file format(s). I don't kow if they are willing to allow n5 (quoting the n5 github: "Please do not take this project too seriously, we will see where it will get us and report back when more data is available.") or rather wait until there is some specification for the OME format.

[2020-07-23 07:23] martinschorb commented on #97
Hi,

I'd like to revive this. When you deal with several private buckets it really gets annoying. You have to swap the credentials file every time you want to access a new project (and make sure you keep the former one as a backup). I would see two options:

- Can you tell the plugin to not only use the `[default]` credentials but actually parse the file for credentials that match the project name

[2020-07-23 07:39] tischi commented on #110
The project proposal that I have submitted indeed would probably end up using ome-zarr.

[2020-07-23 08:07] constantinpape commented on #110
Yes, I think we should switch to zarr at some point in any case, but the whole ome-zarr / zarr spec v3 process is still developing:
https://github.com/zarr-developers/zarr-specs/issues

[2020-07-23 10:49] tischi commented on #97
Somehow I thought the credentials for each user are always the same; in other words: one user just has one unique credential. Then I thought that just on the S3 provider side it is checked which "user" (with respective credentials) has access to which private buckets. Seems am I wrong?

[2020-07-23 10:55] martinschorb commented on #97
Hi,

there are different scenarios:

- every user gets unique credentials. This would mean that we would need to manage the access rights on the aws server
- we generate access keys (pair) for a project and distribute them to the collaborators.

The second option is what we used so far. We have to check with IT, whether management of buckets and user permission is supposed to be done by us ourselv

[2020-07-23 15:33] tischi commented on #97
OK! I actually thought this ^ is what we have done already. I think we should indeed have a chat with IT, however Josep currently is on holidays afaik...

[2020-07-23 16:31] constantinpape commented on #97
We have been doing both; where the advantage of

is that we don't need to create extra credentials per user in order to give (read-only) credentials.

[2020-07-23 16:37] martinschorb commented on #97
Yes, in fact I was distributing the credentials file as email attachment. Due to the fact that the destination folder is hidden and the file has no extension, it still caused some trouble with Windows and Mac.

Does the aws Java lib provide some way to use other keys than `[default]`? If so, it would be the easiest to just add project-specific keys to the credentials file.

[2020-07-24 11:53] tischi commented on #97
1. seems like there can also be something else but **[default]**, e.g. **[project]** https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html
2. but I did not find out yet how to read this one with Java...  if you find it let me know!

[2020-07-24 13:38] tischi commented on #97
Yes, this could be nice, but then we may also have to amend our current xml specs:
https://github.com/mobie/platybrowser-datasets/blob/master/data/1.0.1/images/remote/prospr-6dpf-1-whole-ache.xml#L33

Maybe then there should be more choices:
- Anonymous
- Default
- ProjectXYZ

[2020-08-04 07:51] tischi commented on #97
Hi @igorpisarev @axtimwalde, I am adding you here to this discuss, because maybe you know the answer :)

The aws credentials file allows for more profiles than the default one, e.g. [see here](https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html):
[code]

Now, I am not sure what the best way is to actually _use_ the `profile2` credentials.
From the [documentation](https://d

[2020-08-04 10:19] martinschorb commented on #97
Hi,
I just tried:

**MacOS:**

- launching Fiji from a MacOS app and `launchctl setenv ...` does not work.
- I could not manage to properly launch Fiji from a Terminal shell where I can specifically set environment variables.

**Linux**

- setting a terminal environment variable accordingly and the launching fiji from it gives me a `forbidden` exception when trying to launch the dataset with the k

[2020-08-04 10:52] tischi commented on #97
@martinschorb
ok, that's then already better than having to change your credentials file!
I guess we should still explore whether we can achieve this also from within java such that the user does not have to do anything, should we?

[2020-08-04 10:59] martinschorb commented on #97
Hi,
you would still need to add new keys to the credentials file.
The question would be whether the mechanism of credential file plus environmental variable would be the way to go to implement it (that's a bit ugly because it is very OS-specific).

[2020-08-07 11:33] martinschorb opened #111 "contrast Segmentation in BDV without raw data"
Hi,

when I display segmentations in the BDV window without showing the raw data the contrast is completely off.

[2020-08-18 11:54] martinschorb opened #112 "Position does not update with Bookmark"
Hi,

the position field does no longer update with a new bookmark. For me I get a constant ```120.5,115.3,201.5```wherever...

[2020-09-09 10:16] K-Meech opened #113 "Custom categorical colouring model"
It would be useful for making figures etc to have an option to set the 'color by column..' colours to a user-specified set.

Perhaps having another option under 'Coloring Mode' that would let you select a csv file from your computer with the colouring scheme? This would contain one column with the value, then columns for the corresponding r/g/b/a.

@tischi would this be possible? I'm happy to try

[2020-09-10 11:56] tischi opened #114 "Improve bookmark position and transform"
We are having the issue that our Bookmarks do not generate a perfect view if users have the BDV window sized to a different size compared to the user that recorded the view. For example the appearance of the figures of the PlatyBrowser publication depends quite a bit (too much) on the window size, which we do not (and should not) control.

I was thinking that maybe we could get the physical coordi

[2020-09-10 14:03] constantinpape commented on #114
@tischi I think that sounds very reasonable overall.

If we assume it's square, wouldn't 2 corners suffice? I think the "lower left" and "top right" corner should be enough, no?

[2020-09-10 14:30] K-Meech commented on #114
Sounds good to me! And I agree that the two corners would suffice, but I guess it's easy to record all four anyway...

As for how to map the coordinates, I'm not sure. Would something like this work?
Deal with the translation:
-Translate the view centre so centre of largest square in viewer == centre largest square from bookmark

Deal with rotation:
-level view so normals and orientation the same

[2020-09-10 14:48] tischi opened #115 "Enable gene search right click only for platybrowser"

[2020-09-10 15:14] constantinpape commented on #114
I think we can make use of the BDV transformation that we get already.
So you might not have to compute the rotation and maybe the following would work:

- Apply the BDV transformation and position (as we have them in the bookmarks already).
- Compare the corners of the viewer that you get after this transformation to the corners that were saved.
- If I understand what is happening in BDV correctl

[2020-09-10 15:18] constantinpape commented on #115
Maybe this is overkill, but we could also generate this programaticly from a config. For example we could save a `preferences.json` somewhere and specify the behaviour for gene search there.
It could look something like this:
[code]
This would allow to reuse the functionality for other projects.

[2020-09-10 15:24] tischi commented on #114
Just got good advice from Tobias (see here: https://gitter.im/bigdataviewer/bigdataviewer-core):

So we store a normalised (with respect to window-width) and centred `ViewerTransform`.
The other options would have worked, too, but that one is easier to implement, I think.

[2020-09-10 15:28] tischi opened #116 "Configurable (project specific) context menu"

[2020-09-10 15:29] tischi commented on #115
I think long term a good idea!
I made a new issue for this: https://github.com/mobie/mobie-viewer-fiji/issues/116
You could re-post your idea there.

To quick-fix this specific issue, I just did:

[code]

[2020-09-10 15:50] constantinpape commented on #116
Copying the idea from #115:
We could generate the contex menu (= mouse right click and/or shortcuts) specific for a project, e.g. in a file called `preferences.json`.

It could look something like this (for two commands, taking a screenshot and gene-search):

[code]
This would allow to reuse the functionality for other projects.

[2020-09-10 16:20] vzinche commented on #114
Personally, I often felt the need to move to a specific position/view, but never to a norm view. I would say it's fine to leave this functionality for the bookmarks only

[2020-09-10 16:27] K-Meech commented on #114
Moving it to the right click menu sounds like a good plan. Otherwise, maybe you could have a drop down menu to select position / view/norm view to the left of where you type? Then you only need one line for all 3 options.

[2020-09-11 05:05] tischi commented on #114
I am now thinking that moving to some interesting location that a collaborator found may in fact be one of the key features of MoBIE, so it probably should be in the main UI and not in the context menu.

So what about distinguishing views from normalised views by something like this?

`1,0,0,0,0,1,0,0,0,0,1,0` and `n1,n0,n0,n0,n0,n1,n0,n0,n0,n0,n1,n0`

If the user would click `Log current location

[2020-09-11 07:33] constantinpape commented on #114
I like that idea; and I agree that this is a pretty central feature so I wouldn't move it to the context menu.

I think that eventually we might retire the not normal "not normalized" views. They are not so useful for sharing positions, but let's see how it works out with the new normalized views first.

[2020-09-11 08:00] tischi commented on #114
@constantinpape
I guess within the stored Bookmarks we would not have all the `n`s because we specify it via the tag?!
You think that's an issue that the logging and copy and pasting requires the `n` and in the Bookmarks we would not have them. I guess we also could have them in the Bookmarks....  I am not sure.

[2020-09-11 08:08] constantinpape commented on #114
Maybe it's better if we keep it more similar and just keep a single tag 'view' in the bookmarks and have
[code]
then people could directly copy and paste into the bookmarks.

[2020-09-11 09:04] tischi commented on #114
ok, this would mean however that we cannot have both a normalised and unnormalised view at the same time.
for the transition period and also for clarity (which would be redundant, but maybe that's fine) we could also do:

[code]

[2020-09-11 09:09] constantinpape commented on #114
Ok, let's go for it.

[2020-09-14 10:29] tischi opened #117 "Keyboard shortcut for logging current location"
[ p ] does not work anymore.

[2020-09-14 10:31] tischi commented on #117
@constantinpape @K-Meech @vzinche

What about `[ Ctrl + L ]` as a shortcut to log the current location?

[2020-09-14 10:34] tischi opened #118 "Keyboard shortcut for Screenshot"
@constantinpape @K-Meech @vzinche @HernandoMV

1. Do you frequently make screenshots, i.e. do we need a keyboard shortcut at all?
1. If so, what about `[Ctrl S]`?

[2020-09-14 10:43] constantinpape commented on #117
I find the shortcut pretty useful as I use the location feature quite often.
Ctrl + L would be good.

[2020-09-14 10:44] constantinpape commented on #118
I am not using screenshots that often, but if you want to make a shortcut Ctrl + S would be fine.

[2020-09-14 13:20] vzinche commented on #118
We do need a shortcut, and I guess everybody using MoBIE for data analysis would need it as well.
Ctrl + S sounds good!

[2020-09-14 13:26] K-Meech commented on #118
I don't use the screenshot option that often, so I'm happy for it to stay in the right click menu. Happy with ctrl+s as a shortcut if you want one though. Although, doesn't this shortcut currently change the way the selected object is coloured?

[2020-09-14 13:28] K-Meech commented on #117
I use the location feature quite a lot too, so it's useful to have a keyboard shortcut. Happy to go with ctrl + L - but doesn't this currently shuffle the lookup table colours for the segmentation?

[2020-09-14 16:26] K-Meech opened #119 "Multiple 'change animation settings...' entries"
Adding multiple volumes with tables, results in multiple 'change animation settings...' entries in the right click menu. e.g. with platybrowser datasets, opening the cell segmentation, and then the nuclei segmentation.
These change the animation settings for each table separately, but aren't labelled as to which volume they control. They still work fine, but it is a bit confusing.

[2020-09-14 18:48] tischi commented on #117
arrgh, you may be right? Suggestions?

[2020-09-14 18:49] tischi commented on #118
...yeah, well spotted, so we need another one also here. That's a bit the issue with the shortcuts one runs out at some point....

[2020-09-15 08:01] vzinche commented on #118
I've tried Ctrl+S a couple of times, and I don't get what it's doing. The first two clicks it changes the color of the selected object, on the third click it just selects all the objects. What was it originally planned for?

[2020-09-15 08:02] vzinche commented on #118
Additionally, do we have a list of shortcuts anywhere? I remember them being in the help window of the platybrowser main menu, but now I don't seem to find it

[2020-09-15 08:03] vzinche commented on #117
Why don't we keep P for Position, as it was before?

[2020-09-15 08:04] constantinpape commented on #117
Only P doesn't work because it opens some big data viewer preferences now.

But we could go with ctrl + P.

[2020-09-15 08:13] K-Meech commented on #117
Ctrl + P sounds good to me

[2020-09-15 08:24] K-Meech commented on #118
I think the shortcuts are in the table menu now - under Help > Show Segmentation Image Help.

@tischi Perhaps just leave the entry in the right click menu for now?  I think the problem is more that people don't know where to find these options. I don't think the readme mentions that this menu exists?

[2020-09-15 08:30] vzinche commented on #118
For me clicking on Show Segmentation Image Help doesn't lead to anything :(
In any case, would probably make sense to move them to a more obvious place, like readme.

Regarding the screenshots with right click, what I don't get is: for me it just shows another window with higher quality image, but still no way to save it, so I end up taking a screenshot of my screen. Would be great to have a way t

[2020-09-15 13:15] jhennies commented on #113
@tischi I second this issue, It would indeed be very useful. I think the csv file to specify the lookup table would be just perfect

[2020-09-15 13:33] constantinpape commented on #113
@jhennies if I understood your description about this earlier your use case is slightly different.

I think you would want to have a custom color map for the segmentation independent of the 'color by column ...' functionality.
For both cases we would need to support a custom color map, but in your case, it would need to be specified in the `images.json` file under the `color` attribute.

@tischi w

[2020-09-15 14:36] constantinpape opened #120 "Switching dataset freezes viewer in MoBIE-Beta"
Switching the dataset causes viewer to freeze. The initial dataset loads as expected, but upon switching it everything freezes without error message, see screenshot.
Note that this only happens with the version on the MoBIE-Beta side, not with the one on the normal update site.

I have tested this on my linux laptop and @jhennies also reported this on a Linux machine.
I have checked it for the two

[2020-09-15 14:43] tischi commented on #120
I can reproduce this. Trying to find out why this happens....

[2020-09-15 14:54] constantinpape commented on #114
@tischi
I have added an example bookmark with a `normView` to this repo now:
https://github.com/mobie/covid-em-datasets

It cannot be read by MoBIE yet and fails with the following error:
[code]
It seems like the java parser expects a float and fails because it gets a string instead. `n0.0` etc. is not a valid float, so I need to store it as string to save it as a valid json; which means you need

[2020-09-15 15:22] tischi commented on #120
@constantinpape
Are you currently doing something on the "covid-em-datasets" repo? I am using this for debugging above issue but it seems your are changing stuff there?

[2020-09-15 15:41] tischi commented on #120
- [ ] make sure the Swing UI (sources panel is fully visible before instantiating the new BDV)
- I asked also here: https://github.com/bigdataviewer/bigdataviewer-core/issues/108
- I added a workaround to the MoBIE-beta update site which works for me, does it work for you?

[2020-09-15 15:42] tischi commented on #114
The latest version on `MoBIE-beta` should work, could you try?

[2020-09-15 16:23] constantinpape commented on #120
Yes, it works for me with the latest version on beta too.

[2020-09-15 16:25] jhennies commented on #120
Yes, also works here, thanks @tischi

[2020-09-15 16:29] constantinpape commented on #114
Now the dataset loads, but when I try to load the bookmark I get the following error message:
[code]
This is the bookmark at hand:
https://github.com/mobie/covid-em-datasets/blob/master/data/Covid19-S5-mock-Cell1-2/misc/bookmarks/default.json#L12-L25
I think it follows what we discussed [here](https://github.com/mobie/mobie-viewer-fiji/issues/114#issuecomment-690970775), so probably there is still

[2020-09-15 20:49] tischi opened #121 "ViewerTransform animation issues"
- [ ] Changing to a new ViewerTransform via the "location" [ move ] leads to short flicker of new location
- [x] Changing to a new ViewerTransform via a Bookmark does not animate

Interestingly doing the same moving to a position (not a viewertransform) does not have these issues. Why is that?

[2020-09-16 05:59] tischi commented on #120
- [ ] to fix this on a fundamental level it seems I need to ship a newer version of bdv-core where this is fixed properly, see here: https://github.com/bigdataviewer/bigdataviewer-core/issues/108

[2020-09-16 06:01] tischi commented on #113
I guess we would need to support both:

1. loading a color map from disk (for development stage)
2. loading a color map from github (for deployment phase)

right?

[2020-09-16 06:34] jhennies commented on #113
@constantinpape thanks for pointing this out.
@tischi yes, I'm on it

[2020-09-16 07:00] jhennies commented on #113
@tischi I couln't attach a csv file here, so I quickly zipped it:
[colortable_fibsem.zip](https://github.com/mobie/mobie-viewer-fiji/files/5230214/colortable_fibsem.zip)

I added the seven lines that correspond to the labels in the fib-sem segmentations.
If there is any issue with this let me know.

Thanks!
Let me know if there

[2020-09-16 07:24] tischi commented on #113
Hi All,

After having had a shower I have another idea:

I think the colormap could be just another table that one can add to all the other non-default tables, e.g., here:
https://github.com/mobie/platybrowser-datasets/tree/master/data/1.0.1/tables/sbem-6dpf-1-whole-segmented-cells

The table would have two columns `label_id` and `myARGBvalues` (the name of the second column can be anything).

The

[2020-09-16 07:29] constantinpape commented on #113
@tischi I really like that idea.
For Julian's use case, i.e. using a different color map from the start, we can then specify the relative path to this color map in
the `color` attribute in `images.json`.

[2020-09-16 07:37] tischi commented on #113
@constantinpape
I think we can do it even easier in a sense that we do not have to change anything of the current code.
One would just add whatever colouring @jhennies likes to do to the default bookmark.

[2020-09-16 07:39] constantinpape commented on #113
I am not sure that will work.
This would mean we always need to add the segmentation to the default bookmark. Also, when the segmentation is removed and added again, how do we keep the colormap?

[2020-09-16 07:47] tischi commented on #113
OK, that may be an issue.
However, do we need to specify the relative path? Couldn't we just reuse the same logic that we have for the bookmarks?
Example:
[code]

Only changing "glasbey" to "argbColumn".

[2020-09-16 07:49] constantinpape commented on #113
Yes, that would also work.

[2020-09-16 07:54] tischi commented on #114
Please update and try again.

[2020-09-16 07:55] tischi commented on #113
ok, I'll look into implementing this together with @K-Meech in the next few days.

[2020-09-16 07:59] constantinpape commented on #114
@tischi yes, the bookmark loads now.
@jhennies could you check that it actually shows what is intended?

[2020-09-16 08:02] tischi commented on #121
Probably makes sense to try this with the a `10.*` version of BDV.

[2020-09-16 08:04] tischi opened #122 "Make right-click position the center of the normalised viewer transform"
Currently it is not the right-click position but the center of the bdv window.

@constantinpape
This is what we agreed on, right? (see issue title).

[2020-09-16 08:07] constantinpape commented on #122
yes, this is what we agreed on.

[2020-09-16 08:13] K-Meech commented on #113
Sounds good to me @tischi. I'm around all afternoon so can skype anytime (my internet connection is still very slow, but should be ok)

[2020-09-16 08:35] tischi commented on #113
@K-Meech

Great! I'll let you know later. But let's anticipate around 16:00, ok?

1. You could already try whether you can clone imagej-utils and get this code running:
https://github.com/tischi/imagej-utils/blob/master/src/test/java/tests/TestAppendTables.java
That would be a good starting point for the development.
2. And you can try to see whether you understand this code:
https://github.com/ti

[2020-09-16 08:59] K-Meech commented on #113
@tischi  works for me. I'll take a look at the code you sent.
I also attach a zip of an example colour scheme table to test on.

[test_morphology_cluster_colour_scheme.zip](https://github.com/mobie/mobie-viewer-fiji/files/5231015/test_morphology_cluster_colour_scheme.zip)

[2020-09-16 17:01] #122 closed

[2020-09-16 17:16] tischi opened #123 "Default Bookmark"
@constantinpape @K-Meech @vzinche

For the default bookmark:

Do you we
1. just want the default viewer transform to be applied (to help people that got lost rotating around), or
2. also all additional layers removed and only the layers shown that are specified in the default bookmark?

[2020-09-16 17:31] tischi commented on #121
The latter is due to this issue, which I also commented in the code:

[code]

[2020-09-17 07:32] constantinpape commented on #123
That's a good question. I think that option 1 would actually be more useful, but it would mean that the default bookmark is treated differently than all other bookmarks.

[2020-09-17 07:49] tischi opened #124 "Keyboard shortcuts"
Hi All,

I am trying to assemble a list of the keyboard shortcuts:

Button1 = Left Mouse Button

## Current

- Toggle point overlays `Ctrl P`
- Search Genes `D`
- Select Segment `Ctrl Button1`
- View Segment in 3D `Ctrl Shift Button1`
- Select No Segment `Ctrl Shift N`
- Move to next image set `Ctrl N` (not used in MoBIE, but I need it)
- Move to previous image set `Ctrl P (not used in MoBIE, but

[2020-09-17 08:01] tischi commented on #123
That's already the case and in fact makes my code a bit messy. The reason is that in most cases the default bookmark currently does not come with a specified ViewerTransform. So I have to check whether this is present and if not add it on the fly (based on whatever BDV thinks is the nicest view) to the bookmark....

Maybe I could not do this and rather automatically build a "default view" bookmark

[2020-09-17 08:17] vzinche commented on #123
What do you think about adding a keyboard shortcut for this? Like, Ctrl + D?
In a way bookmarks are used for a completely different purpose, and Default Bookmark is more similar to Ctrl+X/Y/Z of the BDV

[2020-09-17 08:26] vzinche commented on #124
I have no clue what that was for

Good in context menu

I would rather rename it to Unselect All or something like this. I am using it often and would vote for it to stay. Regarding multiple segmentations, I am pretty happy with the default behavior of unselecting in all segmentations.

I guess it's fine in context menu

[2020-09-17 08:33] tischi commented on #118
The new window can be saved from the Fiji UI.
Does that work for you?

[2020-09-17 08:34] tischi commented on #123
Agreed! That's why I thought of adding an additional button to the MoBIE UI; but we could also put it into the context menu and add a shortcut if needed.

[2020-09-17 08:49] constantinpape commented on #124
Overall sounds very good!

I agree, it can go to the context menu without shortcut, so that one can select for which segmentation to do this.
Minor comment, the name is a bit confusing, because when we do this all objects in the segmentation are still visible and marked in the table. I no that this is something else than selection (e.g. they are not shown in the 3d viewer), but naively when readin

[2020-09-17 08:50] constantinpape commented on #123
I agree it would be very helpful to have this feature.
I think for this I would prefer a new button in the UI + shortcut rather than context menu.

[2020-09-17 09:03] tischi commented on #119
This should be fixed now. I will upload to MoBIE-beta later today.
Please close this issue once you find it fixed. Thanks.

[2020-09-17 12:24] tischi commented on #124
@constantinpape I think @vzinche said that she would like to keep a shortcut and I think I agree as this is something I am also using very often. But with shortcut it will be difficult to distinguish for different segmentations.

Agree, this is a better name!

[2020-09-17 12:49] tischi commented on #124
ok, that's how the context menu looks now if there is more than one segmentation.

I could nest the menu items even more, i.e. by segmentation such that we get rid of the `.  :  `, but that's a bit of work so I wonder if it is worth it?

Pro: it would look cleaner; Con: one would have to navigate one level deeper with the mouse.

![image](https://user-images.githubusercontent.com/2157566/93472226-

[2020-09-17 14:05] constantinpape commented on #124
Ok, we can keep the shortcut and in that case just do it for all segmentations?!

Maybe something to make it look cleaner without much work:
Shorten the segmentation name by just keeping the first and last string when splitting by `-`,
i.e. `sbem-cells`, `sbem-nuclei`.
We also do this in the MoBIE menu, so I think that should be fine and it would make it look more concise.

[2020-09-17 14:08] tischi commented on #124
I already decided to invest the work and now it looks like this:

![image](https://user-images.githubusercontent.com/2157566/93482170-b24d9800-f8ff-11ea-9420-77399b653138.png)

And those entries are automatically removed again when you remove the segmentation with the [ X ].
We could discuss to also remove them when making the image just invisible, but I need a break now... ;-)

Shortening the nam

[2020-09-17 14:12] tischi commented on #124
In principle this issue could be closed once I pushed it to MoBIE-beta and some people tested everything....

[2020-09-17 14:14] tischi commented on #123
- [ ] Add button for default view to UI (fetch the view either from default bookmark or, if that does not exist, create a normalised view from whatever bdv shows first)
- [ ] Remove all the code that deals in a special way with the default bookmark

[2020-09-17 14:27] vzinche commented on #124
:+1: for
* calling it Undo selection
* keeping it as a shortcut that applies Undo to all segmentations
* adding it to the context menu nested (the way it is on your last pic). I think just listing all the options for all the segmentations might look terrifying when you have too many segmentations :)

[2020-09-17 14:31] vzinche commented on #123
I would still maybe add the shortcut, it's just much handier when you're browsing the BDV not to have to look for the main window

[2020-09-17 14:33] constantinpape commented on #123
To be a bit nitpicky, there still needs to be special code for the default bookmark that uses the default bdv view if there is no view in the bookmark.

No objections to adding a shortcut for this from my side :).

[2020-09-17 14:35] vzinche commented on #118
Stupid me. It does, thanks!

[2020-09-17 15:33] tischi commented on #123
I changed my mind (agreeing with @vzinche) I will make it for now context menu and short cut.
Reasons:
1. easier to do than to add a button
2. keeps the main UI more minimal
3. prettier to indicate the shortcut in the context menu than in the button

[2020-09-17 15:49] tischi commented on #123
![image](https://user-images.githubusercontent.com/2157566/93495187-21ca8400-f90e-11ea-922c-54770926b505.png)

[2020-09-17 15:49] #123 closed

[2020-09-17 15:50] tischi commented on #118
No keyboard short cut for now. Closing.

[2020-09-17 15:50] #118 closed

[2020-09-17 16:00] K-Meech commented on #113
@tischi - I looked at colouring for images.json, and this is actually already implemented! You can delete the commented lines here: https://github.com/mobie/mobie-viewer-fiji/blob/d9f154bea64697339ebea5e645dc7d59f1eb5a48/src/main/java/de/embl/cba/mobie/ui/viewer/SourcesPanel.java#L457, as you already do the same here: https://github.com/mobie/mobie-viewer-fiji/blob/d9f154bea64697339ebea5e645dc7d59

[2020-09-17 16:01] tischi opened #125 "Gateway Time-out (Service: Amazon S3)"
@martinschorb @constantinpape @K-Meech @vzinche
I am getting this quite often today:
[code]
Is it just my network at home?

[2020-09-17 16:08] tischi opened #126 "Versions testing"
I uploaded a new version to the `MoBIE-beta` Update site. Could you please test it a bit and add a thumbs up if you think that this version would be good enough to make it into the `MoBIE` site (which right now has a rather crappy version where one cannot even change dataset, so the hurdle is rather low...).

I am aiming to do this tomorrow after lunch...

@martinschorb @constantinpape @K-Meech @v

[2020-09-17 16:20] vzinche commented on #125
I didn't see anything like this

[2020-09-17 16:23] K-Meech commented on #125
I haven't seen this either

[2020-09-17 16:30] #119 closed

[2020-09-17 17:19] constantinpape commented on #126
I tried around a bit and so far there are two issues:
- [Color by column in bookmarks](https://github.com/mobie/platybrowser-datasets/issues/68) this was discovered by @K-Meech, and it might also have been an issue before this version
- [Bookmarks in tomo dataset](https://github.com/mobie/covid-tomo-datasets/issues/2)

[2020-09-17 17:23] K-Meech commented on #126
I also just noticed there was an error in the argb column code I added (I fixed it and put a new pull request on imagej-utils @tischi )

[2020-09-17 17:27] constantinpape commented on #125
I have seen this before when I had issues with my internet connection, but
haven't seen this either today.

[2020-09-18 07:36] tischi commented on #125
weird happened to me now again, even being at EMBL with cable connection.

[2020-09-18 12:02] constantinpape commented on #126
@tischi I think with the coloring stuff is fixed this should be good to go.
Do you want to push another version to mobie beta with these fixes so we can give it another go or do you want to push to the mobie update site directly?

[2020-09-18 12:07] tischi commented on #113
Very well spotted! In fact, I also realised it this morning 😄

[2020-09-18 12:12] tischi commented on #126
I uploaded the latest fixes to `MoBIE-beta`.
If I don't hear from any of you in the next one hour I will cut releases of the repos and then also push to `MoBIE`.

[2020-09-18 12:37] vzinche commented on #126
I didn't see any MoBIE problems, but I suggest that we all proofread our bookmarks, because some of them don't seem to work any more. E.g, 5D-top-middle gives me java.lang.ArrayIndexOutOfBoundsException and 2C shows some random cells

[2020-09-18 13:14] vzinche opened #127 "Bookmarks: contrastLimits"
In a bookmark I am coloring by column and want to set min-max value for the colorByColumn.

Before I was just just setting contrastLimits in the bookmark like [here](https://github.com/mobie/platybrowser-datasets/blob/4ad227b475fc90e9aedde1cdde76c1686dc97959/data/1.0.1/misc/bookmarks/manuscript_bookmarks.json#L804)
Now it sets these contrast limits for both colorByColumn and the segmentation layer

[2020-09-18 13:15] vzinche commented on #126
Oh, this one is probably from the viewer side #127

[2020-09-18 13:36] tischi commented on #126
If you do this could you please also replace the viewer transform with a normalised viewer transform?

[2020-09-18 13:40] constantinpape opened #128 "Mobie project cannot be loaded from git branch"
It's currently not possible to load a mobie project from a branch other than master.
Both in `Open MoBIE Project` and `Experts->Open Advanced` throw an error if one gives a link to a non master branch:
[code]
It would be really helpful to support this again to test changes on a branch.

I think it's ok to only support this in the expert mode though and instead of supporting pasting the full url we

[2020-09-18 13:47] constantinpape commented on #126
Yes, I will check what's going wrong with the ids and then we should do this.

Unrelated: I think it's not possible to load a project from a git branch other than master right now, see #128.
It would be very useful to support this again for debugging (not necessarily in this release, but rather soon ;)).

[2020-09-18 13:55] tischi commented on #127
@constantinpape
I think this is an actual issue (which we talked about some while ago, not sure we have an issue for it already).
![image](https://user-images.githubusercontent.com/2157566/93604795-2b172780-f9c6-11ea-964c-c955406493c5.png)
I wonder whether we need another entry in the bookmark for the `colorByColumn`, maybe something like `valueLimits`, which will determine how the values in the c

[2020-09-18 14:06] vzinche commented on #127
Looks like all the other figures are also setting it to 0-1000, so I guess we could do it.

[2020-09-18 14:39] tischi commented on #128
Yes, I think there was an issue somewhere where we already discuss some UI for this...
I will implement ASAP, but probably only have time on Tuesday...

[2020-09-18 14:42] constantinpape commented on #96
Will implement via short-cut / context menu, see #124

[2020-09-18 14:42] #96 closed

[2020-09-18 15:16] constantinpape commented on #126
@tischi did you update the normal mobie already / are you still planing to do it today?

[2020-09-18 15:20] tischi commented on #126
working on it... letting you know once I am done.

[2020-09-18 15:22] tischi commented on #127
Done. Leaving issue open as this needs a better fix.

[2020-09-18 15:36] tischi commented on #126
Ok, both done, and actually me too ;)
Felt like a real software release :)

[2020-09-18 16:24] #124 closed

[2020-09-18 16:25] #117 closed

[2020-09-18 16:25] #115 closed

[2020-09-18 16:25] #114 closed

[2020-09-18 16:26] tischi commented on #112
@martinschorb
Is this still valid issue?
Could you close it otherwise?

[2020-09-18 16:27] #107 closed

[2020-09-19 10:57] tischi commented on #128
This should be fixed via this: https://github.com/mobie/mobie/issues/8

[2020-09-19 10:57] #128 closed

[2020-09-21 07:09] constantinpape commented on #128
@tischi
Is this on MoBIE beta already?
I just checked and I can't see how to load a project from a git branch.

[2020-09-21 07:39] tischi commented on #128
No, I have nothing currently.

[2020-09-21 07:41] constantinpape commented on #128
Ok, let me know when the new changes can be tested.

[2020-09-21 09:43] K-Meech commented on #113
@jhennies - custom colouring should work now. Can you test it with your dataset? You'll need a table like the one I attached above (test_morphology_cluster_colour_scheme.zip) in the tables folder. Then modify your images.json file with lines for 'tables', 'tableFolder', 'colorByColumn' and 'color' - something like:

[code]

[2020-09-21 10:06] K-Meech opened #129 "Tutorials / user guide"
For the more complex parts of mobie e.g. making your own project, using the 'advanced' mode, creating bookmarks etc... it would be useful to have some more detailed documentation, or tutorials, available. e.g. via Github pages or readthedocs.

e.g. we could have something similar to the napari project > https://napari.org/tutorials/, which is made with github pages.

@tischi @constantinpape @vzinc

[2020-09-21 10:16] tischi commented on #129
Sure! I just wonder whether we should keep it low-tech and just add everything to the README.md (more portable and easier) or whether to go for github pages (looks more fancy).

Ideally we have a solution that works for both:  *.md files which can be viewed directly or via the github pages. Is that possible?

I would **not** like to have "documentation duplication" where we have to update things i

[2020-09-21 10:20] vzinche commented on #129
I think it would be great to have documentation available.
Don't have any strong preferences regarding github pages vs Readme.
Probably I would still split the advanced stuff from the main project Readme not to confuse the users who don't want to do anything advanced

[2020-09-21 10:30] K-Meech commented on #129
Github pages does let you use regular *.md files, but the formatting is slightly different I think. e.g. for napari, they have a separate repo for all their tutorials: https://github.com/napari/tutorials, where each individual page is a .md file e.g. https://github.com/napari/tutorials/blob/master/fundamentals/image.md.

[2020-09-21 10:39] vzinche commented on #129
The formatting looks completely normal to me, given that github properly parses it (except for the image location, but we could definitely deal with it)

[2020-09-21 10:41] vzinche commented on #129
Could we make a separate repo for the tutorials, but link the actual readme's from the main repo?

[2020-09-21 10:46] K-Meech commented on #129
Sounds like a good plan to me! Then people can view in github, or view the fancy formatting in github pages.

[2020-09-21 11:45] tischi commented on #129
Yes! @K-Meech: Go for it, I would say!

[2020-09-22 08:23] tischi opened #130 "Bookmark browsing for many sources that are spatially separated"
...such kind of data it could be convenient if the bookmarks were somehow accessible from the table…otherwise I find it a bit cumbersome to find them in the bookmark drop-down.

Or, via right click, where the context menu would only show the bookmarks that are relevant for the data sources that the mouse pointer hits.

[2020-09-22 08:39] constantinpape commented on #130
I agree that a simple list of bookmarks is a bit cumbersome to navigate.
For the covid-tomo project, I think the table is much more convenient; the bookmarks actually don't provide more functionality than the table.

But of course one could think of having multiple bookmarks per tomogram (or per spatially separated source).
Then having the bookmarks in the context menu would be an option.

[2020-09-22 08:57] jhennies commented on #113
Working like a charm! Thanks @K-Meech

[2020-09-22 09:14] yanschwab commented on #130
I agree in principle, that the table entry is straight forward and makes it easy to sort the tomograms according to specific features (columns), but, the drop down list of bookmarks is quite easy. It's likely that the readers will use the excel table, that is annotated, to browse the files and select the particular tomograms they are interested in.

[2020-09-22 09:20] #113 closed

[2020-09-22 09:42] K-Meech commented on #129
I put together a quick example in the repo: https://github.com/mobie/mobie.github.io e.g. I copied part of the readme as an example: https://mobie.github.io/tutorials/getting_started.html
Seems to all work well to me! I'll start adding some tutorials to the tutorials/ folder over the next few weeks.

[2020-09-22 11:04] vzinche commented on #129
Looks really cool! I'll try to add a small annotation tutorial

[2020-09-23 08:42] vzinche commented on #127
@tischi
Somehow this stopped working. Additionally, when I load [this bookmark](https://github.com/mobie/platybrowser-datasets/blob/4ad227b475fc90e9aedde1cdde76c1686dc97959/data/1.0.1/misc/bookmarks/manuscript_bookmarks.json#L798), and afterwards load [the next one](https://github.com/mobie/platybrowser-datasets/blob/4ad227b475fc90e9aedde1cdde76c1686dc97959/data/1.0.1/misc/bookmarks/manuscript_boo

[2020-09-23 08:52] vzinche commented on #114
@tischi a random request:
when you click on `Log Current Location` it shows you the position in brackets (). If you could remove them, it would be more copy-paste friendly, because the `location` field expects the position without brackets.
![Screenshot from 2020-09-23 10-51-36](https://user-images.githubusercontent.com/32451366/93989969-d7705980-fd8a-11ea-9ab3-784acfc5dfdf.png)

[2020-09-23 16:47] tischi commented on #127
@vzinche
Well spotted!
Somehow I did not merge below this fix into the current master 😕

[code]

Please update MoBIE-beta and try again.

[2020-09-24 07:09] tischi commented on #127
@K-Meech @vzinche @constantinpape
I think I know now where the 1000 comes from. If we applied a coloring model to a label mask image the image is converted to an 8-bit RGB image, where each color is displayed at its maximal brightness if one chooses contrastLimits from 0 to 255. If one chooses lower or higher max values all colors are brighter or dimmer, respectively. This is also how ImageJ behav

[2020-09-24 08:04] vzinche commented on #127
I think this thread describes it nicely:
https://github.com/napari/napari/issues/79

[2020-09-24 09:29] tischi commented on #127
@K-Meech
Do you have the capacity to give this a go?
I think for sure we would need to add/support a field `valueLimits` to the bookmarks for `ColorByColumn` where the coloring model is numeric.

[2020-09-24 10:09] K-Meech commented on #127
@tischi Sure! - happy to have a look into it. Although, it will probably have to wait until the week after next (it's the virtual arendt lab retreat next week)

[2020-09-24 16:24] K-Meech commented on #129
@constantinpape @tischi @vzinche I've put drafts of a bunch of tutorials in the repo - you can see the index.md here: https://github.com/mobie/mobie.github.io/blob/master/index.md with links to all the other pages, or the nicely formatted github pages version here: https://mobie.github.io/ Let me know what you think! I've adapted the info from the original readme into the tutorials, as I figured i

[2020-09-28 06:16] tischi commented on #127
@K-Meech

cc @constantinpape @vzinche

Your changes look good! Thank you!
Before I merge it though, we should coordinate with the others how to handle the transition period.

With Kimberly's changes a new field `valueLimits` will be supported for the bookmarks (see above) and the field `contrastLimits` will no longer be abused as `valueLimits` and the hack with setting the `contrastLimits` to `(0,

[2020-09-28 07:10] constantinpape commented on #127
That sounds like we should make a branch for this and change the bookmarks to the new format there and then test it with the changes you push to the MoBIE beta site.

[2020-09-28 07:25] constantinpape commented on #127
Ok, I made a new branch for this, feel free to push the relevant changes to it:
https://github.com/mobie/platybrowser-datasets/tree/value-limits

[2020-09-28 08:43] tischi commented on #127
Changes should be in MoBIE-beta now.
Happy testing!

[2020-09-30 06:01] tischi commented on #83
@K-Meech
To me, this (adding bookmarks from the UI), would be to most important enhancement of MoBIE.
If you have capacity, I think that would be the thing to work on 🙂

[2020-09-30 10:35] K-Meech commented on #83
@tischi I'm game! I agree this would be super useful, and something many users are waiting for...

Am I right that bookmarks are currently loaded from the 'project location'?
I guess we will need to support multiple cases then:
- Local project location = write directly to bookmarks folder of project
- Remote project location = support adding to github with api tokens etc, or save locally and then

[2020-09-30 11:16] tischi commented on #83
Yes and also yes to all the other things you said.

I think we also have to think how to manage that people cannot screw up stuff too much if everyone has write access in some form. For the `PlateViewer` project we employed a database server, but I think a "github only" solution would be nice to keep things a bit more simple.

One option to get started, as you mentioned, could be to implement an o

[2020-09-30 11:21] tischi commented on #83
...on the other hand, maybe it is easier to just for once figure out a clever way to get the api token stuff working such that not every user needs to create them (maybe via some "dummy account") and then just write everything to the main repo. I feel maybe in the end this is maybe the better and easier way, because everything is in one place.

[2020-09-30 11:30] tischi commented on #83
In terms of Java code, have a look at:

[code]

[2020-09-30 11:50] K-Meech commented on #83
Sounds good! I'll take a look. I guess my concern with having everything written to the main repo is that the bookmarks may become very cluttered i.e. many, many entries in the dropdown from lots of different projects making it hard for users to find their own bookmarks.

[2020-09-30 12:17] K-Meech commented on #127
@vzinche Could you check your bookmarks? I think probably only your bookmark 6F needs changing in the branch Constantin made above. "contrastLimits" is now for the whole segmentation (usually 0, 1000 limits) and "valueLimits" are the limits for the column you're colouring by.

[2020-09-30 12:28] vzinche commented on #127
Yup, I've just tested it (in value-limits) and it works!
@constantinpape, could I also use this branch to test the normalized view in the bookmarks?
Somehow MoBIE doesn't work when I give it my platybrowser fork as the Project Location

[2020-09-30 12:39] tischi commented on #83
My idea would be to make one bookmarks.json file per user, e.g. bookmarks-meechan.json, a.s.o.
Then we could think about giving the option in the UI not to see all of them, or have a nested tree UI.
Having one file per user also helps us to keep track of things.

[2020-09-30 12:47] constantinpape commented on #127
Sure

[2020-09-30 13:29] vzinche opened #132 "Normalized view throws exception"
I've changed my bookmarks to a normalized view [here](https://github.com/mobie/platybrowser-datasets/blob/fd3ddb64b06b4c2d62c141952d384069cab74a42/data/1.0.1/misc/bookmarks/manuscript_bookmarks.json#L739) in the branch value-limits. Now I get the same error as Constantin [here](https://github.com/mobie/mobie-viewer-fiji/issues/114#issuecomment-692770021)

![Screenshot from 2020-09-30 15-27-56](htt

[2020-09-30 13:39] constantinpape commented on #132
@vzinche Instead of `view` you need to call it `normView` [here](https://github.com/mobie/platybrowser-datasets/blob/fd3ddb64b06b4c2d62c141952d384069cab74a42/data/1.0.1/misc/bookmarks/manuscript_bookmarks.json#L738).

[2020-09-30 13:55] vzinche commented on #132
@K-Meech, @constantinpape should we then already fix all the views (that have to be fixed) in the value-limits branch and merge it?

[2020-09-30 14:59] K-Meech commented on #132
Sounds good! I'm (virtually) on the arendt lab retreat this week, but I could fix some on Monday

[2020-10-08 14:00] K-Meech commented on #83
So I'm modifying the bookmark code atm - it'd be good to have a way to only show certain bookmarks in the dropdown by default (e.g. for platy, default.csv and manuscript_bookmarks.csv), and then let the user choose any more they want to add later. Any ideas for a good place to store which bookmark .jsons should be loaded by default?

[2020-10-08 14:25] tischi commented on #83
Looks like we have this logic already?

![image](https://user-images.githubusercontent.com/2157566/95472048-da6e6b00-0982-11eb-9bbc-d2522b3fb61a.png)

[2020-10-08 14:52] K-Meech commented on #83
At the moment it still loads everything though (not just the default). I can change it to just load the default, but we'd have to move all our manuscript bookmarks into that file if we wanted them to appear straight away..

[2020-10-08 18:54] tischi commented on #83
True, up to you 👍

[2020-10-11 15:10] K-Meech opened #133 "Bookmark settings persist in source metadata"
Viewing a bookmark currently modifies the sources' metadata - this means that these settings persist in the current session. e.g. If you open the platybrowser, view the bookmark for figure 5C, then remove the cell segmentation from the viewer. Every time you add the cell segmentation after that it will add the additional tables from the bookmark /  colour by column etc..

@tischi - could we possib

[2020-10-12 07:26] tischi commented on #133
Thank for spotting this! I would almost call it a bug.

It is a bit tricky though, because maybe some modified metadata we want to persist, e.g. if a user change the brightness and contrast display settings.

But for sure I would agree that the metadata changes from a bookmark should not persist.

In fact, the whole `Metadata` class is a bit of a mess, grown historically.

Within MoBIE I tried to

[2020-10-12 08:59] K-Meech commented on #133
Ok - makes sense! This would work.
I see though that, at the moment, some of the changes you make in the viewer persist and some don't. e.g. changing the colour of a source modifies the metadata, but modifying the brightness does not. If you remove sources and add them again, it's pretty much just loading the default metadata (as none of the changes like brightness, adding tables, colouring by col

[2020-10-12 09:15] tischi commented on #133
Maybe that is easier indeed.

You could then just somewhere have two global maps
`Map< Source, Metadata > sourceToDefaultMetadata`
`Map< Source, Metadata > sourceToCurrentMetadata`
and then work like this?

If you don't want to change the current code too much you could then just instantiate new `SourceAndMetadata` objects for the appropriate current use cases, for example

[code]
or
[code]

For t

[2020-10-12 09:24] K-Meech commented on #133
Sounds good to me! I'll give this a go.
I'm modifying this as part of changes for the bookmark UI, so it'll go in a pull request with all of those changes.

[2020-10-12 11:00] tischi commented on #133
In principle it would be cool to only have the `MutableImageProperties` changing are the other ones should not change.
Maybe thus the global maps could work with the `MutableImageProperties` class and you on-the-fly convert to `Metadata` when you need it? Just an idea. A bit more work but long term maybe cleaner.

Also: The bookmarks use the `MutableImageProperties` class in terms of from and to J

[2020-10-12 11:21] K-Meech commented on #133
Good point - makes sense to use MutableImageProperties where possible.
The issue I'm having now, is that keeping the currentMetadata up to date is quite difficult. e.g. some calls like colorByColumn / adjusting the valueLimits from the table menu happen entirely in the imagej-utils table code. So triggering updates to metadata within mobie's sourcesPanel is difficult. Any ideas?

Might have to lea

[2020-10-12 13:12] tischi commented on #133
We can fix this later....I hope.

Maybe just pretend for now that the `MutableImageProperties` (or `MetaData`) are always up to date and get the rest of the code working?

Maybe let's make a list:

- [X] `setSourceColor` this seems to be updated properly already, right?
- [X] `createBrightnessButton` this should also work, because the current settings are accessible via `sam.metadata().bdvStackSou

[2020-10-13 08:26] K-Meech commented on #133
Thanks for the pointers - I had a look yesterday, and I think I can update most of the settings now. I'll get the rest of the code working, and then we can fix the last few.

[2020-10-13 09:02] tischi commented on #133
In principle you only have to do this, when a user wants to create a bookmark, right?

I would imagine code like this:

1. Create bookmark
2. Loop through all currently visible sources and create `MutableImageProperties` for them
3. Save a json file

Is that correct or am I missing something?

[2020-10-13 09:16] K-Meech commented on #133
Yes - we only need to do this when a user wants to make a bookmark. It's only complicated if there are properties we can't read directly at that moment e.g. I don't think there's an easy way to access which extra tables are currently loaded

[2020-10-13 09:25] tischi commented on #133
The `TableView` class could keep track of this and then provide a `get` method for this information.
Would that work? Could you add it?

[2020-10-13 09:32] K-Meech commented on #133
Sure - that would work! I'll add it

[2020-10-16 10:32] K-Meech commented on #127
@vzinche @constantinpape I finally got around to changing the rest of the platy bookmarks to use normView in the 'value-limits' branch of platybrowser-datasets. Can we merge this branch now?

[2020-10-19 11:17] constantinpape commented on #127
Works for me. Go ahead and merge, if that's also ok with @vzinche.

[2020-10-19 12:33] vzinche commented on #127
OK with me :+1:

[2020-10-19 16:14] K-Meech commented on #127
merged!

[2020-10-19 16:14] #127 closed

[2020-10-28 07:20] tischi opened #135 "Enums...."
@K-Meech

I did not find the issue, but I think we considered making something an `enum` 🙂

I found some code that shows how to use them in a dialog:

[code]

[2020-10-28 17:47] K-Meech commented on #135
Thanks! I made the changes - it was the enum for Project vs File_system location that needed changing.

[2020-11-03 09:51] jhennies opened #137 "3D viewer doesn't work well on large segmentation"
Hi all,

We noticed that the 3D visualization of the Covid data does not render very nicely:
![mobie_3dviewer](https://user-images.githubusercontent.com/6114948/97970605-0b935d00-1dc2-11eb-8d50-72bf091aedd2.png)

Is this intended, e.g. for computational reasons, and only meant to show a smaller number of selected objects?

[2020-11-03 10:01] jhennies opened #138 "Contrast limits has no effect in "regular" Mobie update site version"
Hi @tischi,

in mobie from the regular update site the contrast limits setting in images.json has no effect on the startup brightness and contrast setting in BDV and the segmentation appears a bit dim.
In the mobie-beta version it works just fine.

Can I ask you to update the main mobie update site? (It is quite important as the Covid publication goes online soon)
Or do you think there is a differ

[2020-11-03 10:17] constantinpape commented on #137
I think the problem is that we have used this mainly for larger connected objects. For these, it makes sense to compute the mesh on a lower resolution (for computational reasons, but also for smoother meshes).

In this case, where we have one label that comprises a lot of small disconnected objects, the resulting meshes don't look good.

[2020-11-06 10:06] tischi opened #139 "Annotate Skip None Default"
@vzinche @constantinpape
I would like to change to default for `Skip None & NaN` to `False`. You can still change it by one click.

Reason: Normally, if people want to annotate they exactly want to annotate the ones which are not yet annotated, i.e., the ones that are `None`.

I think our use case where one wants to correct annotations is more rare.
Ok for you?

[2020-11-06 10:24] tischi opened #140 "Annotate Default Color for None"
@vzinche @constantinpape @K-Meech

Would it be Ok if I changed the default colour for the `None` objects to some dark grey (it would look like below)?
I think it is nicer to be able to see which segments actually exist in an image.

### Boundary mode (Ctrl + B)

![image](https://user-images.githubusercontent.com/2157566/98355466-72af4c80-2022-11eb-9fd5-e7b81e29e390.png)

### Filled mode

![image](

[2020-11-06 10:26] K-Meech commented on #83
@tischi I've been in a load of conferences over the last few weeks, so never got around to uploading my changes to mobieBeta. Should I do this now? I know there were some problems with the s3 storage - is this all fixed now?

[2020-11-06 10:33] K-Meech commented on #140
Fine with me - but could it be optional? Having None displayed as transparent is very useful for me when making figures that only focus on a certain region / subset of cells.

[2020-11-06 10:38] constantinpape commented on #83
Yes, this should all be fixed now.

[2020-11-06 10:41] constantinpape commented on #139
So this means the segments that are labeled `None` will not be skipped and we can set a label for this in the annotation mode?
If so, I agree; annotating the unlabeled is probably a more common use-case and should be supported.

[2020-11-06 10:49] constantinpape commented on #140
Is it possible to change the colour to transparent?
If so, I think it's ok to change it.

[2020-11-06 10:51] tischi commented on #140
1. Sure, just click on the `[ C ]` button next to `None` and you can change the colour to black (= transparent in our current blending mode).
2. I will **_only_** change this for the default of the anntotation mode! Otherwise the `None` and `NaN` and `0` and `0.0` will stay transparent as we are used to.

[2020-11-06 10:54] tischi commented on #139
Yes, and it is just one checkbox click to change this:

![image](https://user-images.githubusercontent.com/2157566/98358297-c754c680-2026-11eb-8736-97938651efe5.png)

[2020-11-06 10:59] vzinche commented on #139
Fully support the idea!

[2020-11-06 11:02] K-Meech commented on #140
Ah ok - sounds good to me! If it's just for annotation mode, then it makes total sense.

[2020-11-06 11:08] tischi opened #141 "Annotate: Selected vs not selected, how to indicate"
@vzinche @constantinpape @K-Meech @ssgpers

Any good ideas for how to indicate which object(s)  are selected **for annotation**?
I think the modalities that we have are still not ideal:

[code]

I think the issue with changing the selected objects colour is that you cannot see anymore as which class they were annotated in case they already had an annotation that you would like to change.

Currentl

[2020-11-06 11:10] tischi commented on #83
Why now? 🚀

[2020-11-06 11:11] #139 closed

[2020-11-06 11:16] K-Meech commented on #83
I just thought people could test it out a bit / see if we need to change anything. No pressure though - whenever is easiest! :)

[2020-11-06 18:35] tischi commented on #83
Sorry! I wanted to write:

Why **not**?

Sure, go for it!!!!!!!!

[2020-11-06 18:37] tischi commented on #141
What about a purple point overlay? I think we had this already in some other context.

![image](https://user-images.githubusercontent.com/2157566/98402397-816c2280-2067-11eb-9905-95733e8fb222.png)

[2020-11-09 08:21] tischi commented on #138
@K-Meech
Do you think we could make the current MoBIE-beta the alpha?

[2020-11-09 08:35] tischi commented on #137
@constantinpape @jhennies

If you click on the MoBIE main UI there is a menu item `Preferences`:

![image](https://user-images.githubusercontent.com/2157566/98517579-6b7c7e80-226e-11eb-9bd5-c4dd907158af.png)

There you can set the voxel spacing in 3D:

![image](https://user-images.githubusercontent.com/2157566/98517375-20626b80-226e-11eb-997b-c20af2e082b8.png)

However, we never used this much and

[2020-11-09 08:41] constantinpape commented on #137
Yes, this is what we are looking for. Let us know when you fixed the caching bug, then we ca test it.

[2020-11-09 08:55] jhennies commented on #137
Yes, @tischi, this is exacly what we are looking for. Thanks for looking into it!

[2020-11-09 09:56] vzinche commented on #141
Sorry, I am fully lost in what's happening here.
Can you explain the current logic?
And what is this purple point overlay? :)

[2020-11-09 10:33] tischi commented on #137
I am on it.
What kind of image is it?
We have those:
[code]

[2020-11-09 10:35] jhennies commented on #137
It's a segmentation

[2020-11-09 10:36] tischi commented on #137
Thanks, but then currently only "selected segments" are shown in 3D, right?
How did you select them to make them appear in the 3D viewer?

[2020-11-09 10:37] jhennies commented on #137
We actually put all DMVs as one label. all golgi in another, and so forth. What I selected was the DMV label

[2020-11-09 11:34] tischi opened #142 "TableView: select row"
@constantinpape @vzinche @HernandoMV @jhennies

I think we discussed this somewhere else but I cannot find it.

Should we change the behaviour when one clicks on a table row, such that it will only focus the selected segment in BDV, but does _not_ at the same time select it? This would imply that it is not shown in 3D unless it is selected within BDV, using `Ctrl Left-click`.

[2020-11-09 11:49] tischi commented on #137
This is how it looks now. I fetches the resolution layer that's closest to the asked for voxel spacing and then replaces **all images**, also the ones that are not segmentations in the 3D view. The users need to be careful, because showing the "wrong" sources and asking for a high resolution may lead to downloading TBs of data (and out-of-memory crash).

![image](https://user-images.githubusercont

[2020-11-09 11:59] jhennies commented on #137
How about a warning dialog if a high resolution is selected, such that a confirmation of a 'dangerous' setting is required?

[2020-11-09 12:22] K-Meech commented on #83
@tischi @constantinpape @vzinche
I've updated mobieBeta to the latest version. If you have time, it'd be great if you could try out the new bookmark logic. The main changes are summarised at the top of the pull request: https://github.com/mobie/mobie-viewer-fiji/pull/134.
For saving bookmarks to the project, you need a github access token - this will write directly to the github repo. So maybe try

[2020-11-09 12:36] K-Meech commented on #138
I think it looks good to me. Although, some of the bookmark changes may need some adapting to. e.g. if the covid repos have multiple bookmark files (not just the default), they will no longer be automatically loaded. Don't know if that's a problem?

[2020-11-09 12:38] tischi commented on #138
@K-Meech Regarging this, could you check with martin and julian whether MoBIE-beta works for them?

[2020-11-09 12:40] K-Meech commented on #138
Sure - will do.

[2020-11-09 12:54] jhennies commented on #138
@tischi for me the MoBIE beta works just fine

[2020-11-09 13:09] constantinpape commented on #137
Yes, I think it's a good idea to move it in the context menu.
If you do that, would it maybe make sense to set it as a per source option instead of changing it for all sources globally?

Ok, I think this answers my question above :D. So yes, I agree we should have the option for different sources at different resolutions first.

Yes, I think that would be good. But I would still propose a conserva

[2020-11-09 13:11] constantinpape commented on #83
Ok, I will try to test it soon!

[2020-11-09 13:21] tischi commented on #137
@K-Meech @constantinpape

@jhennies would like to add something like
`resolution3Dview`
to the bookmarks.

This would determine the default resolution of the 3D rendering.
This could be changed later in the UI, via the context menu, probably something like

`Set 3D rendering voxel size...`

[code]
* or maybe a checkbox array to select to which sources this new resolution setting should be applied.

[2020-11-09 13:23] tischi commented on #137
(ok in fact I thought the answers from Constantin were from Julian ;-)
So that already makes for a majority vote.

@K-Meech: Since you are the Bookmarks god by now, could add the code to support this new metadata field?
I would write the code that consumes it.

[2020-11-09 13:55] K-Meech commented on #137
@tischi sure - will do! :)

[2020-11-09 14:04] tischi commented on #137
Cool! Thanks! 🚀
I just updated imagej-utils and mobie with some changes towards this, please pull and let me know once you have something and then I will take it from there.

[2020-11-09 14:37] K-Meech commented on #137
Ok - I added it to the metadata (pull requests on both repos now). I made a note here: https://github.com/mobie/mobie-viewer-fiji/pull/143, but you will need to add a getter for the current value of this 3d resolution parameter so I can save it to a bookmark.

[2020-11-09 16:28] tischi commented on #137
@K-Meech
Seems to work:
![image](https://user-images.githubusercontent.com/2157566/98567897-c5059d00-22b0-11eb-89af-00317dc9da9b.png)
I pushed all changes.
Could you please:

1. Play with it to find bugs?
2. Check whether this works for the bookmarks?

[2020-11-10 11:34] K-Meech commented on #137
@tischi I have problems running the 3d parts locally in intellij. When I tick 'V' to show objects in 3d it errors with:

[code]
Any ideas? I'm pretty sure the 3d has never worked in my intellij, so I think it's something to do with my local setup. I'm running jdk1.8.0_271

[2020-11-10 11:45] tischi commented on #137
Interesting, I am using the same JDK.
Google: `java.lang.NoSuchMethodError: java.nio.ByteBuffer.rewind()Ljava/nio/ByteBuffer;`
...indeed indicates it has to do with the JDK...

Could you just try running this `DevelopAnnotationCorrection` in the `test` folder of imagej-utils?
If you select (Ctrl + Left-click) on an object in bdv it should show it in 3D. Are you getting the error as well?

[2020-11-10 11:50] tischi commented on #137
[code]

[2020-11-10 11:53] K-Meech commented on #137
Actually it works for DevelopAnnotationCorrection! Weird, not sure why it's an issue in mobie then...

[2020-11-10 11:59] tischi commented on #137
1. Maybe you are using a different jdk for MoBIE?
2. Which version of java is used to `mvn clean install` imagej-utils? Frankly I would not know for myself, but something to check!

[2020-11-10 12:48] K-Meech commented on #137
I checked and it's the same jdk for both, and the same for maven. Hmmmm... I'll do some more searching.

[2020-11-10 13:01] K-Meech commented on #137
aha - I found the issue! I'd built your version of java3d-core https://github.com/tischi/java3d-core with a newer jdk, hence the error. Works now :)

[2020-11-10 16:17] joshmoore opened #144 "Build fails on SNAPSHOTS (master & 0.6.0)"
see: https://github.com/mobie/mobie-viewer-fiji/issues/81

I'm failing to build m-v-f both from master and from v0.6.0 due to:

[code]

It looks like if I check out and install:

 * https://github.com/bigdataviewer/bigdataviewer-vistools/commit/d6479aef7e4994e94b68d9c3aee6f160a188d6e4
 * https://github.com/saalfeldlab/n5-aws-s3/commit/a203b59b8cdef08d7aec672b020c03a15b8f2a99

that this will start

[2020-11-10 16:37] joshmoore commented on #144
With these additional local changes:

[code]

I'm now seeing:

[code]

[2020-11-10 16:43] joshmoore commented on #144
On master, adding in:

 * https://github.com/tischi/imagej-utils

with

[code]
allows the build to pass :tada:

[2020-11-10 16:56] tischi commented on #144
Yes, that's ok! The SNAPSHOT version is just fixing a bug leading to some ugly "error message" in the ImageJ console.
Curtis said actually rebuilding this jar properly was too much work, thus we kept the SNAPSHOT version.

The other snapshot versions should go away, yes.
The current master is not a release version....

[2020-11-10 17:47] K-Meech commented on #137
@tischi I played around with the 3d changes, some possible issues:

- If you change the 3d resolution (while they are being shown in 3D viewer), you lose the colour of the sources in the 3D view.
- 3d resolution doesn't work with saving bookmarks. This is an issue with how the bookmark code is structured - I can fix this (should only be a line or two change)
- setting the 3d resolution persists wh

[2020-11-10 17:50] joshmoore commented on #144
Ok, so to recap:

 * **master** fails only on java3dcore. "The current master is not a release version...." of course makes sense, but it's still a surprise which is why I tried:
 * **v0.6.0** (a release version?) which fails with all of the above.

Would it be an option to have the released version of j3dcore as the default but a profile or similar for using the SNAPSHOT? (Where are you getting y

[2020-11-10 17:58] tischi commented on #144
### j3dcore

Frankly this j3dcore issue is above my head, but it would be awesome to find some kind of solution for it!

This is where I get it from: https://github.com/scijava/java3d-core
For the issues see here: https://github.com/fiji/3D_Viewer/issues/26

[2020-11-10 18:03] joshmoore commented on #144
And build it locally?

I'll take a look. Thanks.

[2020-11-10 18:03] tischi commented on #144
### bdv-vistools

I don't understand why you need a special version there. I don't specify anything so I am assuming its just the default of the parent pom that's specified. In fact, when I comment out the whole dependency it runs for me.

[2020-11-10 18:05] tischi commented on #144
### imagej-utils

This is my own stuff. Since this is not a release version you would need to build locally from
https://github.com/tischi/imagej-utils

[2020-11-10 18:08] tischi commented on #144
### n5-aws-s3

Also here I am surprised. This is just the default version of the scijava parent pom.
https://github.com/scijava/pom-scijava/blob/pom-scijava-29.2.1/pom.xml#L729

[2020-11-10 18:12] tischi commented on #144
### bdv-core

This is an issue, because the next release after `9.0.6` is `10.0.0`: https://github.com/bigdataviewer/bigdataviewer-core
(see `tags`)
I am using `9.0.7-SNAPSHOT` because of a critical n5 reader bug fix.
I cannot use version `10.0.0` because this is too new and will screw up several other things.
So, not sure what to do at this stage.

[2020-11-10 18:13] tischi commented on #144
...should we ask Tobias whether he could release a version `9.0.7`?
Maybe he can find the commit back, which was Saalfeld merging my PR to fix the n5 bug ;-)

[2020-11-10 18:14] tischi commented on #144
Yes, I build it locally.

[2020-11-10 18:17] tischi commented on #144
...everything I said refers to the current **master** only.

[2020-11-10 19:14] tischi commented on #137
Thanks a lot for testing!!!

- ad 1. I could try to figure this out and fix it (unless you want to, of course)
- ad 2. & 3. could you tackle those? I don't feel strongly about persistence, could you ask our power users what they prefer?

[2020-11-11 10:08] K-Meech commented on #137
Sounds good! If you figure out 1., then I'll look at 2. and 3. :)

[2020-11-11 10:13] K-Meech commented on #137
@jhennies @constantinpape
Do you have a preference for persistence of setting the 3D resolution through the menu?
i.e. if you add a source, change the 3d resolution, then remove it. Would you like it to keep that resolution the next time you add it? (within that session) Or instead load the default from images.json again?

[2020-11-11 10:23] constantinpape commented on #137
I think I would prefer to use the default from the images.json again; the other option introduces some fairly hidden state. But I don't feel strongly about this, so I won' object if you solve it the other way.

[2020-11-11 10:45] tischi commented on #137
@K-Meech  In fact, could you provide me with a concrete example when this happens?

[2020-11-11 10:49] jhennies commented on #137
For the sake of the user experience, I would prefer keeping the changed setting for that session. However, I also don't feel too strongly about this, so if there is a high risk for bugs then I would be happy with it loading the defaults.

[2020-11-11 10:51] K-Meech commented on #137
@tischi sure
- add one of the prospr genes e.g. ache
- tick V to show it in 3D
- give it a colour
- change the 3d resolution

You should see that colour then goes back to gray.

[2020-11-11 11:43] K-Meech commented on #137
ok - thanks @jhennies @constantinpape . I think I'll go for loading from defaults for now. None of the other settings persist, so it's more consistent if the 3d resolution also doesn't. It can always be changed later, if it's too annoying - it's a pretty minor change to the code.

[2020-11-11 12:54] tischi commented on #137
@K-Meech should be fixed now in latest master.

[2020-11-11 14:28] K-Meech commented on #137
@tischi colour changes work now!
Also, I made a pull request that fixes issues 2 and 3

[2020-11-12 07:32] tischi opened #146 "Open n5-aws-s3 the simple way"
@joshmoore

If you manage to build this repo, there is in fact a very easy way to load a n5-aws-s3 data set.

You just need to execute these lines of code:

[code]

The content of the `mhcl4-n5-aws-s3.xml`being:

[code]

1. Let me know if that works for you.
2. If yes, a next step would be to test whether that also works for the data that I uploaded to your s3 bucket.
3. It is then also easy to lo

[2020-11-16 08:21] tischi commented on #146
@joshmoore

Could you enable `Anonymous` read access to your s3 storage where I am currently uploading the data to such that I could try reading data from there with a modified version of above xml?

[2020-11-16 08:28] joshmoore commented on #146
@tischi : `idr-upload` can't be easily reconfigured since it's intended for private uploads. I can start migrating the data to a public bucket though.

[2020-11-16 09:53] tischi commented on #146
@joshmoore
Ok, but I am also still copying into the big file.
I sent you a mail.

[2020-11-16 20:09] tischi commented on #144
@joshmoore
I think the only remaining issue now is the j3dcore dependency.
Do you have any ideas how to fix this?

[2020-11-17 07:53] tischi commented on #144
@joshmoore
I pushed some changes to master.

1. Could you please try whether you can build it now (following the instructions in the pom regarding the j3d-core dependency)
1. I suggest we leave the issue with j3dcore, because we have enough other things to do and it is not critical.

[2020-11-17 08:19] vzinche commented on #142
If it only focuses, but doesn't select, will it still show only the clicked cell in color? Because this is what I would rather keep

I am not an active 3D view user, but I am really satisfied with all the other behaviors of click vs select at the moment

[2020-11-17 11:40] tischi commented on #142
No, all cells would keep their colour....

[2020-11-17 11:56] constantinpape commented on #142
Would it be possible to have two different modes in the table:
- `Left-click`: only focus but do not select the cell
`Ctrl Left-click`: select the cell (current behaviour)

[2020-11-17 17:07] joshmoore commented on #144
[code]

(from master's abfa4d7e398f69495267b31e58a40067d0089f58) works for me. (My preference would be to have the default for j3dcore.version be the buildable default, but I'll survive :smile:) Thanks.

[2020-11-17 17:11] tischi commented on #144
Ok, I close. Hope that's fine.

[2020-11-17 17:11] #144 closed

[2020-11-18 19:16] tischi commented on #142
@constantinpape

Excellent idea!

I even managed to implement this, listening to `JTable` events is a bit mysterious... ;-)

There are still two options now:

1. `Ctrl Left-click`: select the cell if it was not selected; do nothing if it was selected already
2. `Ctrl Left-click`: select the cell if it was not selected; deselect the cell if it was selected already

Option 2 would be the same as it

[2020-11-18 19:35] constantinpape commented on #142
yes, I am also for option 2.

[2020-11-18 20:50] tischi commented on #142
I implemented it like this. Hope that's fine. Otherwise please reopen.

[2020-11-18 20:50] #142 closed

[2020-11-18 20:51] tischi commented on #137
I'll close this for now.
Please reopen if needed.

[2020-11-18 20:51] #137 closed

[2020-11-18 20:52] #140 closed

[2020-11-18 20:52] #135 closed

[2020-11-18 20:53] #133 closed

[2020-11-18 20:53] #125 closed

[2020-11-18 20:56] #82 closed

[2020-11-18 20:57] tischi commented on #62
@K-Meech
Is this still an issue?

[2020-11-18 20:58] tischi commented on #60
@constantinpape
Is this still an issue?

[2020-11-18 20:58] #19 closed

[2020-11-18 21:03] tischi commented on #126
Hi @K-Meech @vzinche @HernandoMV @yanschwab @martinschorb @jhennies,

I just updated MoBIE-beta.

If you think that version is good enough to become the new alpha, please add a thumbs up!

Thanks a lot for testing!

PS: @martinschorb when going through the issues I saw that there are still a number of very relevant and good suggestions from you that I did not yet find the time to work on. I'll try

[2020-11-18 21:45] constantinpape commented on #60
No, I haven't seen this in a while, gonna close.

[2020-11-18 21:45] #60 closed

[2020-11-19 09:57] K-Meech commented on #62
Having a quick look on the arendt share - it seems like the default.csv files that had relative paths in them, are now full tables. @constantinpape - are you still using any relative paths in the default.csv files?

[2020-11-19 19:55] constantinpape commented on #62
@K-Meech yes, we still have some relative paths, for example
[code]

[2020-11-20 09:25] K-Meech commented on #62
Just checked - this is still an issue. Viewing the nuclei segmentation gives this error:

[code]

[2020-11-20 11:34] tischi commented on #126
Ok, I released `mobie-0.5.3`
Fingers crossed that is works!

[2020-11-24 10:15] K-Meech opened #149 "making mobie projects through the UI"
@tischi @constantinpape
I probably missed an issue for this somewhere - but it'd be great to be able to make new mobie projects through fiji! This is the main barrier for many people in our lab to use mobie (as they can't use Constantin's python library)

i.e. making the mobie folder structure easily / converting to bdv format / setting the starting metadata for different images...

I'm happy to h

[2020-11-24 10:19] tischi commented on #149
In fact, I think this is critical if we want to publish the whole thing.
It would be **_amazing_** if you could drive this!

[2020-11-24 10:35] K-Meech commented on #149
Great! I have some time this week, so happy to start taking a look.

Main things would be:
- making the mobie folder structure
- defining datasets (i.e. making datasets.json)
- defining starting metadata for images (i.e. making images.json)
- converting images to bdv format
- I guess making the default.csv for any segmentations?

Anything else I'm missing here?

[2020-11-24 10:53] constantinpape commented on #149
Yes, it would be great to have this in fiji.

The initial bookmark file. Otherwise that's all we would need, I think.

[2020-11-24 11:41] K-Meech opened #150 "Image data storage modality defaults to s3 for local projects on Windows"
Opening a local project on Windows e.g. Z:\Kimberly\repos\platybrowser-datasets, uses s3 as the image data storage modality.
Is this an issue with the path structure for Windows?

[2020-11-24 11:44] constantinpape commented on #150
I think the behavior is the same in Linux; I think right now the only way to open from file system is to use the expert mode:
`Advanced -> Open MoBIE Project Experts`, there you can select FileSystem explicitly.

[2020-11-24 11:51] K-Meech commented on #150
Ah ok - I'll use Expert Mode instead then.

[2020-11-24 13:30] tischi commented on #150
Of course! Experts should use Expert Modes, always 😄

[2020-11-24 15:58] #150 closed

[2020-11-25 10:31] K-Meech commented on #149
@tischi Do you have any suggestions for the bdv conversion?
I know there are plugins for converting to h5/n5 in fiji, so I'll take a look at what functions they use. Otherwise, I guess there are functions to convert random accessible intervals to h5/n5 in imglib2?

[2020-11-25 10:51] tischi commented on #149
One of those repos https://github.com/bigdataviewer  should have code for `ImagePlus => h5` and `ImagePlus => n5`.
I think that's all you need, is it?

[2020-11-25 10:55] K-Meech commented on #149
I guess there's an issue with the size of images. It'd be good if we could convert e.g. our big EM datasets that don't fit in RAM. But, if I use imageplus, I have to load the whole thing right?

[2020-11-25 11:02] tischi commented on #149
Nope, you can use VirtualStack: `[ File > Import >Image Sequence ] [ X ] open virtual` or `[ File > Import > TIFF Virtual Stack ]`.
And in general, everything you open with the Bio-Formats Importer can be opened virtual (lazy loading).

There was however an issue with a memory leak saving virtual stacks to h5 (@constantinpape may remember).
But your efforts would be a good reason to try fixing thi

[2020-11-25 11:07] constantinpape commented on #149
Yes, this was one of the reasons we switched to my code in the beginning, because the conversion in imagej did not work for the large platy datasets.

I am not sure how well all doing this in fji will work , for very large datasets in any case, because for this you would want to have a the cluster involved ...
But already being able to create something for reasonably sized data from fiji would be

[2020-11-25 11:12] K-Meech commented on #149
Ok great! Let me try with ImagePlus and virtual stacks first, and see how it works with some of our mid-sized datasets.
I guess there are two ways we can go here:
- Users open their image in fiji (as they usually would), then we have some command to take the currently open image and convert it / add to the project
- Or, we have a command that opens file selection, for users to select their images.

[2020-11-25 14:17] tischi commented on #149
Start with the first option.
Once you have that running it should be easy to implement the second.

[2020-11-26 09:49] constantinpape opened #151 "Annotation mode window "looses" gui elements for too many categories"
If a user adds many categories the lower part of the annotation gui vanishes and cannot be recovered by resizing the window and there is no scroll option, see the screenshot below.
This was reported on a mac, not sure if this is an issue on linux / windows as well.

![PastedGraphic-3](https://user-images.githubusercontent.com/4263537/100335258-10b88600-2fd5-11eb-8048-1ebdacb5ef35.jpg)

[2020-11-26 18:25] constantinpape opened #153 "Add recent covid publication to "Open Published Projects""
This is the publication
https://www.sciencedirect.com/science/article/pii/S193131282030620X
corresponding to these two repos:
https://github.com/mobie/covid-tomo-datasets
https://github.com/mobie/covid-em-datasets

[2020-11-27 09:59] tischi commented on #153
@K-Meech
Would you like to do this? You'd have to add it to the class `PublishedProjectsCreator`.

[2020-11-27 10:50] K-Meech commented on #153
Sure! Pull request here: https://github.com/mobie/mobie-viewer-fiji/pull/154

[2020-11-27 13:02] #153 closed

[2020-12-01 11:31] K-Meech commented on #149
@constantinpape I'm looking at making the default tables for segmentations. Could you point me towards your code for calculating the anchors / bounding boxes?  I found part of it here: https://github.com/mobie/mobie-utils-python/blob/ed0af38c41f29e49b72d61eee1cb993531cd35f1/mobie/tables/default_table.py, but I think you're using some stuff from cluster tools?

[2020-12-01 13:28] tischi commented on #149
Hi @K-Meech,

@constantinpape knows this, but  I think it is important to mention here that I got involved in the new image file format `ome.zarr`, which is very similar to `n5`, but the specifications will probably include storing the label image and the feature tables inside of the image container, so something like:
[code]

This thread is relevant: https://github.com/tischi/i2k-2020-s3-zarr-wor

[2020-12-01 17:09] K-Meech commented on #149
Ok cool - I'll keep it in mind!

[2020-12-02 08:29] constantinpape commented on #149
Yes, it uses this [workflow](https://github.com/constantinpape/cluster_tools/blob/master/cluster_tools/morphology/morphology_workflow.py) from cluster tools in order to compute the table for segmentations of arbitrary size.

But you don't need to look at the code, the statistics calculated are fairly simple:
- anchor: this uses the center of mass of the object (note that this might be outside of t

[2020-12-02 14:12] K-Meech commented on #149
Ok - thanks!
@tischi - any pointers for good java implementations of centre of mass / bounding box for large label images? I imagine there are some imagej ops for this...

[2020-12-02 19:08] tischi commented on #149
For each label? Have a look at the function `Segments3DView.setSegmentBoundingBox(...)` in imagej-utils.
This is the best I could find for this purpose.

[2020-12-03 10:29] K-Meech commented on #149
I had a look - the issue is that, for this function, you already know which label ids are present and their centre points (from the table). Then you flood fill from this known centre to find the bounding box (I think?)
I'm trying to generate the table from scratch though, so I would need to:

- Find which label ids there are in the image
- Find their centres
- Find their bounding boxes

[2020-12-03 11:26] joshmoore commented on #149
There is also a BDVReader so _technically_ bioformats2raw should also work. ;)

[2020-12-03 13:15] tischi commented on #149
@K-Meech using this would be even (much) better because then we could readily switch to ome.zarr
@joshmoore Thanks a lot! Could you point Kimberly to the Java API, because I think she would not want to make system calls if it can be avoided. On the other hand for triggering conversion on the computer cluster `bioformats2raw` may be better but I think we also want a Fiji only solution for smaller p

[2020-12-03 13:23] joshmoore commented on #149
👉  [Converter.java](https://github.com/glencoesoftware/bioformats2raw/blob/master/src/main/java/com/glencoesoftware/bioformats2raw/Converter.java) is the class which drives `bioformats2raw`.

An example of the equivalent of `bfconvert` would be: https://github.com/ome/bio-formats-examples/blob/master/src/main/java/FileConvert.java

[2020-12-03 13:32] K-Meech commented on #149
Great - thank you both! I'll take a look

[2020-12-03 15:27] K-Meech commented on #149
@joshmoore @tischi I had a quick look, but I'm still unsure how to use it.
I can call the Converter directly to give an intermediate n5/zarr file - can this then be opened directly by bdv? Or do I then need to convert this to bdv style?
Also, it looks like bioformats2raw is a gradle project (I'm very new to gradle!). Is there an easy way to include it as a dependency in a maven project? Thanks!

[2020-12-04 12:01] tischi commented on #149
In principle, yes, using code that I last week added to MoBIE-beta:
- https://github.com/mobie/mobie-viewer-fiji/tree/s3zarr/src/main/java/de/embl/cba/mobie/n5/zarr

But I think currently it only works if it is stored on S3 ;-)

Can you mail me a small demo file?

[2020-12-04 14:54] K-Meech commented on #149
I'm having some trouble running it. Just noticed, it needs blosc installed separately:
[code]
So I'm not sure this will work for a java only solution? I think we'd need everyone to also install c-blosc?

[2020-12-04 14:56] joshmoore commented on #149
Hi @K-Meech, you can turn off the compression completely via a flag. It should work then even without c-blosc installed. I imagine in the mid-term a Jar will be available that has blosc support wrapped into it.

[2020-12-07 09:36] vzinche opened #155 "Save Columns As doesn't work properly after columns moved"
In the whole-segmented-cells table I move some columns left and right (to have the necessary ones closer). Then I try to `save columns as`, I choose the names of the columns that I want, but what gets saved is not the content of the columns with the names I've chosen, but rather the content that was on these positions before I moved the columns.

For example, if I move the column `trace_id` to the

[2020-12-07 09:44] vzinche opened #156 "Annotation from scratch doesn't work"
Maybe I am doing something wrong, but `Annotate -> Start new annotation` changes the color in the table, but doesn't update the label from None:
![Screenshot from 2020-12-07 10-41-31](https://user-images.githubusercontent.com/32451366/101335211-2ea9a480-3879-11eb-8299-accbac056bb1.png)

[2020-12-07 16:01] K-Meech commented on #149
Hi @tischi - I ended up refactoring some parts of 'ImagesJsonParser' to use try-with-resources blocks. https://github.com/K-Meech/mobie-viewer-fiji/blob/project_from_ui/src/main/java/de/embl/cba/mobie/image/ImagesJsonParser.java#L53  It seemed like they were leaving streams open otherwise, and interfering with creating / deleting files (at least on windows). Do you mind if I refactor the rest of t

[2020-12-08 08:33] tischi commented on #149
@K-Meech Fantastic initiative! Go for it! I did not even know this exists in Java, I just knew it from python `with ...`.

[2020-12-08 08:41] tischi commented on #156
You mean if you press the button `1` it does not update the text in the table?
In other words: did you press `1`? If so, this is a bug!
MoBIE-beta?

[2020-12-08 08:42] tischi commented on #155
Thanks for finding this out!
This is a bug and I will work on fixing it!

[2020-12-08 09:06] vzinche commented on #156
Yes, I select a cell by Crtl-clicking either a row in the table or the cell in the bdv window. Then I press `1`, the cell changes it's color to green both in the table and in the bdv, but doesn't change the label.
It's MoBIE-beta

[2020-12-08 09:16] tischi commented on #156
Thanks! Bug! I will try to fix it today!

[2020-12-08 09:26] tischi commented on #156
I cannot reproduce this using `imagej-utils-0.5.7-SNAPSHOT`:
![image](https://user-images.githubusercontent.com/2157566/101464879-86aade80-393f-11eb-9c2b-4d65762b32ee.png)
I will check later in MoBIE...
(in meetings now for few hours)

cc @K-Meech, did you try the Annotator recently?

[2020-12-08 09:37] vzinche commented on #156
Nevermind, this was my mistake. I gave my annotation the name that was already present in the table.

[2020-12-08 09:37] #156 closed

[2020-12-08 10:12] tischi commented on #156
Could you elaborate? Maybe we should throw an error in such a case?

[2020-12-08 10:20] vzinche commented on #156
That's a good point, we should.
Basically, when you start a new annotation, you have to name it, and this will be the column name. So in my case there was already a column with the same name in the table, so when I was assigning categories during the annotation, they were assigned to the wrong column.
So what would be great is to add a check whether the new annotation name already exists, e.g. "Th

[2020-12-08 16:49] K-Meech commented on #149
Alright - working prototype here!: https://github.com/mobie/mobie-viewer-fiji/pull/157
Main changes summarised at the top of that pull request.

Things that need to be added in future:
- ome.zarr format support
- Adding images through the main panel (rather than grabbing the currently open image in fiji)
- Adding existing bdv-format images to a project (we often have this scenario when we already

[2020-12-10 16:56] tischi opened #158 "Interactive Scatter Plot"
A(nother) dream come true, at least for me!

🎆

I wanted to have this for a loooooong time but never got around to implement it properly.

Thanks to @bogovicj and @axtimwalde for very useful pointers regarding the implementation.

--------

![image](https://user-images.githubusercontent.com/2157566/101799570-99bed980-3b0c-11eb-8639-dd09a86c94b8.png)

![image](https://user-images.githubusercontent.

[2020-12-10 17:37] tischi commented on #151
I should add a scroll option.

[2020-12-10 17:39] tischi commented on #151
@K-Meech
If you feel like learning more about Java Swing UI you could try to add something scrollable here :-)
But just if you think it is interesting/fun, otherwise it's my job, of course.

[2020-12-10 18:49] vzinche commented on #158
Wow! That looks just amazing!
I've tried it, and it works for the values in the table, but not for my UMAPs. Could it be because the values are defined not for every segment (all the non-cells are NaN)?
I attach the table.
[try_plot_umap.zip](https://github.com/mobie/mobie-viewer-fiji/files/5674983/try_plot_umap.zip)

[2020-12-11 07:56] tischi commented on #158
It should ignore `NaN`. What happens? Do you get an error?

[2020-12-11 08:01] vzinche commented on #158
No, I just don't get anything plotted:
![Screenshot from 2020-12-11 08-59-59](https://user-images.githubusercontent.com/32451366/101878168-6d986c80-3b8f-11eb-82ba-e2a8e79ffc1a.png)

[2020-12-11 09:09] K-Meech commented on #158
Looks great @tischi ! I get the same issue as @vzinche though for my gene UMAP - blank screen. The table is in the platybrowser dataset 1.0.0 under the cell segmentation tables as 'gene_umap.csv'

[2020-12-11 09:13] K-Meech commented on #151
I can take a look - sure! I did something similar for one of the project gui windows - so hopefully the same will work here :)

[2020-12-11 09:14] joshmoore commented on #149
Not sure if it's still of interest but I asked at https://github.com/glencoesoftware/bioformats2raw/issues/73#issuecomment-742670631 and it looks like adding this repository may do what you want:

https://repo.glencoesoftware.com/repository/bioformats2raw2ometiff/

[2020-12-11 09:39] tischi commented on #151
Thanks a lot!

[2020-12-11 10:20] tischi commented on #158
Interesting, inside imagej-utils-0.5.7-SNAPSHOT it works:

[code]

![image](https://user-images.githubusercontent.com/2157566/101891826-d9380500-3ba2-11eb-96d4-7300931c10d8.png)

I'll check whether this is something wrong within MoBIE...

[2020-12-11 12:12] tischi commented on #158
@K-Meech @vzinche
I found a couple of issues and hope I fixed them.
Could you please test again?

[2020-12-11 13:17] K-Meech commented on #151
Pull request here: https://github.com/tischi/imagej-utils/pull/30
Adds a scrollbar / all seems to work well! One minor issue is that it makes the panels wider than before - I couldn't find an easy fix for this though.

[2020-12-11 13:43] K-Meech commented on #158
It's working now! One thing though, is that the y axis is flipped compared to a normal scatter plot. Still works great, but perhaps a bit unintuitive at first.
![Screenshot (197)](https://user-images.githubusercontent.com/24316371/101910234-8cf6c000-3bb6-11eb-9b90-abeac2e65dc5.png)

[2020-12-11 13:48] K-Meech commented on #149
Thanks @joshmoore - this should be useful when I get around to adding ome.zarr support!

[2020-12-11 13:51] K-Meech commented on #149
@tischi I've noticed that using the new commands I added changes the appearance of all swing elements shown after. e.g.
before:
![Screenshot (195)](https://user-images.githubusercontent.com/24316371/101911056-c1b74700-3bb7-11eb-98c0-0531d073c380.png)

after:
![Screenshot (196)](https://user-images.githubusercontent.com/24316371/101911071-c5e36480-3bb7-11eb-886a-0125c78e1916.png)

Have you seen thi

[2020-12-11 13:53] tischi commented on #158
That is on purpose, because the image data also is flipped, see, e.g. `anchor_y`.
Convention for image data: `y=0` is at top.
You can simply scale the y-axis by `-1` in the GUI to change this.

[2020-12-11 13:54] tischi commented on #158
@K-Meech
Did you try to "Shift Left-Click" on a data point? It will move you to the cell in BDV.

[2020-12-11 14:07] K-Meech commented on #158
Yes - I tried 'shift left-click' - works great!!

[2020-12-11 14:08] vzinche commented on #158
Works for me as well!
![Screenshot from 2020-12-11 15-07-30](https://user-images.githubusercontent.com/32451366/101912980-b6b5e400-3bc2-11eb-8a77-d77561dad69e.png)

[2020-12-11 14:10] vzinche commented on #158
The only comment is: I've tried Ctrl + Left-click, and I feel like it might be more convenient if it selected the cell instead of just moving the view there. @K-Meech, what do you think?

[2020-12-11 14:13] K-Meech commented on #158
I agree @vzinche - it's a bit hard to tell which cell it is without zooming in a lot.

[2020-12-11 15:30] tischi commented on #158
Mean to say:  "We have to think about it" :-)
cc @constantinpape

Do we maybe need different shortcuts for this?

In fact, in the table right now the behaviour is (correct me if I am wrong):

- Left Click: Focus only
- Ctrl Left Click: Focus and select

Maybe we want something similar for the scatterplot?

The issue with only "Left click" in bdv is that one also uses that to change the viewer plan

[2020-12-11 15:33] tischi commented on #149
I think I have seen this before but I do not know the answer.
Personally I don't mind, I can live with both.

[2020-12-11 15:39] vzinche commented on #158
I honestly wouldn't mind just keeping the current Ctrl Left Click behaviour for the scatter plot. Not sure if Focus only is that necessary

[2020-12-11 15:43] tischi commented on #158
(by the way: I have not implemented this yet, but the idea would be that if you focus/select a cell in the table or in bdv that the data point would also be centred in the scatter plot)

Ok, I think making Ctrl Left Click select and focus in the scatterplot makes sense!

I guess, even if you don't need it, it would not hurt to add Shift Left Click in the scatter plot as Focus Only?!

[2020-12-11 16:17] tischi opened #159 "Amazon service unavailable"
@K-Meech @constantinpape @vzinche

I am getting this today. Is it just me?

[code]

[2020-12-11 16:22] K-Meech commented on #158
Sounds good to me! It's nice if all the views are using the same shortcuts

[2020-12-11 16:23] tischi commented on #158
ok!

So for the table also

- Ctrl Left Click: Focus and Select
- Shift Left Click: Focus only
- Left Click: nothing

?!

[2020-12-11 16:23] vzinche commented on #159
Seems fine for me

[2020-12-11 16:23] K-Meech commented on #149
I found the issue - it is something with the scijava parameters. I can fix it by resetting the default 'look and feel' for swing

[2020-12-11 16:24] K-Meech commented on #159
Works for me too. I think I saw this once (but my internet was being a bit dodgy)

[2020-12-11 16:26] K-Meech commented on #158
ah wait - I take it back. I think it's still good if left click in the table does something. Maybe just set that as the same as 'focus only'?

[2020-12-11 16:38] constantinpape commented on #158
I think we had the discussion about the shortcuts somewhere else, but I can't find it right now.
In any case, my 2cents:
The shortcuts in the table and the scatter-plot should be the same and I think I would prefer the following options:
- Left Click: Focus
- Shift Left Click: Focus + Select

In BDV, I think we should only have:
- Shift Left Click:  Select

[2020-12-11 17:01] tischi commented on #158
You mean Ctrl rather than Shift, right? (At least that's what we have right now)

[2020-12-11 17:04] tischi commented on #158
Damn, hard lock down in BW from tomorrow on 😫
We will have lots of time to discuss this 😉

[2020-12-11 17:05] constantinpape commented on #158
Yes, I mean Ctrl.

[2020-12-11 18:24] tischi commented on #158
I tried to implement @constantinpape 's suggestion.
Let me know how it works.

[2020-12-11 19:56] tischi commented on #155
Fixed in imagej-utils-0.5.7-SNAPSHOT.
Fixed in MoBIE-beta next time I update update site.

[2020-12-11 19:56] #155 closed