[2020-12-11 20:03] tischi commented on #151
Thanks a lot @K-Meech !
Fixed in imagej-utils-0.5.7-SNAPSHOT.
Will be in MoBIE-beta upon next upload.

[2020-12-11 20:03] #151 closed

[2020-12-12 07:52] tischi commented on #149
I stumbled about this recent comment of Curtis in https://gitter.im/imagej/imagej

Maybe related?

[2020-12-14 09:10] vzinche commented on #158
I like how the selecting part work now!
But what is a bit weird: I keep selecting cells on the plot, it selects them in the bdv, but on the plot it updates the selection only when you move the plot

[2020-12-14 10:47] K-Meech commented on #149
@tischi I'm trying to trigger adding images by clicking a Jbutton. Issue is - it seems that putting an IJ.run()... inside an actionListener results in it hanging forever / never finishing.

Is there a better way to IJ.run()... that avoids this? I'm calling this plugin: https://github.com/bigdataviewer/bigdataviewer_fiji/blob/master/src/main/java/bdv/ij/ExportImagePlusAsN5PlugIn.java to convert to

[2020-12-14 12:27] tischi commented on #149
In general, whatever you trigger from a UI element, I would recommend wrapping it into

[code]

or

[code]

Or sometimes both... :-)

Does that help?

[2020-12-14 12:40] tischi commented on #149
You could make a PR against this:
-  https://github.com/bigdataviewer/bigdataviewer_fiji/blob/master/src/main/java/bdv/ij/ExportImagePlusAsN5PlugIn.java

Proposing a version that you can call with an ImagePlus and parameters as an input.

For example like this

[code]

------

Since I don't know if @tpietzsch would have time in the next days to look at such a PR I would recommend you to, in parall

[2020-12-14 13:28] K-Meech commented on #149
Huzzah - new Thread() was the key! Thanks!
I'll carry on with IJ.run() for the moment then. But you're right, in the long run having a version that could take an imp/parameters would be better.

[2020-12-14 14:58] tischi commented on #158
Thanks, I forgot to add below code to the scatter plot.
Should work now once we upload again to Fiji.

[code]

[2020-12-15 13:38] #159 closed

[2020-12-15 13:38] #146 closed

[2020-12-15 13:39] tischi commented on #158
Should work now, please reopen if necessary.

[2020-12-15 13:40] #141 closed

[2020-12-15 13:40] #138 closed

[2020-12-15 13:41] #102 closed

[2020-12-15 13:42] #126 closed

[2020-12-15 13:43] #112 closed

[2020-12-15 13:45] tischi commented on #99
I think removing the respective source and adding it back should do the job? Or is that to cumbersome?

[2020-12-15 13:50] tischi commented on #65
Sorting is part of the JTable UI, little arrows on top, so that should be OK?!

Filtering would be nice though, seems to be easy enough:
https://stackoverflow.com/questions/1107911/how-can-i-filter-rows-in-a-jtable

@imagejan
what's the advantage of scijava-table over a "normal" JTable?

[2020-12-15 13:51] tischi commented on #62
@K-Meech
Since you are by now quite deep in the code and probably have an IDE on windows, could you try to debug this?

[2020-12-15 13:52] tischi commented on #25
@K-Meech
Probably could be achieved by means of: https://github.com/mobie/mobie-viewer-fiji/issues/65
Right?

[2020-12-15 13:53] tischi commented on #18
Got rid of keyboards and replaced by context menus.

[2020-12-15 13:53] #18 closed

[2020-12-15 13:53] #13 closed

[2020-12-15 13:56] tischi opened #161 "Make new repo for ome ngff"
Remove all the zarr reader code and put into a new repo: `bigdataviewer-ome-zarr`
@joshmoore I think I would put it here in the `mobie` organisation (seems to fit quite well), ok?

[2020-12-15 13:56] #93 closed

[2020-12-15 13:56] vzinche commented on #158
Okay, maybe one last suggestion: would it be possible to make the non-selected points not so dim? Right now if I select one I can hardly see the others
@K-Meech what do you think?

![Screenshot from 2020-12-15 14-55-27](https://user-images.githubusercontent.com/32451366/102223963-aa44ca80-3ee5-11eb-86f6-4f4162fcf1ab.png)

[2020-12-15 14:48] #99 closed

[2020-12-15 14:49] constantinpape commented on #99
I agree, removing and adding it is fine for now; we can revisit this if a specific use case comes up.

[2020-12-15 14:49] tischi commented on #158
Should I make the brightness configurable?

[2020-12-15 15:13] vzinche commented on #158
If possible!

[2020-12-15 15:32] tischi commented on #158
@K-Meech

Are we currently using this in the Bookmarks?

[code]

If not, I would be tempted to get rid of `OnlyShowSelected` because this is now the same as `DimNotSelected` with maximal dimming (which is now configurable).

[2020-12-15 15:57] K-Meech commented on #62
Yeah sure - I can take a look later in the week

[2020-12-15 15:59] K-Meech commented on #25
Yes - sounds like it! Some general filtering tools would be very useful

[2020-12-15 16:04] K-Meech commented on #158
@tischi I don't think we're using this in the bookmarks - so go ahead! Makes sense to remove it, if the dimming is configurable now.

[2020-12-15 17:08] K-Meech commented on #149
Some things to fix from Yannick / Rach's test:
- add ability to rename images
- spaces in image names result in the table folders not being made correctly

[2020-12-15 17:22] tischi commented on #158
I changed it in imagej-utils-0.5.7-SNAPSHOT.
Will be in next upload.

[2020-12-15 17:23] tischi commented on #149
Maybe you can auto-replace spaces by `_`?
Or just throw an error...

[2020-12-15 17:26] K-Meech commented on #149
Good point - I think auto-replacing by _ would work well

[2020-12-15 17:39] tischi commented on #25
Then I'll close this one.

[2020-12-15 17:39] #25 closed

[2020-12-15 20:49] imagejan commented on #65
@tischi `javax.swing.JTable` is part of the Java Swing UI, whereas `scijava-table` is entirely UI-agnostic (and the [`org.scijava.ui.swing.viewer.table`](https://github.com/scijava/scijava-ui-swing/tree/4093d4d1184fff50a8b88a41b9e9cb3695fb3ce1/src/main/java/org/scijava/ui/swing/viewer/table) package contains code to display tables in the Swing UI).

The separation of functionality and UI is useful

[2020-12-16 08:48] tischi commented on #65
@imagejan
ok, cool! thanks for the information!
Are there some projects that use the scijava table, which I could use for inspiration?
For example, I think Mastodon and Bigstitcher should have quite some table functionalities, are they using scijava-table?

[2020-12-16 09:58] tischi opened #162 "Upload bdv.n5 to S3"
@K-Meech
cc @constantinpape
Did you already look into Java code based solutions to upload images into our object store?

It seems like we could write n5 directly to an object store, using this library:
https://github.com/saalfeldlab/n5-aws-s3/blob/master/src/main/java/org/janelia/saalfeldlab/n5/s3/N5AmazonS3Writer.java

1. Could you paste here a link to the bdv.n5 writer code within bigdataviewer?

[2020-12-16 09:59] tischi commented on #162
I also cc @joshmoore, because I know he may be interested in that topic as well.

[2020-12-16 10:15] K-Meech commented on #162
This would be really useful! I haven't looked into this at all.
The main code for n5 writing is here: https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/export/n5/WriteSequenceToN5.java
There's also the bdv plugin for writing to n5 here: https://github.com/bigdataviewer/bigdataviewer_fiji/blob/master/src/main/java/bdv/ij/ExportImagePlusAsN5PlugIn.java#L253

[2020-12-16 10:19] tischi commented on #162
This looks very promising:
- https://github.com/bigdataviewer/bigdataviewer-core/blob/fd90b6c969555f49dc8befee8a276f04def4c7c0/src/main/java/bdv/export/n5/WriteSequenceToN5.java#L158

Maybe we just have to plug in the other writer there.

The best would be, imho, to provide the N5Writer in the constructor:
- https://github.com/bigdataviewer/bigdataviewer-core/blob/fd90b6c969555f49dc8befee8a276f04d

[2020-12-16 10:22] K-Meech commented on #162
Sounds good to me!

[2020-12-16 10:24] tischi commented on #162
ok, let's see who of us get's around trying this first...

[2020-12-16 10:50] joshmoore commented on #161
No objections. :+1:

[2020-12-16 13:23] imagejan commented on #65
I'm aware of these projects using `org.scijava.table.Table`:

* BoneJ: https://github.com/bonej-org/BoneJ2/blob/4e4946a18504bb9d9afe5f3b1b6addd32a80fe39/Modern/utilities/src/main/java/org/bonej/utilities/SharedTable.java#L62-L79
* SciJava Batch Processor: https://github.com/scijava/batch-processor/blob/2a88b25192a4d44c79fe1bd7cc02176c16462a8f/src/main/java/org/scijava/batch/ModuleBatchProcessor.ja

[2020-12-16 13:39] tischi commented on #65
Thanks a lot! I will have a look!

We'll need to attach KeyListeners, a RowColorModel and a RowSelectionModel to the table to enable such functionality:

https://www.youtube.com/watch?v=HENo-vq-6to

Any feeling for how easy that would be and whether this is within scope of scijava-table?

[2020-12-16 15:08] tischi commented on #65
@imagejan
I had a bit of a look and thought.

My current table model essentially is a `List< TableRow >` (see here: https://github.com/tischi/imagej-utils/tree/master/src/main/java/de/embl/cba/tables/tablerow). This design is at the heart of all the visualisations in the MoBIE project. The current architecture was the result of about 7 days uninterrupted hard work with little sleep and quite some

[2020-12-16 20:52] frauzufall commented on #65
@tischi the LabelEditor has a [`LabelEditorTable`](https://github.com/juglab/LabelEditor/blob/master/src/main/java/sc/fiji/labeleditor/plugin/table/LabelEditorTable.java) which is synchronized with the labels in BDV. I copied the table implementation from our [juglab/scijava-table-playground](https://github.com/juglab/scijava-table-playground) [into the LabelEditor](https://github.com/juglab/Label

[2020-12-18 11:57] K-Meech commented on #149
@tischi I'm getting a strange error. Adding an n5 image via the project creator produces the following error, but **only** when run through the version downloaded from the mobie beta update site. When I run this directly from intellij - no error! Any ideas? Is something perhaps different in the pom vs the update site?:

[code]

[2020-12-18 12:03] K-Meech commented on #149
Ah - perhaps it is the @ImgLoaderIO syntax you're using? Does this mean it's like a plugin that will only be recognised when run in fiji proper vs in intellij?

[2020-12-18 12:54] tischi commented on #149
1. You mean you _write_ an image, right?
2. You are writing to the FileSystem (FS), right?

I am not sure...(don't have much time right now).

We have to find out which code is called by Tobias N5 writer plugin to create the xml.

In MoBIE there is this class, which has the toXml:

[code]

My suspicion is that we may in bdv-core there is another class with the same annotation:

[code]

And this so

[2020-12-18 14:30] K-Meech commented on #149
Here, I'm only writing the xml file (and linking to an existing bdv.n5 file somewhere on the file system). It uses: ``` new XmlIoSpimDataMinimal().save()```

Quite possibly a clash with e.g. bigdataviewer-core/blob/c698350bfae3d88b73cebc28b1f4a6fd9d5b7771/src/main/java/bdv/img/n5/XmlIoN5ImageLoader.java which has the same annotation

[2020-12-18 15:15] K-Meech commented on #149
Actually @tischi - maybe the issue is here? https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/n5/XmlIoN5S3ImageLoader.java#L44 Should the type be ```N5S3ImageLoader.class`` instead?

[2020-12-18 16:55] tischi commented on #149
Yes, of course! Please change it. Thanks!

[2020-12-18 19:09] tischi opened #165 "Movies demonstrating the functionality"
@vzinche @K-Meech @yanschwab

I have to give a short talk about MoBIE early next year.

My plan is to essentially show the audience a couple of YouTube videos demonstrating the functionalities.

This is what I have already:
- https://www.youtube.com/watch?v=tdOLelm6Vlw
- https://www.youtube.com/watch?v=4SR5GoSiCVE
- https://www.youtube.com/watch?v=HENo-vq-6to

I would like to add
- [ ] Loading a c

[2020-12-21 08:15] vzinche commented on #165
For the interactive scatterplot I can suggest what I've shown during the unit seminar:
- We have some morphological features we want to explore
- We make a UMAP and visualize it in the platy browser
-  We color it by gene expression
- We find some interesting subgroup of cells
- We use the interactivity to find them in the BDV
- Pampam! It's photoreceptors

Slides:
[photoreceptors.pdf](https://git

[2020-12-21 12:12] K-Meech commented on #165
Sounds great!
For cool bookmarks with 3D objects: maybe the nephridia segmentation? Bookmark "Figure 2D: Nephridia segmentation" in the platybrowser has some nice 3D.
Otherwise, perhaps the covid paper guys have some nice 3D examples?

If you need more UMAP examples, there's also the gene expression & morphology UMAPs I did for the platy paper. So could e.g. show UMAP of calculated morphology feat

[2021-01-04 12:09] constantinpape opened #167 "Dependency conflict in Fiji update"
When I try to update Fiji with the `Mobie-beta` update site, I get an error message indicating dependency conflicts:

![Screenshot from 2021-01-04 12-56-53](https://user-images.githubusercontent.com/4263537/103533658-cbb62800-4e8d-11eb-8f19-2bb44cbbec47.png)

This is on Linux, and I have only added the `Mobie-beta` update site.

[2021-01-05 13:31] imagejan commented on #167
@constantinpape can you try re-running the updater to see if it suggests to delete the duplicate jar files?

It seems that the updater didn't delete the old versions after your last update, and you have two competing versions of each:

* `bio-formats_plugins`: `6.6.0` and `6.5.1`
* `n5-viewer_fiji`: `4.0.2` and `4.0.1`

[2021-01-07 10:47] constantinpape commented on #167
@imagejan Yes, when I try to rerun the update it suggests to delete the duplicate jars and when I do this it fixes the issue.
Thanks!

[2021-01-07 10:47] #167 closed

[2021-01-13 11:26] K-Meech opened #169 "Inverted LUT"
For viewing SEM images with MoBIE, it'd be useful to have an inverted LUT available.

@tischi - I don't know how difficult this would be to add? There's a bunch of different colouring modes for label data, but not for raw images - right?

[2021-01-13 16:27] tischi commented on #169
This is definitely doable.

For the labels source the code in`SourcesPanel` looks like this:

[code]

A `LUT` in ImgLib2 is an `ARGBConverter`, for BDV more specifically and for single color LUTs, the class `ColorConverter` is the one to implement.

So, I would recommend you start playing by implementing a function in `SourcesPanel`:

[code]

with

[code]

Enough pointers to give it a go? Let me k

[2021-01-14 10:48] K-Meech commented on #169
Thanks for the pointers! I'll give it a try next week.

[2021-01-14 10:50] K-Meech commented on #149
Yannick / Rach have tested this - and all seems to be working well!
Main thing still to add is support for ome.zarr

[2021-01-14 11:29] tischi commented on #149
Awesome!
Let's try to have a zoom soon to discuss milestones.
Could you try to find a date (including @joshmoore and @constantinpape please, if they can make it).

[2021-01-14 12:10] K-Meech commented on #149
Sure - I'll send an email around

[2021-01-15 17:37] HernandoMV opened #170 "Specifying paths for new projects"
Error when opening projects created using Mobie:
There seems to be something weird with the path and/or what it is trying to find. Inside 'images' folder there is 'local', 'remote', and 'images.json'

[code]

[2021-01-15 17:50] K-Meech commented on #170
Hey Hernando - can you give me a bit more info? Does this error immediately when you open it in mobie? Or when you are viewing a certain image?
Also, if you go inside the mobie folder, and inside 'images' and 'local' - do you see your image files there? (they should be .h5 or .n5)

[2021-01-17 16:26] HernandoMV commented on #170
Yes, this error happens regardless of the format and the images are there. It happens immediately when I try to open the project through MoBIE.

[2021-01-18 14:00] K-Meech commented on #170
To open a local MoBIE project, you have to use the command "Open MoBIE Project Expert Mode" (not the "Open MoBIE Project" you usually use)
In the window that pops up, you then put the file path to your project as the project location, image data location and table data location. Also, change the Image Data Storage Modality to 'File System'
Hopefully, this fixes it! I could open your project on my

[2021-01-18 18:41] HernandoMV commented on #170
Amazing. It does work! Thanks!

[2021-01-18 18:41] #170 closed

[2021-01-19 21:30] tischi opened #171 "OME ZARR Loader"
`/7 [4, 2, 0, 0, 0] fetched 1048576 voxels in 971 ms.`

Add read speed in MB/s.

[2021-01-19 21:36] tischi opened #172 "Release version 0.5.4 (with OME ZARR support)"
@K-Meech

I pushed a new version of MoBIE to MoBIE-beta )including support for loading ome.zarr files, s.b.).
Could you please have a look whether everything works and we could push this version to the MoBIE update site?

-------

@joshmoore

This version contains this command:
Plugins › BigDataViewer › OME ZARR › Open OME ZARR From S3...

So far I tested it with:
- https://s3.embl.de/i2k-2020/em-

[2021-01-20 09:50] K-Meech commented on #172
@tischi I quickly tested the new MoBIE-beta, and everything seems to work ok! I didn't test the ome-zarr loading - do we have any example MoBIE projects with ome-zarr for testing?

[2021-01-20 10:42] tischi commented on #172
Not yet, for now we can only load individual image sources. But it would be already good if you tested the two examples that I gave up there.

[2021-01-20 14:10] K-Meech commented on #172
The two examples above work for me. All looks good!

[2021-01-20 15:14] tischi commented on #172
Nice! I hope that's the future 🚀
Let's discuss more on Friday with @joshmoore

[2021-01-21 14:03] K-Meech commented on #162
@tischi Did you have a chance to look into this?
I'm happy to help with this - but would probably need a zoom first to get some pointers. It'd be great to find a java way of doing this, to incorporate it into the mobie project creation stuff I wrote!

[2021-01-21 14:15] jburel commented on #172
List of possible images https://blog.openmicroscopy.org/file-formats/community/2020/11/04/zarr-data/
I have opened  https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9836844.zarr using commit f7b826b1032e4f9251a66f2cfc2b6df5f2d27832

[2021-01-21 15:18] tischi commented on #172
Which one in this list is it?
https://blog.openmicroscopy.org/file-formats/community/2020/11/04/zarr-data/

When you press `P` you get a menu, where I can see four channels:
![image](https://user-images.githubusercontent.com/2157566/105370392-d39ef780-5c03-11eb-8a5e-eb7f2364f84f.png)

But I see **only one z-slice and one time point**. Could well be that I still have a bug in my code...

[2021-01-21 16:18] jburel commented on #172
<img width="1014" alt="Screenshot 2021-01-21 at 16 18 34" src="https://user-images.githubusercontent.com/1022396/105379030-54f68a00-5c04-11eb-8c49-d47c9f18ce33.png">

[2021-01-21 17:03] tischi commented on #172
@jburel
Why are they there multiple times? Are they all the same?
![image](https://user-images.githubusercontent.com/2157566/105384754-ea991600-5c12-11eb-95f3-7462b73cfede.png)

[2021-01-21 17:06] tischi commented on #172
The URLs to view them point to different locations:
- https://hms-dbmi.github.io/vizarr?source=https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9836831.zarr
- https://hms-dbmi.github.io/vizarr?source=https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9836832.zarr
- https://hms-dbmi.github.io/vizarr?source=https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9836833.zarr
- ...

[2021-01-21 17:15] tischi commented on #172
@jburel
Are you sure the description on the web-page matches the actual file content?
I don't see what I am doing wrong (there seems to be nz=1 and nt=1):
https://s3.embassy.ebi.ac.uk/idr/zarr/v0.1/9836844.zarr
![image](https://user-images.githubusercontent.com/2157566/105386057-431ce300-5c14-11eb-90ab-1e35c06082e9.png)

[2021-01-21 17:15] K-Meech opened #173 "Grouping of images"
Grouping of images is currently determined based on the filename. Filenames are split on '-' and the first part used as the name of the group.

Would it be better / more flexible to do this based off a field in the images.json? e.g. 'group'

[2021-01-21 17:19] jburel commented on #172
@tischi you are correct the info in the page is not correct I double checked on idr and the image I picked has only one z and one t.
I will look at another one. I will also fix the blog entry

[2021-01-21 17:21] constantinpape commented on #173
I overall agree, it would be better to group by a field in the json.
But I am not sure if we want to make the change now or wait to see how this could work with ome-zarr.ngff.
Maybe something to discuss tomorrow.

[2021-01-22 10:05] jburel commented on #172
blog post updated

[2021-01-25 10:24] K-Meech commented on #129
I'm going to update these tutorials over the next few days to add more info on making projects etc. Let me know if there is anything else major missing

[2021-01-26 14:13] K-Meech commented on #129
These are up to date now. @tischi - do you mind if I add a link to these tutorials (https://github.com/mobie/mobie.github.io/blob/master/index.md) to these readmes? https://github.com/mobie/mobie and https://github.com/mobie/mobie-viewer-fiji

[2021-01-26 17:09] tischi commented on #129
Sure, go ahead!

[2021-01-27 09:18] tischi opened #174 "G-zip corrupt error"
@constantinpape

Have you ever seen this?

[code]

[2021-01-27 09:25] constantinpape commented on #174
Yes, this can happen with corrupted chunks.
Which data are you trying to open?

[2021-01-27 10:13] tischi commented on #174
EM-Raw Platy.

Roughly this view at resolution 100 nm:
![image](https://user-images.githubusercontent.com/2157566/105976540-949ff480-6090-11eb-99f5-111cf9648b32.png)

[2021-01-27 12:32] tischi commented on #174
I think it only happens when trying to access the highest resolution.

[2021-01-27 12:38] constantinpape commented on #174
Ok, I will implement something to verify chunks.

[2021-01-27 16:28] constantinpape commented on #174
Ok, I implemented some code to check for corrupted chunks and ran it in the first few scales, but couldn't find anything wrong.
Can you reliably reproduce this?

[2021-01-27 16:44] tischi commented on #174
It happened twice today, both times when I tried making a screenshot from the platy with a pixel size of 10 nm (0.01 um).

[2021-01-27 18:30] constantinpape commented on #174
Ah, makes sense; I confused highest scale and highest resolution.
I will run it for the highest resolution then, but it might take some time...

[2021-01-28 09:36] tischi commented on #172
@K-Meech @constantinpape
I updated the MoBIE (alpha) update site.
Could you please check that:
1. The ome zarr import works
2. One can now open local projects without using the expert mode

[2021-01-28 11:18] K-Meech commented on #172
Works for me!

[2021-01-29 10:32] constantinpape commented on #172
You mean the regular MoBIE site by this, right?
(alpha usually means that something is in an earlier development cycle than beta, so calling it alpha here is pretty confusing)

I don't have an ome zarr one at hand, I can check in a later release.

Yes, that works now and makes dealing with local projects much more convenient!

[2021-01-29 10:34] tischi commented on #172
(alpha usually means that something is in an earlier development cycle than beta, so calling it alpha here is pretty confusing)

yes, good point!

[2021-01-29 10:34] #172 closed

[2021-01-29 12:56] MicPhotonIGBMC opened #176 "Crash on clean Fiji install"
**Report on the workshop Fiji-MOBIE crash (Image Data: data management, standard image file format for sharing big image data, and image data repositories)**

1- Clean install of Fiji (Windows 10), updated, only MOBIE activated (+ ImageJ, Fiji and Java8 default update sites)
2- Trying Plugins › BigDataViewer › OME ZARR › Open OME ZARR From S3 (Advanced)...
https://s3.embl.de/i2k-2020/em-raw.ome.za

[2021-01-29 13:24] tischi opened #177 "Expert mode installation"
#### Expert usage (testing latest features)

To build the project from source, you will need Maven 3.3.9 or higher.

Perform step 1 as described above and then:

1. Add the Update Site `MoBIE-beta` to Fiji like this:
   - [ Help > Update.. ]
   - [ Manage update sites ]
   - [ Add update site ] and manually fill in the following fields:
      - Name: `MoBIE-beta`
      - URL: `https://sites.imagej

[2021-01-29 13:36] tischi commented on #176
@MicPhotonIGBMC
Thank you very much for the detailed report!

I tried to reproduce it and if I put a URL there that does not exist I get the same error.
However, the URL you posted seems entirely correct.

Best guess I have is some issues with the `/` vs `\` on Mac vs Windows (I have a Mac)

@K-Meech
Could you please try this (you have Windows 10, isn't it?):
- Plugins › BigDataViewer › OME ZARR ›

[2021-01-29 13:39] tischi opened #178 "OME ZARR Improve error message"
Currently, if one puts a non existing key such as `https://s3.embl.de/i2k-2020/em-raw.ome.za` one gets a rather confusing error message (see below). It would be good if it would throw something like "The key X in bucket Y could not be found"

cc @MicPhotonIGBMC

[code]

[2021-01-29 14:08] K-Meech commented on #176
@tischi This works for me on Windows 10 - so I'm not sure what the issue is. Doesn't appear to be Windows specific

[2021-01-29 15:40] tischi commented on #176
ok, I will try to implement better error logs, maybe that helps.

[2021-02-01 09:45] K-Meech opened #179 "Project creator for 2D images writes too many levels"
Writing 2D images to n5 via the project creator makes too many downsampling levels. This converts the image properly, but slows the process down greatly.
Must be something wrong with the default settings of the n5 writer plugin in fiji.

[2021-02-01 09:51] tischi commented on #178
Should be improved now.

[2021-02-01 10:39] tischi commented on #176
@MicPhotonIGBMC
I updated MoBIE to produce a more informative error message.
Could you please try again?
Another suspicion I could have is that maybe just the internet connection was not working properly when you tried last time?
Please also try the "PlatyBrowser" plugin (also comes with the MoBIE update site). Does that work?

[2021-02-01 11:52] tischi commented on #179
How do the default settings look like?
Can you change the default setting to something else?

[2021-02-01 11:58] K-Meech commented on #179
I've been looking at this with @constantinpape - it seems to be an issue with the calculated default chunks (subdivisions) in this function: https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/export/ProposeMipmaps.java#L54

So I think for now I will add an option to enter the chunking / downsampling levels manually in the project creator. I'll put an issue on the bdv

[2021-02-01 12:30] tischi commented on #179
If you think the defaults are good otherwise, why don't you rather automatically detect whether an image is 2D and then automatically change the levels in your code?

[2021-02-01 12:41] K-Meech commented on #179
True - this would also work. I'd need to figure out a good way to calculate the default chunk sizes  / levels for 2D though...
There are probably other situations where the defaults aren't great though - so having a manual option too is probably a good idea? I could just add a checkbox for 'use default export settings', then have another menu if this is left unselected.

[2021-02-01 12:59] tischi commented on #179
sgtm

[2021-02-01 16:39] K-Meech commented on #179
This error is also related to the voxel size e.g.
For an 8 bit image of size 8704x9044, and pixel dimensions of 0.0100320 x 0.0100320 x 1 microns the defaults work.

But an 8 bit image of 8704x9044, and pixel dimensoins of 10.0320 x 10.0320 x 1 nanometer doesn't work. The z downsampling and chunking aren't kept at 1.

[2021-02-01 17:39] K-Meech commented on #179
Alright - I have manual input of downsampling levels/chunk size working now! It would be nice though to have a quick fix for the 2D case.
@tischi @constantinpape
Any suggestions on how to calculate good values for these based on the image dimensions / voxel size?

[2021-02-02 14:55] K-Meech opened #181 "Project creator settings persist"
Using manual settings for n5 / h5 export results in them persisting for the next image (even if it is set to default).
This is due to using IJ.run()... on ExportImagePlusAsN5Plugin - inside this plugin they set static variables that persist for the next run.

@tischi As a quick fix for this I think I will copy this class into mobie as you suggested here: https://github.com/mobie/mobie-viewer-fiji/

[2021-02-02 15:52] tischi commented on #181
Yes

[2021-02-02 19:03] constantinpape opened #182 "Support loading a project directly from s3"
Enable opening projects from s3 directly, without the need for github.
This would make it easier to share data for users who are not familiar with git/github.

Having the metadata on github should always stay an option for legacy with old projects and to have version control for the metadata.

[2021-02-02 21:17] K-Meech opened #183 "Export of segmentations to n5 doesn't use nearest neighbour interpolation"
ExportImagePlusAsN5Plugin in Fiji doesn't have options for the interpolation used during downsampling.
For segmentations, this results in values outside the labels for downsampled layers.

Would have to dig into this code https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/export/n5/WriteSequenceToN5.java / or put an issue on their repo.

[2021-02-03 09:30] tischi commented on #183
Sounds good, let's do both, modify the code you copied and also raise an issue in the bdv-core repo.

[2021-02-03 17:04] MicPhotonIGBMC commented on #176
Good evening,

Sorry for the delay to test the fix.  I tried again as suggested
*** Plugins › BigDataViewer › OME ZARR › Open OME ZARR From S3 (Advanced)...
*** https://s3.embl.de/i2k-2020/em-raw.ome.zarr

And now it does work

Thank you very much for sorting the issue.

Bertrand

[2021-02-04 08:10] tischi commented on #176
OK! Thanks!

[2021-02-04 08:10] #176 closed

[2021-02-04 09:55] K-Meech commented on #179
Tobias will fix this on the main repo - see https://github.com/bigdataviewer/bigdataviewer_fiji/issues/21

[2021-02-07 12:28] tischi opened #186 "Export downsampling defaults"
@K-Meech
cc @constantinpape
If you have time, could you try out downsampling 3^n instead of the current default 2^n?
How does that behave when you zoom in and out in bdv? Is it noticeably less smooth?

[2021-02-08 10:30] K-Meech opened #187 "Project Creator UI improvements"
Based on suggestions from Matt:

- [x]  Increase size of dataset field to fit much longer names

- [ ]  divide up Affine field values into meaningful fields ( or perhaps provide more guidance in the tutorial on what these values mean)

- [ ]  same for manual export fields (again more guidance in tutorial would be useful)

- [x]  Add name of project to Edit MOBIE project... header (at least the fir

[2021-02-08 10:33] K-Meech commented on #186
@tischi Could you clarify? Do you mean rather than using downsampling levels like:
(1,1,1), (2,2,2), (4,4,4), use (1,1,1), (3,3,3), (9,9,9)?

[2021-02-08 12:39] tischi commented on #187
Good idea. We could start with:
- 3D pixel size
- 3D translation
But we would also need the option to "simply" specify the full affine transform.

[2021-02-08 12:40] tischi commented on #186
Yes,

[2021-02-08 17:38] K-Meech commented on #186
Ok - I can try this tomorrow morning. I'm on a course this week, so it's a bit busy!

[2021-02-09 08:33] tischi commented on #186
no worries, this is mere curiosity

[2021-02-09 08:35] tischi commented on #183
@K-Meech

There are now two PR pending fixing this:

- https://github.com/bigdataviewer/bigdataviewer_fiji/pull/22
- https://github.com/bigdataviewer/bigdataviewer-core/pull/118

If need be, we could think about copying the code to MoBIE until this is merged.

[2021-02-09 09:50] K-Meech commented on #183
Great - thanks @tischi!
Let's leave it for now. I won't have time until the end of next week anyway. So we can always copy it over then, if needs be.

[2021-02-09 09:56] K-Meech commented on #186
Ok sure - next week then :)

[2021-02-10 08:53] constantinpape commented on #174
I have implemented a script now that goes through all the chunks on s3 and then replaces the corrupted ones with the local version.
For the platybrowser data I ran this for everything but the raw data now (currently under way, but will take a few days).
Btw, I think the data corruption happened when we had the similar issues with the covid data, but we just haven't noticed yet for the platy data,

[2021-02-10 08:55] tischi commented on #174
Good idea, I can have a look.
Any chance you can create a test data set where that happens a a defined location?

[2021-02-10 08:56] constantinpape commented on #174
Yes, no problem. I will do that later and let you know once it's there.

[2021-02-10 16:28] tischi commented on #174
@constantinpape

I am catching now the error, returning a block of zeros and printing to the log window:
[code]
I already pushed the change to the main update site.

[2021-02-10 16:28] #174 closed

[2021-02-10 16:32] constantinpape commented on #174
Great! Also most of the platy data is fixed now; raw data should be done in a couple of days.

[2021-02-11 09:37] K-Meech commented on #179
@tischi @constantinpape - if you have a minute, can you take a look at the comments on this issue: https://github.com/bigdataviewer/bigdataviewer_fiji/issues/21? Any suggestions for the 2D defaults?

[2021-02-11 10:11] tischi opened #188 "Maximum size to render in 3D"
There is a maximum number of voxels allowed to be in the bounding box of a segment to be visualized in 3D. The reason is that otherwise a lot (too much) of data may be to be loaded. This prevented loading of some of the tissue segments, because the lowest resolution was still quite high (approximately 1 um). For now, I just set this maximum number of allowed voxels to `Long.MAX_VALUE`, i.e. no lim

[2021-02-11 10:33] tischi commented on #188
In fact, it is a bit more complicated.
[code]
This does not only serve to reject viewing of larger objects but is also used to find a resolution layer where the number of voxels in the bounding box is "just below" the maximum.
I thus changed now back from `Long.MAX_VALUE` to `100 * 100 * 100`.
But I replaced the error when no resolution level resulting in a small enough bounding box can be found b

[2021-02-11 11:05] constantinpape commented on #188
So what happens now if you can't find a small enough bounding box? Does it show the object in the smallest one available or does?

[2021-02-11 14:22] tischi commented on #188
Now, it will always show, just log a warning that it may take some time to load the data.
Maybe not a bad solution?

[2021-02-11 14:24] constantinpape commented on #188
Yes, I think that's a good solution.

[2021-02-11 14:24] tischi commented on #188
I wonder whether we can somehow come up with some criterion for the 100 * 100 * 100 ?!
I think it was just something I hard-coded there.

In principle one could be fancy and estimate the bandwidth a.s.o but too much work for now.

Another option is to first load a bad resolution and then in the background load better ones, but also too much work for now.

Maybe we just wait for more users and more

[2021-02-16 13:13] tischi opened #189 "Bookmark SourceTransform"
@K-Meech @constantinpape
Related to this: https://github.com/mobie/mobie/issues/20

I tested the following code snippet and it produces a different output before and after applying a manual transform:
[code]

yields, e.g.

[code]

If the transform is the one to be put into the XML, it could be thus very easy to capture manually modified `SourceTransform`s within MoBIE.

Proposal: People just add t

[2021-02-16 13:34] tischi commented on #189
If we want to implement this, we can get the `bdvStackSource`s, which contain the `TransformedSource`s, from the `Metadata`s in:

[code]

[2021-02-17 09:20] K-Meech commented on #189
Sounds good to me!
We could just add sourceTransform to the bookmarks, and then save whatever the current state is when they 'save to bookmark...'
I think it would still be good (at some point) to support the grid view idea - as this would be useful when you have many, many sources and you don't want to manually move them all.

Good to support both though - gives the most flexibility!

[2021-02-17 09:40] tischi commented on #189
Should I work on it? I may have time for it tomorrow.

[2021-02-17 09:46] K-Meech commented on #189
If you have time - go for it! I'm on a virtual conference most of this week, so would probably only have time next week

[2021-02-18 07:04] constantinpape commented on #189
@tischi so the proposal is to add `SourceTransform` to the bookmark, that will override the transformation in the xml when the bookmark is loaded?
And this way we could save the manual arrangement of sources in a bookmark.

I like this idea :).

[2021-02-18 08:58] tischi commented on #189
Exactemente

[2021-02-18 09:19] tischi opened #191 "Open project"
1.) Add browse button
2.) I cannot copy and paste into the text field...

[2021-02-18 09:25] K-Meech commented on #183
@tischi Would you be happy to copy this over to MoBIE for now? I should have time next week to make a project creator 2.0 with Matt's suggestions, and it'd be great to include this.

[2021-02-18 09:50] tischi opened #192 "Save bookmark location"
@K-Meech
[code]

What about **_not_** asking for the location but just chose the project location?

[2021-02-18 09:55] tischi commented on #192
If one opens the project from the file system, both options are the same isn't it?

<img width="222" alt="image" src="https://user-images.githubusercontent.com/2157566/108339448-bb58d300-71d7-11eb-8333-0340ebcc54ac.png">

[2021-02-18 10:24] tischi commented on #189
I am implementing and we have a choice:

The `sourceTransform` in the Bookmark...
1. completely replaces the transform in the xml
2. is concatenated to transform in the xml

This choice also, of course, affects what I would save in the bookmark, i.e. the full transform or just the added bit.

I am unsure, I guess it depends whether people would use the information in the bookmarks for anything els

[2021-02-18 10:29] tischi commented on #183
@K-Meech Could you first poke Tobias about the PRs? That is, go into the PRs, ping him, and say that you are very interested as well and need this rather soon :)

[2021-02-18 10:59] K-Meech commented on #192
True, but I included it more for the option to save bookmarks to an arbitrary location on your file system (and not just to the bookmarks folder of a project). e.g. if you're working on a public project like platybrowser, and you just want to save bookmarks of regions of interest to a random folder on your file system (without having a whole local project structure).

[2021-02-18 10:59] tischi commented on #189
...I will do (2) and call it `addedTransform`, OK?

[2021-02-18 11:01] tischi commented on #192
I understand...
Maybe: If the project location is `File_system`, then we don't ask? Otherwise we ask?

[2021-02-18 11:03] K-Meech commented on #189
Sounds good!

[2021-02-18 11:03] constantinpape commented on #189
Yes, I agree 2 is a better solution. If someone needs these trafos they will be advanced enough to concatenate them from the json and the xml.

[2021-02-18 11:07] constantinpape commented on #192
Maybe we should also add an option to replace the default bookmark when saving a bookmark (given that the user has write permissions for it).
I think that would be helpful for arranged grid views.

[2021-02-18 11:09] K-Meech commented on #192
The issue is that I often use e.g. the platybrowser opened form the file system (but a shared file system! e.g. the arendt server), then I want to save my bookmarks to another location (i.e. my own group share).
I get that the naming is a bit confusing though in that case!

@constantinpape I agree - it would be useful to have a way to change the default bookmark

[2021-02-18 11:54] tischi opened #193 "Add option to change default bookmark"
@K-Meech maybe you could have a look at some point?

[2021-02-18 11:55] tischi commented on #192
https://github.com/mobie/mobie-viewer-fiji/issues/193

[2021-02-18 12:48] K-Meech commented on #193
Sure - will do!

[2021-02-22 17:11] tischi opened #194 "ImageProperties and Metadata"
We should get rid of Metadata (also in imagej-utils) and replace it by something better, e.g. the (Mutable)ImageProperties, maybe calling it `(Mutable)SourceProperties`.
To be discussed with Nico to make it compatible with bdv-playground.
Our requirements include that it produces a nice JSON that is compatible with out Bookmarks.

[2021-02-23 09:25] tischi opened #195 "Bookmark refactoring"
@K-Meech
We should split the `BookmarksManager` into several classes.
At least we should factor out a `BookmarkViewer` and `BookmarkCreator` and `BookmarkFileWriter` and maybe see what is left to then decide what else?

[2021-02-23 09:55] K-Meech commented on #195
Yes - good plan! I can look at this later in the week, if you'd like.

[2021-02-23 10:23] tischi commented on #195
Yes please thanks :)

[2021-02-23 10:36] tischi commented on #195
The reason I want this cleaned up is that then it is easier to work on this: https://github.com/mobie/mobie/issues/20

😉

[2021-02-23 10:37] tischi commented on #195
But it should not be too much work, maybe I'll manage still today.

[2021-02-23 11:46] #195 closed

[2021-02-27 17:10] tischi opened #197 "SegmentsBdvView"
MoBIE depends on the `SegmentsBdvView` in imagej-utils which became overly complex.
A cleaner version exists in the segmentations-explorer repository.
We should clean this up, but it is not clear how.

Maybe we should make a new core repository (without Commands) only for all the segmentation exploration stuff on which the other repositories depend on.

The other option is to clean up the code in

[2021-03-01 10:04] K-Meech opened #198 "Blosc compression 'UnsatisfiedLinkError'"
Opening the newest version of MoBIE (built locally) - gives the error below on startup. It still runs perfectly fine though.

[code]

[2021-03-01 10:14] tischi opened #199 "Screenshot as BDV-Playground"
Work on using BDV-Playground as a dependency for the Screenshot

[2021-03-01 10:34] tischi commented on #198
@K-Meech Does that happen from within IntelliJ or within Fiji?

[2021-03-01 10:52] K-Meech commented on #198
I just ran it from a local Fiji - and there's no error there. Just from intellij then.
Any idea why there's different behaviour between the two?

[2021-03-01 11:02] constantinpape commented on #198
I think fji ships its own libblosc now, whereas intellij tries to find the system one.

[2021-03-01 11:31] K-Meech commented on #198
Ah ok - makes sense.

[2021-03-01 11:31] #198 closed

[2021-03-01 14:13] tischi opened #200 "Project Creator: Sorting into image groups"
@K-Meech

Are you communicating that people should _not_ do this?
[code]
Because they all would end up in different groups (as per splitting the first "-")

Is there maybe a way to make this more clear during the project creation?

[2021-03-01 14:29] K-Meech commented on #200
Related to https://github.com/mobie/mobie-viewer-fiji/issues/173

Currently, this is not enforced in the project creator i.e. there's no guidance on file naming.
I think it would be good at some point to switch to using a field in the images.json for this.

Then there could be 3 rows in the project creator:
-Dataset
-Group
-Image

[2021-03-01 15:30] tischi opened #201 "Exploring BDV Cards UI"
@K-Meech @constantinpape
I am playing with using the BDV cards for everything, such that we get rid of the whole MoBIE UI.
This is how the source selection could render (what do you think)?
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/2157566/109519247-593b8000-7aab-11eb-9a1c-4833dbaab615.png">

[2021-03-01 15:51] constantinpape commented on #201
Looks good!

Do you want to add a few different cards for different UI elements (e.g. sources, bookmarks) or just a single card for the whole MoBIE UI? I think I would prefer just a single card, but I am not quite sure.

[2021-03-01 17:20] tischi commented on #201
@K-Meech @constantinpape

Not sure now what to do with the UI, I think having the UI elements inside BDV may be long term the better cleaner option but if, e.g. @yanschwab, really prefers the other way...

I could probably write the code such that it is modular, such that one could select upon startup the "legacy UI" vs. the "integrated UI".

[2021-03-01 17:25] yanschwab commented on #201
I'm really found of the stand alone MoBIE interface yes (plus I love our little whale). then all the tools stay in place when I resize the BDV window, and I can organise my screen with the 3D viewer close to the BDV window, and the tables etc as I like ... please keep it

[2021-03-01 17:45] K-Meech commented on #201
I would agree that it's probably cleaner to integrate with BDV, but I'm not sure it's as user-friendly.
1. It's a bit confusing having the 'Sources' card and 'MoBIE Sources' card
2. It ties you into whatever changes in Bdv. e.g. If they add more cards / features then this becomes more confusing for MoBIE users...
3. It's quite nice to be able to resize the controls and the bdv window separately :)

[2021-03-01 18:36] constantinpape commented on #201
From my point of view the important argument for using the bdv sources menu is that it implements the grouped sources including the color / contrast setting logic already. (And of course that we could avoid code duplication.)

But I can see the argument for having a separate window that doesn't change when resizing the viewer.

@tischi would it be possible to replace our "sources" UI element with

[2021-03-01 18:51] vzinche opened #202 "Closing 'continue annotation' throws NullPointerException"
Closing 'continue annotation' without selecting anything leads to a crash
![closing_annot](https://user-images.githubusercontent.com/32451366/87796246-615eec00-c849-11ea-8f2b-d66c86fb1f51.gif)

[2021-03-01 19:08] constantinpape commented on #120
@tischi looks like this problem is fixed in bdv-core. Are we using that version already and can we close this issue?

[2021-03-01 19:12] constantinpape commented on #110
I don't think this is something we want to go for, as we would need to reimplement an `N5FTPReader`. Instead, we want to extend support for ome.zarr and then push EMPIAR/IDR/bioimagearxiv to accept it.

[2021-03-01 19:12] #110 closed

[2021-03-01 19:16] constantinpape commented on #109
@tischi I will close this as the links are valid regardless whether the issue is closed or not.
Just as a hint for the future: If you edit the README (or any other markdown file) in github online you can just drag and drop images in there and don't need to create issues for it.

[2021-03-01 19:16] #109 closed

[2021-03-01 19:18] constantinpape commented on #108
This should all be resolved.

[2021-03-01 19:18] #108 closed

[2021-03-01 19:19] #98 closed

[2021-03-01 19:21] #87 closed

[2021-03-01 19:21] #80 closed

[2021-03-02 10:10] K-Meech commented on #129
I'll close this - we can make more issues for specific things we want to add to the tutorials

[2021-03-02 10:10] #129 closed

[2021-03-02 10:12] K-Meech commented on #83
This works now

[2021-03-02 10:12] #83 closed

[2021-03-02 10:26] tischi commented on #201
I am refactoring all the code right now such that we will be more flexible in the future whether to use the cards panel and/or the standalone UI.
It is a bit of work, because for everything to work consistently my UI has now to listen to the BDV UI, e.g. for color changes of a Source. But OK, I am learning more BDV stuff this way...
For now I will keep the standalone UI and see whether we can make

[2021-03-02 10:28] #120 closed

[2021-03-03 13:03] tischi opened #204 "Clean up code"
@K-Meech @constantinpape

Before submission, I would like to clean up quite a bit of the image segments visualization logic.

The most fun way of doing this would involve a white-board such that we can draw how all the parts communicate with each other.

[2021-03-03 14:02] K-Meech commented on #183
@tischi I'm going to start rewriting parts of the project creator soon. Could we copy this over at some point?
I poked Tobias about the PRs, but no response as of yet.

[2021-03-03 14:54] constantinpape commented on #204
Sounds good.

We could try to find a room at EMBL on the 23rd to do that in a socially distanced way
(I guess @K-Meech will not be able to join in person though, but should be fine to do that partially over zoom.)

[2021-03-03 15:02] K-Meech commented on #204
Sounds good! But yes - I'm still in the UK unfortunately... Can join via zoom though :)

[2021-03-03 15:44] tischi commented on #183
I asked in gitter again, let's wait until tomorrow.

[2021-03-03 17:15] tischi commented on #183
@K-Meech Tobias will not look into it within the next 2 weeks => copy it over, I guess.

[2021-03-04 15:48] tischi opened #205 "ImageSegment vs imglib2-roi"
Explore whether we can replace `ImageSegment` by something from imglib2-roi (if this is stable).

[2021-03-05 10:34] constantinpape commented on #182
@tischi I can maybe look into this, but I would need some pointers to the relevant parts in the code.

[2021-03-05 15:51] K-Meech commented on #62
This is already fixed

[2021-03-05 15:51] #62 closed

[2021-03-07 10:22] constantinpape commented on #182
@tischi quick reminder to point me to the relevant part of the viewer code.

[2021-03-07 13:21] tischi commented on #182
@constantinpape

https://github.com/mobie/mobie-viewer-fiji/blob/1c4f8d296fe505f4f421ef101b428ba222db0480/src/main/java/de/embl/cba/mobie/ui/MoBIE.java#L60

[2021-03-07 13:26] tischi commented on #200
@constantinpape This issue could also be relevant in terms of improving images.json

[2021-03-07 14:05] tischi commented on #204
I think also one thing to consider is to separate the code into mobie-core and a mobie-fiji-plugin.

Then we could rewrite everything that currently is a mess in imagej-utils into improved versions in mobie-core and we (@K-Meech and I) could depend on mobie-core with some of our other projects. The point would be that mobie-core would not add anything to the Fiji user interface.

Another thing to

[2021-03-09 10:27] K-Meech opened #206 "Removing HDF5 support from project creator"
Currently, the project creator lets you select hdf5, or n5 for the file format.
As hdf5 is not suitable for reading from s3 storage, removing it would be simpler to maintain.

@tischi @constantinpape - thoughts?
@yanschwab - all your projects are in n5 right? There would be no issue for you if I remove hdf5 support?

[2021-03-09 10:32] yanschwab commented on #206
No problem yes.

[2021-03-09 12:15] constantinpape commented on #206
No concerns about dropping hdf5 support from my side.

[2021-03-09 13:02] tischi commented on #206
OK, to drop it but try to write the code that we can easily add it back (and add OME).
Good practice to use Java interfaces at the right places ;-)

[2021-03-09 14:11] K-Meech commented on #187
@constantinpape Any suggestions for the default compression type for n5 images?
The default in fiji is currently no compression at all.

[2021-03-09 14:22] K-Meech commented on #183
@tischi I'm copying over this code now, and I noticed an issue.
Currently, if you select a downsampling method it persists throughout that imageJ session i.e. if you export your first image with Average downsampling, then all later images have Average downsampling too.

I added a quick fix here: https://github.com/K-Meech/mobie-viewer-fiji/commit/84a9d1a8f0200a07608b73fd6cc4e6566f959b50
I'm not su

[2021-03-09 14:23] constantinpape commented on #187
That's not good! I would go with gzip.

[2021-03-09 15:37] martinschorb opened #207 "Gallery view of bookmarks/ different sources"
Hi,

as for the Covid dataset, we are finishing up another story with many hundreds of individual volumes (serial tomograms of centrioles).

Our idea is to make all data available through MoBIE in a gallery view with one viewer tile showing one centriole. We know the orientation of the major axis, so we could align all of the objects to appear parallel regardless of original volume orientation.

-

[2021-03-09 16:05] constantinpape commented on #207
We are working towards something very similar here: https://github.com/mobie/mobie/issues/27.
The only difference to what you have described is that all the volumes are in a single bdv viewer instance, but also shown in a grid.
This is implemented as a bookmark already and eventually will support having overlays of multiple sources at the same grid position.
In addition you have a table that allow

[2021-03-09 16:08] tischi commented on #207
ping @K-Meech @constantinpape

Just last week we implemented an auto-grid display for many sources.

This is currently out of scope, the current implementation shows them in one BDV:

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/2157566/110500010-1146d980-80f9-11eb-8e89-3c2d7ebe0a5f.png">

This is generated from this bookmark:
https://github.com/mobie/covid-tomo-dat

[2021-03-09 16:10] tischi commented on #207
@martinschorb
I would suggest you create a small test project using a subset of the images and we see how the user experience is when displaying all the sources just in one BDV. OK?!

[2021-03-09 16:12] martinschorb commented on #207
Cool,
this pretty much contains all we need. The xmls of the individual sources would then define the transformations on how to position the objects.

I will use this as a starting point and play a bit...

The idea of multiple viewers is based on the user wanting to freely rotate and move with respect to one target feature. I wonder what the other volumes in that single viewer will do in that case

[2021-03-10 06:42] tischi commented on #207
Would you like to **show the same volume multiple times**, focusing on different objects?
I'd have to check whether my code currently supports this....

[2021-03-10 07:58] martinschorb commented on #207
That's definitely an application. Think about a platy, where you want to provide a gallery of all "neuron-like" nuclei or synapses, or ...

[2021-03-10 13:51] martinschorb opened #208 "Bug (Windows) opening datasets"
Hi,

no matter when providing a repo or loading one of the pre-defined published datasets, I end up with:

[code]

[2021-03-10 13:58] tischi commented on #208
What are you using MoBIE or MoBIE-beta?
It could be that MoBIE is in fact ahead of MoBIE-beta, could this be?
@K-Meech

[2021-03-10 14:01] martinschorb commented on #208
That's the release from the ImageJ update site.

[2021-03-10 14:11] K-Meech commented on #208
I just tried MoBIE & MoBIE-beta on Windows, and both work for me.
@martinschorb - is your imageJ updated? Also, do you have any other update sites enabled? e.g. for my Crosshair plugin, or one of tischi's older update sites?

[2021-03-10 14:14] martinschorb commented on #208
The Fiji says that it's up-to-date. I have EMBL-CBA and BDV-Playground installed as well. this is the basic Fiji on the EMCF VM.

[2021-03-10 14:23] K-Meech commented on #208
@tischi Does EMBL-CBA or BDV-playground ship an old version of imagej-utils? That could be the problem.
@martinschorb I imagine if you try it in a clean fiji installation everything should run smoothly

[2021-03-10 14:28] martinschorb commented on #208
@tischi when I remove EMBL-CBA, the whole Fiji dies and does not start up again. I also realized that it removed a lot of MoBIE jars when removing EMBL-CBA. So they seem to somehow lock each other up.

[2021-03-10 15:00] tischi commented on #208
Just download a new Fiji and install the MoBIE update site.

What do you use EMBL-CBA for? This is completely outdated.

In fact, I will remove the update site from Fiji!

[2021-03-10 15:07] constantinpape opened #209 "Can't open Platybrowser on current master"
When trying to open the platybrowser on the current master, it fails with the following error:

[code]

Maybe some dependencies not up-to-date?

[2021-03-10 15:09] #208 closed

[2021-03-10 16:04] martinschorb opened #210 "Create dataset converter error"
Hi,

I am trying to convert from a current image to N5 and I am running into:

during `writing level 2`

[code]

- Fresh Fiji (Win64)
- all updated
- MoBIE release from update site, no other additional plugins

[2021-03-10 16:23] constantinpape commented on #209
yes, it's there:
[code]

[2021-03-10 16:47] K-Meech commented on #210
@martinschorb - do you get the same error if you do Plugins > BigDataViewer > Export Current Image as XML/N5?

[2021-03-11 08:27] martinschorb commented on #210
I am trying to find out what goes on. With custom parameters (-> no downsampling) there is no error.
When I give it wrong parameters, (subsampling factors and chunk size not the same dimensions) it enters an infinite loop of error popups.

[2021-03-11 09:16] K-Meech commented on #210
Could you email me the link to the image on the server? Then I can look at it locally too. It sounds like an error with the BigDataViewer export plugin, so we'd have to make an issue on their repository: https://github.com/bigdataviewer/bigdataviewer_fiji

[2021-03-11 10:15] #209 closed

[2021-03-11 10:33] martinschorb commented on #210
Hi, it is a rather generic volume (from a tomogram reconstruction, MRC imported using BioFormats).

`emcf/schorb/data/join2mobie/`

[2021-03-11 10:58] martinschorb commented on #210
Situation:

- Fresh Fiji, export using BDV, exportas N5/XML works.
- Add MoBIE update site, install MoBIE, restart
- BDV export throws:

[code]

So it has something to do with the MoBIE libraries.

[2021-03-11 11:07] K-Meech commented on #210
Thanks for the info!
I think it's a mismatch between the imglib2 versions in the current mobie on that update site. Building the current master locally works.
@tischi Could we maybe update the mobie-beta update site to the current master?

[2021-03-11 13:49] constantinpape commented on #207
@martinschorb fyi. we are discussing the format for the bookmark here: https://github.com/mobie/mobie/issues/27
And there is also an example bookmark for one of the new datasets; but it's still WIP.

[2021-03-12 09:56] tischi commented on #210
@martinschorb

1. Is this for the MoBIE update site or for MoBIE-beta?

@K-Meech and @martinschorb

Could you try the following: Fresh Fiji, Update Fiji (_do not add any update sites_), export using BDV

The reason for doing this is that you need to Update Fiji once to get all the latest BDV versions (this is independent of MoBIE).

[2021-03-12 10:01] K-Meech opened #212 "Making remote metadata in Project Creator"
I'm currently adding a command to write the remote xmls (with service endpoint, bucketname etc...) for all images in the project creator.

There are two options for writing the xmls:
1. Just read/write them as normal text files adding the lines I need
2. Use the ```XmlIoN5S3ImageLoader``` and ```XmlIoSpimDataMinimal().save()```

The second option would require less code, but would need a way to ma

[2021-03-12 10:12] martinschorb commented on #210
Update site

This is precisely what I did. And it works. The moment I add MoBIE, also the BDV export fails (see above).

[2021-03-12 11:28] tischi commented on #210
OK, indeed the MoBIE update site is still shipping special versions of bdv libraries, which is now not necessary anymore since the official ones are working. I will work on making everything compatible again also on the update site...

[2021-03-12 11:38] tischi commented on #210
OK, done (I hope).
Does it work now?

[2021-03-12 11:51] tischi opened #214 "Images are added twice"
If one clicks very fast several times on the "add" button the sources are added several times, leading to errors.

[2021-03-12 12:20] martinschorb commented on #210
Works now, thanks!

[2021-03-12 12:20] #210 closed

[2021-03-13 10:28] constantinpape commented on #182
I have implemented access for public buckets in #211.

Now I am looking into implementing access from private buckets (i.e. buckets that need credentials for read access).
While working on this I noticed a few things and ran into some issues:
1. It's actually possible to access files in public buckets via HTTPS (I initially thought this wasn't possible), but we still need special treatment for s3

[2021-03-15 13:02] K-Meech commented on #212
I found a work-around for this, so no changes needed for now

[2021-03-15 13:02] #212 closed

[2021-03-15 13:34] constantinpape commented on #182
Loading from public and private s3 buckets directly works thanks to #215. This has two advantages:
- It's easier for users to share their projects, because they don't need to put anything on github.
- Data can be kept completely private by pushing everything to a private bucket.

 We should mention this in the corresponding parts of the tutorials etc. now. Cc @K-Meech.

[2021-03-15 13:35] #182 closed

[2021-03-15 15:41] #206 closed

[2021-03-15 15:45] K-Meech commented on #183
This is fixed now. When the PRs above get merged, we can remove: ExportScalePyramid, DownsampleBlock and WriteSequenceToN5 from MoBIE

[2021-03-15 15:45] #183 closed

[2021-03-15 15:48] K-Meech commented on #181
This is fixed in the latest master

[2021-03-15 15:48] #181 closed

[2021-03-15 19:30] constantinpape opened #216 "Can't use 3d viewer from intellij"
I can't use the 3d viewer from intellij; it fails with

[code]

[2021-03-15 19:56] tischi commented on #216
No idea, maybe ask on the forum or here: https://gitter.im/fiji/fiji

[2021-03-20 23:03] constantinpape commented on #200
@tischi @K-Meech
The new spec has a field `menuItem` now.
For now, I decided that it's a string `menuName/itemName`, let me know if you want a different format.

[2021-03-20 23:15] constantinpape commented on #189
This is outdated now and replaced by
[code]

[2021-03-20 23:15] #189 closed

[2021-03-20 23:17] constantinpape commented on #173
There is `menuItem` in the new spec for this now.
See here https://github.com/mobie/mobie-viewer-fiji/issues/200#issuecomment-803475881 if we still want to discuss the format.

[2021-03-20 23:17] #173 closed

[2021-03-20 23:19] #149 closed

[2021-03-20 23:19] #130 closed

[2021-03-22 08:41] constantinpape opened #218 "Add segmentation lut change to context menu"

[2021-03-22 08:46] constantinpape opened #219 "New feature for table: select all segments with value"
Example use-case: segmentation for time-series with track-id column: select all cells with a given track id

[2021-03-22 08:53] constantinpape opened #220 "Annotation mode improvements"
- "Select Next", "Select Previous": right now this always proceeds by "label_id", also if the table was reordered beforehand. It should respect the previous order, so that users can use the annotation mode with a custom ordering
- Enable removing of categories (should also reset the corresponding values in the column to None)
- Enable renaming of categories (should also rename the corresponding va

[2021-03-22 09:15] constantinpape opened #221 "Scatterplot with timepoints"
The scatteplot with timepoints currently shows all the timepoints, which looks very messy.

[2021-03-22 09:15] constantinpape commented on #220
The first point might only be an issue with timepoints.

[2021-03-23 10:36] tischi opened #222 "TableRowListener"
reconsider implementation and what it actually does.

[2021-03-23 11:39] tischi opened #223 "ColoringModelWrapper inefficient"
It currently recomputes the colors always, in case there is a selection, even if the selections do not change.

[2021-03-23 14:59] tischi opened #224 "UI Elements"
@K-Meech @constantinpape
I am wondering whether the [T]able and Scatter[p]lot views should be next to [V]olume and [S]lice view check-boxes, such that they can be conveniently toggled on and off.
Main issue is that the scatter-plot is very hidden right now.

[2021-03-23 17:19] tischi opened #225 "Keep track of ViewerState"
For example, `SegmentationDisplay` could implement `ColoringListener` and `SelectionListener`, maybe also other `Listeners`.

[2021-03-23 17:23] tischi commented on #225
Also add a `ViewerTransformChangedListener` and put as normalised `viewerTransform`.

[2021-03-23 17:29] tischi opened #226 "Source Transforms"
Probably change the source transforms (additional source transform) with the playground code.

[2021-03-23 17:37] tischi opened #227 "window closing handling"
Can one prevent closing of windows like BDV and Table and ScatterPlot?

[2021-03-23 17:38] tischi commented on #227
And redirect such that it only is hidden and the state is not changed?

[2021-03-23 17:52] tischi commented on #227
https://stackoverflow.com/questions/7613577/java-how-do-i-prevent-windowclosing-from-actually-closing-the-window/7613729
[code]

[2021-03-23 17:53] constantinpape commented on #224
Table: we always show it and it should only be added removed with the segmentation source.
So we don't want the [T] for it. Ideally, we would add and remove it only with the segmentation source and also remove the `x` (close) of the table UI.

Scatterplot: yes, having it in the GUI with [p] whould be great. We should also add it to the `segmentationDisplay`. I would propose to add the following fi

[2021-03-23 18:00] tischi opened #228 "TableViewer"
Refactor and make TableMenu an standalone class, which is used inside the TableViewer.

[2021-03-23 18:15] tischi commented on #225
@K-Meech @constantinpape

I just had an idea which may be very easy (hope it's a good one):

[code]

The selection and coloringModel can be just fields of the `SegmentationDisplay`, like this they will be naturally always up to date 😉

In principle, we could even be fancy and write a custom JSON parser that directly instantiates the models, rather then keeping the JSON fields.

However, what could

[2021-03-23 18:17] tischi commented on #225
EDIT: I added the `transient` keyword, which tells JSON to ignore those fields (quite handy).

[2021-03-24 08:14] constantinpape commented on #224
@K-Meech @tischi any opinions on this?

[2021-03-24 09:46] K-Meech commented on #224
Looks good to me! In the long run, we might want to add the other scatterplot parameters e.g. `Scale Factor X`, `Scale Factor Y` and `Dot Size Scale Factor`. The dot size is particularly useful to record when you have a lot of points in a plot.

[2021-03-24 10:00] constantinpape commented on #224
Ok, let's go with `showScatteplot` and `scatteplotAxes` for now and revisit this once @tischi comes around to implement and test the scatterplot state. I think if we want to add more fields we may want to nest the scatteplot fields in the spec (and maybe also the 3d viewer fields).

[2021-03-24 12:20] constantinpape commented on #224
I have added the fields `showScatterPlot` and `scatterPlotAxes` now.

[2021-03-24 19:06] tischi commented on #225
I thought a bit more and I am very tempted to try to actually try to instantiate the classes that we need directly from the JSON.

For example:

[code]

I think this would only cause one more nesting in the JSON:

“coloring” : { “alpha” : 0.5, “lut”: “glasbey” }

What do you think? I think it may be much easier for us to keep track of the state of everything in Java and then also directly serializ

[2021-03-24 19:13] tischi commented on #225
...but let's wait with this. I think I first need to write more code and understand better how I actually instantiate these classes....

[2021-03-25 08:38] tischi opened #229 "Window positions"
Fix the automated positioning of all windows.

[2021-03-30 09:06] tischi opened #230 "Luts and coloring models"
This needs a rethink and clean up.

[2021-03-30 10:39] tischi opened #231 "Collections vs. Lists?"
It would be nice if my code would be more clear as to when the order of a List is important and when not.

[2021-03-30 10:42] tischi commented on #230
Also maybe I should get rid of all the "wrappers" and just implement one big class `MoBIEColoringModel`.

[2021-03-30 13:04] tischi opened #232 "Grid display contrastLimits"
For some reason the contrastLimits of the first source in a grid are not adjusted according to the values in the imageDisplay

[2021-03-30 13:20] #232 closed

[2021-03-31 11:22] K-Meech opened #233 "Auto custom colouring scheme (A-R-G-B)"
For figure making, it'd be useful to generate a table with the current segment colouring scheme from the UI. Currently, these tables must be made manually, and have a column A-R-G-B for each label.

[2021-04-12 11:44] tischi opened #234 "Implement proper adapter"
Get rid of this: `private Map< SelectionModel< TableRowImageSegment >, SegmentAdapter< TableRowImageSegment > > selectionModelToAdapter`

[2021-04-12 16:59] tischi opened #235 "New Look And Feel"
@constantinpape @K-Meech

What do you prefer?

### Darcula

whale BG color would need update of course...

<img width="483" alt="image" src="https://user-images.githubusercontent.com/2157566/114432402-f4526a00-9bc0-11eb-97af-153b2e31e581.png">

### Bright

<img width="475" alt="image" src="https://user-images.githubusercontent.com/2157566/114432519-13e99280-9bc1-11eb-89c0-a3fa1928e537.png">

[2021-04-12 17:00] tischi commented on #235
Here is more information: https://www.formdev.com/flatlaf/themes/

[2021-04-13 08:32] constantinpape commented on #235
I think I like bright more. Looks better with the whale (even with adjusted background).

[2021-04-13 09:19] tischi commented on #235
Me bright, too => majority :-)

[2021-04-13 09:19] #235 closed

[2021-04-14 16:26] tischi opened #236 "Scatterplot for segmentation grid view"
@constantinpape @K-Meech

This works 🚀

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/2157566/114745275-cd29a300-9d4e-11eb-906a-186ddb08ecc3.png">

But I am not sure what to do with the scatter plot as it shows everything on top of each other:

<img width="597" alt="image" src="https://user-images.githubusercontent.com/2157566/114745413-eaf70800-9d4e-11eb-9347-cf5c49

[2021-04-14 16:29] tischi commented on #236
In fact, I think that's fine. It should show everything on top of each other.

[2021-04-14 16:29] #236 closed

[2021-04-20 15:44] martinschorb opened #237 "Various issues and discussions"
Hi,

when I right-click in the BDV-PG source list I get:

[code]

[2021-04-20 16:04] tischi commented on #237
@NicoKiaru I guess that means we have to ship also the mastodon jar?

[2021-04-20 20:17] tischi commented on #237
I uploaded bdv-selector (which I did not yet) and several mastodon jars

[code]

@martinschorb Does that help?

[2021-04-21 07:23] martinschorb commented on #237
Seems to work now.
I got one full freeze but could not reproduce it.

Is it intentional that the BDV-PG sources list only shows up when adding a segmentation source? With multiple image sources, there's no sources list shown yet.

[2021-04-21 07:52] NicoKiaru commented on #237
Hi, yes some mastodon dependencies need to be updloaded - the ones you mentioned.

Do you mean the tree view ? What should be the intended behaviour for you ? You have a `Show Bdv Playground Window` command if that's useful for you. Normally the window should be updated automatically when you add new sources.

[2021-04-21 08:23] tischi commented on #237
Same question for me: would you like to see the Source Tree in MoBIE by default? I am reluctant because the screen becomes very full.

[2021-04-21 08:24] martinschorb commented on #237
OK, I am just not sure how MoBIE and the rest of the BDV (PG) window(s) intreract.

When I start MoBIE, I get
- the MoBIE main window
- a single BDV window (called MoBIE_00). This BDV window comes with the options tab (blue arrow).
- No TreeView (BDV-PG sources list, what is the official name...?)

The windows stay exactly the same, also when I add more image sources.

When I add a segmentation in

[2021-04-21 08:27] tischi commented on #237
- BDV source tree only during segmentation: That is a **bug**.
- Log window only during segmentation: That is a **bug**.
- Table and scatter plot only for segmentation: on purpose because they show the segment features.

[2021-04-21 08:29] martinschorb commented on #237
When I then close the MoBIE main window, all other windows stay. AFAIK there is no way getting it back in the current state, correct?

Also, the first click into the tree view (no matter whether in MoBIE-context or standalone) always triggers the Console window to open.

Maybe, something like a general " BDV window selector" - yet an additional window, yeah! Or you could maybe integrate it in the

[2021-04-21 08:36] tischi commented on #237
About the Source Tree: I would try to make it configurable (via right-click) whether it shows up and the default would be that it does not show up for MoBIE.

[2021-04-21 08:36] martinschorb commented on #237
Also the BDV-PG that ships with MoBIE-beta seems to be missing some libraries:
- start Fiji (MoBIE-beta)
- show BDV Playgorund window
- drag an xml source
- show source in new BDV window

[code]

[2021-04-21 08:55] constantinpape commented on #237
I think this is a good solution. I would rather not have even more windows show up by default...

About all the different windows: at some point we discussed whether to disabling closing some of them independently (e.g. table or scatterplot) and for the rest whether to close everything if one window is closed (e.g. bdv window or mobie main menu). I still think this would be a good solution.

[2021-04-21 09:18] K-Meech opened #238 "Clicking X doesn't remove source in MoBIE2"
Clicking the X button in the sources panel doesn't remove the source from the list.

For segmentations, it closes the table and scatter plot, but still doesn't remove it from the list.

[2021-04-21 09:21] K-Meech opened #239 "Opacity of segmentation can't be adjusted in MoBIE2"
E.g. for the zebrafish dataset, if I add "2B23352582_lynEGFP_seg" and click the 'O' button there is the following error:

[code]

[2021-04-21 09:25] K-Meech opened #240 "S checkbox doesn't work for segmentations in MOBIE2"
E.g. in the zebrafish dataset, if I add "2B23352582_lynEGFP_seg" and toggle the 'S' checkbox in the sources panel, the segmentation always remains visible.

[2021-04-21 09:33] K-Meech opened #241 "V checkbox spawns many 3D viewers"
e.g. in the zebrafish dataset, if I add "2B3352582_lynEGFP_seg" and select the top two rows in the table - toggling the 'V' checkbox in the sources panel opens four 3D viewers.

[2021-04-21 09:54] K-Meech opened #242 "Keyboard shortcuts for segmentation browsing in MoBIE2"
The segmentation shortcuts don't work in MoBIE2 e.g.
- Ctrl + shift + N to deselect all image segments
- Ctrl + S to change selection visualisation
- Ctrl + L to shuffle categorical colours

[2021-04-21 10:41] NicoKiaru commented on #237
Right, at the moment bigvolumeviewer-0.1.8-SNAPSHOT needs to be uplaoded. @tischi I can move the bvv stuff up to bdv-biop-tools to avoid that

[2021-04-21 11:11] NicoKiaru commented on #237
I thought there was an issue in Bdv-PG regarding the windows showing up or not, but I can't find it

[2021-04-21 11:28] tischi commented on #237
@NicoKiaru regarding BVV, is there a demo somewhere what one can do with it in the playground?

[2021-04-21 11:31] NicoKiaru commented on #237
I don't think so. What do you prefer ? That I add one or that I remove the dependency ? FYI only 16-bits images are supported with BVV. You can create a BVV window and then show sources in it with the Fiji menu bar, but there'e no programmatic demo.

[2021-04-21 11:38] tischi commented on #237
I am actually thinking about use cases for MoBIE and the playground. If we could add a context menu item: `Show in BVV` which would show the SAC at the mouse position in BVV that could be very interesting. If that's possible then I would prefer to leave BVV in the playground.

[2021-04-21 11:45] NicoKiaru commented on #237
OK, let's keep it then. I still want to be able to link sciview from @skalarproduktraum and @kephale. Let's try to keep this in mind also

[2021-04-21 11:57] tischi commented on #237
Cool! And does the context menu item exist already or should I add it?

[2021-04-21 12:01] NicoKiaru commented on #237
The commands are in https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/scijava/command/bvv , and are already `BdvPlaygroundAction`s. Do we need something else ?

If we're going to use different viewer (BDV, BVV, Sciview), we could also revive the idea of the display interface ( but not now... let's try to have a plan for the "layer" stuff first).

[2021-04-21 12:01] NicoKiaru commented on #237
And bvv actions are in https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/bvv

[2021-04-21 12:05] tischi commented on #237
That sounds great! I would then try to add a simple `showInBVV` context menu when I find the time.

[2021-04-21 12:16] tischi commented on #240
Thanks!

[2021-04-21 12:16] #240 closed

[2021-04-21 12:16] tischi commented on #239
Thanks!!

[2021-04-21 12:16] #239 closed

[2021-04-21 12:21] tischi commented on #241
Thanks again!

[2021-04-21 12:21] #241 closed

[2021-04-21 12:26] tischi commented on #238
Thanks a lot!

[2021-04-21 12:26] #238 closed

[2021-04-21 12:34] tischi opened #243 "3D crop export to ImageJ"
Hi @NicoKiaru,

@bogovicj mentioned that the playground has something to specify a 3D region which would be resampled and exported as an ImagePlus (or similar).

Is that the case? Could you point me to it? I would like to enable it in MoBIE.

[2021-04-21 15:38] martinschorb opened #244 "bookmarks NormView"
Hi,

I have another funny dataset to put into MoBIE.

- 1500 serial tomograms (2.5 TB) in 8 datasets (different experimental conditions)
- I like each dataset to be displayed as a gallery
- for each "image" (serial tomo volume) I want to create a bookmark that focuses on the target object
- the target object is defined by 3 distinct points in voxel coordinates. This basically already decides the v

[2021-04-21 20:15] constantinpape opened #245 "Don't open scatter plot by default"
I don't think the scatter plot should be opened by default when a segmentation is added.
- It's confusing, because yet another window appears.
- The choice of 'label_id' and 'anchor_x' is arbitrary and doesn't make much sense
- It's inconsistent with the view spec, where the default is "showScatterPlot": False

[2021-04-21 20:19] constantinpape opened #246 "Several issues with grid view"
# Grid view issues

I have tried the grid view for the zebrafish dataset and found a couple of issues.

## Opening the grid view does not change the field of view, does not open the grid table, does open a scatter plot:

When I select one of the grid views, I see this:
![Screenshot from 2021-04-21 22-01-27](https://user-images.githubusercontent.com/4263537/115614511-18632900-a2ee-11eb-9a26-48472b4

[2021-04-21 20:28] constantinpape commented on #244
So each dataset consists of ~ 190 tomograms and these should be arranged in a grid view?

This would mean  ~ 190 bookmarks per dataset? I am not sure if this is very usable, because scrolling through so many bookmarks would be quite tedious for a user.

Another option I can see is implementing this via the 'grid table':
we require a table for grid views already, see https://mobie.github.io/specs/m

[2021-04-21 20:40] constantinpape opened #247 "Opening platybrowser project with new spec"
I tried to open the platybrowser dataset from branch `spec-v2`:
https://github.com/mobie/platybrowser-datasets/tree/spec-v2

This throws:
[code]

I guess the underlying issue is that MoBIE tries to open the file `https://raw.githubusercontent.com/mobie/platybrowser-datasets/spec-v2/data/0.0.0/null`, which does not exist.
This is weird for two reasons:
- It should load [this file](https://github.co

[2021-04-22 06:24] martinschorb commented on #244
correct, some have more, some less.

This only offers positions (ie. shift) , correct? I would need the full view functionality, since each volume in this mode will be oriented differently. Hence the idea of using bookmarks.
Alternatively, we could go the proposed spec2 way of defining multiple sets of transformations for each source and show them in different "scenes".

[2021-04-22 07:12] constantinpape commented on #244
I see. Yes, for starters this would only include the position. It could potentially be extended to also change the complete view upon selection by adding more dedicated columns, but that may be a bit too much work for now.

For the bookmark approach you would need to do the following:
- add a grid view for all tomograms as discussed above, but without adding `anchor` columns
- add the individual b

[2021-04-22 09:06] tischi commented on #245
In fact, I kind of like to open it as a default (first class citizen).
@K-Meech what do you think?

The default columns should be anchor_x and anchor_y, is that not the case? Then this is a bug.
Would you think they make sense?

[2021-04-22 09:23] K-Meech commented on #245
I'd probably agree with @constantinpape. The scatter plot is super useful, but only really for datasets where you have additional measurements in your table. I think the new 'P' checkbox already does a lot to make the scatterplot easier to find.
Also, for me the default is anchor_x vs anchor_y - seems like a good choice!

[2021-04-22 09:26] K-Meech opened #248 "Can't change which columns are shown in scatterplot"
e.g. if I open the zebrafish dataset, and add the first segmentation - the scatterplot appears with anchor_x and anchor_y.

If I then go to the Table menu and Plot > 2D Scatter Plot... with different columns, the scatter plot doesn't update.

[2021-04-22 09:33] constantinpape commented on #245
Exactly.

I didn't check this carefully, so I probably just mis-intepreted the scatter plot.
I am not sure if we even need a default if the scatterplot is not opened by default:
then the first time the user clicks 'P' you could just open the selection menu for which axes to show in the scatterplot.

If that's to complicated in terms of UI logic, then using anchor_x, anchor_y as defaults is fine.
(

[2021-04-22 09:48] tischi commented on #248
Show we remove the menu item from the Table (just for MoBIE)?
I think managing the [ P ] and the table menu item at the same time could be a bit messy...

[2021-04-22 09:53] constantinpape commented on #248
How would you change the columns shown in the scatter plot then?

[2021-04-22 09:59] tischi commented on #248
if there was no scatterplot I would show the UI as you suggested.

otherwise if you right-click into the scatterplot you can change the columns.

[2021-04-22 10:11] constantinpape commented on #248
Ok, that sounds good!

[2021-04-22 10:25] K-Meech commented on #248
Yes - sounds like a good solution! We'll just have to make sure we document it properly - the right click options are often a bit hidden for new users

[2021-04-22 10:42] tischi commented on #248
The issue with the Table Menu is that on a Mac, it appears on top of your screen and not at the top of the table window.
Thus it is easy to overlook (even I sometimes forget about it).

[2021-04-22 11:50] tischi commented on #248
One can change this:
`System.setProperty("apple.laf.useScreenMenuBar", "false");`
<img width="624" alt="image" src="https://user-images.githubusercontent.com/2157566/115705500-e47b1880-a36c-11eb-97ea-d122ee96e9d4.png">

[2021-04-22 11:50] tischi commented on #248
@constantinpape
Do we have a json field for whether the ScatterPlot should be shown or not?
I could not find it...

[2021-04-22 11:54] constantinpape commented on #248
Yes, `showScatterPlot` and `scatterPlotAxes` (to save the columns that are used for the axes), see https://mobie.github.io/specs/mobie_spec.html#view-metadata.

[2021-04-22 12:06] tischi commented on #248
Do we want defaults for those? If yes, maybe we should put it in the spec?

[2021-04-22 12:21] #245 closed

[2021-04-22 12:22] tischi opened #249 "Show scatterplot UI when showing it the first time"
Refactor the code such that the scatterPlotViewer is only instantiated when needed.
Right now it always is instantiated.

[2021-04-22 12:26] tischi commented on #249
Also the logic for whether to recreate or not should be moved out of the `UserInterfaceHelper` into the `ViewerManager`.

[2021-04-22 12:34] martinschorb opened #250 "Create MoBIE project or Open MoBIE Project broken..."
Hi,

I do:

- create New MoBIE project
- select directory
- add a dataset
- add an image to that dataset

then I try to open that project

- Open MoBIE project
- give directory address

[code]

despite:

[code]

[2021-04-22 12:36] martinschorb commented on #250
This is on MoBIE1 release MacOS.

[2021-04-22 12:38] constantinpape commented on #248
`showScatterPlot`: yes, the default is `False`. I can add it to the spec description.
`scatterPlotAxes`: I don't think it makes much sense to add default values here, because this depends on the data at hand.

[2021-04-22 12:40] constantinpape commented on #250
This looks like invalid json, because the closing `}` is missing.

[2021-04-22 12:42] martinschorb commented on #250
ooops, I forgot to copy that line.

[2021-04-22 12:59] martinschorb opened #251 "Create MoBIE project move image fails"
Hi,

- create new MoBIE project
- select directory
- add dataset
- add image
- select "move image"

[code]

[2021-04-22 13:07] martinschorb commented on #251
"Copy Image" leads to the same error:

[code]

Just tested with a fresh Fiji (fully updated) and only MoBIE release installed

[2021-04-22 13:10] martinschorb commented on #250
Cannot reproduce in fresh Fiji

[2021-04-22 13:10] #250 closed

[2021-04-22 13:50] martinschorb opened #252 "re-open BDV window when closed"
Hi,

In MoBIE1, when the BDV window is closed, there is no way of getting back a new one other than re-starting MoBIE.

I would suggest that if any source is added to a non-existing BDV window, a new one should be created (same behaviour as BDV-PG).

[2021-04-22 14:39] K-Meech commented on #251
Thanks for finding this @martinschorb. I'll fix this when I update the project creator for MoBIE2.
Do you need this urgently? If so, I can create the project for you with my local setup

[2021-04-22 14:41] martinschorb commented on #251
Thanks for the offer. I can get along manually.

[2021-04-22 14:46] martinschorb commented on #244
Trying to get a bit more insights into `NormView` and the bookmarks, I found that modifying `position` does not change the way a bookmark is displayed. What is its purpose?

[2021-04-22 15:17] martinschorb commented on #244
I am now getting my head into  `NormView`.

One comment towards spec v2:

- why is that transformation stored as string list? Others are number lists.

[2021-04-22 16:42] constantinpape commented on #244
Like I said earlier, `normView` is deprecated. In the new spec this is `viewerTransform: normalizedAffine`, see https://mobie.github.io/specs/mobie_spec.html#view-metadata. The strings were also just a hack in the earlier spec, the parameters are proper double values now.

This is just a bug in mobie V1, it's fixed with the new spec.

[2021-04-22 17:51] martinschorb commented on #244
Yes, that's what I was thinking as well.

[2021-04-22 17:51] #244 closed

[2021-04-22 18:20] constantinpape commented on #248
I have added it to the "description" for `showScatterPlot` now, see https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L149. (This is used to autogenerate the text on mobie.github.io).
For `scatterPlotAxes` I don't think we can find sensible defaults, so I would just leave that blank.

[2021-04-23 06:35] martinschorb opened #253 "set default image"
Hi,

in `datasets.json` the default dataset is specified.

Could the same happen in `images.json` as well?  Right now the image that is shown on startup is the first one alphabetically. It would be nice to have some way of specifying it other than renaming.

[2021-04-23 07:45] constantinpape commented on #253
No, it's not alphabetic right now, but there is a default bookmark that is used. This is created automatically in mobie-utils-python, and probably is alphabetic for you because you add images in an alphabetic order.
`images.json` is deprecated, in the new spec the corresponding thing is `dataset.json`, which is in the top-level directory of a dataset. It contans `views`:`default`, which specifies

[2021-04-23 07:53] constantinpape commented on #247
@tischi any idea what is the issue here? I think this would be an important thing to fix next in order to transition everything to the new spec.

[2021-04-23 13:08] tischi commented on #247
Thanks for the ping!
In ALMF virtual retreat yesterday and today.
Will tackle it on Monday!

[2021-04-23 14:14] tischi commented on #247
I fixed it.

[2021-04-23 14:14] #247 closed

[2021-04-23 14:22] tischi commented on #246
@constantinpape I uploaded a new version. I will close this issue although I am not 100% sure what I have fixed.
I would be grateful if you would make individual small issues for all the remaining bugs. That's much easier for me to keep track of what has been fixed. Hope that's OK! Sorry in case you may have to raise some issues a second time!

[2021-04-23 14:22] #246 closed

[2021-04-23 17:11] constantinpape commented on #246
Sure, no problem.
I will check again what works and what doesn't.

[2021-04-23 17:13] constantinpape commented on #207
This discussion has moved on in other issues.

[2021-04-23 17:13] #207 closed

[2021-04-23 17:15] constantinpape commented on #253
We already have an issue about enabling to change the default bookmark #193, so I am closing this one.

[2021-04-23 17:15] #253 closed

[2021-04-23 17:17] constantinpape commented on #243
Related to #199?

[2021-04-23 17:19] constantinpape commented on #252
There is another issue on this already, #227. Please discuss in there.

[2021-04-23 17:19] #252 closed

[2021-04-23 17:28] NicoKiaru commented on #243
@tischi I missed your notification, yes, it's the idea of `resampled sources`.

It's used a few ways:
* either to resample a source based on the voxel locations of another one (you have a demo here : https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/test/src/sc/fiji/bdvpg/ResamplingDemo.java)
* it's also what I use to export the current bdv view into an image plus (https://

[2021-04-23 17:46] constantinpape opened #254 "Sources are listed in arbitrary order in the UI"
The sources seem to appear in some arbitrary order in the UI:
![Screenshot from 2021-04-23 19-45-09](https://user-images.githubusercontent.com/4263537/115909954-7d448d80-a46c-11eb-85fa-fc1894134682.png)
They should be ordered either alphabetically or in the same order as in `sources`.
(Which is always alphabetically, at least when generated with the python tool, see
https://github.com/mobie/platyb

[2021-04-23 17:53] constantinpape opened #255 "Grid view table is not closed when changing the view"
When changing to a different view from a grid view, the table stays behind.

See for example this, where I switched from "small-grid-view" to "default" in one of the zebrafish datasets
![Screenshot from 2021-04-23 19-51-03](https://user-images.githubusercontent.com/4263537/115910639-5e92c680-a46d-11eb-8e15-669d3810e458.png)

[2021-04-23 17:59] constantinpape opened #256 "Loading large grid views takes long"
Loading the large grid views in the zebrafish dataset takes very long from local internet.
Is there any way to do this in a more lazy fashion?
I.e. get all the shapes and compute the new viewer transform and switch to it.
Only then start to lazily load the sources.

Is there maybe some other blocking calculation going on that could be sped up?
(I can check next week from EMBL intranet how much fas

[2021-04-23 18:02] constantinpape commented on #246
These issues are fixed now and grid views work very nicely.
See #255 and #256 for some smaller issues I noticed.

[2021-04-23 18:20] tischi commented on #254
Thanks! Should be fixed now.

[2021-04-23 18:20] #254 closed

[2021-04-23 18:23] tischi commented on #255
Thanks! Should be fixed!

[2021-04-23 18:23] #255 closed

[2021-04-23 18:26] tischi commented on #256
I completely agree with the slow speed!
I will look into making this more lazy...

[2021-04-23 18:30] tischi commented on #246
I uploaded the new version with above issues hopefully fixed.

[2021-04-23 18:42] tischi commented on #256
I am not sure what to do, if the user zooms out we will anyway have to load all of them and it would be slow.

I also had a look and implementing additional laziness is a bit annoying because, as you anticipated, the GridSourceTransformer needs the sources in order to transform them....

But I admit right now nothing happening for a long time is a bit disturbing.

Maybe a progress report in the BD

[2021-04-23 19:21] constantinpape commented on #256
But couldn't that happen lazily as usual in BDV?

In theory it should work to compute the grid transforms based on the extents after transformation though (and for this you wouldn't need to load the data), or am I missing something?

Anyway, I agree that this is not really highest priority right now and adding some progress bar or some indication that the viewer is busy would help a lot already.

[2021-04-23 19:37] constantinpape commented on #254
yes, fixed now

[2021-04-23 19:41] constantinpape commented on #255
yes, fixed

[2021-04-23 19:49] constantinpape opened #257 "Order of UI elements"
The order of UI elements seems pretty random right now. See the current one for platybrowser and zebrafish below.
I think they should be ordered alphabetically and the bookmarks should maybe be somehow separated from the source menus.

![Screenshot from 2021-04-23 21-36-44](https://user-images.githubusercontent.com/4263537/115922715-8722bc80-a47d-11eb-8974-3c7b6758c2ef.png)
![Screenshot from 2021-

[2021-04-23 21:42] tischi commented on #256
I need the `SourceAndConverter` objects, because these are the objects to be transformed, and, normally without introducing additional non-standard laziness, these object can only be instantiated by first loading the `SpimData`; not the whole data, of course, but whatever this code loads initially (I am not sure how much this loads, maybe only the xml, maybe more...):

[code]

...and then there is

[2021-04-26 08:32] constantinpape commented on #256
Ok, this indeed sounds fairly complicated...
I think if we add some indication that the viewer is busy it should work for now, but we should leave this one open as future work.

[2021-04-26 14:21] vzinche opened #258 "Mobie2 : Weird main menu size"
That's how it starts for me:
![Screenshot from 2021-04-26 16-20-48](https://user-images.githubusercontent.com/32451366/116098497-6c358f80-a6ab-11eb-9886-4bac79bca7ca.png)

[2021-04-26 14:24] vzinche opened #259 "Mobie2: Selecting a cell throws exception"
Selects the cell though

![Screenshot from 2021-04-26 16-23-06](https://user-images.githubusercontent.com/32451366/116098989-d0585380-a6ab-11eb-9b89-e3e100441b0e.png)

[2021-04-26 14:27] vzinche commented on #249
Not sure whether it's the same issue, but for me starting a scatterplot from the table doesn't work at all. No errors, exceptions, no reaction whatsoever.

[2021-04-26 14:29] vzinche commented on #249
Ah, nevermind, I've found the P option

[2021-04-26 14:41] vzinche commented on #259
Something similar with coloring by column:
![Screenshot from 2021-04-26 16-41-20](https://user-images.githubusercontent.com/32451366/116101654-4b226e00-a6ae-11eb-9fdb-83f6491788af.png)

[2021-04-27 07:24] tischi commented on #258
@vzinche Which OS is that?
@constantinpape @K-Meech can you confirm this?

[2021-04-27 07:28] vzinche commented on #258
Ubuntu 18.04.5 LTS

[2021-04-27 07:37] tischi commented on #249
@vzinche I removed this from the table menu. Is that OK? Easier to maintain for me if there are not too many ways how to open the scatterplot.

[2021-04-27 07:38] vzinche commented on #258
Okay, it only happens when I am using two screens.
With one it looks pretty normal:

![Screenshot from 2021-04-27 09-32-38](https://user-images.githubusercontent.com/32451366/116203638-2ecd1280-a73c-11eb-9536-47434c0ab4cc.png)

[2021-04-27 07:40] tischi commented on #248
Thanks!

[2021-04-27 07:40] #248 closed

[2021-04-27 08:24] tischi commented on #258
I found this thread: https://stackoverflow.com/questions/6322627/java-toolkit-getting-second-screen-size
I will try to tackle this at some point...

[2021-04-27 08:29] vzinche commented on #258
In case it helps, Mobie1 is opening all the windows on the same (main) screen, while Mobie2 opens them on different ones side by side. So I could suspect it just treats both displays as one *really* wide screen

[2021-04-27 08:36] K-Meech commented on #242
Looks good - thanks!

[2021-04-27 08:42] K-Meech opened #260 "'X' button doesn't work when plot is shown"
e.g. in the zebrafish dataset, I add the first segmentation then click 'P' to open the scatter plot. When I click X it then errors and doesn't remove the segmentation.

[code]

[2021-04-27 08:45] K-Meech opened #261 "Error when closing plot window"
Closing the plot window (rather than clicking P), leads to an error and the plot freezing:

[code]

[2021-04-27 08:51] K-Meech opened #262 "Closing 3D window doesn't sync with 'V' checkbox"
e.g. in the zebrafish dataset, I add the first segmentation, and select a few cells.
Pressing V opens the 3D Viewer, but closing the 3D viewer does not uncheck the V box.
After that, toggling the V checkbox can't bring the 3D viewer back.

[2021-04-27 09:07] K-Meech opened #263 "Can't view prospr genes in Platybrowser dataset"
Adding the first prospr gene 'ache' gives the following error:

[code]

[2021-04-27 09:13] #242 closed

[2021-04-27 09:14] tischi commented on #258
I think I fixed it. Please test tomorrow again and reopen the issue if needed.

[2021-04-27 09:14] #258 closed

[2021-04-27 09:15] tischi commented on #259
Fixed.
Thanks for the post!

[2021-04-27 09:15] #259 closed

[2021-04-27 09:15] tischi commented on #261
Thanks!
I forgot to update imagej-utils.

[2021-04-27 09:15] #261 closed

[2021-04-27 09:17] tischi commented on #260
works with latest changes, I think.

[2021-04-27 09:17] #260 closed

[2021-04-27 09:23] K-Meech opened #264 "Issues with bookmarks in Platybrowser"
Many of the Platybrowser bookmarks don't display correctly. Some examples:

- 'Figure 1C: Adult eye' / 'Figure 1B: Epithelial cell': clicking 'view' gives no response

- 'Figure 5C: Gene clustering full body': shows the correct sources, but doesn't change the orientation of the view or colour by the correct column
- 'Figure 3B: Morphology clustering full body':  errors with:
[code]

[2021-04-27 10:07] #262 closed

[2021-04-27 11:29] tischi commented on #263
@constantinpape
This is the culprit: https://github.com/mobie/platybrowser-datasets/blob/cf7a12998ce569bdaaaf0f717cd9509d108f3319/data/1.0.1/dataset.json#L15

[2021-04-27 11:42] tischi commented on #263
Otherwise I think I fixed it.
I recommend lowering the opacity of the segmentations to 0.5 or even lower for the bookmarks.

[2021-04-27 11:43] tischi commented on #264
I think I fixed most of it.
@constantinpape I would recommend lowering the opacity in the segmentations in the bookmarks to 0.5 or even lower.

[2021-04-27 11:43] constantinpape commented on #263
Yes, I have added `randomFromGlasbey` to the spec to support the prospr use-case in platy.
Here, the idea is to select a random color, for each new prospr source, in order to have them displayed in a good way.

If you think that's to complicated for now we can also remove it from the spec again and I assign a fixed random color mapping.

[2021-04-27 11:44] tischi commented on #263
I see, I just remembered that 😄
I will support it! Leave it as is!

[2021-04-27 11:56] #263 closed

[2021-04-27 13:01] K-Meech opened #265 "Updating MoBIE project creator for MoBIE2"
@tischi @constantinpape I'll start updating the MoBIE project creator soon to fit with the new spec.
Are there any major changes still to come? I can wait longer, if it's still changing.

[2021-04-27 13:09] constantinpape commented on #265
I don't expect any big changes on the spec side, but I am not sure how much is still moving on the java front.

[2021-04-27 15:47] tischi commented on #265
@K-Meech I will explain you the current state during our meeting tomorrow.

[2021-04-27 16:43] tischi opened #266 "endings of tables"
@constantinpape
https://github.com/mobie/platybrowser-datasets/blob/cf7a12998ce569bdaaaf0f717cd9509d108f3319/data/1.0.1/dataset.json#L8009

Should I add the ".tsv" in the code?
I was not sure whether we force .tsv in the spec...we talked about it but I forgot...

[2021-04-27 18:58] constantinpape commented on #266
Yeah, I think we should enforce the ending in the json here. I will fix it for the platy bookmarks and add it to the regex in the spec.

[2021-04-27 19:55] tischi commented on #266
you mean add them explicitly?

[2021-04-27 19:56] tischi commented on #266
...adding them explictly into the json would work for me. I don't see a major disadvantage and it is more explicit, which is less error prone.

[2021-04-27 19:58] constantinpape commented on #266
Yes, exactly. It should be `vc_assignments.tsv` in the json. Then there is no need to guess the file extension (which could be both csv or tsv in the new spec).

[2021-04-27 22:12] constantinpape commented on #266
I have updated it in the platybrowser repo.

[2021-04-27 22:14] constantinpape commented on #264
The segmentations all have an opacity of 0.5 already.
@K-Meech @tischi let me know if you think there is a better value for all segmentations in the bookmarks, I can easily updated it now.

[2021-04-28 05:26] tischi commented on #266
Thanks!

[2021-04-28 05:26] #266 closed

[2021-04-28 05:28] tischi commented on #264
Oops, then it's my code not reading the opacity from the bookmarks 😉

[2021-04-28 07:30] tischi commented on #264
I think for Fig 2B: Epithelial cells segmentation opacity 0.25 looks better than 0.5

[2021-04-28 07:31] tischi opened #267 "3D Universe opening several times"
When switching between exclusive bookmark views the 3DUniverse opens a second time.

[2021-04-28 07:57] #267 closed

[2021-04-28 08:00] tischi commented on #257
@constantinpape Do we enforce the name "bookmark" in the spec?

[2021-04-28 08:03] tischi commented on #257
I somehow think the "uiSelectionGroup" should be free to choose whatever people like and then we just order alphabetically.
For our own projects we could just try not to have anything that is above than "b" and then the bookmarks would always be on top 😉

[2021-04-28 08:13] #229 closed

[2021-04-28 08:13] #227 closed

[2021-04-28 08:13] #226 closed

[2021-04-28 08:14] #221 closed

[2021-04-28 08:14] #218 closed

[2021-04-28 08:16] tischi opened #268 "Switch datasets"
Implement switching of datasets in MoBIE2.

[2021-04-28 08:24] constantinpape commented on #257
I totally agree. There are also good use-cases for having different menu names to structure the views more, e.g. in platy were we could separate the paper figures from the rest.

But I do think we should have a separation between the source menus (which ofc also correspond to views internally) and the menus for views from `dataset.json`:`views`.

[2021-04-28 08:26] tischi commented on #257
I think we need to discuss this in person. I will for now just push the alphabetic sorting.

[2021-04-28 09:11] vzinche commented on #249
The first time you click on 'P' it allows you to choose columns, but afterwards it would just open the same plot. Is there a way to get a new plot (using new columns) without restarting the whole thing?

[2021-04-28 09:12] tischi commented on #249
right click into the scatter plot

[2021-04-28 09:18] vzinche commented on #249
Works, thanks :+1:

[2021-04-28 09:18] #249 closed

[2021-04-29 13:42] tischi commented on #256
Yeah! (cc @bogovicj)
I managed to open and transform the sources in parallel.
Significant speed up 🥳
(My crappy internet at home)

[code]

[code]

[code]

[code]

My comp has only 4 cores. I think I will hard-code 8 threads for now.

[2021-05-10 10:19] K-Meech opened #270 "Saving bookmarks to project"
I'm updating the bookmark saving code for MoBIE2.
Currently we support:

@tischi @constantinpape Do we want to support saving to s3 (now that projects can be entirely on s3)? I'm not sure how difficult this would be... Otherwise, we can just log a warning that says s3 isn't supported.

[2021-05-10 12:12] constantinpape commented on #270
In order to support saving directly to s3 we would need to solve upload from MoBIE to s3. That would be awesome, but I think we should focus on other things first; so I think for now it's ok if you print a warning that saving to s3 is not supported (yet).

[2021-05-17 16:54] #270 closed

[2021-05-18 16:18] K-Meech commented on #265
Just FYI - I'm going to start on this tomorrow! So if there are any imminent changes to the MoBIE spec, let me know :)

[2021-05-18 16:26] constantinpape commented on #265
No major changes planed ;).
The last bigger change was this: https://github.com/mobie/mobie.github.io/issues/46.

[2021-05-19 09:30] K-Meech commented on #193
I think I will add the option to change any view (including the default) via the UI. Then, we don't need the separate property editor that used to be in the project creator.

[2021-05-19 11:23] K-Meech commented on #265
@tischi Are you still using your own NFSImageLoader / N5S3ImageLoader etc in MoBIE2? Or have these moved to bdv playground?

[2021-05-19 13:28] tischi commented on #265
I am still using them there should be nothing like this in the playground...

[2021-05-19 13:32] K-Meech commented on #265
Ok - no problem! I just wasn't sure because they are still in the 'mobie' folder, rather than 'mobie2'.

[2021-05-20 13:13] K-Meech commented on #265
@tischi @constantinpape I'm trying to adapt the project creator code to work for time series data.
In the dataset.json, there's a field for 'timepoints' - are we then assuming that all images in the dataset have the same number of timepoints?

[2021-05-20 14:29] constantinpape commented on #265
Good point, we haven't really specified this. But I think we don't need to expect that all images have the same number of timepoints. Rather, this should be the maximal number of timepoints.

What do you think, @tischi?

[2021-05-20 15:05] K-Meech commented on #265
Ok - thanks! I'll keep track of the maximum number of timepoints :)

[2021-05-20 15:18] K-Meech opened #272 "Error opening remote dataset on branch"
In MoBIE 2 (latest playground branch), opening a remote dataset on a branch other than master fails.

e.g. Running 'OpenRemoteYeastCLEM' with the branch spec-v2 errors with:
[code]
@tischi  I think this might be related to the changes you made to deal with presence / absence of the 'data' folder. The url generated should be ```https://raw.githubusercontent.com/mobie/yeast-clem-datasets/spec-v2/dat

[2021-05-20 19:50] tischi commented on #272
Thanks! Should work now.

[2021-05-20 19:50] #272 closed

[2021-05-20 21:15] tischi commented on #272
@K-Meech I pushed another commit trying to make this a bit clearer. Hope it helps...
Have fun! I am off now for one week 🌴 ⛰️

[2021-05-21 08:04] K-Meech commented on #272
Perfect - thanks! Have a good holiday :)

[2021-05-21 10:01] K-Meech opened #273 "Dataset can't be renamed in project creator"
Datasets can't be renamed immediately after they are created ( works if you close, and re-open imageJ).

This seems to be an issue with a connection to the xml file being left open after creation - likely from this class: https://github.com/bigdataviewer/spimdata/blob/d79a566a7b39182551fed5dc7b267d814caa5908/src/main/java/mpicbg/spim/data/generic/XmlIoAbstractSpimData.java#L105

I should submit a

[2021-05-21 11:19] K-Meech commented on #273
PR submitted here: https://github.com/bigdataviewer/spimdata/pull/6

[2021-05-21 14:01] K-Meech commented on #265
@constantinpape Just checking - what were the requirements for time series tables? Is it just the additional column 'timepoint'? So it's the same as the usual table, but with the segments listed for every timepoint?

[2021-05-21 14:05] constantinpape commented on #265
Yes, exactl. See example here:
https://raw.githubusercontent.com/mobie/arabidopsis-root-lm-datasets/master/data/arabidopsis-root/tables/lm-cells/default.csv

[2021-05-21 16:31] K-Meech opened #274 "Segmentations made with the project creator don't display in MoBIE2"
Segmentations made with the new project creator are not visible in MoBIE2.
They open with the corresponding table, and appear in the list of bdv sources, but are invisible.

Importing the same source into an old style MoBIE project displays correctly, so it seems there is no problem with the n5 writing.
Weirdly, segmentations exported with ```mobie-utils-python``` do display correctly.

I'd assume

[2021-05-21 16:36] constantinpape commented on #274
Can you share a project with one of the segmentations from your project creator.

[2021-05-21 16:41] K-Meech commented on #274
Sure! I'll email you the link

[2021-05-21 19:02] constantinpape commented on #274
The python utils contain validation functions that can be called from the command line, see https://github.com/mobie/mobie-utils-python/tree/spec-v-02#from-the-command-line.

These are using the jsonschema + some additional validation.

To use it, you need to be on the latest version of the `spec-v-02` branch, see how to set up a development env here: https://github.com/mobie/mobie-utils-python#in

[2021-05-25 09:52] K-Meech opened #275 "'is2d' in dataset.json is not read correctly by mobie"
There's currently a mismatch between the Java code and the json schema for 'dataset.json'

In the Java code: 'is2D'
In the schema: 'is2d'

This means that this field is not read from the file, and just set to the default of 'false'.

@constantinpape Could we maybe change the schema to use 'is2D'? Otherwise, I can change the java side of things, but it needs changes in both mobie + imagej-utils

[2021-05-25 09:55] constantinpape commented on #275
I will change it in the schema.

[2021-05-25 10:01] constantinpape commented on #275
Done. @K-Meech if you are using the mobie-utils validation scripts, you need to delete `~/.mobie/*.json` (or what this maps to in windows...) for updating this. (The mobie-utils download the schema to this folder and I am currently not checking for changes in the spec, so it needs to be removed manually.)

[2021-05-25 10:08] K-Meech commented on #275
Thanks! All working now

[2021-05-25 10:08] #275 closed

[2021-05-25 10:23] K-Meech commented on #274
@constantinpape the jsonschema currently needs lower case lut names e.g. 'glasbey', while java internally uses uppercase e.g. https://github.com/tischi/imagej-utils/blob/713123fccb8b4ac1c6f2f8a4821b33974cb4c594/src/main/java/de/embl/cba/tables/color/ColoringLuts.java 'Glasbey'.

We mentioned this in a previous issue (https://github.com/mobie/platybrowser-datasets/issues/68), so internally java con

[2021-05-25 11:01] constantinpape commented on #274
We use lowercase everywhere in the spec, so changing it to uppercase only for the colors would look pretty weird.
How much work is it for you to change this upon serialization on the java side?

[2021-05-25 11:07] K-Meech commented on #274
That's fair. It would need some changes in imagej-utils, but it shouldn't be too bad. I'll take a look and get back to you.

[2021-05-25 13:19] K-Meech commented on #274
Turns out this is an easy fix. So I'll add it to my PR for the new project creator.

[2021-05-25 13:22] #274 closed

[2021-05-26 12:55] K-Meech opened #276 "Issue with time-series colours beyond timepoint 0"
Colours of segmented objects in the viewer and table match well for timepoint 0. Beyond timepoint 0, they no longer match.

e.g. with the spec-v2 branch of the arabidopsis dataset + current mobie-beta, go to a timepoint beyond 0 and ctrl+click on a segment in the viewer. It doesn't appear in a colour that matches the table.

[2021-05-27 17:43] K-Meech opened #278 "Issues with writing views in quick succession to the same github file"
There seems to be a delay between changing files on github, and these changes being available through the api.

This means that adding a view to a file on github (through the UI), and then rapidly trying to add another, leads to issues. The old version is read, and hence you only end up with one of the views being written.

Not sure if this is something we can fix on our end... If not, we should w

[2021-05-27 19:29] constantinpape commented on #278
Yes, github caches the raw view and only updates it every 5 minutes: https://stackoverflow.com/questions/62785962/get-raw-file-from-github-without-waiting-for-5-minute-cache-update.

How does adding a bookmark on github currently work? Does it directly write to main/master? That's maybe not such a good idea, because it can also lead to conflicts if multiple people write at the same time.
Maybe we

[2021-05-28 08:07] K-Meech commented on #278
Thanks for the info! Makes sense - we should add a quick note to mobie.github.io on the project creation bit about this.

Yes - at the moment it commits directly to master (providing you have an access token with push access). I agree, it could lead to some conflicts, especially with the 5 min delay.
I guess each added bookmark could create a branch from master, and add to that branch? Then if you

[2021-05-28 08:09] constantinpape commented on #278
I think it would be best to have one branch per user (we should be able to identify them by the token I hope.)

[2021-05-28 08:18] K-Meech commented on #278
True - that should minimise conflicts as much as possible. At least then, any issues with the 5 min delay and writing multiple bookmarks is confined to an individual user's branch.

[2021-05-28 08:22] constantinpape commented on #278
To solve this you would somehow need to introduce a local version of the bookmarks that buffer the version saved on github.
E.g. initialise the local version with the github bookmarks when creating the project, do all changes locally and sync with the github version every couple of minutes (>5).

[2021-05-28 08:42] K-Meech commented on #278
Yes - that would work! It would need quite a bit of refactoring though.
Hmm... I'll look into this after all the project creation stuff is merged

[2021-05-28 08:46] constantinpape commented on #278
Yes, I agree this is not highest priority.

[2021-05-31 08:13] tischi opened #279 "Use GitHub API instead of raw"
Downloading files from raw.githubusercontent.... is not ideal as this content is only updated with some 5 minutes delay.
We should try using the github API instead.

[2021-05-31 08:14] tischi commented on #278
We should also change our code at some point to not rely on the "raw files" but fetch files using the github API.
I assume this would get rid of the delay. I made for this https://github.com/mobie/mobie-viewer-fiji/issues/279

[2021-05-31 11:46] #265 closed

[2021-05-31 13:14] constantinpape opened #280 "Can't open spec-v2 projects with MoBIE beta"
Spec-v2 projects can't be opened with the current MoBIE beta, see the error message below.
This is probably the case because the version on MoBIE beta is not up to date with the latest spec changes, but it would be very helpful to update this soon to enable testing new projects.

[code]

[2021-05-31 13:35] tischi commented on #280
I can have a look at this now (cc @K-Meech).

[2021-05-31 13:44] constantinpape commented on #280
I think we only need to release MoBIE beta with the latest changes from the playground branch to fix this.

[2021-05-31 13:48] K-Meech commented on #280
I'm moving the last things around now. Then I'll make a PR for the whole playground branch :)

[2021-05-31 13:49] tischi commented on #280
OK, @K-Meech, in this case could you please see whether you can open `/g/emcf/pape/plankton-sbem-project/data/emiliania` and, if yes, please just upload everything to MoBIE-beta?

[2021-05-31 13:50] K-Meech commented on #280
Sure - will do!

[2021-05-31 15:44] K-Meech commented on #280
@constantinpape I just updated MoBIE-beta with the new version - does it work for you now?

[2021-05-31 16:46] constantinpape commented on #280
Thanks, works now!

[2021-05-31 16:46] #280 closed

[2021-06-01 09:50] K-Meech commented on #251
This should be fixed on the latest version of mobie-beta. @martinschorb - does it work for you now?

[2021-06-01 11:05] K-Meech opened #284 "Testing the new beta"
@tischi @constantinpape Are we ready for another round of testing? Or are there any incoming changes?

I can ping the main users, and post the mobie beta instructions/links to test projects.

[2021-06-01 11:08] constantinpape commented on #284
It depends if we want to update all the spec-v2 projects to [the file format change](https://github.com/mobie/mobie.github.io/issues/49) beforehand.
I could update the projects today, but I don't know how much work this would be on the java side.

[2021-06-01 11:21] K-Meech commented on #284
True - let's wait until this is done then. I'd also need to update the project creator to match this, but there shouldn't be any massive changes.

[2021-06-01 13:36] constantinpape opened #285 "Add support for OpenOrganelle"
# Add support for open organelle datasets

Open organelle is a Janelia initiative to make detailed EM volumes and segmentations of cells publicly available: https://openorganelle.janelia.org/.
They use an n5 flavor with similar metadata encoding as ome.zarr and all data is available on s3. Hence, it would be great if we could support opening their datasets in MoBIE.

I think this involves 3 distin

[2021-06-01 13:39] vzinche opened #286 "PlatyBrowser doesn't start after the last update"
![Screenshot from 2021-06-01 15-37-56](https://user-images.githubusercontent.com/32451366/120332846-6c026280-c2ef-11eb-8200-2b43d346f066.png)

@constantinpape  were you moving to some new format?

[2021-06-01 13:53] vzinche commented on #286
Yes

[2021-06-01 13:56] constantinpape commented on #286
Ok, then this is expected. MoBIE-beta currently doesn't work with `master`, instead you need to use the version from the regular update site.
Or you can use beta and this branch: https://github.com/mobie/platybrowser-datasets/tree/spec-v2

[2021-06-01 13:59] vzinche commented on #286
Ah, okay, I didn't know, thanks!

[2021-06-01 13:59] #286 closed

[2021-06-02 06:43] vzinche commented on #286
@constantinpape , is it normal that in spec-v2 I cannot load any columns from the project? It just directly offers me to choose locally

[2021-06-02 08:18] constantinpape commented on #286
No, that should work. Can you make an issue in the mobie-fiji repo and describe this?

[2021-06-02 09:29] vzinche opened #287 "No option to load project tables"
When adding columns to a table, it doesn't even offer to load from project:
![loadfromproject](https://user-images.githubusercontent.com/32451366/120456070-8f7fe880-c395-11eb-84ed-3168b5f079ae.gif)

[2021-06-02 09:38] K-Meech opened #288 "Switching dataset changes Swing laf"
Switching dataset changes the look of Swing (at least on Windows)

Before:
![Screenshot (277)](https://user-images.githubusercontent.com/24316371/120457644-87707a80-c38e-11eb-8935-2f08ba9bf7bd.png)

After:
![Screenshot (278)](https://user-images.githubusercontent.com/24316371/120457667-8c352e80-c38e-11eb-9552-26ffb358a55a.png)

[2021-06-06 14:15] constantinpape opened #289 "Opacity for image sources is not used by the viewer"
`opacity` is a part of the display settings both for `image`and `segmentation` sources. Currently, it is only used for `segmentation` though and is not read correctly for `image`.
Also, afaik, it can be set neither for `image` nor for `segmentation` via the UI.

The plankton em project that @K-Meech and me are preparing is using opacity for `image` data, I can share it soon so that we have an exam

[2021-06-07 10:04] K-Meech commented on #287
@tischi I can look into this issue. I need to refactor that part anyway to stop depending on ```selectPathFromProjectOrFileSystem``` from imagej-utils

[2021-06-07 11:03] #200 closed

[2021-06-07 14:14] K-Meech opened #291 "Dealing with additional tables for segmentation displays with multiple sources"
Segmentation displays can potentially have many sources e.g.
[code]

This creates issues with loading additional tables.

e.g. we currently specify tables as a list of names in the display. This means we don't know which folder to load these tables from, as there are multiple sources with different table locations. Could we change it so each added table is associated with a source name?

Also, whe

[2021-06-07 14:37] constantinpape commented on #291
When writing the spec, I thought that specifying additional tables for multiple segmentation sources means that all of them will load additional tables of the given names. For example, the display you have specified would only be valid if all 3 segmentations have a "table1" and a "table2" in their table folder.
For segmentations that load different tables, the idea was to provide different display

[2021-06-07 14:50] K-Meech commented on #291
Ah ok - makes sense! Yes that should work; I'll check it's enforced in the code that way.
The second point is then not an issue, as the tables are uniquely identified.

[2021-06-07 14:59] KateMoreva commented on #285
Loader to read the open organelle data is working for the Hela example (PR [#290](https://github.com/mobie/mobie-viewer-fiji/pull/290))

[2021-06-07 15:24] K-Meech commented on #291
Actually, this would need a bit of adaptation.
When we 'load columns...' from the table menu, it currently just lists all the tables available in one table directory.
To be consistent (and so we can save it as a bookmark later), when there are multiple sources in a segmentation display this should list only the tables that are common to all table directories.

[2021-06-07 17:00] constantinpape commented on #291
I think I still don't quite understand this. Maybe it would be good to discuss this via zoom. I would have time tomorrow any time after 10.

[2021-06-08 08:10] K-Meech commented on #291
Sure - 11 works for me. I'll send you a zoom link

[2021-06-08 08:14] constantinpape commented on #291
@tischi do you have time at 11 as well? If not Kimberly and me can also discuss this first and then summarize our results in this issue.

[2021-06-08 09:29] constantinpape commented on #291
Ok, we resolved this:
the issue is that when having multiple segmentations as sources in a single view and then loading different columns for the tables of these segmentations, we obtain a view that cannot be expressed in the current spec (as a single view).
Note that it's possible to express this situation in the spec, but for this more than one view are necessary.
There are 3 potential solutions

[2021-06-08 09:44] K-Meech opened #294 "Bookmarks or Views?"
@constantinpape I noticed that the java project creator, and mobie-utils-python use different conventions for where to put the default view.

Do you have a preference? At the moment, I put it under the ui selection group 'views' because we got rid of all the bookmark mentions in the spec. I think you are still using 'bookmark' though?

[2021-06-08 09:59] K-Meech commented on #291
I just realised there is still one issue for this.
When you choose to load columns from a multi-segmentation table, I have to know which table folder to let the user choose tables from. So I can either:
- add an extra step where you choose the source you want to add tables for
- list tables in all the table directories (for all segmentations) - but then I would still need to indicate the name of t

[2021-06-08 10:02] constantinpape commented on #294
I still call it bookmarks for the ui selection group, because I think it's a bit more intuitive for most users.

[2021-06-08 10:09] tischi commented on #289
It can be set by pressing the **[ O ]** button.

[2021-06-08 10:17] constantinpape commented on #289
Ok, indeed that works.
But it seems that for `image` sources it is not properly loaded from the metadata.

[2021-06-08 10:19] constantinpape commented on #291
Ok, I still don't quite understand this part. I thought that also when having multiple segmentations in one view, with added "tables from project", we will still have separate tables for these segmentations in the UI. They will just load tables of the same name.

I tried to draw this situation:
![20210608_121248](https://user-images.githubusercontent.com/4263537/121168711-8e4a3200-c853-11eb-894f-8

[2021-06-08 11:12] constantinpape commented on #291
Ok, I see. Grid views complicate everything a bit more... I think we have never really defined so precisely what should happen here and before we think about the concrete "load from project" functionality, we should discuss this.
I will do this in a separate issues because laying out the different options will be quite long...

[2021-06-08 11:46] constantinpape opened #295 "Multiple sources with table in a segmentationDisplay"
After @K-Meech bringing up these problems in #291 I realized that we have not really defined what should happen if we have multiple sources with tables in a segmentation display. (And that I probably misunderstood what's happening here).

## Scenario 1: Multiple sources in one display no grid view

We have a view that contains this:
[code]
What should happen? I see two options and both currently h

[2021-06-08 11:51] constantinpape commented on #295
The case of multiple segmentations with table in a grid view seems to not be working correctly yet (tested with latest MoBIE-beta):

When loading [this grid view](https://github.com/mobie/zebrafish-lm-datasets/blob/spec-v2/data/membrane/dataset.json#L1298) only the rows for the first image (`056F633...`) are present in the UI-table, the others are missing:

![Screenshot from 2021-06-08 13-48-40](h

[2021-06-08 11:58] tischi commented on #295
⬆️ used to be working. Maybe some bug was introduced.
[This is the code that should handle this](https://github.com/mobie/mobie-viewer-fiji/blob/4cb090be86c7c0cdc9ac5d5dc5c4a968f62440c9/src/main/java/de/embl/cba/mobie/view/ViewerManager.java#L280), but currently only works for the default table. Maybe that's the issue?

[2021-06-08 12:01] constantinpape commented on #295
We only have the default table in this view, so I think it must have stopped working again.

[2021-06-08 13:25] K-Meech commented on #295
I agree that option2 (merging the tables) makes the most sense.
Then for full consistency, 'load columns...' would need to grab the table names from every source's table folder, and only keep those that are present in every one. This shouldn't be too difficult, but will mean this operation could be quite slow if there are many sources combined, and the table data is being loaded from remote.

[2021-06-08 14:27] constantinpape commented on #295
I wouldn't worry about speed to much for now. If this turns out to be too slow then you could try to use multi-threading, I would hope that this would make it much faster. (For loading large grid view @tischi has done this and it has improved the process significantly).

[2021-06-09 09:48] tischi commented on #295
I fixed a bug in imagej-utils and it works again in the current master.

[2021-06-09 09:57] K-Meech commented on #295
Great! I'm fixing 'load columns' for the multi-segmentation tables now. So should be done sometime today.

[2021-06-09 10:54] tischi commented on #295
I worked on making this nicer (in another repo) such that one only needs to update the tableRows and the JTable is updated automatically:

https://github.com/tischi/segmentation-annotator/blob/d712204d7ef773b88fb4e895f1cba6dccbe6e30c/src/main/java/de/embl/cba/segmentationannotator/TableView.java#L155

If you want you could try to copy this logic over to MoBIE when you are at it (maybe it simplifie

[2021-06-09 10:58] K-Meech commented on #295
Thanks @tischi . I'll finish up fixing the bit I'm on, then it's probably easiest if you switch it over to the new logic yourself :)

@constantinpape Could you add an example to the zebrafish dataset, where there's a table listed in a segmentation display with multiple segmentations? e.g. adding it to an example grid view?

[2021-06-09 11:57] constantinpape commented on #285
I have added a test project for the open organelle integration now: https://github.com/mobie/open-organelle-test.
So the next step will be to make it possible to open this project in MoBIE.

[2021-06-09 12:35] constantinpape commented on #295
@K-Meech done: https://github.com/mobie/zebrafish-lm-datasets/blob/new-data-spec/data/membrane/dataset.json#L1798-L1801

[2021-06-09 12:53] tischi commented on #276
I am not sure this is the issue, but it could be. There are cells with label indices `0.0` at ll time points >0 in the arabidopsis data set. Time point 0 is the only one that does not have this issue. I am not sure now, but I do seem to remember that the label index 0 is not allowed according to our specs, is it? @constantinpape

[2021-06-09 12:56] K-Meech commented on #295
Thanks @constantinpape - I think you need to add the table extension though e.g. "shape_CFOR_pca_measured.tsv". At least, this is what we did with the platy bookmarks: https://github.com/mobie/platybrowser-datasets/blob/spec-v2/data/1.0.1/dataset.json#L2251

[2021-06-09 13:00] constantinpape commented on #295
You're right. I fixed it.

[2021-06-09 13:15] constantinpape commented on #276
Good point. I removed the zero label here: https://github.com/mobie/arabidopsis-root-lm-datasets/tree/new-data-spec3

[2021-06-09 13:17] K-Meech commented on #295
Ok - there is an issue with loading these multi-segmentation tables with additional tables.
Currently, opening the remote zebrafish dataset, and viewing the bookmark 'small-grid-view' leads to the following error:
[code]

I imagine this is something to do with this code here: https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/view/ViewerManager.java#L299

@tisch

[2021-06-09 14:20] tischi commented on #295
Could you pull imagej-utils and mvn clean install?
I changed something there that may fix this...

[2021-06-09 14:25] constantinpape commented on #276
Oh sorry, I have moved everything into https://github.com/mobie/arabidopsis-root-lm-datasets/tree/spec-v2 already and removed the other branch. Please try again with the "spec-v2" branch.

Yes, that's good.

[2021-06-09 14:32] K-Meech commented on #295
I still get the same error after updating imagej-utils

[2021-06-09 14:43] tischi commented on #276
I fixed it. The label source color converters where not listening to time point change.

[2021-06-09 14:43] #276 closed

[2021-06-09 14:47] tischi commented on #295
This [indeed does not work yet](https://github.com/mobie/mobie-viewer-fiji/blob/3f33a6852553ff96f45b3597dce19dd263f6491a/src/main/java/de/embl/cba/mobie/view/ViewerManager.java#L307). I will look into it.

@K-Meech did you already implement something along those lines (Load Columns)? Then I may be able to reuse some of your code...

[2021-06-09 14:57] K-Meech commented on #295
Not yet - but I'll need really similar code for loading columns for these multi-segmentation tables.
If you could get that part working on master, then I can pull it into my branch and get it working for loading columns too :)

[2021-06-09 15:21] K-Meech commented on #294
Makes sense - I'll change the project creator to match

[2021-06-09 15:21] #294 closed

[2021-06-09 17:15] tischi commented on #295
Ok, I will work on it an try to make the code reusable.

[2021-06-09 19:42] jhennies opened #296 "Mobie version 0.6.1 does not support label images without table"
@constantinpape here the issue we briefly chatted about yesterday...

When adding a label image without table information in Mobie v0.6.1, I get the following error:

[code]

The same dataset works fine in Mobie version 0.5.6

Below some 'minimal' mobie_utils dataset generation with which I was able to reproduce the problem (mobie_utils version 0.1.1).
It generates a mobie dataset with an empty ra

[2021-06-09 20:55] constantinpape commented on #296
In general, segmentations without table should still be supported. We will check this again once the new spec is fully integrated.

[2021-06-10 07:30] tischi commented on #296
I think it was never supported, to be honest. But we could try to support it.
Either (a) MoBIE works without table or (b) the MoBIE project generators create a minimal table if none is provided.
I think I would prefer (b).

[2021-06-10 07:36] jhennies commented on #296
I'm not sure about (b)

The reason I need this is that I am displaying supervoxels, which can be quite a lot of unique object IDs for a large dataset.
I don't know how Mobie does the lookup with a table, but I assume it might become quite a large table with potential slow lookup.

[2021-06-10 07:37] tischi commented on #296
OK, I can then work on making MoBIE without any table.

[2021-06-10 07:41] jhennies commented on #296
I'm just surprised then that it then works with the older Mobie version. The tables folder in my mobie project is empty and it just generates random colors for the supervoxels, just as I need it.

[2021-06-10 07:47] tischi commented on #296
Ok, then I remembered it wrongly. Apparently it did use to work. I'll have a look!

[2021-06-10 07:51] constantinpape commented on #296
Yes, it used to work, I have also used it before.
Also the way the spec is written right now means it should def. work.

Just to clarify: you should not have a tableFolder if you don't have tables and it should not be listed in the json.

[2021-06-10 11:39] jhennies commented on #296
It's generated by default by the ```make_dataset_folders``` function (the one I use in the code snipped above), it never bothered me because I need it for segmentations later on anyways.
And there is definitely no tables stuff in the json, if there was, it would error out anyways, I think.

[2021-06-10 11:50] tischi commented on #295
I started working on it but it may take some time...
I get the feeling that the current table model does in fact not work when concatenating several tables into one. I think some ground work may need to be done...

[2021-06-10 12:52] constantinpape commented on #296
Ok, as long as it's not listed in the json it's fine.

[2021-06-11 10:21] K-Meech commented on #295
@tischi @constantinpape How should we handle loading columns from the filesystem for tables with multiple sources?

For now, I'd probably just disable this option when there are multiple sources. A normal table with just the label_id can't be loaded, as we don't know which source to load it for (without some additional gui step where you choose the source)

Otherwise, we could require a table with

[2021-06-11 10:22] K-Meech commented on #295
When I say filesystem, I mean from an arbitrary location on the filesystem i.e. not inside the project

[2021-06-11 10:52] constantinpape commented on #295
Yes, let's just disable it for now.

[2021-06-11 12:50] tischi opened #299 "View Logging and Changing"
[code]

1. I guess we should get rid of the "n" in normalized view?
2. ... but what should happen in the View field:
<img width="529" alt="image" src="https://user-images.githubusercontent.com/2157566/121688561-e4251100-cac3-11eb-9b2b-c8eca294501c.png">

Should we just _exclusively_ work with `normalizedAffine` (as we already do in the view location)?
But maybe not so nice for compatibility with o

[2021-06-11 13:24] K-Meech commented on #295
We currently support choosing which column to merge by when you 'load columns..':  https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/table/TableViewer.java#L399

@tischi @constantinpape Do we want to keep this? It complicates things, as a lot of the table loading assumes merging on label_id for all tables (or grid_id for grids). If we still want it, then I gues

[2021-06-11 13:42] tischi commented on #295
I think we should skip this in the UI as this will create a mess is people choose the wrong columns.

[2021-06-11 13:47] K-Meech commented on #295
Yes - I agree. I'll take it out for now.

[2021-06-11 14:09] vzinche opened #300 "Feature request for Scatterplot: selection by drawing a rectangle"
Right now the only option to select a group of cells is to Ctrl-Click each of them. It would be much easier to be able to, let's say, hold Ctrl and draw a rectangle on the scatterplot to select all the dots (cells) within this rectangle.

If something like this is easy to add, that would be great. If not, I guess it's not worth bothering

[2021-06-11 14:52] tischi commented on #300
@NicoKiaru the BdvSelector has a rectangle selection function, does it?

Do you think that could be [used here](https://github.com/mobie/mobie-viewer-fiji/blob/96b65900139f0b3190ffcf99a51837a17b68c621/src/main/java/de/embl/cba/mobie/plot/ScatterPlotViewer.java#L275)?

This is only one source, rendering multiple points, and we want to select a subset of points.

I guess that means whether one could

[2021-06-11 15:39] NicoKiaru commented on #300
I think you need to rewrite it to select a bunch of points.

I've done something along these lines here : https://biop.github.io/ijp-imagetoatlas/registration.html

The code is somewhere here I think : https://github.com/BIOP/ijp-imagetoatlas/blob/40f138f65afc1796796552f432dc1b9ffa968532/src/main/java/ch/epfl/biop/atlas/aligner/SelectionLayer.java#L75

But I'm not sure...

[2021-06-11 16:07] tischi commented on #300
@vzinche I had a brief look. I think what could be quite easy to implement a right-click menu item where you can specify that all points are selected that are closer than **an adjustable radius** around where you clicked. So, a circular selection tool rather than a rectangular. Would that be useful or do you prefer a rectangle?

[2021-06-11 16:09] K-Meech commented on #299
I'd vote for just keeping the ```normalizedAffine```. It does mean people can't directly take view orientations from other bdv style tools but, as the view is quite dependent on the size of your window anyway, I'm not sure it's a big loss.

[2021-06-11 16:19] K-Meech opened #302 "Dealing with multiple tables with shared column names"
At the moment there is different behaviour for dealing with adding multiple tables that have some column names in common:
- adding them sequentially via 'load columns...' > this just adds everything on the end, so if two tables have columns A, B, C, the merged table has columns A, B, C, A, B, C
- listing them in the 'tables' field in the .json > e.g. for the remote zebrafish dataset there are two

[2021-06-11 18:58] constantinpape commented on #299
Can we somehow use the `normalizedAffine` as default but still print out the view for interaction with other tools?
(I am actually using this fairly often).

Maybe print something like this when logging the location:
[code]

As a side note: Either everything should have paranthesis or nothing.

[2021-06-11 19:03] constantinpape commented on #302
I think the suffix solution sounds good.

[2021-06-11 21:04] constantinpape commented on #285
The open-organelle loader has been merged (#290).
The next step is to enable opening a full MoBIE project with open-organelle data. We should first enable opening a project with bdv.ome.zarr data, which should be simpler to implement.
Once that done, to test opening the open organelle project:
- Clone https://github.com/mobie/open-organelle-test (the repo is currently private, so we need to open i

[2021-06-14 11:19] constantinpape opened #303 "Add basic CI"
We have no CI at all here, which makes evaluating PRs a bit difficult.
I understand that this is not so easy for tests that involve the GUI (though I am sure there are some workarounds for this), but for starters having something that checks the build would already be very helpful.

[2021-06-14 12:47] tischi commented on #303
We should factor out the ome-zarr into a separate repo and then add CI.
I know how to get this done.
I think we should do this ASAP (e.g. tomorrow) such that Josh et al. can use it during ELMI and do not have to depend on the whole MoBIE repo.

@KateMoreva
If I create an empty repository for you, could you copy everything into it that is needed for OME.ZARR?

[2021-06-14 12:59] KateMoreva commented on #303
Thank you, yes.
I have only one question. As the work over support of the new `ome.zarr` is in progress right now (I'll try to finish with the main features as quickly as possible), I should move only the files for the old version (if the logic would not be implemented by that time)?

[2021-06-14 13:03] tischi commented on #303
Yes only the old files. And then, ideally, change your PR to work against the new repository.
If that is too annoying, you can still do the PR against the mobie-fiij-viewer and then move it over after we merged.

[2021-06-14 13:05] tischi commented on #303
I made the repo: https://github.com/mobie/bigdataviewer-ome-zarr
Please don't forget to also copy the `.gitignore` file.

[2021-06-14 13:07] KateMoreva commented on #303
Thank you, ok.

[2021-06-14 13:33] tischi commented on #303
@KateMoreva Just wanted to say that I think making the new repo work with the old files would be rather high priority because @joshmoore and others would like to demonstrate this at a conference next week. So, ideally, if we could finish this by tomorrow it would be great! Let me know if you need help!

Regarding the class paths, I think

`de.embl.cba.bdv.ome.zarr`

could be a start (so no `mobie`

[2021-06-14 13:40] KateMoreva commented on #303
Thank you.
I am working on this task right now.
In the progress of making a runnable version, which would be cleaned up after that.
Renamed the project according to your suggestion.

[2021-06-14 15:54] K-Meech opened #305 "Replacing List< TableRows > with a TableModel"
It would be good to replace ```List< TableRows > ``` , with a more complex TableModel class. i.e. one that could retain more information about where to load and store parts of itself.

This would simplify some parts of the table code e.g. loading columns from segmentation tables vs grid tables

[2021-06-14 16:03] K-Meech commented on #295
This is resolved in the current master. Tables are merged for multi-source

[2021-06-14 16:03] #295 closed

[2021-06-14 16:04] K-Meech commented on #291
This is resolved in the current master. Only tables that are present in all table folders (for a multi-source table) can be added.

[2021-06-14 16:04] #291 closed

[2021-06-15 08:57] martinschorb opened #306 "MoBIE Update fails"
Hi,

I try to updateMoBIE-beta and get:

<img width="1039" alt="Screenshot 2021-06-15 at 10 55 35" src="https://user-images.githubusercontent.com/35071867/122024122-6e24f080-cdc8-11eb-987c-37955d764b88.png">

[2021-06-15 12:17] martinschorb commented on #306
It is the same for the release channel:

<img width="1039" alt="Screenshot 2021-06-15 at 14 16 44" src="https://user-images.githubusercontent.com/35071867/122050993-62dfbe00-cde4-11eb-82ef-600603bf2533.png">

[2021-06-15 12:58] tischi commented on #306
@martinschorb thanks for spotting this!

This is very strange as I don't think I touched the MoBIE update site for quite some time.

I had a look at  https://sites.imagej.net/MoBIE/jars/
and indeed only found below jar, which has a slightly more recent date (2020-09-18) then the one that it is looking for (2020-09-14).

<img width="654" alt="image" src="https://user-images.githubusercontent.com/21

[2021-06-16 07:30] martinschorb commented on #306
The release MoBIE works now. Beta still fails. Could you share a Fiji with MoBIE Beta (Mac) somewhere, so I can continue testing?

[2021-06-16 07:33] tischi commented on #306
Super weird... why is it working "now"? Did you change anything on your side?

[2021-06-16 07:33] martinschorb commented on #306
OK, weird. After uninstalling MoBIE release and then immediately installing Beta in the same update procedure, it managed...

[2021-06-16 07:34] martinschorb commented on #306
No idea. There was an update of the affected jar through the Java-8 repo, but after that I only got the release to install.
Now it did it. Let me check if it works in the end...

[2021-06-16 07:39] martinschorb commented on #306
seems to work. There was some library mess-up in the first restart but now looks like everything is updated to the beta packages.

[2021-06-16 08:07] tischi commented on #306
I think the safest workflow is (in fact for any update site):

1. New Fiji
2. Update Fiji once without activating, e.g. MoBIE (this will pull all the updates from the Java8 update site)
3. Restart
4. Only now activate the, e.g. MoBIE update site

[2021-06-16 08:07] #306 closed

[2021-06-16 08:33] tischi commented on #299
Maybe we just match how it looks in json specs that we have right now?
[code]
And one should also paste those exact strings into the UI. Then we are consistently using JSON parsing everywhere.
What do you think?

[2021-06-16 08:35] tischi commented on #299
And I would add
[code]

[2021-06-16 08:44] constantinpape commented on #299
@tischi yes, I think that's a very good solution!

[2021-06-16 11:06] martinschorb commented on #306
That is exactly what I did initially. Strange. I'll report if something similar happens again.

[2021-06-17 14:31] K-Meech opened #308 "Point used for viewer transforms"
We should switch to using the central viewer point (rather than the mouse position) for all viewer transforms.

e.g. Logging a view is done via a right click menu, so the final position of your mouse depends on how far down in the list the command to log the view is.

[2021-06-18 09:40] K-Meech commented on #284
@tischi @constantinpape @vzinche @martinschorb @yanschwab
Hi everyone!
A new version of MoBIE just went up on the MoBIE-beta update site. It would be great if you could test it, and give us some feedback. Please raise issues for any bugs you find: https://github.com/mobie/mobie-viewer-fiji/issues

For anyone who hasn't used mobie-beta yet, the installation instructions are here: https://github.com

[2021-06-18 11:02] yanschwab opened #309 ".mrc file format"
Hi all,
do you know if this file format is supported for creating a project?

[2021-06-18 11:17] K-Meech commented on #309
Hi @yanschwab - if you can open it as a normal image stack in imageJ, then it's supported! The project creator can then convert it to n5 via adding the 'current open image'

In the end all files must be n5 though, so you can't use .mrc directly

[2021-06-18 11:26] constantinpape commented on #284
Thanks for making the release @K-Meech. Also pinging @HernandoMV.

Now would also be a good opportunity for those of you using the python project creator (@martinschorb @jhennies) to switch to the new spec version. This is currently in a PR https://github.com/mobie/mobie-utils-python/pull/21, but I will  merge it and make a new release there as soon as we update the MoBIE main update site.
The who

[2021-06-18 11:30] martinschorb commented on #284
Hi,

are the editing tools ('Create new MoBIE project' etc.) functional in the Beta?
I have the problem that the dropdown in "add sources" is not active and stuck to "add current source", so I cannot add existing BDV data.

[2021-06-18 11:37] martinschorb commented on #284
And I cannot open the spec 2 datasets we used for testing the crop functionality

`/g/emcf/pape/mobie-test-projects`

which was working with the previous MoBIE-beta now gives (also when I try to set up another project with similar properties):

[code]

[2021-06-18 12:59] K-Meech commented on #284
@martinschorb Yes - all the editing tools should be functional in the beta.
I just checked with a fresh fiji, and this is not an issue for me (at least on Windows):

![Screenshot (285)](https://user-images.githubusercontent.com/24316371/122564322-1e9b2a80-d03d-11eb-8021-090624e59715.png)

Are you definitely on the latest version of mobie-beta? Any other update sites enabled?

[2021-06-18 13:36] martinschorb commented on #284
OK,

- Mac
- fresh Fiji
- all updates
- add Mobie-beta
- Create new MoBIE project
- add dataset
- add source, no response in the dropdown to mouse actions. Using keyboard arrows to select works. Also the dropdowns in the main `Editing MoBIE Project` Window work with the mouse.

[2021-06-18 13:39] martinschorb commented on #284
I don't know if this has something to do with the change/update in the Java GUI. The UI elements look different now. But that's probably a more general ImageJ issue...

[2021-06-18 13:50] martinschorb commented on #284
Ok, it seems that `Create new MoBIE dataset` forgets to create the "dataset" subfolder.

[code]

while the project JSON is:

[code]

[2021-06-18 13:53] martinschorb commented on #284
when I manually move the project data to the parent directory, MoBIE crashes when loading the image:
[code]

[2021-06-18 15:40] constantinpape commented on #284
@martinschorb yes, the spec has changed quite a bit since we generated these (that's why it's still in beta).

I have updated the example project now, so it should work again.

[2021-06-20 19:59] constantinpape opened #310 "Do we support "true" 2D data?"
Do we support true 2d data in MoBIE, @tischi? As far as I can see, we have so far solved this by adding a singleton axis, e.g. [here](https://github.com/mobie/yeast-clem-datasets/blob/main/data/yeast/images/local/em-raw-overview.xml#L16).
But it would be good to support data with only 2 dimensions, which is more natural for 2d images.
This came up in 2 different places now:
- Opening 2d data does

[2021-06-20 22:10] KateMoreva commented on #310
Yes, I could not create a solution to open 2d files. There either IndexOutOfBoundExeptions or the pathName to the data contains more folders than needed due to the extra dimension in usedGridPosition.
Probably I add the singleton dimension in the wrong way.

[2021-06-21 06:55] martinschorb opened #311 "Add button to project editor to open current project in MoBIE viewer"
Hi,

A button to open the project that is currently open for editing in MoBIE viewer would be very handy.

Cheers

[2021-06-21 07:19] vzinche commented on #284
Is there any reason why 'label_id' column is not the first one anymore? I've always felt it is the most commonly used one

[2021-06-21 07:21] constantinpape commented on #284
What do you mean by this, can you post a screenshot?
Also, can you make separate issues for the problems encountered? If we discuss everything in this single issue things will get chaotic.

[2021-06-21 07:23] vzinche commented on #284
Sorry, I am just not sure it's an issue

[2021-06-21 07:29] tischi commented on #310
I don't think SpimData can be 2D...

@NicoKiaru how do you open 2D images with with bdv-bf? Are you adding a singleton dimension somewhere to make the data appear 3D? Could you please point us to the code?

[2021-06-21 07:32] constantinpape commented on #310
@tischi how are you doing it in the PlateViewer? The input data we have there is 2d!

[2021-06-21 07:34] vzinche opened #312 "Fix label_id as the first column in a table"
This is how a segmentation table looks for me now:
![Screenshot from 2021-06-21 09-24-19](https://user-images.githubusercontent.com/32451366/122723585-6e633700-d273-11eb-8125-bc2ece61fabd.png)

It seems the columns are sorted alphabetically? That is not too bad, but would be great to fix the 'label_id' as the first one

[2021-06-21 07:35] constantinpape commented on #284
Just open an issue ;). We can still close it if it''s not relevant.

[2021-06-21 07:39] tischi commented on #310
I don't use `SpimData`, but directly construct my own `Source`, which internally is comprised of `RandomAccessibleInterval`s (`rai`) and there indeed I add a singleton dimension to make it `3D`:

[code]

[2021-06-21 07:43] NicoKiaru commented on #310
Yes, I'm always adding a 3rd dimension, but it's done inside the image loader of spimdata object. Bdv always need a third dimension.

https://github.com/BIOP/bigdataviewer-bioformats/blob/9acc6c75f9c0d27dd41248c8857b2a6e5f39e94c/src/main/java/ch/epfl/biop/bdv/bioformats/bioformatssource/BioFormatsBdvSourceUnsignedByte.java#L100-L102

[2021-06-21 07:49] constantinpape commented on #310
Ok, so I guess we would also need to add an extra source for this?!

[2021-06-21 07:51] martinschorb commented on #284
I will continue here (at least with this thing)...

the problem with the test project still persists.

[2021-06-21 08:20] constantinpape opened #313 "Problems with example project with crop"
@tischi we have an example project with a crop transformation here:
`/g/emcf/pape/mobie-test-projects`. This project is valid according to the jsonschema, but it cannot be opened with the current MoBIE beta, see error message below.
Note that this project has a crop transform and uses the "sourceNamesAfterTransform" field, so maybe there is the issue.
[code]
(@martinschorb I moved this discussion

[2021-06-21 08:22] constantinpape commented on #312
It looks like the ordering of columns changed from "as loaded from the tsvs" to "alphabetically". I think we should rather stick with "as loaded from the tsvs", if that is still possible in the current table model.
cc @K-Meech @tischi

[2021-06-21 08:37] K-Meech opened #314 "Add source dropdown (in project creator) doesn't respond to mouse actions"
@martinschorb I split this into a separate issue to keep track.

The add source dropdown doesn't respond to mouse actions. It does respond to using arrows on the keyboard.

This works on Windows, but not on Mac.

[2021-06-21 08:39] K-Meech opened #315 "Error opening project made with project creator"
@martinschorb I split this into another issue to keep track.

It seems that Create new MoBIE dataset creates the additional "dataset" subfolder, while MoBIE looks for the files in the top directory.
[code]
while the project JSON is:
[code]

[2021-06-21 08:43] K-Meech commented on #315
@martinschorb Which filepath did you give to 'Open MoBIE Project...'?

[2021-06-21 09:00] tischi commented on #310
A `Source` just wraps 3D `RAI`s. I don't think we need an "extra" source.

If you provide me code to reproduce the 2D error then I will try to look into it.

[2021-06-21 09:01] martinschorb commented on #315
That's `.../test0001`

[2021-06-21 09:35] vzinche commented on #300
@tischi, that also sounds good, thanks!

[2021-06-21 10:04] constantinpape commented on #310
Ok. Could you please provide such an example after cleaning up https://github.com/mobie/bigdataviewer-ome-zarr/pull/9, @KateMoreva.

[2021-06-21 10:07] vzinche opened #316 "Shortcut 'Change random coloring seed' doesn't work"
It works if I right click and select 'Change random coloring seed' in the menu, but neither Ctrl-L nor Ctrl-Shift-L don't work for me.
I'm on Ubuntu 18.04.5 LTS

[2021-06-21 10:11] vzinche opened #317 "BDV Screenshot - why did it stop suggesting pixel size?"
In the previous version it used to suggest you pixel size (based on your screen size?). So just using the default option always returned you a screenshot equal in size to your bdv window. Now it just suggests 1 by default

[2021-06-21 10:17] martinschorb commented on #313
FYI: This used to work with the previous MoBIE-Beta, see https://github.com/mobie/mobie.github.io/issues/44

[2021-06-21 10:54] martinschorb commented on #313
I found that it is not related to the crop but rather the transform in the JSON.

[code]
works nicely,
while

[code]

fails.

[2021-06-21 10:55] martinschorb commented on #313
Do you spot what could be wrong?

[2021-06-21 10:57] martinschorb commented on #313
no `sourceNamesAfterTransform` in the problematic JSON

[2021-06-21 11:11] constantinpape commented on #316
I think we decided to deprecate most of the short cuts and just have this functionality in the context menu, to avoid having to maintain and document both. Correct me if I am wrong about this particular one, @tischi @K-Meech.

[2021-06-21 11:13] K-Meech commented on #315
Ah ok - this is something that changed from the last version.
When you ```Create new MoBIE project...```  you give a project name (for you - "Testcrop1"), and a folder to save that project in (for you ''/Users/schorb/code/mobie-multiview/test0001/''). This then creates a project of that name within that folder.

So, to open this you have to give the path ```/Users/schorb/code/mobie-multiview/test0

[2021-06-21 11:15] vzinche commented on #316
Why not the other way around? Keep the shortcuts and deprecate the context menu?
Imho, going through random colors from the context menu is *incredibly* annoying.

[2021-06-21 11:16] K-Meech commented on #316
We decided to keep the ctrl+l shortcut and ctrl+shift+N shortcuts - see here: https://github.com/mobie/mobie-viewer-fiji/issues/242 So this is a bug.

[2021-06-21 11:19] constantinpape commented on #313
I don't know exactly what the issue here is, but just to summarize: the test project at `/g/emcf/pape/mobie-test-projects` is well formed according to my python validator (which checks the json schema and also has some dynamic checks that make sure that the data referenced in the json metadata actually exists). However it fails to open in MoBIE (see error above).
So there are two possible reasons

[2021-06-21 11:19] K-Meech commented on #314
@yanschwab - could you also try this on your mac? (I'm trying to figure out if it's mac specific, or something else)

- Create a mobie project
- add a dataset
- click the 'add' button on the sources row
- does clicking the dropdown work?

[2021-06-21 11:21] K-Meech commented on #313
I'll take a quick look, and see what the issue is

[2021-06-21 12:03] tischi commented on #316
The shortcuts that are mentioned should work => 🐛

[2021-06-21 12:37] K-Meech commented on #313
Ok - I think this is a mismatch between how ```sources``` are specified in transforms.

At the moment, all source transformers (affine, grid etc...) extend this class: https://github.com/mobie/mobie-viewer-fiji/blob/e3770674c598ffce4429008df3713e3c16575937/src/main/java/de/embl/cba/mobie/transform/AbstractSourceTransformer.java#L11 which has a sources field as a list of lists (```List< List<String

[2021-06-21 13:09] #315 closed

[2021-06-21 13:11] K-Meech commented on #287
This is fixed on the latest mobie beta

[2021-06-21 13:11] #287 closed

[2021-06-21 13:12] K-Meech commented on #251
This should be fixed now. Re-open if there are more issues.

[2021-06-21 13:12] #251 closed

[2021-06-21 13:24] K-Meech commented on #264
There are still some issues with the platy bookmarks e.g.:

- Figure 5C
- Figure 3B
- Figure 3G and Suppl. Fig 3D
don't display the segmentations with 'color by column'

[2021-06-21 14:04] KateMoreva commented on #310
The current version opens the black image instead of 2d, because the reader is trying to find files in the non-existent directory. For example, It is looking for the path ./yx.ome.zarr/s0/0/1/1 when there is only ./yx.ome.zarr/s0/0/0

[2021-06-21 16:14] tischi commented on #310
Dear @KateMoreva I could not find the code to open from S3 without an XML.
Could you please point me to it?

[2021-06-21 16:17] constantinpape commented on #310
@tischi the link is in the comment above: https://s3.embl.de/i2k-2020/ngff-example-data/v0.3/yx.ome.zarr

[2021-06-21 16:35] tischi commented on #310
OK, I tried this: "https://s3.embl.de/i2k-2020/ngff-example-data/v0.3/yx.ome.zarr"
Can I somehow see how the blocks are actually called within the zarr file?

[2021-06-21 16:38] tischi commented on #310
I don't have to browse them myself, a screenshot would do...

[2021-06-21 16:51] constantinpape commented on #310
[code]
All the data is also available on the EMBL share here: `/g/kreshuk/data/ngff/v0.3`

[2021-06-21 17:51] tischi commented on #310
@KateMoreva

There are a couple of issues, tackling them now (and tomorrow):

- [X] the `dataBlockIndices` (fka `usedGridPosition`) for a 2D image must only have 2 indices. They were [initialized](https://github.com/mobie/bigdataviewer-ome-zarr/blob/a48a5d5502f6c5003a50684c8e5390e855cc81d4/src/main/java/de/embl/cba/bdv/ome/zarr/loaders/N5OMEZarrImageLoader.java#L731) as `new long[3]` which yielded

[2021-06-21 17:55] KateMoreva commented on #310
Thank you! I got stack on the third point, as for points 1 and 2 they were left that way in order to avoid indexOutOfBound [here](https://github.com/mobie/bigdataviewer-ome-zarr/blob/a48a5d5502f6c5003a50684c8e5390e855cc81d4/src/main/java/de/embl/cba/bdv/ome/zarr/loaders/N5OMEZarrImageLoader.java#L626) and in other places.

[2021-06-21 18:27] KateMoreva commented on #310
I think that `ArrayIndexOutOfBoundsException` in `createArray(N5OMEZarrImageLoader.java:630)` is coused becouse dataBlock arrays and cellDimentions have differnt dimensions.
Examples
For 2D image:
![image](https://user-images.githubusercontent.com/48569608/122809445-cbdc9f80-d2d6-11eb-9828-e416617a281b.png)
For 4D image:
![image](https://user-images.githubusercontent.com/48569608/122809582-f62e5d0

[2021-06-22 06:09] tischi commented on #310
Thanks, but let me have a look first!

[2021-06-22 06:27] tischi commented on #310
Works now:
<img width="640" alt="image" src="https://user-images.githubusercontent.com/2157566/122874431-46d3a380-d333-11eb-8633-d30196e4a00f.png">

The trick was to throw away the singleton dimension in the `createArray` function:

[code]

Shall I merge my branch into something?

[2021-06-22 06:32] KateMoreva commented on #310
Thank you a lot!
I tried to throw away the singleton dimension earlier and thus faced problems.

[2021-06-22 06:34] KateMoreva commented on #310
I'll try to open one more 2d file. If it works I think we should merge.

[2021-06-22 06:53] tischi commented on #310
So I merge into master?

[2021-06-22 06:57] KateMoreva commented on #310
Yes. I think it is better to merge now. Thank you

[2021-06-22 07:36] tischi commented on #317
We are using now the `ScreenShotMakerCommand` from another repository.

@NicoKiaru I guess suggesting default values based on the current size of one pixel in the BDV window is tricky when using the SciJava Commands? Could this be done by some `Preprocessor`?

[2021-06-22 07:38] NicoKiaru commented on #317
You can try with "initialiser", it may work. Alternatively, a button with a callback that fills in the pixel size will surely work.

[2021-06-22 07:43] #316 closed

[2021-06-22 08:00] tischi commented on #313
I'll look into it...
But `sourceNamesAfterTransform` we support for all transforms, do we?

[2021-06-22 08:06] tischi opened #319 "Positions for GridSourceTransform"
@constantinpape
We support specifying this in the JSON, right?
`List< int[] > positions;`

[2021-06-22 08:08] tischi commented on #313
...and I guess for the GridTransform it should be `List< List< String > > sourceNamesAfterTransform`, right?

[2021-06-22 08:15] constantinpape commented on #313
Yes.

Exactly. Although this is wrong in the jsonschema right now, I will fix it.

[2021-06-22 08:15] constantinpape commented on #319
Yes.

[2021-06-22 08:19] tischi commented on #312
Done via https://github.com/tischi/imagej-utils/commit/0b98b83f11ed63cabc08df7f5837296e372b5b1e

[2021-06-22 08:19] #312 closed

[2021-06-22 08:28] tischi opened #320 "Change source names after transformation"
This is currently not implemented.
Waiting for this: https://github.com/bigdataviewer/bigdataviewer-core/issues/124

[2021-06-22 08:29] #313 closed

[2021-06-22 08:30] #310 closed

[2021-06-22 08:30] #308 closed

[2021-06-22 08:41] K-Meech commented on #314
This happens on yannnick's mac too - so it definitely looks like a mac specific problem. I'll look into it.

[2021-06-22 08:41] tischi commented on #289
Should work now.

[2021-06-22 08:44] #289 closed

[2021-06-22 09:11] #319 closed

[2021-06-22 09:13] tischi commented on #317
Thanks! I think the button is a great idea, because I would be afraid that _the initializer overwrites the persist values_, which would be annoying... do you know how that works?

[2021-06-22 09:14] NicoKiaru commented on #317
No idea... I'd go for trial and errors

[2021-06-22 14:23] martinschorb commented on #313
Will this fix be available on the Beta channel soon?

[2021-06-22 14:42] tischi commented on #313
@K-Meech Could you please upload the latest changes once you fell it makes sense?

[2021-06-23 10:45] K-Meech commented on #313
@martinschorb @tischi The latest changes are now on MoBIE-beta

[2021-06-23 12:54] jhennies opened #321 "Segmentations without table"
Hi @constantinpape and @tischi,

I am currently switching to the Mobie beta (Mobie-2.0.0) and converting my code using https://github.com/mobie/mobie-utils-python/pull/21.

Again (as in #296 ) I'm trying to use a segmentation without supplying a table for it.

Is this currently supported?
I can generate the project like this using mobie-utils (but am also not 100% sure if I did everything corretly

[2021-06-23 13:13] constantinpape commented on #296
deprecated in favor of #321

[2021-06-23 13:13] #296 closed

[2021-06-23 13:16] constantinpape commented on #321
Yes, we def. want to support this, and it's also supported in the specification. But indeed the error you support indicates that it's not working in the viewer now.
I think the best way for us to work on it is if you can put this example data somewhere we can access is (emcf share would be good as both @tischi and me have access to it).

Also, to make sure the project is valid (according to the sp

[2021-06-23 13:24] jhennies commented on #321
Thanks @constantinpape!
I'll make a small example project that reproduces the issue and that is small enough such that I can easily upload it.
Will let you know where it is when it's there.

[2021-06-23 15:56] jhennies commented on #321
The example can be found here:
/g/emcf/hennies/for_constantin/mobie_no_table_test/

To get around this issue https://github.com/mobie/mobie-utils-python/issues/25, I commented the respective assertion out and manually corrected the source xmls.

The validation (after commenting the assertion back in)
[code]
 then succeeds:
[code]

[2021-06-23 15:58] constantinpape commented on #321
@tischi once you have time could you try to make the viewer work without table for Julian's example?

[2021-06-24 08:56] tischi commented on #321
@jhennies @constantinpape
Does that look correct?
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/2157566/123233993-d9627700-d4da-11eb-8617-4bafb806e4c0.png">

[2021-06-24 09:00] K-Meech opened #322 "Support showing images in 3d"
The spec supports showing images in 3d (https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L71), but this is not yet supported in the mobie viewer.

Only segmentations can currently be viewed in 3D.

[2021-06-24 09:04] K-Meech opened #323 "Support changing the resolution of objects shown in the 3d"
In the old mobie, there was an option in the context menu to change the resolution of the 3D objects. (and also to read it from this view parameter - https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L61)

This is not yet supported in the new mobie.

[2021-06-24 09:14] K-Meech opened #324 "Support timepoints in transforms"
All transforms (affine, crop, grid) support ```timepoints``` in the spec (https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L239, https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L303,
https://github.com/mobie/mobie.github.io/blob/master/schema/view.schema.json#L393)

This is not yet supported in MoBIE.

[2021-06-24 09:59] jhennies commented on #321
Yes, perfect! It was just a toy example, so the segmentation does not make any sense ;)

[2021-06-24 11:07] #321 closed

[2021-06-24 11:08] tischi commented on #321
@K-Meech Upload this fix to MoBIE-beta, when you feel like it.

[2021-06-25 08:05] martinschorb opened #325 "Transforms specified in bookmarks bet ignored (Beta)"
Hi,

it seems that the current beta does not apply any transforms specified in bookmarks.

Check Constantin's example project:

`/g/emcf/pape/mobie-test-projects`

bookmark2 should be rotated by 90 degrees.

[2021-06-25 08:31] K-Meech commented on #321
@jhennies @tischi This fix is on MoBIE-beta now.

[2021-06-25 08:37] K-Meech commented on #321
@tischi General question on this.
At the moment, I'm uploading by changing the 'scijava.app.directory' line to my Fiji, mvn clean install, and then uploading to the update site. When I do this though, I see that a lot of jars that come from the Java-8 update site have modified versions. Isn't the ```pom-scijava``` supposed to mean we are using the same versions of everything as ImageJ? Or does thi

[2021-06-25 08:46] tischi commented on #321
Excellent observation. Unfortunately the scijava parent pom does not include the versions shipped with the Java8 update site. And currently there is no way known to me to specify those versions in a convenient way in a pom. I had a longer discussion about this with @ctrueden on gitter; Curtis and @hinerm were going to look into it, but I am not sure there is a solution just yet?

[2021-06-25 11:56] constantinpape commented on #325
Thanks for reporting, @martinschorb. We will double check. (Note to myself update the yeast project so that this can be easily checked.)

[2021-06-25 12:53] tischi commented on #325
@martinschorb

`/g/emcf/pape/mobie-test-projects/data/croptest1/dataset.json` specifies no rotation for crop-bookmark2, does it?
[code]

[2021-06-25 14:24] constantinpape commented on #325
@tischi I made a new branch for the yeast project https://github.com/mobie/yeast-clem-datasets/tree/move-trafo.
I have moved out the translation into the source transforms there. (As usual with affines there is multiple ways of doing this, so it might be that the trafo is not correct now, but at least you can check if it's actually being read from the json.)

[2021-06-25 14:29] martinschorb commented on #325
I duplicated the dataset to `croptest2` to test the transforms. There bookmark2 contains the affine

[2021-06-25 14:38] tischi commented on #325
@martinschorb I am astonished that you can open this dataset. For me it crashes, because this is _not_ a `relativePath`, but rather an absolute path, which we currently do not support (cc @constantinpape).

`cat /g/emcf/pape/mobie-test-projects/data/croptest2/dataset.json`

[code]

[2021-06-25 14:42] constantinpape commented on #325
I don't know where the abs path is coming from; def. not from my python tools.

[2021-06-25 14:44] martinschorb commented on #325
I did that manually to check whether the transform issue comes from python tools or MoBIE.

[2021-06-25 14:47] tischi commented on #325
@martinschorb  And you can open this with MoBIE-beta? I cannot... and it should not work...
@constantinpape do we want to add support for an `absolutePath` to the spec (I think we do not have this already, do we)?

[2021-06-25 14:49] constantinpape commented on #325
No, we don't support this right now and I don't think we should.

[2021-06-28 07:08] martinschorb commented on #325
OK, I now changed it to a relative path. In fact it did not work for me either when the data sits on a network share.
It still looks like there is no transform applied for the second bookmark.

[2021-06-28 07:56] tischi commented on #325
Thanks! I will try to look at it, but there's the EMBO course this week.....

[2021-06-29 14:27] vzinche opened #326 "Loading tables takes longer in new version?"
I don't have any quantitative data here, but I feel like loading custom tables is taking at least twice longer now.
For example, loading [a table like this](https://drive.google.com/file/d/1wLVG83D93X9zjB2yMDHkH6B4cIsKVX7b/view?usp=sharing) now takes 5 minutes, and I feel like it was much faster before.

[2021-06-29 15:07] tischi commented on #326
Loading from GitHub? (the link is to a G-Drive)

[2021-06-29 15:07] jhennies opened #327 "Error when closing segmentations without table"
When un-viewing, i.e. pressing "X" for a segmentation without a table I get this error:

[code]

This should be reproducible with the test dataset I supplied for this issue: #321

[2021-06-29 15:31] vzinche commented on #326
Sorry, loading from FileSystem

[2021-06-30 10:01] K-Meech opened #329 "Possible memory leak"
It seems that adding, and then removing views does not properly release memory

e.g. If I open the platynereis dataset, I start at a memory usage of about 38%. If I then view the bookmark 'Figure 2C: Muscle segmentation', it increases to 44%. Removing the cell segmentation after this, does not release the memory (remains at 44%)

This means viewing a lot of bookmarks in succession can result in an

[2021-06-30 10:13] K-Meech opened #330 "Reconfiguring scatter plot axes doesn't update title"
e.g.
-Open platybrowser dataset + cell segmentation.
-Click P checkbox, and use defaults to get a scatter plot of ```anchor_x``` vs ```anchor_y```.
-Right click and Reconfigure... to ```anchor_y``` vs ```anchor_z```.
-Title of the scatter plot window is still 'x: anchor_x, y:anchor_y'

[2021-06-30 14:21] K-Meech opened #332 "Segment selection colouring mode"
In the old MoBIE, there was a context menu option to change the segment selection colouring mode e.g. to show selected segments in yellow only, to dim the non-selected segments etc.

This still needs to be migrated to MoBIE2.

[2021-07-01 06:34] martinschorb commented on #325
OK, I think I found out what is happening:

It is a general BDV behaviour and not due to some MoBIE-specific problem.
I have tried to pass the trafo to BDV using the XML and it behaves exactly the same.

When there's only a single source (or apparently also `view`), BDV will adjust its viewer axes to that source, no matter what its trafo says. This means the `Shift+X/Y/Z` commands and also the ini

[2021-07-01 06:36] martinschorb commented on #325
![Screenshot 2021-07-01 at 08 27 40](https://user-images.githubusercontent.com/35071867/124077028-4b8d0b80-da47-11eb-941d-b308f9ff4ae5.png)

Left is original orientation (in accordance to viewer XYZ), right is transformed source. The only difference you can see are the coordinate associations inside BDV. The viewer orientation is locked to the source.

[2021-07-01 06:38] martinschorb commented on #325
So a `view` or `bookmark` in a multi-source (or multi-`view`) scenario needs to bake that extra trafo to the source while leaving the viewer bound to the physical coordinates.

[2021-07-01 06:56] tischi commented on #326
It could be in fact as I had to change some code there.
Can you provide me with a table such that I could test this?

[2021-07-01 07:08] tischi commented on #329
Does it really do result in an error? My experience is that Fiji sometimes hangs on to memory even though it is sort of released...

[2021-07-01 07:38] vzinche commented on #326
You can just use the one I shared on G-drive? It's pretty big, so it's easy to notice any difference in loading speed

[2021-07-01 07:47] tischi commented on #326
Good point. yes!

[2021-07-01 08:26] K-Meech commented on #329
I did get an out of memory error yesterday when I was checking the Platynereis bookmarks. I viewed pretty much all of them one after the other.
No solid numbers for this, but I got the impression that the more bookmarks that I viewed, the longer they took to load + the higher the memory usage.

[2021-07-01 09:19] constantinpape commented on #325
Thanks for looking into this, @martinschorb. I think that this is not actually a bug though:

Yes, that is the expected behaviour. `sourceTransforms` only change the transformations applied to the source and do not specify the viewer transform, so if the viewer transform is not given BDV will use some default (heuristic) viewer transform.
I.e. the `sourceTransforms` are there to specify the correc

[2021-07-01 10:16] tischi commented on #329
That's an interesting one!
If you want to increasing you developer capabilities, you could google for this: `visualvm memory leak Java` and try to find the leak using **visualvm**. It is fun! I already used it to find some leaks.

[2021-07-01 12:14] K-Meech commented on #329
Sounds good! I should have some time later in the week to take a look.

[2021-07-01 12:23] vzinche commented on #300
@tischi, I was just wondering if you still remember about this one :)
If it is actually easy to implement, would be really great to have this one because right now I am doing **a lot** of clicking

[2021-07-01 13:34] tischi commented on #300
I am not sure how easy it will be and I am still involved in the EMBO course.
I may only get to it next week (maybe I will find some time tonight)...

[2021-07-01 13:37] vzinche commented on #300
No worries, I just thought you might have some code templates for this. No pressure :)

[2021-07-01 13:46] tischi commented on #300
I will work on it today. I don't want you to get arthritis 😄

[2021-07-01 14:27] tischi commented on #300
@vzinche
I think it was easier than I thought.
I put the jar on `/g/cba/exchange/Valentyna`.
Can you access it?
You have to replace that one in the Fiji.app/jars folder.

[2021-07-01 14:38] vzinche commented on #300
Thanks a lot, I could copy it :+1:
How do I adjust the radius now?

[2021-07-01 14:41] tischi commented on #300
`Right click > Configure point(s) selection...`

[2021-07-01 14:45] tischi commented on #300
I am not sure how to best deselect points in this mode....

With just "selecting" one point it was in fact a _toggle mode_: If it was selected selecting again would deselect it.

I think toggling for many points is not so intuitive. Let me know what you think.

[2021-07-01 14:50] vzinche commented on #300
I've moved the mobie-2.0.0-SNAPSHOT.jar to the Fiji.app/jars, but I somehow don't see this option

[2021-07-01 14:52] vzinche commented on #300
That's a good question. Toggle mode feels 'the cleanest', but it can be counterproductive for selecting multiple points. The other option would be to allow deselecting only in point-wise mode (or with Ctrl-N) ?

[2021-07-01 15:04] tischi opened #333 "PlaygroundPrefs error"
@K-Meech @NicoKiaru
I have something weird that I do not understand.
In IntelliJ I can compile the latest master of MoBIE.
But when I `mvn clean install` it into Fiji I am getting this error:
[code]
This class exists in bdv-playground 0.2.14-SNAPSHOT, which is the version that also is in the jars folder...

[2021-07-01 15:07] tischi commented on #300
It should be there (right click into the scatter plot window).
But somethings weird, as I cannot even open a MoBIE project in my Fiji right now: https://github.com/mobie/mobie-viewer-fiji/issues/333

[2021-07-01 15:12] tischi commented on #333
I could fix it by updating to `0.2.14` in the pom

[2021-07-01 15:12] #333 closed

[2021-07-01 15:12] tischi commented on #300
@vzinche
Are you sure?
For me it is there:
<img width="486" alt="image" src="https://user-images.githubusercontent.com/2157566/124148039-8fa3fe80-da8f-11eb-8ed6-540a968f37da.png">

[2021-07-01 15:13] NicoKiaru commented on #333
SNAPSHOT builds are not reproducible, it's possible that you are not using your local SNAPSHOT but the distant one which has different classes

[2021-07-01 15:13] tischi commented on #300
Did you also **re**move the old one? Maybe you have two versions in parallel there?

[2021-07-01 15:16] tischi commented on #300
I replaced the jar again in `/g/cba/exchange/Valentyna`, but should be the same..
You could still try to use this one.

[2021-07-01 15:38] vzinche commented on #300
I didn't remove it, I just renamed it, and it seems it was still using the old version.
Anyways, now it looks like it works well! Lots of thanks!

![Screenshot from 2021-07-01 17-37-19](https://user-images.githubusercontent.com/32451366/124151733-28884900-da93-11eb-80ab-7c89d2b1b3bf.png)

[2021-07-01 16:08] tischi commented on #300
Cool!
And once you used it a while maybe we could chat about the deselect options.
So I'll leave the issue open.

[2021-07-02 07:59] martinschorb commented on #325
OK, I think this was a conceptual mixup with the `viewerTransform`.

[2021-07-02 07:59] #325 closed

[2021-07-02 13:37] #264 closed

[2021-07-05 09:12] tischi commented on #329
Thanks!
See here: https://github.com/mobie/mobie-viewer-fiji/pull/334

[2021-07-05 09:39] #327 closed

[2021-07-05 09:43] #330 closed

[2021-07-05 10:33] tischi commented on #326
@vzinche Just to be sure: you are adding these columns to the default table, is it? Because loading this as a primary table is very fast for me (less than 1 second). This makes me suspect that the part of the code that merges this table into the primary table is the culprit.

Could you maybe let me know what exactly you are doing?

[2021-07-05 10:34] K-Meech commented on #314
@tischi Could you maybe look into this? It seems to be a mac specific problem, so it's really hard to debug on my PC. You have a mac right?

[2021-07-05 10:37] vzinche commented on #326
Oh, sorry, I forgot the other option even exists :)
I am appending this table to the default one with Table -> Load columns -> Load from FileSystem

[2021-07-05 10:56] tischi commented on #326
I found one issue. Now it takes 40 seconds. Is that acceptable?

I think this can be further improved, e.g. I would like to find out whether I can make the UI stay interactive while it is adding the columns.

[2021-07-05 11:01] vzinche commented on #326
I think that's approximately the time it took before, so that would be good!

That would be even better of course, but waiting these 40 seconds is also manageable

[2021-07-05 12:24] tischi commented on #326
I now stays in interactive and adds the columns one by one but it throws an error when one tries to sort the table while it is not done yet.

[2021-07-05 12:26] vzinche commented on #326
Will this error be more like a warning, or one of these errors that require you to restart Fiji because nothing works afterwards? :)

[2021-07-05 12:35] tischi opened #335 "Clean up table loading"
This looks like a lot of code duplication here. It would be good to revisit this and think about whether this can be simplified:

[code]

[2021-07-05 12:45] tischi commented on #326
It keeps working. I leave the issue open to see whether I can fix this at some point.

Maybe one could disable table sorting while it is loading...

[code]

[2021-07-05 12:49] vzinche commented on #326
What do you think of just disabling the whole table while loading? It also gives a clearer sign when the loading is finished

[2021-07-05 12:54] tischi commented on #326
Yes, and in fact I just managed to implement the code for this 🥳

[2021-07-05 12:54] #326 closed

[2021-07-05 14:28] tischi commented on #314
I think the issue is that `setMoBIESwingLookAndFeel();` for some reason does not work well together with the `GenericDialog`. Thus, either (a) don't use the `setMoBIESwingLookAndFeel();` during the project creation or (b) don't use `GenericDialog`. I would vote for (a) to be on the safe side.

[2021-07-05 14:37] K-Meech commented on #329
Ok - explicitly closing the image loaders definitely helps! I did the same thing (adding / removing the cell segmentation a few times) and now the threads are definitely being terminated. This also keeps the memory usage a lot lower than before, as it's clearing the caches too.
![Screenshot (304)](https://user-images.githubusercontent.com/24316371/124486972-0dc11780-dda6-11eb-9d3c-168d943771c2.png

[2021-07-06 08:38] K-Meech commented on #332
@tischi Would you have time to look at this? This would be very useful for making figures :)

[2021-07-06 09:29] tischi commented on #332
This is already there, is it?
`Change opacity of non-selected segments`

[2021-07-06 09:32] tischi commented on #332
Then I think the only thing that is missing is whether the color of the selected objects should their normal color or whether you would like all of them to have one specific color, is it?

[2021-07-06 09:35] K-Meech commented on #332
Yes - that's right. It'd be useful to be able to show selected segments all in one colour.

[2021-07-06 09:39] tischi commented on #332
OK!

While Implementing this I will get rid of this:
[code]
Because I think we just need the `opacityNotSelected` and `selectionColor` variables to full specify the rendering.

[2021-07-06 09:39] tischi commented on #332
If `selectionColor` is `null` the selected segments will have their normal color.

[2021-07-06 10:34] K-Meech opened #337 "Segment selection based on table values"
It would be very useful to be able to make selections based on the table. e.g. For a particular column, select:

- segments with a particular value
- segments with a value greater than some value
- segments with a value smaller than some value

[2021-07-06 11:06] #332 closed

[2021-07-06 11:09] tischi commented on #337
Code like this could be a starting point: https://www.tutorialspoint.com/how-can-we-filter-a-jtable-in-java

But maybe one finds even better examples with more googling..

[2021-07-06 11:13] constantinpape commented on #256
This has been much improved now, closing the issue.

[2021-07-06 11:13] #256 closed

[2021-07-06 11:13] constantinpape commented on #257
Alphabetic sorting is fine here.

[2021-07-06 11:13] #257 closed

[2021-07-06 11:15] constantinpape commented on #337
See also discussions in #65

[2021-07-06 11:16] K-Meech commented on #323
@tischi Could you also look at this one if you had time? I'm trying to show a lot of segments in the 3d viewer, so it'd be great to be able to reduce the resolution here.

[2021-07-06 11:29] K-Meech commented on #323
Also, just to note, this isn't exactly the same as it was in the old MoBIE. We agreed here (https://github.com/mobie/mobie.github.io/issues/2#issuecomment-803969585) to make resolution3dView an array of resolutions [x_resolution, y_resolution, z_resolution], rather than the single double that it was previously.

[2021-07-06 13:05] tischi opened #338 "Blending modes"
I implemented a hack where plain zero voxel values are indicating the absence of a source.

This allows below visualisation, where both tomograms are with an `averageOccluding` blending mode:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/2157566/124604657-70301b80-de6b-11eb-8341-8e2e480c9b68.png">

It would be better to find out where a source ends in another way the

[2021-07-06 13:36] tischi commented on #323
Should I then choose the resolution level where the voxel spacing is less than or equal to the requested in all dimensions?

[2021-07-06 13:44] K-Meech commented on #323
Yes - sounds good!

[2021-07-06 13:51] tischi commented on #323
I do it now slightly more conservative: I pick the level where the spacings are equal to or larger than the requested.

[2021-07-06 14:13] constantinpape commented on #338
This looks awesome!

I am also not sure what would be a better solution here.

Done, I have added "em-segmentation" to the dataset.

[2021-07-06 14:32] martinschorb commented on #338
Could MoBIE issue a warning when signed-type sources are detected? Otherwise there will be transparent patches in a source that will look funny...

[2021-07-07 06:18] tischi commented on #323
Works now, one can change, the resolution.

New feature: It will only do this for the segmentation sources that are under the mouse in BDV when right clicking to get the context menu.

<img width="496" alt="image" src="https://user-images.githubusercontent.com/2157566/124709555-e41a0480-defb-11eb-8553-d40b71c502f8.png">

[2021-07-07 06:29] tischi commented on #338
I am not even sure whether we are supporting signed type sources at all? Do you have such data for testing?

[2021-07-07 06:36] tischi commented on #338
@constantinpape as expected also the segmentation layer is occluded right now:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/2157566/124711319-38be7f00-defe-11eb-8a94-8a4bce512878.png">

Would that ever be useful? Or should I (for now) try to just hard-code that label masks are never occluded?

[2021-07-07 07:08] tischi commented on #338
Right now the two tomograms are averaged and they are occluding the overview EM.

<img width="280" alt="image" src="https://user-images.githubusercontent.com/2157566/124714473-1a5a8280-df02-11eb-84a3-58a88f0e7a24.png">

I am wondering: is this it a re use-case that the occluding layer contains several images that should be averaged?

I am asking, because I just realized that I have a handle on the

[2021-07-07 07:13] constantinpape commented on #338
I am not sure if occluding the label masks would ever be useful. But I would not mind adding `blendingMode` to `segmentationDisplays` as well, in case someone has a use-case for this; we should just default to the option without occlusion.

That makes sense. Do we need to change something in the spec to enable this?

[2021-07-07 07:16] martinschorb commented on #338
Yes, in CLEM, you would be interested in the high-mag EM image plus the fluorescence overlay.

[2021-07-07 07:17] martinschorb commented on #338
Although that would be 'sum' at least for the fluorescence sources.

[2021-07-07 08:14] tischi commented on #338
@constantinpape I just discussed in person with @martinschorb and we concluded that my proposal should be good and that we can even now limit the choices to `sum` and `sumOccluding` and can get rid of the averages.

[2021-07-07 08:19] constantinpape commented on #338
Ok, works for me. Do we need any changes in the spec now (other than removing the average modes?)

[2021-07-07 09:12] tischi commented on #338
No other changes required.

It works 🥳  and I find it awesome (note how the high-res tomogram is occluding the low-res and how the segmentation layer is on top)!

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/2157566/124732963-04ee5400-df14-11eb-924d-e85d95ead23a.png">

Same view, but with the low-mag tomogram toggled off:

<img width="1185" alt="image" src="https://

[2021-07-07 09:28] tischi commented on #338
How should we do it in the UI?

Add for each source a checkbox with a small `o` for occluding?

<img width="618" alt="image" src="https://user-images.githubusercontent.com/2157566/124735589-74fdd980-df16-11eb-8144-ad272be43c65.png">

[2021-07-07 09:28] K-Meech commented on #323
Thanks @tischi! Just re-opening for some minor issues I found while using this:
- currently, updating the resolution via the context menu does not update the resolution of meshes already shown in the 3D viewer
- if you provide a resolution that is too low, then it errors because there are no voxels left for that segmentation. It would be nice to  provide some message asking people to try a higher

[2021-07-07 09:47] K-Meech commented on #337
I'll have a look at this, and see how difficult it is to implement.

[2021-07-07 10:05] constantinpape commented on #338
Ok, just to make sure we now have `blendingModes: [sum, sumOccluding]` for both `imageDisplay` and `segmentationDisplay`.

Sounds good, but in the example screenshot you posted it's not a checkbox?!

[2021-07-07 10:07] tischi commented on #338
not yet, I just posted it there for reference to see how it looks right now.
The `[ O ]` button is for opacity...

[2021-07-07 10:12] constantinpape commented on #338
okay, makes sense.

[2021-07-07 11:53] K-Meech opened #339 "Moveable source panels for layers"
Now that some sources can be made 'occluding', it'd be useful to have a way to easily rearrange these layers.
e.g. Could the source panels in the MoBIE GUI be made moveable? Then the order of sources == order of occluding layers.

[2021-07-07 12:00] constantinpape commented on #338
I updated the spec now (remove average blending modes, add blending modes to segmentation).
We also found in the meeting that blending modes can be set via the context menu already and decided to not add it to the MoBIE GUI for now.
@tischi I will close this issue for now, just reopen if necessary.

[2021-07-07 12:00] #338 closed

[2021-07-07 12:00] tischi commented on #338
there is a  context menu for now.

[2021-07-07 12:32] tischi opened #340 "Project Creator Views Loading"
@K-Meech

Upon "Load additional views", the file selector window that pops up on a mac does not remember the recent file location. Is that the same on windows? It is incredibly annoying to navigate to the same place again...

[2021-07-07 12:33] tischi opened #341 "LAF"
<img width="536" alt="image" src="https://user-images.githubusercontent.com/2157566/124759749-4a207f00-df30-11eb-9691-1d8eb084ad9e.png">

cc @K-Meech

[2021-07-07 13:38] tischi commented on #323
I am not sure we always want this... maybe some people want to show certain meshes with higher resolution?
Maybe a checkbox: redraw all segments?

Do you have an example for this? I don't think I have ever seen this error.

[2021-07-07 14:09] K-Meech commented on #337
Ok - this works now! I'll make a PR soon :)
I've added this as options to the 'select' table menu e.g. see below for selecting all of gene cluster 11 (muscles)
![Screenshot (310)](https://user-images.githubusercontent.com/24316371/124773886-43483b00-df35-11eb-9fb1-dac7dda92a91.png)

[2021-07-07 14:28] K-Meech commented on #323
A checkbox sounds like a good plan!

You can get this error by e.g.
- open the platy dataset, and add the cell segmentation.
- Configure the voxel size to 10x10x10
- Select a segment
- Click the v checkbox

You get the message below. Where it might be good to ask people to try a higher resolution.
![Screenshot (311)](https://user-images.githubusercontent.com/24316371/124776982-cc607180-df37-11eb-8

[2021-07-07 14:38] K-Meech commented on #340
This is the same on windows. I can fix this.

[2021-07-07 15:22] tischi commented on #323
Interesting!
The lowest magnification label maps may not have all the labels anymore!
I will work on this.

[2021-07-07 15:32] constantinpape commented on #65
Closed in favor of #337

[2021-07-07 15:32] #65 closed

[2021-07-07 15:33] constantinpape commented on #337
This is so nice! Will this already work for image tables? (This will be amazing for the covid-if example where we could use the selection feature to show positive / negative results)

[2021-07-07 15:43] K-Meech commented on #337
I don't think it works for image tables yet - but should be an easy fix! Once you have the project set up, we can get it working for that too.

[2021-07-08 06:16] tischi commented on #337
Why not? Isn't that the same as object tables?

[2021-07-08 08:15] K-Meech commented on #337
I just tried it out on one of the zebrafish grid views. Selecting rows in the table works (here I just selected everything with a grid id> 5), but this is not reflected in the viewer.
I think this is more of a general issue that, at the moment, selecting rows in a grid view table moves to that position but doesn't do any of the other things selecting a segment normally does e.g. dimming the other

[2021-07-08 08:29] tischi commented on #337
@K-Meech Did you try to just move the view a bit in BDV? Maybe there just is a repaint call missing somewhere?

[2021-07-08 08:36] tischi commented on #337
Just tried it myself and that's not the case. I will look into it now.

[2021-07-08 08:40] constantinpape commented on #337
Yes, scatterplot would be awesome to have as well!

[2021-07-08 08:57] tischi commented on #337
Found the bug. Below lines of code were missing in the `ListItemsARGBConverter`:

[code]

[2021-07-08 08:58] tischi commented on #337
Fixed via https://github.com/mobie/mobie-viewer-fiji/commit/d03aadc4c4ee5e5b6345610fc4c13bf0c388a718

[2021-07-08 09:08] constantinpape commented on #337
Do scatter plots also work then?

[2021-07-08 09:19] tischi commented on #337
No, this is more work.

[2021-07-08 09:20] constantinpape commented on #337
Ok, I think this would also be great to have for the covid plate.

[2021-07-08 09:32] K-Meech commented on #337
I'll make a separate issue for the grid view scatter plots and close this one

[2021-07-08 09:32] #337 closed

[2021-07-08 09:34] K-Meech opened #343 "Scatter plots for grid views"
Grid views currently do not support scatter plots. This would be very useful for data with a lot of whole-image related measurements.

[2021-07-08 09:58] tischi commented on #343
@K-Meech @constantinpape

I had a look and I could hack something together but I think it would be better if we spent some time on this to make it proper.

The point is that I think that the `GridSourceTransformer` and the `SegmentationSourceDisplay` will have a lot of common fields (both in the java code and in the JSON spec). Essentially everything that has to do with the table, the scatterplot

[2021-07-08 10:02] constantinpape commented on #343
Having a common base class sounds like the way to go.

jsonschema does not directly support inheritance, but it's possible to have references. So we could have external definitions of all the shared attributes and then just reference them in the grid transformation and segmentation display spec to avoid duplication.

[2021-07-08 10:03] tischi commented on #343
Writing this, both in Java and in the spec it feels that the `GridSourceTransformer` is doing a bit too much right now, since it is both transforming the sources to land at the right gird positions, but is also does all the table stuff. I wonder whether we could separate these two funtionalities on the spec side? I think it comes back to the discussion that we had in zoom: Maybe we can somehow hav

[2021-07-08 10:04] K-Meech opened #344 "Image selection for grid views"
Split discussion of grid view image selection from https://github.com/mobie/mobie-viewer-fiji/issues/337

Selection of images in a grid view, doesn't currently support all the features available for segmentations. e.g.
- selecting images by ctrl + left click in viewer
- shuffling colours with ctrl + L
- deselecting images with ctrl+shift+N
- changing opacity of non-selected images with ```configur

[2021-07-08 10:04] tischi commented on #343
...I feel if we find a way to do this it would probably also fix the issue that we discussed with the many image tables for a plate view...

[2021-07-08 10:21] K-Meech commented on #343
I agree, having a ```GridSourceDisplay``` makes a lot of sense. In the end, it's making a new row in the MoBIE GUI for the grid, so it seems a lot more consistent to have this listed as a display (rather than only a transform)

I guess you could, rather than a ```sources``` field, have a ```gridTransform``` field where you give the name of the grid transform? Then the transform could stay where it

[2021-07-08 11:41] constantinpape commented on #343
I agree that it makes sense to separate the `gridTransform` and `gridTable` / `gridDisplay` functionality more, but I am not so sure what the best option is:
- Right now `gridTransform` is part of the `sourceTransforms` and I am not sure it would be a good idea to move transform specific things into a `gridDisplay` (because that creates dependencies in the view). That's more a concern on the java

[2021-07-08 11:44] tischi commented on #343
I have a slightly a different proposal, which is more flexible as it does not tie it to a `GridTransformer`.

[code]

Where (I think as in the GridTransfromer),

1. the table rows correspond to the indices of the `List< List< String > > sources`
2. the annotation interval is drawn such that is covers the union of the sources at each "position", i.e. the inner list
3. the tables must have one colum

[2021-07-08 11:55] tischi commented on #343
...oh, and I already know a beautiful use-case for this: the tomograms in the yeast-CLEM project, which are **not in a grid** but it could be still very nice to browse them via a interactive table 😃