[2021-07-08 12:03] tischi commented on #344
I am not sure either...

For the context menu we could make the text more generic, e.g. `Configure non-selected image regions opacity` and then somehow figure out what is currently shown under the mouse cursor.

For the keyboard shortcuts I don't know...

[2021-07-08 12:46] tischi commented on #343
We could do this _in addition_ to my proposal; as it would not change anything but just be another way to specify the `protected List< List< String > > sources` in the proposed `SourceAnnotationDisplay`.

[2021-07-08 12:54] tischi commented on #343
Regarding the `selectedTableRowIds`: maybe we should be more explicit and require that there actually is a column with that string? Right now we are creating the ID on the fly in Java combining multiple columns. This works, but I think it may actually complicate things both on the spec as well as on the Java side.

[2021-07-08 13:31] constantinpape commented on #343
Ok, we decided to implement https://github.com/mobie/mobie-viewer-fiji/issues/343#issuecomment-876370201. This way the `SourceAnnotationDisplay` is independent from the grid transform, the grid transform just happens to arrange the same sources.
`SegmentationSourceDisplay` and `SourceAnnotationDisplay` can share the same base class, but we decided to have `selectedSegmentIds` and `selectedSourceAn

[2021-07-08 13:41] K-Meech commented on #343
Ok - great! Making it more generic is a great plan, as there are plenty of use cases for annotating / navigating sources that don't necessarily need to be arranged in a grid :)

I'm a bit unsure how these tables will look. Would they have a column for ```annotationId```? Or they are just being matched based on the order of the rows being equal to order of the items in ```List< List< String > > sou

[2021-07-08 13:45] constantinpape commented on #343
@K-Meech that's a good point, we didn't fully discuss this.
I would just add a column `sourceAnnotationId` (to be consistent with the name) and than indeed have the same order as in the outer list of `sources`.

We would also need to discuss which format `selectedSourceAnnotationId` has. I guess `timepoint-sourceAnnotationId` should be sufficient for uniqueness?!

What do you think, @tischi?

[2021-07-08 14:17] tischi commented on #343
1. I think it should be `source_annotation_id` to be consistent with the `label_id`?
2. yes, I think `timepoint` `-` `source_annotation_id` should do the job
3. @K-Meech currently, the table rows MUST be in the same order as the `List< List< String > > sources`, as the indexing would be used for the matching. We could think about changing this to a `Map< String, List< String > > sourceAnnotationId

[2021-07-08 14:26] tischi commented on #343
We could also consider this for the GridTransformer: `LinkedHashMap< String, List< String > > gridIdToSources`, as this would give each grid position a unique name that we could use if we ever want to refer to a grid position as a "source". I am writing `LinkedHashMap` here, because the order to the items in the Map would still be important here as they would determine the Grid position if no spec

[2021-07-08 14:35] K-Meech commented on #343
@tischi I think it'd be nice to switch to ```Map<String, List<String>>``` - I think this is easier to understand + means assembling tables is a lot easier (no row order constraints!)

```source_annotation_id``` sounds good

For the GridTransformer - maybe wait until there is a specific use case for this? I don't think it's super vital for now to change it.

[2021-07-08 14:52] constantinpape commented on #343
Ok!

If you prefer a (linked) map for all this (`sources` in `sourceAnnotationDisplay`, `gridIdToSources`, `gridIdToGridIndices`)
we should change this all in one go, because I need to change the spec for the grid view now anyways.
Would be fine with me, I don't have any preferences here.

[2021-07-08 14:58] tischi commented on #343
I agree.

I don't have a very strong preference for the `GridTransformer` either...  However, I think I would vote for making it a Map as well, because then for the HTM we could give names such as wellA01 as gridIds which may make human inspection of the JSON easier.

=> All Maps, please (my opinion).

[2021-07-08 15:01] constantinpape commented on #343
Ok, I will change it for all three then, will ping you when the example is there.

[2021-07-09 05:55] tischi opened #345 "Interpolation of sources in occluding mode produces a border"
<img width="558" alt="image" src="https://user-images.githubusercontent.com/2157566/125030186-f9716900-e08a-11eb-9b17-313755f0af25.png">

also see discussion in bdv-core gitter...

[2021-07-09 06:26] tischi commented on #343
@constantinpape
How should we name the fields?
[code]

[2021-07-09 07:06] tischi commented on #343
I am thinking now that just `sources` is probably better.

[2021-07-09 09:08] constantinpape commented on #343
Yes, let's just keep it as `sources`

[2021-07-09 15:24] tischi commented on #343
@constantinpape

Would it be OK for you to simply call it `selectedAnnotationIds` instead of `selectedSourceAnnotationIds`?

[code]

[2021-07-09 15:48] constantinpape commented on #343
Yes, no problem.

I have the changes to the spec almost ready, I only need to create the example data; will do that later.

[2021-07-09 20:03] constantinpape commented on #343
@tischi I just realized that you should not rely on the sorting here!
I save the jsons with `sort_keys=True`, because this makes them more readable. However, this means that the keys of the grid sources will be string sorted and not (as would be correct) int sorted.

[2021-07-09 20:09] constantinpape commented on #343
@tischi here's the example project:
https://github.com/mobie/zebrafish-lm-datasets/tree/new-grid-spec

[2021-07-10 15:23] tischi commented on #343
Thanks! I guess the `sourceNamesAfterTransform` should then also be a Map? I don't think you have it in the example...

[2021-07-10 20:47] tischi commented on #343
@constantinpape the column names in tables for the `sourceAnnotationDisplay` are still `grid_id` and `membrane`; I think there should be columns for `annotation_id` and `timepoint`, right?
(we originally said `source_annotation_id` but I think just `annotation_id` is better...)

[2021-07-12 08:39] constantinpape commented on #343
Yes, I forgot to update the tables. The first column is now called `annotation_id`; I pushed the change to the branch already.

I am not sure if there should be a `timepoint` column: for the segmentation tables we also don't have them in the table and you add this column when loading the table in MoBIE.

If possible I would keep the same loging for the source annotation tables; but if you need the

[2021-07-12 09:05] tischi commented on #343
in other words: the `timepoint` column is _optional_, right?

[2021-07-12 09:33] constantinpape commented on #343
Yes, indeed it's optional and only there if we actually have multiple timepoints.
I just checked and that's how we also handle it for the segmentation tables, see https://raw.githubusercontent.com/mobie/arabidopsis-root-lm-datasets/spec-v2/data/arabidopsis-root/tables/lm-cells/default.tsv.

[2021-07-12 11:47] KateMoreva opened #348 "Compile errors"
After [this commit](https://github.com/mobie/mobie-viewer-fiji/commit/83782085cbd1af08ea6893e88e991e2375592d83) I have some compile errors with

- `UserInterfaceHelper.java `
  - there is no `display`
[line 225 `panel.add( createScatterPlotViewerVisibilityCheckbox( display, true, display.scatterPlotViewer ) );`](https://github.com/mobie/mobie-viewer-fiji/blob/f48ecee378ac4b61f4232c5685b8f6c3b68d87

[2021-07-12 11:49] KateMoreva commented on #348
Solved by [commit](https://github.com/mobie/mobie-viewer-fiji/commit/05f1dc92e13d2e40a2772cf256c1803c4ef45b58)

[2021-07-12 11:49] #348 closed

[2021-07-15 07:16] will-moore opened #351 "Read OME Zarr, NOT from s3"
I was following the steps from https://www.youtube.com/watch?v=KposKXm7xeg, hoping to open an OME-Zarr from my local file-system, served with a simple `$ python -m http.server`.

The URL is `http://localhost:8000/52.zarr`.

There is just a single request made:
[code]

And MoBIE fails with
[code]

<details><summary>Full Stack Trace</summary>

[code]

</details>

I also tried serving OME-Zarr from O

[2021-07-15 07:43] tischi commented on #351
Indeed we did not yet support opening OME.ZARR from the file system, but @KateMoreva is working on it...
But your use-case seems different? What is the local server doing?
Serving from OMERO is also something we did not try yet.
Maybe zoom call next week such that you can explain to us those scenarios?

[2021-07-15 08:16] will-moore commented on #351
I tend to serve using a minimal web server because that's what I need for `vizarr` and `napari`.
And because they work with that, they will also work with the same API provided by OMERO.

I guess that if you can read data directly from the local file-system, and you can connect to OMERO via https://github.com/stoffelc/imageJ_play_Claire then the need to support my use-case is not so urgent.

https

[2021-07-15 08:32] constantinpape commented on #351
This actually works already (but maybe not in the released MoBIE version).

@will-moore how are you opening the file with MoBIE? I think for what you describe it should work with `Plugins->BigDataViewer->OME ZARR->Open OME ZARR from s3 ...` (not that this is installed with MoBIE). Opening via `MoBIE->Open MoBIE project` will not work, because this expects a full MoBIE project (which has additional

[2021-07-15 08:41] will-moore commented on #351
I'm following https://www.youtube.com/watch?v=KposKXm7xeg
which does `->Open OME ZARR from s3 (Advanced)...```
What's the difference between that and the Not Advanced option?
The result appears to be the same:

If I simply point to a local zarr on my file-system, e.g. `/Users/wmoore/Desktop/ZARR/data/52.zarr` I get:

[code]

[2021-07-15 08:43] will-moore commented on #351
A screenshot is sometimes handy:
![Screenshot 2021-07-15 at 09 42 46](https://user-images.githubusercontent.com/900055/125757900-59e7cdc8-80f6-4988-bb3d-321094b4ef49.png)

[2021-07-15 09:36] tischi commented on #351
There's no significant difference between advanced and the other option.
It simply (as the name suggests) only opens data from S3.

[2021-07-15 09:37] constantinpape commented on #351
Ok, that's the right way to do it, @will-moore and your example is something we want to support.
Looking at your stack trace, I think that the issue is that some of our parser logic assumes an s3 url, so it fails for the local server.
We should fix this.

[2021-07-15 09:37] KateMoreva commented on #351
For opening ome.zarr files directly from the file system you need to use `Plugins>BigDataViewer>OME ZARR>Open OME ZARR from the file system...` command, which is in not released version yet.

[2021-07-15 10:39] K-Meech commented on #341
@tischi I'm fixing the various laf issues at the moment.
Could you check what the default laf is on a mac? On windows, swing opens by default with the 'Metal' laf, which is the ```crossPlatformLookAndFeel```, rather than the ```systemLookAndFeel```

[2021-07-15 10:49] martinschorb opened #352 "When annotating, map number keys to categories"
It would be super handy to have the annotation categories mapped to the number keys (`1`- `0`) when the annotation window is active to massively speed up manual annotation.

[2021-07-15 10:58] martinschorb opened #353 "UI inconsistency in annotation dialog"
The annotation dialogs also suffer from the Mac gaphics issues. (see #314)

It even changed in the middle of using it from looking good to being weird...

![Screenshot 2021-07-15 at 12 52 43](https://user-images.githubusercontent.com/35071867/125777115-8f6d1113-9b76-4f92-9fc4-885016c627f5.png)

After this, all categories looked like the lowest one and also the dropdowns in the menus became unrespo

[2021-07-15 11:18] K-Meech commented on #353
Thanks for reporting @martinschorb - I will try to fix all these mac display issues today

[2021-07-15 11:26] vzinche opened #354 "Loading a table throws an exception"
Loading the [attached table](https://github.com/mobie/mobie-viewer-fiji/files/6822697/clust_spectral_l2_emb80_fmaps48_4_text_ps4_onlynucl_emb80_cntrs_1_nonucl_emb80_cntrs_3_w_pointcontr0611_n20.csv) throws the following error, but still loads the table. This didn't happen in the previous Mobie versions
![Screenshot from 2021-07-15 13-20-40](https://user-images.githubusercontent.com/32451366/125780

[2021-07-15 11:28] vzinche commented on #354
I am loading this table from my FileSystem to the default cell table

[2021-07-15 11:35] martinschorb opened #355 "using segmentations as masks for intensity analysis"
we just realized that this is a much more general functionality that we want inside MoBIE:

https://github.com/mobie/yeast-clem-datasets/issues/9

Basically, any segmentation source (or selection of labels) should be available as masks for subsequent analysis of the other sources at the same location.
The basic application would be the intensity quantification inside the mask. This would then be s

[2021-07-15 11:37] martinschorb opened #356 "selection of labels based on viewer/mouse position"
It would be very handy to filter labels based on the current view.

This will support on-the-fly analysis by identifying the relevant source subsets to process.

[2021-07-15 11:52] tischi commented on #356
Implementation suggestion: Context menu: "Select all visible segments"

[2021-07-15 11:58] tischi commented on #352
Good point!
I was 100% sure we have configurable keyboard shortcuts for the annotation classes....but indeed I cannot find it in the code anymore.
@K-Meech do you remember us having this functionality?

[2021-07-15 11:59] tischi commented on #341
Do you have a java command for me how to find this out?

[2021-07-15 12:06] constantinpape commented on #352
For reference: https://github.com/tischi/imagej-utils/issues/28

[2021-07-15 12:08] constantinpape commented on #355
I agree that this will be super useful to have - but it opens a bit of pandora's box of how much downstream analysis we want to implement inside of MoBIE itself.

[2021-07-15 12:11] tischi commented on #355
I think measuring the intensities in the image segments could be nice as we anyway need this for the PROSPR gene expression per cell measurements. But indeed, I would then try to leave it at that....

But you are right! It does open a very big box and we have to prioritize...

[2021-07-15 12:14] martinschorb commented on #355
In my opinion, basic intensity quantification (average, min/max, stdev) inside the masks and displaying the direct result in the annotations table would be the obvious things that MoBIE should do itself.

Anything more fancy could then (at some later point)be implemented by enabling Fiji "macros/scripts" (of any language) acting on the subset of data.

[2021-07-15 12:17] constantinpape commented on #355
Yes, I agree that we should do it because this one is obvious, just make clear that downstream analysis is not the main target application, so that one shouldn't expect more niche features.

Yeah, I guess that would indeed be ideal, but not sure how easy/hard it is on the implementation side.

[2021-07-15 12:26] tischi commented on #355
it is hard as one would have to develop image analysis in real-space rather than on a voxel grid.
this is something I really would love to see in "ImageJ2" but I am not sure anyone is actively pursuing this.

[2021-07-15 12:32] martinschorb commented on #355
I think this is going into the same direction.

https://forum.image.sc/t/napari-pyclesperanto-assistant-image-array-formats/55156/5

I don't think they can deal with different voxel-sized sources yet. But here @NicoKiaru's  re-sampling of sub-regions might be one approach. Maybe deriving the resulting virtual "voxel size" from the current viewer's pixel size would be the way to go...

[2021-07-15 13:05] K-Meech commented on #352
The corresponding commit for this is here: https://github.com/tischi/imagej-utils/commit/2ca807cc6cce512c3a133cb0972d38eb962c856b Not sure why this was removed in later versions...

[2021-07-15 13:06] K-Meech commented on #341
I think I've sorted this now - so no worries. I'll make a PR soon, then it'd be great if you could test on mac

[2021-07-15 15:42] K-Meech opened #358 "Some fields are not saved properly as bookmarks"
- additional tables added via 'load columns...', are saved without the ``.tsv``` extension
- Selected ids are still saved in the old format, need to switch to format like: https://github.com/mobie/platybrowser-datasets/blob/spec-v2/data/1.0.1/dataset.json#L2927
- resolution of 3d view is not saved

[2021-07-16 10:02] #340 closed

[2021-07-16 12:03] #341 closed

[2021-07-16 12:06] tischi commented on #352
...at some point I decided to copy the Annotator code into MoBIE: https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/annotate/Annotator.java

I actually think once things stabilized more we could move it back to into imagej-utils (or some other repo).

So, I guess one would just have to copy the code from ij-utils to the mobie code. If you have time, please do i

[2021-07-16 12:07] tischi commented on #352
_Not everything_ as the code diverged quite a bit, but _only_ the part with the buttons and keyboard shortcuts.

[2021-07-16 12:07] vzinche commented on #317
@tischi, where did the screenshot option disappear? I can't seem to find it all now

[2021-07-16 12:22] tischi opened #360 "OME.ZARR writer"
I think it would relatively high priority to also be able to write OME.ZARR from Java soon.
Anything that we could look forward to from the OME side (e.g., Java API for bioformats2raw)?

I think @joshmoore and @K-Meech looked into it at some point but maybe it was not yet working?

cc @constantinpape @KateMoreva @jburel

[2021-07-16 12:55] tischi commented on #355
I think @petebankhead from QuPath is doing something along those lines where the analysis is done on the voxels of currently visible resolution level, isn't it?

[2021-07-16 13:20] K-Meech commented on #360
Linking this issue as there was some discussion of this there: https://github.com/mobie/mobie-viewer-fiji/issues/149#issuecomment-743073779

[2021-07-16 13:24] K-Meech commented on #360
@joshmoore made some suggestions a while ago, but I never got around to testing them out properly. Happy to look into this again now / integrate with the mobie project creation code! At the time it looked like ```bioformats2raw``` would be the easiest solution.

[2021-07-16 14:56] K-Meech commented on #360
@KateMoreva @constantinpape  - is there a command for opening ome-zarr from the filesystem yet? (this would be very useful for testing - no worries if not!)

[2021-07-16 16:57] joshmoore commented on #360
With me away, double posting questions on image.sc or `@` mentioning @dgault is probably safest.

[2021-07-16 18:19] KateMoreva commented on #360
Yes, there is `Plugins>BigDataViewer>OME ZARR>Open OME ZARR from the file system...` and MoBIE version in [MR 350](https://github.com/mobie/mobie-viewer-fiji/pull/350 )

[2021-07-19 09:39] K-Meech commented on #360
Thanks @KateMoreva! Is this command for OME-ZARR, or bdv style OME-ZARR (i.e. does it need an xml file too)?

[2021-07-19 10:27] KateMoreva commented on #360
This command should work for both OME-ZARR and BDV OME-ZARR formats.

[2021-07-19 10:34] K-Meech commented on #360
Ok - great! @KateMoreva @constantinpape Is there a local OME-ZARR file available somewhere I could use? e.g. on the EMBL file share?

[2021-07-19 10:51] KateMoreva commented on #360
I think `g/kreshuk/pape/Work/mobie/covid-if-project/data/20200406_164555_328/images/ome-zarr/nuclei_WellA01_0000.ome.zarr` is such an example.

[2021-07-19 11:00] KateMoreva commented on #360
To open it using `Plugins>BigDataViewer>OME ZARR>Open OME ZARR from the file system...` please specify the full path to the .ome.zarr file.
If you want to use MoBIE instead you will need to use the root path and set the format:
`new MoBIE( "/g/kreshuk/pape/Work/mobie/covid-if-project", MoBIESettings.settings().imageDataFormat( ImageDataFormat.OmeZarr ) );` (like in the  [example](https://github.co

[2021-07-19 11:05] K-Meech commented on #360
@KateMoreva thanks! Unfortunately, I don't have access to the kreshuk lab share. Could you upload it somewhere else? e.g. google drive / own cloud etc if it's not too big. You can email me the link, if that's easier?

[2021-07-19 11:17] constantinpape commented on #360
@K-Meech I will make a copy on the EMCF share.

[2021-07-19 11:25] constantinpape commented on #360
@K-Meech I copied some test data to `/g/emcf/pape/ngff/v0.3`; there are different axis combinations.

[2021-07-19 11:29] K-Meech commented on #360
Thanks both! I'll have a look through the data :)

[2021-07-19 13:27] K-Meech commented on #360
Ok - so I can write to version 0.2 OME-ZARR now via ```bioformats2raw```, and open it with  ```Open OME ZARR from the file system...```
There's a super short example on this branch: https://github.com/mobie/mobie-viewer-fiji/blob/writing_ome_zarr/src/test/java/develop/DevelopOmeZarrWriting.java

Some points to solve:
- it's v0.2 rather than v0.3 - are both versions fully supported in MoBIE?
- ```b

[2021-07-19 14:29] #288 closed

[2021-07-20 11:07] K-Meech commented on #360
@constantinpape I'm still getting to grips with the OME-ZARR format - is the spatial calibration for each axis stored?

[2021-07-20 11:20] K-Meech commented on #353
This is fixed on the current master.

[2021-07-20 11:20] #353 closed

[2021-07-20 12:07] constantinpape commented on #360
Yes, they should both be fully supported.

I think the first `0` is just for the downsampling layers. IMHO this is unfortunate, because it can be easily confused with the chunk hierarchy and it would be better to call it `s0`. Note that the name here is not specified by the spec but specified in the `multiscales` metadata. Could you maybe make an issue in bioformats2raw about this? (I.e. ask them

[2021-07-20 12:44] constantinpape opened #362 "Dynamic grid views"
Currently, grid views need to be specified in the project metadata ahead of time. For many applications it would be useful to enable dynamic grid views for a user selection of sources.
I could think about different options for this:
- Add these via a menu where sources can be selected from a list of all sources.
- Add these via a menu where sources are selected via name wildcards, e.g. `nuclei_*`

[2021-07-20 15:12] K-Meech opened #363 "Support manual transformation of sources in bdv"
In normal BDV, sources can be transformed via the top BDV window menu (Tools > Manual Transform). Then, moving in the bdv window transforms the active source.

In the current MoBIE-beta, this does not work:
- all displayed sources move together when you manually transform (i.e. you can't move only one source)
- when you click 'Manual Transform' again to disable it, it resets any transforms you did

[2021-07-20 15:40] K-Meech commented on #362
This would be great! This would also make it easier to generate grid view bookmarks via 'save current settings as view...' in the context menu

[2021-07-20 15:50] K-Meech commented on #360
I think it's more that it's creating a whole dir (```0```) for the image [I imagine to support the case of converting some file formats that contain multiple images in one file?] This top level's ```.zattrs``` does not contain the ```multiscales``` metadata, but the one below does.
I'll make an issue on bioformats anyway to clear this up + for the naming of the downsampling layers

I'll put anothe

[2021-07-20 15:50] tischi commented on #363
I fixed this by adding the the right click menu command for manual source transformation from bdv-playground.
@NicoKiaru, could you please point us to the documentation, if you have some?

[2021-07-20 16:30] K-Meech commented on #360
I made 3 issues covering these points:
https://github.com/glencoesoftware/bioformats2raw/issues/109
https://github.com/glencoesoftware/bioformats2raw/issues/108
https://github.com/glencoesoftware/bioformats2raw/issues/110

[2021-07-20 17:03] NicoKiaru commented on #363
Unfortunately, there's no documentation... It's working like the Manual Transform tool except that you are in the referential of the moving source instead of the fixed source.

[2021-07-20 18:59] tischi commented on #363
@NicoKiaru  And what's the difference between mutate and append?

[2021-07-21 08:11] constantinpape commented on #362
@K-Meech do you have time to work on this in the next few weeks? Otherwise it may also be a good task for @KateMoreva after the refactoring of the n5/ome-zarr code is done.

[2021-07-21 08:16] K-Meech commented on #362
I won't have too much time - so @KateMoreva, go ahead! Once the grid view ui stuff is in place, I can make it work with the rest of the bookmark code :)

[2021-07-21 10:34] NicoKiaru commented on #363
For an AbstractSpimSource, there's a model which stores a chain of transforms M0, M1 ... Mi:

M = M0.M1.M2.M3

In mutate you do : M3' = M3.M' ( and thus M = M0.M1.M2.M3' )

In append you do M = M0.M1.M2.M3.M' ( the last transformation is stored in the model )

You have different behaviour depending on the underlying Source ( Transformed, Warped, etc), all is done in this class:

https://github.com

[2021-07-21 11:39] tischi commented on #317
@vzinche should work now again (available once we pushed to MoBIE beta)

[2021-07-21 11:46] tischi commented on #363
Currently we do not care about the SpimSource, because we serialize differently.
In our case we are dealing currently with TransformedSource.
I would like to hard code this choice for the user in MoBIE.
What do you think is the better option? does it matter?

[2021-07-21 18:34] constantinpape commented on #362
Ok! @KateMoreva we can discuss details on this once you are done with the refactoring of n5/zarr readers :).

[2021-07-21 18:45] constantinpape opened #365 "Validate opening projects with new data formats via MoBIE GUI"
- [x] BdvOmeZarr
- [x] BdvOmeZarrS3
- [x] OmeZarr
- [x] OmeZarrS3
- [x] OpenOrganelleS3
- [ ] Check that ome.zarr is opened with correct axis order (need working napari ome.zarr for this)

This is a checklist for myself to make sure that the new file formats @KateMoreva has opened also work via the MoBIE Fiji plugin. Maybe need to wait for storage auto detection (https://github.com/mobie/mobie.git

[2021-07-21 18:51] constantinpape opened #366 "Opening openOrganelle dataset from github via MoBIE does not work"
Opening https://github.com/mobie/open-organelle-test via mobie does not work.
When trying to open the dataset I get the following error:

![Screenshot from 2021-07-21 20-50-23](https://user-images.githubusercontent.com/4263537/126543581-681e31b8-fd08-474a-a12d-3ce902d18d8d.png)

To reproduce:
- Start Fiji with MoBIE-beta
- Select "Plugins->MoBIE->open->Open MoBIE project...."
- Enter https://githu

[2021-07-21 18:52] constantinpape commented on #365
openOrganelle is not working yet: #366

[2021-07-21 19:18] KateMoreva commented on #366
@constantinpape, I think the problem is, that we do not have a dynamic file format chooser yet.
You can open this dataset using:

[code]

[2021-07-21 19:31] constantinpape commented on #366
Thanks for checking @KateMoreva; I will wait till @tischi has implemented dynamic file choosing and pushed it to the new release then and check again.
(@tischi I would like to send this to John and the other Janelians then to demonstrate opening open-organelle in MoBIE)

[2021-07-22 06:28] NicoKiaru commented on #363
For transformed sources, you can either keep one transformed source and concatenate the new transformed into the one contained in transformed source:

M <- M x M'

Or keep a chain of Transformed Source to hold all steps

https://github.com/bigdataviewer/bigdataviewer-playground/blob/44355493b13f1df3fb04b18cb89de6da4bf3f20b/src/main/java/sc/fiji/bdvpg/sourceandconverter/transform/SourceTransformHel

[2021-07-22 07:16] tischi commented on #363
OK I think I get it now

- mutate: keep one transformed source and concatenate the new transform into the one contained in transformed source
- append: have a chain of TransformedSource to hold all steps

@K-Meech @martinschorb what do you think we should do? I am not sure: for serialization mutate would be easier (and the JSON would look simpler) but we would loose the "history" of the transforma

[2021-07-22 07:22] constantinpape commented on #219
This has been implemented by @K-Meech

[2021-07-22 07:22] #219 closed

[2021-07-22 08:44] K-Meech commented on #363
I think it'd be nice to maintain at least some of the steps - e.g. if you already have an ```affine``` in your ```sourceTransforms``` which came from some registration program, it'd be useful if saving a view with a manual transform too didn't overwrite this completely.

I don't know how hard this would be, but maybe you could have one chain of Transformed source, but then mutate? i.e. all the ```

[2021-07-22 08:53] tischi commented on #366
I have updated MoBIE-beta.

[2021-07-22 09:05] tischi opened #368 "MoBIE in the browser"
With @oeway we are exploring running MoBIE in the browser; the idea being that people would not have to install anything.

First of all: Thanks @oeway!

Below is a screenshot from running Fiji and a Linux Desktop within Binder.

![image](https://user-images.githubusercontent.com/2157566/126613957-61d924d2-1d12-4be1-8267-2c0592328745.png)

So, in principle it works 🥳

Issues:
- [ ] Too much lag bet

[2021-07-22 09:52] constantinpape commented on #366
![Screenshot from 2021-07-22 11-51-25](https://user-images.githubusercontent.com/4263537/126620868-58e9ea95-9261-4118-b48a-be0dd355ed40.png)

Works now! I will add some more things to the example project and send around an update mail about it later.

[2021-07-22 09:52] #366 closed

[2021-07-22 09:56] tischi commented on #366
Before sending it around to "all" Janelians maybe let's first optimize things in a smaller circle (us and John)?

[2021-07-22 10:02] constantinpape opened #369 "Issues with open organelle boundary chunks"
There are some issues with the open organelle boundary chunks, see screenshot below.

I suspect that this is caused by the fact that the data is written with zarr, which writes out n5 boundary chunks differently from n5-java or z5py: it writes the whole boundary chunks (padded with zeros) instead of truncating it. It should be possible to adapt this in the n5 reader though.

![Screenshot from 2021

[2021-07-22 10:03] constantinpape commented on #366
Ok, I will show you the example later then we can see how to continue.

[2021-07-22 11:15] oeway commented on #368
Hi @tischi I am also working on an easier way of transferring data between the client and remote, by integrating ImJoy to the VNC client. With this integration it will also address the last two tasks about automatic installation of fiji and start the MoBIE via the ImJoy plugin mechanism.  The first issue is hard to address, especially on Binder, but if you run it locally or perhaps through the bio

[2021-07-22 12:48] constantinpape opened #370 "Weird behaviour of contrast limits"
I don't understand how the contrast limits are working now, but they don't load contrast limits from a view as expected:

For example, the default view for the open organelle test dataset looks like this:
![Screenshot from 2021-07-22 14-42-47](https://user-images.githubusercontent.com/4263537/126640841-011d1866-5672-4242-9e6b-d2c24fcf725d.png)

There are two values for min / max each and it looks

[2021-07-22 13:31] tischi commented on #370
You are missing one order of magnitude in the JSON:

https://github.com/mobie/open-organelle-test/blob/f1f0a84097ff521b2832e742572615bf626dc5a1/data/jrc_hela-2/dataset.json#L32

Should be:  2849**0**, 6012**0**

[2021-07-22 13:40] constantinpape commented on #370
No, that's not what I want, see screenshot below.

Also, apart from what the correct values are in the json, why are there two values per slider? This makes it very unclear as a user which one is the actual value.

![Screenshot from 2021-07-22 14-49-29](https://user-images.githubusercontent.com/4263537/126648393-02fc1afd-5500-4d9f-b6b6-cfd8156bcaa1.png)

[2021-07-22 13:47] tischi commented on #370
I don't have this on my Mac:

<img width="523" alt="image" src="https://user-images.githubusercontent.com/2157566/126649602-c92f3083-075c-4f88-80fb-ae3b5adf0f43.png">

Maybe this is a Linux thing?

@K-Meech how does this look like on Windows?

[2021-07-22 14:08] tischi opened #371 "View saving"
@K-Meech

The GUI asks at the very end for the "view name". I think it would be easier to use if that was in the same UI where one chooses the "exclusive" and the "include viewer transform".

[2021-07-22 14:23] vzinche opened #372 "Mobie crashes after the last update"
Am I doing something wrong? When I open the spec-v2 branch I get this error:

![Screenshot from 2021-07-22 16-22-26](https://user-images.githubusercontent.com/32451366/126655475-108f8f23-05db-4294-86d9-d65ec61b1970.png)

[2021-07-22 14:23] vzinche commented on #372
That's mobie beta

[2021-07-22 14:29] constantinpape commented on #372
Are you trying to open platy-browser or some other project?

[2021-07-22 14:51] vzinche commented on #372
platy-browser

[2021-07-22 14:57] vzinche commented on #372
Nevermind, I still had the version from today morning. Works now, thanks

[2021-07-22 14:57] #372 closed

[2021-07-22 15:09] constantinpape commented on #371
There are also some more issues with the generated views (copied from https://github.com/mobie/open-organelle-test/issues/1):
- sources in `"imageDisplays"` are saved as `"sources": ["image 0"]` instead of `"sources": ["<SOURCE NAME>"]`
- `color` is saved as "(r\u003d0,g\u003d255,b\u003d0,a\u003d255)" but should be of the form "r=1,g=1,b=1,a=1"
- also, the file is saved with tabs; it would be nice

[2021-07-22 15:21] constantinpape commented on #369
@bogovicj @axtimwalde: the issue here is that we are reading n5 data with full instead of truncated border chunks (written with zarr-python, I assume).
We are using n5-java internally to read the data. Is there an (easy) way to correctly read the full boundary chunks with it?

Thanks!

[2021-07-22 15:25] axtimwalde commented on #369
Not sure what n5-java is, but you could use n5-imglib2 which is cropping this as intended.
[code]
returns the expected img regardless of whether any chunks hang over or not.

[2021-07-22 15:31] constantinpape commented on #369
Ah sorry, I mean the "original" n5 repo: https://github.com/saalfeldlab/n5.

We are not using `n5-imglib2`; I think for historic reasons because our n5 reader code is derived from Tobias original bdv n5 reader, which did not use it.

Anyway, thanks for the pointer, we can see if it's easier to switch to `n5-imglib2` or see how `N5Utils.open` deals with this issue.

[2021-07-22 15:42] constantinpape commented on #369
I guess the relevant function is [copyIntersection](https://github.com/saalfeldlab/n5-imglib2/blob/9c51034a490daab9c1b8a503f6cfc745813afd8d/src/main/java/org/janelia/saalfeldlab/n5/imglib2/N5CellLoader.java#L316)

[2021-07-22 15:42] K-Meech commented on #370
![Screenshot (332)](https://user-images.githubusercontent.com/24316371/126667730-9e45383e-6381-4685-a4a9-585683415a18.png)
The default view looks fine on windows, and there are no extra numbers above the sliders. So seems linux specific!

[2021-07-22 15:46] tischi commented on #369
Yes, sounds very familiar. I think we are using this in (some of) the readers....
@KateMoreva can you please check?

[2021-07-22 15:50] constantinpape commented on #369
Yes, we are probably using it when reading zarr data.

[2021-07-22 15:54] KateMoreva commented on #369
In `N5OmeZarrReader` we have method` copyTransposed` which is quite similar to this one.

[2021-07-22 16:09] tischi commented on #369
ok, so maybe we can add it to the openOrganelle reader?!

[2021-07-22 16:16] KateMoreva commented on #369
Ok, I think we can.
@constantinpape, in the result there should not be the right part of the picture or it should also be fully visible?

[2021-07-22 16:23] KateMoreva commented on #369
But method is unused

[2021-07-22 16:29] K-Meech commented on #371
Ok - I'll look into these issues! I should have some time tomorrow ( linking this issue for other bookmark issues: https://github.com/mobie/mobie-viewer-fiji/issues/358)

[2021-07-22 16:37] axtimwalde commented on #369
It's `copyIntersection` combined with the shortcuts in `createCopy` so you don't do unnecessary stuff.

[2021-07-22 16:44] KateMoreva commented on #369
Yes, did not notice at the first time, OmeZarrImageLoades are using createCopy from N5CellLoader.

[2021-07-22 17:08] KateMoreva commented on #369
@constantinpape, is this the right image?

![image](https://user-images.githubusercontent.com/48569608/126679913-18e4695e-b22f-4391-aa56-5cb3db582651.png)

[2021-07-22 17:20] constantinpape commented on #369
Yes, that is the correct image.

[2021-07-22 18:56] constantinpape opened #374 "Opening BdvOmeZarrS3 is not working with current MoBIE-beta"
The project at `https://s3.embl.de/i2k-2020/project-bdv-ome-zarr` can be opened, but no data is loaded. Looks like all blocks are loaded as empty.
Maybe this happens because the reader does use the incorrect dimension separator?
I will double check that the actual data is ok once I have ome.zarr + napari working (hopefully Monday).

Note that opening the BdvOmeZarr dataset locally at `/g/kreshuk/p

[2021-07-22 18:56] constantinpape commented on #365
BdvOmeZarrS3 is not working, see #374

[2021-07-22 18:59] KateMoreva commented on #374
[code]

Works for me

[2021-07-22 19:05] KateMoreva commented on #374
Could you please send the command that you used and the result?

[2021-07-22 19:09] constantinpape commented on #374
I opened via Fiji:
`Plugins->MoBIE->Open->Open MoBIE project ...`, enter `https://s3.embl.de/i2k-2020/project-bdv-ome-zarr`.

This opens the project, but the image is empty and the log records block misses:

![Screenshot from 2021-07-22 20-43-25](https://user-images.githubusercontent.com/4263537/126695617-1c5f87bf-06ad-4eec-b04e-62b4137af911.png)

[2021-07-22 19:23] KateMoreva commented on #374
Hm, something strange is heppening:
![image](https://user-images.githubusercontent.com/48569608/126696602-377a7516-9e29-494a-a619-2649264df0fe.png)
![image](https://user-images.githubusercontent.com/48569608/126696641-60664885-ff3e-4159-8f8a-a44ba3ae0bbb.png)
![image](https://user-images.githubusercontent.com/48569608/126696658-8d3c137a-0a89-4830-b633-7310745f45f6.png)

[2021-07-22 19:37] constantinpape commented on #374
Ok, I just tried again and now I can see the data... Indeed very weird.
Do you know why it prints all the `dataBlockIndices`? Is this some left over debug output? (I also see it now).
Something else I notice now: the pixel size is not correctly read from the xml metadata and set to "pixel". Instead it should be read from the xml, as for BdvN5.

[2021-07-22 19:43] KateMoreva commented on #374
Yes, i think dataBlockIndices might be left from debaging.
OMEZarrS3Reader is used for reading this file and it has:

``
   public SpimData readKey(String key) throws IOException {
        N5OMEZarrImageLoader.logChunkLoading = true;
        HashMap<String, Integer> axesMap = new HashMap<>();
        N5S3OMEZarrImageLoader imageLoader = new N5S3OMEZarrImageLoader(serviceEndpoint, signingRegion, bu

[2021-07-22 19:53] KateMoreva commented on #374
Ok, thanks, I will work over it. Is there anything else strange apart from pixel size reading? :)

[2021-07-22 20:38] constantinpape commented on #374
No the rest looks good. I guess the issue with the empty data was just some access issues with the s3 bucket, maybe also due to some transient problems with my local connection.

[2021-07-23 06:26] oeway commented on #368
OK, I wrapped it into a dedicate repo called [ImJoy Hybrid Desktop](https://github.com/imjoy-team/imjoy-hybrid-desktop).

In the README, you will find the way for customizing the desktop with an ImJoy plugin file, e.g. you can define a custom launch button which will run a certain command  (e.g. use command line to do fiji update with MoBIE) and also run a startup macro through pyimagej.

Note tha

[2021-07-23 06:38] oeway commented on #368
FYI: There is also a window resize issue I reported here: https://forum.image.sc/t/fiji-crashes-after-the-desktop-being-resized/55577

[2021-07-23 07:39] tischi commented on #368
@oeway Is there something that I should test right now? As I am new to all those technologies following the instructions in the README would take me some time (I would probably need to reserve a day to work on this).

[2021-07-23 08:23] oeway commented on #368
@tischi No worries, maybe you can prepare one or a few different macro files that demonstrate different features of MoBIE, test them with the VM.

Then we can wrap the macro files and insert [here](https://github.com/imjoy-team/imjoy-hybrid-desktop/blob/aa23556b1bed41db99543c4fd8a73cbc53770faf/examples/FijiDesktopDemo.imjoy.html#L46-L52) and present them as launch buttons which will show up when t

[2021-07-23 11:48] tischi commented on #368
I will do so once we released the new version where we have more API to do something interesting.

[2021-07-23 12:30] vzinche opened #375 "Plot doesn't work"
In the new mobie beta clicking P in the main platybrowser menu throws the following error:

![Screenshot from 2021-07-23 14-28-00](https://user-images.githubusercontent.com/32451366/126781806-6f024691-5c43-44a5-ad94-58c52821a1bc.png)

[2021-07-23 12:40] tischi opened #376 "ScatterPlot does not work for String columns"
I think this used to work somewhere, simply mapping the unique strings to integer numbers...
I could check in the plateViewer repo...

[2021-07-23 12:41] #375 closed

[2021-07-23 13:17] tischi commented on #376
fixed via https://github.com/tischi/imagej-utils/commit/320469cf21c8972fae7260a2a36ff827061107b4

[2021-07-23 13:17] #376 closed

[2021-07-23 15:12] K-Meech commented on #371
This seems to be an issue with how a ```spimSource``` is assembled when reading this openOrganelle data. I grab the source names by doing:

[code]

Usually, the spimSource has the same name as the source. But here, for the openorganelle data, the name is 'image 0' - hence the mismatch in the bookmark.

@tischi - would it be possible to match the source name in the spimSource when reading this data

[2021-07-26 07:21] #369 closed

[2021-07-26 07:23] tischi commented on #371
I pass the ball to @KateMoreva who wrote the loader for this data: could we set the source name during loading?

[2021-07-26 09:12] tischi opened #378 "Refactor openBdvOmeZarrS3Data?"
@KateMoreva

I found this code in the MoBIE class:

[code]

Shouldn't this be refactored into some Reader class?

[2021-07-26 09:19] tischi opened #379 "Unused code in N5OMEZarrImageLoader ?"
@KateMoreva

I found this code in `N5OMEZarrImageLoader`

[code]

This will throw an exception when `multiscales==null` which is fine.

But what are you trying to do in `if (n5 instanceof N5S3ZarrReader) {...}`?

[2021-07-26 09:24] tischi opened #380 "class ArrayCreator code duplication?"
@KateMoreva The `ArrayCreator` is now used in two classes, isn't it? Maybe we could pull this out into its own class?

[2021-07-26 09:30] KateMoreva commented on #379
@tischi, I did not touch this part.
I think the thing is that in N5OMEZarrImageLoader we use n5, which is N5Reader. We have 2 "realizations" of N5Reader: N5S3ZarrReader and N5OmeZarrReader. Thus when the data is in s3 we need to set extra info.

[2021-07-26 09:34] tischi opened #381 "image loader refactoring"
Hi @constantinpape and @KateMoreva,

I am having a look at out current code for loading images.

A few thoughts:

1. currently we are using the work `Reader` for two very different things: (a) for the N5-based classes that read data blocks (e.g. `N5S3ZarrReader`) and (b) for classes that take an URI and return a `SpimData` object (e.g. `OMEZarrReader`. This is very confusing. What about we call (b

[2021-07-26 09:37] tischi commented on #379
Yes, that's what I thought, but I think the code will _always_ throw an exception as **there is no** `else` after the `if (n5 instanceof N5S3ZarrReader) {...}` 😉
Or am I misreading the code?

[2021-07-26 09:39] tischi commented on #379
...also I don't get it: what would we do with the `String location`? Currently nothing, isn't it? Maybe this is just some left over from debugging?

[2021-07-26 09:44] KateMoreva commented on #379
I think it is used for making an error message, but as we also `have N5OmeZarrReader` it is empty in some cases.

[2021-07-26 10:28] KateMoreva commented on #381
I highly support bouth points.

[2021-07-26 10:58] constantinpape commented on #381
I don't quite understand point 1, but we can discuss this in the meeting. I am fine with point 2.

[2021-07-26 10:58] tischi commented on #379
OK, I see!

Then I would factor this out into a method:

[code]

and then just:

[code]

I think this would make it easier to understand and also reuse the same idea for other Readers.

[2021-07-26 10:59] tischi commented on #379
@KateMoreva please note that I updated my suggestion above slightly.

[2021-07-26 12:01] KateMoreva commented on #371
@K-Meech, ok, thank you, I'll try to solve the problem.

[2021-07-27 06:26] #358 closed

[2021-07-27 07:37] tischi commented on #370
Dear @tpietzsch @bogovicj,

I am using the [SliderPanelDouble](https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/tools/brightness/SliderPanelDouble.java) from bdv-core to create UI elements. On Ubuntu we observe some mysterious additional numbers displayed just above the sliders. Do you have an idea what that could be due to?

#### Ubuntu (wrong display of additiona

[2021-07-27 10:02] K-Meech commented on #322
I think these two fields: ```showImagesIn3d``` and ```resolution3dView``` are the last two things to be implemented in mobie for the bookmarks.
@tischi Would you have some time to look at showing images in 3d? I think this used to be supported in the old mobie - right?

[2021-07-27 12:26] oeway commented on #368
@tischi Could you provide some instructions to test the 3D viewer? I have a docker image with openGL support.

[2021-07-27 12:43] tischi commented on #368
@oeway

1. Open Fiji
2. [ File > New Script... ]
3. In the script editor: [ Language > IJ1 Macro ]
4. Paste below code and hit the [ Run ] button in the script editor

[code]

<img width="1139" alt="image" src="https://user-images.githubusercontent.com/2157566/127155561-186911c7-8f79-47eb-96a8-bcdbf55ca92c.png">

[2021-07-27 12:49] tischi commented on #363
I have the feeling that if we do "append" then you we do whatever we like during the serialization. Whereas if we do "mutate" that information would be lost. So, maybe the only reason right now to do "mutate" could be visualization performance, but my feeling is that this does not matter for us.

Maybe I just leave the choice for now and you could experiment what you get when you try to serialize?

[2021-07-27 12:54] tischi commented on #352
@K-Meech should I have a look into this? I may have some time this week 😄

[2021-07-27 17:05] K-Meech commented on #363
Sure! I'll give it a go, probably next week :)

[2021-07-27 17:05] K-Meech commented on #352
That would be great - thanks!!

[2021-07-27 18:47] oeway commented on #368
Works now!

![FKefvXbqPv](https://user-images.githubusercontent.com/478667/127210638-85118861-512b-4e55-9bae-ff6cb56684c4.gif)

[2021-07-28 06:13] tischi commented on #368
Super cool @oeway!

[2021-07-28 06:19] tischi opened #383 "omz zarr logging"
@KateMoreva

In the current master there is still quite some logging happening:

[code]

Could you disable this?

[2021-07-28 07:21] tischi commented on #352
@vzinche Do you remember? I think we once had the option to annotate via keyboard shortcuts for each annotation category? Did you ever test this? For some reason we removed it again from the code and I do not remember why... maybe it did not work very well?

[2021-07-28 07:23] vzinche commented on #352
I don't remember discussing or testing this ever

[2021-07-28 07:25] oeway commented on #368
Hi @tischi Could you try it here: [![Binder](https://mybinder.org/badge_logo.svg)](https://alpha.binder.bioimagearchive.org/v2/gh/imjoy-team/imjoy-hybrid-desktop/xpra?urlpath=desktop).

After starting, you will see a terminal, and you need to type `Fiji.app/ImageJ-linux` then Fiji will start. It has MoBIE already installed.

There is some issue with the popup menu position, but it should be fine i

[2021-07-28 08:22] tischi commented on #368
[code]
Should I just try again later?

[2021-07-28 09:35] oeway commented on #368
Hi, that might because of the docker image is a bit big (~2.7GB), but yes, please try to refresh the page, it just worked for me.

[2021-07-28 10:51] tischi commented on #368
It started now, but then I wanted to start Fiji from the terminal I got this:

<img width="600" alt="image" src="https://user-images.githubusercontent.com/2157566/127310457-8effba5b-3f2e-4a09-91ec-6e32774766ef.png">

Does that mean it lost the server connection?

[2021-07-28 11:03] oeway commented on #368
That's wired because you are closer to the server  (embassy cloud), you should have better connection than me. Well, please give it another try, if you see a page like this, you can simply reload the page.

[2021-07-28 11:55] martinschorb opened #385 "Optimize zoom level for high-resolution sources"
Hi,

we often experience interpolation artifacts when looking at high-resolution EM data.
This is especially obvious when browsing reconstructed tomograms.

I would love to have a functionality that would adjust the display zoom factor such that the interpolation would use even ratios (1:n) instead of BDV's fully flexible interpolation scales.

Example: I choose a source, align the display with Sh

[2021-07-28 12:18] tischi commented on #368
Yet another error:
[code]
I will keep trying...

[2021-07-28 13:32] oeway commented on #368
@tischi There is some issue with the bioimage archive binder instance, but the official binder instance should work too, could give it a try with this link instead: [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/imjoy-team/imjoy-hybrid-desktop/xpra?urlpath=desktop).

[2021-07-28 15:48] tischi commented on #368
Works! Almost...

If you just type "platy" in the Fiji search bar you can play around yourself:

<img width="839" alt="image" src="https://user-images.githubusercontent.com/2157566/127353576-38484131-0f1c-4de6-a184-84ad553cf3ed.png">

A nice example is:

<img width="540" alt="image" src="https://user-images.githubusercontent.com/2157566/127353803-19e5f6b6-59b6-4590-ab9f-e1451a2013be.png">

However

[2021-07-28 15:50] tischi commented on #368
How many CPU does this computer have?

[2021-07-28 15:52] tischi commented on #368
OK, Fiji was again just "Killed" while I was doing something else, unrelated to the 3D Viewer! Is there a way to find out why it is being Killed?

[2021-07-28 16:22] oeway commented on #368
It has only 1 CPU I think.

You should see some message in the terminal after it’s being killed. You
can select and right click to copy the message.

Do you know how to reproduce that crash?

On Wed 28 Jul 2021 at 17:52, Christian Tischer ***@***.***>
wrote:

[2021-07-28 19:27] ctr26 commented on #368
I'll hopefully have the cluster online tomorrow, it's an embassy networking thing I think.

Each binder instance has 4 cores I believe. Not that they ever get used.
On 28 Jul 2021, 17:23 +0100, Wei Ouyang ***@***.***>, wrote:

[2021-07-28 21:12] KateMoreva commented on #383
Solved in https://github.com/mobie/mobie-viewer-fiji/pull/386

[2021-07-28 21:16] KateMoreva commented on #371
Should be solved in https://github.com/mobie/mobie-viewer-fiji/pull/386

[2021-07-29 06:35] tischi commented on #368
There is no message but "Killed".

No, I was just randomly playing around in MoBIE. You could try the same.

[2021-07-29 08:11] K-Meech commented on #371
Great - thanks @KateMoreva!

[2021-07-29 09:02] tischi opened #387 "shiftToOrigin in cropTransform"
@constantinpape @martinschorb

Currently when `shiftToOrigin` is set to true in the `cropTransform` it shifts the sources such that the **minimum** of their estimated bounding box is located at `(0,0,0)`. I am thinking now whether we should change this such that the **center** of the bounding box is located at `(0,0,0)`; I think especially for 3D cropped sources with a different size in z this wou

[2021-07-29 09:34] tischi opened #388 "Additional shiftToOrigin field for sourceTransform grid or ShiftToOriginTransformation"
@constantinpape @martinschorb

For making a grid in x&y, it is nice if the sources are optionally centered around zero along the z-dimension.

I see two options for this:

1. Add a `shiftToOrigin` flag to the gridSourceTransformer
2. Add another transformation option, called `shiftToOriginTransformer`

What do you think? Option 1 would keep the JSON smaller, thus maybe better?

[2021-07-30 07:35] constantinpape commented on #388
I guess this is related to https://github.com/mobie/mobie-utils-python/issues/29#issuecomment-888943730?
I would vote for option 1 as well to keep the json smaller.

[2021-07-30 08:00] constantinpape commented on #388
I can update the tomo project and add `shiftToOrigin` to the grid transform later.
I will ping you when it's there.

[2021-07-30 08:10] tischi commented on #388
ok, thanks! let's do it like this then.

[2021-07-30 09:04] constantinpape commented on #388
Ok, looking at this again I am not sure if `shiftToOrigin` is really the correct term here.
I would rather call this `center`. What do you think, @tischi?

[2021-07-30 09:07] martinschorb commented on #388
Or something like `centeredOrigin`

[2021-07-30 09:10] constantinpape commented on #388
Yes, that also fits, but I think rather `centerOrigin` or `centerAtOrigin`.

[2021-07-30 11:07] tischi commented on #388
`centerAtOrigin` sounds nice!
could we also change this in the crop transformation?

[2021-07-30 11:08] constantinpape commented on #388
Ok.

Sure, I will change it there as well.

[2021-07-30 11:16] martinschorb opened #389 "Open MoBIE project Expert mode issues in spec-v2"
Hi,

Is the expert mode already fully supported in spec-v2?

I try to open a local project with image data from S3 and end up with:

[code]

Note that this is a new project, so it could well be that there is an issue with the data format as well.

[2021-07-30 11:21] martinschorb commented on #389
What Do I need to put for "image location" there? Is it the S3 path? I just tried with the covid-tomo-datasets and run into the same error.

[2021-07-30 11:26] constantinpape commented on #388
Done. I have not updated anything in the tomo project yet though.
 @martinschorb you can pass `center_at_origin=True/False` to `get_grid_view`, `get_grid_source_transform` and `get_crop_source_transform` now. Please give it a try and let me know if you run into any issues.

[2021-07-30 11:29] constantinpape commented on #389
This probably doesn't work with the new MoBIE version yet, but we def. want to support this for test purposes.
cc @tischi

[2021-07-30 13:17] K-Meech opened #390 "Support opening from private github repos with tokens"
It would be useful to support opening mobie projects from private github repos.
We could re-use the github tokens code we use for writing bookmarks to github.

[2021-07-30 13:31] tischi commented on #389
I guess that will fix it?
https://github.com/mobie/mobie-viewer-fiji/commit/038428c8ff14172b2c6fbff51017651d5b5bf80e

[2021-07-30 13:32] #387 closed

[2021-07-30 13:32] tischi commented on #388
should I change it in the Java code and update MoBIE-beta or should I wait?

[2021-07-30 13:46] tischi commented on #388
https://github.com/mobie/mobie-viewer-fiji/pull/391

[2021-07-30 13:49] tischi commented on #388
What should the default values be? Maybe `false`?

`CropSourceTransformer: boolean centerAtOrigin = false;`
`GridSourceTransformer: boolean centerAtOrigin = false;`

[2021-07-30 14:00] constantinpape commented on #388
I think you can update this already, it's not used anywhere except the new tomo project.

For crop I would say that it should be true.

[2021-07-30 14:03] tischi commented on #388
OK, I merged it.
@martinschorb let me know when you want to test it then I can update it in MoBIE-beta.

[2021-07-30 14:22] K-Meech commented on #360
Ok - so all the structure issues we had can be solved with different flags to ```bioformats2raw```. But, there are no options to go directly from an imageplus. (which means everything has to be in one file, i.e. no image sequences etc.)

As the amount of code to convert isn't so big (see https://github.com/glencoesoftware/bioformats2raw/issues/110#issuecomment-887563768 ), I think it'd be worth tr

[2021-07-30 15:14] tischi commented on #360
I have nothing for writing ZARR, I think the writer just sits there because we copied all the classes related to N5 and ZARR.

...go directly from `RandomAccessibleInterval` would also be fine as `ImageJFunctions.wrap` could convert between the two.

I would ask on the forum, although probably the OME people, which are currently on holidays, are probably the only one that know. But maybe they are

[2021-07-30 15:35] martinschorb commented on #388
Whenever it fits, I will give it a go.

[2021-07-30 15:45] tischi commented on #388
I have uploaded it to MoBIE-beta.

[2021-08-02 15:29] martinschorb opened #392 "git default branch name has changed"
Hi,

github has changed the default branch name to "main".

However, the default branch in MoBIE is still "master".

This means new github repositories are not opened with the standard "Open MoBIE Project".

I suggest moving all repositories to "main".
This however  is creating trouble since we want to stay backwards compatible for MoBIE v1 viewers...
We could keep a "master" branch as a copy for

[2021-08-02 15:40] martinschorb opened #393 "hide "dataset" selector when only one dataset exists"
Hi,

the dataset selector is distracting when there is anyway only one.
Could this UI element be hidden in this case?

[2021-08-02 15:42] constantinpape commented on #392
Well, it updates it when creating it properly through github, but not when just creating a repository without any files and then pushing a local repo (this is my usual way of doing this).
So if it's possible we should look for both a "main" and a "master" branch.
If that's too much effort, I'm fine with switching to "main" as a default.

The old and new viewer will be incompatible in any case, so

[2021-08-02 15:42] martinschorb opened #394 "default location meaningful for dataset"
Hi,

the default "location" that MoBIE shows upon launch should make sense in context of the active dataset.
So, when a dataset is loaded, the default location should be  optionally specified in the `dataset.json` or if no value is present there fall back to the center of the current image.

[2021-08-02 15:46] martinschorb commented on #392
that will probably soon depend on the version of `git` used.
https://git-scm.com/docs/git-init

[2021-08-02 15:52] constantinpape commented on #394
This is fully specified by the view with name `default`. So you can set whatever default location you like with that view.

[2021-08-02 15:58] martinschorb commented on #394
Where does that arbitrary value come from if no default location is specified in the view?
In my view, either that default location should be mandatory in a view or if it is not provided, the value shown in the viewer should automatically be set to something useful.

[2021-08-02 16:04] constantinpape commented on #394
There is some BDV internal logic to compute it. If you are not happy with the result you need to set it in the default view via the `viewerTransform`.

No, we don't want the `viewerTransform` to be mandatory, there are many cases where we don't want it to be specified in a view.

In most cases the default view computed by bdv is very reasonable. But it's a heuristic, so it can only do so much. So,

[2021-08-02 16:08] martinschorb commented on #394
Note that I am not referring to "position", this is about the "location" UI element that in my case shows
[code]
as default value.
This makes no sense for the current dataset/view.

I could not find "location" anywhere in either the dataset schema or the support functions.
(except for `"tableDataLocation"` which is something different)

[2021-08-02 16:11] constantinpape commented on #394
Ah ok, sorry I forgot that even existed. Yes, that is completely unrelated to the default view. I don't know where the default values for this come from; we don't have anything for it right now in the json. I agree that these values should either be something sensible or maybe we also don't need a default for that.

@tischi where are the defaults for the "location" UI element coming from right now

[2021-08-02 17:00] KateMoreva commented on #374
@constantinpape , sholud it be like that?

![image](https://user-images.githubusercontent.com/48569608/127897487-b2a27167-ef3a-4a6e-983b-35d0563d974c.png)

[2021-08-02 17:12] KateMoreva commented on #374
Does ome.zar (non bdv) have units? I could not find one in examples.

[2021-08-02 19:16] KateMoreva commented on #374
@constantinpape, please check https://github.com/mobie/mobie-viewer-fiji/pull/386, bdv.ome.zarr should have size according to it's   <voxelSize> in xml.

[2021-08-02 19:41] constantinpape commented on #374
Yes, this looks good.

No,ome.zarr does not have units yet; support for this is still work in progress. (This is one of the reasons we are currently supporting the bdv.ome.zarr version.)

[2021-08-03 05:51] tischi commented on #394
I think the default values still point to the "right eye" of the platy 🤣
I have an emotionally very hard time changing this as this is such a classic..... 😫

[2021-08-03 06:10] tischi commented on #392
I think also given https://github.com/mobie/bigdataviewer-imageloader/issues/14 it feels like changing master to main is what we should do?!
I would not worry too much about backwards compatibility because normal users anyway don't specify the branch when opening a MoBIE project via Fiji.

[2021-08-03 08:36] K-Meech commented on #360
I'll ask in the forum, and see if there are any suggestions :)

[2021-08-03 11:00] constantinpape commented on #392
Changing to `main` is fine with me.

[2021-08-03 12:18] tischi commented on #383
@KateMoreva Has this been merged into master?
I am still seeing:
[code]

[2021-08-04 13:31] K-Meech commented on #360
@constantinpape @KateMoreva I'm starting to put together a draft of an ome-zarr writer. Which version of the ome-zarr readers should I use? The ones in ```mobie``` or the ones in ```bigdataviewer-imageloader```?

[2021-08-04 13:41] KateMoreva commented on #360
I think it is better to use `mobile` reader for now. They would be used as the dependency once we solve the problem with the CI in  `bigdataviewer-imageloader` (hopefully today).

[2021-08-04 15:59] KateMoreva commented on #360
I have the same issue. New show() method implementation: https://github.com/bigdataviewer/bigdataviewer-playground/pull/238/files.

[2021-08-04 16:04] K-Meech commented on #360
@KateMoreva I found a solution for this - you have to build locally the ```addSourcesWithoutDisplay``` branch of this repo: https://github.com/bigdataviewer/bigdataviewer-playground/tree/addSourcesWithoutDisplay

[2021-08-05 08:57] K-Meech opened #397 "Sources are added inactive/invisible in latest mobie beta"
On the latest mobie beta, new sources are added inactive/invisible.
e.g. open the spec-v2 branch of the platybrowser, the raw data is added, but invisible. Manually toggling the 'active' checkbox in the bdv source settings shows it again.

[2021-08-05 09:33] tischi opened #398 "Merge grid sources into one source"
@constantinpape @K-Meech

I am planning to look into merging many sources from a grid view into one source on the Java side. The hope is that this would improve the performance of the visualization if there are many (>100) sources in a grid.

I think, in the MoBIE UI this would make no difference, because all the display settings are anyway joined for all the sources in a grid view display.

On th

[2021-08-05 09:38] constantinpape commented on #397
@tischi I assume the problem is that you set the `visible` default to false, but it should be true.

[2021-08-05 09:43] constantinpape commented on #398
Do you want to add this to the spec as well? It feels a bit like a technical detail, but if you want we can add it.
But maybe it's also ok to just merge the grid sources by default?!

Yes!

[2021-08-05 09:46] tischi commented on #398
Maybe some people want to manually move around individual sources in a grid view, I would thus make it optional.

[2021-08-05 09:47] constantinpape commented on #398
Ok, that's a good point.
Then let's see how you succeed in merging the sources and then we can think about how to add this to the spec.

[2021-08-05 09:48] tischi commented on #397
not sure what's going on:

[code]

@K-Meech maybe you could debug into it when you find some time?

[2021-08-05 09:48] tischi commented on #398
Yeah, looking forward to some serious imglib2 coding 😄 probably will have some time tomorrow for this.

[2021-08-05 09:54] tischi commented on #360
Amazing detective work @KateMoreva 😄 !
(ping @K-Meech if you run into the same ⬆️ issue).
Yes, sorry, until (hopefully) @NicoKiaru merges this, we need to do this.

[2021-08-05 10:10] K-Meech commented on #397
@tischi I'll take a look :)

[2021-08-05 10:54] #397 closed

[2021-08-05 14:41] K-Meech commented on #360
@constantinpape @KateMoreva Are there any examples of bdv ome-zarr files? With the xml? Thanks!

[2021-08-05 14:51] KateMoreva commented on #360
Bdv.ome.zarr (with XML) example is here: https://s3.embl.de/i2k-2020/project-bdv-ome-zarr.

[2021-08-05 15:00] K-Meech commented on #360
Thanks @KateMoreva ! It errors when I try to open it though.

I'm opening it like:
```new MoBIE("https://s3.embl.de/i2k-2020/project-bdv-ome-zarr", MoBIESettings.settings().gitProjectBranch( "master" ).imageDataFormat(ImageDataFormat.BdvOmeZarr)); ```

And this is the error:
[code]

[2021-08-05 15:56] constantinpape commented on #360
I think you need to use `ImageDataForma.BdvOmeZarrS3` to load from s3.

[2021-08-05 16:02] K-Meech commented on #360
That was it - thanks @constantinpape !

Another point - I'm modifying the zarr writer at the moment, and I'm wondering how is best to deal with multiple channels or timepoints? i.e. would you ever want a chunksize larger than 1 for these axes? And if so, is this supported by bigdataviewer?

The current ZarrWriter implementation that I'm modifying (https://github.com/mobie/mobie-viewer-fiji/blob/ma

[2021-08-05 16:07] tischi opened #400 "Loading tables for HTM is slow"
@constantinpape

Loading all the tables for the HTM plate takes a really long time...

Could we, if only for testing, check how long it would take to just load one big table with the same amount of rows? maybe just make a bookmark with such a table?
I am not sure whether our current spec would allow to store, e.g., all the nucleus features of all images in one table?

[2021-08-05 16:09] tischi opened #401 "ome zarr logging"
@KateMoreva

There still is some logging left:
[code]

Could we also remove this?

[2021-08-05 16:20] KateMoreva commented on #401
It was before me, though you need it.

[2021-08-05 16:23] tischi commented on #398
@constantinpape I disabled the multi-box overlay (the source overview in the top left corner of BDV). I feel that makes it faster to interact. If you happen to be at EMBL, could you try? How is it now compared with the plateviewer? I guess still less responsive?

[2021-08-05 16:26] KateMoreva commented on #401
Done https://github.com/mobie/mobie-viewer-fiji/pull/402

[2021-08-05 16:52] tischi commented on #400
@constantinpape

Along those lines, could you please make bookmarks for the two wells and the full plate that only load the images without the tables? Such that I can work on the performance of those two issues separately? Thanks!

[2021-08-05 18:31] ctrueden commented on #368
Try launching Fiji in debug mode?

https://imagej.net/learn/troubleshooting#launching-imagej-from-the-console

[2021-08-05 18:54] constantinpape commented on #360
Indeed, I think chunksize bigger than 1 doesn't make much sense for our use-cases.

I think that it would work, but would not be very efficient, since bdv only ever accesses a single channel or timepoint and multiple would need to be loaded with chunk-size > 1.

[2021-08-05 19:46] ctr26 commented on #368
I've accidentally flooded letsencrypy so the new url for binderhub is ctr26.duckdns.org for a week

[2021-08-05 20:58] constantinpape commented on #400
I think we currently don't really support this in the spec, but it's easy to create one for testing; I just need to add another column with the source name. How should that column be called?

Ok, I will add it tomorrow together with the big table.

[2021-08-05 20:59] constantinpape commented on #398
I will check it out tomorrow. Though I will not be at EMBL, so I can only properly test it next week.

[2021-08-06 06:33] tischi opened #403 "Rename ImageSource and SegmentationSource"
Hi @K-Meech,

I think maybe, to avoid confusion, we should rename the `ImageSource` and the `SegmentationSource` on the Java side, because everything with `Source` usually means to be an actual BDV `Source`...

<img width="206" alt="image" src="https://user-images.githubusercontent.com/2157566/128466578-dcb38d64-8226-44d5-8ffe-4551ad22ab8d.png">

But I am now sure what other names would be good an

[2021-08-06 06:56] tischi commented on #398
On the other hand also good to know how fast it is from home, because, as far as I remember, the plateViewer also worked OK from home, didn't it?

Another thing: There is an issue with the `GridSource` idea: according to our current spec the `sources = Map< gridId, List sourcenames >` can contain sources of multiple channels that would be all transformed together. A BDV Source however can only con

[2021-08-06 07:01] tischi commented on #398
...I tried opening https://github.com/mobie/covid-tomo-datasets but got errors, maybe we don't have this yet with the current spec?

[2021-08-06 07:02] #401 closed

[2021-08-06 07:12] tischi opened #404 "grid view position order"
I am fine with yx order, even though I find xy more intuitive.
@K-Meech as a Java and Python person what do you think?

[2021-08-06 07:59] tischi commented on #398
I think we should maybe make a new transform:

[code]

Where there is simply one source per position.

This could be used to merge site sources into one well => one "well source"; and then for creating the plate view one can use the same logic, but refer to the "well sources".

I think this would also work for the source annotation views as one can refer to, e.g. the created well sources for the w

[2021-08-06 08:03] tischi commented on #398
To get started I would develop this in parallel.
I think two bookmarks for the HTM data would be good

- bm1: just all the nuclei (no tables) the way we did it until now
- bm2: just all the nuclei using a nested gridMerge transform

Then I can develop the gridMerge transform and we can see if it really is more responsive before we change everything else.

[2021-08-06 08:17] K-Meech commented on #360
Ok great! I'll restrict to a chunksize of 1 for time/channels.

[2021-08-06 08:26] K-Meech commented on #404
I would also find xy more intuitive. But yx is also fine - we just have to make sure we're explicit in the docs about this

[2021-08-06 08:35] K-Meech commented on #403
I think we'd have to rename the fields in the json too, if we wanted to change e.g. https://github.com/mobie/mobie.github.io/blob/master/schema/source.schema.json#L135

For now, I think it's easiest to leave them as they are... I'm also not sure what names would be good here.

[2021-08-06 11:49] constantinpape commented on #398
TODO for me: bookmarks with:
- full plate w/ new (merged) + old spec, no tables (= 2 bookmarks)
- 2 wells w/ new + old spec, no tables (= 2 bookmarks)
- make one of the small bms default

[2021-08-06 14:12] constantinpape commented on #398
@tischi I updated the covid-if project and we have the 4 new bookmarks now:
- `default`: the 2 wells with the normal grid trafo
- `default_merged`: the 2 wells with merged grid trafo
- `full`: all wells with normal grid trafo
- `full_merged`: all wells with merged grid trafo

I called the merged trafo "gridMerged".

[2021-08-06 19:14] ctrueden commented on #368
I think the issue is that Fiji (BDV, probably) is using all the swap space, and the kernel kills the process due to resource starvation.

See: https://forum.image.sc/t/fiji-crashes-and-print-killed/56107/6

Solution: Launch Fiji with `Fiji.app/ImageJ-linux64 --mem 512m` (or `1g` or some other reasonably small value).

[2021-08-06 19:39] oeway commented on #368
Wow, that's wonder, I have stuck in this issue for many days. Huge thanks to you @ctrueden !

[2021-08-07 11:26] K-Meech commented on #360
Alright - I have a working draft of the ome.zarr writer!! I need to test/tidy up a few parts early next week, but should be a PR soon :)

So @tischi @constantinpape @KateMoreva - if you're planning to move a bunch of stuff from the ```mobie-viewer-fiji``` repo to the ```bigdataviewer-imageloader``` repo, maybe wait until this is merged too.

[2021-08-09 07:27] KateMoreva commented on #360
Ok, thank you!

P. S.
MoBIE version with the dependency on the `bigdataviewer-imageloader ` repo is here https://github.com/mobie/mobie-viewer-fiji/pull/405.

[2021-08-09 08:06] constantinpape commented on #400
Just to keep track of this: we decided to first optimize the image data loading, see #389, and then work on the tables.

[2021-08-09 08:07] constantinpape commented on #404
Ok, @tischi let's see if you get the correct grid layout for the covid plate if you intepret the order as yx before we decide on this.

[2021-08-09 08:22] constantinpape commented on #374
This is all fixed now.

[2021-08-09 08:22] #374 closed

[2021-08-09 08:38] K-Meech commented on #360
@constantinpape @KateMoreva Could you send me an example xml file from:  https://s3.embl.de/i2k-2020/project-bdv-ome-zarr ?  I'm trying to match the xml format for writing BdvOmeZarr. Thanks!

[2021-08-09 08:41] constantinpape commented on #360
@K-Meech you can download the whole project here: https://oc.embl.de/index.php/s/KLTaSgX1c4zgnHP

[2021-08-09 09:17] K-Meech commented on #360
Perfect - thanks!

[2021-08-09 11:32] jhennies opened #406 "Again problem with segmentation without table"
Hi @tischi

I just updated the mobie-beta and now the segmentations without table do not work properly.

You can test it with the test dataset I supplied for earlier issues found here:
/g/emcf/hennies/for_constantin/mobie_no_table_test

When adding the seg-test segmentation I get this error:

[code]

Alongside, the segmentation is added to the viewer but does not appear in the MoBIE window as an a

[2021-08-09 11:48] jhennies opened #407 "Changing opacity for segmentations"
On the earlier version of Mobie one could change the opacity of a segmentation in Settings -> brightness & color
in Mobie 2.0.0 the segmentations do not appear here anymore.

I would be very useful to be able to change this for example when showing an organelle segmentation on top of a cell segmentation.
For example to generate a very faint cell segmentation overlay with a more prominent mitochond

[2021-08-09 11:50] constantinpape commented on #407
You should see a button `O` next to the segmentation name in the MoBIE UI, which can be used to change the opacity.

(I am closing this, please reopen if this button is not there or is not working for you.)

[2021-08-09 11:50] #407 closed

[2021-08-09 11:56] jhennies commented on #407
Thanks @constantinpape, I missed this button :)

[2021-08-09 12:47] K-Meech commented on #360
PR here: https://github.com/mobie/mobie-viewer-fiji/pull/408

[2021-08-09 13:41] #406 closed

[2021-08-10 09:06] tischi commented on #398
@constantinpape Could you please add bookmarks with mergedGrid for **only the nuclei**? It's just easier to debug for me. Thanks!

[2021-08-10 09:55] tischi commented on #398
It is working and _much_ more responsive 🥳
<img width="564" alt="image" src="https://user-images.githubusercontent.com/2157566/128847090-fc4f5448-4640-465a-9f58-f1fd290f3e01.png">

[2021-08-10 10:39] constantinpape commented on #398
Awesome! Do you still need the view with only nuclei?

Also let me know when you have updated MoBIE beta, then I will give it a try.

[2021-08-10 11:23] tischi commented on #398
No, it takes a while initially to load everything but then it is super responsive.

yes, I will...

[2021-08-10 11:42] tischi commented on #398
Ok, updated, please try!

[2021-08-10 12:33] constantinpape commented on #398
Awesome, this is indeed much much better. It feels even smoother than the plateviewer (after the inital loading).

One minor thing I noticed is that there are some jumps when switching sources on and off (but that's not a big deal, just wanted to keep track of this):

https://user-images.githubusercontent.com/4263537/128867260-be058252-0c0e-485d-adab-45a30a7da8f5.mp4

[2021-08-10 13:09] tischi commented on #398
Ah, maybe this is again this issue that different resolution layers are not exactly on top of each other...
I remember something like this in the plateviewer as well. ..

[2021-08-10 14:25] constantinpape commented on #398
Ok, quick discussion on how to proceed:
- we rename "mergedGrid -> grid", "grid -> transformGrid"; maybe we completely remove "transformGrid" in the future; but for now we leave it in
- I will update the current project and add views with site and well table (`..._with_table`) and views with segmentations (`..._with_segmentation`)

[2021-08-10 14:35] constantinpape commented on #398
@tischi: I think our new grid transform also needs the `centerAtOrigin` field

[2021-08-10 14:38] constantinpape commented on #398
and `timepoints` ;)

[2021-08-10 15:12] tischi commented on #398
Is does have it already

Yes, I omitted this until now...

[2021-08-10 16:08] tischi opened #409 "Transformed sources: names and visibility"
@constantinpape

I am a bit confused now. Do we actually properly specify which sources to display and to keep for further processing?

For example in the CropTransform: Let's say there is one input source and one cropped output source with a `sourceNameAfterTransform`. Right now, I am removing the input source from the list of sources. This has two consequences: (i) I think one cannot crop anothe

[2021-08-10 16:34] constantinpape commented on #398
@tischi I updated the project now and there are 8 grid views for all possible combinations of "small" vs. "full", "grid" vs. "transformed grid", "no image tables" vs. "image tables", "no segmentations" vs. "segmentations".
I hope that the view names are telling enough.
Let me know if you run into any issues.

[2021-08-11 10:27] constantinpape commented on #409
Yes, I think this makes sense. Just for context, I think our troubles here arise because we did not fully think about the `sourceNamesAfterTransform` or  `mergedSourceName` when we designed the view concept; i.e. we assumed that there was no need to ever change source names when applying transforms.

I think the solution you propose also make sense, just to recap:
- first, we apply the `sourceTran

[2021-08-11 11:29] tischi commented on #409
What do you mean by "add all sources"?

Let's say there are some `sourceDisplays`. Each of them will have a list of sources that it wants to display. These sources could either be "raw sources" or "transformed sources". "Raw sources" can just be loaded and the "transformed sources" will be specified by the source transforms of that `view`.

I think the issue is when to load all the sources that ar

[2021-08-11 11:59] constantinpape commented on #409
Add all sources specified in the `sourceTransforms` to the active (or however you want to call it) sources for this view.

I would also prefer option 1.

Ok, that's fine.

I don't really see why transforms would always need to change the source names. And I don't see the ambiguity whether a source is raw or transformed. As simple python pseudocode:
[code]

[2021-08-11 15:52] tischi commented on #409
Note to self I made a branch to work on this: https://github.com/mobie/mobie-viewer-fiji/tree/sourcesAndTransforms

- Implement a `List< SourceName > = fetchSources( view )`
  - look into all displays and transforms and aggregate all `List< Source >`
  - then open all all the ones that are raw sources (the list may also contain transformed sources which first need to be created, s.b.)
- Implement

[2021-08-11 20:08] constantinpape commented on #409
@tischi I updated the views in the covid project as discussed

[2021-08-11 23:16] tischi commented on #409
@constantinpape

Do I remember right that:

1. we wanted to rename the grid transform to transformedGrid? and the mergedGrid to just grid?
2. we can change the fields of the transformedGrid to also just be lists without the gridIds?

[2021-08-12 07:52] #371 closed

[2021-08-12 07:59] K-Meech commented on #314
This should be fixed in the current master

[2021-08-12 08:00] K-Meech commented on #309
If you still have issues, let me know @yanschwab

[2021-08-12 08:00] #309 closed

[2021-08-12 08:02] #284 closed

[2021-08-12 08:03] K-Meech commented on #225
bookmark saving works now

[2021-08-12 08:03] #225 closed

[2021-08-12 08:05] K-Meech commented on #193
This is done in the current master

[2021-08-12 08:05] #193 closed

[2021-08-12 08:39] constantinpape commented on #404
I suggest we fix this as "yx" position order; I will update the description in the spec accordingly. Feel free to repoen this if there's still any need for discussion.

[2021-08-12 08:39] #404 closed

[2021-08-12 08:43] constantinpape commented on #388
The relevant trafos have `centerAtOrigin` now.

[2021-08-12 08:43] #388 closed

[2021-08-12 08:46] constantinpape commented on #381
This is being implemented in https://github.com/mobie/mobie-viewer-fiji/pull/405 and the related PR in `bigdataviewer-imageloaders`. I will close this issue already to keep discussion in the PRs.

[2021-08-12 08:46] #381 closed

[2021-08-12 08:51] constantinpape commented on #378
cc @KateMoreva
not sure if this is still relevant after your current refactoring, just wanted to make you aware of this issue.

[2021-08-12 08:54] #365 closed

[2021-08-12 08:54] KateMoreva commented on #378
Thank you, I am aware of this issue, it is refactored, but pr with it should wait until MoBIE version with the dependency is used (probably today).

[2021-08-12 08:55] constantinpape commented on #363
@K-Meech what's the status on this? Did you give it a try?

[2021-08-12 08:57] constantinpape commented on #360
#408 is merged, so I think we can close this one.

[2021-08-12 08:57] #360 closed

[2021-08-12 09:00] K-Meech commented on #363
I haven't tried this yet! I might have some time tomorrow, otherwise it will have to be after my week off :)

[2021-08-12 09:06] constantinpape commented on #354
It works for me on latest MoBIE-beta, so I think the issue is fixed:

![Screenshot from 2021-08-12 11-05-34](https://user-images.githubusercontent.com/4263537/129170107-2e9885bc-b282-4ce9-814a-f42259667d36.png)

[2021-08-12 09:06] #354 closed

[2021-08-12 09:08] constantinpape commented on #343
I think this one is fairly high priority because we can use it for some of the planned figures. @K-Meech is this something you could look into?

[2021-08-12 09:12] constantinpape commented on #320
Related to #409. @tischi can we close this issue and discuss everything related to this in #409?

[2021-08-12 09:14] constantinpape commented on #317
This is fixed.

[2021-08-12 09:14] #317 closed

[2021-08-12 09:17] constantinpape commented on #303
Just a quick update on this: we will add CI for the image loaders / writers in `bigdataviewer-imageloaders`. I think it would still be good to add CI here that builds MoBIE.

[2021-08-12 09:22] constantinpape commented on #285
We have a first test project at https://github.com/mobie/open-organelle-test that loads `jrc-hela2` rawdata + an organelle prediction.
Waiting for feedback from @bogovicj to see how to continue with this.

[2021-08-12 09:28] constantinpape commented on #268
This is working now.

[2021-08-12 09:28] #268 closed

[2021-08-12 09:36] K-Meech commented on #273
Yes - this works now.

[2021-08-12 09:36] #273 closed

[2021-08-12 09:38] constantinpape opened #410 "Volume viewer not working"
On the current MoBIE-beta the volume viewer is not working for me. When I try to show a segmented object in it it fails with:
[code]

[2021-08-12 09:38] constantinpape commented on #224
This is all implemented.

[2021-08-12 09:38] #224 closed

[2021-08-12 09:42] constantinpape commented on #199
I am pretty sure this is done; reopen if there is still something that needs to be done here.

[2021-08-12 09:42] #199 closed

[2021-08-12 09:44] constantinpape commented on #192
The current logic for saving views implements all we discussed here.

[2021-08-12 09:44] #192 closed

[2021-08-12 09:48] constantinpape commented on #179
Is this still an issue @K-Meech?

[2021-08-12 09:50] constantinpape commented on #178
I think the current error message `java.lang.UnsupportedOperationException: Could not find multiscales at service endpoint: https://s3.embl.de; bucket: i2k-2020; container path: em-raw.ome.za; path: ; attribute: multiscales` is good.

[2021-08-12 09:51] constantinpape commented on #177
This is described in https://github.com/mobie/mobie-viewer-fiji/blob/master/MOBIE-BETA.md now.

[2021-08-12 09:51] #177 closed

[2021-08-12 09:52] constantinpape commented on #161
We have `bigdataviewer-imageloader` for this now.

[2021-08-12 09:52] #161 closed

[2021-08-12 09:53] constantinpape commented on #158
This is all implemented now.

[2021-08-12 09:53] #158 closed

[2021-08-12 09:55] constantinpape commented on #121
I think this one is outdated, I don't see the flicker in current MoBIE-beta.

[2021-08-12 09:55] #121 closed

[2021-08-12 09:56] constantinpape commented on #116
Related to #292

[2021-08-12 10:00] constantinpape commented on #111
The segmentation opacity can be changed in the UI now, which fixes this issue.

[2021-08-12 10:00] #111 closed

[2021-08-12 10:02] constantinpape commented on #101
Closing in favor of #243

[2021-08-12 10:02] #101 closed

[2021-08-12 10:07] constantinpape commented on #76
Thanks to @K-Meech we have the functionality "Select->Select equal to" now, which can be used for exactly this use case :).

[2021-08-12 10:07] #76 closed

[2021-08-12 10:07] constantinpape commented on #63
Related to #292

[2021-08-12 10:22] constantinpape commented on #237
There's a lot to unpack in this issue. AFAICT the only relevant thing here is support for BigVolumeViewer; which should maybe be moved into a separate issue.

[2021-08-12 10:26] constantinpape commented on #394
This should def. be updated, and I would classify the current behaviour as a bug.
I see three possible options
1. use the default position computed by BDV
2. just leave this empty by default
3. add an (optional) field to `dataset.json` to specify this.

[2021-08-12 10:27] constantinpape commented on #392
We will change everything to `main` before releasing MoBIE2.

[2021-08-12 10:33] constantinpape commented on #220
The first point is fixed, but Removing and Renaming would still be a nice feature.

[2021-08-12 10:37] K-Meech commented on #179
The chunk size is now restricted to 1 in the z axis. The downsampling is not restricted to 1 though (this was discussed a lot in the issue linked above - and is probably necessary to make it display nicely when viewed in 3D)

It still writes quite a few levels, but it is **much** faster now - so I don't think it is an issue anymore.

[2021-08-12 10:37] #179 closed

[2021-08-12 10:38] constantinpape commented on #362
To make this more concrete: the idea here is to add some UI functionality to create grid views of multiple sources on-the-fly.
I think a good first version of this functionality would be:
- Add a simple menu where a wildcard pattern can be entered, e.g. `nuclei_*`, to select the sources for the grid view. (This UI can be improved later).
- Create the corresponding view by specifying the correct `g

[2021-08-12 10:46] K-Meech opened #411 "Add support for interactive registration"
It would be great to support different registration methods in MoBIE e.g.
- manual registration
- bigwarp
- elastix

[2021-08-12 10:50] K-Meech commented on #194
This is gone in MoBIE, but it's still in imagej-utils: https://github.com/tischi/imagej-utils/blob/master/src/main/java/de/embl/cba/bdv/utils/sources/Metadata.java @tischi - Do we need to keep this for compatibility with other projects?

[2021-08-12 10:53] K-Meech opened #412 "Split up affine fields in project creator"
It would be useful to split up the affine transform into more understandable parts e.g.:
- x/y/z scale
- x/y/z translation
- x/y/x rotation...

[2021-08-12 10:55] K-Meech commented on #187
I split the one remaining issue off here: https://github.com/mobie/mobie-viewer-fiji/issues/412

[2021-08-12 10:55] #187 closed

[2021-08-12 10:56] K-Meech commented on #186
I never got around to trying this. @tischi - should I still look into this?

[2021-08-12 11:05] KateMoreva commented on #171
Done. If `logChunkLoading` is on will print reading speed.

[2021-08-12 11:05] #171 closed

[2021-08-12 11:36] tischi commented on #409
I think I implemented everything and will also merge now with master.

[2021-08-12 11:36] #409 closed

[2021-08-12 11:41] tischi commented on #186
I am still very curious but it is not important.

[2021-08-12 11:41] #186 closed

[2021-08-12 11:42] tischi commented on #194
I am not sure, let's leave it for now. But in terms of MoBIE I would say this can be closed.

[2021-08-12 12:43] constantinpape commented on #216
I can't reproduce this now because I get the same error as in #410:
[code]

[2021-08-12 12:51] tischi opened #414 "Nested transforms of individual sources"
@constantinpape @K-Meech

(Mainly a note to self) This is a bit of a challenge:

[code]

At that point my code does not know anymore that `"E06_nuclei"` is comprised of several individual "site" sources that should all also be moved to the new well grid position.

I am thinking now that I could do something like:

[code]

[2021-08-12 14:38] tischi commented on #414
I have it almost working:
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/2157566/129215968-cb586d98-f262-4460-836b-141fe485d017.png">

There is some offset issue that I could not figure out yet.
It could be a bit annoying, because the RAIs of the site images have an offset of (0,0) while in the current code the RAIs of the merged images my have a non-zero offset which

[2021-08-12 15:20] constantinpape commented on #411
Potentially related issue: https://github.com/mobie/mobie.github.io/issues/32

[2021-08-12 16:15] tischi commented on #414
@constantinpape and @KateMoreva, debugging above issue I found the the source transforms of the ome.zarr images are looking a bit suspicious:

For example at the 3rd resolution level it looks like this:
[code]
Are the odd numbers (e.g., 7.948717948717949) also what is stored in the zarr files or is there something going on during the reading?

I cannot open the zarr folders from home, I think due

[2021-08-12 18:13] constantinpape commented on #414
In this case we don't store any of the affines in the zarr file; the data is stored as pure ome.zarr, which does not specifying support any transformations (including pixel size) yet.

[2021-08-12 18:22] constantinpape opened #415 "Add support for BigVolumeViewer"
Add support for scenery / BigVolumeViewer (to potentially replace the current 3d viewer?!).
This can be done via BDV-playground, relevant links:
https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/bvv
https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/scijava/command/bvv

This was first discussed in https:

[2021-08-12 18:22] constantinpape commented on #237
Added a new issue for BVV support: https://github.com/mobie/mobie-viewer-fiji/issues/415
Closing this one.

[2021-08-12 18:22] #237 closed

[2021-08-12 18:23] constantinpape commented on #204
I am not sure if this is still relevant, but given that there are a lot of small follow up issues that seem to be related to this one I am gonna leave it open for now.

[2021-08-12 18:24] constantinpape commented on #201
I think we are happy with the current UI and given the recent changes for grid sources I am not so sure if we can merge in the BDV Cards UI. Closing this issue for now.

[2021-08-12 18:24] #201 closed

[2021-08-12 18:25] constantinpape commented on #54
i think this issue is deprecated; closing it for now

[2021-08-12 18:25] #54 closed

[2021-08-17 13:24] bogovicj commented on #285
Thanks for the ping, I'll talk to the team.

[2021-08-20 11:58] KateMoreva commented on #362
I think there are two main variants for the menu:

1 (working on this variant)
![image](https://user-images.githubusercontent.com/48569608/130196709-6f29fbfa-9421-40ad-8690-e1afa6774ec9.png)
Sources settings can be set through the different menus by click on 3 vertical dots. The grid view flag is visible in the main menu, sources can be added from both the main and this menu.
+ Easier to implement

[2021-08-23 09:08] K-Meech commented on #362
Hi @KateMoreva - I think tischi and Constantin are on holiday this week, so you'll have to wait until Monday to get their opinions.

Looking good so far! I think variant 1 will be the easiest to make + maintain. For now it would be easiest to access this through the right click context menu in the bigdataviewer window. (This is where all the other extra menus e.g. bookmark creation etc are stored

[2021-08-23 09:17] KateMoreva commented on #362
Ok, thank you, so far I added an extra button for creating grid view, but if users are used to working with the right-click window then I will move it there.

[2021-08-23 09:24] K-Meech commented on #362
Ok - sounds good! Actions are added to the right-click/context menu here: https://github.com/mobie/mobie-viewer-fiji/blob/1eb49182daf3adc718739dd5c5b958ad67be5352/src/main/java/de/embl/cba/mobie/bdv/view/SliceViewer.java#L73

[2021-08-24 13:25] constantinpape commented on #362
I agree with @K-Meech that adding this to the context menu (= right click) is the best option for now. We can think about including it in some other parts of the GUI later once we have a better idea of how to handle this from the UI side.

[2021-08-26 17:11] KateMoreva opened #417 "ReadOnlyCachedCellImgFactory expects only positive dimension"
Got an exception while trying to open  `kreshuk/pape/Work/mobie/covid-if-project/data`

[code]

[2021-08-30 08:57] constantinpape commented on #394
@tischi should we add `defaultPosition` to the dataset.json and use it to populate the location menu?
And leave it blank if `defaultPosition` is not given?

[2021-08-30 09:00] constantinpape commented on #417
@KateMoreva could you explain how exactly you encounter this and how to reproduce this bug?
Is this something we (probably @tischi who would know best what might be going on) should have a look at or are you looking into it yourself?

[2021-08-30 10:24] KateMoreva commented on #417
I was tying to open  with MoBIE (current master and  on fork brunch) : `  new MoBIE( "/home/katerina/Documents/embl/mnt2/kreshuk/pape/Work/mobie/covid-if-project/data", MoBIESettings.settings().imageDataFormat( ImageDataFormat.OmeZarr ) );`

[2021-08-31 11:23] constantinpape commented on #417
@tischi can you double check this? This should work, maybe something went wrong in the latest mobie main.

[2021-08-31 12:41] constantinpape commented on #414
@tischi: I double checked this and neither transformation, nor scale factors of the MIP levels are directly read from the ome.zarr file:
- transformation: information is not available in vanilla ome.zarr yet, I think we just set it to identity (which is fine here).
- scale factors: this information is not explicitly stored in the ome.zarr, but is calculated from the extents in the different levels

[2021-08-31 14:27] tischi commented on #414
@constantinpape could you please add a view that simply shows a single image?

[2021-08-31 14:34] constantinpape commented on #414
Done. In the menu `test/single_nucleus`.

[2021-08-31 18:59] tischi commented on #414
@K-Meech @KateMoreva I think have fixed the MergedGridView now.

For testing, e.g. scatterplot, please use `/g/kreshuk/pape/Work/mobie/covid-if-project/data` with the current master. Then use the bookmark: `plate: default_with_tables`.

[2021-08-31 19:00] tischi commented on #417
I think with the latest master this should work now. For me works:

[code]

[2021-09-01 08:07] K-Meech commented on #414
Great! Would it be possible to move this project somewhere else? I don't have access to the Kreshuk lab server... @constantinpape ?

[2021-09-01 08:09] constantinpape commented on #414
@K-Meech the project is too large to move it completely and @KateMoreva only has access to the kreshuk server.
But I will make a smaller version on emcf and ping you when it's there.

[2021-09-01 09:24] constantinpape commented on #414
@K-Meech you can find a smaller version here: `/g/emcf/pape/covid-if-project/data`.

[2021-09-01 10:20] K-Meech commented on #414
@tischi @KateMoreva I can't build the current master. It complains about this line: https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/n5/zarr/N5OMEZarrImageLoader.java#L77 I guess this need to point to the new repo now?

[2021-09-01 11:04] tischi commented on #414
@K-Meech yes, I think I may have screwed something up here because I merged my master with the current master on github. @KateMoreva could you make the current master on github work again?
I guess we just need to remove the n5.zarr package completely?

Please not that I did the following change in the N5OMEZarrImageLoader:

[code]

I added a `Math.ceil( ... )` there. I guess we should do this now

[2021-09-01 11:13] tischi commented on #414
@K-Meech I removed the n5 package and pushed it. Seems to work now.

[2021-09-01 11:24] tischi commented on #414
@KateMoreva should be depend on `bigdataviewer-imageloader` `1.0.2-SNAPSHOT`?! Such that we have the latest version? I am asking because the version I had was still doing the chunk loading logging, which is something I think we disable quite some time ago.

[2021-09-01 11:28] KateMoreva commented on #414
I think so, I will add the Math.ceil( ... ) to all versions and you can move to the 1.0.2-SNAPSHOT

[2021-09-01 11:29] tischi commented on #414
I just added the Math.ceil to the SNAPSHOT already.

[2021-09-01 12:33] constantinpape commented on #414
`Math.ceil` is not a good solution here, because it can lead to very wrong estimates for the scale factors. The issue is that sometimes the extent of the data is not divisible by the downscaling factor. In that case, there is a "half" pixel in the downsampled version and the extent can either be rounded up or down. If it is rounded up, the result of `Math.ceil` will be off by 1!
Instead, we should

[2021-09-01 13:22] tischi opened #418 "Download raw data"
I think it would be good to add a context menu item: "Download raw data".
Then the user could select from the sources under the mouse cursor which ones to download.
Then I think it should just really download the raw data, e.g. the ome.zarr folder with all its contents.
For big data this will of course not really work but for smaller images I think this is a good service in terms of data _**sharin

[2021-09-01 13:27] tischi commented on #414
Yes, makes of course complete sense, thanks!
Done in https://github.com/mobie/bigdataviewer-imageloader/commit/df9aeac48639cd92da2754b46b3f295c465e05d1

[2021-09-01 13:28] tischi commented on #414
BTW: Unlike python in Java `Math.round` is in fact doing what you would expect it to do (i.e. what you get taught in German schools) 😄 .

[2021-09-01 14:57] tischi commented on #418
Along those lines: there could be also simply a download link attached as metadata to the image which could be presented "somewhere". Which reminds me, where do we stand with the image description metadata.

[2021-09-01 15:24] constantinpape commented on #418
I am not so sure if we want to do that, given different storage backends etc. this might be quite some work.

I think that this is a better solution; but the "simple" download link might need some command line tool given that the data is stored on an object store.

See discussions in https://github.com/mobie/mobie.github.io/issues/50

[2021-09-02 19:10] constantinpape commented on #417
@KateMoreva did you have a chance already to check if this works for you now?
Feel free to close this issue if it does work.

[2021-09-02 19:22] KateMoreva commented on #417
It finally works, thanks @tischi, @constantinpape!

[2021-09-02 19:22] #417 closed

[2021-09-03 08:22] K-Meech opened #420 "Support ome-zarr in project creator"

[2021-09-03 08:24] K-Meech commented on #420
@tischi @constantinpape I will probably need to update the views/bookmarks code as part of this. What is the latest version of the dataset.json spec? Should I be basing everything off ```/g/kreshuk/pape/Work/mobie/covid-if-project/data``` project?

[2021-09-03 09:43] constantinpape commented on #420
Yes, the covid project is up-to-date.

[2021-09-03 12:47] tischi opened #421 "bigdataviewer-imageloader dependency"
@K-Meech @KateMoreva
The current master of mobie was not compatible with the current master of bigdataviewer-imageloader (1.0.2-SNAPSHOT). I think there was an easy fix though.
In general, on which version of bigdataviewer-imageloader do we want mobie-viewer-fiji to depend on?

[2021-09-03 12:52] KateMoreva commented on #421
Right now it should be 1.0.2-SNAPSHOT, or I can create v1.0.2, if there would not be much new functionality in the nearest future.

[2021-09-03 14:58] tischi commented on #414
@constantinpape I suffered some more hours but now I also managed to center the sources within the grid view, including the margins:

<img width="558" alt="image" src="https://user-images.githubusercontent.com/2157566/132025940-0dc1045e-9754-4204-a1d8-74e419a63c6a.png">

Thus, I think that everything should work to at least start making a nice plate view figure for the publication 🥳  I also tried

[2021-09-03 14:58] #414 closed

[2021-09-03 15:44] KateMoreva opened #422 "Lets make the working proces clear"
It seems that we have a bit of chaos in the project (because we make PR, and commit to` master` without knowing about each other work).
Let structurize the working process a bit.
I suggest following several rules:

- We have the `master` branch - MoBIE version that is ready for delivery.
We _do not push there_ anything except **hotfixes** (when we find out about critical bud in the production vers

[2021-09-03 16:10] tischi commented on #422
Good idea!

I am sorry for probably being the source of the mess!

Could you make such a `develop` branch?

[2021-09-03 16:14] KateMoreva commented on #422
No problem, it was just me, who became tired of resolving conflicts with `master` and of getting lost in my branches with fixes :)
Sure it will be ready in minutes.

[2021-09-03 17:19] tischi commented on #422
Great! Thanks a lot!

I am not sure whether this is too ambitious but maybe we could even try to always have a situation where the current master branch only has dependencies on repositories that are (i) on maven and (ii) that are _not_ SNAPSHOT versions.

Like this it would be easy for outside collaborators and non Java geeks to build the current master without too much hassle.

One thing I am al

[2021-09-03 17:31] KateMoreva commented on #422
It is quite possible.

[2021-09-03 17:38] KateMoreva commented on #422
I don't think it is a bad practice. But it is better to make some timetable of deployment or announce a new MoBIE publication in one place (if it is in such a way, please let me know where:) ).

[2021-09-04 12:37] constantinpape commented on #422
Thanks for taking the initiative on the @KateMoreva. Indeed we need to structure the dev process better, given that we are quite actively developing here and I think your proposal is very good for this.

Yes, I think that would be very good practice.

I think for now we are stuck to deploying to MoBIE-beta, as long as we haven't fully released spec-v2 (i.e. update all MoBIE projects so that the ma

[2021-09-04 12:39] constantinpape commented on #414
Awesome, thanks @tischi. I will give it a try once we have the new version on MoBIE-beta, and also add the new dataset to the clem project so that you can work on the second figure.

[2021-09-05 11:36] constantinpape opened #423 "Opening projects from s3 fails in latest MoBIE beta"
With the latest MoBIE beta opening data from s3 fails. Opening local data works as expected, but I tried opening several projects from s3 and they all fail:
the MoBIE GUI opens, but no data is loaded in the viewer and there is a long exception thrown (see stacktrace below).
To reproduce:
- "MoBIE->Open->Advanced->OpenMoBIEProjectBranch..."
- `Project Location` https://github.com/mobie/platybrowser

[2021-09-06 07:55] tischi commented on #423
I could not figure it out. Maybe somethings wrong with the S3? I will ping EMBL IT.

[2021-09-06 08:00] tischi commented on #422
OK! I will from today on mainly work the the develop branch!

[2021-09-06 08:09] tischi commented on #423
I had a look and we can open the data from MoBIE(-alpha). Thus it is not an issue with the S3.
@KateMoreva would you have time to look into this? It feels like as if the issue might be within bdv-imgloader, but I am not sure.

To reproduce the error:

- go to the develop branch of mobie-viewer-fiji
- in the tests run: OpenRemotePlatynereis

[code]

[2021-09-06 08:13] KateMoreva commented on #423
It seems that the loading of Source (`this.source.getSpimSource().getSource(timepoint, 0);` _timepiont = 0_) produce `NullPointerException`.

![Screenshot from 2021-09-06 11-07-46](https://user-images.githubusercontent.com/48569608/132183061-1bca7732-ac23-47ac-9f47-3eb497f18776.png)

[2021-09-06 08:15] tischi commented on #423
Yes, I also got that far. But I could not figure out why. The data should be there, as I could open the same source using the official MoBIE release.

[2021-09-06 08:17] K-Meech commented on #422
Sounds good! I'll make PRs against the develop branch from now on :)
+1 for having the master branch track the main mobie update site, and develop the beta mobie update site.

Once we've got everything sorted and back in master, it'd be great if we could be more formal about tagging releases from master too. This makes it super easy to find back a specific version + easier for other developers to

[2021-09-06 08:18] KateMoreva commented on #423
On which commit does MoBIE(-alpha) is based?

[2021-09-06 08:21] tischi commented on #423
I would have to dig into it, but I feel it would probably be enough to first go back to a commit where we did not yet use  bdv-imgloader. Could you find such a commit and try there?

[2021-09-06 08:24] tischi commented on #422
Yes, that would be awesome!

[2021-09-06 08:38] KateMoreva commented on #423
So far I can open it from the commit `Merge branch 'master' of github.com:mobie/mobie-viewer-fiji into master ` `af608333` `Christian Tischer <christian.tischer@embl.de> on 09.08.2021 at 16:41`.

[2021-09-06 09:01] tischi commented on #423
@KateMoreva OK. That's great! Do you think you can try to debug what's going on? I assume something with the BdvN5S3 ImageLoader might be the culprit?

[2021-09-06 09:03] KateMoreva commented on #423
I can debug it a bit later today.

[2021-09-06 09:57] tischi commented on #423
Thanks! I would recommend to first try to open the corresponding SpimData (default image called "raw" of the platybrowser) just in bdv-imgloader and do a `BdvFunctions.show` on it. If that works than the issue most be within the fiji-viewer repo.

[2021-09-06 11:42] K-Meech commented on #420
At the moment, there's an option in the project creator to 'link' to an existing image. i.e. to put a relative path in the image xml, rather than copying over an image that is already in bdv format.

@constantinpape - can you use relative paths with normal ome.zarr? i.e. could I replace the dataset paths in "multiscales" to be relative ones to some arbitrary location on the filesystem?

[2021-09-06 15:26] constantinpape commented on #420
That's currently not supported, though there is an ongoing discussion about the topic, see https://github.com/ome/ngff/issues/13.
Note that we still have the xml for the `bdv.ome.zarr` filetype, so for these you can still write the link into the xml. But for `ome.zarr` this is currently not possible; we would need to add `absolutePath` to the spec; but I would rather just disallow / throw an error

[2021-09-06 15:29] constantinpape opened #424 "OME ZARR missing from BigDataViewer menu"
In the current MoBIE-beta, the commands to open OME ZARR from s3 / the filesystem are missing from `Plugins->BigDataViewer`. I guess this got lost in some of the refactoring of the imageloader code.

cc @tischi @KateMoreva

[2021-09-06 15:31] KateMoreva commented on #424
The bug should be fixed the commands are in the current master `https://github.com/mobie/mobie-viewer-fiji/tree/master/src/main/java/de/embl/cba/mobie/command`.

[2021-09-06 15:48] K-Meech commented on #420
Ok! I'll add the link in the xml for bdv.ome.zarr, and otherwise throw an error.

[2021-09-06 22:38] KateMoreva commented on #423
Seems like I messed something up in bigdataviewer-imageloader as the error appears with the version change from 1.0.1 to 1.0.2-SNAPSHOT.

[2021-09-07 07:46] tischi commented on #423
OK! Should we wait for you to figure it out? I could also ship MoBIE beta with 1.0.1, but for @constantinpape to properly use the grid view, I need this commit: https://github.com/mobie/bigdataviewer-imageloader/commit/df9aeac48639cd92da2754b46b3f295c465e05d1

[2021-09-07 07:55] tischi commented on #424
Yes, this is fixed in the latest develop branch. I will upload once the other bug with the S3 loading is fixed.

[2021-09-07 07:55] #424 closed

[2021-09-07 07:55] constantinpape commented on #423
I don't mind waiting a day or 2, if we can solve it in a clean fashion.

[2021-09-07 08:21] K-Meech commented on #303
I'm currently updating the project creator code and, if I have time, I'll probably add a few small tests to make it easier to modify in future.
Were we going to add CI to this repo too? And do we want it to just build MoBIE, or also run a few tests?
I'm happy to look into adding this.

[2021-09-07 08:24] constantinpape commented on #303
Yes, it would be great to add CI here in order to catch build issues and things like #423 earlier!
I would suggest using github actions (https://docs.github.com/en/actions). @KateMoreva and @tischi would know more about how to best add the tests with junit and how to run them via maven.

[2021-09-07 08:45] K-Meech commented on #420
@constantinpape How does remote metadata work for ome.zarr.s3?
i.e. in the 'source' in the 'dataset.json' - what path would I give?

[2021-09-07 08:58] constantinpape commented on #420
You specify the `s3Address`, which is the full URI of the zarr container on the s3 store, i.e. `<SERVICE_ENDPOINT>/<BUCKET_NAME>/<PATH_IN_BUCKET>`,
e.g. something like `https://s3.embl.de/platynereis/1.0.0/images/segmentation.ome.zarr`.
For reference, this is the python code that produces the metadata https://github.com/mobie/mobie-utils-python/blob/spec-v-02/mobie/metadata/remote_metadata.py#L79-

[2021-09-07 11:46] tischi commented on #303
@K-Meech yes, please! Adding CI would be great! To get started I think we should use the same procedure as we did for bdv-imgloader, as done by @KateMoreva. Maybe you and @KateMoreva could chat by some means about how to do this.

[2021-09-07 12:02] K-Meech commented on #303
Ok - sounds good! I'll email @KateMoreva to set something up :)

[2021-09-08 06:20] KateMoreva commented on #423
Found the problem.
I will make a fix in `bigdataviewer-imageloader master`.

[2021-09-08 07:34] constantinpape commented on #423
Awesome! Let us know when this is there so that we can make a new MoBIE beta release.

[2021-09-08 07:55] KateMoreva commented on #423
@constantinpape, please try this brunch https://github.com/mobie/mobie-viewer-fiji/pull/425 it should be working.

[2021-09-08 08:39] constantinpape commented on #423
Thanks, @KateMoreva. I am very busy today and don't have time to test this. @tischi if you have time today, could you give it a try and release MoBIE beta if everything works? Otherwise I have time to look into this tomorrow.

[2021-09-08 08:42] tischi commented on #423
I am already on it...

[2021-09-08 08:43] KateMoreva commented on #423
Please make sure that you have the last version of `bigdataviewer-imageloader`.

[2021-09-08 08:54] tischi commented on #423
Works!
Thanks for the fix!

[2021-09-08 08:54] #423 closed

[2021-09-08 09:18] K-Meech commented on #303
@tischi @constantinpape Do you want this repo on the scijava maven repository too? Or just build/run tests?

[2021-09-08 09:57] K-Meech commented on #303
I don't think it should be too difficult. All the secrets we need are added into the mobie organisation already, so we don't need to do that over again. I'll give it a go - and see what happens!

[2021-09-08 10:13] tischi commented on #423
@constantinpape I uploaded to Fiji, hope everything works now!

[2021-09-08 11:27] imagejan commented on #303
If this repo build fine using `mvn` from the command line, adding CI should be as easy as running [`github-actionify.sh`](https://github.com/scijava/scijava-scripts/blob/main/github-actionify.sh) from `scijava-scripts`.

[2021-09-08 13:16] K-Meech commented on #303
Thanks for the info @imagejan! I'm trying to run this on Windows via git bash, and it's erroring with ```[ERROR] Could not determine GitHub repository slug```. Perhaps a similar error to this one you had with traversify.sh?https://github.com/scijava/scijava-scripts/issues/15

[2021-09-08 19:25] imagejan commented on #303
@K-Meech strange that you got an error, the xmllint line seems to be fine in the new script, but test on Windows Git Bash myself now.

I opened https://github.com/mobie/mobie-viewer-fiji/pull/427 with updates to `pom.xml` (never hardcode `scijava.app.directory`, @tischi, that should be in your local IDE config; and some updates for forum and maven repository) and added CI with the SciJava script o

[2021-09-09 06:16] tischi commented on #303
That sounds awesome! Do you happen to know how to realize this for IntelliJ?

[2021-09-09 06:36] imagejan commented on #303
@tischi it's documented here for Eclipse (although it needs to be updated from `imagej.app.directory` to `scijava.app.directory`):

https://imagej.net/develop/eclipse#option-2-install-dependencies

I guess something similar should be available in IntelliJ?! Maybe also @haesleinhuepf can advise. If you find out, it'd be awesome if you also add it to the documentation in https://imagej.net/develop/i

[2021-09-09 07:53] tischi commented on #303
@NicoKiaru do you happen to know how to specify the scijava.app directory within IntelliJ rather than baking it into the pom?

[2021-09-09 08:21] constantinpape commented on #423
Yes, it works now, thanks!

[2021-09-09 08:51] NicoKiaru commented on #303
Unfortunately no... I hardcode it and modify it when I need to upload to an update site. BTW I really need to look at this new way of making CI. You are using github actions now it seems...

[2021-09-09 09:08] imagejan commented on #303
@tischi @NicoKiaru I'm not using IntelliJ, but according to the docs, it should be something like `-Dscijava.app.directory=/path/to/your/Fiji.app` in the "Runner" tab of the Maven Run Configuration:

https://www.jetbrains.com/help/idea/run-debug-configuration-maven.html#runner

[2021-09-10 14:17] tischi opened #428 "Sites intervals are sometimes wrongly computed"
I think I have some concurrency issues as the sites intervals for the plate view are sometimes wrong (i.e. much too big).

But if I run in debug mode there are OK.

[2021-09-10 14:22] tischi commented on #428
This is how it should look like:

<img width="194" alt="image" src="https://user-images.githubusercontent.com/2157566/132868571-755fc5c8-280a-4056-861b-daca09e8fd69.png">

[2021-09-10 15:54] #303 closed

[2021-09-13 07:16] K-Meech opened #429 "Javadoc errors in CI"
We now have basic CI running, but it fails because of issues with the javadoc.

@tischi Where should this link (https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/de/embl/cba/mobie/bdv/render/AccumulateOccludingProjectorARGBFactory.java#L42) point? AccumulateMixedProjectorARGB doesn't seem to exist anymore.

Also - where should this one point? https://github.com/mobie/mobie-viewe

[2021-09-13 07:26] tischi commented on #303
In fact for installing the project I also don't use IntelliJ but just maven. I found out that there is works like this:

[code]

Thanks @imagejan for the great help!

[2021-09-13 07:28] tischi commented on #429
To be honest, since we don't do JavaDoc consistently anyway, I would simply delete all JavaDoc, at least the ones that throw errors.

[2021-09-13 07:43] #429 closed

[2021-09-13 07:51] K-Meech opened #431 "Ci and the develop branch"
We now have working ci on this repo!
At the moment this runs when there's a pr against master, or pushes to master.
Prs trigger building/testing, and pushes trigger building + testing + releases to the maven repository.

How do we want to handle the develop branch?
I think it should also be triggered for PRs and for pushes (as this is the branch we will mostly be working on). Do we want it to also

[2021-09-13 08:21] tischi commented on #431
Just to clarify, what's the difference of the develop and the master branch?

Would the idea be that the master branch contains the code that is shipped to the Fiji MoBIE update site? (I know, currently not the case, but that could be our aim...)

[2021-09-13 08:23] K-Meech commented on #431
I think in the long run the master branch would be == main Fiji MoBIE update site, and the develop branch would be == MoBIE Beta update site.

[2021-09-13 08:28] constantinpape commented on #431
No, I wouldn't do releases straight to the maven repo for develop. I would rather stay with a model where we make releases to MoBIE-beta manually from develop, given that there might be quite a lot of PRs / pushing when developing a new feature.

Otherwise what you propose sounds very good.

[2021-09-13 08:35] tischi commented on #431
...release to maven repo is not the same as release to the Fiji update site. "Release" to MoBIE or MoBIE-beta is always a "manual" process that is not included in the CI, afaik.

I think SNAPSHOT versions are typically released to maven in the Fiji community. Thus we could consider that **develop** contains the SNAPSHOT versions while **master** should only contain release versions.

Maybe, e.g.,

[2021-09-13 08:43] constantinpape commented on #431
I would have time in the afternoon except for 3PM to 4PM.

[2021-09-13 08:44] K-Meech commented on #431
I'd be free this afternoon for a zoom too! Might be easier to just discuss in person.

[2021-09-13 09:27] KateMoreva commented on #431
I have lectures today. I Will be free after 16 if you need me

[2021-09-13 09:44] constantinpape commented on #431
We scheduled a meeting a bit earlier now, we will update you on what we discussed here.

[2021-09-13 11:41] tischi opened #433 "change package structure"
I think we should change from `de.embl.cba.mobie` to `org.embl.mobie.viewer`.

[2021-09-13 12:32] constantinpape commented on #431
@KateMoreva so we discussed in the meeting to also push the snapshot versions from the develop branch to maven. @K-Meech will implement this for the viewer repository and we can then later adapt this for the other repository.

We also decided to change the group-id and project structure to "org.embl.mobie" and we want to rename the "bidataviewer-imageloader" repository to "mobie-io". It would be g

[2021-09-13 15:12] K-Meech commented on #433
Done in https://github.com/mobie/mobie-viewer-fiji/pull/432 and https://github.com/mobie/mobie-viewer-fiji/pull/435

[2021-09-13 15:12] #433 closed

[2021-09-13 15:18] K-Meech commented on #431
No - looks good @constantinpape !

Also, ci is working on the develop branch for this repo now :) @KateMoreva all you have to do is add 'develop' to both your workflows like here: https://github.com/mobie/mobie-viewer-fiji/pull/434/files

[2021-09-13 15:24] #431 closed

[2021-09-13 15:25] K-Meech commented on #420
This is on the develop branch now

[2021-09-13 15:25] #420 closed

[2021-09-13 15:26] K-Meech commented on #311
Thanks for the suggestion @martinschorb! This is now added in our current develop branch, and should be on mobie-beta soon.

[2021-09-13 15:26] #311 closed

[2021-09-13 16:03] K-Meech opened #436 "Ui tests with Ci"
It would be good to add some more basic tests to mobie e.g. to check opening the platybrowser.

I had a quick attempt at this here: https://github.com/K-Meech/mobie-viewer-fiji/commit/fa4580302441022246e0558ad856daa46b4825ba This test runs fine locally, but fails on the actual ci pipeline. Seems like it can't handle opening the imageJ gui :( So we'll have to find another way around it e.g. just ch

[2021-09-13 16:08] KateMoreva commented on #436
I can add spimData test specifically for the platybrowser.

[2021-09-14 09:19] K-Meech commented on #436
@KateMoreva - it'd be great if you could add a test! So, you would open one of the platybrowser datasets as a spimData object?

[2021-09-14 09:34] KateMoreva commented on #436
I think the quickest solution is to create a test like https://github.com/mobie/mobie-io/blob/main/src/test/java/spimdata/OpenOrganelleSpimDataTest.java. But as it is one special dataset we can have needed constants in advance.

[2021-09-14 09:39] tischi commented on #363
I tried with "append" and I got this error:

[code]

@NicoKiaru Do you have an idea why this happens?

[2021-09-14 09:44] tischi opened #437 "Command names capitalisation"
Currently this is not consistent:

<img width="307" alt="image" src="https://user-images.githubusercontent.com/2157566/133234751-9f265785-4956-46d9-be36-af709b379984.png">

I had a look and within Fiji it seems to be common to capitalize all words.
So, for example, we would do "Set Blending Mode".
I suggest we change everything according to this convention.
@K-Meech OK?

[2021-09-14 09:45] K-Meech commented on #436
Sounds good!

[2021-09-14 09:47] K-Meech commented on #437
Yes - sounds good!

[2021-09-14 09:49] KateMoreva commented on #437
We also have here :
**Create or edit grid view
Show view description**

[2021-09-14 09:50] KateMoreva commented on #437
@tischi, @K-Meech should I change all of them, as my changes are in the same file?

[2021-09-14 09:57] tischi opened #438 "Save view"
@K-Meech

in the develop branch I tried saving the current view, and I got those errors:

[code]

Could you look into this?

[2021-09-14 10:00] tischi commented on #437
I found more:

<img width="562" alt="image" src="https://user-images.githubusercontent.com/2157566/133237537-7d7c5de8-92e9-411e-a980-317dab97d384.png">

@KateMoreva Sure, go ahead and change whatever is within your reach 😃

[2021-09-14 10:38] NicoKiaru commented on #363
You cannot append a transformation to a `TransformedSource` because a `TransformedSource` can only hold a single affine transform, and not several ones. You can mutate it: M <- M.M' or you can create another TransformedSource which transform your previous `TransformedSource` (wrap), but you cannot append it.

[2021-09-14 11:08] tischi commented on #363
@NicoKiaru Thanks! We are just using `public class ManualTransformCommand implements BdvPlaygroundActionCommand` from the playground for this. I don't understand how we would "create another TransformedSource". Is there an example for this?

[2021-09-14 11:24] tischi opened #439 "Folder Browse Button for Opening OME-Zarr"
@K-Meech We should add a browse folder button here:

<img width="563" alt="image" src="https://user-images.githubusercontent.com/2157566/133248996-efecd8af-67ed-419e-a3fa-3cf701b023ca.png">

I can do it, should I?

[2021-09-14 11:37] tischi opened #440 "Create Project with OME-ZARR: What happens to voxel size?"
@K-Meech When creating a MoBIE project and saving the image as ome-zarr (without the bdv) does that mean that the voxel sizes are lost? Because the current ome-zarr spec does not yet contain the transformations? If that's the case we should maybe disable this option until this is fixed?!

[2021-09-14 11:42] tischi opened #441 "Project Creator: Display settings are not stored"
@K-Meech

Is seems as if the display settings (min max) of the currently open image are not properly transferred to the MoBIE project:

<img width="748" alt="image" src="https://user-images.githubusercontent.com/2157566/133251322-f310c52d-d7c2-45ed-8774-9c3b96090c95.png">

[2021-09-14 11:48] K-Meech commented on #438
I'll take a look. Which project were you trying to save a view from?

[2021-09-14 11:50] K-Meech commented on #439
Yes - go ahead! :)

[2021-09-14 11:52] K-Meech commented on #440
Yes - at the moment the voxel size info is lost! (as there's nowhere to store it in the current spec)
I can disable it. Otherwise, we could add a warning that voxel size isn't retained for plain ome-zarr?

[2021-09-14 11:53] tischi commented on #438
[code]

...where in the UI I added one of the em images onto the default overview image and then tried to save the view.

[2021-09-14 11:53] K-Meech commented on #441
Yes - currently it just sets to the defaults for the bitdepth i.e. 8-bit = 0 and 255 as the limits.
I'll look into keeping the current settings.

[2021-09-14 11:53] martinschorb opened #442 "crops don't work in current Beta"
Hi,

the crop definitions in
https://github.com/mobie/centrioles-tomo-datasets

do no longer work in the current beta.
Have the specs changed, or is this a problem with the viewer?

[2021-09-14 11:54] tischi commented on #441
We should also fetch the color of the LUT.

[2021-09-14 11:55] tischi commented on #440
I would disable it for now.

[2021-09-14 11:59] K-Meech commented on #441
I'm not sure if fetching the LUT is worth it. We only support a small number (and most of these aren't in base fiji, I think?). So it would only be glasbey that could be matched?

[2021-09-14 12:04] tischi opened #444 "main methods should be empty in src/main"
@KateMoreva @K-Meech
I saw that the OME ZARR Commands contain main methods used for testing purposes.
I think best practice is that such code should be moved to `src/test` instead.
Could you please do this?

[2021-09-14 12:07] tischi commented on #441
I don't mean multi-color LUTs at this point, I mainly mean just the color, e.g. `gray` or `blue` or the RGB values. I am pretty sure the `ImagePlus` has a getter method for something like this.

[2021-09-14 12:09] K-Meech commented on #441
Ah ok - I'll take a look!

[2021-09-14 12:42] constantinpape commented on #442
The crop metadata in the project is still valid. You can always check this via the commandline with `mobie.validate_project -i <PATH_TO_PROJECT>`. So I think the current mobie beta does not handle the crops correctly.

@martinschorb can you please add an example image of how it looks now, how it should (roughly) look with the crop applied and how to reproduce the view in MoBIE?

@tischi can you ha

[2021-09-14 12:52] martinschorb commented on #442
Hi,

Here's what I would expect and how it looked previously.

![Screenshot 2021-09-14 at 14 50 47](https://user-images.githubusercontent.com/35071867/133260915-00dfff32-a9fd-47c2-91f0-dca235348bd6.png)

Here's what I get now. Basically the same as the uncropped tomogram.

![Screenshot 2021-09-14 at 14 49 51](https://user-images.githubusercontent.com/35071867/133260953-eac6fd46-e531-459e-a21b-8ca4

[2021-09-14 12:53] martinschorb commented on #442
and this is independent on whether I load it from local or remote.

[2021-09-14 12:55] constantinpape commented on #442
And this is the default view you get when opening https://github.com/mobie/centrioles-tomo-datasets?

[2021-09-14 13:01] martinschorb commented on #442
This is the view I get when opening the view shown in the dropdown. It is the exactly identical whether I choose the view from the "Centrioles"(which should be cropped) or the "Tomograms" (which should show this full view) selector.

So it looks to me that neither the transform nor the crop is applied. Does this have anything to do with the `sourceNamesAfterTransform`?

This is the last crop of th

[2021-09-14 13:06] constantinpape commented on #442
Ok, I see...

Indeed probably the "sourceNamesAfterTransform" is the issue. The `"sources"` in `"sourceDisplays/imageDisplays"` should be `["SM_02_Grid2_c264_c2_crop"]`, so that the transformed source instead of the original source is shown.

[2021-09-14 13:09] martinschorb commented on #442
OK, that is probably the relevant change.

I will try to replace the source name...

[2021-09-14 13:57] martinschorb commented on #442
OK, I forgot to update the correct git branch. It now finds it, but it does not like it...:

[code]

[2021-09-14 13:59] constantinpape commented on #442
@martinschorb the metadata looks correct now, so I think this needs to be debugged on the viewer site.
Could you please update the project so that we can easily reproduce this? I.e. push the updated metadata to github and let us know which view to select for which the crop feature does not work as expected.

[2021-09-14 14:02] constantinpape commented on #442
The metadata is not valid:
[code]
Here the problem is that `sources` in grids should be a list, not a dictionary/map. (This has recently changed.)

[2021-09-14 14:17] NicoKiaru commented on #363
Right, we should add an explicit 'wrap as transformed source' in the `ManualTransformCommand` command. Do you think you can do it ? If you're lost in the code, let me know before wasting hours.

[2021-09-14 14:19] tischi commented on #363
I will try (might take some days, because of other stuff). I will ping you when I either did it or got lost 😄

[2021-09-14 14:32] martinschorb commented on #442
OK, I fixed it. I mixed up the dataset.json with the one from my WIP grid branch.

[2021-09-14 14:32] #442 closed

[2021-09-16 11:54] tischi opened #447 "make the merge grid transformation work for large images"
Currently the `GridSourceTransformer` crashes when the individual images are too large, because then the cells become bigger than the java indexing allows.

Maybe a solution could be to have one cell per z-plane.

[2021-09-16 12:25] tischi commented on #447
@constantinpape @martinschorb

I think for now we should do the following:

- less than 100 big images => `transformGrid`
- more than 100 small images => `grid`
- anything else => discuss with Tischi

The issue is that when we are using the current `grid` option we are essentially loosing all the lazy loading of the individual sources, but they are completely loaded into RAM! I think I could work

[2021-09-16 12:40] martinschorb opened #448 "layer hierarchy"
When looking at multiple different resolution EM acquisitions at the same time, the "sum" projection is not appropriate.

I suggest using occluding layers, but then, it needs to be independent on the order of when views are displayed.

I could foresee two scenarios:

- in the list of active views at the bottom of the MoBIE main window, each occluding view would get a button to change the layer ord

[2021-09-16 12:41] martinschorb commented on #448
Another option would be a "normalized projection" mode that would apply the blending/opacity after mapping the source intensity/contrast to the display intensites.

[2021-09-16 13:47] tischi opened #449 "deploy to Fiji"
@K-Meech when I do  `mvn clean install "-Dscijava.app.directory=/Users/tischer/Desktop/Fiji/Fiji-MoBIE-beta.app"` on the current develop branch and then try to open the platybrowser in my Fiji I am getting below error. Is this the same for you?

The develop branch from within IntelliJ works without any issues.

[code]

[2021-09-16 14:02] constantinpape commented on #447
Ok!

@martinschorb see [this example](https://github.com/mobie/centrioles-tomo-datasets/blob/grid-test/add_grid_view.py) for how to choose between `grid` and `transformGrid`.

[2021-09-16 14:06] K-Meech commented on #449
It works for me in intellij and inside Fiji. Although, I did have to manually delete the old 'mobie' jar. The issue is that we've renamed it to match the repo 'mobie-viewer-fiji', so now the old and the new can co-exist... Could be causing issues?

[2021-09-16 14:28] tischi commented on #449
That's it! Thanks!!!

[2021-09-16 14:28] #449 closed

[2021-09-16 15:43] martinschorb opened #450 "global sources not just for images but also derived sources"
Hi,

I am struggling with the different meanings of **source** in a dataset.

- there is the parent key `"sources"` that defines sources globally. These typically contain an `"image"` key that points to the location of the image (meta)data.
- `"views"` refer to sources. These can be either global or defined inside the view itself.
- inside a `view`, sources can be defined as a result of `sourceTra

[2021-09-16 15:55] constantinpape commented on #450
This is pretty much correct. I would further clarify that views contain `displays` and `sourceTransforms`.
`sourceTransforms` can add transient sources (i.e. sources that only "virtually" exist for the current view) through `sourceNamesAfterTransform` or `mergedSourceNames`.

It's not in the current definition to keep things simple and it does not make the spec less expressive, only requires some

[2021-09-16 18:50] constantinpape commented on #448
Can you explain this point a bit more? Currently, our blending mode is very simple:
[code]
If I understand your proposal correctly, we would need to add some kind of order / priority to this? That would mean we need to change `blendingMode` to be a more complex type or add an extra field like `blendingOrder` or so.

[2021-09-16 18:56] constantinpape commented on #450
I think a compromise solution here would be to allow `sourceTransforms` as optional field in a `source`, but to demand that only the current source can be listed in there. (If we allow different sources we open pandorra's box of infinite recursion....).

Conceptually, I like our current solution better, because it keeps sources and transformations separate, but I see @martinschorb's point about sa

[2021-09-17 07:26] martinschorb commented on #448
that's what I would suggest. It would only take effect when the `BlendingMode` is occluding and define which source should be shown on top of which.

On top of that, if we want to show different EM sources (or "non-sparse" information sources, like any brightfield imaging) at the same time, an additional `normalized` or `average` mode is still necessary.

Think of combining EM, BF light microscopy

[2021-09-17 07:29] martinschorb commented on #450
a `sourceNamesAfterTransform` - different from the parent name - inside its source definition would then ideally lead to the definition of two sources (one original and one transformed). If the name is the same or it is not defined transformed would be default, I guess...?

[2021-09-17 07:36] martinschorb commented on #450
To make the general structure of a dataset more clear, I suggest splitting (or allow both layouts)`dataset.json` into its main parts `sources.json`, `timepoints.json` and `views.json`. This will help with large file sizes and makes debugging and reading the files easier.

[2021-09-17 07:56] constantinpape commented on #450
Yes, that would be ideal, and in line with our current spec.

I would very much like to avoid doing big spec changes right now. And I think this would require a lot of work for both Tischi and me to change the logic in the viewer, spec, python code and update old projects.
Note that views can be stored separately, e.g. in `misc/bookmarks` already (but need to be loaded by the users then).

[2021-09-17 07:58] constantinpape commented on #448
All of this sounds good to me, but I defer decisions to @tischi who actually knows how the blending is working.
From the spec side adding the proposed changes (a new field like `blendingOrder` and `normalized` or `average` as additional values for `blendingMode`) would be easy.

[2021-09-17 08:37] tischi commented on #448
@martinschorb

I think we should discuss this in person while playing with the current version.

Currently, in the UI, you can:
- change the opacity `[ O ]`
- change the occlusions (right click "set Blending mode")
  - this will only be applied the sources that are both at the mouse cursor _and_ visible => you can address any source individually by en/disabling sources; checkbox `[  ] S`
- change

[2021-09-17 08:39] martinschorb commented on #448
I will play a bit to get familiar with these functionalities. Then we could maybe meet on Monday afternoon?

[2021-09-17 08:40] tischi commented on #448
Monday afternoon is a bit full for me. Today or Tuesday would be better.

[2021-09-17 08:49] tischi commented on #450
I think you can: you add a `sourceTransform` where you add all sources into the list of the sources at the beginning of the `view`. That will transform all of them and all subsequent operations will work on the transformed sources. Here, the definition of "global" would be: within the same `view`.

It is interesting to look at the latest proposal here: https://github.com/ome/ngff/issues/31
That in

[2021-09-17 11:22] #438 closed

[2021-09-17 11:23] tischi opened #451 "Transformation serialisation"
@K-Meech are we already trying to serialize the source transforms to the JSON?
I think this would require some code like `instanceof TransformedSource` and `getFixedTransform()`...

[2021-09-17 11:33] tischi commented on #363
@NicoKiaru

This is the current code:

[code]

I don't understand the error messages. In fact, the code does wrap another (i.e. "append") TransformedSource around the input, which may or may not have been already a TransformedSource, which I would say is fine.

[2021-09-17 11:36] tischi commented on #363
Aaaah, I guess your point is that the object hash code will change and thus is it not really an "append"? So, we should add an option "wrap"?!

[2021-09-17 11:59] tischi commented on #363
Here is the PR: https://github.com/bigdataviewer/bigdataviewer-playground/pull/242

[2021-09-17 12:19] K-Meech commented on #451
At the moment, it saves whatever transforms were already in the view e.g. if you load a view with affine transforms, then try to save another view, it should keep those. Anything added (e.g. manual transformations) aren't currently recorded.

[2021-09-17 13:01] tischi commented on #451
Could you work on this? This is essential for the manual transforms to work (which would be awesome).

[2021-09-17 13:57] K-Meech commented on #451
I can do - but probably not until the end of next week. I'm back in the lab now - so I'll be using the microscopes :)

[2021-09-20 06:40] KateMoreva commented on #437
Done in https://github.com/mobie/mobie-viewer-fiji/pull/452

[2021-09-20 06:52] KateMoreva commented on #444
There are also main  methods in

- OpenMoBIEPublishedProjectCommand
- OpenMoBIEProjectAdvancedCommand
- EditMoBIEProjectCommand
- CreateNewMoBIEProjectCommand
- WriteOMEZARRCommand

[2021-09-20 06:53] KateMoreva commented on #444
done in https://github.com/mobie/mobie-viewer-fiji/pull/452

[2021-09-20 12:16] martinschorb opened #453 "beta: grid properties dialog crash"
Hi,

when closing the grid properties dialog and then upon every further call of it, I get:

[code]

[2021-09-20 13:07] martinschorb commented on #448
Just to summarize the action points:
- introduce `occludingOrder` or similar to sort the views of a dataset according to level

[2021-09-20 13:09] martinschorb commented on #448
- check that import of views generated with 'Save current Settings as View' works

[2021-09-20 13:15] martinschorb opened #454 "beta: Save current Settings as view - cannot load such a view properly"
When loading back a view saved through the right click functionality, I have the following issues (all using the filesystem to store the JSONs):

- 'Load additional view' does not do anything.
- Pasting the view into `dataset.json` leads to the entry showing up in the MoBIE GUI, but when loading it from there, I get:

[code]

To recreate:
https://github.com/mobie/clem-example-project/tree/spec-v2

[2021-09-20 13:16] martinschorb commented on #448
see https://github.com/mobie/mobie-viewer-fiji/issues/454

[2021-09-20 14:29] tischi commented on #453
@KateMoreva is this about your new interactive grid dialog?

[2021-09-20 14:32] tischi commented on #454
@K-Meech Is it ok, if you have a look at this first?

[2021-09-20 14:41] K-Meech commented on #454
I'll take a look @tischi. Thanks for reporting @martinschorb!

[2021-09-20 15:01] K-Meech commented on #454
Ok - I found the issue. This happens because there are sources where the source name isn't the same as the xml file name e.g. here https://github.com/mobie/clem-example-project/blob/a3fccf72e3cee9df4e493bb7c997ebd6e15295f8/data/hela/dataset.json#L56. At the moment, I grab source names here: https://github.com/mobie/mobie-viewer-fiji/blob/master/src/main/java/org/embl/mobie/viewer/display/ImageSour

[2021-09-20 15:16] KateMoreva commented on #453
No, the implementation is still unmerged.

[2021-09-20 17:42] martinschorb commented on #453
It's the `|_| P` checkbox to the very right of the grid item.

[2021-09-21 07:15] tischi commented on #453
Could you post a screenshot? Normally the `[ ] P` checkbox is for creating a scatter plot of the data shown in the table. If that's what's crashing then it is my fault 😄

[2021-09-21 07:27] constantinpape commented on #448
@tischi @martinschorb
I can add this to the spec, but before that:
- Which type is this? Integer?
- Also, it should be optional, so that we don't need to update all projects.

[2021-09-21 07:32] martinschorb commented on #453
<img width="1039" alt="Screenshot 2021-09-21 at 09 31 36" src="https://user-images.githubusercontent.com/35071867/134130036-dc2c6565-7c11-4d78-a491-b78b3283811b.png">

and when closing that dialog it crashes.

[2021-09-21 08:50] tischi commented on #453
OK, then that's a bug on my end. Could you let me know which view I need to open from which project to reproduce this?

[2021-09-21 10:14] tischi commented on #448
I would say let's please wait with this until we wrote the current publication.
I don't want to touch the code more than absolutely necessary at this point.

[2021-09-21 11:26] tischi opened #455 "grid view for sources of different sizes"
@martinschorb could you please make a grid view for me where the first source is smaller than the other ones? I need this for testing my latest changes.

[2021-09-21 12:49] martinschorb commented on #453
Our favourite centrioles branch `grid-test2` - any of the grids.

[2021-09-21 13:16] martinschorb commented on #455
Our favourite centrioles branch grid-test2 - the "centriole grid" should have different crop sizes.

[2021-09-21 14:27] tischi commented on #455
The centriole grid view still has the bugs that I described in the other issue (and that @constantinpape fixed in the python tools), thus the cropped source is not shown (and thus I cannot use it for testing).

[2021-09-21 14:31] martinschorb commented on #455
![Screenshot 2021-09-21 at 16 30 09](https://user-images.githubusercontent.com/35071867/134190178-82324b2a-a55f-41ab-8657-9f4278a3e562.png)

This is how it look to me. `grid-test2` and the `centriole-grid` view. Transformations and crops are correct. The bottom-left source is the biggest and seems to define the grid dimensions.

[2021-09-21 16:00] K-Meech commented on #454
@tischi - are you fine if I change the 'sourceAndConverters' field in the AbstractSourceDisplay to be a map of mobie source name to SourceAndConverter?

[2021-09-22 07:23] tischi commented on #454
Yes, totally, this matches much better how I refactored the rest of the code.

[2021-09-22 07:42] tischi commented on #455
Sorry, I was using the wrong branch.
In fact, it does not work for you yet, since I did not yet push the changes 😸
The margins are too small in your case.
But for me it does work:
<img width="631" alt="image" src="https://user-images.githubusercontent.com/2157566/134302716-8151bf16-433f-469a-b6bc-f0abfbbaeaff.png">

[2021-09-22 07:42] #455 closed

[2021-09-23 07:11] K-Meech commented on #454
@martinschorb - this should be fixed on our current develop branch now (which will be on mobie-beta soon). You'll need to save the view again, and delete the one you made before. Then you should be able to 'Load additional view...'. This will load the views in the chosen file into the relevant ui selection groups - you'll then need to select them as usual to display them.

Feel free to re-open if

[2021-09-23 07:11] #454 closed

[2021-09-23 08:24] tischi commented on #363
I rediscovered the (known) issue that if the Source is not a TransformedSource to begin with, we have to create a new SourceAndConverter object if we transform it and thus all the references to the previous SAC don't work anymore. For example in below code it cannot find the new SourceAndConverter and thus we cannot change its opacity anymore:

[code]

I see two options:

1. We always wrap a Sourc

[2021-09-23 08:32] K-Meech commented on #363
@tischi I think 2 sounds good - it would make everything more consistent anyway, so we are always accessing via the sourceName.

[2021-09-23 08:46] tischi commented on #363
@K-Meech But I think I will do (1) for now as well, because that should be fast and give you something to work on the serialization of the TransformedSources. We can then do (2) later, OK?

[2021-09-23 08:51] K-Meech commented on #363
Sure - sounds good!

[2021-09-23 10:13] tischi commented on #363
Frustrating; the `mutate` option should work now, but somehow it did does not display the transformed source after one is finished. I have a feeling something's messed up with which sources are actually displayed in BDV.
The `wrap` option works, but then we have to somehow get a handle on the new SourceAndConverter and update this in our `Map< name, SAC >`.

[2021-09-23 11:36] tischi commented on #363
OK, I figured it out. It works now with the normal BDV way of thing this, i.e. pressing T and it will transform the "current" source (to be selected in the BDV window).

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/2157566/134499864-ecb978eb-7fff-4fc3-bfb1-107562d923ca.png">

Once this has been merged https://github.com/mobie/mobie-viewer-fiji/pull/458
every source

[2021-09-23 13:18] K-Meech commented on #363
@tischi - is there a good example project to use for testing this? Ideally one that contains complicated transforms in the views e.g. grids, affine, crops + has sources that get renamed after transformation.

[2021-09-23 13:34] tischi commented on #363
It does not have to be perfect. The one we need it to work on "right now" (for the publication) would the one from @martinschorb

I think it is this one?

[code]

[2021-09-23 14:36] constantinpape commented on #363
@K-Meech I am not quite sure if the project on EMCF is up-to-date.
You can also find all the data on s3 / github:
https://github.com/mobie/clem-example-project

[2021-09-24 13:42] #363 closed

[2021-09-24 13:42] #451 closed

[2021-09-24 13:43] #440 closed

[2021-09-24 13:47] tischi opened #460 "CLEM example project views"
@martinschorb The manual transforms work now (select "current source" in BDV and then press "T") and can be serialized into a view. Using this functionality to register the sources, could you create a couple of views that we could use for the publication?

As discussed it could also be nice to have a grid view of the high-res tomograms.

[2021-09-24 13:53] constantinpape commented on #460
I think we first need the registration for the higher res EM to the overview, so that I can apply this to the tomograms and fluorescence as well.
So we would somehow need to find out only the translation done in MoBIE. Can we get this from the serialized view, @K-Meech?

I have the table for this from Giulia already and I can have a look into adding gird views (or rather sourceAnnotationDisplays)

[2021-09-24 13:53] tischi opened #461 ""Related views" concept..."
This is for the future and I am not sure how to implement it best, but the idea is the following.

Let's say we have a grid view of a bunch of high-res tomograms, or we have a grid view of cropped views on centrosomes. In both cases I think it could be very useful to be able to right click on one of the sources in the grid view and say something like "Show related views". For example, a "related v

[2021-09-24 13:57] tischi opened #462 ""Current" source(s) selection"
Right now, the context menu (right click) fetches all the _visible_ sources at the _mouse cursor_ position and then applies the selected action to all those sources. If one wants to only apply an action to only one source one needs to make all other sources at this location invisible, which can be a bit tedious. Thus, maybe, in case of multiple visible sources being present at the same location so

[2021-09-24 14:01] tischi commented on #460
Here's how such a serialized view looks like ("manualTransform" is the one I added to one of the "detail" EMs).
I think it has all the information?

[code]

[2021-09-24 14:12] tischi commented on #460
For the grid views I don't think we need to wait for the registration, do we?

Also for `sourceAnnotationDisplays` that are not for the grid but for the real locations we don't need to wait, because the location is automatically fetched. Maybe only the question is whether we want to rename the registered (=transformed) sources in the view? But I don't think so, because in the same view we will not

[2021-09-24 14:13] tischi opened #463 "Can we have different sources with the same name right now?"
In fact, I am confused now, what happens if we transform a source in a view but do not change its name; and then we "manually" from the sources views drop-down add this source a second time to the viewer??? I think this could be "interesting" because the playground part of the code would not care as this only looks at the hash code of the java object, which would (probably) be different for the tw

[2021-09-24 14:17] tischi commented on #463
Maybe what we want is that if a "different" source (in terms of Java object) is shown with the same name as a currently shown one, the one that was added later replaces the one that's there already?

Or, maybe easier: we forbid on the level of the UI to add a source of the same name "twice" even if it's a different Java object (e.g., with a different transformation). Maybe that's in fact what's ha

[2021-09-24 14:24] tischi opened #464 "Change code to consistently use Map< Name, SAC >"

[2021-09-24 14:25] tischi commented on #463
"on the UI level" makes no sense.

We should just check in the code if a source of the same name is shown already.
And then either (a) not show the source of the same name and print a warning (probably easier to implement), or (b) replace the old one with the new one (harder to implement as I think it would [require this](https://github.com/mobie/mobie-viewer-fiji/issues/464)).

[2021-09-24 14:33] tischi commented on #464
Currently, some parts of the code, e.g. the B&C adjustment operate on a `List< SAC >` that comes with the `SourceDisplay`. If we would change this to `Map< Name, SAC >` it could be easier for us to replace one SAC with another one of the same name within the current `SourceDisplay`. If that's actually something we want...; but even if we don't want to replace an SAC, it would make the current code

[2021-09-24 15:39] constantinpape commented on #460
Yes, that looks good.

No, in theory we don't need to wait. In practice I would rather work on this "in bulk" to avoid context switching.
But I can check the document I got from Martin & Giulia for the grid views already and see if it contains all the necessary information.

[2021-09-24 15:50] constantinpape commented on #463
We can easily check what's happening for this case, for example: select bookmark `Figure 4C` in the platybrowser and add the `ref` source again:

https://user-images.githubusercontent.com/4263537/134704249-6eff4735-8691-4507-afe1-1f4be0ff9f06.mp4

As you can see, the source is just added twice right now (this is on the latest MoBIE-beta)

[2021-09-24 16:18] tischi commented on #463
Aha! Thanks for testing this! Maybe that's OK... I think I also mentally confused things: I was somehow thinking of the same source added twice to the same `sourceDisplay`; which is not the case in above scenario and maybe never can happen...?

Anyway, I don't see an immediate need to act on this, but maybe we could leave the issue open and keep eye on it.

@K-Meech in terms of serialization, do y

[2021-09-24 16:21] tischi commented on #460
I think we should have the `sourceAnnotationDisplay` for the tomograms at least twice:
1. within a view where everything is displayed in context
2. within a view where only the tomograms are laid out in a grid

[2021-09-24 16:22] tischi commented on #460
I agree, no rush! It's more important to be efficient. Maybe first check with @martinschorb whether he thinks everything's ready for 🚀

[2021-09-24 17:15] tischi opened #465 "Wrapping of Sources into TransformedSources"
@K-Meech

I just now understood that you are now also wrapping here:
https://github.com/mobie/mobie-viewer-fiji/blob/9553a097624ed40df48124e9ab140c705c7f1189/src/main/java/org/embl/mobie/viewer/view/ViewManager.java#L250

Then I guess we can remove it here?!
https://github.com/mobie/mobie-viewer-fiji/blob/9553a097624ed40df48124e9ab140c705c7f1189/src/main/java/org/embl/mobie/viewer/MoBIE.java#L305

[2021-09-24 19:41] KateMoreva opened #466 "Problems with opening some sourses of Platybrowser"
I faced an error while opening `_anpra_` source (only while opening several sources of one dataset at a time).

https://raw.githubusercontent.com/platybrowser/platybrowser/spec-v2/data/1.0.1/images/remote/prospr-6dpf-1-whole-anpra.xml

`javax.net.ssl.SSLException: No PSK available. Unable to resume.
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:129)
	at java.base/sun.security.

[2021-09-27 07:04] K-Meech commented on #463
@tischi I tried saving a bookmark with the example constantin used, and there were no problems. It just created 2 imageDisplays, rather than 1. So I don't think it's a big issue at the moment.

[2021-09-27 07:07] K-Meech commented on #465
Yes - I guess so! I wrap all the sources (after any sourceTransformers are applied), so it should still work fine.

[2021-09-27 07:10] K-Meech commented on #465
I'll remove it, and make a PR

[2021-09-28 13:33] martinschorb commented on #460
I'm now on the newest beta. I try to register the sources and there is no more `right click -> Transform source` available.

Is this now all achieved with the `T` mode from BDV?

[2021-09-28 13:36] martinschorb commented on #460
That does not seem to have an effect. at least when I save a view, there is no additional transform added.

[2021-09-28 13:53] K-Meech commented on #460
Hi @martinschorb - yes everything is via the ```T``` mode from BDV now.
I just tried on the beta, and it worked for me. You have to make sure the bdv window is active, then click T and navigate with the normal bdv controls to move the source around. Then click T again to fix that transform.
It will transform whichever source is marked as the 'current' - you can change this by hovering near the rig

[2021-09-28 13:58] martinschorb opened #468 "project creator issue"
tested on current release version and beta.

- create new empty MoBIE project on file system
- add dataset
- add source -> bdv format image -> bdv.n5, link image, 'create view' checked

leads to a completely frozen Fiji on Mac OS in 95% of the cases. No file open dialog is shown.
From the optical appearance of the buttons and UI elements, it looks like
https://github.com/mobie/mobie-viewer-fiji/is

[2021-09-28 14:03] K-Meech commented on #468
Thanks for reporting @martinschorb! Could you give a screenshot of the ui appearance? (It'll make it easier for me to figure out where the issue is)

[2021-09-28 14:05] martinschorb commented on #460
OK, looks like it is there.
I got confused by the exported view, because it still contains the views that were originally displayed in the BDV window without being shown.

[2021-09-28 14:13] martinschorb commented on #468
![Screenshot 2021-09-28 at 16 13 04](https://user-images.githubusercontent.com/35071867/135104686-71a12f79-e95d-41d8-9865-4fd8c0e42cfe.png)

That's how it looks when freezing. Happened today on both Rachel's and my Mac.

[2021-09-28 14:14] martinschorb commented on #468
and that's right after the

dialogue.

[2021-09-28 14:15] martinschorb commented on #468
The whole Java process freezes and needs to be force-killed.

[2021-09-28 14:22] K-Meech commented on #468
@tischi - could you possibly debug this one? It's really hard for me to fix these issues, as they work fine on Windows and only error on Mac. @martinschorb is probably correct, that it is again something to do with the look and feel. It hangs at this line: https://github.com/mobie/mobie-viewer-fiji/blob/develop/src/main/java/org/embl/mobie/viewer/projectcreator/ui/ProjectsCreatorPanel.java#L519, s

[2021-09-28 15:19] martinschorb commented on #460
Uuuh, this is a pain.

You cannot propagate the derived transformations from the EM sources to the fluorescence because it seems to depend on the original shape/scale etc.

Let me try with the tomos and if that does not work, we need to leave things as they are.
I don't want to re-register every single source on there...

[2021-09-28 15:20] martinschorb commented on #460
or can the `affine`s somehow be stored in some _normalized_ format, so they do not refer to the corner of the image but rather its center?

[2021-09-28 15:44] martinschorb commented on #460
So it is basically not possible to use a manual transform and then propagate it to other sources.
This means you can only register individual sources to each other using this mechanism. (A to B)
Any other linked/registered source (C registered to B that I like to now register together to A)  needs to be individually registered again the moment a single one of the group is modified.
This makes it v

[2021-09-28 17:15] K-Meech commented on #460
Hi @martinschorb, so when you save the manual transform, it will add an extra affine like this:
[code]
So I think if you add more into the 'sources', so e.g. it reads:
[code]
then it should move both sources in the same way? I tried it with a bit of em and fluorescence and it seemed to match them up ok. This does mean you have to manually edit the json to apply it to more sources though...
Is that

[2021-09-28 17:25] martinschorb commented on #460
The scenario is the following:
- one overview low-mag EM image
- 3 area EM overviews
- linked to each of these areas there is one Fluorescence image
- and inside the areas there are several higher magnification tomograms.

Now I wanted to refine the positioning of the areas inside the low-mag overview. This is just to make it look nice.
I thought I would do a manual transform for each of the area

[2021-09-28 19:28] constantinpape commented on #460
We def. want to support applying the transformations to multiple sources here.
@martinschorb I think for implementing this it would be good if you add one view with one (correctly) registered em-detail and one fluo source where you also added the transform. Then we can look into it and schedule a meeting for next week if this is more complicated.

[2021-09-28 20:22] tischi commented on #468
@K-Meech I would suggest simply **not to** use the MoBIE LAF for the ProjectCreator **at all**. Would that be acceptable or does it look too ugly?

[code]

[2021-09-29 07:26] K-Meech commented on #468
I'll take a look! I think we still need to choose a laf to enforce though, otherwise e.g. if you are using the project creator, then opening mobie to check it, then going back to the project creator... it is hard to know which laf will be used.

e.g. the 'Create new mobie project...' dialog looks like this if you open it straight away:
![Screenshot (349)](https://user-images.githubusercontent.com/

[2021-09-29 07:49] tischi commented on #468
I see. Could you then enforce in the Project Creator to use the "normal" LAF?
I think the MoBIE LAF should probably only be used for the MoBIE main UI and for showing the Table.

[2021-09-29 08:12] K-Meech commented on #468
@tischi - while I'm changing this, do you mind if I change everywhere that mobie uses ```resetSystemSwingLookandFeel``` (https://github.com/mobie/mobie-viewer-fiji/blob/develop/src/main/java/org/embl/mobie/viewer/ui/UserInterfaceHelper.java#L189) to ```resetCrossPlatformSwingLookAndFeel```? In Windows at least, the cross platform look and feel is actually the default one that fiji opens with norma

[2021-09-29 08:19] tischi commented on #468
Hm, on my Mac `UIManager.getLookAndFeel()` returns `[Aqua Look and Feel for Mac OS X - com.apple.laf.AquaLookAndFeel]`; which is also what I get from `UIManager.getSystemLookAndFeelClassName();`. The cross platform one returns something else...

[2021-09-29 08:29] K-Meech commented on #468
Ah - annoying! It's the exact opposite on Windows - for me ```UIManger.getSystemLookAndFeelClassName()``` return something different.

[2021-09-29 08:53] tischi commented on #468
We could implement a class called `MoBIELookAndFeelToggler`.
This could have a static field in which we always store what `static before = UIManager.getLookAndFeel()` returns before we toggle the MoBIELAF `on` (with a static method). Then when toggling the MoBIE LAF `off` we reset to `before`. Or something like this...

[2021-09-29 08:57] K-Meech commented on #468
Sounds good! This would make things a lot more consistent - otherwise, on windows all the other fiji menus you open after mobie have a different laf to their usual one. I'll give it a go.

[2021-09-29 09:34] martinschorb commented on #460
I just figured out that when you work with groups, BDV's manual Transform works.
Let's try if we get out proper views when doing that...

[2021-09-29 09:55] martinschorb commented on #460
Ok, when I save the view now, I obviously get the source transforms inside one single view but for all sources.

Let's see if I can take them apart to apply this registration to the individual source-views.

[2021-09-29 10:05] martinschorb opened #470 "Load additional views: add views vs. replace existing"
Dear all,

when you load additional views into MoBIE that already exist, a duplicated one will be added to the dropdown.
This becomes confusing when the "same" view is in there multiple times.

I see two options:
- adding a suffix (index) if a view of the same name already exists in the `uiSelectionGroup` dropdown list currently shown
- replace the existing view with the new one

[2021-09-29 11:02] K-Meech commented on #468
Ok - this should hopefully be fixed in the current develop branch. @tischi - could you check if the issue with the menu hanging on mac is gone?

[2021-09-29 11:46] K-Meech commented on #470
Thanks @martinschorb - I think replacing the existing view with the new one would be easiest. Do you agree @tischi? I'll start looking into fixing this.

[2021-09-29 11:48] martinschorb commented on #460
OK,  🚀

I don't know exactly how that approach is different to the one before (when looking at the JSON) but it works now.

Check out the "detail area view" on branch `reg_group`.

![Screenshot 2021-09-29 at 13 46 21](https://user-images.githubusercontent.com/35071867/135262502-b8bb2e77-c84b-4907-8701-e9aa8ba5be16.png)

I will do the same for area3 and the other tomograms and then merge it into `s

[2021-09-29 12:06] martinschorb commented on #470
Also I noticed that when saving a view, all sources/views that have ever apopeared in the current BDV window over its lifetime (no matter if currently displayed or not) are included. This generates a very messy file...

example:
https://github.com/mobie/clem-example-project/blob/reg_group/data/hela/a3_reg.json

everything on `em-overview`, every source referring to `a2...` and `tomo53` are complet

[2021-09-29 12:12] K-Meech opened #471 "Saving a view includes transforms from previously displayed views"
Also I noticed that when saving a view, all sources/views that have ever appeared in the current BDV window over its lifetime (no matter if currently displayed or not) are included. This generates a very messy file...

example:
https://github.com/mobie/clem-example-project/blob/reg_group/data/hela/a3_reg.json

everything on em-overview, every source referring to a2... and tomo53 are completely irr

[2021-09-29 12:13] K-Meech commented on #470
I split this off into another issue here: https://github.com/mobie/mobie-viewer-fiji/issues/471

[2021-09-29 13:13] #465 closed

[2021-09-29 13:36] K-Meech opened #473 "Saving a view with the same source in multiple views"
Say, we have 2 views that each display the same source, but with a different affine transformation. If these views are not exclusive, they can both be added into the viewer and displayed with no problems.
But, when we want to save a view, this does create issues... Both of these affine transforms will then be saved to the same view, affecting the same source. This will create a combined transform

[2021-09-29 14:00] martinschorb opened #474 "Performance issues when many sources are displayed"
Hi,

it feels like MoBIE is getting slower and slower the more sources were shown inside its BDV window.
Could it be that it still keeps metadata information from sources in memory even if they are removed from the list of active items?

Relates to:
https://github.com/mobie/mobie-viewer-fiji/issues/471

also there: "old" and discarded sources are still present inside the viewer.

[2021-09-29 14:07] martinschorb opened #475 "option to remove all sources"
Hi,

I am missing a way to clean the list of active items.
- I can load an exclusive view with a single source and then remove that one. But there is no button to clean all.
- Another option is to close MoBIE and then load the project again. This has also the advantage of clearing memory (see https://github.com/mobie/mobie-viewer-fiji/issues/474)

[2021-09-29 14:10] K-Meech commented on #471
Ok - I know what the issue is for this one. The current SourceTransformers get stored in the ```ViewerManager``` but never removed. I can make a fix for this soon.

[2021-09-29 14:11] K-Meech commented on #474
Linking this issue here too, in case it's related: https://github.com/mobie/mobie-viewer-fiji/issues/329

[2021-09-29 14:16] martinschorb commented on #460
DONE

https://github.com/mobie/clem-example-project/commit/79da3f8cb264b4758b9599da9b70e2d36118ff60

[2021-09-29 14:17] martinschorb commented on #460
Enjoy the `area details` views...

[2021-09-30 10:59] tischi opened #476 "LAF "bug""
@K-Meech I reali`ed that by accident calling the `setMoBIELAF` twice in a row would lead to undesired behaviour. Do you have any idea how to prevent this?

[2021-09-30 11:05] K-Meech commented on #476
You could just add a line that checks if the laf is already the mobie one - and if it is, it doesn't change the 'before' laf.

[2021-09-30 13:42] tischi commented on #476
I tried. I hope the fix is correct.

[2021-10-01 07:22] K-Meech commented on #476
Looks good to me!

[2021-10-01 07:49] K-Meech commented on #470
This issue is fixed on the current develop branch. Newly loaded views should replace old ones.

[2021-10-01 07:49] #470 closed

[2021-10-01 08:00] K-Meech commented on #473
This is also an issue because ```sourceTransformers``` will remain in the ViewerManager as long as at least one of the sources they apply to remains. So if you add one view with a source + affine transform, then another with the same source + affine transform. Then removing one of those will not remove either affine sourceTransformer - so again they get combined and give a combined affine that doe

[2021-10-04 06:12] martinschorb commented on #473
If the transform contains a proper `sourceNamesAfterTransform` statement and the respective `imageDisplay` (or additional transforms) entries  (or additional transforms) refer to these derived sources, there should not be a problem.

Isn't this how multiple views from the same source should anyway be set up?

[2021-10-04 07:19] K-Meech commented on #473
You're right, that if they have ```sourceNamesAfterTransform``` this shouldn't be an issue. But this is not currently required in the spec, it's optional.

[2021-10-04 08:48] KateMoreva commented on #466
This relates to the problem https://github.com/eclipse/jetty.project/issues/2939.
Upgrading the Java version solves this problem.

We can think about upgrading in pom and also in the build scripts.

[2021-10-04 09:26] constantinpape commented on #473
I don't quite understand the problem you describe here, @K-Meech. Can you try to reformulate it? Also, will this be fixed if #471 gets fixed?

Indeed, this is currently optional. I would also rather keep it that way, otherwise the spec for not so complex views that just apply a single transform per source get pretty complex.

[2021-10-05 08:18] martinschorb opened #478 "grid from many sources blows MoBIE up"
Hi,

I started implementing the gallery views for our centrioles:

the view `crop_test1` in branch `grid-test2`contains:
- 235 crops
- from 63 sources (several GB each)
- they should be displayed next to each other

I get:
[code]
Is the downsampling not enough to load all the needed chunks?
How can we get around this?

If I load the untransformed sources into a full grid (`B-ALL_tomos`), I do not

[2021-10-05 08:22] martinschorb opened #479 "grid table order is wrong"
Hi,

the order of the entries in the grid table is in alphabetical instead of numerical order:

`0, 1, 10, 100, 101, 102, 103, 11, 12, 13, ...`

[2021-10-05 08:33] martinschorb commented on #478
and it takes forever to load the grid and I am now getting these:

[code]

Is there a way to find out which exact source throws these errors? Then I could check the respective n5 for the tomogram.

[2021-10-05 08:43] tischi commented on #479
Could you point me to an example such that I could test this?

[2021-10-05 08:47] tischi commented on #478
@KateMoreva Can we modify the code that throws above errors to include the name of the image source?

[2021-10-05 08:51] martinschorb commented on #479
I guess any table with > 10 entries would have that.

I noticed with the view `crop_test1` in branch `grid-test2` of the centriole dataset.

[2021-10-05 08:53] tischi commented on #479
I guess with wrong ordering you mean that the order is wrong when you sort according to this column by pressing on the column header in the UI?!

This would be strange, because I would hope that this column is read as numeric and not as strings.

Normally the sorting for numeric columns works...

[2021-10-05 09:26] martinschorb commented on #479
OK weird. It seems to only happen with that particular grid view. Maybe it has something to do with the function that creates the views...

[2021-10-05 09:34] KateMoreva commented on #478
Yes, I'll modify it.

[2021-10-05 09:45] tischi commented on #479
I think my code tries to determine whether a table column is numeric by `Double.parseDouble( cellInFristRow )`. Thus, if the first row of that specific column in that grid view happens to contain a string that cannot be parsed as a number, that would explain it...

[2021-10-05 09:45] tischi commented on #479
...or does that happen for _all_ grid views?

[2021-10-05 11:33] tischi commented on #478
@martinschorb I am not sure, but it could be that the data is corrupt. Maybe you could also ask Josep from IT whether he has an idea. They are currently migrating the S3 storage to newer hardware, maybe that could cause hickups? You would have to tell him which bucket you are accessing.

[2021-10-05 11:36] constantinpape commented on #478
@tischi related to the memory issue:
it looks like the volume is loaded at full scale (request for `setup0/timepoint0/s0`). This might explain bad performance and memory issue....

[2021-10-05 11:44] K-Meech commented on #473
Yes - @constantinpape, this is more of a detail of how ```sourceTransformers``` are stored, and should be fixed with https://github.com/mobie/mobie-viewer-fiji/issues/471.  I just wanted to make a note so I remember!

The bigger issue is what to do if someone tries to save a View when you have the same source being displayed multiple times with different transforms (and no ```sourceNamesAfterTrans

[2021-10-05 11:55] constantinpape commented on #473
Ok, thanks for the clarification.

Another option would be to auto-generate a `sourceNamesAfterTransform` in this case. But if that's to complicated for now throwing a warning and not saving the view is also fine.

[2021-10-05 11:58] K-Meech commented on #473
That's true! I'll see how hard it is to implement :)

[2021-10-05 12:21] martinschorb commented on #478
When I try to load the full grid of tomograms on a VM (gave it 3 hours to fetch the data), still nothing happens and also there are no errors thrown. With some eye squinting you can see individual pixels when opening a single tomogram from the table.

[2021-10-05 12:22] martinschorb commented on #478
The sources are shown in the BDV sources list, but nothing is shown.

[2021-10-05 12:24] martinschorb commented on #478
Even if I switch BDV to "single" source mode and focus on an individual tile, nothing is shown (groups don't help either).

[2021-10-05 12:28] martinschorb commented on #478
Oh wow, when I click the "focus" button in MoBIE, it shows one of the tomograms (#30). So the data is in BDV!
All other tomograms though are invisble or completely misplaced...

[2021-10-05 12:28] martinschorb commented on #478
Also, the color overlay of the grid is not shown.

[2021-10-05 12:40] martinschorb commented on #478
Since also the coloured grid is only shown in that one position, could it be that the location of the tiles inside the grid is off?

[2021-10-05 12:42] martinschorb commented on #478
The one source that is shown successfully is the very first one in the BDV list.

[2021-10-05 12:48] martinschorb commented on #478
The tiles are in fact totally displaced!

[2021-10-05 12:48] martinschorb commented on #478
https://user-images.githubusercontent.com/35071867/136025484-06066b07-25b2-4537-adcb-81462d35fc37.mp4

[2021-10-05 12:55] tischi commented on #478
We had this working for two cropped source, didn't we?

Could you make view with with, e.g., only three cropped sources?
That would be easier to debug, especially when working from home with slow internet.

[2021-10-05 12:59] martinschorb commented on #478
it works for cropped sources (slowly for many)  - see `centriole-grid` and `crop_test1`views.

These are now many single tomograms. The view is generated with https://github.com/mobie/centrioles-tomo-datasets/blob/270d18903fb498d3beef491d0e0e8c720101c726/add_grid_view.py#L5 .

@constantinpape: it seems that somewhere in the grid view generation the positions are screwed up.

[2021-10-05 13:09] martinschorb commented on #478
Now, when I try with just a couple of tomograms with that function, I run into the cell size error again.

I will try again using the `transformGrid` view type.

[2021-10-05 13:22] martinschorb commented on #478
still, the grid tiles are miles apart...

[2021-10-05 13:23] constantinpape commented on #478
I am not sure what you mean; the grid transform in the spec does not store any positions; this is all done by the viewer internally.

One thing to note, also related to #479, is that for n >= 10 the sources in `sourceAnnotationDisplay` in the spec will be string sorted (i.e. 0, 1, 10, 100, ...).
This would be hard to change (because keys are always string in json) unless we switch `sourceAnnotatio

[2021-10-05 14:59] martinschorb commented on #478
OK, a clean branch does not have these issues...

check  out `grid-test-tomo`...

Unfortunately my laptop cannot load all 1460 sources in parallel:

[code]

I will try on a VM.

[2021-10-05 14:59] tischi commented on #478
@constantinpape

I tried opening the view `grid: B-ALL-tomos` from the branch `grid-test2` from https://github.com/mobie/centrioles-tomo-datasets

And for me this works (within a few seconds even from home):

<img width="484" alt="image" src="https://user-images.githubusercontent.com/2157566/136048505-7b0d4cf4-97a4-4914-a655-7345a9aad933.png">

Also the annotation id sorting is numerical:

<img wi

[2021-10-05 15:02] martinschorb commented on #478
@constantinpape 's suggestion of a clean branch without all the test grid views seems to have done it...

Now, we have to find out how to overcome the memory issue to get a nice figure with all tomograms in a single grid 🔢

[2021-10-05 15:03] tischi commented on #478
Which memory issue?

[2021-10-05 15:06] martinschorb commented on #478
when loading all 1460 tomos in one grid (view: `all-tomos`)

[2021-10-05 15:07] tischi commented on #478
For me there is no such view:

<img width="541" alt="image" src="https://user-images.githubusercontent.com/2157566/136050259-f551acf9-707f-441c-a1ce-01beb679fb59.png">

[2021-10-05 15:09] martinschorb commented on #478
branch: `grid-test-tomo`

[2021-10-05 15:10] martinschorb commented on #478
for me the initial table is sorted alphabetically. Once I request it to be sorted by ID, it's numerical.

![Screenshot 2021-10-05 at 17 09 04](https://user-images.githubusercontent.com/35071867/136050833-11f12b4b-7b03-4f01-9377-d4942caef235.png)

[2021-10-05 15:14] tischi commented on #478
For me, this is not an issue (maybe OS dependent); anyway that's another issue.
Let's only discuss the memory thing here. Sorry, that I mixed things!

[2021-10-05 15:22] tischi commented on #478
I am now trying to open the 1460 tomos. But I am not sure this will work.
This is exactly the use-case that we do not support yet: many sources that are individually big. Maybe we just can't do this right now.
Then you would have to split them up in smaller grids.

I could reproduce the issue. It is not really an out-of-memory but an out-of-threads issue (which in Java confusingly is also called o

[2021-10-05 15:25] martinschorb commented on #478
The VM with 100GB of Java memory just took 64 seconds to load all sources.
Still no grid displayed yet...

[2021-10-05 15:27] martinschorb commented on #478
but in terms of a fancy figure (or poster). Here's a 8K screenshot of one of the strains:

https://oc.embl.de/index.php/s/xvTZgMuUOtyrxlY

[2021-10-05 15:27] tischi commented on #478
As I said the RAM is not the issue, it is the number of threads.

@KateMoreva we need your help 😃

In below code (`SpimDataOpener`  in `mobie-viewer-fiji`) we also need to enable the `sharedQueue` for the case `BdvN5S3`. Could you please look into this?

[code]

[2021-10-05 15:29] constantinpape commented on #479
I can reproduce this. The table is loaded string sorted when loading:
![Screenshot from 2021-10-05 17-05-44](https://user-images.githubusercontent.com/4263537/136053980-e0c4c811-c4ea-4ad6-9cd1-25a1c6f8658f.png)

When sorting by the annotation id column it gets correctly sorted though:
![Screenshot from 2021-10-05 17-06-05](https://user-images.githubusercontent.com/4263537/136053985-b8571c9c-dc21-4

[2021-10-05 15:32] martinschorb commented on #478
woop woop, it's coming....

![Screenshot 2021-10-05 at 17 32 01](https://user-images.githubusercontent.com/35071867/136054828-cb731536-737f-4df3-910b-7a84ec8d19e6.png)

[2021-10-05 15:36] martinschorb commented on #478
1468 tomograms, on average a bit less than 2GB each, so a total of 3TB tomography data inside one BDV window ;-)

[2021-10-05 15:55] martinschorb commented on #478
![all_tomo_grid2](https://user-images.githubusercontent.com/35071867/136058882-92845686-91dd-404d-8581-24ea1ad5a704.png)

[2021-10-05 16:01] tischi commented on #478
OMG! 😲

[2021-10-06 09:56] tischi commented on #478
@KateMoreva @K-Meech
I don't know how to do this and I asked on the forum: https://forum.image.sc/t/sharedqueue-for-spimdata/58484
If you happen to know the answer please also answer on the forum 😃

[2021-10-06 10:11] constantinpape commented on #478
@tischi I talked to @KateMoreva yesterday and she will look into this.

[2021-10-06 10:51] KateMoreva commented on #478
Yes, I am looking into it.

[2021-10-06 13:38] constantinpape opened #480 "Interpretation of nullpointer exception EMBL s3 migration)"
The EMBL IT is migrating the s3 storage and I tried out loading the platybrowser from the new storage (https://github.com/mobie/platybrowser-datasets, branch: `new-s3`).  Loading the project works, but adding the cell segmentation (`sbem-segmentation -> cells -> view`) fails with the exception below.
The same steps work with the old s3 storage (branch: `spec-v2`), so it looks like there is some is

[2021-10-06 17:08] tischi commented on #480
@constantinpape
For me, at home, it does not open at all (also now the raw).
Do I maybe have to be in intranet to test this?

[code]

[2021-10-07 17:54] tischi opened #482 "Make centerAtOrigin=true the default"
@constantinpape @martinschorb
I have a feeling that `centerAtOrigin=true` is the better default for the grid views than `false`.
At least for the CLEM Hela example it produces a more expected behaviour for the tomos-transformed view:
<img width="912" alt="image" src="https://user-images.githubusercontent.com/2157566/136437720-480fb265-473d-49d7-b27b-f1efd153c2da.png">

What do you think?

[2021-10-07 17:59] tischi opened #483 "Serialisation of mergedGridTransformer"
@K-Meech

Is this on purpose?

[code]

I guess it should be:
[code]

?!

[2021-10-07 18:25] tischi opened #485 "MergedGridSource uses SourceTransform of the first source for the mergedSource"
@constantinpape @martinschorb
Another issue is that the `MergedGridSource` uses the `SourceTransform` of simply the first of the sources to be merged as the `SourceTransform` for all the merged sources. Again, I guess this only makes sense when the `SourceTransform` only contains the voxel scaling and nothing else. I can have a look whether I could isolate the voxel scaling from the `SourceTransfo

[2021-10-07 18:27] tischi opened #486 "MergedGridSource centerAtOrigin"
@constantinpape
Do we have `centerAtOrigin` in the spec for the `MergedGridTransform`? I don't think it makes sense here as we always want to put the sources into the center of their grid position. I would thus remove this from the spec (and in the code I will just put it to `true`).

[2021-10-07 19:31] constantinpape commented on #482
Yes, I agree True makes more sense here.

[2021-10-08 06:51] #486 closed

[2021-10-12 13:57] martinschorb opened #491 ""Save view" screws up transformations"
Hi,

I added all single-source views into one BDV and then saved the view.

The transformations are not as expected.

https://github.com/mobie/clem-example-project/commit/587a91715f13cb2b0e2306c0b747d157f27f22f0

[2021-10-13 07:09] #483 closed

[2021-10-19 12:29] vzinche opened #493 "Can't load cell segmentation for platy"
That's Mobie beta, platy data, spec-v2
![Screenshot from 2021-10-19 14-25-17](https://user-images.githubusercontent.com/32451366/137908895-90989b14-1394-4d48-9fcf-98869bdcf1f2.png)

@constantinpape

[2021-10-19 14:59] vzinche commented on #493
At the moment it still does. Does it work for you?

[2021-10-19 15:03] constantinpape commented on #493
Ah, I know why. I will fix it later.

[2021-11-02 16:49] #466 closed

[2021-11-03 08:00] K-Meech opened #497 "Update main MoBIE update site to match MoBIE-beta"
We will be updating the main MoBIE update site to match MoBIE-beta in the next few days. So be aware that some things may stop working with the main MoBIE update site, as the relevant repositories etc are updated!

In the meantime, you can still use MoBIE-beta, and we'll let you know when everything is moved over :)

@constantinpape, @tischi - feel free to tag anyone else I've missed!
@martinschor

[2021-11-03 09:14] tischi commented on #497
@K-Meech in the mobie-io repo the `master` branch is now called `main`. should we, based on the current `develop` branch, also make a new branch `main` here and deprecate the old `master` branch?

[2021-11-03 09:35] constantinpape commented on #497
It's better to just rename the branch from `master` to `main`: https://www.cds.caltech.edu/~mhucka/blog/posts/2020-07-19/renaming-your-master-branch-in-git/

In addition, we will need to update the CI:
https://github.com/mobie/mobie-viewer-fiji/blob/master/.github/workflows/build-main.yml#L6
https://github.com/mobie/mobie-viewer-fiji/blob/master/.github/workflows/build-pr.yml#L6

That's all the ch

[2021-11-03 09:51] tischi commented on #497
Done. I did not yet dare to delete the old master branch (in fact, we don't have to, but it would be nice to avoid confusion). This can be done like this: `git push origin :master`

[2021-11-03 09:52] constantinpape commented on #497
Please delete it as soon as possible, otherwise this will be maximally confusing.

[2021-11-03 10:00] constantinpape opened #498 "Scale bar incorrect"
The scale bar does not show the correct distance any more. (On current MoBIE-beta):
![Screenshot from 2021-11-03 11-00-02](https://user-images.githubusercontent.com/4263537/140040667-a9981d07-bd83-43aa-87b2-4b1e468dc22b.png)

[2021-11-03 10:02] constantinpape opened #499 "Selecting segment in image doesn't work"
Selecting a segment from the image via "Ctrl + Left Click" doesn't work in the current MoBIE-beta:
[code]

[2021-11-03 10:10] constantinpape opened #500 "Selecting table row navigates to wrong location"
Selecting a table row moves to a wrong location outside of the dataset (current MoBIE-beta):

Initial View:
![Screenshot from 2021-11-03 11-05-24](https://user-images.githubusercontent.com/4263537/140041742-3e13fb75-3a92-45fd-a644-246c3b8eafb9.png)

After selecting Row 26:

![Screenshot from 2021-11-03 11-05-43](https://user-images.githubusercontent.com/4263537/140041921-5cabb72e-8127-4921-aab6-07

[2021-11-03 10:34] constantinpape opened #501 "3d viewer does not work"
3d viewer does not work in the current mobie-beta; when pressing `V` the following error appears:
[code]

[2021-11-03 10:34] tischi commented on #498
I am actually not so sure where BDV get's the scaling from...
@KateMoreva could it be that we are not loading the voxel size metadata from the images anymore? did something change there?

[2021-11-03 10:46] K-Meech commented on #498
I tried running with my local version which is from this commit: https://github.com/mobie/mobie-viewer-fiji/commit/a146cc51e9e7b74e4268814df16cf571c3b36c08 and everything works fine (same for the table etc issues @constantinpape reported). So it's probably changes from @KateMoreva 's PR.

[2021-11-03 10:58] tischi commented on #498
Then I think the changes are probably in `mobie-io`, because not much changed here.

[2021-11-03 11:02] tischi commented on #500
this is because the scaling in BDV is wrong, i.e. is related to the other issue.

[2021-11-03 11:19] KateMoreva commented on #498
I'll check it today

[2021-11-03 12:54] constantinpape opened #502 "Color by argbColumn does not work"
In current MoBIE beta coloring via argbColumn does not work properly:

Normal (glasbey) lut:
![Screenshot from 2021-11-03 13-49-31](https://user-images.githubusercontent.com/4263537/140062913-a2c25693-1834-4139-b1e5-ce5ec745c45c.png)

Coloring by "figuresColorScheme" colom using argbColumn mode:
![Screenshot from 2021-11-03 13-51-03](https://user-images.githubusercontent.com/4263537/140063100-ebe9

[2021-11-03 13:40] constantinpape opened #503 "Use "main" as default branch for projects"
I am starting to rename all default branches to "main" to be compatible with the new git and github default branch names.
@tischi once we have fixed the issues and are ready to update the main MoBIE update site we should change the viewer code to reflect this change.

[2021-11-03 14:26] tischi commented on #501
@constantinpape

I cannot reproduce this...for example in the platybrowser the bookmark `Figure 2B: Epithelial cell segmentation` works for me. Does this work for you?

What do you mean by "pressing `V`"?

[2021-11-03 14:33] constantinpape commented on #501
This doesn't work for me and throws the same error as above.
I am on Linux; I will try on another Linux machine in a second to see if this is a general problem or if it's just something on my notebook.

I mean clicking on the `V` checkbox for activating the 3d viewer.

[2021-11-03 14:36] tischi commented on #501
I just found that what I have in IntelliJ is very different from what I am deploying to Fiji. I don't understand why yet, but am working on it...

[2021-11-03 14:40] constantinpape commented on #501
I tried on a Linux VM now and there I see a different error when trying to open `Figure 2B`:
[code]

Ok, sounds like a good idea to fix this in any case.

[2021-11-03 14:52] tischi commented on #498
@KateMoreva it seems working in fact. I don't know what happened to the version that I uploaded to MoBIE-beta. Thus, no need for you to do anything.

[2021-11-03 14:59] tischi opened #504 "Bdv-playground dependencies"
@NicoKiaru

Currently we are having this:

[code]

and

[code]

What would you recommend using?

[2021-11-03 15:40] constantinpape commented on #498
Fixed.

[2021-11-03 15:40] #498 closed

[2021-11-03 15:41] constantinpape commented on #500
Fixed

[2021-11-03 15:41] #500 closed

[2021-11-03 15:42] constantinpape commented on #499
Fixed

[2021-11-03 15:42] #499 closed

[2021-11-03 15:49] constantinpape commented on #501
It works on the linux VM now.
(My laptop still fails, but this looks like an issue with my openGL so we  can ignore that for now.)

[2021-11-03 15:49] #501 closed

[2021-11-03 15:52] #502 closed

[2021-11-03 16:34] tischi opened #506 "voxel sizes wrong"
@KateMoreva @K-Meech @constantinpape
Now that I pulled the latest develop branch the issue with the wrong voxel sizes in BDV is back. @KateMoreva could you please look into it?

For testing:

[code]

The voxel sizes are `px` instead of `micrometer`.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/2157566/140103062-5d0a00cb-fdb0-429a-9fd9-efdb6e56a53c.png">

[2021-11-03 17:40] tischi commented on #506
@KateMoreva

I started looking a little bit and I think it could be in:
`AbstractSequenceDescription` where there is `BasicViewSetup`, which holds the `VoxelDimensions`. I guess you somehow have to populate the `BasicViewSetup` from the `xml` with the `VoxelDimensions`, which are one of the xml tags.

[2021-11-03 19:25] KateMoreva commented on #506
I fixed this issue in mobie-io 1.0.6

[2021-11-04 07:52] NicoKiaru commented on #504
bdv-playground: 0.3.13 (there's probably not much change into 0.3.13
imglib2 : 5.12.0 is available ??? Maven shows 5.10.0
imglib2 cache : ok
bdv-core : ok
bdv-vistools : ok

[2021-11-04 08:23] tischi commented on #504
yes, I think that's the one shipped with Fiji...

[2021-11-04 08:38] tischi commented on #506
Thanks a lot!!

[2021-11-04 08:38] #506 closed

[2021-11-04 09:04] tischi opened #508 "Grid view loading progress"
When loading a grid view with many sources it would be great to have some sort of progress bar...

[2021-11-04 09:18] NicoKiaru commented on #504
Right, I was confused beacause scijava maven shows it, but it's the 'most popular', not the most recent.

[2021-11-04 10:06] #504 closed

[2021-11-04 20:23] constantinpape commented on #503
Never mind, this works already.

[2021-11-04 20:23] #503 closed

[2021-11-04 20:25] constantinpape opened #510 "Loading a transformedGrid does not work on current MoBIE beta"
Loading a dataset that contains a `transformedGrid` fails with:
[code]

To reproduce: open https://github.com/mobie/zebrafish-lm-project. Note that I merged the new spec onto the main branch already and made sure that the json is up to date with the latest spec.

[2021-11-04 20:30] constantinpape opened #511 "Loading a mergedGrid does not work in current MoBIE-beta"
Loading a dataset that contains a mergedGrid fails with:
[code]

To reproduce: open the project at /g/kreshuk/pape/Work/mobie/covid-if-project (data is not uploaded to s3 yet)

[2021-11-05 08:41] tischi commented on #510
Thanks! I will work on this this today!

This worked for me in IntelliJ yesterday:

[code]

Are we using the same syntax there in the JSON?

[2021-11-05 08:42] constantinpape commented on #510
No, I think this is not updated to the latest spec syntax yet.

[2021-11-05 09:15] tischi commented on #510
OK, it works for me locally. Thus the issue probably simply is that I pushed the wrong branch to MoBIE-beta. I will upload later and let you know.

[2021-11-05 11:15] KateMoreva commented on #511
It is because at some point some sources started to contain `grid` instead of `mergedGrid` in metadata.
The current version is using a `grid.`

[2021-11-05 11:19] constantinpape commented on #511
@tischi and me decided a while ago that the two grids should be called `mergedGrid` and `transformedGrid`. Maybe this has not been updated properly here yet?

[2021-11-05 11:21] KateMoreva commented on #511
I'll fix it in the code now, but some sources will not work.

[2021-11-05 11:23] constantinpape commented on #511
@KateMoreva please wait before you change too much; maybe @tischi is working on this already.

[2021-11-05 11:29] KateMoreva commented on #511
@constantinpape
Done.
Please try it with the current `develop.`

[2021-11-05 11:59] constantinpape commented on #511
Thanks. I will wait till this is deployed to MoBIE-beta though in order to properly test if this works in Fiji.

[2021-11-05 14:30] martinschorb commented on #510
Hi,

I guess this is the same problem...?

- newest Beta
- open `centrioles-tomo-datasets`, `main` branch
- open the first `crop` source

[code]

[2021-11-05 14:34] martinschorb commented on #510
or do I need to update that repo to the new spec as well first?

[2021-11-05 14:37] constantinpape commented on #510
@martinschorb yes, that is probably a related problem; and we will need to update the repository to the new spec. Let's wait till @tischi has updated MoBIE-beta first.

[2021-11-05 16:22] tischi commented on #510
@martinschorb @constantinpape I updated MoBIE-beta. Please check which of the issues still persist.

@K-Meech I am currently populating MoBIE-beta with this https://github.com/mobie/mobie-viewer-fiji/pull/507
It would be great if you could check it an merge it into develop...

[2021-11-05 16:30] constantinpape commented on #510
This works now and the grid features also seem to all work as expected

[2021-11-05 16:31] constantinpape commented on #510
@martinschorb I will create a separae issue about updating the centrioles tomo project.

[2021-11-05 16:31] #510 closed

[2021-11-05 16:36] constantinpape commented on #511
@tischi this issue is still there on MoBIE-beta

[2021-11-05 16:40] martinschorb opened #512 "Crop sources fail to open incurrent beta"
Hi,

This is still happening:
-  newest Beta
-  open centrioles-tomo-datasets, main branch
-  open the first crop source

[code]

[2021-11-05 16:53] tischi commented on #512
@martinschorb could you please try again? and check that you have bigdataviewer-core-10.2.1?

[2021-11-05 17:04] tischi commented on #511
and now?

[2021-11-05 17:14] constantinpape commented on #511
Now there's a different error:
[code]

[2021-11-05 17:15] martinschorb commented on #512
now it got shipped  with the most recent update...

and it works!
I just have the feeling that the performance is rather poor at the moment. But it feels a bit like the S3 is slow. Takes forever to load a source...

[2021-11-05 17:15] #512 closed

[2021-11-05 17:43] tischi commented on #512
Not sure, I also changed some of the multi-threading to make it more stable.
We could still tweak some stuff there...

[2021-11-05 17:45] tischi commented on #511
At some point it tries to load but then cannot find this source: `plate_cell_segmentation`
Does that help to understand what's going on?
Maybe some issue with sources that change their name?

[2021-11-05 17:47] constantinpape commented on #511
Ok, this might be an issue in the json then. I will have a look at this on Sunday or Monday.

[2021-11-05 17:51] tischi commented on #511
OK, Thanks!
I had a look at the code an in principle it should also work for transformed sources with name changes.
Maybe the JSON is referring to a source that does not exist...

[2021-11-05 17:52] constantinpape commented on #511
I will check and let you know.

[2021-11-05 20:17] ctrueden commented on #303
For setting `scijava.app.directory` outside your `pom.xml`? My advice is to set it in your `~/.m2/settings.xml`. This is an IDE-independent place. It may be that certain IDEs do not respect this file though; I'm not sure. Certainly that works for the `mvn` CLI tool.

As for the "`github-actionify.sh` doesn't work in Git Bash on Windows" problem... it does look a lot like scijava/scijava-scripts#15

[2021-11-06 12:18] NicoKiaru commented on #303
One note, for github actionify on windows, we had to install xmllint "manually". It's in some documentation in here:
https://c4science.ch/w/bioimaging_and_optics_platform_biop/image-processing/version-control/

In particular:

[code]

[2021-11-07 02:36] ctrueden commented on #303
@NicoKiaru I replaced the usages of xmllint with grep: scijava/scijava-scripts@352a9e95c5495ed3fa70526cdedab8ea9945821a. Please give it a try and let me know if it works better for you on Windows.

[2021-11-07 16:04] constantinpape commented on #511
@tischi I have checked this out now and I am pretty sure that the json is correct, but I think I know what's going wrong in the viewer:
- the source `plate_cell_segmentation` is added through `mergedGridSourceName` here: https://gist.github.com/constantinpape/814327089f1a75ef31d366295138dd82#file-view-json-L477 (I copied the view to a gist because the dataset.json is too large to be rendered by gi

[2021-11-08 10:02] tischi commented on #511
I am confused....

It tries to find the `plate_cell_segmentation` in the `sources` field of this data structure:

[code]

There it cannot find it, because the `plate_cell_segmentation` is only created on the fly in one of the views.

Note that the `public Map< String, SourceSupplier> sources` is populated directly from the dataset.json. This is different from the map `private Map< String, SourceAn

[2021-11-08 10:15] constantinpape commented on #511
@tischi in this case, `plate_cell_segmentation` merges some other segmentations into one source. The other segmentations have tables, which should be merged into a single one. Note that the same happens when multiple segmentations are listed in a `transformedGrid`, e.g. [here](https://github.com/mobie/zebrafish-lm-project/blob/main/data/actin/dataset.json#L2331-L2342). This case works as expected